<%
# เพิ่มรายชื่อหน่วยงาน
# ตัดหัวข้อหลัก , รองออก
%>


<%= form_for('plan_report', url: "/#{gen_form[0]}/plan_reports#{gen_form[1]}" , method: gen_form[2]) do |f| %>


<div class="row">                                                
    <div class="col-12 mt-5">
        <label for="formGroupExampleInput" class="form-label"> 
            <h5>เลือกปีงบประมาณ</h5>
        </label>
        
        <%= select_tag("plan_report[master_plan_id]", options_for_select(@data_master_plans['data'].map { |item| ["#{item['period_year']&.to_date&.year + 543 rescue nil}", item['id']] }), {class: 'form-control', required: "required"}) %> 
    </div>                                    
    
    <div class="col-sm-12 col-md-12 py-4">
    <label class="form-label">
        <h6>ประจำเดือน<span class="text-danger">*</span></h6>
    </label>
            <%= select_tag "plan_report[period_report_title]", options_for_select(
                [["มกราคม", "มกราคม"], ["กุมภาพันธ์", "กุมภาพันธ์"], ["มีคาคม", "มีคาคม"], ["เมษายน", "เมษายน"], ["พฤษภาคม", "พฤษภาคม"], ["มิถุนายน", "มิถุนายน"], ["กรกฎาคม", "กรกฎาคม"], ["สิงหาคม", "สิงหาคม"], ["กันยายน", "กันยายน"], ["ตุลาคม", "ตุลาคม"], ["พฤศจิกายน", "พฤศจิกายน"], ["ธันวาคม", "ธันวาคม"]], (@plan_report['data']['period_report_title'] rescue nil)), class: 'selectize-plan form-control' %>     

        </td>
    </div>

    <div class="col-12 mt-5 mb-5">
        <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
            <%= f.hidden_field :biz_id, value: $user[session.id.to_s][@controller_title]['biz_id'] %>
            <%= f.submit t(:saves), class: "btn btn-info" %>  
        </div>
    </div>                 
</div>


<% end %>  

