<!--begin::Kt_content-->
<div class="container-fluid">
      <!--begin::Header-->
        <div class="row">
            <div class="col"> 
                  <div class="float-start">
                        <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:edit) %><%= t(:plan_reports) %></h2> 
                  </div>
            <div class="col">
              <div class="float-end me-5">  
              <%= link_to km_plan_reports_path(@plan_report), class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i></i> <%= t(:back) %> </i> <% end %>
              </div> 
            </div>
       </div>
      <!--end:Header-->
      <!--begin:Content-->
       <div class="row">
            <div class="col">
                   <div class="card-show">
                   <%= form_for('plan_report', url: "/km/plan_reports/#{@datas['data']['id']}" , method: :patch) do |f| %>
                        <div class="row">                                                                      
                              <div class="col-11 mt-5 ms-5">
                                    <label for="formGroupExampleInput" class="form-label"> <h5> <%= t(:master_plan) %><span class="text-danger">*</span> </h5></label>
                                    <%= select_tag("plan_report[plan_id]", options_for_select(@data_plans['data'].map { |item| [item['title'], item['id']] }), {class: 'form-control', required: "required"}) %> 
  
                              </div>
                              <div class="col-11 mt-5 ms-5 mb-5">
                                    <label for="formGroupExampleInput2" class="form-label"> <h5> <%= t(:startdate) %><span class="text-danger">*</span> </h5></label>
                                    <%= f.text_field :startdate, class: "form-control", placeholder: t(:startdate), value: @datas['data']['startdate'] %>  
                              </div> 
                              <div class="col-11 mt-5 ms-5 mb-5">
                                    <label for="formGroupExampleInput2" class="form-label"> <h5> <%= t(:enddate) %><span class="text-danger">*</span> </h5></label>
                                    <%= f.text_field :enddate, class: "form-control", placeholder: t(:enddate), value: @datas['data']['enddate'] %>
                              </div> 
                              <div class="col-11 mt-5 ms-5 mb-5">
                                    <label for="formGroupExampleInput2" class="form-label"> <h5> <%= t(:plan_report_title1) %><span class="text-danger">*</span> </h5></label>
                                    <%= f.text_field :title, class: "form-control", placeholder: t(:plan_report_title1), value: @datas['data']['title1'] %>
                              </div> 
                              <div class="col-11 mt-5 ms-5 mb-5">
                                    <label for="formGroupExampleInput2" class="form-label"> <h5> <%= t(:plan_report_title2) %> <span class="text-danger">*</span> </h5></label>
                                    <%= f.text_field :title, class: "form-control", placeholder: t(:plan_report_title2), value: @datas['data']['title2'] %>
                              </div>

                              <div class="col-11 mt-5 ms-5 mb-5">
                                    <div class="card-show">
                                          <div class="table-responsive py-5">
                                                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                                                      <thead class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">

                                                                        <tr class="fw-bolder text-muted">
                                                                        <th class="w-25px"><%= t(:id) %></th>
                                                                        <th class="min-w-200px"><%= t(:activity) %></th>
                                                                        <th class="min-w-150px"><%= t(:list_kpis) %>/<%= t(:list_target_kpis)%></th>
                                                                        <th class="min-w-150px"><%= t(:task_resoults) %></th>
                                                                        <th class="min-w-150px"><%= t(:task_notes) %></th>
                                                                        <th></th>
                                                                        </tr>
                                                       </thead>
                                                            <tbody>
                                                                  <% @datas['data']['category']['lists'].each_with_index do |sub_item,idx|  %>
                                                                                          <tr id="items<%= idx %>">

                                                                                                      <td><%= idx +1 %></td>
                                                                                                      
                                                                                                      <td>
                                                                                                            <p><b><%= sub_item['activity']['title'] %></b></p>
                                                                                                            <% sub_item['list_activities'].each do |list_activity| %> <p> <%= list_activity['title']%> </p> <% end %>
                                                                                                            
                                                                                                      </td>                                                                                    
                                                                                                      <td><% sub_item['list_kpis'].each do |list_kpi| %> <p> <%= list_kpi['title']%> </p> <% end %></td>
                                                                                                      <td></td>
                                                                                                      <td>
                                                                                                      </td>
                                                                                                      <td>                                                                                              
                                                                                                      <% task_size = 0 %>
                                                                                                      <% @datas['data']['tasks'].each do |task| %>
                                                                                                            <% task_size = task['plan_report_id'].size.to_i %>
                                                                                                            <% if( task['list_id'] == sub_item['id']) %>
                                                                                                            <%= link_to "", km_task_path(task['id'])+"/edit", class: 'fa-solid fa-pen-to-square' %></a>
                                                                                                            <% end %>
                                                                                                      <% end %>
                                                                                                      <% if (task_size == 0) %>
                                                                                                      <input type="text" class="form-control" placeholder="id" name="plan_report[tasks_attributes][<%= idx %>][category_id]" value="<%= sub_item['category_id'] %>">
                                                                                                      <input type="text" class="form-control" placeholder="id" name="plan_report[tasks_attributes][<%= idx %>][list_id]" value="<%= sub_item['id'] %>">    
                                                                                                      <input type="text" class="form-control" placeholder="id" name="plan_report[tasks_attributes][<%= idx %>][biz_id]" value="<%= sub_item['biz_id'] %>"> 
                                                                                                      <input type="text" class="form-control" placeholder="id" name="plan_report[tasks_attributes][<%= idx %>][user_id]" value="<%= sub_item['user_id'] %>"> 
                                                                                                      <input type="hidden" class="check_destroy" placeholder="" name="plan_report[tasks_attributes][<%= idx %>][_destroy]" value=false>                                                                                                    
                                                                                                      <% else %>
                                                                                                      <% end %>
                                                                                                </td>
                                                                                          </tr>
                                                                  <% end %>
                                                            </tbody>
                                                </table>
                                          </div> 
                                    </div> 
                              </div> 
                              <!--end::Separator Separator Dashed -->
                                     

                
                                    
                              

                              <!--end::content-details-->
                              <div class="col-11 mt-5 ms-5 mb-5">
                                    <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none"><%= f.submit t(:saves), class: "btn btn-info" %></div>
                              </div> 
                        </div>
                        </div>


                   <% end %>
                   </div>
            </div>
      </div>
      <!--end:Content-->
</div>
<!--end::Kt_content-->
