<%
#init
if !params['original_url'].blank?
    back_url = params['original_url'] 
else
    back_url = "/#{@controller_title}/pages/dashboards"
end
%>

<div class="container-fluid">
    <div class="d-flex justify-content-end">
        <%= link_to "#{back_url}", class: 'btn btn-light text-end' do %>
            <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
        <% end %>
        
        <%= render '/share/block_btn_export', item: @datas, title: 'plan' %>



    </div>

    
    <h1 class="text-center my-6" style="font-size: 3rem;"><%= t(:fiscal_year) %> <%= @master_plans['data']['period_year']&.to_date&.year + 543 rescue nil %></h1>

    <% @master_plans['data']['plans'].each do |plan| %>
        <%= render "/#{@controller_title}/plans/view_all_tasks", plan: plan %>
        <hr style="border-bottom: 3px solid #999999;;">
    <% end %>

</div>

