1.การจัดวางโคดในหน้า _form มีดังนี้

# พื่้นที่ กำหนดตัวแปล
<%
#init
if action_name == 'edit' || action_name == 'update'
  @title = @datas['data']['title']
  @institution_id = @datas['data']['institution_id']
  @responsible_id = @datas['data']['responsible_id']
end
%>


# พื้นที่วาง ro col input

<!-- start row -->
<div class="row">
    <div class="col-sm-12 col-md-6">
        INPUT 1
    </div>
    <div class="col-sm-12 col-md-6">
        INPUT 2
    </div>

    <div class="col-sm-12 col-md-6">
        INPUT 3
    </div>
    <div class="col-sm-12 col-md-6">
        INPUT 4
    </div>
</div>
<!-- end row -->




--------------------------------------



2.การจัด row col ให้แบ่งตามนี้


<!-- start row -->
<div class="row">
    <div class="col-sm-12 col-md-6">
        INPUT 1
    </div>
    <div class="col-sm-12 col-md-6">
        INPUT 2
    </div>

    <div class="col-sm-12 col-md-6">
        INPUT 3
    </div>
    <div class="col-sm-12 col-md-6">
        INPUT 4
    </div>
</div>
<!-- end row -->




--------------------------------------



3.รูปแบบของ INPUT


3.1 Text ทั่วไป

<label class="form-label">
    <h5><%= t(:title) %><span class="text-danger">*</span></h5>
</label>
<%= f.text_field :title, class: "form-control", placeholder: t(:title), value: @title %>   




....




3.2 Select 


<label class="form-label">
    <h5><%= t(:issue) %><span class="text-danger">*</span></h5>
</label>
<%= select_tag("category[issue_id]", options_for_select(@data_issues['data'].map { |item| [item['title'], item['id']] }, @issue_id), {class: 'selectize-issue form-control'}) %> 

สำหรับ Select ต้องแก้ตรงไหนบ้าง 
- category[issue_id] ให้ตรงตามชืื่อ column

- @data_issues['data'] ซึ่งอันนี้ต้องไปเพิ่ม ที่ xxxs_controller.rb ที่ def set_select     
url = URI("#{$server[@controller_title]}/api/v1/issues")
@data_issues = request_api(url,'get',nil)

- @issue_id

....


