<div class="container-fluid">
      <!--begin::Header-->
        <div class="row">
            <div class="col"> 
                  <div class="float-start">
                        <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:edit) %><%= t(:institution) %></h2> 
                  </div>
            <div class="col">
              <div class="float-end">  
                    <%= link_to "/#{@controller_title}/institutions/", class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i></i> <%= t(:back) %> </i> <% end %>
              </div> 
            </div>
       </div>
      <!--end:Header-->
      <!--begin:Content-->
       <div class="row">
            <div class="col">
                   <div class="card-show">
                        <%= form_for('institution', url: "/#{@controller_title}/institutions/#{@datas['data']['id']}" , method: :patch) do |f| %>
                            <div class="row">  

                                          <div class="col-12 mt-5">
                                                <label for="formGroupExampleInput" class="form-label"> 
                                                      <h5><%= t(:order_sort) %> <span class="text-danger">*</span> </h5>
                                                </label>
                                                <%= f.number_field :order_sort, class: 'form-control', required: true, value: (@datas['data']['order_sort'] rescue nil) %>       
                                          </div>  

                                          <div class="col-12 mt-5">
                                                <label for="formGroupExampleInput" class="form-label"> 
                                                      <h5><%= t(:institution) %> <span class="text-danger">*</span> </h5>
                                                </label>
                                                <%= f.text_field :title, class: 'form-control', required: true, value: (@datas['data']['title'] rescue nil) %>       
                                          </div>  

                                          <div class="col-6 mt-5">
                                                <label for="formGroupExampleInput" class="form-label"> 
                                                      <h5><%= t(:title_short_th) %> <span class="text-danger"></span> </h5>
                                                </label>
                                                <%= f.text_field :title_short, class: 'form-control', value: (@datas['data']['title_short'] rescue nil) %>         
                                          </div>  

                                  
                                                
                                          <div class="col-12 mt-5 ms-5 mb-5">
                                                <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
                                                      <%= f.submit t('saves'), class: "btn btn-info" %>            
                                                </div>
                                          </div>                 
                                    </div>


                   <% end %>
                   </div>
            </div>
      </div>
      <!--end:Content-->
</div>