
<div class="row">
    <div class="col">

        <div class="d-flex justify-content-between">
            <h2 class="">หมวด ทั้งหมด</h2>
            <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>
            <%= render partial: '/share/block_btn_action_new', locals:{ master_plan_id: @datas['data']['id'], model_name: 'plans', id: nil, params: "master_plan_id=#{@datas['data']['id']}"} %>
            <% end %>
            <div class="d-flex">
                <div class="d-flex align-items-center justify-content-between fs-4 badge badge-light-success p-3 mx-2">
                    <i class="fas fa-award px-2"></i> <span class="">คะแนนรวม : <b><%= @datas['data']['fr_score_sum'].round(2) rescue nil %></b></span>
                </div>
                <!--
                <div class="d-flex align-items-center justify-content-between fs-4 badge badge-light-info p-3 mx-2">
                    <i class="fas fa-trophy px-2"></i> <span class="">ระดับเกณฑ์ : <b>...</b></span>
                </div>
            -->
            </div>
        </div>
                                        
     </div>
</div>


<table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline collapsed" id="datatable_1" role="grid" aria-describedby="" style="width: 894px;">
    <thead>
        <tr role="row">
            <th class="sorting text-center" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 20px;" aria-label="Company Email: activate to sort column ascending">ลำดับ</th>

            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 156px;" aria-label="Company Email: activate to sort column ascending">ชื่อหมวด</th>

            <th class="sorting_asc" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 177px;" aria-label="Agent: activate to sort column descending" aria-sort="ascending">คะแนนประเมิน</th>
            <th><%= "#{t(:status)}#{t(:latest)}" %></th>
            <th class="sorting_asc" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 177px;" aria-label="Agent: activate to sort column descending" aria-sort="ascending">ผู้ที่เกี่ยวข้อง</th>
            

            <% if controller_name == 'plan_reports' %>
            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 58px;" aria-label="Status: activate to sort column ascending">สำเร็จ</th>

            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 58px;" aria-label="Status: activate to sort column ascending">อยู่ระหว่างดำเนินการ</th>

            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 58px;" aria-label="Status: activate to sort column ascending">ไม่สำเร็จ</th>
            <% end %>
            
            <th class="sorting_disabled w-250px" rowspan="1" colspan="1" style="width: 0px; display: none;" aria-label="Actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @datas['data']['plans'].sort_by{|i| i['order_sort'].to_i}.sort_by{|i| i['order_sort'].to_i}.each_with_index do |plan,idx| %>
        <tr role="row" class="odd">
            <td class="text-center"><%= plan['order_sort'] rescue nil %></td>
            <td class=""><%= plan['title'] rescue nil %></td>
            <td class="">
                <!--
                <span class="badge badge-light-info fs-5 px-5 mx-5"><%= plan['fr_total_score_sum'] rescue nil %></span>
            -->
               <% if plan['type_name'] != 'op' %> 
                <span class="badge badge-light-success fs-5 px-5 mx-5"><%= plan['fr_score_sum'] rescue nil %></span>
                <% end %>
            </td>

            <td>
                <%= render '/share/block_plan_status', model_name: 'plan', plan: plan %>
            </td>

            <td style="white-space:nowrap; border: 1px solid none; max-width: 350px; overflow-y:hidden;" class="white-space: normal; min-width: 350px;">


                <div class="d-flex">
                <%
                url = URI("#{$server[@controller_title]}/api/v1/plans/#{plan['id']}/plan_users?order=order_sort&sort=asc")
                plan_users = request_api(url,'get',nil)
                %>
                <% if plan_users && !plan_users['data'].blank? %>
                    <% plan_users['data'].each do |plan_user| %>
                    <div class="rounded border p-3 m-1">
                        <div class="d-flex align-items-center">
                            <div class="ml-3">
                                <span class="text-dark-75 font-weight-bold line-height-sm d-block pb-1"><%= plan_user["user"]['firstname'] if !plan_user["user"].blank? %> <%= plan_user["user"]['lastname'] if !plan_user["user"].blank? %></span>
                                <span class="badge badge-light-warning"><%= plan_user["user_role"]["title"] if !plan_user["user_role"].blank? %></span>
                            </div>
                        </div>
                    </div>
                    <% end %>
                <% end %>
                </div>


            </td>

            

            <% if controller_name == 'plan_reports' %>
            <td>
                <%
                url = URI("#{$server[@controller_title]}/api/v1/plans/#{plan['id']}/group_by_status_list_activity?status=completed-on-schedule")
                statuses = request_api(url,'get',nil)
                %>
                <% if statuses['data'] %>
                <% statuses['data'].each do |item| %>
                <span class="badge badge-circle badge-success m-1"><%= item[1].size %></span>
                <% end %>
                <% end %>
            </td>

            <td>
                <%
                url = URI("#{$server[@controller_title]}/api/v1/plans/#{plan['id']}/group_by_status_list_activity?status=in-process")
                statuses = request_api(url,'get',nil)
                %>
                <% if statuses['data'] %>
                <% statuses['data'].each do |item| %>
                <span class="badge badge-circle badge-warning m-1"><%= item[1].size %></span>
                <% end %>
                <% end %>
            </td>

            <td>
                <%
                url = URI("#{$server[@controller_title]}/api/v1/plans/#{plan['id']}/group_by_status_list_activity?status=not-started")
                statuses = request_api(url,'get',nil)
                %>
                <% if statuses['data'] %>
                <% statuses['data'].each do |item| %>
                <span class="badge badge-circle badge-dark m-1"><%= item[1].size %></span>
                <% end %>
                <% end %>
            </td>
            <% end %>



        
            <!-- add permission for user -->
            <td>
                <%= render partial: '/share/block_btn_action_list_plan_pmqa', locals:{ model_name: 'plans', id: plan['id'], params: params} %>
            </td>
            <!-- end permission for user -->

            
        </tr>
        <% end %>
    </tbody>
</table>





<% content_for :head do %>
<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<% end %>

<% content_for :footer do %>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $('#datatable_1').DataTable({
        responsive: true,
    });
});
</script>
<% end %>
