<!--begin::Kt_conten-->
<div class="container-fluid">
	<!--begin::Header-->

	<div class="row">
		<div class="col mb-5">
		      <div class="float-start">
		            <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:indicator_category) %></h2>
		      </div>

            <div class="col mb-5">
                  <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">

                        <!--button:header-->
                        <%= link_to "/#{@controller_title}/pages/master_data", class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>  <% end %>

                  </div>
		</div>
		
	</div>
<!--end:Header-->

<!--begin:Content-->

<div class="card-show mb-5 mb-xl-8">
<!--begin::Header-->
<div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bolder fs-3 mb-1"><%= t(:listing_name) %><%= t(:indicator_category) %></span>
      </h3>

<!--end::Header-->
<!--begin::Body-->
<div class="card-body pt-3">
      <!--begin::Table container-->
      <div class="table-responsive">
            <!--begin::Table-->
            <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                  <!--begin::Table head-->
                  <thead>
                        <tr class="border-0">
                              <th class="p-0 min-w-50px"><%= t(:order_sort) %> </th>
                              <th class="p-0 min-w-250px"><%= t(:indicator_category) %></th>
                              <th class="p-0 min-w-150px"></th>
                              <th class="p-0 min-w-100px text-end"></th>
                        </tr>
                  </thead>
                  <!--end::Table head-->
                  <!--begin::Table body-->
                  <tbody>
                  <% @datas['data'].each do |item| %>
                        <tr>
                              <td>
                                          <div class="timeline-content d-flex">
                                          <span class="fw-bolder text-gray-800 ps-3"><%= item['order_sort'] %></span>
                                    </div>
                              </td>
                              <td>
                                    <div class="d-flex align-items-center">
                                          <!--begin::Avatar-->
                                          <div class="symbol symbol-45px me-5">

                                          </div>
                                          <!--end::Avatar-->
                                          <!--begin::Name-->
                                          <div class="timeline-badge">
								<i class="fa fa-genderless text-success fs-1"></i>
							</div>
                                          <div class="timeline-content d-flex">
								<span class="fw-bolder text-gray-800 ps-3"><%= item['title'] %></span>
							</div>
                                          <!--end::Name-->
                                    </div>
                              </td>

                              <td class="text-end">
                              </td>
                              <td class="text-end">

                              <%= link_to "", kpi_activity_path(item['id'])+"/edit", class: 'fa-solid fa-pen-to-square' %>
                              <%= link_to "", kpi_activity_path(item['id']), method: :delete, data: { confirm: 'ต้องการลบใช่หรือไม่?' } , class: "fa-regular fa-trash-can"  %>
                              </td>
                        </tr>

                        <% end %>
                  </tbody>
                  <!--end::Table body-->
            </table>
            <!--end::Table-->
      </div>
      <!--end::Table container-->

      <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
            <!--button:header-->
            <a href="/<%= @controller_title %>/activities/new" class="btn btn-info -sm"><i class="fa-solid fa-circle-plus fa-4x"></i><%= t(:add)%> <%= t(:indicator_category) %></button></a>
      </div>

</div>
<!--begin::Body-->
</div>

<!--end:Content-->


</div>
<!-- end::Kt_conten -->
