<%
#init
%>


<%= form_for('master_plan', url: "/#{gen_form[0]}/master_plans#{gen_form[1]}" , method: gen_form[2]) do |f| %>

    <div class="row">                                                                      

        <div class="col-12 mt-5">
            <label for="formGroupExampleInput" class="form-label"> <h5> ประจำปีงบประมาณ<span class="text-danger">*</span> </h5></label>

            <div class="form-group">
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" name="master_plan[period_year]" class="form-control datetimepicker-input" data-target="#datetimepicker1" value="<%= @datas['data']['period_year'].to_date.year.to_i + 543 rescue Time.now.year.to_i+ 543 %>" />
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 mt-5 ms-5 mb-5">
            <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none"><%= f.submit t(:saves), class: "btn btn-info" %></div>
        </div> 
    </div>


<% end %>


<% content_for :footer do %>
<script type="text/javascript">
    $(function () {

        $('#datetimepicker1').datetimepicker({
            locale: 'th',
            thaiyear: true,
            viewMode: "years", 
            minViewMode: "years",
            autoclose:true,
            format: "YYYY",
        });


    });
</script>
<% end %>