<div class="container-fluid">

    <div class="row">
        <div class="col"> 
            <div class="float-start">
                <h2 class="card-label">
                    <i class="fa-solid fa-circle-chevron-right"></i>แผนการควบคุมภายใน</h2> 
            </div>
            <div class="col">
              <div class="float-end">  
                <%= link_to "/#{@controller_main_url}/master_plans", class: 'btn btn-light btn-sm' do %>
                    <i class="fa-solid fa-angle-left"></i><%= t(:back) %>
                <% end %>
                </div> 
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <%= render 'form' %>

        </div>
    </div>


</div>
