<style>
    @media print {
       .noprint {
          visibility: hidden;
          display: none;
       }
    }
</style>

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="float-end"> 

                <%= link_to "/#{gen_form[0]}/master_plans/#{params[:id]}", class: 'btn btn-light -sm' do %> 
                  <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
                <% end %>

                <!-- add export -->
                <%= render '/share/block_btn_export', item: @master_plan, title: 'master_plan' %>
                <!-- end add export -->

            </div> 
        </div>

        

    </div>


    <!-- add export -->
    <div id="export_content" class="">
    <div class="landscape_A4_page">
    <!-- end add export -->  



    <div class="text-muted text-end mt-15">แบบฟอร์ม ปค. 5</div>
    <h1 class="text-center my-6">รายงานการประเมินผลการควบคุมภายใน</h1>


    <% @datas['data']['plans'].sort_by{|i| i['order_sort'].to_i}.each do |plan| %>
      
        <% plan['categories'].sort_by{|i| i['order_sort'].to_i}.each do |category| %>

            <%
            url = URI("#{$server[@controller_title]}/api/v1/categories/#{category["id"]}/evaluate_control_reports")
            category_evaluate_control_reports = request_api(url, "get", nil)
            %>
            <% if category_evaluate_control_reports && !category_evaluate_control_reports['data'].blank? %>
                <% category_evaluate_control_reports['data'].sort_by{|i| i['order_sort'].to_i}.each do |evaluate_control_report| %>
                    <%
                        @evaluate_control_report = nil
                        url = URI("#{$server[@controller_title]}/api/v1/evaluate_control_reports/#{evaluate_control_report["id"]}")
                        @evaluate_control_report = request_api(url, "get", nil)
                    %>
                    <%= render "/#{@controller_main_url}/evaluate_control_reports/form", evaluate_control_report: @evaluate_control_report %>
                <% end %>
            <% end %>
        <% end %>
      

    <% end # end plan %>



    <!-- add export -->
    </div>
    </div>
    <!-- end add export --> 



</div>



