<%
#init

if action_name == 'edit' || action_name == 'update'
      @master_plan_id = @datas['data']['master_plan_id'] if !@datas['data']['master_plan_id'].blank?
      @title = @datas['data']['title'] if !@datas['data']['title'].blank?
else
      @master_plan_id = params[:master_plan_id] if !params[:master_plan_id].blank?
end
%>

<%= form_for('plan', url: "/#{gen_form[0]}/plans#{gen_form[1]}" , method: gen_form[2]) do |f| %>
<!--begin::Card_body-->
<div class="row">

      <%= f.hidden_field :master_plan_id, value: @master_plan_id %>

      <div class="col-12 mt-5 ms-5 mb-5">
            <label class="form-label"> <h5> <%= t(:title_name) %> <span class="text-danger">*</span> </h5></label>
            <%= f.text_field :title, class: "form-control", placeholder: "#{t(:name)}", value: @title %>
      </div>

      <div class="col-12 mt-5 ms-5 mb-5">
            <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
                  <%= f.submit t(:saves), class: "btn btn-info" %>            
            </div>
      </div>

</div>
<% end %>
