
    <div class="row mt-5">
        <div class="col">


                <h2 class="text-center"><%= plan['title'] %></h2>

                <% plan['categories'].each do |category| %>
                    <div class="row">
                        <div class="col mb-5">
                            <div class="float-start">
                                <h3 class="card-label"><%= category['title'] %></h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col ms-5">
                            <p><b><%= t(:institution)%> : </b> <%= category['institution']['title'] rescue nil %></p>
                            <p><b><%= t(:responsible)%> : </b> <%= category['responsible']['title'] rescue nil %></p>
                            <p><b><%= t(:issue)%> : </b> <%= category['issue']['title'] rescue nil %></p>
                            <p><b><%= t(:cognitive)%> : </b> <%= category['cognitive'] rescue nil %></p>
                            <p><b><%= t(:kpi)%> : </b> <%= category['kpi']['title'] rescue nil %></p>
                            <p><b><%= t(:target_kpi)%> : </b> <%= category['target_kpi']['title'] rescue nil %></p>
                            <p><b><%= t(:created_at)%> : </b> <%= category['created_at'] rescue nil %></p>
                            <p><b><%= t(:updated_at)%> : </b> <%= category['updated_at'] rescue nil %></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col ms-5 mt-5">

                                <div class="table-responsive py-5">

                                  <table id="items" class="table table-bordered">
                                    <thead>
                                      <tr>
                                        <th class="text-center"><h6><%= t(:id) %></h6></th>
                                        <th><b><%= t(:activity) %></b></th>
                                        <th><b><%= t(:list_periods) %></b></th>
                                        <th><b><%= t(:list_kpis) %></b></th>
                                        <th><b><%= t(:list_target_kpis) %></b></th>
                                        <th><b><%= t(:list_target_groups) %></b></th>
                                        <th><b><%= t(:list_responsibles) %></b></th>
                                        <th><b><%= t(:list_notes) %></b></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <%
                                      list_size = 0
                                      if category && category['lists']
                                        list_size = category['lists'].size.to_i
                                      %>
                                      <% category['lists'].each_with_index do |list,idx|  %>
                                      <tr id="items<%= idx %>">

                                        <td class="text-center"><%= idx +1 %></td>


                                        <td>
                                          <input type="hidden" class="form-control" name="category[lists_attributes][<%= idx %>][activity_id]" value="<%= list['activity_id'] %>">


                                          <p><b><%= list['order_sort'] %> <%= list['activity']['title'] rescue nil %></b></p>

                                          <ul>
                                          <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activitie| %>
                                              <li><%= list_activitie['title']%></li>
                                          <% end %>
                                          </ul>
                                        </td>

                                        <td>
                                          <div style="margin-top: 33px;"></div>
                                          <ul>
                                          <% list['list_periods'].each do |list_period| %>
                                            <li>
                                              <%= list_period['startdate']&.in_time_zone&.to_date %> ถึง <%= list_period['enddate'].in_time_zone&.to_date %>
                                              <%#= cal_date_count(list_period['startdate']&.in_time_zone&.to_date, list_period['enddate']&.in_time_zone&.to_date, 'day') %>
                                            </li>
                                          <% end %>
                                          </ul>
                                        </td>

                                        <td>
                                          <div style="margin-top: 33px;"></div>
                                          <ul>
                                            <% list['list_kpis'].each do |list_kpi| %>
                                              <li><%= list_kpi['title']%></li>
                                            <% end %>
                                          </ul>
                                        </td>

                                        <td>
                                          <div style="margin-top: 33px;"></div>
                                          <ul>
                                            <% list['list_target_kpis'].each do |list_target_kpi| %>
                                              <li><%= list_target_kpi['title']%></li>
                                            <% end %>
                                          </ul>
                                        </td>

                                        <td>
                                          <div style="margin-top: 33px;"></div>
                                          <ul>
                                            <% list['list_target_groups'].each do |list_target_group| %>
                                            <li><%= list_target_group['title']%></li>
                                            <% end %>
                                          </ul>
                                        </td>

                                        <td>
                                          <div style="margin-top: 33px;"></div>
                                          <ul>
                                            <% list['list_responsibles'].each do |list_responsible| %>
                                            <li><%= list_responsible['title']%></li>
                                          <% end %>
                                          </ul>
                                        </td>

                                        <td>
                                          <div style="margin-top: 33px;"></div>
                                          <ul>
                                          <% list['list_notes'].each do |list_note| %>
                                            <li><%= list_note['title']%></li>
                                          <% end %>
                                        </ul>
                                        </td>


                                      </tr>
                                      <% end %>
                                      <% end %>


                                    </tbody>
                                  </table>
                          </div>
                        </div>
                    </div>

                <hr style="border-bottom: 1px dotted #999999;">
                <p style="page-break-after: always;">&nbsp;</p>
                <% end # end categories %>


        </div>
    </div>
