
            <div class="modal-header">
                <h5 class="modal-title"><%= t(:edit_status) %></h5>
                <!--
                <button type="button" class="btn btn p-3 btn-default" data-dismiss="modal" aria-label="Close">
                    <i  class="fas fa-times-circle"></i>
                </button>
            -->
            </div>
            <%= form_for('list_activity', url: "/#{@controller_title}/list_activities/#{@list_activity_id}" , method: 'patch') do |f| %>

            <div class="modal-body">

                <%= f.hidden_field 'id', value: @list_activity_id %>
                <%= f.hidden_field 'plan_report_id', value: @plan_report_id %>
                <%= hidden_field_tag 'original_url', @original_url %>
                <%= f.select 'status', [["#{t(:completed_on_schedule)}", "completed-on-schedule"], ["#{t(:finished_later_than_scheduled)}", "completed-later-than-scheduled"], ["ยังไม่ดำเนินการ", "not-started"], ["อยู่ระหว่างดำเนินการ", "in-process"]], {include_blank: true, selected: (@list_activity['data']['status'] rescue nil)}, {class: 'form-control w-200px'} %>
            </div>
            <div class="modal-footer">
                <!--
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button
            -->
                <%= f.submit t(:saves), class: "btn btn-info" %>
            </div>
            <% end %>
