<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>




<div id="export_content" class="">
      <div class="landscape_A4_page">






<% if controller_name == 'plan_reports' %>
        <div class="pt-5 text-center">
                <h1 class="fs-1"><%= t(:knowledge_management_performance_report_form) %><%= plan['title'] %></h1>
                

                <%= hidden_field_tag :original_url, params[:original_url]  %>

                <div class="my-4"><%= t(:dates) %>  : <span class="badge badge-info fs-6"><%= @plan_report['data']['startdate']&.in_time_zone&.to_date rescue nil %></span> ถึง <span class="badge badge-info fs-6"><%= @plan_report['data']['enddate']&.in_time_zone&.to_date rescue nil %></span>

                </div>
        </div>
<% end %>

        <% if plan && !plan['categories'].blank? %>
        <% plan['categories'].each do |category| %>
                <h2 class="fs-2"><span class=""><%= category['institution']['title'] rescue nil %></span></h2>
                <h3><%= t(:form_name) %>: <%= category['title'] %></h3>

                <% if controller_name != 'plan_reports' %>
                <div class="ms-5">
                        <div class="d-flex py-2"><b><%= t(:institution)%> : </b> <%= category['institution']['title'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:responsible)%> : </b> <%= category['responsible']['title'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:issue)%> : </b> <%= category['issue']['title'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:cognitive)%> : </b> <%= category['cognitive'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:kpi)%> : </b> <%= category['kpi']['title'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:target_kpi)%> : </b> <%= category['target_kpi']['title'] rescue nil %></div>
                </div>
                <% end %>

                <div class="-table-responsive py-5">


                        <table class="table table-bordered">
                                <thead>
                                    <tr class="fw-bolder text-muted">
                                        <th class="text-center"><%= t(:num) %></th>
                                        <th class="min-w-200px"><%= t(:activity) %></th>
                                        <th class="min-w-120px"><%= t(:status) %></th>
                                        <th class="min-w-100px"><%= t(:kpi_target) %></th>
                                        <th class="min-w-100px"><%= t(:task_resoults) %></th>
                                        <th><b><%= t(:task_notes) %></b></th>
                                        <th class="w-80px noprint"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idx| %>
                                        <tr style="border-top: 3px solid #cccccc;">
                                            <td class="text-center">
                                                <%= list['order_sort'] rescue nil %>
                                            </td>

                                            <td>
                                                <b><%= list['activity']['title'] rescue nil %></b>
                                            </td>

                                            <td>
                                            </td>

                                            <td>
                                              <ul>
                                                <% if !list.blank? %>
                                                    <% list['list_target_kpis'].sort_by{|i| i['order_sort'].to_i}.each do |list_target_kpi| %>
                                                      <li><%= list_target_kpi['title'] %></li>
                                                    <% end %>
                                                <% end %>
                                              </ul>
                                            </td>

                                            <td></td>
                                            <td></td>
                                            <td class="noprint"></td>
                                        </tr>



                                        <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <%= list_activity['title'] %>
                                            </td>
                                            <td>

                                                <%= get_status_tasks(list_activity['status']) %>



                                                <%= link_to "<button type='button' class='btn btn-sm btn-primary has-tooltip ml-6 noprint' data-placement='left' title='Menu'> <i class='fa fa-plus'></i> #{t(:please_state)}</button>".html_safe, "/#{@controller_title}/plans/#{plan['id']}/status?list_id=#{list['id']}&list_activity_id=#{list_activity['id']}&status=#{list_activity['status']}&plan_report_id=#{params['plan_report_id']}&original_url=#{request.path}",  {remote: :true, 'data-toggle': 'modal', 'data-target': '#modal-window'} if params[:print] != true && params[:print] != 'true' && action_name != 'print' %>



                                            </td>
                                            <td colspan="3">
                                            </td>
                                            <td class="noprint">
                                                <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'c' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: nil, params: "plan_report_id=#{params[:plan_report_id]}&list_activity_id=#{list_activity['id']}&list_id=#{list['id']}&original_url=#{request.path}"} if params[:print] != true && params[:print] != 'true' && action_name != 'print' %>
                                            </td>
                                        </tr>


                                        <% if !list_activity['tasks'].blank? %>
                                        <% list_activity['tasks'].sort_by{|i| i['order_sort'].to_i}.each do |task| %>
                                        <tr>
                                            <td colspan="4"></td>
                                            <td>
                                                <ul>
                                                    <% task['task_results'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |task_result| %>
                                                        <li><%= task_result['title'] %></li>
                                                    <% end %>
                                                </ul>
                                            </td>

                                            <td>
                                                    <!--<h6>หมายเหตุ</h6>-->
                                                    <ul>
                                                        <% task['task_notes'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |task_result| %>
                                                            <li><%= task_result['title'] %></li>
                                                        <% end %>
                                                    </ul>

                                                    <div class="separator separator-dashed separator-border-2 my-2"></div>

                                                    <!--<h6>หลักฐาน</h6>-->
                                                    <% task['task_attachments'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |task_attachment| %>
                                                    <div class="p-2">
                                                        <% if !task_attachment['file_data'].blank? %>
                                                        <a href="<%= $server[@controller_title] %><%= task_attachment['file_url_original'] %>" target="_blank">
                                                            <img src="<%= $server[@controller_title] %><%= task_attachment['file_url_thumbnail'] %>" class="img-thumbnail" style="width: 200px;" />
                                                        </a>
                                                        <% end %>
                                                        <%= task_attachment['description'] %>
                                                    </div>
                                                    <% end %>
                                            </td>
                                            
                                            <td class="noprint">
                                           <% if action_name != 'print'  %>
                                                <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: task['id'], params: "original_url=#{request.path}"} if params[:print] != 'true' %>
                                            <% end %>
                                            </td>

                                        </tr>
                                        <% end #end loop list_activity['tasks'] %>
                                        <% end #end if list_activity['tasks'] %>



                                        <% end #end loop list['list_activities'] %>



                                        <% end #end loop category['lists'] %>
                                </tbody>
                        </table>
                </div>

        <hr style="border-bottom: 1px dotted #999999;">
        <p style="page-break-after: always;">&nbsp;</p>
        <% end # end categories %>

        <% else %>
            <div class="text-center fs-4 m-10"><%= t(:data_not_found) %></div>
        <% end # end if plan %>







  </div>
</div> <!-- end id export_content -->



<%# if controller_name != 'plan_reports' %>
<%#= render partial: '/share/block_action_history', locals:{ params: params} %>
<%# end %>

