<div class="container-fluid">
<table>
<tr><td colspan='8'>
        <div class="d-flex justify-content-between">
                <h1 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:knowledge_management) %> : <%= @plan['data']['title'] %></h1>

        </div>
        </td> </tr>
        </table>
       

        <% if @plan && !@plan['data'].blank? %>



        <% @plan['data']['categories'].sort_by{|i| i['order_sort'].to_i}.each do |category| %>
               

        <div class="card-show">
        <table>
        <tr><td colspan='8'>
                <div class="d-flex justify-content-between">
                        <h3><%= t(:form_name) %> : <%= category['title'] %></h3>

                </div>
        </td> </tr>
        </table>
                <div class="ms-5">
                <table>
                        <tr>
                                <td colspan='8'><div class="d-flex py-2"><b><%= t(:institution)%> : </b> <%= category['institution']['title'] rescue nil %></div></td>
                        </tr>
                        <tr>
                                <td colspan='8'><div class="d-flex py-2"><b><%= t(:responsible)%> : </b> <%= category['responsible']['title'] rescue nil %></div></td>
                        </tr>
                        <tr>
                                <td colspan='8'><div class="d-flex py-2"><b><%= t(:issue)%> : </b> <%= category['issue']['title'] rescue nil %></div></td>
                        </tr>
                        <tr>
                                <td colspan='8'><div class="d-flex py-2"><b><%= t(:cognitive)%> : </b> <%= category['cognitive'] rescue nil %></div></td>
                        </tr>
                        <tr>
                                <td colspan='8'><div class="d-flex py-2"><b><%= t(:kpi)%> : </b> <%= category['kpi_title'] rescue nil %></div></td>
                        </tr>
                        <tr>
                                <td colspan='8'><div class="d-flex py-2"><b><%= t(:target_kpi)%> : </b> <%= category['target_kpi_title'] rescue nil %></div></td>
                        </tr>
              
                </table>

                </div>

                <div class="table-responsive py-5">

                        <table class="table table-bordered">
                                <thead>
                                <tr class="fw-bolder text-muted">
                                    <th><b><%= t(:num) %></b></th>
                                    
                                    <th><b><%= t(:activity) %></b></th>
                                    <th><b><%= t(:list_periods) %></b></th>
                                    <th><b><%= t(:kpi_target) %></b></th>
                                    <th><b><%= t(:list_target_kpis) %></b></th>
                                    <th><b><%= t(:list_target_groups) %></b></th>
                                    <th><b><%= t(:list_responsibles) %></b></th>
                                    <th><b><%= t(:list_notes) %></b></th>
                                    
                                </tr>
                                </thead>
                                <tbody>
                                <% if category['lists'].present? %>
                               
                                <% end %>
                                
                                        <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idx| %>

                                                
                                        <tr style="border-top: 3px solid #cccccc;">
                                        <td class="text-center"><%= list['order_sort'] rescue nil %></td>
                                   
                                  
                                    
                                                <td>

                                                        <b><%= list['activity']['title']%></b>
                                                       
                                                         <ul>
                                                        <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                                                                <li> <%= list_activity['title']%> <%= get_status_tasks(list_activity['status']) %></li>
                                                        <% end %>
                                                        </ul>
                                                </td>
                                                <td>
                                                <% if !list['list_periods'].nil? %>
                                                        <% list['list_periods'].sort_by{|i| i['order_sort'].to_i}.each do |list_period| %>
                                                                <li><%= convert_thai_date(list_period['startdate']&.in_time_zone&.to_date,'default') %> <%= t(:to) %> <%= convert_thai_date(list_period['enddate']&.in_time_zone&.to_date,'default') %></li>
                                                        <% end %>
                                                <% end %>
                                                </td>

                                                <td>
                                                <% if !list['list_kpis'].nil? %>
                                                        <% list['list_kpis'].sort_by{|i| i['order_sort'].to_i}.each do |list_kpi| %>
                                                                <li><%= list_kpi['title'] %> </li>
                                                        <% end %>
                                                <% end %>
                                                </td>

                                                <td>
                                                 <% if !list['list_target_kpis'].nil? %>
                                                        <% list['list_target_kpis'].sort_by{|i| i['order_sort'].to_i}.each do |list_target_kpi| %>
                                                                <li><%= list_target_kpi['title'] %> </li>
                                                        <% end %>
                                                <% end %>
                                                </td>

                                                <td>
                                                <% if !list['list_target_groups'].nil? %>
                                                        <% list['list_target_groups'].sort_by{|i| i['order_sort'].to_i}.each do |list_target_group| %>
                                                                <li><%= list_target_group['title'] %> </li>
                                                        <% end %>
                                                <% end %>
                                                </td>


                                                <td>
                                                <% if !list['list_responsibles'].nil? %>
                                                        <% list['list_responsibles'].sort_by{|i| i['order_sort'].to_i}.each do |list_responsible| %>
                                                                <li><%= list_responsible['title'] %> </li>
                                                        <% end %>
                                                <% end %>
                                                </td>


                                                <td>
                                                <% if !list['list_notes'].nil? %>
                                                        <% list['list_notes'].sort_by{|i| i['order_sort'].to_i}.each do |list_note| %>
                                                                <li><%= list_note['title'] %> </li>
                                                        <% end %>
                                                <% end %>
                                                </td>

                                                <!--
                                                 <td>
                                                      <%= list['status'] rescue nil %>
                                                </td>
                                                -->

                                            
                                        </tr>


                                        <% end %>
                                </tbody>
                        </table>
                </div>
        </div>



        <% end %>

        <% end %>
     
        <%= render partial: '/share/block_comments_history', locals:{ model_name: 'plan', id: @plan['data']['id']} %>


</div>
