<!--begin::Kt_conten-->
<div class="container-fluid">
	<div class="row">
		<div class="col me-5">
		<div class="float-start">
		<h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:knowledge_management) %>
</h2>
		</div>
		<div class="col mb-5">
			<div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
			<a href="/<%= @controller_title %>/plans/new" class="btn btn-info -sm"><i class="fa-solid fa-circle-plus fa-4x"></i><%= t(:create)%></a>
			</div>
		</div>
		</div>
	</div>
		<!--begin::Row-->
		<div class="row">
  			<% @datas['data'].each do |item| %>
				<!--begin::Col-->
  				<div class="col-lg-6">
				    <!--begin::Card-->
					<div class="card card-custom gutter-b">
							<!--begin::Header-->
 							<div class="card-master">
									  <div class="row my-4">
										<div class="col-8">
											<div class="row">
												<div class="col-1">
													<i class="fa-solid fa-file-lines fa-2x"></i>
												</div>
												<div class="col float-start ms-2">
									 				<h6><%= item['title'] %></p></h6>
												 </div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
											<%= link_to "/#{@controller_title}/plans/#{item['id']}", method: :delete, title: t(:delete),  data: { confirm: 'ต้องการลบใช่หรือไม่?' } , class: "text-center btn btn-sm btn-light" do %>
												<i class="fa-regular fa-trash-can"></i><%#= t(:delete) %>
											<% end %>

											<%= link_to "/#{@controller_title}/master_plans_clone?id=#{item['id']}" , class: "btn btn-sm btn-light", title: t(:clone) do %>
												<i class="fa-regular fa-clone"></i><%#= t(:clone) %>
											<% end %>
											</div>
										</div>
									</div>
 							</div>
							<!--end::Header-->
							<!--begin::Body-->
 							<div class="card-content">
							 	<div class="mb-4">
							 		<b><%= t(:created_at)%> : </b> <%= convert_thai_date(item['created_at'],'default') %>
							 	</div>


								 <a href="/<%= @controller_title %>/plans/<%= item['id'] %>/edit" class="btn-info btn-sm text-white mt-3 d-block-inline"><%= t(:edit) %> <i class="fa-solid fa-angle-right text-white"></i>
								 </a>

 							</div>
							<!--end::Body-->
					</div> <br/>
					<!--end::Card-->
				</div>
				<!--end::Col-->

			<% end %>
		</div>
		<!--end::Row-->

</div>
<!-- end::Kt_conten -->
