<div class="container-fluid">
        <div class="row">
            <div class="col">
                  <div class="float-start">
                        <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:knowledge_management) %></h2> 
                  </div>
            </div>
            <div class="col">
              <div class="float-end">
                  <%= link_to "/#{gen_form[0]}/master_plans/#{params['master_plan_id']}", class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
                  <% end %>
              </div>
            </div>
       </div>

      <%= render 'form' %>

</div>
