<style>
    @media print {
       .noprint {
          visibility: hidden;
          display: none;
       }
    }
</style>

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="float-end">

                <%= link_to "/#{gen_form[0]}/master_plans/#{@plan['data']['master_plan_id']}", class: 'btn btn-light noprint' do %> <i class="fa-solid fa-angle-left"></i></i> <%= t(:back) %> </i> <% end %>

                <%= render '/share/block_btn_export', item: @plan, title: 'plan' %>

            <% end %>
            </div>
        </div>
        <h1 class="text-center">
            <%= t(:master_plan) %><%= @plan['data']['master_plan']['title'] rescue nil %>
        </h1>

    </div>




    <div id="export_content" class="">
    <div class="landscape_A4_page">

      <%= render "/#{@controller_title}/plans/print", plan: @plan['data'] %>

      <hr style="border-bottom: 3px solid #999999;margin-top: 2rem;margin-bottom: 2rem;">

    </div></div>


</div>
