<%
#init
back_url = "/#{gen_form[0]}/master_plans/#{params['master_plan_id']}" if !params['master_plan_id'].blank?
back_url = "/#{gen_form[0]}/master_plans/#{@plan['data']['master_plan_id']}" if @plan && @plan['data'] && !@plan['data']['master_plan_id'].blank?
back_url = params[:original_url] if params[:original_url]
$check_list_datas = nil
url = URI("#{$server[@controller_title]}/api/v1/plans/#{params["id"]}/check_plan_approve_status")
@check_plan_approve_status = request_api(url, "get", nil)
#@check_plan_approve_status == false สถานะเมื่อหัวหน้า approve จะทำการ lock control

%>

<div class="container-fluid">
        <div class="d-flex justify-content-between">
                <h1 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:knowledge_management) %> : <%= @plan['data']['title'] %></h1>

                <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
                <% end %>
        </div>
      
        <% if @check_plan_approve_status['data'] == false  %>
       
        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'add-only' ,master_plan_id: (@plan['data']['master_plan_id']  rescue nil), model_name: 'categories', model_title: "#{t(:forms)}", id: nil, params: "plan_id=#{@plan['data']['id'] rescue nil}&original_url=#{request.path}"} %>
     
        <% end %>
        <% if @plan && !@plan['data'].blank? %>
        <% @plan['data']['categories'].sort_by{|i| i['order_sort'].to_i}.each do |category| %>
        <div class="card-show">

                <div class="d-flex justify-content-between">
                        <h3><%= t(:form_name) %> : <%= category['title'] %></h3>
                        <% if @check_plan_approve_status['data'] == false  %>
                      
                                 <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: (@plan['data']['master_plan_id']  rescue nil), model_name: 'categories', model_title: '', id: category['id'], params: "plan_id=#{@plan['data']['id'] rescue nil}"} %>
                    
                        <% end %>
                        </div>

                <div class="ms-5">

                        <div class="d-flex py-2"><b><%= t(:institution)%> : </b> <%= category['institution']['title'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:responsible)%> : </b> <%= category['responsible']['title'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:issue)%> : </b> <%= category['issue']['title'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:cognitive)%> : </b> <%= category['cognitive'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:kpi)%> : </b> <%= category['kpi_title'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:target_kpi)%> : </b> <%= category['target_kpi_title'] rescue nil %></div>
                </div>

                <div class="table-responsive py-5">
                <% if @check_plan_approve_status['data'] == false  %>
             
                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'add-only' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: 'กิจกรรม', id: nil, params: "category_id=#{category['id']}&original_url=#{request.path}"} %>
           
                <% end %>
                        <table class="table table-bordered">
                                <thead>
                                <tr class="fw-bolder text-muted">
                                    <th><b><%= t(:num) %></b></th>
                                    
                                    <th><b><%= t(:activity) %></b></th>
                                    <th><b><%= t(:list_periods) %></b></th>
                                    <th><b><%= t(:kpi_target) %></b></th>
                                    <th><b><%= t(:list_target_kpis) %></b></th>
                                    <th><b><%= t(:list_target_groups) %></b></th>
                                    <th><b><%= t(:list_responsibles) %></b></th>
                                    <th><b><%= t(:list_notes) %></b></th>
                                </tr>
                                </thead>
                                <tbody>
                                <% if category['lists'].present? %>
                                <% $check_list_datas = '1' %>
                                <% end %>
                                
                                        <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idx| %>

                                                
                                        <tr style="border-top: 3px solid #cccccc;">
                                        <td class="text-center"><%= list['order_sort'] rescue nil %></td>
                                   
                                  
                                    
                                                <td>

                                                        <b><%= list['activity']['title']%></b>
                                                       
                                                         <ul>
                                                        <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                                                                <li> <%= list_activity['title']%> <%= get_status_tasks(list_activity['status']) %></li>
                                                        <% end %>
                                                        </ul>
                                                </td>
                                                <td>
                                                <% if !list['list_periods'].nil? %>
                                                        <% list['list_periods'].sort_by{|i| i['order_sort'].to_i}.each do |list_period| %>
                                                                <li><%= convert_thai_date(list_period['startdate']&.in_time_zone&.to_date,'default') %> <%= t(:to) %> <%= convert_thai_date(list_period['enddate']&.in_time_zone&.to_date,'default') %></li>
                                                        <% end %>
                                                <% end %>
                                                </td>

                                                <td>
                                                <% if !list['list_kpis'].nil? %>
                                                        <% list['list_kpis'].sort_by{|i| i['order_sort'].to_i}.each do |list_kpi| %>
                                                                <li><%= list_kpi['title'] %> </li>
                                                        <% end %>
                                                <% end %>
                                                </td>

                                                <td>
                                                 <% if !list['list_target_kpis'].nil? %>
                                                        <% list['list_target_kpis'].sort_by{|i| i['order_sort'].to_i}.each do |list_target_kpi| %>
                                                                <li><%= list_target_kpi['title'] %> </li>
                                                        <% end %>
                                                <% end %>
                                                </td>

                                                <td>
                                                <% if !list['list_target_groups'].nil? %>
                                                        <% list['list_target_groups'].sort_by{|i| i['order_sort'].to_i}.each do |list_target_group| %>
                                                                <li><%= list_target_group['title'] %> </li>
                                                        <% end %>
                                                <% end %>
                                                </td>


                                                <td>
                                                <% if !list['list_responsibles'].nil? %>
                                                        <% list['list_responsibles'].sort_by{|i| i['order_sort'].to_i}.each do |list_responsible| %>
                                                                <li><%= list_responsible['title'] %> </li>
                                                        <% end %>
                                                <% end %>
                                                </td>


                                                <td>
                                                <% if !list['list_notes'].nil? %>
                                                        <% list['list_notes'].sort_by{|i| i['order_sort'].to_i}.each do |list_note| %>
                                                                <li><%= list_note['title'] %> </li>
                                                        <% end %>
                                                <% end %>
                                                </td>

                                                <!--
                                                <td>
                                                      <%= list['status'] rescue nil %>
                                                </td>
                                        -->

                                                <td>
                                                <% if @check_plan_approve_status['data'] == false  %>
                                                
                                          
                                                    <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: 'แบบฟอร์ม', id: list['id'], params: "original_url=#{request.path}"} %>
                                        
                                                <% end %>  
                                                </td>
                                        </tr>


                                        <% end %>
                                </tbody>
                        </table>
                </div>
        </div>
        <% end %>
        <% end %>


        <% if $check_list_datas =='1' %> <!-- ถ้ามีข้อมูลใน list ให้แสดง block_comments  block_comments_history -->

        <%= render partial: '/share/block_comments', locals:{ model_name: 'plan', id: @plan['data']['id']} %>
        <%= render partial: '/share/block_comments_history', locals:{ model_name: 'plan', id: @plan['data']['id']} %>
<% end %>

</div>
