<%
#init
back_url = "/#{gen_form[0]}/master_plans/#{params['master_plan_id']}" if !params['master_plan_id'].blank?
back_url = "/#{gen_form[0]}/master_plans/#{@plan['data']['master_plan_id']}" if @plan && @plan['data'] && !@plan['data']['master_plan_id'].blank?
back_url = params[:original_url] if params[:original_url]
%>

<div class="container-fluid">
        <div class="d-flex justify-content-between">
                <h1 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:knowledge_management) %> : <%= @plan['data']['title'] %></h1>

                <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
                <% end %>
        </div>



        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'add-only' ,master_plan_id: (@plan['data']['master_plan_id']  rescue nil), model_name: 'categories', model_title: '', id: nil, params: "plan_id=#{@plan['data']['id'] rescue nil}"} %>

        <% if @plan && !@plan['data'].blank? %>
        <% @plan['data']['categories'].sort_by{|i| i['order_sort'].to_i}.each do |category| %>
        <div class="card-show">

                <div class="d-flex justify-content-between">
                        <h3><%= t(:form_name) %> : <%= category['title'] %></h3>

                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: (@plan['data']['master_plan_id']  rescue nil), model_name: 'categories', model_title: '', id: category['id'], params: "plan_id=#{@plan['data']['id'] rescue nil}"} %>
                </div>

                <div class="ms-5">

                        <div class="d-flex py-2"><b><%= t(:institution)%> : </b> <%= category['institution']['title'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:responsible)%> : </b> <%= category['responsible']['title'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:issue)%> : </b> <%= category['issue']['title'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:cognitive)%> : </b> <%= category['cognitive'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:kpi)%> : </b> <%= category['kpi']['title'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:target_kpi)%> : </b> <%= category['target_kpi']['title'] rescue nil %></div>
                </div>

                <div class="table-responsive py-5">

                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'add-only' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: 'กิจกรรม', id: nil, params: "category_id=#{category['id']}&original_url=#{request.path}"} %>

                        <table class="table table-bordered">
                                <thead>
                                <tr class="fw-bolder text-muted">
                                                <th class="text-center"><h6><%= t(:id) %></h6></th>
                                                <th class="min-w-200px"><h6>หมวดหมู่ตัวชี้วัด<h6></th>
                                                <th class="min-w-200px"><h6>คำนิยาม<h6></th>
                                                <th class="min-w-200px"><h6><%= t(:description) %><h6></th>
                                                <th class="min-w-100px"><h6>สถานะ<h6></th>
                                                <th class="max-w-80px"></th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idx| %>
                                        <tr style="border-top: 3px solid #cccccc;">
                                                <td class="text-center"><%= idx +1 %></td>
                                                <td>
                                                        <h6><%= list['activity']['title'] rescue nil %></h6>
                                                </td>
                                                <td>
                                                        <% list['list_periods'].each do |list_period| %>
                                                                <li><%= list_period['startdate']&.in_time_zone&.to_date %> <%= t(:to) %> <%= list_period['enddate']&.in_time_zone&.to_date %></li>
                                                        <% end %>
                                                </td>

                                                <td>
                                                        <% list['list_kpis'].each do |list_kpi| %>
                                                                <li><%= list_kpi['title'] %> </li>
                                                        <% end %>
                                                </td>

                                                <td>
                                                        <% list['list_target_kpis'].each do |list_target_kpi| %>
                                                                <li><%= list_target_kpi['title'] %> </li>
                                                        <% end %>
                                                </td>

                                                <td>
                                                        <% list['list_target_groups'].each do |list_target_group| %>
                                                                <li><%= list_target_group['title'] %> </li>
                                                        <% end %>
                                                </td>


                                                <td>
                                                        <% list['list_responsibles'].each do |list_responsible| %>
                                                                <li><%= list_responsible['title'] %> </li>
                                                        <% end %>
                                                </td>


                                                <td>
                                                        <% list['list_notes'].each do |list_note| %>
                                                                <li><%= list_note['title'] %> </li>
                                                        <% end %>
                                                </td>

                                                <td>
                                                      <%= list['status'] rescue nil %>
                                                </td>

                                                <td>
                                                    <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: 'แบบฟอร์ม', id: list['id'], params: "original_url=#{request.path}"} %>
                                                </td>
                                        </tr>

                                        <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                                        <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><%= list_activity['title'] %></td>
                                                <td><%= get_status_tasks(list_activity['status']) %></td>
                                                <td></td>
                                        </tr>
                                        <% end %>

                                        <% end %>
                                </tbody>
                        </table>
                </div>
        </div>
        <% end %>
        <% end %>



        <%= render partial: '/share/block_comments', locals:{ model_name: 'plan', id: @plan['data']['id']} %>
        <%= render partial: '/share/block_comments_history', locals:{ model_name: 'plan', id: @plan['data']['id']} %>


</div>
