
<%
#init
if !params['original_url'].blank?
    back_url = params['original_url'] 
elsif !params['plan_report_id'].blank?
    back_url = "/#{@controller_title}/plan_reports/#{params['plan_report_id'] rescue nil}"
else
    back_url = "/#{@controller_title}/pages/dashboards"
end
%>

<div class="container-fluid">
    <div class="d-flex justify-content-end">
        <%= link_to "#{back_url}", class: 'noprint btn btn-light text-end' do %>
            <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
        <% end %>
        
        <%= render '/share/block_btn_export', item: @plan, title: 'plan' %>
    </div>

    <div id="export_content" class="">
    <div class="landscape_A4_page">
    <%= render 'view', plan: @plan %>
    </div>
    </div>

</div>