<style>
    @media print {
       .noprint {
          visibility: hidden;
          display: none;
       }
    }
</style>

<div class="">


    <div class="d-flex justify-content-end">


        <%= link_to "#", class: 'noprint align-self-center btn btn-lg btn-light mx-1', onclick: 'window.print();' do %>
        <i class="fa-solid fa-print"></i> <%= t(:print) %>
    <% end %>
    </div>

    <h1 class="text-center mt-10">
    <%= t(:indicators_performance_evaluation_framework) %>
    </h1>

    <h2 class="text-center text-primary">ประจำปีงบประมาณ พ.ศ. <%= @datas['data']['title'] rescue nil %></h2>


         <div class="table-responsive py-5">
            <h2 class="text-center">ตาราง OS Matrix </h2>
              <table id="items" class="table table-bordered" style="text-left">
                    <thead style="width:auto;text-align:center; background-color: #d9dbff;">
                      <tr>
                        <th>ลำดับ</th>
                        <th>ชื่อตัวชี้วัด</th>
                        <th><%= t(:target_value_twelve_month) %></th>
                        <th><%= t(:target_value_six_month) %></th>
                        <th>สชง</th>
                        <th>สคพ</th>
                        <th>กพส</th>
                        <th>กสส</th>
                        <th>กสร</th>
                        <th>กสป</th>
                        <th>กยผ</th>
                        <th>สลก</th>
                        <th>กกท</th>
                        <th>กพร</th>
                        <th>ศพท</th>
                        <th>กตน</th>
                        <th>ผชช</th>
                        <th>กทส</th>
                        <th>ผู้รายงานในระบบ KPI</th>
                        <th>ตอบสนองต่อแผน</th>
                      </tr>
                    </thead>

                    <thead>
                        <tr>
                              <td colspan="20">
                                <b>ตัวชี้วัดตามแผนการใช้จ่ายงบประมาณประจำปีงบประมาณ 2565 กรมคุ้มครองสิทธิและเสรีภาพ</b>
                              </td>
                        </tr>
                    </thead>

                    <tbody>

                      <tr valign="top">
                        <td>1</td>
                        <td class="text-left">ประชาชนกลุ่มเป้าหมายและเจ้าหน้าทีรัฐที่เกี่ยวข้องได้รับกาส่งเสริม คุ้มครองสิทธิเสรีภาพ และมีหลักประกันด้านสิทธิมนุษยชนไม่น้อยกว่า (กยผ. เป็นผู้รวบรวมและรายงาน)
                        </td>
                        <td>64,355 ราย</td>
                        <td>28,275 ราย</td>
                        <td><span class="badge badge-info">O</span></td>
                        <td><span class="badge badge-primary">S</span></td>
                        <td><span class="badge badge-primary">S</span></td>
                        <td><span class="badge badge-primary">S</span></td>
                        <td></td>
                        <td><span class="badge badge-primary">S</span></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>กยผ</td>
                        <td>แผนการใช้จ่าย งปม</td>
                      </tr>
                      
                    </tbody>
              </table>
          </div>





</div>
