<%

url = URI("#{$server[@controller_title]}/api/v1/plans/#{params["id"]}/check_plan_approve_status")
@check_plan_approve_status = request_api(url, "get", nil)
%>

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<%= @check_plan_approve_status %>

<div class="d-flex justify-content-between">
    <h1 class="fs-1"><%= t(:company_name) %> </h1> 
</div>


        <% plan['categories'].each do |category| %>

       
                <h2><%= category['institution']['title'] %></h2>

                <div class="table-responsive py-5">


                        <table class="table table-bordered table-head-custom" id="datatable_<%= plan['data']['id'] rescue nil %>" role="grid" aria-describedby="">
                                <thead>
                                    <tr class="fw-bolder text-muted">
                                            <th class="min-w-150px"><h6>มิติตัวชี้วัด</h6></th>
                                            <th class="min-w-40px text-center"><h6>ตัวชี้วัดที่</h6></th>
                                            <th class="min-w-200px"><h6>ชื่อตัวชี้วัด</h6></th>
                                            <th class="w-90px text-center"><h6>สรุปผล<br>การดําเนินงาน</h6></th>
                                            <th class="min-w-150px"><h6></h6></th>
                                    </tr>
                                </thead>
                                <tbody>

                                        <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idx| %>
                                        <tr style="border-top: 3px solid #cccccc;">
                                            <td>
                                                <h6><%= list['activity']['title'] rescue nil %></h6> 


                                                <% list['tasks'].each do |task| %>
                                                    <span class="badge badge-light"><%= convert_thai_date(task['plan_report']['startdate']&.in_time_zone&.to_date,'default') rescue nil %> ถึง <%= convert_thai_date(task['plan_report']['enddate']&.in_time_zone&.to_date,'default')  rescue nil %></span>
                                                <% end %>
                                            </td>

                                            <td class="text-center">
                                                <%= list['order_sort'] rescue nil %>      
                                            </td>

                                            <td>
                                                <%= list['title'] rescue nil %>      
                                            </td>
                                            
                                            <% if !list['tasks'].blank? %>
                                            <td class="text-center">
                                                <% list['tasks'].each do |task| %>
                                                    <%= get_color_kpi(task['task_score_results'][0]['value_second']) rescue nil %>
                                                <% end %> 
                                            </td>
                                            <td>
                                               <!--  <div class="p-2 rounded bg-white shadow-sm"> -->
                                                <!-- <span class="badge badge-info"> --><%#= convert_thai_date(plan['master_plan']['startdate']&.in_time_zone&.to_date,'default') rescue nil %><!-- </span> -->
                                               <!-- - --> <!-- <span class="badge badge-info"> --> <%#= convert_thai_date(plan['master_plan']['enddate']&.in_time_zone&.to_date,'default') rescue nil %><!-- </span> -->
                                               <%  url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{params['id']}/check_plan_report_approve_status")
                                               @check_plan_report_approve_status = request_api(url, "get", nil)
                                               #ตรวจสอบการ Approve จาก หัวหน้า กพร หน้า Plan Report ของ ระบบ KPI, KM เพิ่อปิดปุม การแก้ไขใน Task รายงานผลการดำเนินงาน
                                           %>

                                        
                                                <% list['tasks'].each do |task| %>
                                                       
                                                    <%# if @check_plan_approve_status['data'] == true  %>
                                                    <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'r' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: task['id'], params: "plan_report_id=#{params[:plan_report_id]}&list_id=#{list['id']}&original_url=#{request.path}&print=true"} if params[:print] == 'true' %>
                                                    <%# else %>
                                                    <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'udr' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: task['id'], params: "plan_report_id=#{params[:plan_report_id]}&list_id=#{list['id']}&original_url=#{request.path}"} if params[:print] != 'true' %>
                                                    <%# end %>

                    
                                                <% end %> 

                                               <!-- </div> -->
                                            </td>

                                            <% else %>

                                             <td>

                                             </td>
                                            <td>
                                        
                                                <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'c' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: nil, params: "plan_report_id=#{params[:plan_report_id]}&list_id=#{list['id']}&original_url=#{request.path}"} if params[:print] != 'true' %>
                                            </td>
                                            <% end %> 


 
                                        </tr>
                                        <% end #end loop category['lists'] %>
                                </tbody>
                        </table>
                </div>

        <hr style="border-bottom: 1px dotted #999999;">
        <p style="page-break-after: always;">&nbsp;</p>
        <% end # end categories %>


<% content_for :footer do %>
<script type="text/javascript">
$(document).ready(function () {
    $('#datatable_<%= plan['data']['id'] rescue nil %>').DataTable({
        responsive: true,
    });
});
</script>
<% end %>
