<%

url = URI("#{$server[@controller_title]}/api/v1/plans/#{params["id"]}/check_plan_approve_status")
@check_plan_approve_status = request_api(url, "get", nil)

#@check_plan_approve_status ="false"
%>

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>


<div class="d-flex justify-content-between">
    <h1 class="fs-1"><%= t(:company_name) %> </h1> 
</div>


        <% plan['categories'].each do |category| %>

       
                <h2><%= category['institution']['title'] %></h2>

                <div class="table-responsive py-5">


                        <table class="table table-bordered table-head-custom" id="datatable_<%= plan['data']['id'] rescue nil %>" role="grid" aria-describedby="">
                                <thead>
                                    <tr class="fw-bolder text-muted">
                                            <th class="min-w-150px"><h6>มิติตัวชี้วัด</h6></th>
                                            <th class="min-w-40px text-center"><h6>ตัวชี้วัดที่</h6></th>
                                            <th class="min-w-200px"><h6>ชื่อตัวชี้วัด</h6></th>
                                            <th class="w-90px text-center"><h6>สรุปผล<br>การดําเนินงาน</h6></th>
                                            <th class="min-w-150px"><h6></h6></th>
                                    </tr>
                                </thead>
                                <tbody>


                                        <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idx| %>
                                          

                     

                                                <!-- Check การเรียกมาจาก Plan_Report ตรวจสอบจาก params[original_url] -->
                                                <% if  params['original_url'].match("/plan_reports/") %>


                                                        <tr style="border-top: 3px solid #cccccc;">
                                                                <td>
                                                                        <h6><%= list['activity']['title'] rescue nil %></h6> 
                                                                        <% url = URI("#{$server[@controller_title]}/api/v1/tasks/get_task_by_list/#{list['id']}/plan_report_id/#{params['plan_report_id']}")
                                                                        @task_list = request_api(url,'get',nil)
                                                                        %>                                               
                                                                       <%  @task_list['data'].each do |task|  %>
                                                                       <% if task['plan_report']['id'] == params['plan_report_id'] %>
                                                                        <span class="badge badge-light"><%= convert_thai_date(task['plan_report']['startdate']&.in_time_zone&.to_date,'default') rescue nil %> ถึง <%= convert_thai_date(task['plan_report']['enddate']&.in_time_zone&.to_date,'default')  rescue nil %></span>
                                                                       <% end %>  <% end %>
                                                                </td>

                                                                <td class="text-center">
                                                                        <%= list['order_sort'] rescue nil %>      
                                                                </td>

                                                                <td>
                                                                    <%= list['id'] rescue nil %>   
                                                                    <%= list['title'] rescue nil %>      
                                                                </td>
                                                              

                                                           
                                                                <td class="text-center">
                                                                <% url = URI("#{$server[@controller_title]}/api/v1/tasks/get_task_by_list/#{list['id']}/plan_report_id/#{params['plan_report_id']}")
                                                                @task_list_data = request_api(url,'get',nil)
                                                                %>                                               
                                                               <%  @task_list_data['data'].each do |task|  %>

                                                               <%# if task['plan_report']['id'] == params['plan_report_id'] %>

                                                                            <%= get_color_kpi(task['task_score_results'][0]['value_second']) rescue nil %>
                                                               
                                                                            <% end %>  
                                                                <%# end %>
                                                                </td>
                    
                                                              


                                                                <td>
                                                                    <!--  <div class="p-2 rounded bg-white shadow-sm"> -->
                                                                    <!-- <span class="badge badge-info"> --><%#= convert_thai_date(plan['master_plan']['startdate']&.in_time_zone&.to_date,'default') rescue nil %><!-- </span> -->
                                                                    <!-- - --> <!-- <span class="badge badge-info"> --> <%#= convert_thai_date(plan['master_plan']['enddate']&.in_time_zone&.to_date,'default') rescue nil %><!-- </span> -->
                                                                    <%  url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{params['id']}/check_plan_report_approve_status")
                                                                            @check_plan_report_approve_status = request_api(url, "get", nil)
                                                                        #ตรวจสอบการ Approve จาก หัวหน้า กพร หน้า Plan Report ของ ระบบ KPI, KM เพิ่อปิดปุม การแก้ไขใน Task รายงานผลการดำเนินงาน
                                                                    %>

                                        

                                                                  
                                                                    <% url = URI("#{$server[@controller_title]}/api/v1/tasks/get_task_by_list/#{list['id']}/plan_report_id/#{params['plan_report_id']}")
                                                                    @get_task_list_data = request_api(url,'get',nil)
                                                                    %>    

                                                                    <% if @get_task_list_data['data'].present? %>
                                                               
                                                                    <%  @get_task_list_data['data'].each do |task|  %>
                                                                           <% if task['plan_report']['id'] == params['plan_report_id'] && task['plan_report']['startdate'].present? %>
                                                                   
                                                                      
                                                                                    <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'r' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: task['id'], params: "plan_report_id=#{params[:plan_report_id]}&list_id=#{list['id']}&original_url=#{request.path}&print=true"} if params[:print] == 'true' && action_name == "tasks" %>
                                                                             

                                                                                    <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'udr' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: task['id'], params: "plan_report_id=#{params[:plan_report_id]}&list_id=#{list['id']}&original_url=#{request.path}"} if params[:print] != 'true' && @check_plan_approve_status['data'] != true  %>
                                                                                    
                                                                                   <% else %>
                                                                                       <% if task['plan_report']['id'] == params['plan_report_id'] %>
                                                                                              <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'c' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: nil, params: "plan_report_id=#{params[:plan_report_id]}&list_id=#{list['id']}&original_url=#{request.path}"} if params[:print] != 'true' %>
                                                                                       
                                                                                          <% elsif (task['plan_report']['id'] != params['plan_report_id']) && (task['plan_report']['startdate']).blank?  %> 

                                                                                            <%=  task['plan_report']['id'] rescue nil  %> 

                                                                  
                                                                                               
                                                                                                <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'c' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: nil, params: "plan_report_id=#{params[:plan_report_id]}&list_id=#{list['id']}&original_url=#{request.path}"} if params[:print] != 'true' %>


                                                                                                <%#= render partial: '/share/block_btn_action_all', locals:{ type_name: 'r' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: task['id'], params: "plan_report_id=#{params[:plan_report_id]}&list_id=#{list['id']}&original_url=#{request.path}&print=true"} if params[:print] == 'true' && action_name == "tasks" %>
                                                                             

                                                                                             <%#= render partial: '/share/block_btn_action_all', locals:{ type_name: 'udr' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: task['id'], params: "plan_report_id=#{params[:plan_report_id]}&list_id=#{list['id']}&original_url=#{request.path}"} if params[:print] != 'true' && @check_plan_approve_status['data'] != true  %>
                                                                                        <% end %>   

                                                                                <% end %>  
                                                                     <% end %>  
                                                                    
                                                                        <% else %>
                                                                    
                                                                              <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'c' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: nil, params: "plan_report_id=#{params[:plan_report_id]}&list_id=#{list['id']}&original_url=#{request.path}"} if params[:print] != 'true' %>
                                                                                
                                                                           
                                                                       <% end %> 

                                                                    <!-- </div> -->
                                                                </td>

                                                       

                                                                <td>

                                                                </td>
                                                   
                                                          

                                                <% elsif params['original_url'].match("/master_plans/") %>

                                                <!-- กรณีเรียกมาจาก Master Plan --->
                                                <%url = URI("#{$server[@controller_title]}/api/v1/tasks/get_task_by_plan_report/#{params['plan_report_id']}")
                                                @task_plan_report = request_api(url,'get',nil)
                                                %>

                                                        <tr style="border-top: 3px solid #cccccc;">
                                                                <td>
                                                                        <h6><%= list['activity']['title'] rescue nil %></h6> 
                                                                        <span class="badge badge-light"><%= convert_thai_date(@task_plan_report['data'][idx]['plan_report']['startdate']&.in_time_zone&.to_date,'default') rescue nil %> ถึง <%= convert_thai_date(@task_plan_report['data'][idx]['plan_report']['enddate']&.in_time_zone&.to_date,'default')  rescue nil %></span>
                                                                </td>

                                                                <td class="text-center">
                                                                        <%= list['order_sort'] rescue nil %>      
                                                                </td>

                                                                <td>
                                                                        <%= list['title'] rescue nil %>      
                                                                </td>


                                                               
                                                    <% if !@task_plan_report['data'][idx].blank? %>
                                                                <td class="text-center">
                                                                   
                                                                        <%= get_color_kpi(@task_plan_report['data'][idx]['task_score_results'][0]['value_second']) rescue nil %>
                                                                   
                                                                </td>

                                                                <td>
                                                                    <!--  <div class="p-2 rounded bg-white shadow-sm"> -->
                                                                    <!-- <span class="badge badge-info"> --><%#= convert_thai_date(plan['master_plan']['startdate']&.in_time_zone&.to_date,'default') rescue nil %><!-- </span> -->
                                                                    <!-- - --> <!-- <span class="badge badge-info"> --> <%#= convert_thai_date(plan['master_plan']['enddate']&.in_time_zone&.to_date,'default') rescue nil %><!-- </span> -->
                                                                    <%  url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{params['id']}/check_plan_report_approve_status")
                                                                        @check_plan_report_approve_status = request_api(url, "get", nil)
                                                                            #ตรวจสอบการ Approve จาก หัวหน้า กพร หน้า Plan Report ของ ระบบ KPI, KM เพิ่อปิดปุม การแก้ไขใน Task รายงานผลการดำเนินงาน
                                                                    %>


                                                                     

                         
                                                                                <%#= render partial: '/share/block_btn_action_all', locals:{ type_name: 'r' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: @task_plan_report['data'][idx]['id'], params: "plan_report_id=#{@task_plan_report['data'][idx]['plan_report_id']}&list_id=#{list['id']}&original_url=#{request.path}&print=true&master_plan=true"} if  params[:print] == 'true' && action_name == "tasks" %>
                                                                         
                                                                                <%#= render partial: '/share/block_btn_action_all', locals:{ type_name: 'udr' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: @task_plan_report['data'][idx]['id'], params: "plan_report_id=#{@task_plan_report['data'][idx]['plan_report_id']}&list_id=#{list['id']}&original_url=#{request.path}"} if params[:print] != 'true' && @check_plan_approve_status['data'] != true  %>
                                                                    

                                                                   

                                                                    <!-- </div> -->
                                                                </td>

                                                    <% else %>

                                                                <td>

                                                                </td>
                                                                <td>

                                                                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'c' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: nil, params: "plan_report_id=#{params[:plan_report_id]}&list_id=#{list['id']}&original_url=#{request.path}"} if params[:print] != 'true' %>
                                                                </td>
                                                    <% end %>


                                                <% end %>  <!-- End Check การเรียกมาจาก Plan_Report ตรวจสอบจาก params[original_url] -->

                                          

                                            </tr>
                                        <% end #end loop category['lists'] %>
                                </tbody>
                        </table>
                </div>

        <hr style="border-bottom: 1px dotted #999999;">
        <p style="page-break-after: always;">&nbsp;</p>
        <% end # end categories %>


<% content_for :footer do %>
<script type="text/javascript">
$(document).ready(function () {
    $('#datatable_<%= plan['data']['id'] rescue nil %>').DataTable({
        responsive: true,
    });
});
</script>
<% end %>
