<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

        <% plan['categories'].each do |category| %>
            <% category['lists'].each do |list| %>
                <% list['tasks'].each do |task| %>
                    
                   <% url = URI("#{$server[@controller_title]}/api/v1/tasks/#{task['id']}")
                    @task = request_api(url, "get", nil)
                    %>
                
            <!--begin::Card Body-->
            <div class="container-fluid">
            <div class="card-body">
            <div class="row">
            <div class="col-md-12">
                <div class="card card-custom gutter-b example example-compact">
                    <div class="">
                        <span class="text-muted">แบบฟอร์มรายงานการประเมินส่วนราชการ ตามนโยบายกระทรวงยุติธรรม กรมคุ้มครองสิทธิและเสรีภาพ ประจําปีงบประมาณ พ.ศ. <%= @task['data']['plan_report']['master_plan']['period_year']&.to_date&.year + 543 rescue nil %></span>
                    </div>
                <table class="table table-bordered">

                    <tr>
                        <td>
                            <b class="fs-3">รายงานผลการปฏิบัติราชการตามนโยบายกระทรวงยุติธรรม</b> <br> (รายตัวชี้วัด)         
                        </td>
                        <td>
                      <div class="my-2"><b>ประจําเดือน</b></div>
                            <div class="my-2">
                                <span class="badge badge-light"> <%= convert_thai_date(@task['data']['plan_report']['startdate']&.in_time_zone&.to_date,'default') rescue nil   rescue nil %> <%= convert_thai_date(@task['data']['plan_report']['enddate']&.in_time_zone&.to_date,'default') rescue nil  %></span>
                            </div>
                            <div>(แบบสะสม)</div>
                        </td>
                    </tr>

                    <tr>
                    <td colspan="2">
                        <div class="my-2">
                       
                            <b>ชื่อตัวชี้วัดที่ </b>
                            <% if @task['data'].present? %>
                            <b>ชื่อตัวชี้วัดที่ <%= @task['data']['list']['order_sort'].to_i rescue nil %> :</b>
                            <div><%= @task['data']['list']['title'] rescue nil %></div>
                       
                        <% end %>  

                        </div>
            
                    </td>
                </tr>

                <tr>
                <td colspan="5">
                <table class="table table-bordered">
                         <tr>
                            <td style="width:50%">
                                <div class="my-2">
                                    <b> ค่าเป้าหมาย 6 เดือน </b>
                                </div>
                                <% if @task['data'].present? %>
                                    <%  @task['data']['list']['list_kpi_half_years'].each do |list_kpi_half_year| %>
                           
                                <% if (list_kpi_half_year['kpi_value_unit'].include?'ร้อยละ') == true %>
                                        <%= list_kpi_half_year['title'].remove('-') %> <%= list_kpi_half_year['kpi_value_unit'].remove('-') %> <span class="badge badge-light"><%= strip_trailing_zero(list_kpi_half_year['kpi_value']) rescue nil %></span> 
                                <% else %>
                                        <%= list_kpi_half_year['title'].remove('-') %>  <span class="badge badge-light"><%= strip_trailing_zero(list_kpi_half_year['kpi_value']) rescue nil %></span> <%= list_kpi_half_year['kpi_value_unit'].remove('-') %>
                                <% end %>

                                    <% end %>
                                <% end %>
                          
            
                            </td>
                            <td style="width:50%">
                                <div class="my-2">
                                    <b> ค่าเป้าหมาย 12 เดือน </b>
                                </div>
                                <% if @task['data'].present? %>
                                    <%  @task['data']['list']['list_kpi_full_years'].each do |list_kpi_full_year| %>
                
                                        <% if (list_kpi_full_year['kpi_value_unit'].include?'ร้อยละ') == true %>
                                           <%= list_kpi_full_year['title'] rescue nil %> <%= list_kpi_full_year['kpi_value_unit'].remove('-') %> <span class="badge badge-light"><%= strip_trailing_zero(list_kpi_full_year['kpi_value']) rescue nil %></span> 
                                        <% else %>
                                           <%= list_kpi_full_year['title'] rescue nil %> <span class="badge badge-light"><%= (list_kpi_full_year['kpi_value']) rescue nil %> </span> <%= list_kpi_full_year['kpi_value_unit'].remove('-') %>
                                        <% end %>
                                    <% end %>
                                <% end %>
                        
                            </td>
                        </tr>
                    </table>
                </td>
                </tr>
                <tr>
                <td>
                    <b>ผู้กํากับดูแลตัวชี้วัด :</b>
                    <ul> 
                    <% if @task['data'].present? %>
                        <% @task['data']['list']['list_kpi_owners'].each do |list_kpi_owner| %>
                            <li>
                               
                                <%= list_kpi_owner['devision_director']['title'] rescue nil %>
                                <div><b>เบอร์โทรศัพท์ : </b><%= list_kpi_owner['devision_director']['phone'] rescue nil %></div>
                            </li>
                        <% end %>
                    <% end %>
                    </ul>
                </td>
                <td>
                    <b>ผู้จัดเก็บข้อมูล :</b>
                    <ul> 
                    <% if @task['data'].present? %>
                        <% @task['data']['list']['list_kpi_persons'].each do |list_kpi_person| %>
                            <li>
                                <%= list_kpi_person['title'] rescue nil %>
                                <div><b>เบอร์โทรศัพท์ :</b> <%= list_kpi_person['phone'] rescue nil %></div>
                            </li>
                        <% end %>
                    <% end %>
                    </ul>
                </td>
            </tr>
        

    <tr>
    <td colspan="2">
        <div class="my-2"><b>ข้อมูลผลการดําเนินงาน :</b></div>
        <div class="my-2">

                <textarea readonly="true" style= "background-color: white" class="form-control my-3 no-gray" rows="4" cols="40" name="task[task_results_attributes][0][title]"><%= @task['data']['task_results'][0]['title'] rescue nil %></textarea>

        </div>

    </td>
</tr>



<tr>
<td colspan="2">
    <div class="my-2"><b><%= t(:scoring_criteria) %> :</b></div>
    <div class="my-2">
        <%= @task['data']['list']['list_scores'][0]['title'] rescue nil %>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">1</th>
                    <th class="text-center">2</th>
                    <th class="text-center">3</th>
                    <th class="text-center">4</th>
                    <th class="text-center">5</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">
<% if (@task['data']['list']['list_scores'][0]['unit_first'].include?'ร้อยละ') == true %>
                    <%= @task['data']['list']['list_scores'][0]['title_first'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_first'].remove('-') rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_first']) rescue nil %></td>
<% else %>
                    <%= @task['data']['list']['list_scores'][0]['title_first'] rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_first']) rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_first'].remove('-') rescue nil %></td>
<% end %>

<% if (@task['data']['list']['list_scores'][0]['unit_second'].include?'ร้อยละ') == true %>
                    <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_second'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_second'].remove('-') rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_second']) rescue nil %></td>
<% else %>
                    <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_second'] rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_second']) rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_second'].remove('-') rescue nil %></td>
<% end %>

<% if (@task['data']['list']['list_scores'][0]['unit_third'].include?'ร้อยละ') == true %>
                    <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_third'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_third'].remove('-') rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_third']) rescue nil %> </td>
<% else %>
                    <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_third'] rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_third']) rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_third'].remove('-') rescue nil %></td>
<% end %>
<% if (@task['data']['list']['list_scores'][0]['unit_fourth'].include?'ร้อยละ') == true %>
                    <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_fourth'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_fourth'].remove('-') rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_fourth']) rescue nil %></td>
<% else %>
                    <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_fourth'] rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_fourth']) rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_fourth'].remove('-') rescue nil %></td>
<% end %>

<% if (@task['data']['list']['list_scores'][0]['unit_fifth'].include?'ร้อยละ') == true %>
                    <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_fifth'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_fifth'].remove('-') rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_fifth']) rescue nil %></td>
<% else %>
                    <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_fifth'] rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_fifth']) rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_fifth'].remove('-') rescue nil %></td>
<% end %>
                </tr>
            </tbody>
        </table>
    </div>
    </td>
</tr>

<!-- =================== -->



<tr>
<td colspan="2">
    <div class="my-2"><b>การคํานวณคะแนนจากผลการดําเนินงาน :</b></div>
    <div class="my-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ตัวชี้วัด/ข้อมูลพื้นฐานประกอบตัวชี้วัด</th>
                    <th style="width: 150px;">ค่าเป้าหมาย<br>(ร้อยละ)</th>
                    <th style="width: 150px;">ผลการ<br>ดําเนินงาน</th>
                    <th style="width: 150px;">สรุปผลการ<br>ดําเนินงาน</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= @task['data']['list']['title'] rescue nil %></td>
                    <td>
                    <% if (@task['data']['list']['list_scores'][0]['unit_third'].include?'ร้อยละ') == true %>
                        <%= @task['data']['list']['list_scores'][0]['title_third'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_third'].remove('-') rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_third']) rescue nil %> 
                    <% else %>
                        <%= @task['data']['list']['list_scores'][0]['title_third'] rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_third']) rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_third'].remove('-') rescue nil %>
                    <% end %>

                    </td>
                    <td>
                        <% if @task && !@task['data'].blank? && !@task['data']['task_score_results'].blank? && !@task['data']['task_score_results'][0].blank? && !@task['data']['task_score_results'][0]['id'].blank? %>
                            <input type="hidden" name="task[task_score_results_attributes][0][id]" value="<%= @task['data']['task_score_results'][0]['id'] rescue nil %>">
                        <% end %>

                        <input readonly="true" style= "background-color: white" type="text" class="form-control m-3" placeholder="จำนวน" name="task[task_score_results_attributes][0][value_first]" value= "<%= strip_trailing_zero(@task['data']['task_score_results'][0]['value_first']) rescue nil %>" >
                    </td>
                    <td>


                        <input readonly="true" style= "background-color: white" type="number" class="form-control m-3" min=0 max=5 placeholder="ระดับ 1-5" name="task[task_score_results_attributes][0][value_second]" value= "<%= strip_trailing_zero(@task['data']['task_score_results'][0]['value_second']) rescue nil %>" >

                        <span class="text-muted">* หากไม่ระบุค่าใน “สรุปผลการดำเนินงาน”
ตัวชี้วัดนี้จะอยู่ในสถานะ “อยู่ระหว่างดำเนินการ”</span>
                    </td>

                </tr>



                <tr>
                <td colspan="4">
                    <div class="my-2"><b>สูตรการคํานวณ : (ถ้ามี)</b></div>
                    <div class="my-2">
        
        
                        <% @task['data']['list']['list_formulas'].each do |list_formula| %>
                            <div class="p-3">
                                <%= list_formula['title'] rescue nil %>
                            </div>
                            <div class="p-3">
                                <% if !list_formula['image_data'].blank? %>
                                    <a href="<%= $server[@controller_title] %>/<%= list_formula['image_url_original'] %>" target="_blank">
                                        <img src="<%= $server[@controller_title] %>/<%= list_formula['image_url_original'] %>" class="img-thumbnail" />
                                    </a>
                                <% end %>
                            </div>
                        <% end %>

                    </div>
                </td>
            </tr>
        
        
            <tr>
            <td colspan="4">
                <div class="my-2"><b>คําชี้แจงการปฏิบัติงาน/มาตรการที่ได้ดําเนินการ :</b></div>
                <div class="my-2">
    
    
    <!-- ======================================== begin :: Task Attechment 1 ===================================================-->
    <!--begin::table-responsive py-5 -->
    <div class="table-responsive py-5">
        <table id="task_statement_items" class="table table-bordered">
            <thead>
                <tr>
                    <th><%= t(:attachment) %></th>
                    <th><%= t(:detail) %></th>
                  
                </tr>
            </thead>
            <tbody>
        <% 
            task_statement_sub_item_size = 0
            list_kpi_sub_item_size = 0
            if @task && @task['data'] && @task['data']['task_statements']
                list_kpi_sub_item_size = @task['data']['task_statements'].size.to_i
        %>
            <% @task && @task['data']['task_statements'].each_with_index do |task_statement_sub_item,idx|  %>
                <tr id="task_statements_items<%= idx %>">
                    <td style="width: 100px;">
                        <% if !task_statement_sub_item['image_data'].blank? && !task_statement_sub_item['image_data'].blank? %>
                        <a href="<%= $server[@controller_title] %>/<%= task_statement_sub_item['image_url_original'] %>" target="_blank">
                        <% file_type = JSON.parse(item['image_data'])['original']['metadata']['mime_type'] rescue nil %>
                        <% if file_type == 'image/jpeg' || file_type == 'image/png' || file_type == 'image/gif' %>
                          <img src="<%= $server[@controller_title] %><%= task_statement_sub_item['image_url_original'] %>" class="img-thumbnail" />
                        <% else %>
                          <i class="fas fa-file-alt fa-3x p-5 card text-center"></i> 
                        <% end %>
                        </a>
                     <% end %>
                        
                    </td>
    
                    <td>
                        <textarea readonly="true" style= "background-color: white" class="form-control" name="task[task_statements_attributes][<%= idx %>][title]" rows="3" cols="50"><%= task_statement_sub_item['title'] %></textarea>
                    </td>

                                                  
                </tr>
            <% end %>
        <% end %>
                                                  
                                                  
            </tbody>
        </table>
    
        
       
       
    
    
    <br/>
    
    
    
    
    
                </div>
                <!--end::table-responsive py-5 -->
    <!-- ======================================== end :: Task Attachment ===================================================-->
    
    
    
                </div>
            </td>
        </tr>
    
    



            </tbody>
        </table>
    </div>
</td>
</tr>

<tr>
<td colspan="2">
    <div class="my-2"><b>ปัจจัยสนับสนุนต่อการดําเนินงาน : </b></div>
    <div class="my-2">

        <textarea readonly="true" style= "background-color: white" class="form-control my-3" rows="4" cols="40" name="task[task_supports_attributes][0][title]"><%= @task['data']['task_supports'][0]['title'] rescue nil %></textarea>

    </div>
</td>
</tr>



<!-- ================== -->  


<tr>
<td colspan="2">
    <div class="my-2"><b>อุปสรรคต่อการดําเนินงาน :</b></div>
    <div class="my-2">


        <textarea readonly="true" style= "background-color: white" class="form-control my-3" rows="4" cols="40"  name="task[task_obstacles_attributes][0][title]"><%= @task['data']['task_obstacles'][0]['title'] rescue nil %></textarea>
    </div>
</td>
</tr>






<tr>
<td colspan="2">
    <div class="my-2"><b>แหล่งฐานอ้างอิง :</b></div>
    <div class="my-2">

        <textarea readonly="true" style= "background-color: white" class="form-control my-3" rows="4" cols="40" name="task[task_data_collectors_attributes][0][title]"><%= @task['data']['task_data_collectors'][0]['title'] rescue nil %></textarea>
    </div>
</td>
</tr>

                </table>
                   
                    </div>
                </div>
            </div>
            </div>
            <!--end::Card Body--> 
            </div>
            <!--end::Card Body--> 
            <% end # end task %>
            <% end # end list %>
        <% end # end categories %>


<% content_for :footer do %>
<script type="text/javascript">
$(document).ready(function () {
    $('#datatable_<%= plan['data']['id'] rescue nil %>').DataTable({
        responsive: true,
    });
});
</script>
<% end %>

