<%
#init

back_url = params['master_plan_id'] if !params['master_plan_id'].blank?
back_url = @plan['data']['master_plan_id'] if @plan && @plan['data'] && !@plan['data']['master_plan_id'].blank?
back_url = params[:original_url] if params[:original_url]


$check_list_datas = nil
url = URI("#{$server[@controller_title]}/api/v1/plans/#{params["id"]}/check_plan_approve_status")
@check_plan_approve_status = request_api(url, "get", nil)
#@check_plan_approve_status == false สถานะเมื่อหัวหน้า approve จะทำการ lock control

#Check การกำหนดผู้ใช้งาน

$plan_user_assign_status = '1' # กำหนดผู้ใช้งาน หรือ กำหนดครบสถานะ เป็น 1
url = URI("#{$server[@controller_title]}/api/v1/plans/#{@plan['data']['id']}/plan_users")
@plan_users = request_api(url,'get',nil)

%>
<% @plan_users['data'].each do |plan_user| %>
    

       
        <!--ตรวจสอบการกำหนดผู้ใช้งานหน้าแผน ต้องกำหนดให้ครบ ถ้าไม่ครบระบบจะยอมให้กดส่งข้อมูล -->
        <% if plan_user['user_id'].nil? %> 
             <%  $plan_user_assign_status = '0' %> <!-- 0 สถานะกำหนด ผู้ใช้งานไม่ครบ หรือยังไม่ได้กำหนด -->

        <% end %>
        
<% end %>



<div class="container-fluid">
        <div class="d-flex justify-content-between">

                <%= link_to "/#{gen_form[0]}/master_plans/#{back_url}", class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
                <% end %>
        </div>



        <%#= render partial: '/share/block_btn_action_all', locals:{ type_name: 'add-only' ,master_plan_id: (@plan['data']['master_plan_id']  rescue nil), model_name: 'categories', model_title: '', id: nil, params: "plan_id=#{@plan['data']['id'] rescue nil}"} %>    
       
        <% if @plan && !@plan['data'].blank? %>
       
        <% @plan['data']['categories'].sort_by{|i| i['order_sort'].to_i}.each do |category| %>
    
                <div class="card-show">
                <div class="d-flex justify-content-between">
                        <h3><%= category['institution']['title'] rescue nil %></h3>
                        <% if @check_plan_approve_status['data'] == false  %>
                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: (@plan['data']['master_plan_id']  rescue nil), model_name: 'categories', model_title: '', id: category['id'], params: "plan_id=#{@plan['data']['id'] rescue nil}"} %>
                        <% elsif(@role_title == 'superadmin_role')%>
                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: (@plan['data']['master_plan_id']  rescue nil), model_name: 'categories', model_title: '', id: category['id'], params: "plan_id=#{@plan['data']['id'] rescue nil}"} %>
                        <% end %>
                </div>

                <div class="table-responsive py-5">
                <% if (@check_plan_approve_status['data'] == false) || (@role_title == 'superadmin_role')  %>
                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'add-only' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: 'ตัวชี้วัด', id: nil, params: "category_id=#{category['id']}&original_url=#{request.path}"} %>   
                <% end %>
                        <table class="table table-bordered table-separate table-head-custom table-checkable dataTable no-footer dtr-inline collapsed" id="datatable_1" role="grid" aria-describedby="">
                                <thead>
                                <tr class="fw-bolder text-muted">
                                                <th class="text-center"><h6>ตัวชี้วัดที่</h6></th>
                                                <th class="min-w-200px"><h6>มิติตัวชี้วัด<h6></th>
                                                <th class=""><h6><%= t(:kpi_name) %><h6></th>
                                                <th class="min-w-100px"><h6><%= t(:status) %><h6></th>
                                                <th class="max-w-80px"></th>
                                        </tr>
                                </thead>
                                <tbody>
                                <% if category['lists'].present? %>
                              
                               <% $check_list_datas = '1' %>
                                <% end %>
                                        <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idx| %>
                                                
                                        <tr style="border-top: 3px solid #cccccc;">
                                                <td class="text-center"><%= list['order_sort'] rescue nil %></td>
                                                <td>
                                                        <h6><%= list['activity']['title'] rescue nil %></h6>     
                                                </td>
                                                <td><%= list['title'] rescue nil %>
                                                </td>  

                                                <td></td>      
                                                <td>
                                        
                                                <% if (@check_plan_approve_status['data'] == false) || (@role_title == 'superadmin_role') %>

                                                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'udr' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: 'แบบฟอร์ม', id: list['id'], params: "original_url=#{request.path}"} %>  
                                                <% else %>
                                                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'r' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: 'แบบฟอร์ม', id: list['id'], params: "original_url=#{request.path}"} %> 
                                                <% end  %>
                                                </td>      
                                        </tr>

                                        <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                                        <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><%= get_status_tasks(list_activity['status']) %></td>
                                                <td></td>
                                        </tr>
                                        <% end %>

                                        <% end %>
                                </tbody>
                        </table>
                </div>
                </div>
        <% end %>
        
        <% end %>
       
       <% if $check_list_datas =='1' %> <!-- ถ้ามีข้อมูลใน list ให้แสดง block_comments  block_comments_history -->

            <% if $plan_user_assign_status == '1' %> <!-- Check plan_user_assign ตรวจสอบว่ามีการกำหนดผู้ทำงานหรือยัง ถ้ากำหนดแล้ว ให้สร้างใบ RM 2 ได้-->
                        <%= render partial: '/share/block_comments', locals:{ model_name: 'plan', id: @plan['data']['id']} %>
                        <%= render partial: '/share/block_comments_history', locals:{ model_name: 'plan', id: @plan['data']['id']} %>
        <% else %>
        <br />
        <span class="badge badge-warning">ท่านไม่สามารถส่งข้อมูลได้เนื่องจากยังไม่มีการกำหนดผู้ทำงาน หรือ กำหนดผู้ทำงานยังไม่ครบ</span> 

            <% end %>
       <% end %>
</div>
