<%
#init
if !params['original_url'].blank?
    back_url = params['original_url'] 
else
    back_url = "/#{@controller_title}/pages/dashboards"
end
%>

<div class="container-fluid">
    <div class="d-flex justify-content-end">
        <%= link_to "#{back_url}", class: 'btn btn-light text-end' do %>
            <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
        <% end %>
        
        <!--
        <%= link_to "#", class: 'noprint align-self-center btn btn-lg btn-light mx-1', onclick: 'window.print();' do %> 
            <i class="fa-solid fa-print"></i> <%= t(:print) %>
        <% end %>
    -->
    </div>

    <%= render 'tasks', plan: @plan %>

</div>