<%
#init
#id = SecureRandom.uuid
id = SecureRandom.hex(5)
apex_id = SecureRandom.hex(5)
%>
<div class="">
   <div class="card-header pt-2 pb-4 align-items-center">
      <div class="me-2 w-100">
         <span class="fw-bolder text-gray-800 d-block fs-3"></span>
         <span class="text-gray-400 fw-bold">.</span>
      </div>
   </div>

   <div class="card-body pt-2 pb-4 d-flex justify-content-center">


      <div class="text-center d-flex flex-column mt-10">
           <i class="fas fa-trophy px-2 text-success mb-5" style="font-size: 5rem;"></i> 
           <span class="" style="font-size: 3rem;">ระดับเกณฑ์ :</span>
           <span class="badge badge-success" style="font-size: 5rem;">Advance</span>
       </div>

   </div>
</div>



<% content_for :footer do %>
<script type="text/javascript">

const apexChart_<%= apex_id %> = "#graph-<%= id %>";

var options = {
   series: [50, 100, 150],
   chart: {
      width: '90%',
      type: 'donut',
   },
   labels: ["สำเร็จ", "ไม่สำเร็จ", "กำลังดำเนินการ"],
   responsive: [{
      breakpoint: 480,
      options: {
         chart: {
            width: 300
         },
         legend: {
            position: 'bottom'
         }
      }
   }],
   colors: [primary, success, warning, danger, info]
};

var chart = new ApexCharts(document.querySelector(apexChart_<%= apex_id %>), options);
chart.render();
</script>
<% end %>