<%
#init
#role = render_btn_action_master_plan(model_name, master_plan_id)
model_name = model_name
model_title = model_title
id = id
type_name = type_name


#for check role api
model_id = id
if !id.blank?
    case model_name
    when 'master_plans' || 'master_plan'
        model_name_short = 'master_plan'

    when 'plans'
        model_name_short = 'plan'

    when 'categories' || 'category'
        model_name_short = 'plan'
        url = URI("#{$server[@controller_title]}/api/v1/categories/#{id}?select=plan_id")
        category = request_api(url, "get", nil)
        model_id =  category['data']['plan_id'] if category && !category['data'].blank?

    when 'lists' || 'list'
        model_name_short = 'plan'
        url = URI("#{$server[@controller_title]}/api/v1/lists/#{id}?select=category_id")
        list = request_api(url, "get", nil)

        if list && !list['data'].blank?
            url_category = URI("#{$server[@controller_title]}/api/v1/categories/#{list['data']['category_id']}?select=plan_id")
            category = request_api(url_category, "get", nil)
            model_id =  category['data']['plan_id'] if category && !category['data'].blank?
        end
    end
end
#end check role api

%>


<div class="noprint">

<%
#if check_role($user[session.id.to_s]["#{@controller_title}"]['id'], model_name_short, id) == true || check_role($user[session.id.to_s]["#{@controller_title}"]['id'], model_name_short, id) == 'true' 

#ทำเพื่อไม่ให้ระบบเช็คเรื่องปุ่มไปก่อน ยกเว้น risk
#if (check_role($user[session.id.to_s]["#{@controller_title}"]['id'], model_name_short, model_id) == true || check_role($user[session.id.to_s]["#{@controller_title}"]['id'], model_name_short, model_id) == 'true' ) || (@controller_title == 'km' || @controller_title == 'kpi' || @controller_title == 'pmqa' || @controller_title == 'pmqa_fl' || @controller_title == 'pmqa_fr')
%>




    <% case type_name %>
    <% when 'no-add' %>
    <!-- start no-add -->
        
        <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}/edit?#{params}", class: 'm-2 p-2 btn btn-sm bg-light w-50px h-50px text-center' do %>
            <i class="fas fa-edit align-middle mx-auto"></i> <br>แก้ไข
        <% end %>

        <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}?#{params}", method: :delete, class: 'm-2 p-2 btn btn-sm bg-danger text-white w-50px h-50px text-center',  data: { confirm: 'ต้องการลบใช่หรือไม่?' } do %>
            <i class="fa-regular fa-trash-can text-white align-middle mx-auto"></i> <br>ลบ
        <% end %>

        <%= link_to "/#{@controller_title}/#{model_name}/#{id}?#{params}", class: 'm-2 p-2 align-self-center btn btn-sm bg-info text-white w-50px h-50px text-center', target: '_blank' do %>
            <i class="fa-solid fa-eye text-white align-middle mx-auto"></i> <br>ดู
        <% end %>

    <!-- end no-add -->




    <% when 'add-only' %>
    <!-- start no-add -->

         <%= link_to "/#{gen_form[0]}/#{model_name}/new?#{params}", class: 'm-2 p-2  align-self-center btn btn-sm bg-primary text-white min-w-80px' do %>
            <i class="fa-solid fa-circle-plus text-white"></i> เพิ่ม<%= model_title %>
        <% end %>

    <!-- end no-add -->



    <% else %>
    <!-- start else -->



    <% type_name.split("").each do |sub_name| %>
        <% if sub_name == 'c' %>
            <%= link_to "/#{gen_form[0]}/#{model_name}/new?#{params}", class: 'm-2 p-2  align-self-center btn btn-sm bg-primary text-white min-w-80px' do %>
                <i class="fa-solid fa-circle-plus text-white"></i> เพิ่ม<%= model_title %>
            <% end %>
        <% end %>

        <% if sub_name == 'u' %>
            <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}/edit?#{params}", class: 'm-2 p-2 btn btn-sm bg-light w-50px h-50px text-center' do %>
                <i class="fas fa-edit align-middle mx-auto"></i> <br>แก้ไข
            <% end %>
        <% end %>

        <% if sub_name == 'd' %>
            <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}?#{params}", method: :delete, class: 'm-2 p-2 btn btn-sm bg-danger text-white w-50px h-50px text-center',  data: { confirm: 'ต้องการลบใช่หรือไม่?' } do %>
                <i class="fa-regular fa-trash-can text-white align-middle mx-auto"></i> <br>ลบ
            <% end %>
        <% end %>

        <% if sub_name == 'r' %>
            <%#= link_to "/#{@controller_title}/#{model_name}/#{id}?#{params}", class: 'm-2 p-2 align-self-center btn btn-sm bg-info text-white w-50px h-50px text-center' do %>
            <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}?#{params}", class: 'm-2 p-2 align-self-center btn btn-sm bg-info text-white w-50px h-50px text-center' do %>
                <i class="fa-solid fa-eye text-white align-middle mx-auto"></i> <br>ดู
            <% end %>
        <% end %>

        <% if sub_name == 'h' %>
            <%= link_to "/#{@controller_title}/#{model_name}/history/#{id}?#{params}", class: 'm-2 p-2 align-self-center btn btn-sm bg-light text-white w-50px h-50px text-center' do %>
                <i class="fa-solid fa-clock-rotate-left align-middle mx-auto"></i> <br><%= t(:history_action) %>
            <% end %>
        <% end %>
    <% end %>
       


    <!-- end else -->
    <% end %>







<%# end #end check_role %>





</div>