<div id="block_comments" class="row">

	<div class="col-sm-12">

		<div class="card-show">

			<h2 class="">แจ้งข้อเสนอแนะ</h2>

<%
#init
url = URI("#{$server[@controller_title]}/api/v1/#{model_name}s/get_user_active/#{params[:id]}")
@get_user_active = request_api(url,'get',nil)
%>

<%#= @get_user_active['data'] %>

<% if @get_user_active && !@get_user_active['data'].blank? %>



			<%= form_for("#{model_name}_user", url: "/mains/set_user_active/#{@get_user_active['data']['id']}" , method: :patch) do |f| %>
			<%#= form_for("#{model_name}_user", url: "#{$server[@controller_title]}/api/v1/#{model_name}s/get_user_active/#{@get_user_active['data']['id']}" , method: :patch) do |f| %>
			<div class="py-5 d-flex">
				
				<div class="menu-content d-flex-md align-items-top px-3">
	               <div class="symbol symbol-50px me-5">
	                  <img alt="Logo" src="/assets/base2/media/avatars/150-2.jpg" />
	               </div>

	               <div class="d-flex" style="min-width: 100px;">
	                	<div class="fw-bolder align-items-center fs-5">
	                		<% if !@get_user_active['data']['user'].blank? %>
	                		<div><%= @get_user_active['data']['user']['firstname'] %> <%= @get_user_active['data']['user']['lastname'] %></div>
	                		<% end %>
	                		<div class="fw-bold badge badge-primary fs-7"><%= @get_user_active['data']['user_role']['title'] %></div>
	              		</div>
	               </div>
	            </div>


	            <div class="w-100">
	            	<textarea name="<%= model_name %>_user[description]" rows="10" cols="30" required="true" class="form-control" ></textarea>

	            	<div class="my-2">
	            		<input id="photo-upload-result-1" type="hidden" name="<%= model_name %>_user[image]">

	            		<input accept="image/jpeg,image/jpg,image/png,image/gif,application/pdf,application/powerpoint,application/vnd.ms-powerpoint,application/vnd.ms-office,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/x-zip,application/zip,application/x-zip-compressed,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-7z-compressed" data-upload-server="" data-preview-element="preview-photo-1" data-upload-result-element="photo-upload-result-1" id="input-task_attachment_items_row-1" class="" type="file">

	            		<div class="d-block mb-2">
	            			<img id="preview-photo-1" class="img-thumbnail" />
	            		</div>

	            		<script type="text/javascript">
	            			function normal_fileUpload(fileInput) {
		                        var imagePreview = document.getElementById(fileInput.dataset.previewElement)

		                        fileInput.style.display = 'none'

		                        var uppy = Uppy.Core({
		                            id: fileInput.id,
		                            restrictions: {
		                              allowedFileTypes: fileInput.accept.split(','),
		                            }
		                          })
		                          .use(Uppy.FileInput, {
		                            target: fileInput.parentNode,
		                          })
		                          .use(Uppy.Informer, {
		                            target: fileInput.parentNode,
		                          })
		                          .use(Uppy.ProgressBar, {
		                            target: imagePreview.parentNode,
		                          })

		                        

		                        uppy.use(Uppy.XHRUpload, {
		                            endpoint: '<%= $server[@controller_title] %>/upload', // Shrine's upload endpoint
		                            fieldName: 'file',
		                          })



		                        uppy.run()

		                        uppy.on('upload-success', function (file, data, uploadURL) {
		                          // show image preview
		                          imagePreview.src = URL.createObjectURL(file.data)
		                          imagePreview.href = URL.createObjectURL(file.data) 
		                          imagePreview.style = 'display: block;'
		                          $('#' +imagePreview.id + '-title').val(file.name)
		                          $('#task_attach_btn_save').css('display', 'block');
		                          

		                          var uploadedFileData = JSON.stringify(data)

		                          var hiddenInput = document.getElementById(fileInput.dataset.uploadResultElement)
		                          hiddenInput.value = uploadedFileData
		                        })

		                        return uppy
		                      }



		                   //for Button Choose upload image
		                   fileInput = document.querySelector('#input-task_attachment_items_row-1');
		                   normal_fileUpload(fileInput);
	            		</script>

	            	</div>



	            	<%= f.hidden_field "#{model_name}_user[user_id]", value: @get_user_active['data']['user_id'] %>
	            	<%= f.hidden_field "#{model_name}_user[biz_id]", value: $user[session.id.to_s][@controller_title]['biz_id'] %>
	            	<%= f.hidden_field "#{model_name}_user[#{model_name}_id]", value: params[:id] %>
	            	<%= hidden_field_tag "server_url", $server[@controller_title] %>
	            	<%= hidden_field_tag "model_name", model_name %>


	            	<div class="my-10">

	            		<div class="radio-inline fs-1">
							<label class="radio radio-lg radio radio-lg btn-lg bg-danger text-white">
								<%= f.radio_button :status, 'not-approve', required: true %>
								ไม่อนุมัติ
							</label>

							<label class="radio radio-lg radio radio-lg btn-lg bg-success text-white">
								<%= f.radio_button :status, 'approved', required: true %>
								อนุมัติ
							</label>

							<label class="radio radio-lg radio radio-lg btn-lg bg-primary text-white">
								<%= f.radio_button :status, 'completed' %>
								ยืนยันการเสร็จสิ้น
							</label>
							
							<%= f.submit t(:saves), class: "btn-lg btn-info mx-2", data: {confirm: "โปรดยืนยันอีกครั้ง"} %>
						</div>

						

	            	</div>

	            	<%# if controller_path == 'km/master_plans' %>
						<%#= render '/share/block_approve' %>
					<%# end %>

					<!--
	            	<div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none mt-5">
	                    <%#= f.submit t(:saves), class: "btn btn-info" %>
	                </div>
	            	-->


	            </div>


			</div>
			<% end %>


			<% end #end !@mpu_current_action.blank? %>


		</div>
	</div>
</div>