
<%
model_name = model_name
id = id
params_name = nil



#for check role api
model_id = id
if !id.blank?

  

    case model_name
    when 'master_plans' || 'master_plan'
        model_name_short = 'master_plan'

    when 'plans'
        model_name_short = 'plan'

    when 'categories' || 'category'
        model_name_short = 'plan'
        url = URI("#{$server[@controller_title]}/api/v1/categories/#{id}?select=plan_id")
        category = request_api(url, "get", nil)
        model_id =  category['data']['plan_id'] if category && !category['data'].blank?

    when 'lists' || 'list'
        model_name_short = 'plan'
        url = URI("#{$server[@controller_title]}/api/v1/lists/#{id}?select=category_id")
        list = request_api(url, "get", nil)

        if list && !list['data'].blank?
            url_category = URI("#{$server[@controller_title]}/api/v1/categories/#{list['data']['category_id']}?select=plan_id")
            category = request_api(url_category, "get", nil)
            model_id =  category['data']['plan_id'] if category && !category['data'].blank?
        end
    end
end
#end check role api

%>

<!-- ลูกค้าขอให้ admin กองเห็น การกำหนดสิท เฉพาะ กองตัวเอง -->
<% if controller_name != 'plan_reports' %>
<!-- ลูกค้าขอให้มี ผู้ดูแลระบบสูงสุดและ admin เห็นเท่านั้นในส่วนของ flow เล็ก การกำหนดการทำงาน 16/12/2022 -->
    <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>
        <%= link_to "/#{gen_form[0]}/plan_users?plan_id=#{id}&original_url=#{request.path}", class: 'align-self-center btn btn-sm bg-light m-3 mx-0' do %>
            <i class="fas fa-user-circle fs-1"></i> <%= t(:assign_workers) %>
        <% end %>
    <% end %>  <!-- end superadmin_role -->
<% end %> <!-- End if plan_reports -->

<%
#if check_role($user[session.id.to_s]["#{@controller_title}"]['id'], model_name_short, id) == true || check_role($user[session.id.to_s]["#{@controller_title}"]['id'], model_name_short, id) == 'true' 

#ทำเพื่อไม่ให้ระบบเช็คเรื่องปุ่มไปก่อน ยกเว้น risk
#if (check_role($user[session.id.to_s]["#{@controller_title}"]['id'], model_name_short, model_id) == true || check_role($user[session.id.to_s]["#{@controller_title}"]['id'], model_name_short, model_id) == 'true' )  || (@controller_title == 'kpi')


if (check_role($user[session.id.to_s]["#{@controller_title}"]['id'], model_name_short, model_id) == true || check_role($user[session.id.to_s]["#{@controller_title}"]['id'], model_name_short, model_id) == 'true' )
%>

              
                <% if controller_name == 'master_plans' %>

                
               

                    <% case @controller_title %>
                    <% when 'km' %>
                        <%
                   
                             url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{id}/check_plan_approve_status")
                            @check_plan_approve_status = request_api(url, "get", nil)


                        %>
                   
                            <% if @check_plan_approve_status['data'] == false %>
                                 <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}/edit?#{params_name}", class: 'm-2 p-2 align-self-center btn btn-sm bg-light w-70px' do %>
                                    <i class="fas fa-edit"></i> <%= t(:edit) %>
                                <% end %>
                             <% end %>  <!-- End if check_plan_approve_status -->

                       <% else %>

                    <% end %> <!-- End else Case when -->
    
        



                                <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}?#{params_name}", class: 'm-2 p-2 align-self-center btn btn-sm btn-success w-120px' do %>
                                    <i class="fas fa-edit"></i><%= t(:makedata) %>
                                <% end %>

 
                    
                                <% if  (@controller_title == 'kpi' || @controller_title == 'km' || @controller_title == 'risk') %>
                                    <!--  @check_plan_approve_status == false สถานะเมื่อหัวหน้า approve จะทำการ lock control -->
                                    <%
                   
                                        url = URI("#{$server[@controller_title]}/api/v1/plans/#{id}/check_plan_approve_status")
                                        @check_plan_approve_status = request_api(url, "get", nil)


                                    %>
                                    <% if (@check_plan_approve_status['data'] == false) || (@role_title == 'superadmin_role') %>  <!-- กรณีที่ยังไม่มีการส่งไปอนุมัติ หรือ สิทธิ์ผู้ใช้งานเป็นระดับ SuperAdmin ให้สามารถลบข้อมูลได้ -->
                                            <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}?#{params_name}", method: :delete, class: 'm-2 p-2 align-self-center btn btn-sm bg-danger text-white w-70px',  data: { confirm: 'ต้องการลบใช่หรือไม่?' } do %>
                                                <i class="fa-regular fa-trash-can text-white"></i> <%= t(:delete) %>
                                            <% end %> 
                                    <% end %>
                       
                                <% end %> <!-- end controller_title == kpi -->

                    
                <% else %>
               
                            <%  url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{params['id']}/check_plan_report_approve_status")
                                @check_plan_report_approve_status = request_api(url, "get", nil)
                                #ตรวจสอบการ Approve จาก หัวหน้า กพร หน้า Plan Report ของ ระบบ KPI, KM เพิ่อปิดปุม การแก้ไขใน Task รายงานผลการดำเนินงาน
                            %>
                

                            <% #if @check_plan_report_approve_status['data'] == false %>
                                <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}/tasks?plan_report_id=#{params[:id]}&original_url=#{request.path}", class: 'm-2 p-2 align-self-center btn btn-sm btn-warning w-120px' do %>
                                    <i class="fas fa-edit"></i> <%= t(:task_resoults) %>
               
                            <%# end %>

                                <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}", method: :delete, class: 'm-2 p-2 align-self-center btn btn-sm bg-danger text-white w-70px',  data: { confirm: 'ต้องการลบใช่หรือไม่?' } do %>
                                    <i class="fa-regular fa-trash-can text-white"></i> <%= t(:delete) %> 
                                <% end %> 
                            <% end %>
                <% end %> <!-- End if Master_Plan -->





<% end #end check_role %>



<% if controller_name == 'master_plans' && @controller_title == 'pmqa' %>
    <%= link_to "/#{gen_form[0]}/#{model_name}/print/#{id}?original_url=#{request.path}&print=true", class: 'm-2 p-2 align-self-center btn btn-sm bg-info text-white w-70px' do %>
        <i class="fa-solid fa-eye text-white"></i> <%= t(:view) %>
    <% end %>
    <!-- check view from  master plan km -->

<% elsif controller_name == 'master_plans' && @controller_title == 'km' %>
    <%= link_to "/#{gen_form[0]}/#{model_name}/view/#{id}?original_url=#{request.path}", class: 'm-2 p-2 align-self-center btn btn-sm bg-info text-white w-70px' do %>
        <i class="fa-solid fa-eye text-white"></i> <%= t(:view) %>
    <% end %>


    <% elsif controller_name == 'plan_reports' && @controller_title == 'kpi' %>

    <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}/tasks?plan_report_id=#{params[:id]}&original_url=#{request.path}&print=true", class: 'm-2 p-2 align-self-center btn btn-sm bg-info text-white w-70px' do %>
        <i class="fa-solid fa-eye text-white"></i> <%= t(:view) %>
       
    <% end %>

<% elsif controller_name == 'master_plans' && @controller_title == 'kpi' %>

<%= link_to "/#{gen_form[0]}/#{model_name}/#{id}/tasks?plan_report_id=#{params[:id]}&original_url=#{request.path}&print=true", class: 'm-2 p-2 align-self-center btn btn-sm bg-info text-white w-70px' do %>
<i class="fa-solid fa-eye text-white"></i><%= t(:view) %>

<% end %>

<% else %>



<%= link_to "/#{gen_form[0]}/#{model_name}/#{id}/tasks?plan_report_id=#{params[:id]}&original_url=#{request.path}&print=true", class: 'm-2 p-2 align-self-center btn btn-sm bg-info text-white w-70px' do %>
<i class="fa-solid fa-eye text-white"></i><%= t(:view) %>
    <% end %>

    <% end %>
<%= link_to "/#{gen_form[0]}/#{model_name}/history/#{id}?original_url=#{request.path}", class: 'm-2 p-2 align-self-center btn btn-sm bg-light w-70px' do %>
    <i class="fa-solid fa-clock-rotate-left align-middle mx-auto"></i> <%= t(:history) %>
<% end %>

