<%
#init
params = params
%>


<h3><%= t(:history_action) %></h3>
<%
#@items = Ahoy::Event.where_properties(path_parameters: {id: params[:id].to_s})
#Ahoy::Event.group("properties -> 'session_id'").count

@items = Ahoy::Event.where_properties(path_parameters: {id: params[:id].to_s}).limit(20)
#@items = Ahoy::Event.where_properties(query_string: {original_url: "/km/plans/#{params[:id].to_s}"})




#@items = Ahoy::Event.where("properties ->> :key LIKE :value", key: "original_url", value: "%#{params[:id].to_s}%")

#@items = Ahoy::Event.where("properties ->> 'text' = 'View'")

#{"path"=>"/pmqa/list_activity_items/C301E6BE-D03F-4834-B196-9E72C19DF3D6/edit", "action"=>"edit", "user_id"=>"FF398529-36B5-40F5-8C4B-9B967A87E8C3", "user_name"=>"ศุภชัย เอี่ยมสุข", "system_name"=>"pmqa/list_activity_items", "query_string"=>{"original_url"=>"/pmqa/plans/D281E129-9ADB-463F-A474-99789822DAF5"}, "path_parameters"=>{"id"=>"C301E6BE-D03F-4834-B196-9E72C19DF3D6", "action"=>"edit", "controller"=>"pmqa/list_activity_items"}}

%>

<table id="data_kpis"  class="table table-head-custom table-bordered">
    <thead>
        <tr>
            <th class="min-w-200px"><%= t(:dates) %></th>
            <th class="min-w-250px"><%= t(:user_action) %></th>
            <th class="min-w-100px text-center"><%= t(:action) %></th>
            <th><%= t(:detail) %></th>
        </tr>
    </thead>
    <tbody>
        <% @items.order(time: :desc).each do |item| %>
        <% if item.properties['path_parameters']['action'] != 'history' %>
        <tr>
            <td><%= convert_thai_date(item.time,'long') rescue nil %></td>
            <td><%= item.properties['user_name'] rescue nil %></td>
            <td class="text-center">
                <%#= item.properties['path_parameters'] %>
                <%= get_status_action(item.properties['path_parameters']['action']) rescue nil %>        
            </td>
            <td>
                <%#= item.properties['query_string'] %>
                
                

                <% 
                #action status for list_id
                if !item.properties['query_string']['list_id'].blank?
                    list = nil
                    url = URI("#{$server[@controller_title]}/api/v1/lists/#{item.properties['query_string']['list_id']}")
                    list = request_api(url, "get", nil)
                %>
                    <%= list['data']['title'] rescue nil %> <%= @list['data']['activity']['title'] rescue nil %>
                <% end %>



                <% 
                #action status for list_activity_id
                if !item.properties['query_string']['list_activity_id'].blank?
                    list_activity = nil
                    url = URI("#{$server[@controller_title]}/api/v1/list_activities/#{item.properties['query_string']['list_activity_id']}")
                    list_activity = request_api(url, "get", nil)
                %>
                    <%= list_activity['data']['title'] rescue nil %> 
                <% end %>

                <%= get_status_tasks(item.properties['query_string']['status']) %>

                

                        
            </td>
        </tr>
        <% end %>
        <% end %>
    </tbody>
</table>







<% content_for :footer do %>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">

   
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>


  <script type="text/javascript">
    $(document).ready(function () {
    $('#data_kpis').DataTable({
        dom: 'Bfrtip',
        buttons: [
            //'copy', 'csv', 'excel', 'pdf', 'print'
            'copy', 'csv', 'excel', 'print'
        ],
        columnDefs: [
            { width: 200, targets: 0 }
        ],
        fixedColumns: true,
        initComplete: function () {
            this.api()
                .columns()
                .every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
 
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
 
                    column
                        .data()
                        .unique()
                        .sort()
                        .each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                });
        },
    });
});
  </script>

<% end %>

