<%
item = item
%>
<div>
<%
url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{item['id']}/master_plan_users?order=updated_at&sort=desc&limit=1")
action_user = request_api(url,'get',nil)
%>
<%= t(:status) %><%= t(:latest) %> : 

<% if action_user['data'] && action_user['data'][0] && action_user['data'][0]['status'] != nil %>
<span class="badge  badge-light-warning"><b><%= action_user['data'][0]['user_role']['title'] rescue nil %></b>  <%= action_user['data'][0]['status'] rescue nil %></span>
<% end %>
</div>