<%
#init
#role = render_btn_action_master_plan(model_name, master_plan_id)
model_name = model_name
id = id
%>



<div class="d-flex">
<% if controller_path.split('/')[1] == 'master_plans' %>

    <%= link_to "/#{gen_form[0]}/#{model_name}/new?#{params}", class: 'm-2 p-2  align-self-center btn btn-sm bg-primary text-white w-70px' do %>
        <i class="fa-solid fa-circle-plus text-white"></i> เพิ่ม
    <% end %>

<% elsif controller_path.split('/')[2] == 'plan_reports' && model_name == 'tasks' #เปิดปุ่มให้เพิ่ม task เฉพาะ lists และใน controller plan_reports %>

    <%= link_to "/#{gen_form[0]}/#{model_name}/new?#{params}", class: 'm-2 p-2  align-self-center btn btn-sm bg-primary text-white w-70px' do %>
        <i class="fa-solid fa-circle-plus text-white"></i> เพิ่มรายงาน
    <% end %>


<% elsif controller_path.split('/')[2] == 'master_plans' %>

    <%= link_to "/#{gen_form[0]}/#{model_name}/new?#{params}", class: 'm-2 p-2  align-self-center btn btn-sm bg-primary text-white w-70px' do %>
        <i class="fa-solid fa-circle-plus text-white"></i> เพิ่ม
    <% end %>
        

<% else %>

<%#= controller_path.split('/')[2] %>

<% end %>
</div>