<%
#init
table_name = 'table_1' if table_name.blank?

container_name = 'export_content' if container_name.blank?
 
title = item['data']['id'] if title.blank?
%>



<%= link_to "#", class: 'noprint align-self-center btn btn-lg btn-light mx-1', onclick: "Export2Excel('xls','xls_#{title rescue nil}_#{Time.now.to_i.to_s}');" do %> 
     <i class="far fa-file-excel"></i> <%= t("Excel") %>
<% end %>



<%= link_to "#", class: 'noprint align-self-center btn btn-lg btn-light mx-1', onclick: "Export2Word('#{container_name}', 'doc_#{title rescue nil}_#{Time.now.to_i.to_s}' );" do %> 
     <i class="far fa-file-word"></i> <%= t("Word") %>
<% end %>



<%= link_to "#", class: 'noprint align-self-center btn btn-lg btn-light mx-1', onclick: 'window.print();' do %> 
     <i class="fa-solid fa-print"></i> <%= t(:print) %>
<% end %>




<% content_for :footer do %>
<script type="text/javascript">
  function Export2Excel(type, filename = '', fun, dl) {
    var elt = document.getElementById('<%= container_name %>');
    var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
    return dl ?
        XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
        XLSX.writeFile(wb, fun || ( filename + '.' + (type || 'xls')));
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.min.js"></script>


<script>

    function Export2Word(element, filename = ''){
       var preHtml = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
       var postHtml = "</body></html>";

       var css = (
        '<style>' +
        '@page landscape_A4_page{size: 841.95pt 595.35pt;mso-page-orientation: landscape;}' +
        'div.landscape_A4_page {page: landscape_A4_page;}' +
        '</style>'
      );

       var html = preHtml+document.getElementById(element).innerHTML+postHtml;

       var blob = new Blob(['\ufeff', css + html], {
           type: 'application/msword'
       });
       
       // Specify link url
       var url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html);
       
       // Specify file name
       filename = filename?filename+'.doc':'document.doc';
       
       // Create download link element
       var downloadLink = document.createElement("a");

       document.body.appendChild(downloadLink);
       
       if(navigator.msSaveOrOpenBlob ){
           navigator.msSaveOrOpenBlob(blob, filename);
       }else{
           // Create a link to the file
           downloadLink.href = url;
           
           // Setting the file name
           downloadLink.download = filename;
           
           //triggering the function
           downloadLink.click();
       }
       
       document.body.removeChild(downloadLink);
   }


</script>





<% end %>

