<%
#init
url = URI("#{$server[@controller_title]}/api/v1/mains/get_user_active/#{params[:id]}?model_name=#{model_name}")
@get_user_active = request_api(url,'get',nil)



case model_name
when 'master_plan'
	@title_button = 'แผน'
when 'plan'
	@title_button = 'แผน'
when 'plan_report'
	@title_button = 'รายงาน'
when 'follow_up_control_report'
	@title_button = 'รายงาน'
else
	@title_button = 'รายงาน'
end


@title_button =  title_button rescue 'ข้อมูล'

%>

<% if (@get_user_active && !@get_user_active['data'].blank? && !@get_user_active['data']['user'].blank? && @get_user_active['data']['user']['id'] == $user[session.id.to_s][@controller_title]["id"]) || @role_title == 'superadmin_role' %>
<%# if @get_user_active && !@get_user_active['data'].blank? && !@get_user_active['data']['user'].blank?  %>
<div id="block_comments" class="row">
	<div class="col-sm-12">
			<div class="card-show">


			<% if @get_user_active && @get_user_active['data'] && @get_user_active['data']['id'] %>


			<%= form_for("comment", url: "/mains/set_user_active/#{@get_user_active['data']['id']}" , method: :patch) do |f| %>

			<%#= f.hidden_field "#{model_name}_user[user_id]", value: @get_user_active['data']['user_id'] %>
        	<%#= f.hidden_field "#{model_name}_user[biz_id]", value: $user[session.id.to_s][@controller_title]['biz_id'] %>
        	<%#= f.hidden_field "#{model_name}_user[#{model_name}_id]", value: params[:id] %>
        	<%= hidden_field_tag "server_url", $server[@controller_title] %>
        	<%= hidden_field_tag "model_name", model_name %>
        	<%= hidden_field_tag "original_url", request.path %>




      <h2 class="">ส่งแผนการ/แจ้งข้อเสนอแนะ</h2>
      <%#= @get_user_active['data']['user_role']['title_slug'] %>
      <%#= controller_name %>

			<% if @get_user_active['data']['user_role']['title_slug'] != 'editor' && (@get_user_active['data']['user_role']['title_slug'] != 'opdc') %>
			

			<div class="py-5 d-flex">
				
				<div class="menu-content d-flex-md align-items-top px-3">
           <div class="symbol symbol-50px me-5">
              <!--<img alt="Logo" src="/assets/base2/media/avatars/150-2.jpg" />-->
           </div>

           <div class="d-flex" style="min-width: 100px;">
            	<div class="fw-bolder align-items-center fs-5">
            		<% if !@get_user_active['data']['user'].blank? %>
            		<div><%= @get_user_active['data']['user']['firstname'] %> <%= @get_user_active['data']['user']['lastname'] %></div>
            		<% end %>
            		<div class="fw-bold badge badge-primary fs-7"><%= @get_user_active['data']['user_role']['title'] %></div>
          		</div>
           </div>
        </div>


	            <div class="w-100">
	            	<textarea name="comment[description]" rows="10" cols="30" required="true" class="form-control" ></textarea>

	            	<div class="my-2">
					
	            		<input id="photo-upload-result-1" type="hidden" name="files[]">



	            		<input multiple="multiple" data-template="template-attach" data-upload-list="attach_form" accept="image/jpeg,image/jpg,image/png,image/gif,application/pdf,application/powerpoint,application/vnd.ms-powerpoint,application/vnd.ms-office,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/x-zip,application/zip,application/x-zip-compressed,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-7z-compressed" data-upload-server="" data-preview-element="preview-photo-1" data-upload-result-element="photo-upload-result-1" id="input-task_attachment_items_row-1" class="multiple-fileupload" type="file">


	            		<div id="attach_form" class="pt-10"></div>

	            		<div class="d-block mb-2">
	            			<img id="preview-photo-1" class="img-thumbnail" />
	            		</div>

	            		




	            	</div>

	            	<div class="text-muted">รองรับเอกสารนามสกุล .jpeg, .jpg, .gif, .pdf, .zip, .rar, ขนาดไฟล์ไม่เกิน 15 MB</div>



	            	


	            	<div class="my-10">

	            		<div class="radio-inline fs-1">
								<label class="radio radio-lg radio radio-lg btn-lg bg-danger text-white">
									<%= f.radio_button :status, 'not-approve', required: true %>
									ไม่อนุมัติ
								</label>


								
								<label class="radio radio-lg radio radio-lg btn-lg bg-success text-white">
									<%= f.radio_button :status, 'approved', required: true %>
									อนุมัติ
								</label>



								<% if @get_user_active['data']['user_role']['title_slug'] == 'opdc-head' %>
								<label class="radio radio-lg radio radio-lg btn-lg bg-primary text-white">
									<%= f.radio_button :status, 'completed' %>
									ยืนยันการเสร็จสิ้น
								</label>
								<% end %>


								<%= f.submit t(:saves), class: "btn-lg btn-info mx-2", data: {confirm: "โปรดยืนยันการส่งรายงานอีกครั้ง"} %>

							

							
							
						</div>

						

	            	</div>


	            </div>


			</div>





			<% else %>


			<div class="py-5 d-flex">
				<div class="menu-content d-flex-md align-items-top px-3">
	           <div class="symbol symbol-50px me-5">
	           </div>

	           <div class="d-flex" style="min-width: 100px;">
	            	<div class="fw-bolder align-items-center fs-5">
	            		<% if !@get_user_active['data']['user'].blank? %>
	            		<div><%= @get_user_active['data']['user']['firstname'] %> <%= @get_user_active['data']['user']['lastname'] %></div>
	            		<% end %>
	            		<div class="fw-bold badge badge-primary fs-7"><%= @get_user_active['data']['user_role']['title'] %></div>
	          		</div>
	           </div>
	        </div>

	        <div class="w-100">
						<input type="hidden" name="comment[description]" value="ส่ง<%= @title_button %>แล้ว">
						<input type="hidden" name="comment[status]" value="approved">
						<%= f.submit "ส่ง#{@title_button}", class: "btn-lg btn-info mx-2", data: {confirm: "โปรดยืนยันการส่งรายงานอีกครั้ง"} %>
					</div>
			</div>
			<% end #end check role editor %>



			<% end #end form %>




			<% end #if @get_user_active['data'] && @get_user_active['data']['id'] %>

		</div> <!-- end card-body -->
	</div>
</div>
<% end #end !@mpu_current_action.blank? %>




<% content_for :footer do %>
<script type="text/javascript">
	function normal_fileUpload(fileInput) {
        var imagePreview = document.getElementById(fileInput.dataset.previewElement)

        fileInput.style.display = 'none'

        var uppy = Uppy.Core({
            id: fileInput.id,
            restrictions: {
              allowedFileTypes: fileInput.accept.split(','),
            }
          })
          .use(Uppy.FileInput, {
            target: fileInput.parentNode,
          })
          .use(Uppy.Informer, {
            target: fileInput.parentNode,
          })
          .use(Uppy.ProgressBar, {
            target: imagePreview.parentNode,
          })

        

        uppy.use(Uppy.XHRUpload, {
            endpoint: '<%= $server[@controller_title] %>/upload', // Shrine's upload endpoint
            fieldName: 'file',
          })



        uppy.run()

        uppy.on('upload-success', function (file, data, uploadURL) {
          // show image preview
          imagePreview.src = URL.createObjectURL(file.data)
          imagePreview.href = URL.createObjectURL(file.data) 
          imagePreview.style = 'display: block;'
          $('#' +imagePreview.id + '-title').val(file.name)
          $('#task_attach_btn_save').css('display', 'block');
          

          var uploadedFileData = JSON.stringify(data)

          var hiddenInput = document.getElementById(fileInput.dataset.uploadResultElement)
          hiddenInput.value = uploadedFileData
        })

        return uppy
      }



   //for Button Choose upload image
   document.querySelectorAll('input[type=file].multiple-fileupload').forEach(function (fileInput) {
	  if (fileInput.multiple) {
	    fileInput.addEventListener('change', function (event) {
	      Array.from(fileInput.files).forEach(function (file) {
	          var template = document.getElementById(fileInput.dataset.template)
	          var uploadList = document.getElementById(fileInput.dataset.uploadList)
	          uploadList.insertAdjacentHTML('beforeend', template.innerHTML.replace(/{{index}}/g, Date.now()))

	          // trigger file upload on the new resource
	          var singleFileInput = uploadList.lastElementChild.querySelector('input[type=file]')
	          var uppy = normal_fileUpload(singleFileInput);
	          uppy.addFile({name: file.name, type: file.type, data: file})
	        })

	        fileInput.value = ''
	      })
	  } else {
	    normal_fileUpload(fileInput);
	  }
	});
   
</script>
<% end %>
		