<%
#init
model_name = model_name

url = URI("#{$server[@controller_title]}/api/v1/mains/#{params['id']}/user_comments?model_name=#{model_name}")
@user_commments = request_api(url,'get',nil)


url = URI("#{$server[@controller_title]}/api/v1/mains/#{params['id']}/last_action?model_name=#{model_name}")
@last_action = request_api(url,'get',nil)


%>

<div id="block_comments_history" class="row">
	<div class="col-sm-12">
		<div class="card-show">

			<% if @last_action && !@last_action['data'].blank? %>
			<div class="d-flex justify-content-between py-6">
				<div class="w-75 d-flex">
					<h2 class="my-2">สถานะล่าสุด</h2>
					<div class="d-flex py-2 mx-3 align-items-center">
						<span class="badge badge-<%= get_status_flow(@last_action['data']['status']) %>"><%= @last_action['data']['status'] %></span>
	                	<span class="badge text-muted bg-white fs-5"><%= @last_action['data']['user_role']['title'] rescue nil %></span> 
	                	<span><%= @last_action['data']['user']['firstname'] rescue nil %> <%= @last_action['data']['user']['lastname'] rescue nil %></span>
	                	<span class="text-muted mx-3">
		                    <%= convert_thai_date(@last_action['data']['updated_at'],'default') %>
		                </span>
	                </div>

            	</div>
			</div>
			<% end %>


			<h2 class="my-2">ประวัติข้อเสนอแนะ</h2>
			<div class="py-10">

				<!--start::Timeline content-->
				<div class="timeline timeline-3">
				    <div class="timeline-items">
				    	<% if @user_commments && !@user_commments['data'].blank? %>
				    	<% @user_commments['data'].each_with_index do |item,idx| %>
				        <div class="timeline-item">
				        	<!--
				            <div class="timeline-media">
				            	<img alt="User" src="/assets/base2/media/avatars/150-1.jpg" />
				            </div>
				        -->
				            <div class="timeline-content">
				                <div class="align-items-center mb-2">
				                    <div class="d-flex justify-content-between">

				                    	<span class="badge badge-<%= get_status_flow(item['status']) %>"><%= item['status'] %></span>

				                    	<span class="text-muted ml-2">
				                            <%= convert_thai_date(item['created_at'],'default') %>
				                        </span>
				                        <!--
				                        <span class="label label-light-success font-weight-bolder label-inline ml-2">new</span>
				                    -->
				                    </div>
				                </div>

				                <div class="py-2 fs-3 text-primary">
				                	<span class="badge text-muted bg-white fs-5"><%= item["#{model_name}_user"]['user_role']['title'] rescue nil %></span> 
				                	<span><%= item['user']['firstname'] %> <%= item['user']['lastname'] %></span>
				                	<% if !item['attachments'].blank? %>
				                		<% item['attachments'].each do |attachment| %>
											
						                	<% if !attachment['file_data'].blank? && !attachment['file_data']['original'].blank? %>

						                		<%= link_to "#{$server[@controller_title]}/uploads/#{JSON.parse(attachment['file_data'])['original']['id']}", class: 'mx-3 btn btn-sm btn-primary', target: '_blank' do %>
						                			<i class="fas fa-file-alt"></i> 
						                				<% if !attachment['description'].blank? %>
						                					<%= attachment['description'] rescue nil %>
						                				<% else %>
						                					<%= JSON.parse(attachment['file_data'])['original']['metadata']['filename'] %>
						                				<% end %>
						                		<% end %>

						                	<% end %>
					                	<% end %>
				                	<% end %>
				                </div>

				                <div class="py-2">
				                	<%= item['description'] %>
				                </div>
				            </div>
				        </div>
				        <% end %>
				        <% end %>
				    </div>
				</div>
				<!--end::Timeline content-->
		

			</div>

		</div>
	</div>
</div>