<%
#init
image = image
fullname = fullname
position = position
%>

<div class="min-w-300px text-center mx-5">
	<div class="d-flex py-3">
		<span>ลงชื่อ</span> <div class="w-75 text-center" style="border-bottom: 1px dotted #333333;"><%= image %></div>
	</div>
	
	<div class="w-100 d-flex py-3">(<div class="w-100 text-center" style="border-bottom: 1px dotted #333333;"><%= fullname %></div>)</div>
	<div class="w-100 text-center py-3"><%= position %></div>
</div>
