<%
#init
params = params
%>


<h3><%= t(:history_action) %></h3>
<%
#@items = Ahoy::Event.where_properties(path_parameters: {id: params[:id].to_s})
#Ahoy::Event.group("properties -> 'session_id'").count

url = URI("#{$server[@controller_title]}/api/v1/plans/#{params[:id].to_s}")
@plan = request_api(url, "get", nil)

#@items = Ahoy::Event.where_properties(path_parameters: {id: params[:id].to_s}).limit(100)
#@items = Ahoy::Event.where_properties(query_string: {original_url: "/km/plans/#{params[:id].to_s}"})




#@items = Ahoy::Event.where("properties ->> :key LIKE :value", key: "original_url", value: "%#{params[:id].to_s}%")

#@items = Ahoy::Event.where("properties ->> 'text' = 'View'")

#{"path"=>"/pmqa/list_activity_items/C301E6BE-D03F-4834-B196-9E72C19DF3D6/edit", "action"=>"edit", "user_id"=>"FF398529-36B5-40F5-8C4B-9B967A87E8C3", "user_name"=>"ศุภชัย เอี่ยมสุข", "system_name"=>"pmqa/list_activity_items", "query_string"=>{"original_url"=>"/pmqa/plans/D281E129-9ADB-463F-A474-99789822DAF5"}, "path_parameters"=>{"id"=>"C301E6BE-D03F-4834-B196-9E72C19DF3D6", "action"=>"edit", "controller"=>"pmqa/list_activity_items"}}

%>



<table id=""  class="table table-head-custom table-bordered">
    <thead>
        <tr>
            <th class="min-w-200px"><%= t(:dates) %></th>
            <th class="min-w-250px"><%= t(:user_action) %></th>
            <th class="min-w-100px text-center"><%= t(:action) %></th>
            <th><%= t(:detail) %></th>
        </tr>
    </thead>
    <tbody>

 
     
    <% @plan['data']['categories'].each do |category| %>
  
       
       

        <!-- KPI:Start Plan Report -->

      
            <% if @controller_title == 'kpi' %>
          
 
                <!----------------------Start Master Plan ------------------------->       


                <% if params[:original_url].match('/master_plans/') %>


                    <!-- Start :: Action Create --->
                        <% @items = Ahoy::Event.where_properties(query_string: {category_id: category['id']}) %>


                                <% # @items = Ahoy::Event.where_properties(path_parameters: {id: params[:id].to_s}).or(Ahoy::Event.where_properties(query_string: {category_id: list['category_id']}).or(Ahoy::Event.where_properties(path_parameters: {id: list['id']}))).limit(150)
                                    # @items =  Ahoy::Event.where_properties(path_parameters: {id: list['id']}).limit(100)
                                    # @items = Ahoy::Event.where_properties(path_parameters: {id: params[:id].to_s}).limit(100)
                                    # @items = Ahoy::Event.where_properties(query_string: {category_id: list['category_id']})
                                %>


                                <% @items.order(time: :desc).each do |item| %>

                                    <% if item.properties['path_parameters']['action'] != 'history' %> 
              
                                    <tr>
                                        <td><%= convert_thai_date(item.time,'long') rescue nil %></td>
                                        <td><%= item.properties['user_name'] rescue nil %></td>
                                        <td class="text-center">
                                 
                                            <%= get_status_action(item.properties['path_parameters']['action']) rescue nil %>
                                        </td>
                                        <td>
                                           
         
                                             

                                                <% 
                                                    #action status for list_activity_id
                                                    if !item.properties['query_string']['list_activity_id'].blank?
                                                        list_activity = nil
                                                        url = URI("#{$server[@controller_title]}/api/v1/list_activities/#{item.properties['query_string']['list_activity_id']}")
                                                        list_activity = request_api(url, "get", nil)
                                                        %>

                                                        <%= list_activity['data']['title'] rescue nil %> 
                                                    <% end %>

                                                <%= get_status_tasks(item.properties['query_string']['status']) %>

                                        </td>
                                    </tr>
                     
                                    <% end %>  <!-- End::If -->
                                <% end %>  <!--End::Item -->

                    <!--  End::Action Create -->

                    <!-- Start Actin Edit Update -->

                        <% category['lists'].each do |list| %>

                            <% @items = Ahoy::Event.where_properties(path_parameters: {id: list['id']}).limit(150) %>

                                <% @items.order(time: :desc).each do |item| %>

                                    <% if item.properties['path_parameters']['action'] != 'history' %> 
                        
                                        <tr>
                                            <td><%= convert_thai_date(item.time,'long') rescue nil %></td>
                                            <td><%= item.properties['user_name'] rescue nil %></td>
                                            <td class="text-center">
                                           
                                                   <%= get_status_action(item.properties['path_parameters']['action']) rescue nil %>
                                            </td>
                                            <td>                   
                                                <%= t(:kpi_name) %> <%= list['title'] rescue nil %> 
                                                <%= get_status_tasks(item.properties['query_string']['status']) %>        
                                            </td>
                                        </tr>
                                    <% end %> <!-- End::If -->   
                                <% end %>  <!-- End::Item --> 


                        <% end %> <!-- End::List -->
                    <!-- End Action Update -->

                    <!-- Start:: Action Show -->

                            <% @items = Ahoy::Event.where_properties(path_parameters: {id: params[:id].to_s}).limit(100) %>


                            <% @items.order(time: :desc).each do |item| %>

                                <% if item.properties['path_parameters']['action'] != 'history' %> 
    
                                    <tr>
                                        <td><%= convert_thai_date(item.time,'long') rescue nil %></td>
                                        <td><%= item.properties['user_name'] rescue nil %></td>
                                        <td class="text-center">
                       
                                            <%= get_status_action(item.properties['path_parameters']['action']) rescue nil %>
                                        </td>
                                        <td>
                                        

                                            <% 
                                                 #action status for list_activity_id
                                                if !item.properties['query_string']['list_activity_id'].blank?
                                                    list_activity = nil
                                                    url = URI("#{$server[@controller_title]}/api/v1/list_activities/#{item.properties['query_string']['list_activity_id']}")
                                                    list_activity = request_api(url, "get", nil)
                                                    %>

                                                    <%= list_activity['data']['title'] rescue nil %> 
                                                <% end %>

                                            <%= get_status_tasks(item.properties['query_string']['status']) %>

                                        </td>
                                    </tr>
           
                                <% end %>   <!-- End::Item -->
                            <% end %> <!-- End::If Properties -->

                        <!-- End:: Action Show -->

                    <% end %> <!-- End::master_plans -->

                <!------------------- end::master plans ---------------------------->

                <!-- Start Plan Report -->

                    <% if params[:original_url].match('/plan_reports/') %>

                        <% category['lists'].each do |list| %>
    
             
                            <% @items = Ahoy::Event.where_properties(query_string: {list_id: list['id']}).limit(100) %>

                            <% @items.order(time: :desc).each do |item| %>


                                <% if item.properties['path_parameters']['action'] != 'history' %>
                                    <tr>
                                        <td><%= convert_thai_date(item.time,'long') rescue nil %></td>
                                        <td><%= item.properties['user_name'] rescue nil %></td>
                                        <td class="text-center">

                                            <%#= item.properties['path_parameters'] %>

                                                <%= get_status_action(item.properties['path_parameters']['action']) rescue nil %>
                                        </td>
                                        <td>
                                            <%#= item.properties['query_string']['list_id'] %>
                
                                            <%#= item.properties['path_parameters'] %>

                                                <%#= @controller_title  %>

                                                <%# case @controller_title %>
                  
                                            <%= t(:add_data_to_the_performance_report) %> <%= t(:kpi_name) %> <%= list['title'] rescue nil %> <%= t(:metric_dimensions) %> <%= list['activity']['title'] rescue nil %>

                                             <% 
                                                #action status for list_activity_id
                                                 if !item.properties['query_string']['list_activity_id'].blank?
                                                    list_activity = nil
                                                    url = URI("#{$server[@controller_title]}/api/v1/list_activities/#{item.properties['query_string']['list_activity_id']}")
                                                    list_activity = request_api(url, "get", nil)
                                                %>

                                                    <%= list_activity['data']['title'] rescue nil %> 
                                                <% end %>

                                                <%= get_status_tasks(item.properties['query_string']['status']) %>
                        
                                        </td>
                                    </tr>
       
                                <% end %> <!-- End::if Properties -->
                            <% end %> <!-- End::Item -->
                        <% end %> <!-- end Categories -->
                    <% end %> <!-- End::If Plan_reports -->
                <!-- END Plan Report -->
            <% end %> <!-- End KPI -->

            <!-- ====================Start::PMQA====================-->
                    <% if @controller_title == 'pmqa' %>

                        <!-- START::PMQA MASTER PLAN-->
                       
                        <% if params[:original_url].match('/pmqa/master_plans/') %>
                            <% @items = Ahoy::Event.where_properties(query_string: {original_url: "/pmqa/plans/#{params['id']}"}).or(Ahoy::Event.where_properties({path: "/pmqa/plans/history/#{params['id']}"})).order(time: :desc).limit(150) %>
                        
                            <% @items.order(time: :desc).each do |item| %>
                                <tr>
                                    <td>   <%= convert_thai_date(item.time,'long') rescue nil %></td>
                                    <td><%= item.properties['user_name'] rescue nil %></td>
                                    <td class="text-center"><%= get_status_action(item.properties['path_parameters']['action']) rescue nil %></td>
                                    <td>
        
                                        <% 
                                        plan = nil
                                        category = nil
                                        data = nil
                                        list = nil
                                        list_activity = nil
                                   
                                        #action status for list_activity
                                        if item.properties['path_parameters']['action'] == 'edit' || item.properties['path_parameters']['action'] == 'update' || item.properties['path_parameters']['action'] == 'new' && item.properties['path_parameters']['controller'] == 'pmqa/pmqa_fl/list_activities'
                                            
                                            if item.properties['path_parameters']['action'] == 'new'
                                                url = URI("#{$server[@controller_title]}/api/v1/lists/#{item.properties['query_string']['list_id']}")
                                                list = request_api(url, "get", nil)
                                            %>
                                            <ul style="list-style-type: none;"> สร้างหัวข้อย่อยใน 
                                                <%= list['data']['title'] rescue nil %> 
                                                <li><%= list['data']['slug'] rescue nil %>  </li>
                                            </ul>
                                            <%
                                            else
                                                url = URI("#{$server[@controller_title]}/api/v1/list_activities/#{item.properties['path_parameters']['id']}")
                                                list_activity = request_api(url, "get", nil)
                                              
                                            %>
                                            <ul style="list-style-type: none;">
                                                 <%= list_activity['data']['description'] rescue nil %> 
                                                 <li>
                                                 <%= list_activity['data']['title'] rescue nil %> 
                                                 </li>
                                            </ul>
                                            <%

                                            end
                                             
                                            end %>
                                        <%
                                            #action status for lists
                                             if item.properties['path_parameters']['action'] == 'edit' || item.properties['path_parameters']['action'] == 'update' || item.properties['path_parameters']['action'] == 'new' && item.properties['path_parameters']['controller'] == 'pmqa/pmqa_fl/lists'
                                            
                                                if item.properties['path_parameters']['action'] == 'new'

                                                     url = URI("#{$server[@controller_title]}/api/v1/categories/#{item.properties['query_string']['category_id']}")
                                                    category = request_api(url, "get", nil)
                                        %>
                                                    <ul style="list-style-type: none;">
                                                        <%= category['data']['plan']['title'] rescue nil %> 
                                                        <li>  <%= category['data']['title'] rescue nil %>  </li>
                                                    </ul>
                                                <% else


                                                url = URI("#{$server[@controller_title]}/api/v1/lists/#{item.properties['path_parameters']['id']}")
                                                list = request_api(url, "get", nil)
                                        
                                            %>
                                           
                                                <%= list['data']['title'] rescue nil %> 
                                            <% end 
                                                end %>


                                        <%
                                            if item.properties['path_parameters']['action'] == 'history'
                                       
                                                url = URI("#{$server[@controller_title]}/api/v1/plans/#{item.properties['path_parameters']['id']}")
                                                plan = request_api(url, "get", nil)

                                        %>
                                       
                                                <%= plan['data']['title'] rescue nil %> 
                                            <% end %>
                                          
                                            <%= get_status_tasks(item.properties['query_string']['status']) %>

                                        </td>
                                </tr>
                            <% end %> <!--  End::Item -->

                        <% end %>
                        <!-- END::PMQA MASTER PLAN-->
                        <!-- START::PMQA PLAN REPORT-->
                        <% if params[:original_url].match('/pmqa/plan_reports/') %>
                            <% @items = Ahoy::Event.where_properties(query_string: {original_url: "/pmqa/plans/#{params['id']}"}).or(Ahoy::Event.where_properties({path: "/pmqa/plans/history/#{params['id']}"})).order(time: :desc).limit(150) %>
                            <% @items.order(time: :desc).each do |item| %>
                                <tr>
                                    <td>   <%= convert_thai_date(item.time,'long') rescue nil %></td>
                                    <td><%= item.properties['user_name'] rescue nil %></td>
                                    <td class="text-center"><%= get_status_action(item.properties['path_parameters']['action']) rescue nil %></td>
                                    <td>
        
                                        <% 
                                        plan = nil
                                        category = nil
                                        data = nil
                                        list = nil
                                        list_activity = nil
                                   
                                        #action status for list_activity
                                        if item.properties['path_parameters']['action'] == 'edit' || item.properties['path_parameters']['action'] == 'update' || item.properties['path_parameters']['action'] == 'new' && item.properties['path_parameters']['controller'] == 'pmqa/pmqa_fl/list_activities'
                                            
                                            if item.properties['path_parameters']['action'] == 'new'
                                                url = URI("#{$server[@controller_title]}/api/v1/lists/#{item.properties['query_string']['list_id']}")
                                                list = request_api(url, "get", nil)
                                            %>
                                            <ul style="list-style-type: none;"> สร้างหัวข้อย่อยใน 
                                                <%= list['data']['title'] rescue nil %> 
                                                <li><%= list['data']['slug'] rescue nil %>  </li>
                                            </ul>
                                            <%
                                            else
                                                url = URI("#{$server[@controller_title]}/api/v1/list_activities/#{item.properties['path_parameters']['id']}")
                                                list_activity = request_api(url, "get", nil)
                                              
                                            %>
                                            <ul style="list-style-type: none;">
                                                 <%= list_activity['data']['description'] rescue nil %> 
                                                 <li>
                                                 <%= list_activity['data']['title'] rescue nil %> 
                                                 </li>
                                            </ul>
                                            <%

                                            end
                                             
                                            end %>
                                        <%
                                            #action status for lists
                                             if item.properties['path_parameters']['action'] == 'edit' || item.properties['path_parameters']['action'] == 'update' || item.properties['path_parameters']['action'] == 'new' && item.properties['path_parameters']['controller'] == 'pmqa/pmqa_fl/lists'
                                            
                                                if item.properties['path_parameters']['action'] == 'new'

                                                     url = URI("#{$server[@controller_title]}/api/v1/categories/#{item.properties['query_string']['category_id']}")
                                                    category = request_api(url, "get", nil)
                                        %>
                                                    <ul style="list-style-type: none;">
                                                        <%= category['data']['plan']['title'] rescue nil %> 
                                                        <li>  <%= category['data']['title'] rescue nil %>  </li>
                                                    </ul>
                                                <% else


                                                url = URI("#{$server[@controller_title]}/api/v1/lists/#{item.properties['path_parameters']['id']}")
                                                list = request_api(url, "get", nil)
                                        
                                            %>
                                           
                                                <%= list['data']['title'] rescue nil %> 
                                            <% end 
                                                end %>


                                        <%
                                            if item.properties['path_parameters']['action'] == 'history'
                                       
                                                url = URI("#{$server[@controller_title]}/api/v1/plans/#{item.properties['path_parameters']['id']}")
                                                plan = request_api(url, "get", nil)

                                        %>
                                       
                                                <%= plan['data']['title'] rescue nil %> 
                                            <% end %>
                                          
                                            <%= get_status_tasks(item.properties['query_string']['status']) %>

                                        </td>
                                </tr>
                            <% end %> <!--  End::Item -->
                        <% end %>
                        <!-- END::PMQA PLAN REPORT-->



                       
                        <!-- Start::PMQA FL -->
                        <% if params[:original_url].match('/pmqa_fl/master_plans/') %>
                      
                            <!-- Start :: Action Create --->
                       
                            <%#= params['id'] %>
                            <%#= params[:original_url] %>
                            <!--  Ahoy::Event.where("properties LIKE '%\"profile_id\": \"2\"%'").count -->
                            <% @items = Ahoy::Event.where_properties(query_string: {original_url: "/pmqa/pmqa_fl/plans/#{params['id']}"}).or(Ahoy::Event.where_properties({path: "/pmqa/pmqa_fl/plans/history/#{params['id']}"})).order(time: :desc).limit(150) %>
                   
                          
          
                                    <% @items.order(time: :desc).each do |item| %>
                                        <tr>
                                            <td><%= convert_thai_date(item.time,'long') rescue nil %></td>
                                            <td><%= item.properties['user_name'] rescue nil %></td>
                                            <td class="text-center">
                                 
                                                <%= get_status_action(item.properties['path_parameters']['action']) rescue nil %>
                                            </td>
                                            <td>
                                                <%#= item.properties['query_string'] %>
                                                <%#= item.properties['path_parameters'] %>
                                                <%#= item.properties['path_parameters'] %>

                                                <% 
                                                plan = nil
                                                category = nil
                                                data = nil
                                                list = nil
                                                list_activity = nil
                                               
                                                    #action status for list_activity
                                                    if item.properties['path_parameters']['action'] == 'edit' || item.properties['path_parameters']['action'] == 'update' || item.properties['path_parameters']['action'] == 'new' && item.properties['path_parameters']['controller'] == 'pmqa/pmqa_fl/list_activities'
                                                        
                                                        if item.properties['path_parameters']['action'] == 'new'
                                                            url = URI("#{$server[@controller_title]}/api/v1/lists/#{item.properties['query_string']['list_id']}")
                                                            list = request_api(url, "get", nil)
                                                        %>
                                                        <ul style="list-style-type: none;"> สร้างหัวข้อย่อยใน 
                                                            <%= list['data']['title'] rescue nil %> 
                                                            <li><%= list['data']['slug'] rescue nil %>  </li>
                                                        </ul>
                                                        <%
                                                        else
                                                            url = URI("#{$server[@controller_title]}/api/v1/list_activities/#{item.properties['path_parameters']['id']}")
                                                            list_activity = request_api(url, "get", nil)
                                                          
                                                        %>
                                                        <ul style="list-style-type: none;">
                                                             <%= list_activity['data']['description'] rescue nil %> 
                                                             <li>
                                                             <%= list_activity['data']['title'] rescue nil %> 
                                                             </li>
                                                        </ul>
                                                        <%

                                                        end
                                                         
                                                        end %>
                                                    <%
                                                        #action status for lists
                                                         if item.properties['path_parameters']['action'] == 'edit' || item.properties['path_parameters']['action'] == 'update' || item.properties['path_parameters']['action'] == 'new' && item.properties['path_parameters']['controller'] == 'pmqa/pmqa_fl/lists'
                                                        
                                                        if item.properties['path_parameters']['action'] == 'new'

                                                         url = URI("#{$server[@controller_title]}/api/v1/categories/#{item.properties['query_string']['category_id']}")
                                                        category = request_api(url, "get", nil)
                                                        %>
                                                        <ul style="list-style-type: none;">
                                                           <%= category['data']['plan']['title'] rescue nil %> 
                                                           <li>  <%= category['data']['title'] rescue nil %>  </li>
                                                        </ul>
                                                        <% else


                                                        url = URI("#{$server[@controller_title]}/api/v1/lists/#{item.properties['path_parameters']['id']}")
                                                        list = request_api(url, "get", nil)
                                                    
                                                        %>
                                                       
                                                          <%= list['data']['title'] rescue nil %> 
                                                    <% end 
                                                       end %>


                                                    <%
                                                    if item.properties['path_parameters']['action'] == 'history'
                                                   
                                                        url = URI("#{$server[@controller_title]}/api/v1/plans/#{item.properties['path_parameters']['id']}")
                                                        plan = request_api(url, "get", nil)

                                                    %>
                                                   
                                                        <%= plan['data']['title'] rescue nil %> 
                                                    <% end %>
                                                      
                                                <%= get_status_tasks(item.properties['query_string']['status']) %>

                                            </td>
                                        </tr>
                                    <% end %>

                                
                            <!--  End::Item -->

                        <% end %>
                        <!-- End::PMQA FL -->

                        <!-- Start::PMQA FR -->
                        <% if params[:original_url].match('/pmqa_fr/master_plans/') %>

                            <% @items = Ahoy::Event.where_properties(query_string: {original_url: "/pmqa/pmqa_fr/plans/#{params['id']}"}).or(Ahoy::Event.where_properties({path: "/pmqa/pmqa_fr/plans/history/#{params['id']}"})).order(time: :desc).limit(150) %>
                   
                          
          
                                    <% @items.order(time: :desc).each do |item| %>
                                        <tr>
                                            <td><%= convert_thai_date(item.time,'long') rescue nil %></td>
                                            <td><%= item.properties['user_name'] rescue nil %></td>
                                            <td class="text-center">
                                 
                                                <%= get_status_action(item.properties['path_parameters']['action']) rescue nil %>
                                            </td>
                                            <td>
                                                <%#= item.properties['query_string'] %>
                                                <%#= item.properties['path_parameters'] %>
                                                <%#= item.properties['path_parameters'] %>

                                                <% 
                                                plan = nil
                                                category = nil
                                                data = nil
                                                list = nil
                                                list_activity = nil
                                               
                                                    #action status for list_activity
                                                    if item.properties['path_parameters']['action'] == 'edit' || item.properties['path_parameters']['action'] == 'update' || item.properties['path_parameters']['action'] == 'new' && item.properties['path_parameters']['controller'] == 'pmqa/pmqa_fr/list_activities'
                                                        
                                                        if item.properties['path_parameters']['action'] == 'new'
                                                            url = URI("#{$server[@controller_title]}/api/v1/lists/#{item.properties['query_string']['list_id']}")
                                                            list = request_api(url, "get", nil)
                                                        %>
                                                        <ul style="list-style-type: none;"> สร้างหัวข้อย่อยใน 
                                                            <%= list['data']['title'] rescue nil %> 
                                                            <li><%= list['data']['slug'] rescue nil %>  </li>
                                                        </ul>
                                                        <%
                                                        else
                                                            url = URI("#{$server[@controller_title]}/api/v1/list_activities/#{item.properties['path_parameters']['id']}")
                                                            list_activity = request_api(url, "get", nil)
                                                          
                                                        %>
                                                        <ul style="list-style-type: none;">
                                                             <%= list_activity['data']['description'] rescue nil %> 
                                                             <li>
                                                             <%= list_activity['data']['title'] rescue nil %> 
                                                             </li>
                                                        </ul>
                                                        <%

                                                        end
                                                         
                                                        end %>
                                                    <%
                                                        #action status for lists
                                                         if item.properties['path_parameters']['action'] == 'edit' || item.properties['path_parameters']['action'] == 'update' || item.properties['path_parameters']['action'] == 'new' && item.properties['path_parameters']['controller'] == 'pmqa/pmqa_fr/lists'
                                                        
                                                        if item.properties['path_parameters']['action'] == 'new'

                                                         url = URI("#{$server[@controller_title]}/api/v1/categories/#{item.properties['query_string']['category_id']}")
                                                        category = request_api(url, "get", nil)
                                                        %>
                                                        <ul style="list-style-type: none;">
                                                           <%= category['data']['plan']['title'] rescue nil %> 
                                                           <li>  <%= category['data']['title'] rescue nil %>  </li>
                                                        </ul>
                                                        <% else


                                                        url = URI("#{$server[@controller_title]}/api/v1/lists/#{item.properties['path_parameters']['id']}")
                                                        list = request_api(url, "get", nil)
                                                    
                                                        %>
                                                       
                                                          <%= list['data']['title'] rescue nil %> 
                                                    <% end 
                                                       end %>


                                                    <%
                                                    if item.properties['path_parameters']['action'] == 'history'
                                                   
                                                        url = URI("#{$server[@controller_title]}/api/v1/plans/#{item.properties['path_parameters']['id']}")
                                                        plan = request_api(url, "get", nil)

                                                    %>
                                                   
                                                        <%= plan['data']['title'] rescue nil %> 
                                                    <% end %>
                                                      
                                                <%= get_status_tasks(item.properties['query_string']['status']) %>

                                            </td>
                                        </tr>
                                    <% end %>

                                
                            <!--  End::Item -->

                        <% end %>

                        <!-- END::PMQA FR -->

                    <% end %>  
                    <!-- END:: PMQA -->

                    <!-- START:: RISK -->
                 
                    <% if @controller_title == 'risk' %>
                   
                        <% if params[:original_url].match('/risk/master_plans') %>

                        
                            <% @items = Ahoy::Event.where_properties(query_string: {original_url: "/risk/plans/#{params['id']}"}).or(Ahoy::Event.where_properties({path: "/risk/plans/history/#{params['id']}"})).order(time: :desc).limit(150) %>

                            <% @items.order(time: :desc).each do |item| %>
                                        <tr>
                                            <td><%= convert_thai_date(item.time,'long') rescue nil %></td>
                                            <td><%= item.properties['user_name'] rescue nil %></td>
                                            <td class="text-center">
                                 
                                                <%= get_status_action(item.properties['path_parameters']['action']) rescue nil %>
                                            </td>
                                            <td>
                                                <%= item.properties['query_string'] %>
                                                <%= item.properties['path_parameters'] %>
                                                <%#= item.properties['path_parameters'] %>

                                                <% 
                                                plan = nil
                                                category = nil
                                                data = nil
                                                list = nil
                                                list_activity = nil
                                               
                                                    #action status for list_activity
                                                    if item.properties['path_parameters']['action'] == 'edit' || item.properties['path_parameters']['action'] == 'update' || item.properties['path_parameters']['action'] == 'new' && item.properties['path_parameters']['controller'] == 'rist/list_activities'
                                                        
                                                        if item.properties['path_parameters']['action'] == 'new'
                                                            url = URI("#{$server[@controller_title]}/api/v1/lists/#{item.properties['query_string']['list_id']}")
                                                            list = request_api(url, "get", nil)
                                                        %>
                                                        <ul style="list-style-type: none;"> สร้างหัวข้อย่อยใน 
                                                            <%= list['data']['title'] rescue nil %> 
                                                            <li><%= list['data']['slug'] rescue nil %>  </li>
                                                        </ul>
                                                        <%
                                                        else
                                                            url = URI("#{$server[@controller_title]}/api/v1/list_activities/#{item.properties['path_parameters']['id']}")
                                                            list_activity = request_api(url, "get", nil)
                                                          
                                                        %>
                                                        <ul style="list-style-type: none;">
                                                             <%= list_activity['data']['description'] rescue nil %> 
                                                             <li>
                                                             <%= list_activity['data']['title'] rescue nil %> 
                                                             </li>
                                                        </ul>
                                                        <%

                                                        end
                                                         
                                                        end %>
                                                    <%
                                                        #action status for lists
                                                         if item.properties['path_parameters']['action'] == 'edit' || item.properties['path_parameters']['action'] == 'update' || item.properties['path_parameters']['action'] == 'new' && item.properties['path_parameters']['controller'] == 'risk/lists'
                                                        
                                                            if item.properties['path_parameters']['action'] == 'new'

                                                                url = URI("#{$server[@controller_title]}/api/v1/categories/#{item.properties['query_string']['category_id']}")
                                                                category = request_api(url, "get", nil)
                                                                %>
                                                                    <ul style="list-style-type: none;">
                                                                        <%= category['data']['plan']['title'] rescue nil %> 
                                                                    <li>  <%= category['data']['title'] rescue nil %>  </li>
                                                                    </ul>
                                                            <% else


                                                                url = URI("#{$server[@controller_title]}/api/v1/lists/#{item.properties['path_parameters']['id']}")
                                                                list = request_api(url, "get", nil)
                                                    
                                                                %>
                                                       <%= item.properties['path_parameters']['id'] %>
                                                                <%= list['data']['title'] rescue nil %> 
                                                    <% end 
                                                       end %>


                                                    <%
                                                    if item.properties['path_parameters']['action'] == 'history'
                                                   
                                                        url = URI("#{$server[@controller_title]}/api/v1/plans/#{item.properties['path_parameters']['id']}")
                                                        plan = request_api(url, "get", nil)

                                                    %>
                                                   
                                                        <%= plan['data']['title'] rescue nil %> 
                                                    <% end %>


                                                     
                                                        <%= plan['data']['title'] rescue nil %> 
                                                
                                                      
                                                <%= get_status_tasks(item.properties['query_string']['status']) %>

                                            </td>
                                        </tr>
                                    <% end %>

                                
                            <!--  End::Item -->


                    <% end %>



                                       <!-- START:: CONTROL -->
               
                    <% if @controller_title == 'risk/control' %>
                   
                        <% if params[:original_url].match('/risk/master_plans') %>

                        
                        <% @items = Ahoy::Event.where_properties(query_string: {original_url: "/risk/plans/#{params['id']}"}).or(Ahoy::Event.where_properties({path: "/risk/plans/history/#{params['id']}"})).order(time: :desc).limit(150) %>

                        <% @items.order(time: :desc).each do |item| %>
                                        <tr>
                                            <td><%= convert_thai_date(item.time,'long') rescue nil %></td>
                                            <td><%= item.properties['user_name'] rescue nil %></td>
                                            <td class="text-center">
                                 
                                                <%= get_status_action(item.properties['path_parameters']['action']) rescue nil %>
                                            </td>
                                            <td>
                                                <%= item.properties['query_string'] %>
                                                <%= item.properties['path_parameters'] %>
                                                <%#= item.properties['path_parameters'] %>

                                                <% 
                                                plan = nil
                                                category = nil
                                                data = nil
                                                list = nil
                                                list_activity = nil
                                               
                                                    #action status for list_activity
                                                    if item.properties['path_parameters']['action'] == 'edit' || item.properties['path_parameters']['action'] == 'update' || item.properties['path_parameters']['action'] == 'new' && item.properties['path_parameters']['controller'] == 'risk/control/list_activities'
                                                        
                                                        if item.properties['path_parameters']['action'] == 'new'
                                                            url = URI("#{$server[@controller_title]}/api/v1/lists/#{item.properties['query_string']['list_id']}")
                                                            list = request_api(url, "get", nil)
                                                            %>
                                                            <ul style="list-style-type: none;"> สร้างหัวข้อย่อยใน 
                                                            <%= list['data']['title'] rescue nil %> 
                                                            <li><%= list['data']['slug'] rescue nil %>  </li>
                                                            </ul>
                                                            <%
                                                        else
                                                            url = URI("#{$server[@controller_title]}/api/v1/list_activities/#{item.properties['path_parameters']['id']}")
                                                            list_activity = request_api(url, "get", nil)
                                                          
                                                            %>
                                                                <ul style="list-style-type: none;">
                                                                <%= list_activity['data']['description'] rescue nil %> 
                                                                <li>
                                                                <%= list_activity['data']['title'] rescue nil %> 
                                                                </li>
                                                                </ul>
                                                            <%

                                                        end
                                                         
                                                    end %>

                                                    <%
                                                            #action status for lists
                                                        if item.properties['path_parameters']['action'] == 'edit' || item.properties['path_parameters']['action'] == 'update' || item.properties['path_parameters']['action'] == 'new' && item.properties['path_parameters']['controller'] == 'risk/lists'
                                                        
                                                            if item.properties['path_parameters']['action'] == 'new'

                                                                url = URI("#{$server[@controller_title]}/api/v1/categories/#{item.properties['query_string']['category_id']}")
                                                                category = request_api(url, "get", nil)
                                                                %>
                                                                <ul style="list-style-type: none;">
                                                                <%= category['data']['plan']['title'] rescue nil %> 
                                                                    <li>  <%= category['data']['title'] rescue nil %>  </li>
                                                                </ul>
                                                            <% else


                                                                url = URI("#{$server[@controller_title]}/api/v1/lists/#{item.properties['path_parameters']['id']}")
                                                                list = request_api(url, "get", nil)
                                                    
                                                            %>
                                                       
                                                                <%= list['data']['title'] rescue nil %> 
                                                            <% end 
                                                        end %>




                                                    <%
                                                    if item.properties['path_parameters']['action'] == 'history' 
                                                        
                                                        url = URI("#{$server[@controller_title]}/api/v1/plans/#{item.properties['path_parameters']['id']}")
                                                        plan = request_api(url, "get", nil)

                                                        %>
                                                   
                                                            <%= plan['data']['title'] rescue nil %> 
                                                    <% end %>
                                                   
                                                    <%
                                                        if item.properties['path_parameters']['action'] == 'index'
                                                        
                                                        # url = URI("#{$server[@controller_title]}/api/v1/plans/#{item.properties['path_parameters']['plan_id']}")
                                                         # plan = request_api(url, "get", nil)

                                                        %>
                                                   
                                                        <%= plan['data']['title'] rescue nil %> 
                                                    <% end %>
                                                      
                                                <%= get_status_tasks(item.properties['query_string']['status']) %>

                                            </td>
                                        </tr>
                                <% end %>

                                
                            <!--  End::Item -->


                        <% end %>

                    <% end %>

                    <!-- END:: CONTROL -->



                        

                <% end %>



                    <!-- END:: RISK -->



     



        
        
<% end %>  <!-- End:Category -->
    </tbody>
</table>



<% content_for :footer do %>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">

   
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>


  <script type="text/javascript">
    $(document).ready(function () {
    $('#data_kpis').DataTable({
        dom: 'Bfrtip',
        buttons: [
            //'copy', 'csv', 'excel', 'pdf', 'print'
            'copy', 'csv', 'excel', 'print'
        ],
        columnDefs: [
            { width: 200, targets: 0 }
        ],
        fixedColumns: true,
        initComplete: function () {
            this.api()
                .columns()
                .every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
 
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
 
                    column
                        .data()
                        .unique()
                        .sort()
                        .each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                });
        },
    });
});
  </script>

  <script type="text/javascript">
    $(document).ready(function () {
    $('#data_kpis1').DataTable({
        dom: 'Bfrtip',
        buttons: [
            //'copy', 'csv', 'excel', 'pdf', 'print'
            'copy', 'csv', 'excel', 'print'
        ],
    });
});
  </script>

<% end %>

