<%= form_for('master_plan_user', url: "/#{@controller_title}/master_plan_users/#{params[:id]}" , method: :patch) do |f| %>
	    <div class="d-flex mx-2">

	        <!--
	        <div class="field">
	            <%= f.label :status, "Yes", :value => "true"  %>
	            <%= f.radio_button :status, true %>
	            <%= f.label :status, "No", :value => "false" %>
	            <%= f.radio_button :status, false, checked: true %>
	        </div>
	    -->

	        <%
	        #1. ทำ api เช็คสถานะล่าสุดของ Flow ของ Master Plan ตัวนี้ 
	        #    master_plan_users.where(master_plan_id: params[:master_plan_id]).order(updated_at: :desc).first 
	        #2. ตรงกับตัวเองหรือไม่
	        #3. ถ้าตรงก็มีปุ่ม และ save ได้
	        #4. เช็คที่ api อีกรอบว่าตรงกับ user ที่ส่งมาหรือไม่
	        #5. master_plan_users.update(status: params[:status])
	    %>
	     	<% if params[:role] == 'checker' %>
		        <a data-confirm="โปรดยืนยันอีกครั้ง" data-method="patch" rel="nofollow" href="/<%= @controller_title %>/master_plan_users/<%= params[:id] %>?status=approve" class="btn btn-lg btn-danger mx-2" title="Save">
		            ส่งข้อมูล <i class="fa-solid fa-angle-right"></i> 
		        </a>  
	        <% else %>
	        	<a data-confirm="โปรดยืนยันอีกครั้ง" data-method="patch" rel="nofollow" href="/<%= @controller_title %>/master_plan_users/<%= params[:id] %>?status=not-approve" class="btn btn-lg btn-dark mx-2" title="Not Approve">
		            <i class="fas fa-times"></i> ไม่อนุมัติ
		        </a> 

	        	<a data-confirm="โปรดยืนยันอีกครั้ง" data-method="patch" rel="nofollow" href="/<%= @controller_title %>/master_plan_users/<%= params[:id] %>?status=approved" class="btn btn-lg btn-danger mx-2" title="Approve">
		            <i class="fas fa-check-circle"></i> อนุมัติ 
		        </a>  
	        <% end %>



     </div>
<% end %>