<%
#init
role = render_btn_action_master_plan(model_name, master_plan_id)
model_name = model_name
id = id
%>





<div class="">
<% if controller_path.split('/')[1] == 'master_plans' #ที่เป็น superadmin %>

    <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}/edit?#{params}", class: 'm-2 p-2 align-self-center btn btn-sm bg-light w-70px' do %>
        <i class="fas fa-edit"></i> แก้ไข
    <% end %>

    <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}", method: :delete, class: 'm-2 p-2 align-self-center btn btn-sm bg-danger text-white w-70px',  data: { confirm: 'ต้องการลบใช่หรือไม่?' } do %>
        <i class="fa-regular fa-trash-can text-white"></i> ลบ
    <% end %>

    <%= link_to "/#{@controller_title}/#{model_name}/#{id}?#{params}", class: 'm-2 p-2 align-self-center btn btn-sm bg-info text-white w-70px', target: '_blank' do %>
        <i class="fa-solid fa-eye text-white"></i> ดู
    <% end %>

<% elsif controller_path.split('/')[2] == 'plan_reports' && model_name == 'tasks' #เปิดปุ่มให้เพิ่ม task เฉพาะ lists และใน controller plan_reports %>


<% elsif controller_path.split('/')[2] == 'master_plans' #ที่เป็น user ทั่วไป %>

    <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}/edit?#{params}", class: 'm-2 p-2 align-self-center btn btn-sm bg-light w-70px' do %>
        <i class="fas fa-edit"></i> แก้ไข
    <% end %>

    <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}?#{params}", method: :delete, class: 'm-2 p-2 align-self-center btn btn-sm bg-danger text-white w-70px',  data: { confirm: 'ต้องการลบใช่หรือไม่?' } do %>
        <i class="fa-regular fa-trash-can text-white"></i> ลบ
    <% end %> 

    <%= link_to "/#{@controller_title}/#{model_name}/#{id}?#{params}", class: 'm-2 p-2 align-self-center btn btn-sm bg-info text-white w-70px', target: '_blank' do %>
        <i class="fa-solid fa-eye text-white"></i> ดู
    <% end %>
        

<% else %>

<%#= controller_path.split('/')[2] %>

<% end %>
</div>

