<%
model_name = model_name
id = id
params_name = nil





#for check role api
model_id = id
if !id.blank?
    case model_name
    when 'master_plans' || 'master_plan'
        model_name_short = 'master_plan'

    when 'plans'
        model_name_short = 'plan'
        url = URI("#{$server[@controller_title]}/api/v1/plans/#{id}?select=type_name")
        plan = request_api(url, "get", nil)

    when 'categories' || 'category'
        model_name_short = 'plan'
        url = URI("#{$server[@controller_title]}/api/v1/categories/#{id}?select=plan_id")
        category = request_api(url, "get", nil)
        model_id =  category['data']['plan_id'] if category && !category['data'].blank?

    when 'lists' || 'list'
        model_name_short = 'plan'
        url = URI("#{$server[@controller_title]}/api/v1/lists/#{id}?select=category_id")
        list = request_api(url, "get", nil)

        if list && !list['data'].blank?
            url_category = URI("#{$server[@controller_title]}/api/v1/categories/#{list['data']['category_id']}?select=plan_id")
            category = request_api(url_category, "get", nil)
            model_id =  category['data']['plan_id'] if category && !category['data'].blank?
        end
    end
end
#end check role api







url = URI("#{$server[@controller_title]}/api/v1/mains/get_user_active/#{params[:id]}?model_name=#{'master_plan'}")
@get_user_active = request_api(url,'get',nil)




%>

<%
#if check_role($user[session.id.to_s]["#{@controller_title}"]['id'], model_name_short, id) == true || check_role($user[session.id.to_s]["#{@controller_title}"]['id'], model_name_short, id) == 'true' 

#ทำเพื่อไม่ให้ระบบเช็คเรื่องปุ่มไปก่อน ยกเว้น risk
#if (check_role($user[session.id.to_s]["#{@controller_title}"]['id'], model_name_short, model_id) == true || check_role($user[session.id.to_s]["#{@controller_title}"]['id'], model_name_short, model_id) == 'true' )  || (@controller_title == 'kpi')


if (check_role($user[session.id.to_s]["#{@controller_title}"]['id'], model_name_short, model_id) == true || check_role($user[session.id.to_s]["#{@controller_title}"]['id'], model_name_short, model_id) == 'true' || (@get_user_active && @get_user_active['data'] && @get_user_active['data']['user_role']['title_slug'] == 'opdc'))
%>

                <% if controller_name != 'plan_reports' %>
                <!-- ลูกค้าขอให้มี ผู้ดูแลระบบสูงสุดเห็นเท่านั้นในส่วนของ flow ใหญ่ การกำหนดการทำงาน 16/12/2022 -->
                    <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>
                        <%= link_to "/#{gen_form[0]}/plan_users?plan_id=#{id}&original_url=#{request.path}", class: 'align-self-center btn btn-sm bg-light m-3 mx-0' do %>
                            <i class="fas fa-user-circle fs-1"></i> <%= t(:assign_workers) %>
                        <% end %>
                    <% end %>
                <% end %>


                <% if controller_name == 'master_plans' %>



                    <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role'  %>
                        <% case @controller_title %>
                        <% when 'km', 'pmqa' %>
                            <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}/edit?#{params_name}", class: 'm-2 p-2 align-self-center btn btn-sm bg-light w-70px' do %>
                                <i class="fas fa-edit"></i> <%= t(:edit) %>
                            <% end %>
                        <% else %>
                        <% end %>

                        <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}?#{params_name}", class: 'm-2 p-2 align-self-center btn btn-sm btn-success w-120px' do %>
                            <i class="fas fa-edit"></i> <%= t(:setting) %>
                        <% end %>
                    <% end %>




                    <% if (check_role($user[session.id.to_s]["#{@controller_title}"]['id'], model_name_short, model_id) == true || check_role($user[session.id.to_s]["#{@controller_title}"]['id'], model_name_short, model_id) == 'true' ) %>

                        <%= link_to "/#{gen_form[0]}/#{model_name}/user_input/#{id}?original_url=#{request.path}", class: 'm-1 p-2 align-self-center btn btn-sm btn-success w-120px' do %>
                            <i class="fas fa-edit"></i> ประเมินตนเอง
                        <% end %>

                    <% end %>


                    <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>

                        <% if plan &&  plan['data'] && plan['data']['type_name'] != 'op' %>
                            <% if (@get_user_active && @get_user_active['data'] && @get_user_active['data']['user_role']['title_slug'] == 'opdc') || @role_title == 'superadmin_role' %>
                                <%= link_to "/#{gen_form[0]}/#{model_name}/opdc_input/#{id}?original_url=#{request.path}", class: 'm-1 p-2 align-self-center btn btn-sm btn-warning w-120px' do %>
                                    <i class="fas fa-edit"></i> ให้คะแนน
                                <% end %>
                            <% end %>
                        <% end %>
                    
                    <% end %>



                    <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>
                    <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}?#{params_name}", method: :delete, class: 'm-2 p-2 align-self-center btn btn-sm bg-danger text-white w-70px',  data: { confirm: 'ต้องการลบใช่หรือไม่?' } do %>
                        <i class="fa-regular fa-trash-can text-white"></i> <%= t(:delete) %>
                    <% end %> 
                    <% end %> 

                    


                <% else %>

                    <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}/tasks?plan_report_id=#{params[:id]}&original_url=#{request.path}", class: 'm-2 p-2 align-self-center btn btn-sm btn-warning w-120px' do %>
                        <i class="fas fa-edit"></i> <%= t(:task_resoults) %>
                    <% end %>

                <% end %>





<% end #end check_role %>


<%= link_to "/#{gen_form[0]}/#{model_name}/opdc_input/#{id}?print=true&original_url=#{request.path}&print=true", class: 'm-2 p-2 align-self-center btn btn-sm bg-info text-white w-70px' do %>
    <i class="fa-solid fa-eye text-white"></i> <%= t(:view) %>
<% end %>



<%= link_to "/#{gen_form[0]}/#{model_name}/history/#{id}?original_url=#{request.path}", class: 'm-2 p-2 align-self-center btn btn-sm bg-light w-70px' do %>
    <i class="fa-solid fa-clock-rotate-left align-middle mx-auto"></i> <%= t(:history) %>
<% end %>








