<%
model_name = model_name
plan = plan
url = URI("#{$server[@controller_title]}/api/v1/mains/#{plan['id']}/last_action?model_name=#{model_name}")
last_action = request_api(url,'get',nil)
%>

<% if last_action %>
<div class="d-flex py-2 mx-3 align-items-center">
    <span class="badge badge-<%= get_status_flow(last_action['data']['status']) rescue nil %>"><%= last_action['data']['user_role']['title'] rescue nil %> : <%= last_action['data']['status'] rescue nil %></span>
</div>
<% end %>