<%
#init
model_name = 'master_plans' if model_name.blank?

case model_name
when 'master_plans'
   theme_color = 'success'
else
   theme_color = 'warning'
end
      

url = URI("#{$server[@controller_title]}/api/v1/#{model_name}/#{id}")
@item = request_api(url,'get',nil)

url = URI("#{$server[@controller_title]}/api/v1/#{model_name}/#{id}/master_plan_users?order=order_sort&sort=asc")
@master_plan_users = request_api(url,'get',nil)

%>
<%#= @master_plan_users %>
<div class="card card-custom gutter-b">
   <!--begin:content-details-->
   <div class="card-content">   

      <h3 class="fs-3"><%= @item['data']['title'] %></h3>

         
      <% @item['data']['plans'].each_with_index do |item, idx| %>
         <span class="badge badge-light fs-7 m-1" style="white-space: inherit;"><%= item['title'] %></span>
      <% end %>

      
      <div class="h-8px bg-light rounded mt-5">
         <div class="bg-<%= theme_color %> rounded h-6px" role="progressbar" style="width: 10%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <ul class="nav nav-pills d-flex flex-nowrap hover-scroll-x ">
         <% @master_plan_users['data'].each_with_index do |item, idx| %>
         <li class="nav-item me-1 w-60px">
            <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-1 py-4 px-3"  href="#kt_schedule_day_6">

               <% if item['status'] == 'approved' %>
                  <span class="badge badge-circle badge-success "></span>
               <% elsif item['status'] == 'not-approve' %>
                  <span class="badge badge-circle badge-warning "></span>
               <% else %>
                  <span class="badge badge-circle badge-light"></span>
               <% end %>

               <span class="fs-7 text-dark" style="line-height: 1.2rem;"><b><%= item['user_role']['title'] %></b></span>
               <span class="badge badge-light fs-7 mr-2"><%= item['user']['firstname'] %></span>
               <span class="badge badge-light fs-7 mr-2"><%= item['order_sort'] %></span>
            </a>
         </li>    
         <% end %>     
      </ul>
      <div class="row">
         <div class="col-sm-5">
            <span class="fs-7 text-dark"><b>สถานะ : </b></span> <span class="fs-7 text-success"><%#= @master_plan_users['data'][0]['status'] %></span>
         </div>
         <div class="col-sm-5">
            <span class="fs-7 text-dark"><b>กำหนดเวลา : </b><%= @item['data']['period_year'] %></span>
         </div>
         <div class="col-sm-2">

         </div>

         <div class="col-sm-5">
            <span class="fs-7 text-dark"><b>ผู้สร้าง : </b><%= @item['data']['user']['firstname'] %> <%= @item['data']['user']['lastname'] %></span>
         </div>
         <div class="col-sm-5">
            <span class="fs-7 text-dark"><b>อัพเดทเมื่อ : </b><%= @item['data']['updated_at'] %></span>
         </div>
         <div class="col-sm-2">
            <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">

               <a href="/<%= @controller_title %>/<%= model_name %>/<%= id %>" class="btn btn-icon btn-sm btn-<%= theme_color %> btn-active-info w-40px h-30px" role="button" aria-pressed="true"><i class="fa-solid fa-arrow-right"></i></a>

            </div>   
         </div>
      </div>
      <!--button:content-->

   </div>
   <!--end::content-details-->
</div> 