<div class="card card-custom gutter-b">
            <!--begin:content-details-->
            <div class="card-content">          
                  <div class="h-8px bg-light rounded mt-5">
                     <div class="bg-warning rounded h-6px" role="progressbar" style="width: 10%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                     <ul class="nav nav-pills d-flex flex-nowrap hover-scroll-x ">
                        <!--begin::Date-->
                        <li class="nav-item me-1">
                        <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-1 py-4 px-3"  href="#kt_schedule_day_6">
                           <span class="badge badge-circle badge-warning "></span>
                              <span class="fs-7 text-dark">สำนัก</span>
                           </a>
                        </li>
                        <!--end::Date-->
                        <!--begin::Date-->
                        <li class="nav-item me-1">
                        <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-1 py-4 px-3"  href="#kt_schedule_day_6">
                           <span class="badge badge-circle badge-secondary "></span>
                              <span class="fs-7 text-dark">หน.สำนัก</span>
                           </a>
                        </li>
                        <!--end::Date-->
                        <!--begin::Date-->
                        <li class="nav-item me-1">
                        <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-1 py-4 px-3"  href="#kt_schedule_day_6">
                           <span class="badge badge-circle badge-secondary "></span>
                              <span class="fs-7 text-dark">กพร.</span>
                           </a>
                        </li>
                        <!--end::Date-->
                        <!--begin::Date-->
                        <li class="nav-item me-1">
                        <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-1 py-4 px-3"  href="#kt_schedule_day_6">
                           <span class="badge badge-circle badge-secondary "></span>
                              <span class="fs-7 text-dark">หน. กพร</span>
                           </a>
                        </li>
                        <!--end::Date-->
                        <!--begin::Date-->
                        <li class="nav-item me-1">
                        <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-1 py-4 px-3"  href="#kt_schedule_day_6">
                           <span class="badge badge-circle badge-secondary "></span>
                              <span class="fs-7 text-dark">เลขารองอธิบดี</span>
                           </a>
                        </li>
                        <!--end::Date-->
                        <!--begin::Date-->
                        <li class="nav-item me-1">
                        <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-1 py-4 px-3"  href="#kt_schedule_day_6">
                           <span class="badge badge-circle badge-secondary "></span>
                              <span class="fs-7 text-dark">รองอธิบดี</span>
                           </a>
                        </li>
                        <!--end::Date-->
                        <!--begin::Date-->
                        <li class="nav-item me-1">
                           <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-1 py-4 px-3"  href="#kt_schedule_day_6">
                           <span class="badge badge-circle badge-secondary "></span>
                              <span class="fs-7 text-dark">เลขาอธิบดี</span>
                           </a>
                        </li>
                        <!--end::Date-->
                        <!--begin::Date-->
                        <li class="nav-item me-1">
                        <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-1 py-4 px-3"  href="#kt_schedule_day_6">
                           <span class="badge badge-circle badge-secondary "></span>
                              <span class="fs-7 text-dark">อธิบดี</span>
                           </a>
                        </li>
                     <!--end::Date-->           
                  </ul>
                  <div class="row">
                     <div class="col-sm-5">
                     <span class="fs-7 text-dark">สถานะ : </span> <span class="fs-7 text-warning">ร่างแผน</span>
                     </div>
                     <div class="col-sm-5">
                     <span class="fs-7 text-dark">กำหนดเวลา : 08/03/2565</span>
                     </div>
                     <div class="col-sm-2">
                     
                     </div>
                     
                     <div class="col-sm-5">
                     <span class="fs-7 text-dark">ผู้แจ้ง : </span>
                     </div>
                     <div class="col-sm-5">
                     <span class="fs-7 text-dark">Update : 02/02/65 : 12.30</span>
                     </div>
                     <div class="col-sm-2">
                        <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">

                        <a href="../../km/comment_report_user02" class="btn btn-icon btn-sm btn-warning btn-active-info w-40px h-30px" role="button" aria-pressed="true"><i class="fa-solid fa-arrow-right"></i></a>
                      
                        </div>   
                     </div>
                  </div>
                     <!--button:content-->
                        
            </div>
            <!--end::content-details-->
         </div> 