<%
#init
#model_name = model_name.camelize
model_name = 'master_plan' if model_name.blank?

col_size = col_size

case model_name
when 'master_plan'
   theme_color = 'success'
else
   theme_color = 'warning'
end

#url_level_1 = 'user/' if url_level_1.blank?
url_level_1 = '' if url_level_1 == '/'



#url = URI("#{$server[@controller_title]}/api/v1/#{model_name}/#{id}")
#@item = request_api(url,'get',nil)
@item = item

##url = URI("#{$server[@controller_title]}/api/v1/#{model_name}s/#{item['id']}/#{model_name}_users?order=order_sort&sort=asc")
##@action_users = request_api(url,'get',nil)

##url = URI("#{$server[@controller_title]}/api/v1/#{model_name}s/#{item['id']}/last_action")
##@last_actions = request_api(url,'get',nil)


##if !@action_users['data'].blank? && !@last_actions['data'].blank?
  # @progressbar = 100/@action_users['data'].size.to_i * @last_actions['data'].size.to_i
##else
   ##@progressbar = 0
##end




%>



<% if !@item.blank? %>
<div class="card card-custom gutter-b <%= col_size %>">
   <!--begin:content-details-->
   <div class="card-content">   


      <% if model_name == 'master_plan' %>


         <h3 class="fs-3">
            <%#= @item['period_year']&.to_date&.year + 543 rescue nil %>
         </h3>

      <% else %>

         <h3 class="fs-3">
         <% if  @item[1].present? %>
   
            รายงานประจำปีงบประมาณ <%= @item[1]&.to_date&.year + 543  rescue nil  %>  

         </h3>
         
   <% end %>
      <% end %>

      
      <div class="row">


      <div class="col-sm-5">
              
      <span class="fs-7 text-dark"><b> </b><%#= convert_thai_date(@item['created_at']&.in_time_zone&.to_date,'default') %></span>      


   </div>
   <div class="col-sm-5">
      <span class="fs-7 text-dark"><b> </b><%#= convert_thai_date(@item['updated_at']&.in_time_zone&.to_date,'default') %></span>
   </div>
   <div class="col-sm-2">
      <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
         <%
         
         %>
         <a href="/<%= @controller_title %>/<%= url_level_1 %><%= @sub_system_local %><%= model_name %>s/<%= @item[0] %>/plan_reports_by_master_plan" class="btn btn-icon btn-sm btn-<%= theme_color %> btn-active-info w-40px h-30px" role="button" aria-pressed="true"><i class="fa-solid fa-arrow-right"></i></a>

      </div>   
   </div>


         
      </div>
      <!--button:content-->

   </div>
   <!--end::content-details-->
</div> 
<% end %>