<%
#init
#model_name = model_name.camelize
model_name = 'master_plan' if model_name.blank?

col_size = col_size

case model_name
when 'master_plan'
   theme_color = 'success'
else
   theme_color = 'warning'
end

#url_level_1 = 'user/' if url_level_1.blank?
url_level_1 = '' if url_level_1 == '/'



#url = URI("#{$server[@controller_title]}/api/v1/#{model_name}/#{id}")
#@item = request_api(url,'get',nil)
@item = item

url = URI("#{$server[@controller_title]}/api/v1/#{model_name}s/#{item['id']}/#{model_name}_users?order=order_sort&sort=asc")
@action_users = request_api(url,'get',nil)

url = URI("#{$server[@controller_title]}/api/v1/#{model_name}s/#{item['id']}/last_action")
@last_actions = request_api(url,'get',nil)


if !@action_users['data'].blank? && !@last_actions['data'].blank?
   @progressbar = 100/@action_users['data'].size.to_i * @last_actions['data'].size.to_i
else
   @progressbar = 0
end

%>



<% if !@item.blank? %>
<div class="card card-custom gutter-b <%= col_size %>">
   <!--begin:content-details-->
   <div class="card-content">   



      <% if model_name == 'master_plan' %>


         <h3 class="fs-3">
            <%= @item['period_year']&.to_date&.year + 543 rescue nil %>
         </h3>
         
         
      <% else %>
 
         <h3 class="fs-3">
         <% if  @item['period_report_title'].present? %>
         <%= @item['period_report_title'] %> 
         <% end %> 
            <%= @item['master_plan']['period_year']&.to_date&.year + 543 rescue nil if @item['master_plan'] %>  

         </h3>
         

         <% if !@item['master_plan']['institution'].blank? %>
               <small><%= @item['institution']['title'] rescue nil %></small>
         <% end %>

      <% end %>



      <% if !@item['institution'].blank? %>
         <small><%= @item['institution']['title'] rescue nil %></small>
      <% end %>




      
      
      <% if !@action_users.blank? && !@action_users['data'].blank? %>
      <div class="fs-1">
         <%
         case @controller_title
         when 'risk'
            @width_block = '100%'
            @style_bullet = 'd-flex justify-content-between'
         else
            @width_block = @action_users['data'].size.to_i * 50
            @style_bullet = 'd-flex'
         end
         %>
         <div class="h-8px bg-light rounded mt-5" style="width: <%= @width_block %>px">
            <div class="bg-<%= theme_color %> rounded h-6px" role="progressbar" style="width: <%= @progressbar %>%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
         </div>

         <ul class="nav nav-pills <%= @style_bullet %>">
       
            <% @action_users['data'].each_with_index do |item, idx| %>
            <li class="nav-item px-0 mx-0 w-50px">
               <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px me-1 py-4 px-3"  href="#kt_schedule_day_6">

                  <% if item['status'] == 'approved' %>
                     <span class="badge badge-circle badge-success "></span>
                  <% elsif item['status'] == 'not-approve' %>
                     <span class="badge badge-circle badge-warning "></span>
                  <% elsif item['status'] == 'completed' %>
                     <span class="badge badge-circle badge-info "></span>
                  <% else %>
                     <span class="badge badge-circle badge-light"></span>
                  <% end %>

                 

                  <span class="badge badge-light fs-7 mr-2 my-1"><%= item['order_sort'] %></span>
                  <span class="fs-7 text-dark py-2" style="line-height: 0.9rem;"><b><%= item['user_role']['title'] %></b></span>
                  <span class="badge badge-light fs-7 mr-2"><%= item['user']['firstname'] if !item['user'].blank? %></span>
                  
               </a>
            </li>    
            <% end %>     
                
         </ul>
      </div>
      <% end %> 


      <% if model_name == 'plan_report' %>
  
     <div class="py-5">รอบ : <span class="badge badge-info"> <%= convert_thai_date(@item['startdate']&.in_time_zone&.to_date,'default') rescue nil %></span> ถึง <span class="badge badge-info"><%= convert_thai_date(@item['enddate']&.in_time_zone&.to_date,'default') rescue nil %></span></div>

     
      <% end %>
      
      <div class="row">

         <div class="col-sm-5">
 
              
               
            <span class="fs-7 text-dark"><b>วันที่สร้าง : </b><%= convert_thai_date(@item['created_at']&.in_time_zone&.to_date,'default') %></span>      


           
     
         </div>
         <div class="col-sm-5">
            <span class="fs-7 text-dark"><b>อัพเดทเมื่อ : </b><%= convert_thai_date(@item['updated_at']&.in_time_zone&.to_date,'default') %></span>
         </div>
         <div class="col-sm-2">
            <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
               <%
               if @item['type_name'] == 'pmqa_fl' || @item['type_name'] == 'pmqa_fr' || @item['type_name'] == 'control'
                  @sub_system_local = "#{@item['type_name']}/" 
               end
               %>
               <a href="/<%= @controller_title %>/<%= url_level_1 %><%= @sub_system_local %><%= model_name %>s/<%= item['id'] %>" class="btn btn-icon btn-sm btn-<%= theme_color %> btn-active-info w-40px h-30px" role="button" aria-pressed="true"><i class="fa-solid fa-arrow-right"></i></a>

            </div>   
         </div>
      </div>
      <!--button:content-->

   </div>
   <!--end::content-details-->
</div> 
<% end %>