<%# unless item.empty? %>
<%= turbo_frame_tag dom_id(item), class: "card", data: {
	        stream_enter_class: "animate-cart-in",
	        stream_exit_class: "animate-cart-out"
	  } do %>
		<div class="card-header"><%= item.title %></div>
		<div class="card-body">
			<%= item.updated_at %>
		</div>
<% end %>
<%# end %>

