<%
#init
model_name_1 = 'master_plan' if model_name_1.blank?
model_name_2 = 'master_plans' if model_name_2.blank?
#params_url = params[:master_plan_id]
params_url = nil if params_url.blank?

if @datas && !@datas['data'].blank?
    @order_sort = @datas['data']['order_sort'].to_i
    @user_role_id = @datas['data']['user_role_id']
    @user_id = @datas['data']['user_id']
else
    @order_sort = @order_sort_max
end




if model_name_2 == 'plan_users'
    parent_name = 'plan_id'
else
    parent_name = 'master_plan_id'
end




%>
<div class="container-fluid">
        <div class="row">
            <div class="col"> 
                  <div class="float-start">
                        <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i>เพิ่มลำดับงาน</h2> 
                  </div>
            <div class="col">
              <div class="float-end">  
                    <!--button:header-->
                    <%#= link_to "/#{@controller_title}/#{model_name_2}?plan_id=#{params_url}", class: 'btn btn-light -sm' do %> 
                    <%= link_to "/#{@controller_title}/#{model_name_2}?#{parent_name}=#{params_url}", class: 'btn btn-light -sm' do %> 
                        <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
                    <% end %>
              </div> 
            </div>
       </div>


        <!--begin:Content-->
        <div class="row">
      
          <!--begin::Col-->
          <div class="col-sm-12">
                <!--begin::Tables Widget 9-->
                <div class="card card-xl-stretch mb-5 mb-xl-8">
                      <!--begin::Body-->
                      <div class="card-body py-3">
                            <!--begin::Table container-->
                            <div class="table-responsive">
                            <%= form_for("#{model_name_1}", url: "/#{gen_form[0]}/#{model_name_2}#{gen_form[1]}" , method: gen_form[2]) do |f| %>

                                <div class="row">
                                    <div class="col-6 mt-5 mb-5">
                                            <label for="formGroupExampleInput" class="form-label">
                                                <h5>ลำดับ<span class="text-danger">*</span> </h5>
                                            </label>
                                            <%= f.number_field :order_sort, min: 1, class: "form-control", placeholder: t(:order_sort), value: @order_sort, required: true %>    
                                    </div>                                             
                                    <div class="col-6 mt-5">
                                            <label for="formGroupExampleInput" class="form-label">
                                                <h5>สิทธิ์<span class="text-danger">*</span> </h5>
                                            </label>
                                            <%= select_tag("#{model_name_1}[user_role_id]", options_for_select(@data_user_roles['data'].map { |item| [item['title'], item['id']] }, @user_role_id), {class: 'selectize-user_role form-control', required: true}) %>     
                                    </div>   

                                    <div class="col-6 mt-5">
                                            <label for="formGroupExampleInput" class="form-label">
                                                <h5>ผู้รับผิดชอบ<span class="text-danger"></span> </h5>
                                            </label>
                                           
                                            <%= select_tag("#{model_name_1}[user_id]", options_for_select(@data_users['data'].map { |item| ["#{item['firstname']} #{item['lastname']}", item['id']] }, @user_id),{include_blank: true, class: 'selectize-user form-control'}) %>     
                                    </div>                                    
                                    
                                    <div class="col-12 mt-5 mb-5">
                                      <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
                                          <% if !params_url.blank? %>
                                            <%= f.hidden_field "#{params_name}", value: params_url %>
                                          <% end %>      
                                          <%= f.submit t(:saves), class: "btn btn-info" %>
                                        </div>
                                      </div>                 
                                    </div>
                            <% end %>  
                                 
                            </div>
                            <!--end::Table container-->
                      </div>
                      <!--begin::Body-->
                </div>
                <!--end::Tables Widget 9-->
          </div>
          <!--end::Col-->

  </div>

       
</div>
<!--end::Kt_content-->
