
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<%
#demo data
#plan_report_id = "2C7212AC-797B-4998-9BD3-1AEDE202CDD1"

#url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{plan_report_id}")
#@plan_report = request_api(url,'get',nil)




#params[:master_plan_id] = 'D484F7DC-7ED0-4F18-BB5D-F090939A49A7'

url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}")
@master_plan = request_api(url,'get',nil)

url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}/plan_reports")
@mp_plan_reports = request_api(url,'get',nil)


#url = URI("#{$server[@controller_title]}/api/v1/tasks/#{params[:master_plan_id]}/task_plan_report")
#@mp_plan_reports = request_api(url,'get',nil)

url = URI("#{$server[@controller_title]}/api/v1/institutions")
@inst_datas = request_api(url,'get',nil)




@category_name = Hash.new
case @controller_title
when 'km'
   @category_name['th'] = 'เรื่อง'
   @category_name['en'] = 'Subject'
else
   @category_name['th'] = 'หมวด'
   @category_name['en'] = 'Category'
end

title_short_arr = Array.new
data1_arr = Array.new
data2_arr = Array.new
data3_arr = Array.new
data4_arr = Array.new
data5_arr = Array.new
data6_arr = Array.new
data7_arr = Array.new
data8_arr = Array.new

%>


<%
#init
#id = SecureRandom.uuid

id = SecureRandom.hex(5)
apex_id = SecureRandom.hex(5)

id2 = SecureRandom.hex(5)
apex_id2 = SecureRandom.hex(5)

id3 = SecureRandom.hex(5)
apex_id3 = SecureRandom.hex(5)

%>

<div class="row g-6 g-xl-9">


<!--begin::Box 1-->
<div class="col-sm-12 col-lg-12">
   <div class="card-body p-0 d-flex justify-content-between flex-column overflow-hidden">
      



      <div class="">
         <div class="card-header pt-2 pb-4 align-items-center row">
            <div class="col-12 col-md-4 mx-2">
               <span class="fw-bolder text-gray-800 d-block fs-3">รายงานผลการดำเนินงาน</span>
               <span class="text-gray-400 fw-bold"><%= Time.now %></span>
            </div>

            <div class="col-12 col-md-3 mx-2">
               <b>ตามปีงบประมาณ</b>
               <%= select_tag("select[master_report_id]", options_for_select(@master_plans['data'].map { |item| [(item['period_year']&.to_date&.year + 543 rescue nil), item['id']] }, (params[:master_plan_id] rescue nil)), {id: 'select_master_plan_id',class: 'selectize-activity form-control'}) if @master_plans && !@master_plans['data'].blank? %>
               </div>

               
           

         </div>

         <% if @master_plan['data'].present? %>

            <% @master_plan['data']['plans'].each do |plan| %>

               <% plan['categories'].each do |category| %>
               
                     <% title_short_arr = title_short_arr.push(category['institution']['title_short']) %>
                     <b><%= category['institution']['title'] %></b>
                        <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each do |list| %>

                           <ul><%= list['id'] %>
                           <b><%= list['activity']['title'] %></b>
                           

                               <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                   
                                <li>
                                 <%= list_activity['plan_report_id'] rescue nil %>
                                 <%= list_activity['title'] rescue nil %> <%= list_activity['status'] rescue nil %>

                                 <b><%= get_status_tasks_percent(list_activity['status']) rescue nil %></b>
                                
                                </li>
                                 
                                 
                              <% end %>
                        </ul>
                        <% end %>
                        

               <% end %>
            <% end %>
         <% end %>      

         <div class="card-body pt-2 pb-4 align-items-center">
            <div id="graph-<%= id3 %>" style="height: 350px; width: 100%;"></div>
         </div>
      </div>


   </div>
</div> 
<!--end::Box 1-->





</div>



<!-- Start รายการตัวชี้วัดแยกตาม สำนัก/กอง/กลุ่ม/ศูนย์ -->


<div class="row">


<div class="me-2 w-100">
   <span class="fw-bolder text-gray-800 d-block fs-3">รายการตัวชี้วัดแยกตาม สำนัก/กอง/กลุ่ม/ศูนย์</span>
  
</div>

<% if !params[:master_plan_id].blank? %>

<div class="col-12 col-md-3 mx-2">
   <b>ประจำเดือน</b>

   <%= select_tag("select[plan_report_id]", options_for_select(@mp_plan_reports['data'].map { |item| [(item['startdate']&.to_date&.month rescue nil), item['id']] }, (params[:plan_report_id] rescue nil)), {include_blank: true, id: 'select_plan_report_id',class: 'selectize-activity form-control'}) if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
   </div>

<% end %>

<div class="table-responsive py-5 mt-10">
<table id="data_kpis" class="table table-bordered">
   <thead>
   
  
         <tr>
           <th class="text-center">ลำดับที่</th>
           <th class="text-center">สำนัก/กอง/กลุ่ม/ศูนย์</th>
           <th class="text-center">เรื่อง</th>
           <th class="text-center">ขั้นตอนที่ 1</th>
           <th class="text-center">ขั้นตอนที่ 2</th>
           <th class="text-center">ขั้นตอนที่ 3</th>
           <th class="text-center">ขั้นตอนที่ 4</th>
           <th class="text-center">ขั้นตอนที่ 5</th>
           <th class="text-center">ขั้นตอนที่ 6</th>
           <th class="text-center">ขั้นตอนที่ 7</th>
           <th class="text-center">ขั้นตอนที่ 8</th>

         </tr>
   </thead>
   <tbody>
        <% if @master_plan['data'].present? %>

            <% @master_plan['data']['plans'].each do |plan| %>

               <% plan['categories'].each do |category| %>
                  
                     <%# title_short_arr = title_short_arr.push(category['institution']['title_short']) %>

                  <tr>
                    <td><div style="width: 80px"><%=  %></div></td>
                    <td><div style="width: 200px"><%= category['institution']['title'] %></div></td>

                    <td><div style="width: 200px"><%= plan['title'] rescue nil %></div></td>
                        <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each do |list| %>
                          
                           <% if !params[:plan_report_id].nil? %>

                           
                              <td class="text-left" ><div style="width: 550px">

                        

                                 <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do|list_activity| %>
                                    <% list_activity['tasks'].sort_by{|i| i['order_sort'].to_i}.each do |task| %>
                                      
                                          <% if !task['task_results'].nil?  %>
                                              <% if (!task['task_results'].nil?) && (task['plan_report_id'] == params[:plan_report_id]) %>
                                                   <ul>
                                             
                                                            <% task['task_results'].sort_by{|i| i['order_sort'].to_i}.each do |task_result| %>

                                                            <li> <%= task_result['title'] %> </li>
                                                            <% end %>
                                                   </ul>
                                              <% end %>
                                          <% end %>
                                    <% end %>            
                                 <% end %>
                             
                             
                               
                           <% end %> <!-- End if -->
                           </td><div style="width: 550px"></div></td>
                        <% end %>
                  </tr>
                
               <% end %>
            <% end %>
         <% end %>   
       </tbody>
         </table>

         <%= title_short_arr %>
   </div>




<!-- End รายการตัวชี้วัดแยกตาม สำนัก/กอง/กลุ่ม/ศูนย์ -->


<% content_for :footer do %>
<script type="text/javascript">
 $('#select_master_plan_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=' + value;
 });


 $('#select_plan_report_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=<%= params[:master_plan_id] %>&plan_report_id=' + value;
 });
</script>







<script type="text/javascript">
// Shared Colors Definition

const primary = '#6993FF';
const success = '#1BC5BD';
const info = '#8950FC';
const warning = '#FFA800';
const danger = '#F64E60';
const grey = '#cccccc';
const apexChart_<%= apex_id %> = "#graph-<%= id %>";
      var options = {
         series: [
         {
            name: 'เสร็จตามกำหนด',
            data: [
               <% if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
                  <% @mp_plan_reports['data'].each do |plan_report| %>
                     <%

                      url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{plan_report['id']}/group_by_status_list_activity_history?status=completed-on-schedule&plan_id=#{params[:plan_id]}")
                      statuses = request_api(url,'get',nil)
                      %>
                      <% if statuses && !statuses['data'].blank? && statuses['data'].size > 0 %>
                         <% statuses['data'].each do |item| %>
                           <%= item[1].size.to_i %>,
                        <% end %>
                     <% else %>
                        0,
                     <% end %>
                  <% end %>
               <% end %>
            ]
         },

         {
            name: 'เสร็จล่าช้ากว่ากำหนด',
            data: [
               <% if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
                  <% @mp_plan_reports['data'].each do |plan_report| %>
                     <%
                      url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{plan_report['id']}/group_by_status_list_activity_history?status=completed-later-than-scheduled&plan_id=#{params[:plan_id]}")
                      statuses = request_api(url,'get',nil)
                      %>
                      <% if statuses && !statuses['data'].blank? && statuses['data'].size > 0 %>
                      <% statuses['data'].each do |item| %>
                        <%= item[1].size %>,
                      <% end %>
                      <% else %>
                        0,
                      <% end %>
                  <% end %>
               <% end %>
            ]
         },

         {
            name: 'ยังไม่ดำเนินการ',
            data: [
               <% if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
                  <% @mp_plan_reports['data'].each do |plan_report| %>
                     <%
                      url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{plan_report['id']}/group_by_status_list_activity_history?status=not-started&plan_id=#{params[:plan_id]}")
                      statuses = request_api(url,'get',nil)
                      %>
                      <% if statuses && !statuses['data'].blank? && statuses['data'].size > 0 %>
                      <% statuses['data'].each do |item| %>
                        <%= item[1].size %>,
                     <% end %>
                     <% else %>
                     0,
                     <% end %>
                  <% end %>
               <% end %>
            ]
         },

         {
            name: 'อยู่ระหว่างดำเนินการ',
            data: [
               <% if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
                  <% @mp_plan_reports['data'].each do |plan_report| %>
                     <%
                      url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{plan_report['id']}/group_by_status_list_activity_history?status=in-process&plan_id=#{params[:plan_id]}")
                      statuses = request_api(url,'get',nil)
                      %>
                      <% if statuses && !statuses['data'].blank? && statuses['data'].size > 0 %>
                      <% statuses['data'].each do |item| %>
                        <%= item[1].size %>,
                     <% end %>
                     <% else %>
                     0,
                     <% end %>
                  <% end %>
               <% end %>
            ]
         },
         
         ],
         chart: {
            type: 'bar',
            height: 350
         },
         plotOptions: {
            bar: {
               horizontal: false,
               columnWidth: '55%',
               endingShape: 'rounded'
            },
         },
         dataLabels: {
            enabled: false
         },
         stroke: {
            show: true,
            width: 30,
            colors: ['transparent']
         },
         xaxis: {
            categories: [
            <% if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
               <% @mp_plan_reports['data'].each do |plan_report| %>
                  "<%= plan_report['startdate']&.in_time_zone&.to_date %> ถึง <%= plan_report['enddate']&.in_time_zone&.to_date %>",
               <% end %>
            <% end %>
            ],
         },
         yaxis: {
            title: {
               text: 'จำนวนงาน'
            }
         },
         fill: {
            opacity: 1
         },
         tooltip: {
            y: {
               formatter: function (val) {
                  return " " + val + " กิจกรรม"
               }
            }
         },
         colors: [success, info, grey, warning]
      };

      var chart = new ApexCharts(document.querySelector(apexChart_<%= apex_id %>), options);
      chart.render();

</script>





<script type="text/javascript">

const apexChart_<%= apex_id2 %> = "#graph-<%= id2 %>";

var options = {
   series: [
   
   <%
    url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}/group_by_status_list_activity?status=completed-on-schedule&plan_id=#{params[:plan_id]}")
    statuses = request_api(url,'get',nil)
    %>
    <% if statuses && statuses['data'] && statuses['data'].size > 0 %>
    <% statuses['data'].each do |item| %>
      <%= item[1].size %>,
   <% end %>
   <% else %>
      0,
   <% end %>

   <%
    url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}/group_by_status_list_activity?status=completed-later-than-scheduled&plan_id=#{params[:plan_id]}")
    statuses = request_api(url,'get',nil)
    %>
    <% if statuses && statuses['data'] && statuses['data'].size > 0 %>
    <% statuses['data'].each do |item| %>
      <%= item[1].size %>,
   <% end %>
   <% else %>
      0,
   <% end %>

   <%
    url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}/group_by_status_list_activity?status=not-started&plan_id=#{params[:plan_id]}")
    statuses = request_api(url,'get',nil)
    %>
    <% if statuses && statuses['data'] && statuses['data'].size > 0 %>
    <% statuses['data'].each do |item| %>
      <%= item[1].size %>,
   <% end %>
   <% else %>
      0,
   <% end %>

   <%
    url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}/group_by_status_list_activity?status=in-process&plan_id=#{params[:plan_id]}")
    statuses = request_api(url,'get',nil)
    %>
    <% if statuses && statuses['data'] && statuses['data'].size > 0 %>
    <% statuses['data'].each do |item| %>
      <%= item[1].size %>,
   <% end %>
   <% else %>
      0,
   <% end %>

      
   ],
   chart: {
      width: 350,
      type: 'donut',
   },
   legend: {
    position: 'top' 
  },
   labels: [
   'เสร็จตามกำหนด','เสร็จล่าช้ากว่ากำหนด','ยังไม่ดำเนินการ','อยู่ระหว่างดำเนินการ',
   ],
   /*responsive: [{
      breakpoint: 480,
      options: {
         chart: {
            width: 200,
         },
         legend: {
            position: 'bottom'
         }
      }
   }],*/
   colors: [success, info, grey, warning]
};

var chart2 = new ApexCharts(document.querySelector(apexChart_<%= apex_id2 %>), options);
chart2.render();
</script>



  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">

   
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>



  <script type="text/javascript">
    $(document).ready(function () {
    $('#data_kpis').DataTable({
        dom: 'Bfrtip',
        buttons: [
            //'copy', 'csv', 'excel', 'pdf', 'print'
            'copy', 'csv', 'excel', 'print'
        ],
        columnDefs: [
            { width: 200, targets: 0 }
        ],
        fixedColumns: true,
        initComplete: function () {
            this.api()
                .columns()
                .every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
 
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
 
                    column
                        .data()
                        .unique()
                        .sort()
                        .each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                });
        },
    });
});
  </script>



<% end %>






<hr>


<script type="text/javascript">

var institution_arr = <%= raw title_short_arr %>;

const apexChart_<%= apex_id3 %> = "#graph-<%= id3 %>";
var options = {
   series: [{
   name: 'ขั้นตอนที่ 1',
   data: [44, 55, 41, 67, 22, 43, 65, 98, 15, 15, 21, 14, 44]
 }, {
   name: 'ขั้นตอนที่ 2',
   data: [13, 23, 20, 8, 13, 27, 56 ,98, 15, 15, 21, 14, 55]
 }, {
   name: 'ขั้นตอนที่ 3',
   data: [11, 17, 15, 15, 21, 14, 32, 22, 15, 15, 21, 14, 76]
 }, {
   name: 'ขั้นตอนที่ 4',
   data: [21, 7, 25, 13, 22, 8, 33, 55, 15, 15, 21, 14, 55]
 }, {
   name: 'ขั้นตอนที่ 5',
   data: [21, 7, 25, 13, 22, 8, 34, 44, 15, 15, 21, 14, 55]
 }, {
   name: 'ขั้นตอนที่ 6',
   data: [21, 7, 25, 13, 22, 8, 34, 55, 15, 15, 21, 14, 55]
 }, {
   name: 'ขั้นตอนที่ 7',
   data: [21, 7, 25, 13, 22, 8, 34, 46, 15, 15, 21, 14, 43]
 }, {
   name: 'ขั้นตอนที่ 8',
   data: [21, 7, 25, 13, 22, 8, 34, 34, 15, 15, 21, 14, 77]
 }],
   chart: {
   type: 'bar',
   height: 350,
   stacked: true,
   stackType: '100%',
   toolbar: {
     show: true
   },
   zoom: {
     enabled: true
   }
 },
 responsive: [{
   breakpoint: 480,
   options: {
     legend: {
       position: 'bottom',
       offsetX: -10,
       offsetY: 0
     }
   }
 }],
 plotOptions: {
   bar: {
     horizontal: false,
     borderRadius: 5,
     borderRadiusApplication: 'end', // 'around', 'end'
     borderRadiusWhenStacked: 'last', // 'all', 'last'
     dataLabels: {
       total: {
         enabled: false,
         style: {
           fontSize: '13px',
           fontWeight: 900
         }
       }
     }
   },
 },
 xaxis: {
  // type: 'string',


   categories: institution_arr,


 },
 legend: {
   position: 'right',
   offsetY: 40
 },
 fill: {
   opacity: 1
 }
 };

 var chart3 = new ApexCharts(document.querySelector(apexChart_<%= apex_id3 %>), options);
 chart3.render();

 
</script>



