<%
#init
#id = SecureRandom.uuid
id = SecureRandom.hex(5)
apex_id = SecureRandom.hex(5)
%>
<div class="">
   <div class="card-header pt-2 pb-4 align-items-center">
      <div class="me-2 w-100">
         <span class="fw-bolder text-gray-800 d-block fs-3">รายงานการประเมิน</span>
         <span class="text-gray-400 fw-bold"><%= Time.now %></span>
      </div>
      <select class="form-select form-select-solid select2-hidden-accessible" data-control="select2" data-hide-search="true" data-placeholder="ประจำปี :" name="target_assign" data-select2-id="select2-data-67-gsau" tabindex="-1" aria-hidden="true">
         <option value="" data-select2-id="select2-data-69-qeo1">ประจำปี :</option>
         <option value="1" data-select2-id="select2-data-126-m4rn">ปี 2565</option>
         <option value="2" data-select2-id="select2-data-127-qjrh">ปี 2564</option>
         <option value="3" data-select2-id="select2-data-128-prfz">ปี 2563</option>
         <option value="4" data-select2-id="select2-data-129-t5ex">ปี 2562</option>
      </select>
   </div>
   <div class="card-body pt-2 pb-4 align-items-center">
      <div id="graph-<%= id %>" style="height: 350px; width: 100%;"></div>
   </div>
</div>


<% content_for :footer do %>

<script type="text/javascript">
// Shared Colors Definition
const primary = '#6993FF';
const success = '#1BC5BD';
const info = '#8950FC';
const warning = '#FFA800';
const danger = '#F64E60';
const grey = '#dddddd';
const apexChart_<%= apex_id %> = "#graph-<%= id %>";
      var options = {
         series: [
         {
            name: 'คะแนนเต็ม',
            data: [500, 500, 500, 500, 500, 500, 500]
         },
         {
            name: 'คะแนนที่ได้',
            data: [350, 400, 350, 300, 450, 480, 490]
         }],
         chart: {
            type: 'bar',
            height: 350
         },
         plotOptions: {
            bar: {
               horizontal: false,
               columnWidth: '55%',
               endingShape: 'rounded'
            },
         },
         dataLabels: {
            enabled: false
         },
         stroke: {
            show: true,
            width: 30,
            colors: ['transparent']
         },
         xaxis: {
            categories: ['หมวดที่ 1', 'หมวดที่ 2', 'หมวดที่ 3', 'หมวดที่ 4', 'หมวดที่ 5', 'หมวดที่ 6', 'หมวดที่ 7'],
         },
         yaxis: {
            title: {
               text: 'คะแนน'
            }
         },
         fill: {
            opacity: 1
         },
         tooltip: {
            y: {
               formatter: function (val) {
                  return " " + val + " คะแนน"
               }
            }
         },
         colors: [grey,info]
      };

      var chart = new ApexCharts(document.querySelector(apexChart_<%= apex_id %>), options);
      chart.render();

</script>

<% end %>