<%
#init
id = SecureRandom.hex(5)
apex_id = SecureRandom.hex(5)
id3 = SecureRandom.hex(5)
apex_id3 = SecureRandom.hex(5)

title_short_arr = Array.new
procedure_all_arr = Array.new
activity_all_arr = Array.new
risk_step_arr = Array.new
success_step_arr = Array.new
inprocess_step_arr = Array.new

url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params['master_plan_id']}/summary_report")
@summary_report = request_api(url,'get',nil)


url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params['master_plan_id']}/summary_procedure_report")
@summary_procedure_report = request_api(url,'get',nil)


%>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<div class="row g-6 g-xl-9">


   <!--begin::Box 1-->
      <div class="col-12">


               <div class="pt-2 pb-4 align-items-center row">
                  
                  <div class="col-12 col-md-3 mx-2">
                  <b>เลือกปีงบประมาณ</b>
                  <%= select_tag("select[master_report_id]", options_for_select(@master_plans['data'].map { |item| [(item['period_year']&.to_date&.year + 543 rescue nil), item['id']] }, (params[:master_plan_id] rescue nil)), {id: 'select_master_plan_id',class: 'selectize-activity form-control'}) if @master_plans && !@master_plans['data'].blank? %>
                  </div>

                  <% @summary_report['data'].each do |item| %>
                     <%  title_short_arr = title_short_arr.push(item['procedure_all']['title_short'].to_s) %>
                     <%  procedure_all_arr = procedure_all_arr.push(item['procedure_all']['procedure_all'].to_s) %>
                     <%  activity_all_arr = activity_all_arr.push(item['procedure_all']['activity_all'].to_s) %>
                     <%  risk_step_arr = risk_step_arr.push(item['procedure_all']['risk_step'].to_s) %>
                     <%  success_step_arr = success_step_arr.push(item['procedure_all']['success_step'].to_s) %>
                     <%  inprocess_step_arr = inprocess_step_arr.push(item['procedure_all']['inprocess_step'].to_s) %>
                  <% end %>     


         <!-- Start::Add New -->
            <div class="card-body pt-2 pb-4 align-items-center">
                  <div id="graph-<%= id3 %>" style="height: 350px; width: 100%;"></div>
            </div>

         <!-- End::Add New -->

         <!-- START::Add::New -->

   
         <div class="card-body pt-2 pb-4 align-items-center">
            <center> <h3 class="fs-4">ตารางระดับความเสี่ยง (Degree of Risk)</b></h3>
               <div id = "tbl" > </div>
            </center>
         </div>
         <!-- End::Add::New -->

         <!-- Start::Add New -->
         <div class="card-body pt-2 pb-4 align-items-center">
            <table border="1" class="table table-bordered" style="text-left">
               <thead style="width:auto;text-align:center; background-color: #d9dbff;">
                  <tr valign="middle">
                  <th class="text-center">ลำดับ</th>
                  <th class="text-center">สำนัก/กอง/กลุ่ม/ศูนย์</th>
                  <th class="text-center">จำนวนโครงการ</th>
                  <th class="text-center">จำนวนขั้นตอนของโครงการ</th>
                  <th class="text-center">จำนวนขั้นตอนที่มีความเสี่ยง</th>
                  <th class="text-center">จำนวนขั้นตอนที่แก้ไขแล้ว</th>
                  <th class="text-center">จำนวนขั้นตอนที่รอการแก้ไข</th>   
                  </tr>
         </thead>
         <tbody>
        
         </tbody>
       </table>
         </div>

      <!-- End::Add New -->




                  <% if !params[:master_plan_id].blank? %>

                  <div class="col-12 col-md-12 mx-2">
                  <b>เลือกโครงการ</b>
                  <%= select_tag("select[category_id]", options_for_select(@categories['data'].map { |item| [item['title'], item['id']] }, (params[:category_id] rescue nil)), {include_blank: true, id: 'select_category_id',class: 'selectize-activity form-control'}) if @categories && !@categories['data'].blank? %>
                  </div>

                  <% end %>

               </div>



               <hr>


                  <div class="text-gray-800 fw-bolder fs-3 my-3">โครงการ : <%= @category['data']['title'] rescue nil %></div>

               <hr>


     </div> 

      <div class="col-sm-12 col-lg-8">
         <h3 class="fs-4">รายงานความคืบหน้า</h3>
         <div class="card-body pt-2 pb-4 align-items-center">
            <div id="graph-<%= id %>" style="height: 350px; width: 100%;"></div>
         </div>
      </div> 
   <!--end::Box 1-->


   <!--begin::Box 2-->
      <div class="col-sm-12 col-lg-4">
         <div class="card-body p-0 d-flex justify-content-between flex-column overflow-hidden">
            

            <div class="card-body pt-2 pb-4">
               <h3 class="fs-4">จัดลำดับกิจกรรมที่มีความเสี่ยงสูงสุด</h3>
               
               
               <table class="table table-head-custom table-bordered">
                  <thead>
                     <tr>
                        <th class="text-center">ลำดับ</th>
                        <th class="text-center">คะแนนความเสี่ยง</th>
                        <th class="min-w-200px">กิจกรรม</th>
                     </tr>
                  </thead>
                  <tbody>
                     <% if @plan_report && !@plan_report['data'].blank? %>
                     <% @plan_report['data']['tasks'].sort_by{|i| i['risk_score_cal'].to_i}.reverse.each_with_index do |task,idx| %>
                     <tr>
                        <td class="text-center"><span class="badge badge-primary"><%= idx + 1 %></span></td>
                        <td class="text-center"><%= get_color_risk(task['risk_score_cal'].to_i) rescue nil %></td>
                        <td>
                           <% if !task['list'].blank? %>
                             <% task['list']['list_activities'].each do |list_activity| %>
                                 <h6 class=""><%= list_activity['title'] %></h6>
                                 <p class="mb-3"><%= list_activity['description'] %></p>
                             <% end %>
                         <% end %>
                        </td>
                     </tr>
                     <% end %>
                     <% end %>
                  </tbody>
               </table>

            </div>


            









         </div>
     </div> 
   <!--end::Box 2-->






</div>


<% if params[:check] == 'true' %>
   @follow_up_risk_reports_group_by_items['data'] 
   <% @follow_up_risk_reports_group_by_items['data'].each do |item| %>
      <li>
         <% item.each do |sub_item|  %>
            <li>
               <% sub_item[1].each do |content| %>
                        <% content.each do |value| %>
                           <%= value[1] %>,
                        <% end %>
                     <% end %>
            </li>
         <% end %>
      </li>
   <% end %>
<% end %>


<% content_for :footer do %>

<script type="text/javascript">
 $('#select_master_plan_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=' + value;
 });

 $('#select_category_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=<%= params[:master_plan_id] %>&category_id=' + value;
 });
</script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">

 
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>




<script type="text/javascript">
   // Shared Colors Definition
   const primary = '#6993FF';
   const success = '#1BC5BD';
   const info = '#8950FC';
   const warning = '#FFA800';
   const danger = '#F64E60';
   const grey = '#cccccc';
   var data_title_short = <%= raw title_short_arr %>;
   var data_procedure_all = <%= raw procedure_all_arr %>;
   var data_activity_all = <%= raw activity_all_arr %>;
   var data_risk_step = <%= raw risk_step_arr %>;
   var data_success_step = <%= raw success_step_arr %>;
   var data_inprocess_step = <%= raw inprocess_step_arr %>;

   const apexChart_<%= apex_id3 %> = "#graph-<%= id3 %>";
         var options = {
            series: [{
               name: 'กระบวนงานควบคุมภายใน',
               data: data_procedure_all
            },{
               name: 'จำนวนขั้นตอนของกระบวนงาน',
               data: data_activity_all
            },{
               name: 'จำนวนขั้นตอนที่มีความเสี่ยง',
               data: data_risk_step
            },{
               name: 'จำนวนขั้นตอนที่แก้ไขแล้ว',
               data: data_success_step
            },{
               name: 'จำนวนขั้นตอนที่ยังรอการแก้ไข',
               data: data_inprocess_step
            }],
            chart: {
               type: 'bar',
               height: 350
            },
           
            dataLabels: {
               enabled: false
            },
            stroke: {
            curve: 'straight'
            },
            xaxis: {
                categories: data_title_short,
            },
            yaxis: {
               title: {
                  text: ''
               }
            },
            fill: {
               opacity: 1
            },
            tooltip: {
               y: {
                  formatter: function (val) {
                     return " " + val + " ตัวชี้วัด"
                  }
               }
            },
            colors: [primary, success, warning, grey]
         };

         var chart = new ApexCharts(document.querySelector(apexChart_<%= apex_id3 %>), options);
         chart.render();

   </script>


 
<script type="text/javascript">
var div = document.createElement('div');
            div.setAttribute("id", "tbl");
            document.body.appendChild(div)
                document.getElementById("tbl").innerHTML = "<table border = '0'>" +
               '<tr>' +
                '<td rowspan = "6" style="height: 40px; width: 60px; text-align: center; border-right: 1px solid; writing-mode: vertical-rl;  background-color: #FFFFFF;">ความรุนแรงของผลกระทบ (Impact)</td>' +
               '</tr>' +
              '<tr>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">5</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFA500;">10</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FF0000;">15</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FF0000;">20</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FF0000;">25</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid white; background-color: #FFFFFF;"></td>' +
                  '<td style="height: 30px; width: 40px; text-align: center; border: 5px solid white; background-color: #FF0000;"></td>' +
                  '<td style="height: 40px; width: 60px; text-align: left; border: 1px solid white; background-color: #FFFFFF;">สูงมาก</td>' +
              '</tr>' +
              '<tr>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">4</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">8</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFA500;">12</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FF0000;">16</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FF0000;">20</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid white; background-color: #FFFFFF;"></td>' +
                  '<td style="height: 30px; width: 40px; text-align: center; border: 5px solid white; background-color: #FFA500;"></td>' +
                  '<td style="height: 40px; width: 60px; text-align: left; border: 1px solid white; background-color: #FFFFFF;">สูง</td>' +
              '</tr>' +
              '<tr>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #008000;">3</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">6</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFA500;">9</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFA500;">12</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FF0000;">15</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid white; background-color: #FFFFFF;"></td>' +
                  '<td style="height: 30px; width: 40px; text-align: center; border: 5px solid white; background-color: #FFFF00;"></td>' +
                  '<td style="height: 40px; width: 60px; text-align: left; border: 1px solid white; background-color: #FFFFFF;">ปานกลาง</td>' +
              '</tr>' +
               '<tr>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #008000;">2</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">4</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">6</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">8</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFA500;">10</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid white; background-color: #FFFFFF;"></td>' +
                  '<td style="height: 30px; width: 40px; text-align: center; border: 5px solid white; background-color: #008000;"></td>' +
                  '<td style="height: 40px; width: 60px; text-align: left; border: 1px solid white; background-color: #FFFFFF;">น้อย</td>' +
              '</tr>' +
                  '<tr>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #008000;">1</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #008000;">2</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #008000;">3</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">4</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">5</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid white; background-color: #FFFFFF;"></td>' +
                  '<td style="height: 30px; width: 40px; text-align: center; border: 5px solid white; background-color: #90EE90;"></td>' +
                  '<td style="height: 40px; width: 60px; text-align: left; border: 1px solid white; background-color: #FFFFFF;">น้อยมาก</td>' +
              '</tr>' +
              '<tr>' +
                  '<td colspan = "8" style="height: 40px; width: 60px; text-align: center; border: 1px solid white; background-color: #FFFFFF;">โอกาศที่จะเกิดความเสียหาย (Likelihood)</td>' +
               '</tr>'

</script>



<script type="text/javascript">
const data  = <%= raw JSON.generate(@summary_report['data']) %>;   
             const tableData = data.map(value => {
                return (
                  `<tr > 
                       <td class="text-center"></td>
                       <td>${value.title}</td>
                       <td class="text-center">${value.procedure_all.procedure_all}</td>
                       <td class="text-center">${value.procedure_all.activity_all}</td>
                       <td class="text-center">${value.procedure_all.risk_step}</td>
                       <td class="text-center">${value.procedure_all.success_step}</td>
                       <td class="text-center">${value.procedure_all.inprocess_step}</td>
                      
                  </tr>
                  `
                );
              }).join('');
              
              const tableBody = document.querySelector("#tableBody");
              tableBody.innerHTML = tableData;
              
</script>
              