<%
#demo data
#plan_report_id = "2C7212AC-797B-4998-9BD3-1AEDE202CDD1"

#url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{plan_report_id}")
#@plan_report = request_api(url,'get',nil)




#params[:master_plan_id] = 'D484F7DC-7ED0-4F18-BB5D-F090939A49A7'

url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}")
@master_plan = request_api(url,'get',nil)

url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}/plan_reports")
@mp_plan_reports = request_api(url,'get',nil)




@category_name = Hash.new
case @controller_title
when 'km'
   @category_name['th'] = 'เรื่อง'
   @category_name['en'] = 'Subject'
else
   @category_name['th'] = 'หมวด'
   @category_name['en'] = 'Category'
end



%>


<%
#init
#id = SecureRandom.uuid
id = SecureRandom.hex(5)
apex_id = SecureRandom.hex(5)

id2 = SecureRandom.hex(5)
apex_id2 = SecureRandom.hex(5)
%>




<div class="row g-6 g-xl-9">


   <!--begin::Box 1-->
      <div class="col-sm-12 col-lg-8">
         <div class="card-body p-0 d-flex justify-content-between flex-column overflow-hidden">
            









            <div class="">
               <div class="card-header pt-2 pb-4 align-items-center row">
                  <div class="col-12 col-md-4 mx-2">
                     <span class="fw-bolder text-gray-800 d-block fs-3">รายงานผลการดำเนินงาน</span>
                     <span class="text-gray-400 fw-bold"><%= Time.now %></span>
                  </div>

                  <div class="col-12 col-md-3 mx-2">
                     <b>ตามปีงบประมาณ</b>
                     <%= select_tag("select[master_report_id]", options_for_select(@master_plans['data'].map { |item| [(item['period_year']&.to_date&.year + 543 rescue nil), item['id']] }, (params[:master_plan_id] rescue nil)), {id: 'select_master_plan_id',class: 'selectize-activity form-control'}) if @master_plans && !@master_plans['data'].blank? %>
                     </div>

                     
                  <% if !params[:master_plan_id].blank? %>

                  <div class="col-12 col-md-3 mx-2">
                     <b><%= @category_name["#{session[:locale]}"] rescue nil %></b>
                     <%= select_tag("select[plan_id]", options_for_select(@plans['data'].map { |item| [item['title'], item['id']] }, (params[:plan_id] rescue nil)), {include_blank: true, id: 'select_plan_id',class: 'selectize-activity form-control'}) if @plans && !@plans['data'].blank? %>
                     </div>

                  <% end %>

               </div>
               <div class="card-body pt-2 pb-4 align-items-center">
                  <div id="graph-<%= id %>" style="height: 350px; width: 100%;"></div>
               </div>
            </div>


            







         </div>
     </div> 
   <!--end::Box 1-->


   <!--begin::Box 2-->
      <div class="col-sm-12 col-lg-4">
         <div class="card-body p-0 d-flex justify-content-between flex-column overflow-hidden">
            





            <div class="card-body pt-2 pb-4">
               <h3 class="fs-4">ร้อยละความสำเร็จทั้งปี</h3>
               <div id="graph-<%= id2 %>" style="height: 350px; width: 100%; margin-top: 50px;"></div>
            </div>


            


         </div>
     </div> 
   <!--end::Box 2-->


</div>














<div class="row">
   <div class="table-responsive py-5 mt-10">
      <table id="data_kpis" class="table table-bordered">
         <thead>
            <tr>
               <th>ลำดับ</th>
               <th>ชื่อเรื่อง</th>
               <th>หน่วยงาน</th>
               <th>ประเด็นยุทธศาสตร์</th>
               <th>องค์ความรู้ที่จำเป็น (KPI)</th>
               <th>ตัวชี้วัด (KPI)</th>
               <th>เป้าหมาย (KPI)</th>
               <th>กิจกรรม</th>
               <th>ระยะเวลา</th>
               <th>ตัวชี้วัด/เป้าหมาย</th>
               <th>เป้าหมาย</th>
               <th>กลุ่มเป้าหมาย</th>
               <th>ผู้รับผิดชอบ</th>
               <th>หมายเหตุ</th>
            </tr>
         </thead>
         <tbody>
         <% if @master_plan['data'].present? %>

         
            <% @master_plan['data']['plans'].each do |plan| %>

               <% plan['categories'].each do |category| %>
                  <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each do |list| %>
                  <tr>
                     <td class="text-center"><%= list['order_sort'] rescue nil %></td>
                     <td><%= plan['title'] rescue nil %></td>
                     <td><%= category['institution']['title'] rescue nil %></td>
                     <td><%= category['issue']['title'] rescue nil %></td>
                     <td><%= category['cognitive']['title'] rescue nil %></td>
                     <td><%= category['kpi']['title'] rescue nil %></td>
                     <td><%= category['target_kpi']['title'] rescue nil %></td>

                     <td>
                        <%= list['activity']['title'] rescue nil %>
                        <%= list['title'] rescue nil %>
                     </td>
                    
                     <td class="text-center">
                     <% if !list['list_periods'].nil? %>
                        <ul>
                         <% list['list_periods'].each do |list_period| rescue nil %>
                           <li><%= convert_thai_date(list_period['startdate'], 'default') rescue nil %> ถึง <%= convert_thai_date(list_period['enddate'], 'default') rescue nil %></li>
                         <% end %>
                        </ul>
                        <% end %>
                     </td>

                     <td class="text-center">
                     <% if !list['list_kpis'].nil? %>
                        <ul>
                         <% list['list_kpis'].each do |list_kpi| %>
                           <li><%= list_kpi['title'] %></li>
                         <% end %>
                        </ul>
                     <% end %>
                     </td>

                     <td class="text-center">
                     <% if !list['list_target_kpis'].nil? %>
                        <ul>
                         <% list['list_target_kpis'].each do |list_target_kpi| %>
                           <li><%= list_target_kpi['title'] %></li>
                         <% end %>
                        </ul>
                     <% end %>
                     </td>

                     <td class="text-center">
                     <% if !list['list_target_groups'].nil? %>
                        <ul>
                         <% list['list_target_groups'].each do |list_target_group| %>
                           <li><%= list_target_group['title'] %></li>
                         <% end %>
                        </ul>
                        <% end %>
                     </td>


                     <td class="text-center">
                     <% if !list['list_responsibles'].nil? %>
                        <ul>
                         <% list['list_responsibles'].each do |list_responsible| %>
                           <li><%= list_responsible['title'] %></li>
                         <% end %>
                        </ul>
                        <% end %>
                     </td>

                     <td class="text-center">
                     <% if !list['list_notes'].nil? %>
                        <ul>
                         <% list['list_notes'].each do |list_note| %>
                           <li><%= list_note['title'] %></li>
                         <% end %>
                        </ul>
                     <% end %>
                     </td>
                  </tr>
                  <% end %>
               <% end %>

            <% end %>
            <% end %>
         </tbody>
         <tfoot>
            <tr>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
        </tfoot>
      </table>
   </div>
</div>











<% content_for :footer do %>
<script type="text/javascript">
 $('#select_master_plan_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=' + value;
 });

 $('#select_plan_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=<%= params[:master_plan_id] %>&plan_id=' + value;
 });
</script>





<script type="text/javascript">
// Shared Colors Definition
const primary = '#6993FF';
const success = '#1BC5BD';
const info = '#8950FC';
const warning = '#FFA800';
const danger = '#F64E60';
const grey = '#cccccc';
const apexChart_<%= apex_id %> = "#graph-<%= id %>";
      var options = {
         series: [
         {
            name: 'เสร็จตามกำหนด',
            data: [
               <% if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
                  <% @mp_plan_reports['data'].each do |plan_report| %>
                     <%

                      url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{plan_report['id']}/group_by_status_list_activity_history?status=completed-on-schedule&plan_id=#{params[:plan_id]}")
                      statuses = request_api(url,'get',nil)
                      %>
                      <% if statuses && !statuses['data'].blank? && statuses['data'].size > 0 %>
                         <% statuses['data'].each do |item| %>
                           <%= item[1].size.to_i %>,
                        <% end %>
                     <% else %>
                        0,
                     <% end %>
                  <% end %>
               <% end %>
            ]
         },

         {
            name: 'เสร็จล่าช้ากว่ากำหนด',
            data: [
               <% if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
                  <% @mp_plan_reports['data'].each do |plan_report| %>
                     <%
                      url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{plan_report['id']}/group_by_status_list_activity_history?status=completed-later-than-scheduled&plan_id=#{params[:plan_id]}")
                      statuses = request_api(url,'get',nil)
                      %>
                      <% if statuses && !statuses['data'].blank? && statuses['data'].size > 0 %>
                      <% statuses['data'].each do |item| %>
                        <%= item[1].size %>,
                      <% end %>
                      <% else %>
                        0,
                      <% end %>
                  <% end %>
               <% end %>
            ]
         },

         {
            name: 'ยังไม่ดำเนินการ',
            data: [
               <% if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
                  <% @mp_plan_reports['data'].each do |plan_report| %>
                     <%
                      url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{plan_report['id']}/group_by_status_list_activity_history?status=not-started&plan_id=#{params[:plan_id]}")
                      statuses = request_api(url,'get',nil)
                      %>
                      <% if statuses && !statuses['data'].blank? && statuses['data'].size > 0 %>
                      <% statuses['data'].each do |item| %>
                        <%= item[1].size %>,
                     <% end %>
                     <% else %>
                     0,
                     <% end %>
                  <% end %>
               <% end %>
            ]
         },

         {
            name: 'อยู่ระหว่างดำเนินการ',
            data: [
               <% if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
                  <% @mp_plan_reports['data'].each do |plan_report| %>
                     <%
                      url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{plan_report['id']}/group_by_status_list_activity_history?status=in-process&plan_id=#{params[:plan_id]}")
                      statuses = request_api(url,'get',nil)
                      %>
                      <% if statuses && !statuses['data'].blank? && statuses['data'].size > 0 %>
                      <% statuses['data'].each do |item| %>
                        <%= item[1].size %>,
                     <% end %>
                     <% else %>
                     0,
                     <% end %>
                  <% end %>
               <% end %>
            ]
         },
         
         ],
         chart: {
            type: 'bar',
            height: 350
         },
         plotOptions: {
            bar: {
               horizontal: false,
               columnWidth: '55%',
               endingShape: 'rounded'
            },
         },
         dataLabels: {
            enabled: false
         },
         stroke: {
            show: true,
            width: 30,
            colors: ['transparent']
         },
         xaxis: {
            categories: [
            <% if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
               <% @mp_plan_reports['data'].each do |plan_report| %>
                  "<%= plan_report['startdate']&.in_time_zone&.to_date %> ถึง <%= plan_report['enddate']&.in_time_zone&.to_date %>",
               <% end %>
            <% end %>
            ],
         },
         yaxis: {
            title: {
               text: 'จำนวนงาน'
            }
         },
         fill: {
            opacity: 1
         },
         tooltip: {
            y: {
               formatter: function (val) {
                  return " " + val + " กิจกรรม"
               }
            }
         },
         colors: [success, info, grey, warning]
      };

      var chart = new ApexCharts(document.querySelector(apexChart_<%= apex_id %>), options);
      chart.render();

</script>


<script type="text/javascript">

const apexChart_<%= apex_id2 %> = "#graph-<%= id2 %>";

var options = {
   series: [
   
   <%
    url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}/group_by_status_list_activity?status=completed-on-schedule&plan_id=#{params[:plan_id]}")
    statuses = request_api(url,'get',nil)
    %>
    <% if statuses && statuses['data'] && statuses['data'].size > 0 %>
    <% statuses['data'].each do |item| %>
      <%= item[1].size %>,
   <% end %>
   <% else %>
      0,
   <% end %>

   <%
    url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}/group_by_status_list_activity?status=completed-later-than-scheduled&plan_id=#{params[:plan_id]}")
    statuses = request_api(url,'get',nil)
    %>
    <% if statuses && statuses['data'] && statuses['data'].size > 0 %>
    <% statuses['data'].each do |item| %>
      <%= item[1].size %>,
   <% end %>
   <% else %>
      0,
   <% end %>

   <%
    url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}/group_by_status_list_activity?status=not-started&plan_id=#{params[:plan_id]}")
    statuses = request_api(url,'get',nil)
    %>
    <% if statuses && statuses['data'] && statuses['data'].size > 0 %>
    <% statuses['data'].each do |item| %>
      <%= item[1].size %>,
   <% end %>
   <% else %>
      0,
   <% end %>

   <%
    url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}/group_by_status_list_activity?status=in-process&plan_id=#{params[:plan_id]}")
    statuses = request_api(url,'get',nil)
    %>
    <% if statuses && statuses['data'] && statuses['data'].size > 0 %>
    <% statuses['data'].each do |item| %>
      <%= item[1].size %>,
   <% end %>
   <% else %>
      0,
   <% end %>

      
   ],
   chart: {
      width: 350,
      type: 'donut',
   },
   legend: {
    position: 'top' 
  },
   labels: [
   'เสร็จตามกำหนด','เสร็จล่าช้ากว่ากำหนด','ยังไม่ดำเนินการ','อยู่ระหว่างดำเนินการ',
   ],
   /*responsive: [{
      breakpoint: 480,
      options: {
         chart: {
            width: 200,
         },
         legend: {
            position: 'bottom'
         }
      }
   }],*/
   colors: [success, info, grey, warning]
};

var chart2 = new ApexCharts(document.querySelector(apexChart_<%= apex_id2 %>), options);
chart2.render();
</script>







  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">

   
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>


  <script type="text/javascript">
    $(document).ready(function () {
    $('#data_kpis').DataTable({
        dom: 'Bfrtip',
        buttons: [
            //'copy', 'csv', 'excel', 'pdf', 'print'
            'copy', 'csv', 'excel', 'print'
        ],
        columnDefs: [
            { width: 200, targets: 0 }
        ],
        fixedColumns: true,
        initComplete: function () {
            this.api()
                .columns()
                .every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
 
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
 
                    column
                        .data()
                        .unique()
                        .sort()
                        .each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                });
        },
    });
});
  </script>







<% end %>


