<%
#init

id = SecureRandom.hex(5)
apex_id = SecureRandom.hex(5)
%>

<div class="row g-6 g-xl-9">

   <!--begin::Box 1-->
      <div class="col-12">

         <div class="pt-2 pb-4 align-items-center row">

            <div class="col-12 col-md-3 mx-2">
            <b>เลือกปีงบประมาณ</b>
            <%= select_tag("select[master_report_id]", options_for_select(@master_plans['data'].map { |item| [(item['period_year']&.to_date&.year + 543 rescue nil), item['id']] }, (params[:master_plan_id] rescue nil)), {id: 'select_master_plan_id',class: 'selectize-activity form-control'}) if @master_plans && !@master_plans['data'].blank? %>
            </div>

            
            <% if !params[:master_plan_id].blank? %>

            <div class="col-12 col-md-3 mx-2">
            <b>เลือกกระบวนงาน</b>
            <%= select_tag("select[category_id]", options_for_select(@categories['data'].map { |item| [item['title'], item['id']] }, (params[:category_id] rescue nil)), {include_blank: true, id: 'select_category_id',class: 'selectize-activity form-control'}) if @categories && !@categories['data'].blank? %>
            </div>

            <% end %>

         </div>

         <hr>
        
         <% 
         url = URI("#{$server[@controller_title]}/api/v1/categories/#{params[:category_id]}/category")
         @category = request_api(url, "get", nil)
         %> 
         <div class="text-gray-800 fw-bolder fs-3 my-3">กระบวนงาน : <%= @category['data']['title'] rescue nil %></div>

         <hr>
         
      </div>

      <div class="col-sm-12 col-lg-8">
         <div class="card-body p-0 d-flex justify-content-between flex-column overflow-hidden">
            

                  <h3 class="fs-4">รายงานความคืบหน้า</h3>

                  <table class="table table-bordered">
                     
                     <thead>
                        <tr>
                           <th></th>
                        
                           <% if @follow_up_control_reports && !@follow_up_control_reports['data'].blank? %>
                              <% @follow_up_control_reports['data'].each do |follow_up_risk_report| %>
                           <th>
                              
                              <b><%= convert_thai_date(follow_up_risk_report['period_report']['startdate'],'default') rescue nil %> ถึง <%= convert_thai_date(follow_up_risk_report['period_report']['enddate'],'default') rescue nil %></b>
                           </th>
                              <% end %>
                           <% end %>
                        </tr>
                     </thead>
                  
                     <!--
                     <thead>

                        <% if @follow_up_control_reports_group_by_items && !@follow_up_control_reports_group_by_items['data'].blank? %>
                        <% @follow_up_control_reports_group_by_items['data'].each do |item| %>
                           <% item.take(1).each do |sub_item| %>
                           <tr>
                              <th></th>

                              <% sub_item[1].each do |content| %>
                              <% content.each do |value| %>
                              <th class="text-center">
                                 <% 
                                 url = URI("#{$server[@controller_title]}/api/v1/follow_up_risk_reports/#{value[0]}")
                                 follow_up_risk_report = request_api(url, "get", nil)
                                 %> 
                                
                                 <% if follow_up_risk_report && !follow_up_risk_report['data'].blank? %>
                                 <b>
                                    <%= follow_up_risk_report['data']['startdate']&.in_time_zone&.to_date %> ถึง <%= follow_up_risk_report['data']['enddate']&.in_time_zone&.to_date %>
                                 </b>  
                                 <% end %>
                              </th>
                              <% end %>
                              <% end %>

                           </tr>
                           <% end %>
                        <% end %>
                        <% end %>
                     </thead>
                  -->

                     <tbody>
                        <% if @follow_up_control_reports_group_by_items && !@follow_up_control_reports_group_by_items['data'].blank? %>
                        <% @follow_up_control_reports_group_by_items['data'].each do |item| %>
                          
                           <% item.each do |sub_item| %>
                           <tr>
                              <td><%= sub_item[0] %></td>

                              <% sub_item[1].each do |content| %>
                              <% content.each do |value| %>
                              <td class="text-center">
                                 <%#= value[0] %>
                                 <%= get_status_tasks_sign(value[1]) %>      
                              </td>
                              <% end %>
                              <% end %>

                           </tr>
                           <% end %>
                        <% end %>
                        <% end %>
                     </tbody>
                  </table>

                  <div class="py-5">
                    <b class="fs-5 py-5">สถานะการดำเนินการ</b>
                    <table class="table table-bordered my-5 w-50">
                        <tr>
                            <th class="w-100px"><span class='badge badge-success fs-2'>*</span></th>
                            <td> =  ดำเนินการแล้ว เสร็จตามกำหนด</td>
                        </tr>
                        <tr>
                            <th><span class='badge badge-light-success fs-2'>√</span></th>
                            <td> =  ดำเนินการแล้ว เสร็จล่าช้ากว่ากำหนด</td>
                        </tr>
                        <tr>
                            <th><span class='badge badge-light fs-2'>X</span></th>
                            <td> =  ยังไม่ดำเนินการ</td>
                        </tr>
                        <tr>
                            <th><span class='badge badge-warning fs-2'>Ɵ</span></th>
                            <td> =  อยู่ระหว่างดำเนินการ</td>
                        </tr>
                    </table>
                </div>


         </div>
     </div> 
   <!--end::Box 1-->


   <!--begin::Box 2-->
      <div class="col-sm-12 col-lg-4">
         <div class="card-body p-0 d-flex justify-content-between flex-column overflow-hidden">
            
            <%
            #init
            #id = SecureRandom.uuid
            id2 = SecureRandom.hex(5)
            apex_id2 = SecureRandom.hex(5)
            %>



            <div class="card-body pt-2 pb-4">
               <h3 class="fs-4">จัดลำดับกิจกรรมที่มีความเสี่ยงสูงสุด</h3>
               
               <table class="table table-head-custom table-bordered">
                  <thead>
                     <tr>
                        <th class="text-center">ลำดับ</th>
                        <th class="text-center">คะแนนความเสี่ยง</th>
                        <th class="min-w-200px">กิจกรรม</th>
                     </tr>
                  </thead>
                  <tbody>
                     <% if @plan_report && !@plan_report['data'].blank? %>
                    
                     <%# @plan_report['data']['tasks'].sort_by{|i| i['risk_score_cal'].to_i}.reverse.each_with_index do |task,idx| %>
                     <% @category['data']['list_risk_factors'].sort_by{|i| i['risk_score_cal'].to_i}.reverse.each_with_index do |list_risk_factor,idx| %>
                     <tr>
                        <td class="text-center"><span class="badge badge-primary"><%= idx + 1 %></span></td>
                        <td class="text-center">  
                        
                   
                               <%= get_color_risk(list_risk_factor['risk_score_cal'].to_i) rescue nil %>
                   
                        </td>

                        <% 
                     
                        url = URI("#{$server[@controller_title]}/api/v1/list_activities/get_list_activity_by_list/#{list_risk_factor['list_id']}")
                        @list_activity = request_api(url, "get", nil)
                        
                        %> 
                        <td>
                     
                
                          
                                 <h6 class=""><%=  @list_activity['data']['title'] rescue nil %></h6>
                                 <p class="mb-3"><%=  @list_activity['data']['description'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></p>
                      
                   
                        </td>
                     </tr>
                     <%# end %>
                     <% end %>
                     <% end %>
                  </tbody>
               </table>

            </div>


            









         </div>
     </div> 
   <!--end::Box 2-->






</div>


<% if params[:check] == 'true' %>
   @follow_up_control_reports_group_by_items : <%#= @follow_up_control_reports_group_by_items %>
   <% if @follow_up_control_reports_group_by_items && @follow_up_control_reports_group_by_items['data'] %>
   <% @follow_up_control_reports_group_by_items['data'].each do |item| %>
      <li>
         <% item.each do |sub_item|  %>
            <li>
               <b><%= sub_item[0] %></b>
               <% sub_item[1].each do |content| %>
                        <% content.each do |value| %>
                           <%= value %><%#= value[1] %>,
                        <% end %>
                     <% end %>
            </li>
         <% end %>
      </li>
   <% end %>
   <% end %>


   <hr>

  # @follow_up_control_reports
   <% if @follow_up_control_reports && @follow_up_control_reports['data'] %>
   <% @follow_up_control_reports['data'].each do |item| %>
      <li>
         <%= item %>
      </li>
   <% end %>
   <% end %>


<% end %>



<% content_for :footer do %>

<script type="text/javascript">
 $('#select_master_plan_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=' + value;
 });

 $('#select_category_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=<%= params[:master_plan_id] %>&category_id=' + value;
 });
</script>


<%  end %>