<%
#init
id = SecureRandom.hex(5)
apex_id = SecureRandom.hex(5)
%>

<div class="row g-6 g-xl-9">


   <!--begin::Box 1-->
      <div class="col-12">


               <div class="pt-2 pb-4 align-items-center row">
                  
                  <div class="col-12 col-md-3 mx-2">
                  <b>เลือกปีงบประมาณ</b>
                  <%= select_tag("select[master_report_id]", options_for_select(@master_plans['data'].map { |item| [(item['period_year']&.to_date&.year + 543 rescue nil), item['id']] }, (params[:master_plan_id] rescue nil)), {id: 'select_master_plan_id',class: 'selectize-activity form-control'}) if @master_plans && !@master_plans['data'].blank? %>
                  </div>

                  
                  <% if !params[:master_plan_id].blank? %>

                  <div class="col-12 col-md-3 mx-2">
                  <b>เลือกโครงการ</b>
                  <%= select_tag("select[category_id]", options_for_select(@categories['data'].map { |item| [item['title'], item['id']] }, (params[:category_id] rescue nil)), {include_blank: true, id: 'select_category_id',class: 'selectize-activity form-control'}) if @categories && !@categories['data'].blank? %>
                  </div>

                  <% end %>

               </div>



               <hr>


                  <div class="text-gray-800 fw-bolder fs-3 my-3">โครงการ : <%= @category['data']['title'] rescue nil %></div>

               <hr>


     </div> 

      <div class="col-sm-12 col-lg-8">
         <h3 class="fs-4">รายงานความคืบหน้า</h3>
         <div class="card-body pt-2 pb-4 align-items-center">
            <div id="graph-<%= id %>" style="height: 350px; width: 100%;"></div>
         </div>
      </div> 
   <!--end::Box 1-->


   <!--begin::Box 2-->
      <div class="col-sm-12 col-lg-4">
         <div class="card-body p-0 d-flex justify-content-between flex-column overflow-hidden">
            













            <%
            #init
            #id = SecureRandom.uuid
            id2 = SecureRandom.hex(5)
            apex_id2 = SecureRandom.hex(5)
            %>
            <div class="card-body pt-2 pb-4">
               <h3 class="fs-4">จัดลำดับกิจกรรมที่มีความเสี่ยงสูงสุด</h3>
               
               
               <table class="table table-head-custom table-bordered">
                  <thead>
                     <tr>
                        <th class="text-center">ลำดับ</th>
                        <th class="text-center">คะแนนความเสี่ยง</th>
                        <th class="min-w-200px">กิจกรรม</th>
                     </tr>
                  </thead>
                  <tbody>
                     <% if @plan_report && !@plan_report['data'].blank? %>
                     <% @plan_report['data']['tasks'].sort_by{|i| i['risk_score_cal'].to_i}.reverse.each_with_index do |task,idx| %>
                     <tr>
                        <td class="text-center"><span class="badge badge-primary"><%= idx + 1 %></span></td>
                        <td class="text-center"><%= get_color_risk(task['risk_score_cal'].to_i) rescue nil %></td>
                        <td>
                           <% if !task['list'].blank? %>
                             <% task['list']['list_activities'].each do |list_activity| %>
                                 <h6 class=""><%= list_activity['title'] %></h6>
                                 <p class="mb-3"><%= list_activity['description'] %></p>
                             <% end %>
                         <% end %>
                        </td>
                     </tr>
                     <% end %>
                     <% end %>
                  </tbody>
               </table>

            </div>


            









         </div>
     </div> 
   <!--end::Box 2-->






</div>


<% if params[:check] == 'true' %>
   @follow_up_risk_reports_group_by_items['data'] 
   <% @follow_up_risk_reports_group_by_items['data'].each do |item| %>
      <li>
         <% item.each do |sub_item|  %>
            <li>
               <% sub_item[1].each do |content| %>
                        <% content.each do |value| %>
                           <%= value[1] %>,
                        <% end %>
                     <% end %>
            </li>
         <% end %>
      </li>
   <% end %>
<% end %>


<% content_for :footer do %>

<script type="text/javascript">
 $('#select_master_plan_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=' + value;
 });

 $('#select_category_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=<%= params[:master_plan_id] %>&category_id=' + value;
 });
</script>


<script type="text/javascript">
   // Shared Colors Definition
   const primary = '#6993FF';
   const success = '#1BC5BD';
   const info = '#8950FC';
   const warning = '#FFA800';
   const danger = '#F64E60';
   const grey = '#cccccc';
   const apexChart_<%= apex_id %> = "#graph-<%= id %>";

         var options = {
            series: [
            <% if @follow_up_risk_reports_group_by_items && !@follow_up_risk_reports_group_by_items['data'].blank? %>
            <% @follow_up_risk_reports_group_by_items['data'].each do |item| %>
            <% item.each do |sub_item| %>
            {
               name: "<%= sub_item[0] %>",
               data: [
                  <% sub_item[1].each do |content| %>
                     <% content.each do |value| %>
                        <%= value[1] %>,
                     <% end %>
                  <% end %>
               ]
            },
            <% end %>
            <% end %>
            <% end %>
         ],
          chart: {
          type: 'line',
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        title: {
          text: '% ความคืบหน้า',
          align: 'left'
        },
        grid: {
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5,
          },
          padding: {
             left: 50,
             right: 20
           }
        },
        xaxis: {
          categories: [
          <% if @follow_up_risk_reports && !@follow_up_risk_reports['data'].blank? %>
          <% @follow_up_risk_reports['data'].sort_by{|i| i['startdate']}.each do |follow_up_risk_report| %>
            <% #item.each do |follow_up_risk_report| %>
               "<%= follow_up_risk_report['startdate']&.in_time_zone&.to_date %> ถึง <%= follow_up_risk_report['enddate']&.in_time_zone&.to_date %>",
            <%# end %>
          <% end %>
          <% end %>
          ],
        }
        };


         var chart = new ApexCharts(document.querySelector(apexChart_<%= apex_id %>), options);
         chart.render();

   </script>







<%  end %>