<%
#init
id = SecureRandom.hex(5)
apex_id = SecureRandom.hex(5)

id3 = SecureRandom.hex(5)
apex_id3 = SecureRandom.hex(5)

title_short_arr = Array.new
procedure_all_arr = Array.new
activity_all_arr = Array.new
risk_step_arr = Array.new
success_step_arr = Array.new
inprocess_step_arr = Array.new

gr_title_short_all_arr = Array.new
gr_procedure_all_arr = Array.new
gr_activity_all_arr = Array.new
gr_risk_step_all_arr = Array.new
gr_success_step_all_arr = Array.new
gr_inprocess_step_all_arr = Array.new



#url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params['master_plan_id']}/summary_report")
#@summary_report = request_api(url,'get',nil)


url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params['master_plan_id']}/summary_procedure_report")
@summary_procedure_report = request_api(url,'get',nil)


%>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<div class="row g-6 g-xl-9">

   <!--begin::Box 1-->
      <div class="col-12">

         <div class="pt-2 pb-4 align-items-center row">

            <div class="col-12 col-md-3 mx-2">
            <b>เลือกปีงบประมาณ</b>
            <%= select_tag("select[master_report_id]", options_for_select(@master_plans['data'].map { |item| [(item['period_year']&.to_date&.year + 543 rescue nil), item['id']] }, (params[:master_plan_id] rescue nil)), {id: 'select_master_plan_id',class: 'selectize-activity form-control'}) if @master_plans && !@master_plans['data'].blank? %>
            </div>

           <%  @summary_procedure_report['data'].each_with_index do |item , idx|  %>
               <% 
               title_short ="" 
               sum_activity_all = 0 
               sum_risk_step_all = 0
               sum_success_step_all = 0
               sum_inprocess_step_all = 0
               %>
              
                 
                  
                     <% gr_procedure_all_arr = gr_procedure_all_arr.push(item['category_title'][0]['procedure_all']) %>
                   
                     <% item['category_title'].each do |sub_item| %>
                
                      
                             <% title_short = sub_item['title_short'] %>
                              <% sum_activity_all = sum_activity_all + sub_item['activity_all'] %>
                              <% sum_risk_step_all = sum_risk_step_all + sub_item['risk_step'] %>
                              <% sum_success_step_all = sum_success_step_all + sub_item['success_step'] %>
                              <% sum_inprocess_step_all = sum_inprocess_step_all + sub_item['inprocess_step'] %>
                      
                  <% end %>  
                  <% gr_title_short_all_arr = gr_title_short_all_arr.push(title_short) %>
                  <% gr_activity_all_arr = gr_activity_all_arr.push(sum_activity_all) %>
                  <% gr_risk_step_all_arr = gr_risk_step_all_arr.push(sum_risk_step_all) %>
                  <% gr_success_step_all_arr = gr_success_step_all_arr.push(sum_success_step_all) %>
                  <% gr_inprocess_step_all_arr = gr_inprocess_step_all_arr.push(sum_inprocess_step_all) %>
<%#= gr_title_short_all_arr %>                  
<%#= gr_procedure_all_arr %>
<%#= gr_activity_all_arr %>
<%#= gr_risk_step_all_arr %>
<%#= gr_success_step_all_arr %>
<%#= gr_inprocess_step_all_arr %>

              

            <% end %>   
         

         <!-- Start::Add New -->
            <div class="card-body pt-2 pb-4 align-items-center">
                 <div id="graph-<%= id3 %>" style="height: 350px; width: 100%;"></div>
            </div>

         <!-- End::Add New -->

         <!-- START::Add::New -->

   
         <div class="card-body pt-2 pb-4 align-items-center">
            <center> <h3 class="fs-4">ตารางระดับความเสี่ยง (Degree of Risk)</b></h3>
               <div id = "tbl" > </div>
            </center>
         </div>
         <!-- End::Add::New -->


         <!-- Start::Add New -->
         
  

      
         <div class="card-body pt-2 pb-4 align-items-center">
            <table border="1" class="table table-bordered" style="text-left">
               <thead style="width:auto;text-align:center; background-color: #d9dbff;">
                  <tr valign="middle">
                  <th class="text-center">ลำดับ</th>
                  <th class="text-center">สำนัก/กอง/กลุ่ม/ศูนย์</th>
                  <th class="text-center">กระบวนงาน</th>
                  <th class="text-center">จำนวนขั้นตอน</th>
                  <th class="text-center">จำนวนขั้นตอนที่มีความเสี่ยง</th>
                  <th class="text-center">จำนวนขั้นตอนที่แก้ไขแล้ว</th>
                  <th class="text-center">จำนวนขั้นตอนที่รอการแก้ไข</th>   
                  </tr>
         </thead>
         <tbody>
               <%  @summary_procedure_report['data'].each_with_index do |item , idx|  %>
                  <tr>
                     <td class="text-center"><%= idx += 1 %></td>
                     <td><b><%= item['title'] %></b></td>
                     <td class="text-center"><%= item['category_title'][0]['procedure_all'] %></td><td></td><td></td><td></td><td></td>
                     <% item['category_title'].each do |sub_item| %>
                     <tr>
                     <td class="text-center"></td>
                     <td> <li> <%= sub_item['category_title'] %></li></td><td></td><td class="text-center"><%= sub_item['activity_all'] %></td><td class="text-center"><%= sub_item['risk_step'] %></td><td class="text-center"><%= sub_item['success_step'] %></td><td class="text-center"><%= sub_item['inprocess_step'] %></td>
                     
                     </tr>
                     <% end %>
                  </tr>
                    
               <% end %>
         </tbody>
       </table>
         </div>

      <!-- End::Add New -->
         

         </div>

         <% if !params[:master_plan_id].blank? %>

            <div class="col-12 col-md-12 mx-2">
            <h3 class="fs-4">เลือกกระบวนงาน</b></h3>
                  <%= select_tag("select[category_id]", options_for_select(@categories['data'].map { |item| [item['title'], item['id']] }, (params[:category_id] rescue nil)), {include_blank: true, id: 'select_category_id',class: 'selectize-activity form-control'}) if @categories && !@categories['data'].blank? %>
            </div>
         <% end %>

         <hr>
        
         <% 
         url = URI("#{$server[@controller_title]}/api/v1/categories/#{params[:category_id]}/category")
         @category = request_api(url, "get", nil)
         %> 
         <div class="text-gray-800 fw-bolder fs-3 my-3">กระบวนงาน : <%= @category['data']['title'] rescue nil %></div>

         <hr>
         
      </div>

      <div class="col-sm-12 col-lg-8">
         <div class="card-body p-0 d-flex justify-content-between flex-column overflow-hidden">
            
                  <h3 class="fs-4">รายงานความคืบหน้า</h3>

                  <table class="table table-bordered">
                     
                     <thead>
                        <tr>
                           <th></th>
                        
                           <% if @follow_up_control_reports && !@follow_up_control_reports['data'].blank? %>
                              <% @follow_up_control_reports['data'].each do |follow_up_risk_report| %>
                           <th>
                              
                              <b><%= convert_thai_date(follow_up_risk_report['period_report']['startdate'],'default') rescue nil %> ถึง <%= convert_thai_date(follow_up_risk_report['period_report']['enddate'],'default') rescue nil %></b>
                           </th>
                              <% end %>
                           <% end %>
                        </tr>
                     </thead>
                  
                     <!--
                     <thead>

                        <% if @follow_up_control_reports_group_by_items && !@follow_up_control_reports_group_by_items['data'].blank? %>
                        <% @follow_up_control_reports_group_by_items['data'].each do |item| %>
                           <% item.take(1).each do |sub_item| %>
                           <tr>
                              <th></th>

                              <% sub_item[1].each do |content| %>
                              <% content.each do |value| %>
                              <th class="text-center">
                                 <% 
                                 url = URI("#{$server[@controller_title]}/api/v1/follow_up_risk_reports/#{value[0]}")
                                 follow_up_risk_report = request_api(url, "get", nil)
                                 %> 
                                
                                 <% if follow_up_risk_report && !follow_up_risk_report['data'].blank? %>
                                 <b>
                                    <%= follow_up_risk_report['data']['startdate']&.in_time_zone&.to_date %> ถึง <%= follow_up_risk_report['data']['enddate']&.in_time_zone&.to_date %>
                                 </b>  
                                 <% end %>
                              </th>
                              <% end %>
                              <% end %>

                           </tr>
                           <% end %>
                        <% end %>
                        <% end %>
                     </thead>
                  -->

                     <tbody>
                        <% if @follow_up_control_reports_group_by_items && !@follow_up_control_reports_group_by_items['data'].blank? %>
                        <% @follow_up_control_reports_group_by_items['data'].each do |item| %>
                          
                           <% item.each do |sub_item| %>
                           <tr>
                              <td><%= sub_item[0] %></td>

                              <% sub_item[1].each do |content| %>
                              <% content.each do |value| %>
                              <td class="text-center">
                                 <%#= value[0] %>
                                 <%= get_status_tasks_sign(value[1]) %>      
                              </td>
                              <% end %>
                              <% end %>

                           </tr>
                           <% end %>
                        <% end %>
                        <% end %>
                     </tbody>
                  </table>

                  <div class="py-5">
                    <b class="fs-5 py-5">สถานะการดำเนินการ</b>
                    <table class="table table-bordered my-5 w-50">
                        <tr>
                            <th class="w-100px"><span class='badge badge-success fs-2'>*</span></th>
                            <td> =  ดำเนินการแล้ว เสร็จตามกำหนด</td>
                        </tr>
                        <tr>
                            <th><span class='badge badge-light-success fs-2'>√</span></th>
                            <td> =  ดำเนินการแล้ว เสร็จล่าช้ากว่ากำหนด</td>
                        </tr>
                        <tr>
                            <th><span class='badge badge-light fs-2'>X</span></th>
                            <td> =  ยังไม่ดำเนินการ</td>
                        </tr>
                        <tr>
                            <th><span class='badge badge-warning fs-2'>Ɵ</span></th>
                            <td> =  อยู่ระหว่างดำเนินการ</td>
                        </tr>
                    </table>
                </div>


         </div>
     </div> 
   <!--end::Box 1-->


   <!--begin::Box 2-->
      <div class="col-sm-12 col-lg-4">
         <div class="card-body p-0 d-flex justify-content-between flex-column overflow-hidden">
            
            <%
            #init
            #id = SecureRandom.uuid
            id2 = SecureRandom.hex(5)
            apex_id2 = SecureRandom.hex(5)
            %>



            <div class="card-body pt-2 pb-4">
               <h3 class="fs-4">จัดลำดับกิจกรรมที่มีความเสี่ยงสูงสุด</h3>
               
               <table class="table table-head-custom table-bordered">
                  <thead>
                     <tr>
                        <th class="text-center">ลำดับ</th>
                        <th class="text-center">คะแนนความเสี่ยง</th>
                        <th class="min-w-200px">กิจกรรม</th>
                     </tr>
                  </thead>
                  <tbody>
                     <% if @plan_report && !@plan_report['data'].blank? %>
                    
                     <%# @plan_report['data']['tasks'].sort_by{|i| i['risk_score_cal'].to_i}.reverse.each_with_index do |task,idx| %>
                     <% @category['data']['list_risk_factors'].sort_by{|i| i['risk_score_cal'].to_i}.reverse.each_with_index do |list_risk_factor,idx| %>
                     <tr>
                        <td class="text-center"><span class="badge badge-primary"><%= idx + 1 %></span></td>
                        <td class="text-center">  
                        
                   
                               <%= get_color_risk(list_risk_factor['risk_score_cal'].to_i) rescue nil %>
                   
                        </td>

                        <% 
                     
                        url = URI("#{$server[@controller_title]}/api/v1/list_activities/get_list_activity_by_list/#{list_risk_factor['list_id']}")
                        @list_activity = request_api(url, "get", nil)
                        
                        %> 
                        <td>
                     
                
                          
                                 <h6 class=""><%=  @list_activity['data']['title'] rescue nil %></h6>
                                 <p class="mb-3"><%=  @list_activity['data']['description'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></p>
                      
                   
                        </td>
                     </tr>
                     <%# end %>
                     <% end %>
                     <% end %>
                  </tbody>
               </table>

            </div>


            









         </div>
     </div> 
   <!--end::Box 2-->






</div>


<% if params[:check] == 'true' %>
   @follow_up_control_reports_group_by_items : <%#= @follow_up_control_reports_group_by_items %>
   <% if @follow_up_control_reports_group_by_items && @follow_up_control_reports_group_by_items['data'] %>
   <% @follow_up_control_reports_group_by_items['data'].each do |item| %>
      <li>
         <% item.each do |sub_item|  %>
            <li>
               <b><%= sub_item[0] %></b>
               <% sub_item[1].each do |content| %>
                        <% content.each do |value| %>
                           <%= value %><%#= value[1] %>,
                        <% end %>
                     <% end %>
            </li>
         <% end %>
      </li>
   <% end %>
   <% end %>


   <hr>

  # @follow_up_control_reports
   <% if @follow_up_control_reports && @follow_up_control_reports['data'] %>
   <% @follow_up_control_reports['data'].each do |item| %>
      <li>
         <%= item %>
      </li>
   <% end %>
   <% end %>


<% end %>



<% content_for :footer do %>

<script type="text/javascript">
 $('#select_master_plan_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=' + value;
 });

 $('#select_category_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=<%= params[:master_plan_id] %>&category_id=' + value;
 });


</script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">

 
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>



<%  end %>



<script type="text/javascript">
   // Shared Colors Definition
   const procedure_all = '#2874a6';
   const activity_all = '#e67e22';
   const risk_step = '#95a5a6';
   const success_step = '#1e8449';
   const inprocess_step = '#c0392b';

   var data_title_short = <%= raw gr_title_short_all_arr %>;
   var data_procedure_all = <%= raw gr_procedure_all_arr %>;
   var data_activity_all = <%= raw gr_activity_all_arr %>;
   var data_risk_step = <%= raw gr_risk_step_all_arr %>;
   var data_success_step = <%= raw gr_success_step_all_arr %>;
   var data_inprocess_step = <%= raw gr_inprocess_step_all_arr %>;

   const apexChart_<%= apex_id3 %> = "#graph-<%= id3 %>";
         var options = {
            series: [{
               name: 'กระบวนงานควบคุมภายใน',
               data: data_procedure_all
            },{
               name: 'จำนวนขั้นตอนของกระบวนงาน',
               data: data_activity_all
            },{
               name: 'จำนวนขั้นตอนที่มีความเสี่ยง',
               data: data_risk_step
            },{
               name: 'จำนวนขั้นตอนที่แก้ไขแล้ว',
               data: data_success_step
            },{
               name: 'จำนวนขั้นตอนที่ยังรอการแก้ไข',
               data: data_inprocess_step
            }],
            chart: {
               type: 'bar',
               height: 350
            },
           
            dataLabels: {
               enabled: false
            },
            stroke: {
            curve: 'straight'
            },
            xaxis: {
                categories: data_title_short,
            },
            yaxis: {
               title: {
                  text: ''
               }
            },
            fill: {
               opacity: 1
            },
            tooltip: {
               y: {
                  formatter: function (val) {
                     return " " + val + " กระบวนงาน"
                  }
               }
            },
            colors: [procedure_all, activity_all, risk_step, success_step, inprocess_step]
         };

         var chart = new ApexCharts(document.querySelector(apexChart_<%= apex_id3 %>), options);
         chart.render();

   </script>


 
<script type="text/javascript">
var div = document.createElement('div');
            div.setAttribute("id", "tbl");
            document.body.appendChild(div)
                document.getElementById("tbl").innerHTML = "<table border = '0'>" +
               '<tr>' +
                '<td rowspan = "6" style="height: 40px; width: 60px; text-align: center; border-right: 1px solid; writing-mode: vertical-rl;  background-color: #FFFFFF;">ความรุนแรงของผลกระทบ (Impact)</td>' +
               '</tr>' +
              '<tr>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">5</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFA500;">10</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FF0000;">15</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FF0000;">20</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FF0000;">25</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid white; background-color: #FFFFFF;"></td>' +
                  '<td style="height: 30px; width: 40px; text-align: center; border: 5px solid white; background-color: #FF0000;"></td>' +
                  '<td style="height: 40px; width: 60px; text-align: left; border: 1px solid white; background-color: #FFFFFF;">สูงมาก</td>' +
              '</tr>' +
              '<tr>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">4</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">8</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFA500;">12</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FF0000;">16</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FF0000;">20</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid white; background-color: #FFFFFF;"></td>' +
                  '<td style="height: 30px; width: 40px; text-align: center; border: 5px solid white; background-color: #FFA500;"></td>' +
                  '<td style="height: 40px; width: 60px; text-align: left; border: 1px solid white; background-color: #FFFFFF;">สูง</td>' +
              '</tr>' +
              '<tr>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #008000;">3</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">6</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFA500;">9</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFA500;">12</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FF0000;">15</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid white; background-color: #FFFFFF;"></td>' +
                  '<td style="height: 30px; width: 40px; text-align: center; border: 5px solid white; background-color: #FFFF00;"></td>' +
                  '<td style="height: 40px; width: 60px; text-align: left; border: 1px solid white; background-color: #FFFFFF;">ปานกลาง</td>' +
              '</tr>' +
               '<tr>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #008000;">2</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">4</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">6</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">8</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFA500;">10</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid white; background-color: #FFFFFF;"></td>' +
                  '<td style="height: 30px; width: 40px; text-align: center; border: 5px solid white; background-color: #008000;"></td>' +
                  '<td style="height: 40px; width: 60px; text-align: left; border: 1px solid white; background-color: #FFFFFF;">น้อย</td>' +
              '</tr>' +
                  '<tr>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #008000;">1</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #008000;">2</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #008000;">3</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">4</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">5</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid white; background-color: #FFFFFF;"></td>' +
                  '<td style="height: 30px; width: 40px; text-align: center; border: 5px solid white; background-color: #90EE90;"></td>' +
                  '<td style="height: 40px; width: 60px; text-align: left; border: 1px solid white; background-color: #FFFFFF;">น้อยมาก</td>' +
              '</tr>' +
              '<tr>' +
                  '<td colspan = "8" style="height: 40px; width: 60px; text-align: center; border: 1px solid white; background-color: #FFFFFF;">โอกาศที่จะเกิดความเสียหาย (Likelihood)</td>' +
               '</tr>'

</script>



<script type="text/javascript">

                const data  = <%#= raw JSON.generate(@summary_report['data']) %>;
              
              const tableData = data.map(value => {
                return (
                  `<tr > 
                       <td class="text-center"></td>
                       <td>${value.title}</td>
                       <td class="text-center">${value.procedure_all.procedure_all}</td>
                       <td class="text-center">${value.procedure_all.activity_all}</td>
                       <td class="text-center">${value.procedure_all.risk_step}</td>
                       <td class="text-center">${value.procedure_all.success_step}</td>
                       <td class="text-center">${value.procedure_all.inprocess_step}</td>
                      
                  </tr>
                  `
                );
              }).join('');
              
              const tableBody = document.querySelector("#tableBody");
              tableBody.innerHTML = tableData;
             
</script>
              