<%
#init

id = SecureRandom.hex(5)
apex_id = SecureRandom.hex(5)

id3 = SecureRandom.hex(5)
apex_id3 = SecureRandom.hex(5)
%>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<div class="row g-6 g-xl-9">

   <!--begin::Box 1-->
      <div class="col-12">

         <div class="pt-2 pb-4 align-items-center row">

            <div class="col-12 col-md-3 mx-2">
            <b>เลือกปีงบประมาณ</b>
            <%= select_tag("select[master_report_id]", options_for_select(@master_plans['data'].map { |item| [(item['period_year']&.to_date&.year + 543 rescue nil), item['id']] }, (params[:master_plan_id] rescue nil)), {id: 'select_master_plan_id',class: 'selectize-activity form-control'}) if @master_plans && !@master_plans['data'].blank? %>
            </div>

            <% @master_plans['data'].each do |master_plan|%>
               <% master_plan['plans'].each do |plan| %>
                  <%= plan['categories'].size %>
                     <% plan['categories'].each do |category| %>
                        <ul><%= category['institution']['title'] %>
                           <li><%= category['title'] %></li>
                        </ul>
                  <% end %>   
               <% end %>
            <% end %>


         <!-- Start::Add New -->
            <div class="card-body pt-2 pb-4 align-items-center">
                  <div id="graph-<%= id3 %>" style="height: 350px; width: 100%;"></div>
            </div>

         <!-- End::Add New -->

         <!-- START::Add::New -->

   
         <div class="card-body pt-2 pb-4 align-items-center">
            <center> <h3 class="fs-4">ตารางระดับความเสี่ยง (Degree of Risk)</b></h3>
               <div id = "tbl" > </div>
            </center>
         </div>
         <!-- End::Add::New -->


         <!-- Start::Add New -->
         
         <%


         url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params['master_plan_id']}/summary_report")
         @summary_report = request_api(url,'get',nil)
         %>

         <%= @summary_report %>
         <div class="card-body pt-2 pb-4 align-items-center">
            <table border="1" class="table table-bordered" style="text-left">
               <thead style="width:auto;text-align:center; background-color: #d9dbff;">
                  <tr valign="middle">
                  <th class="text-center">ลำดับ</th>
                  <th class="text-center">สำนัก/กอง/กลุ่ม/ศูนย์</th>
                  <th class="text-center">กระบวนงาน</th>
                  <th class="text-center">จำนวนขั้นตอน</th>
                  <th class="text-center">จำนวนขั้นตอนที่มีความเสี่ยง</th>
                  <th class="text-center">จำนวนขั้นตอนที่แก้ไขแล้ว</th>
                  <th class="text-center">จำนวนขั้นตอนที่รอการแก้ไข</th>   
                  </tr>
         </thead>
         <tbody id="tableBody">
                                           
         </tbody>
       </table>
         </div>

      <!-- End::Add New -->
         

         </div>

         <% if !params[:master_plan_id].blank? %>

            <div class="col-12 col-md-12 mx-2">
            <h3 class="fs-4">เลือกกระบวนงาน</b></h3>
                  <%= select_tag("select[category_id]", options_for_select(@categories['data'].map { |item| [item['title'], item['id']] }, (params[:category_id] rescue nil)), {include_blank: true, id: 'select_category_id',class: 'selectize-activity form-control'}) if @categories && !@categories['data'].blank? %>
            </div>
         <% end %>

         <hr>
        
         <% 
         url = URI("#{$server[@controller_title]}/api/v1/categories/#{params[:category_id]}/category")
         @category = request_api(url, "get", nil)
         %> 
         <div class="text-gray-800 fw-bolder fs-3 my-3">กระบวนงาน : <%= @category['data']['title'] rescue nil %></div>

         <hr>
         
      </div>

      <div class="col-sm-12 col-lg-8">
         <div class="card-body p-0 d-flex justify-content-between flex-column overflow-hidden">
            
                  <h3 class="fs-4">รายงานความคืบหน้า</h3>

                  <table class="table table-bordered">
                     
                     <thead>
                        <tr>
                           <th></th>
                        
                           <% if @follow_up_control_reports && !@follow_up_control_reports['data'].blank? %>
                              <% @follow_up_control_reports['data'].each do |follow_up_risk_report| %>
                           <th>
                              
                              <b><%= convert_thai_date(follow_up_risk_report['period_report']['startdate'],'default') rescue nil %> ถึง <%= convert_thai_date(follow_up_risk_report['period_report']['enddate'],'default') rescue nil %></b>
                           </th>
                              <% end %>
                           <% end %>
                        </tr>
                     </thead>
                  
                     <!--
                     <thead>

                        <% if @follow_up_control_reports_group_by_items && !@follow_up_control_reports_group_by_items['data'].blank? %>
                        <% @follow_up_control_reports_group_by_items['data'].each do |item| %>
                           <% item.take(1).each do |sub_item| %>
                           <tr>
                              <th></th>

                              <% sub_item[1].each do |content| %>
                              <% content.each do |value| %>
                              <th class="text-center">
                                 <% 
                                 url = URI("#{$server[@controller_title]}/api/v1/follow_up_risk_reports/#{value[0]}")
                                 follow_up_risk_report = request_api(url, "get", nil)
                                 %> 
                                
                                 <% if follow_up_risk_report && !follow_up_risk_report['data'].blank? %>
                                 <b>
                                    <%= follow_up_risk_report['data']['startdate']&.in_time_zone&.to_date %> ถึง <%= follow_up_risk_report['data']['enddate']&.in_time_zone&.to_date %>
                                 </b>  
                                 <% end %>
                              </th>
                              <% end %>
                              <% end %>

                           </tr>
                           <% end %>
                        <% end %>
                        <% end %>
                     </thead>
                  -->

                     <tbody>
                        <% if @follow_up_control_reports_group_by_items && !@follow_up_control_reports_group_by_items['data'].blank? %>
                        <% @follow_up_control_reports_group_by_items['data'].each do |item| %>
                          
                           <% item.each do |sub_item| %>
                           <tr>
                              <td><%= sub_item[0] %></td>

                              <% sub_item[1].each do |content| %>
                              <% content.each do |value| %>
                              <td class="text-center">
                                 <%#= value[0] %>
                                 <%= get_status_tasks_sign(value[1]) %>      
                              </td>
                              <% end %>
                              <% end %>

                           </tr>
                           <% end %>
                        <% end %>
                        <% end %>
                     </tbody>
                  </table>

                  <div class="py-5">
                    <b class="fs-5 py-5">สถานะการดำเนินการ</b>
                    <table class="table table-bordered my-5 w-50">
                        <tr>
                            <th class="w-100px"><span class='badge badge-success fs-2'>*</span></th>
                            <td> =  ดำเนินการแล้ว เสร็จตามกำหนด</td>
                        </tr>
                        <tr>
                            <th><span class='badge badge-light-success fs-2'>√</span></th>
                            <td> =  ดำเนินการแล้ว เสร็จล่าช้ากว่ากำหนด</td>
                        </tr>
                        <tr>
                            <th><span class='badge badge-light fs-2'>X</span></th>
                            <td> =  ยังไม่ดำเนินการ</td>
                        </tr>
                        <tr>
                            <th><span class='badge badge-warning fs-2'>Ɵ</span></th>
                            <td> =  อยู่ระหว่างดำเนินการ</td>
                        </tr>
                    </table>
                </div>


         </div>
     </div> 
   <!--end::Box 1-->


   <!--begin::Box 2-->
      <div class="col-sm-12 col-lg-4">
         <div class="card-body p-0 d-flex justify-content-between flex-column overflow-hidden">
            
            <%
            #init
            #id = SecureRandom.uuid
            id2 = SecureRandom.hex(5)
            apex_id2 = SecureRandom.hex(5)
            %>



            <div class="card-body pt-2 pb-4">
               <h3 class="fs-4">จัดลำดับกิจกรรมที่มีความเสี่ยงสูงสุด</h3>
               
               <table class="table table-head-custom table-bordered">
                  <thead>
                     <tr>
                        <th class="text-center">ลำดับ</th>
                        <th class="text-center">คะแนนความเสี่ยง</th>
                        <th class="min-w-200px">กิจกรรม</th>
                     </tr>
                  </thead>
                  <tbody>
                     <% if @plan_report && !@plan_report['data'].blank? %>
                    
                     <%# @plan_report['data']['tasks'].sort_by{|i| i['risk_score_cal'].to_i}.reverse.each_with_index do |task,idx| %>
                     <% @category['data']['list_risk_factors'].sort_by{|i| i['risk_score_cal'].to_i}.reverse.each_with_index do |list_risk_factor,idx| %>
                     <tr>
                        <td class="text-center"><span class="badge badge-primary"><%= idx + 1 %></span></td>
                        <td class="text-center">  
                        
                   
                               <%= get_color_risk(list_risk_factor['risk_score_cal'].to_i) rescue nil %>
                   
                        </td>

                        <% 
                     
                        url = URI("#{$server[@controller_title]}/api/v1/list_activities/get_list_activity_by_list/#{list_risk_factor['list_id']}")
                        @list_activity = request_api(url, "get", nil)
                        
                        %> 
                        <td>
                     
                
                          
                                 <h6 class=""><%=  @list_activity['data']['title'] rescue nil %></h6>
                                 <p class="mb-3"><%=  @list_activity['data']['description'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></p>
                      
                   
                        </td>
                     </tr>
                     <%# end %>
                     <% end %>
                     <% end %>
                  </tbody>
               </table>

            </div>


            









         </div>
     </div> 
   <!--end::Box 2-->






</div>


<% if params[:check] == 'true' %>
   @follow_up_control_reports_group_by_items : <%#= @follow_up_control_reports_group_by_items %>
   <% if @follow_up_control_reports_group_by_items && @follow_up_control_reports_group_by_items['data'] %>
   <% @follow_up_control_reports_group_by_items['data'].each do |item| %>
      <li>
         <% item.each do |sub_item|  %>
            <li>
               <b><%= sub_item[0] %></b>
               <% sub_item[1].each do |content| %>
                        <% content.each do |value| %>
                           <%= value %><%#= value[1] %>,
                        <% end %>
                     <% end %>
            </li>
         <% end %>
      </li>
   <% end %>
   <% end %>


   <hr>

  # @follow_up_control_reports
   <% if @follow_up_control_reports && @follow_up_control_reports['data'] %>
   <% @follow_up_control_reports['data'].each do |item| %>
      <li>
         <%= item %>
      </li>
   <% end %>
   <% end %>


<% end %>



<% content_for :footer do %>

<script type="text/javascript">
 $('#select_master_plan_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=' + value;
 });

 $('#select_category_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=<%= params[:master_plan_id] %>&category_id=' + value;
 });


</script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">

 
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>



<%  end %>



<script type="text/javascript">
   // Shared Colors Definition
   const primary = '#6993FF';
   const success = '#1BC5BD';
   const info = '#8950FC';
   const warning = '#FFA800';
   const danger = '#F64E60';
   const grey = '#cccccc';
   const apexChart_<%= apex_id3 %> = "#graph-<%= id3 %>";
         var options = {
            series: [{
               name: 'กระบวนงานควบคุมภายใน',
               data: [89, 49, 73, 44, 72, 84, 44, 55, 43, 42, 62, 61, 76
               ]
            },{
               name: 'จำนวนขั้นตอนของกระบวนงาน',
               data: [45, 10, 33, 45, 11, 28, 33, 20, 26, 23, 20, 21, 65
               ]
            },{
               name: 'จำนวนขั้นตอนที่มีความเสี่ยง',
               data: [45, 35, 37, 16, 21, 38, 33, 20, 26, 23, 14, 23, 43
               ]
            },{
               name: 'จำนวนขั้นตอนที่แก้ไขแล้ว',
               data: [33, 23, 27, 36, 11, 58, 23, 10, 16, 13, 10, 16, 24 
               ]
            },{
               name: 'จำนวนขั้นตอนที่ยังรอการแก้ไข',
               data: [22, 33, 2, 34, 15, 37, 37, 32, 34, 14, 24, 16, 12
            ]
            }],
            chart: {
               type: 'bar',
               height: 350
            },
           
            dataLabels: {
               enabled: false
            },
            stroke: {
            curve: 'straight'
            },
            xaxis: {
                categories: ['กพส','กยผ','สลก','ศพท','สคพ','สชง','กกม','กสร','สปท','กสป','กสส','กตน','กพร'
               ],
            },
            yaxis: {
               title: {
                  text: ''
               }
            },
            fill: {
               opacity: 1
            },
            tooltip: {
               y: {
                  formatter: function (val) {
                     return " " + val + " ตัวชี้วัด"
                  }
               }
            },
            colors: [primary, success, warning, grey]
         };

         var chart = new ApexCharts(document.querySelector(apexChart_<%= apex_id3 %>), options);
         chart.render();

   </script>


 
<script type="text/javascript">
var div = document.createElement('div');
            div.setAttribute("id", "tbl");
            document.body.appendChild(div)
                document.getElementById("tbl").innerHTML = "<table border = '0'>" +
               '<tr>' +
                '<td rowspan = "6" style="height: 40px; width: 60px; text-align: center; border-right: 1px solid; writing-mode: vertical-rl;  background-color: #FFFFFF;">ความรุนแรงของผลกระทบ (Impact)</td>' +
               '</tr>' +
              '<tr>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">5</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFA500;">10</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FF0000;">15</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FF0000;">20</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FF0000;">25</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid white; background-color: #FFFFFF;"></td>' +
                  '<td style="height: 30px; width: 40px; text-align: center; border: 5px solid white; background-color: #FF0000;"></td>' +
                  '<td style="height: 40px; width: 60px; text-align: left; border: 1px solid white; background-color: #FFFFFF;">สูงมาก</td>' +
              '</tr>' +
              '<tr>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">4</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">8</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFA500;">12</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FF0000;">16</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FF0000;">20</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid white; background-color: #FFFFFF;"></td>' +
                  '<td style="height: 30px; width: 40px; text-align: center; border: 5px solid white; background-color: #FFA500;"></td>' +
                  '<td style="height: 40px; width: 60px; text-align: left; border: 1px solid white; background-color: #FFFFFF;">สูง</td>' +
              '</tr>' +
              '<tr>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #008000;">3</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">6</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFA500;">9</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFA500;">12</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FF0000;">15</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid white; background-color: #FFFFFF;"></td>' +
                  '<td style="height: 30px; width: 40px; text-align: center; border: 5px solid white; background-color: #FFFF00;"></td>' +
                  '<td style="height: 40px; width: 60px; text-align: left; border: 1px solid white; background-color: #FFFFFF;">ปานกลาง</td>' +
              '</tr>' +
               '<tr>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #008000;">2</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">4</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">6</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">8</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFA500;">10</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid white; background-color: #FFFFFF;"></td>' +
                  '<td style="height: 30px; width: 40px; text-align: center; border: 5px solid white; background-color: #008000;"></td>' +
                  '<td style="height: 40px; width: 60px; text-align: left; border: 1px solid white; background-color: #FFFFFF;">น้อย</td>' +
              '</tr>' +
                  '<tr>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #008000;">1</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #008000;">2</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #008000;">3</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">4</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid black; background-color: #FFFF00;">5</td>' +
                  '<td style="height: 40px; width: 50px; text-align: center; border: 1px solid white; background-color: #FFFFFF;"></td>' +
                  '<td style="height: 30px; width: 40px; text-align: center; border: 5px solid white; background-color: #90EE90;"></td>' +
                  '<td style="height: 40px; width: 60px; text-align: left; border: 1px solid white; background-color: #FFFFFF;">น้อยมาก</td>' +
              '</tr>' +
              '<tr>' +
                  '<td colspan = "8" style="height: 40px; width: 60px; text-align: center; border: 1px solid white; background-color: #FFFFFF;">โอกาศที่จะเกิดความเสียหาย (Likelihood)</td>' +
               '</tr>'

</script>



<script type="text/javascript">
                const data = [
                              {no:'1', title_name:'สํานักงานช่วยเหลือทางการเงินแก่ผู้เสียหายและจําเลยในคดีอาญา', V1: '2', V2: '3', V3:'4', V4: '5', V5: '5'},
                              {no:'2', title_name:'สํานักงานคุ้มครองพยาน', V1: '2', V2: '3', V3:'4', V4: '5', V5: '5'},
                              {no:'3', title_name:'กองพิทักษ์สิทธิและเสรีภาพ', V1: '2', V2: '3', V3:'4', V4: '5', V5: '5'},
                              {no:'4', title_name:'กองส่งเสริมการระงับข้อพิพาท', V1: '2', V2: '3', V3:'4', V4: '5', V5: '5'},
                              {no:'5', title_name:'กองส่งเสริมสิทธิและเสรีภาพ', V1: '2', V2: '3', V3:'4', V4: '5', V5: '5'},
                              {no:'6', title_name:'กองสิทธิมนุษยชนระหว่างประเทศ', V1: '2', V2: '3', V3:'4', V4: '5', V5: '5'},
                              {no:'7', title_name:'สํานักงานเลขานุการกรม', V1: '2', V2: '3', V3:'4', V4: '5', V5: '5'},
                              {no:'8', title_name:'กองกฎหมาย', V1: '2', V2: '3', V3:'4', V4: '5', V5: '5'},
                              {no:'9', title_name:'กลุ่มตรวจสอบภายใน', V1: '2', V2: '3', V3:'4', V4: '5', V5: '5'},
                              {no:'10', title_name:'กลุ่มพัฒนาระบบบริหาร', V1: '2', V2: '3', V3:'4', V4: '5', V5: '5'},
                              {no:'11', title_name:'กองยุทธศาสตร์และแผนสิทธิมนุษยชนแห่งชาติ', V1: '2', V2: '3', V3:'4', V4: '5', V5: '5'},
                              {no:'12', title_name:'สํานักงานป้องกันและปราบปรามการทรมานและการกระทําให้บุคคลสูญหาย', V1: '2', V2: '3', V3:'4', V4: '5', V5: '5'},
                              {no:'13', title_name:'ศูนย์ข้อมูลและพัฒนาระบบเทคโนโลยีสารสนเทศ', V1: '2', V2: '3', V3:'4', V4: '5', V5: '5'}
                              ]; 
              
              const tableData = data.map(value => {
                return (
                  `<tr >
                       <td class="text-center">${value.no}</td>
                       <td>${value.title_name}</td>
                       <td class="text-center">${value.V1}</td>
                       <td class="text-center">${value.V2}</td>
                       <td class="text-center">${value.V3}</td>
                       <td class="text-center">${value.V4}</td>
                       <td class="text-center">${value.V5}</td>
                  </tr>
                  `
                );
              }).join('');
              
              const tableBody = document.querySelector("#tableBody");
              tableBody.innerHTML = tableData;
              
</script>
              