<%
#init
#id = SecureRandom.uuid
id = SecureRandom.hex(5)
apex_id = SecureRandom.hex(5)
%>
<div class="">
   <div class="card-header pt-2 pb-4 align-items-center">
      <div class="me-2 w-100">
         <span class="fw-bolder text-gray-800 d-block fs-3">สรุปผลการดำเนินงาน</span>
         <span class="text-gray-400 fw-bold">.</span>
      </div>
      <select class="form-select form-select-solid select2-hidden-accessible" data-control="select2" data-hide-search="true" data-placeholder="เลือกรายงาน" name="target_assign" data-select2-id="select2-data-67-gsau" tabindex="-1" aria-hidden="true">
         <option value="" data-select2-id="select2-data-69-qeo1">ประจำปี :</option>
         <option value="1" data-select2-id="select2-data-126-m4rn">รายงาน 001</option>
         <option value="2" data-select2-id="select2-data-127-qjrh">รายงาน 002</option>
         <option value="3" data-select2-id="select2-data-128-prfz">รายงาน 003</option>
         <option value="4" data-select2-id="select2-data-129-t5ex">รายงาน 004</option>
      </select>
   </div>

   <div class="card-body pt-2 pb-4 align-items-center">
      <div id="graph-<%= id %>" style="height: 350px; width: 100%;"></div>
   </div>
</div>


<% content_for :footer do %>

<script type="text/javascript">

const apexChart_<%= apex_id %> = "#graph-<%= id %>";

var options = {
   series: [50, 100, 150],
   chart: {
      width: '90%',
      type: 'donut',
   },
   labels: ["สำเร็จ", "ไม่สำเร็จ", "กำลังดำเนินการ"],
   responsive: [{
      //breakpoint: 480,
      options: {
         chart: {
            width: 300
         },
         legend: {
            position: 'bottom'
         }
      }
   }],
   colors: [primary, success, warning, danger, info]
};

var chart = new ApexCharts(document.querySelector(apexChart_<%= apex_id %>), options);
chart.render();
</script>

<% end %>