<%
#demo data
#plan_report_id = "2C7212AC-797B-4998-9BD3-1AEDE202CDD1"

#url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{plan_report_id}")
#@plan_report = request_api(url,'get',nil)




#params[:master_plan_id] = 'D484F7DC-7ED0-4F18-BB5D-F090939A49A7'

url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}")
@master_plan = request_api(url,'get',nil)

url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}/plan_reports")
@mp_plan_reports = request_api(url,'get',nil)

%>

<%
#init
#id = SecureRandom.uuid
id = SecureRandom.hex(5)
apex_id = SecureRandom.hex(5)
%>



<%
   url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}/group_by_status")
   @group_by_status = request_api(url,'get',nil)
   
   if !@group_by_status['data'].blank?
      
      idx = 0
      @sum_status_1 = 0
      @sum_status_2 = 0
      
      @group_by_status['data'].each do |group,lists|
         if !lists.blank?
            @lists = lists
            lists.each do |list|
               url = URI("#{$server[@controller_title]}/api/v1/lists/#{list['id']}")
               list_this = request_api(url,'get',nil)
               @value_ori = nil
               @value_ori = list_this['data']['tasks'][0]['task_score_results'][0]['value_second'].to_i rescue nil
               
               if @value_ori
                  if @value_ori > 1 && @value_ori < 3
                    @sum_status_2 = @sum_status_2 + 1
                  elsif @value_ori >= 3
                    @sum_status_1 = @sum_status_1 + 1
                  else 
                  end
               end #if @value_ori

            end #lopp lists.each do |list|

         #@sum_percent_status_1 = (@sum_status_1.to_i/lists.size.to_i)* 100
         #@sum_percent_status_2 = (@sum_status_2.to_i/lists.size.to_i)* 100

         @sum_percent_status_1 = @sum_status_1
         @sum_percent_status_2 = @sum_status_2

         end #!lists.blank?
      end #loop @group_by_status['data'].each do |group,lists|   
   end# end !@group_by_status['data'].blank?



%>

<div class="row g-6 g-xl-9">


   <!--begin::Box 1-->
      <div class="col-sm-12 col-lg-8">
         <div class="card-body p-0 d-flex justify-content-between flex-column overflow-hidden">
            









            <div class="">
               <div class="card-header pt-2 pb-4 align-items-center">
                  <div class="me-2 w-100">
                     <span class="fw-bolder text-gray-800 d-block fs-3">รายงานผลการดำเนินงาน</span>
                     <span class="text-gray-400 fw-bold"><%= (Time.now) %></span>
                  </div>

                 <b>ตามปีงบประมาณ</b>
                     <%= select_tag("select[master_report_id]", options_for_select(@master_plans['data'].map { |item| [(item['period_year']&.to_date&.year + 543 rescue nil), item['id']] }, (params[:master_plan_id] rescue nil)), {id: 'select_master_plan_id',class: 'selectize-activity form-control'}) if @master_plans && !@master_plans['data'].blank? %>

               </div>
               <div class="card-body pt-2 pb-4 align-items-center">
                  <div id="graph-<%= id %>" style="height: 350px; width: 100%;"></div>
               </div>
            </div>


            

         </div>
     </div> 
   <!--end::Box 1-->


   <!--begin::Box 2-->
      <div class="col-sm-12 col-lg-4">
         <div class="card-body p-0 d-flex justify-content-between flex-column overflow-hidden">
            













            <%
            #init
            #id = SecureRandom.uuid
            id2 = SecureRandom.hex(5)
            apex_id2 = SecureRandom.hex(5)
            %>
            <div class="card-body pt-2 pb-4 align-items-center">
               <div id="graph-<%= id2 %>" style="height: 350px; width: 100%; margin-top: 50px;"></div>
            </div>


            









         </div>
     </div> 
   <!--end::Box 2-->




</div>




<div class="row">


<div class="table-responsive py-5 mt-10">
     <table id="items" class="table table-bordered">
       <thead style="width:auto;text-align:center">
         <tr >
           <th>ลำดับที่</th>
           <th colspan="4">มิติตัวชี้วัด</th>
           <th>จำนวนตัวชี้วัด</th>
           <th>บรรลุเป้าหมาย</th>
           <th > <font color="red">ไม่บรรลุเป้าหมาย</font></th>
           <th>อยู่ระหว่างการดำเนินงาน</th>
           <th>คิดเป็นร้อยละ</th>
         </tr>
       </thead>


      <% if !@group_by_status['data'].blank? %>
      <%
      idx = 0
      %>
      <% @group_by_status['data'].each do |group,lists| %>
      <% if !lists.blank? %>
         <%
         @sum_status_1 = 0
         @sum_status_2 = 0
         @sum_status_3 = 0
         %>
         <% lists.each do |list| %>
            <%
            url = URI("#{$server[@controller_title]}/api/v1/lists/#{list['id']}")
            list_this = request_api(url,'get',nil)
            %>
            <%#= list['task'][0]['task_score_results'][0]['value_second'] rescue nil %>
            <% 
            @value_ori = nil
            @value_ori = list_this['data']['tasks'][0]['task_score_results'][0]['value_second'].to_i rescue nil
            
            if @value_ori
               if @value_ori > 1 && @value_ori < 3
                  @sum_status_2 = @sum_status_2 + 1
               elsif @value_ori >= 3
                  @sum_status_1 = @sum_status_1 + 1
               else 
                  @sum_status_3 = @sum_status_3 + 1
               end
            end
            %>
         <% end %>
      <% end %>

       <tr valign="top">
           <td align="center"><%= idx = idx + 1 %></td>
           <td colspan="4"><%= group %></td>
           <td align="center">
               <%= lists.size %>
           </td>
           <td align="center">
               <%= @sum_status_1 %>
           </td>
           <td align="center" ><font color="red"><%= @sum_status_2 %></font></td>
           <td><%= @sum_status_3 %></td>
           <td align="center">
              <%= (@sum_status_1.to_i/lists.size.to_i)* 100 %>%
           </td>
       </tr>
       <% end %>
       <% end %>

     </table>
 </div>

</div>

<!-- Start รายการตัวชี้วัดแยกตาม สำนัก/กอง/กลุ่ม/ศูนย์ -->


<div class="row">


<div class="me-2 w-100">
   <span class="fw-bolder text-gray-800 d-block fs-3">รายการตัวชี้วัดแยกตาม สำนัก/กอง/กลุ่ม/ศูนย์</span>
  
</div>

<b>ประจำเดือน</b>
   <%= select_tag("select[master_report_id]", options_for_select(@mp_plan_reports['data'].map { |item| [(item['startdate']&.in_time_zone&.month rescue nil), item['id']] }, (params[:master_plan_id] rescue nil)), {id: 'select_master_plan_id',class: 'selectize-activity form-control'}) if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>



<div class="table-responsive py-5 mt-10">
     <table id="items" class="table table-bordered">
       <thead style="width:auto;text-align:center">
         <tr >
           <th>ลำดับที่</th>
           <th colspan="4">สำนัก/กอง/กลุ่ม/ศูนย์</th>
           <th>จำนวนตัวชี้วัด</th>
           <th><font color="green">รายงานผลแล้ว</th>
           <th> <font color="red">ยังไม่รายงานผล</font></th>

         </tr>
       </thead>

            <%
            url = URI("#{$server[@controller_title]}/api/v1/institutions")
            @inst_datas = request_api(url,'get',nil)

           %>
<%= @inst %>
 <% @inst_datas['data'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |institution,idx| %>
       <tr valign="top">
       <% n = rand(5..9) %>
       <% m = rand(1..5) %>
           <td align="center"><%= idx = idx + 1 %></td>
           <td colspan="4"><%= institution['title'] rescue nil %></td>
           <td align="center"><%= n %></td>
           <td align="center"><%= m %></td>
           <td align="center"><%= n - m %></td>
         
       </tr>
  <% end %>

     </table>
 </div>

</div>


<!-- End รายการตัวชี้วัดแยกตาม สำนัก/กอง/กลุ่ม/ศูนย์ -->





<div class="row">
   <div class="table-responsive py-5 mt-10">
      <table id="data_kpis" class="table table-bordered">
         <thead>
            <tr>
               <th>ลำดับ</th>
               <th>มิติตัวชี้วัด</th>
               <th>ชื่อตัวชี้วัด</th>
               <th>ประเภท</th>
               <th>สรุปผลการดําเนินงาน</th>
               <th>บรรลุเป้าหมาย</th>
               <th>ไม่บรรลุเป้าหมาย</th>
               <th>อยู่ระหว่างการดำเนินงาน</th>
               <th>หน่วยงาน</th>
            </tr>
         </thead>
         <tbody>
       
         <% if @master_plan['data'].present? %>
            <% @master_plan['data']['plans'].each do |plan| %>

               <% plan['categories'].each do |category| %>
                  <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each do |list| %>
                  <tr>
                     <td class="text-center"><%= list['order_sort'] rescue nil %></td>
                     <td class=""><%= list['activity']['title'] rescue nil %></td>
                     <td class=""><%= list['title'] rescue nil %></td>
                     <td class=""><%= list['list_type']['title'] rescue nil %></td>
                     <td class="text-center">
                      <%= list['tasks'][0]['task_score_results'][0]['value_second'] rescue nil %>
                     </td>
                     <td class="text-center">
                       <%= get_status_ico_check(list['status1']) rescue nil %>
                     </td>
                     <td class="text-center">
                       <%= get_status_ico_check(list['status2']) rescue nil %>
                     </td>
                     <td class="text-center">
                       <%= get_status_ico_check(list['status3']) rescue nil %>
                     </td>
                     <td><%= category['institution']['title'] rescue nil %></td>
                  </tr>
                  <% end %>
               <% end %>

            <% end %>
            <% end %> <!-- end if -->
         </tbody>
         <tfoot>
            <tr>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
        </tfoot>
      </table>
   </div>
</div>





<% content_for :footer do %>

<script type="text/javascript">
 $('#select_master_plan_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=' + value;
 });
</script>


<script type="text/javascript">
   // Shared Colors Definition
   const primary = '#6993FF';
   const success = '#1BC5BD';
   const info = '#8950FC';
   const warning = '#FFA800';
   const danger = '#F64E60';
   const grey = '#cccccc';
   const apexChart_<%= apex_id %> = "#graph-<%= id %>";
         var options = {
            series: [
            {
               name: 'บรรลุเป้าหมาย',
               data: [
                  <% if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
                     <% @mp_plan_reports['data'].each do |plan_report| %>
                           <%= plan_report['sum_status']['status_1'].to_i rescue 0 %>,
                     <% end %>
                  <% end %>
               ]
            },

            {
               name: 'ไม่บรรลุเป้าหมาย',
               data: [
                  <% if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
                     <% @mp_plan_reports['data'].each do |plan_report| %>
                           <%= plan_report['sum_status']['status_2'].to_i rescue 0 %>,
                     <% end %>
                  <% end %>
               ]
            },

            {
               name: 'อยู่ระหว่างดำเนินการ',
               data: [
                  <% if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
                     <% @mp_plan_reports['data'].each do |plan_report| %>
                           <%= plan_report['sum_status']['status_3'].to_i rescue 0 %>,
                     <% end %>
                  <% end %>
               ]
            },

            ],
            chart: {
               type: 'bar',
               height: 350
            },
            plotOptions: {
               bar: {
                  horizontal: false,
                  columnWidth: '55%',
                  endingShape: 'rounded'
               },
            },
            dataLabels: {
               enabled: false
            },
            stroke: {
               show: true,
               width: 30,
               colors: ['transparent']
            },
            xaxis: {
               categories: [
               <% if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
                  <% @mp_plan_reports['data'].each do |plan_report| %>
                     "<%= plan_report['startdate']&.in_time_zone&.to_date %> ถึง <%= plan_report['enddate']&.in_time_zone&.to_date %>",
                  <% end %>
               <% else %>
                  'blank',
               <% end %>
               ],
            },
            yaxis: {
               title: {
                  text: 'จำนวนงาน'
               }
            },
            fill: {
               opacity: 1
            },
            tooltip: {
               y: {
                  formatter: function (val) {
                     return " " + val + " กิจกรรม"
                  }
               }
            },
            colors: [success, warning, grey]
         };

         var chart = new ApexCharts(document.querySelector(apexChart_<%= apex_id %>), options);
         chart.render();

   </script>






<script type="text/javascript">

   const apexChart_<%= apex_id2 %> = "#graph-<%= id2 %>";

   var options = {
      series: [
         <%= @sum_percent_status_1.to_i %>,<%= @sum_percent_status_2.to_i %>,<%= @sum_percent_status_3.to_i %>
      ],
      chart: {
         width: 350,
         type: 'donut',
      },
      legend: {
       position: 'top' 
     },
      labels: [
       'บรรลุเป้าหมาย','ไม่บรรลุเป้าหมาย','อยู่ระหว่างดำเนินการ'
      ],
      /*responsive: [{
         breakpoint: 480,
         options: {
            chart: {
               width: 200,
            },
            legend: {
               position: 'bottom'
            }
         }
      }],*/
      colors: [success, warning, grey]
   };

   var chart2 = new ApexCharts(document.querySelector(apexChart_<%= apex_id2 %>), options);
   chart2.render();
   </script>






  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">

   
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>


  <script type="text/javascript">
    $(document).ready(function () {
    $('#data_kpis').DataTable({
        dom: 'Bfrtip',
        buttons: [
            //'copy', 'csv', 'excel', 'pdf', 'print'
            'copy', 'csv', 'excel', 'print'
        ],
        columnDefs: [
            { width: 200, targets: 0 }
        ],
        fixedColumns: true,
        initComplete: function () {
            this.api()
                .columns()
                .every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
 
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
 
                    column
                        .data()
                        .unique()
                        .sort()
                        .each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                });
        },
    });
});
  </script>



<% end %>