<%
#demo data
#plan_report_id = "2C7212AC-797B-4998-9BD3-1AEDE202CDD1"

#url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{plan_report_id}")
#@plan_report = request_api(url,'get',nil)




#params[:master_plan_id] = 'D484F7DC-7ED0-4F18-BB5D-F090939A49A7'

url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}")
@master_plan = request_api(url,'get',nil)

url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}/plan_reports")
@mp_plan_reports = request_api(url,'get',nil)




@category_name = Hash.new
case @controller_title
when 'km'
   @category_name['th'] = 'เรื่อง'
   @category_name['en'] = 'Subject'
else
   @category_name['th'] = 'หมวด'
   @category_name['en'] = 'Category'
end



%>


<%
#init
#id = SecureRandom.uuid
id = SecureRandom.hex(5)
apex_id = SecureRandom.hex(5)

id2 = SecureRandom.hex(5)
apex_id2 = SecureRandom.hex(5)
%>




<div class="row g-6 g-xl-9">


   <!--begin::Box 1-->
      <div class="col-sm-12 col-lg-8">
         <div class="card-body p-0 d-flex justify-content-between flex-column overflow-hidden">
            









            <div class="">
               <div class="card-header pt-2 pb-4 align-items-center row">
                  <div class="col-12 col-md-3 mx-2">
                     <span class="fw-bolder text-gray-800 d-block fs-3"><%= t(:report) %><%= t(:pmqa_plans) %></span>
                     <span class="text-gray-400 fw-bold"><%= convert_thai_date((Time.now)&.in_time_zone&.to_date,'default') %></span>
                  </div>

                  <div class="col-12 col-md-3 mx-2">
                     <b>ตามปีงบประมาณ</b>
                     <%= select_tag("select[master_report_id]", options_for_select(@master_plans['data'].map { |item| [(item['period_year']&.to_date&.year + 543 rescue nil), item['id']] }, (params[:master_plan_id] rescue nil)), {id: 'select_master_plan_id',class: 'selectize-activity form-control'}) if @master_plans && !@master_plans['data'].blank? %>
                     </div>

                     
                  <% if !params[:master_plan_id].blank? %>

                  <div class="col-12 col-md-3 mx-2">
                     <b><%= @category_name["#{session[:locale]}"] rescue nil %></b>
                     <%= select_tag("select[plan_id]", options_for_select(@plans['data'].map { |item| [item['title'], item['id']] }, (params[:plan_id] rescue nil)), {include_blank: true, id: 'select_plan_id',class: 'selectize-activity form-control'}) if @plans && !@plans['data'].blank? %>
                     </div>

                  <% end %>

               </div>
               <div class="card-body pt-2 pb-4 align-items-center">
                  <div id="graph-<%= id %>" style="height: 350px; width: 100%;"></div>
               </div>
            </div>


            







         </div>
     </div> 
   <!--end::Box 1-->


   <!--begin::Box 2-->
      <div class="col-sm-12 col-lg-4">
         <div class="card-body p-0 d-flex justify-content-between flex-column overflow-hidden">
            





            <div class="card-body pt-2 pb-4">
               <h3 class="fs-4">ร้อยละความสำเร็จทั้งปี</h3>
               <div id="graph-<%= id2 %>" style="height: 350px; width: 100%; margin-top: 50px;"></div>
            </div>


            









         </div>
     </div> 
   <!--end::Box 2-->





<!-- Start::Details -->
<%
url = URI("#{$server[@controller_title]}/api/v1/plans/#{params[:plan_id]}")
@plan = request_api(url,'get',nil)
%>
 <div class="col-sm-12 col-lg-12">
<div class="-table-responsive py-5">
<table id="items" class="table table-bordered" style="text-left">
<thead style="width:auto;text-align:center; background-color: #d9dbff;">
    <tr valign="middle">
        <th>กิจกรรม/ขั้นตอน</th>
        <th>ผลการดำเนินงาน</th>
        <th>ผลผลิต</th>
        <th>ปัญหา/อุปสรรค</th>
        <th class ="w-150px">หลักฐานเอกสาร</th>
    
    </tr>
</thead>
  <%# if !@plan['data']['categories'].nil? %>

               <% @plan['data']['categories'].sort_by{|i| i['order_sort'].to_i}.each do |category| %>
                  <thead style="width:auto;background-color: #ecedfa;">
                     <tr>
                        <th colspan="4">
                           <b><%= category['title'] rescue nil %></b>
                        </th>
                        <th class="noprint"></th>
                     </tr>
                  </thead>

                  <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each do |list| %>
                     <thead style="width:auto;">
                     <tr>
                        <th colspan="4">
                              <b><%= list['title'] rescue nil %></b>
                     </th>
                        <th class="noprint"></th>
                     </tr>
                  </thead>

                  <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                     
                     <tr valign="top">
                <td colspan="4">
                    <!--<b><%= list_activity['order_sort'] rescue nil %></b>-->
                   
                    <div>
                        <%= get_status_tasks(list_activity['status']) %>
                    </div>
                </td>
               <td class="noprint"></td>
            </tr>
               <% list_activity['list_activity_items'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity_item| %>
                  <tr valign="top">
                        <td>
                           <p><%= list_activity_item['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %>
                           </p>
                        </td>
                 

                  <% if !list_activity_item['tasks'].blank? %>
                  <% list_activity_item['tasks'].each do |task| %>

                  <td>
                     
                        <% task['task_overall_results'].each do |task_overall_result| %>
                          <p><%= task_overall_result['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></p>
                        <% end %>  
                      
                  </td>

                  <td>
                     
                      <% task['task_results'].each do |task_result| %>
                          <p><%= task_result['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></p>
                      <% end %>  
                   
                  </td>

                  <td>
                   
                      <% task['task_problems'].each do |task_problem| %>
                          <p><%= task_problem['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></p>
                      <% end %>  
                    
                  </td>

                  <td>
                    <% task['task_documents'].each_with_index do |task_document| %>
                      <div class="p-2">
                          <% if !task_document['file_data'].blank? %>
                          <p>
                          <a href="<%= $server[@controller_title] %><%= task_document['file_url_original'] %>" target="_blank">
                              <img src="<%= $server[@controller_title] %><%= task_document['file_url_thumbnail'] %>" class="img-thumbnail" style="width: 200px;" />
                          </a>
                          </p>
                          <% end %>
                          <p><%= task_document['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></p>
                      </div>
                      <% end %>
                  </td>
                  <% end %> 
              <% else %> 
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
          
              <% end %> 
          </tr>    
            
                     <% end %>  <!-- End::list_activity -->


                  <% end %> <!-- End::List -->
                  <% end %> <!-- End::Category -->
               <% end %> <!-- End::Plan -->
         <%# end %> <!-- End:: if -->
   </table>

  
</div>
</div>
<!-- End::Details -->
</div>




<% content_for :footer do %>
<script type="text/javascript">
 $('#select_master_plan_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=' + value;
 });

 $('#select_plan_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=<%= params[:master_plan_id] %>&plan_id=' + value;
 });
</script>





<script type="text/javascript">
// Shared Colors Definition
const primary = '#6993FF';
const success = '#1BC5BD';
const info = '#8950FC';
const warning = '#FFA800';
const danger = '#F64E60';
const grey = '#cccccc';
const apexChart_<%= apex_id %> = "#graph-<%= id %>";
      var options = {
         series: [
         {
            name: 'เสร็จตามกำหนด',
            data: [
               <% if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
                  <% @mp_plan_reports['data'].each do |plan_report| %>
                     <%

                      url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{plan_report['id']}/group_by_status_list_activity_history?status=completed-on-schedule&plan_id=#{params[:plan_id]}")
                      statuses = request_api(url,'get',nil)
                      %>
                      <% if statuses && !statuses['data'].blank? && statuses['data'].size > 0 %>
                         <% statuses['data'].each do |item| %>
                           <%= item[1].size.to_i %>,
                        <% end %>
                     <% else %>
                        0,
                     <% end %>
                  <% end %>
               <% end %>
            ]
         },

         {
            name: 'เสร็จล่าช้ากว่ากำหนด',
            data: [
               <% if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
                  <% @mp_plan_reports['data'].each do |plan_report| %>
                     <%
                      url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{plan_report['id']}/group_by_status_list_activity_history?status=completed-later-than-scheduled&plan_id=#{params[:plan_id]}")
                      statuses = request_api(url,'get',nil)
                      %>
                      <% if statuses && !statuses['data'].blank? && statuses['data'].size > 0 %>
                      <% statuses['data'].each do |item| %>
                        <%= item[1].size %>,
                      <% end %>
                      <% else %>
                        0,
                      <% end %>
                  <% end %>
               <% end %>
            ]
         },

         {
            name: 'ยังไม่ดำเนินการ',
            data: [
               <% if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
                  <% @mp_plan_reports['data'].each do |plan_report| %>
                     <%
                      url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{plan_report['id']}/group_by_status_list_activity_history?status=not-started&plan_id=#{params[:plan_id]}")
                      statuses = request_api(url,'get',nil)
                      %>
                      <% if statuses && !statuses['data'].blank? && statuses['data'].size > 0 %>
                      <% statuses['data'].each do |item| %>
                        <%= item[1].size %>,
                     <% end %>
                     <% else %>
                     0,
                     <% end %>
                  <% end %>
               <% end %>
            ]
         },

         {
            name: 'อยู่ระหว่างดำเนินการ',
            data: [
               <% if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
                  <% @mp_plan_reports['data'].each do |plan_report| %>
                     <%
                      url = URI("#{$server[@controller_title]}/api/v1/plan_reports/#{plan_report['id']}/group_by_status_list_activity_history?status=in-process&plan_id=#{params[:plan_id]}")
                      statuses = request_api(url,'get',nil)
                      %>
                      <% if statuses && !statuses['data'].blank? && statuses['data'].size > 0 %>
                      <% statuses['data'].each do |item| %>
                        <%= item[1].size %>,
                     <% end %>
                     <% else %>
                     0,
                     <% end %>
                  <% end %>
               <% end %>
            ]
         },
         
         ],
         chart: {
            type: 'bar',
            height: 350
         },
         plotOptions: {
            bar: {
               horizontal: false,
               columnWidth: '55%',
               endingShape: 'rounded'
            },
         },
         dataLabels: {
            enabled: false
         },
         stroke: {
            show: true,
            width: 30,
            colors: ['transparent']
         },
         xaxis: {
            categories: [
            <% if @mp_plan_reports && !@mp_plan_reports['data'].blank? %>
               <% @mp_plan_reports['data'].each do |plan_report| %>
                  "<%= convert_thai_date(plan_report['startdate']&.in_time_zone&.to_date,'default') rescue nil %> ถึง <%= convert_thai_date(plan_report['enddate']&.in_time_zone&.to_date,'default') rescue nil %>",
               <% end %>
            <% end %>
            ],
         },
         yaxis: {
            title: {
               text: 'จำนวนงาน'
            }
         },
         fill: {
            opacity: 1
         },
         tooltip: {
            y: {
               formatter: function (val) {
                  return " " + val + " กิจกรรม"
               }
            }
         },
         colors: [success, info, grey, warning]
      };

      var chart = new ApexCharts(document.querySelector(apexChart_<%= apex_id %>), options);
      chart.render();

</script>


<script type="text/javascript">

const apexChart_<%= apex_id2 %> = "#graph-<%= id2 %>";

var options = {
   series: [
   
   <%
    url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}/group_by_status_list_activity?status=completed-on-schedule&plan_id=#{params[:plan_id]}")
    statuses = request_api(url,'get',nil)
    %>
    <% if statuses && statuses['data'] && statuses['data'].size > 0 %>
    <% statuses['data'].each do |item| %>
      <%= item[1].size %>,
   <% end %>
   <% else %>
      0,
   <% end %>

   <%
    url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}/group_by_status_list_activity?status=completed-later-than-scheduled&plan_id=#{params[:plan_id]}")
    statuses = request_api(url,'get',nil)
    %>
    <% if statuses && statuses['data'] && statuses['data'].size > 0 %>
    <% statuses['data'].each do |item| %>
      <%= item[1].size %>,
   <% end %>
   <% else %>
      0,
   <% end %>

   <%
    url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}/group_by_status_list_activity?status=not-started&plan_id=#{params[:plan_id]}")
    statuses = request_api(url,'get',nil)
    %>
    <% if statuses && statuses['data'] && statuses['data'].size > 0 %>
    <% statuses['data'].each do |item| %>
      <%= item[1].size %>,
   <% end %>
   <% else %>
      0,
   <% end %>

   <%
    url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}/group_by_status_list_activity?status=in-process&plan_id=#{params[:plan_id]}")
    statuses = request_api(url,'get',nil)
    %>
    <% if statuses && statuses['data'] && statuses['data'].size > 0 %>
    <% statuses['data'].each do |item| %>
      <%= item[1].size %>,
   <% end %>
   <% else %>
      0,
   <% end %>

      
   ],
   chart: {
      width: 350,
      type: 'donut',
   },
   legend: {
    position: 'top' 
  },
   labels: [
   'เสร็จตามกำหนด','เสร็จล่าช้ากว่ากำหนด','ยังไม่ดำเนินการ','อยู่ระหว่างดำเนินการ',
   ],
   /*responsive: [{
      breakpoint: 480,
      options: {
         chart: {
            width: 200,
         },
         legend: {
            position: 'bottom'
         }
      }
   }],*/
   colors: [success, info, grey, warning]
};

var chart2 = new ApexCharts(document.querySelector(apexChart_<%= apex_id2 %>), options);
chart2.render();
</script>


<% end %>


