<%
#init
#model_name_1 = 'master_plan' if model_name_1.blank?
#model_name_2 = 'master_plans' if model_name_2.blank?
#params_url = params[:master_plan_id]
#params_url = nil if params_url.blank?

if @controller_main_url
    @temp_url = @controller_main_url
else
    @temp_url = @controller_title
end



if !params[:original_url].blank?
    back_url = params[:original_url]
elsif model_name_2 == 'master_plan_users' && @datas && !@datas['data'].blank? && !@datas['data'][0].blank?
    back_url = "/#{@temp_url}/master_plans/#{@datas['data'][0]['master_plan_id']}"
elsif model_name_2 == 'plan_users' && @datas && !@datas['data'].blank? && !@datas['data'][0].blank?
    url = URI("#{$server[@controller_title]}/api/v1/plans/#{@datas['data'][0]['plan_id']}")
    @plan = request_api(url,'get',nil)
    back_url = "/#{@temp_url}/master_plans/#{@plan['data']['master_plan_id']}" if @plan && !@plan['data'].blank?

elsif params[:master_plan_id]
    back_url = "/#{@temp_url}/master_plans/#{params[:master_plan_id]}"
elsif params[:plan_id]
    url = URI("#{$server[@controller_title]}/api/v1/plans/#{params[:plan_id]}")
    @plan = request_api(url,'get',nil)
    back_url = "/#{@temp_url}/master_plans/#{@plan['data']['master_plan_id']}"
else
    back_url = "/#{@temp_url}/master_plans"
end

=begin
if @controller_title == 'risk'

        #ถ้าผ่านการตรวจสอบจาก กพร ให้แสดง บล๊อก approve & comment
        if model_name_2 == 'master_plan_users'  #master plan user 
            url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}/check_master_plan_approve_status")
            @check_plan_approve_status = request_api(url, "get", nil)
        end

        if model_name_2 == 'plan_users' #plan user
            url = URI("#{$server[@controller_title]}/api/v1/plans/#{params[:plan_id]}/check_risk_plan_approve_status")
            @check_plan_approve_status = request_api(url, "get", nil)
        end

else

        #ถ้าผ่านการตรวจสอบจาก กพร ให้แสดง บล๊อก approve & comment
        if model_name_2 == 'master_plan_users'  #master plan user 
            url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:master_plan_id]}/check_master_plan_approve_status")
            @check_plan_approve_status = request_api(url, "get", nil)
        end

        if model_name_2 == 'plan_users' #plan user
            url = URI("#{$server[@controller_title]}/api/v1/plans/#{params[:plan_id]}/check_plan_approve_status")
            @check_plan_approve_status = request_api(url, "get", nil)
        end

end # end controller_title
=end

%>


<div class="container-fluid">

    <div class="d-flex justify-content-between"> 
        <%= link_to back_url, class: 'btn btn-light -sm' do %> 
                <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
            <% end %>

            
    </div>



  <div class="card-show">
        <div class="d-flex justify-content-between">
              
            <div class="w-75 d-flex">
                <div class="symbol symbol-50px me-3">
                    <div class="symbol-label bg-light">
                        <i class="fas fa-user-circle fs-1"></i>
                    </div>
                </div>
                <h3 class="my-4 fs-2">กำหนดการทำงาน</h3>
            </div>
            
           <%# if @check_plan_approve_status['data'] != true %> <!-- ตรวจสอบแผนมีการ Approve หรือยัง ถ้ายังเปิดให้แก้ไขได้  -->

            <% if @controller_main_url %>
                <%= link_to 'เพิ่มผู้ทำงาน', "/#{@controller_main_url}/#{model_name_2}/new?#{params_name}=#{params_url}", class: 'align-self-center btn-sm bg-primary text-white' %></a>
            <% else %>
                <%= link_to 'เพิ่มผู้ทำงาน', "/#{@controller_title}/#{model_name_2}/new?#{params_name}=#{params_url}", class: 'align-self-center btn-sm bg-primary text-white' %></a>
            <% end %>
            <%# end %> <!--end check_plan_approve_status -->


        </div>


            <% if @datas && !@datas['data'].blank? %>
            <% @datas['data'].each do |item| %>

            <div class="card-show d-flex justify-content-between my-5">
                <div class="w-50">
                    <h5 class="fs-3"><%= item['order_sort'] %>. <%= item['user_role']['title'] %></h5>
                    <span class="badge badge-light mr-2 fs-6"><%= item['user']['firstname'] if !item['user'].blank? %> <%= item['user']['lastname'] if !item['user'].blank? %></span>
                </div>

                <%# if @check_plan_approve_status['data'] != true %> <!-- ตรวจสอบแผนมีการ Approve หรือยังเปิดให้แก้ไขได้  -->
                <% if @controller_main_url %>


                    <%= link_to "/#{@controller_main_url}/#{model_name_2}/#{item['id']}/edit?#{params_name}=#{params_url}", class: 'm-2 p-2 align-self-center btn btn-sm bg-light w-70px' do %>
                            <i class="fas fa-edit"></i> แก้ไข
                        <% end %>

                    <%= link_to "/#{@controller_main_url}/#{model_name_2}/#{item['id']}/", method: :delete, class: 'm-2 p-2 align-self-center btn btn-sm bg-danger text-white w-70px',  data: { confirm: 'ต้องการลบใช่หรือไม่?' } do %>
                            <i class="fa-regular fa-trash-can text-white"></i> ลบ
                        <% end %> 


                <% else %>

                    <%= link_to "/#{@controller_title}/#{model_name_2}/#{item['id']}/edit?#{params_name}=#{params_url}", class: 'm-2 p-2 align-self-center btn btn-sm bg-light w-70px' do %>
                            <i class="fas fa-edit"></i> แก้ไข
                        <% end %>

                    <%= link_to "/#{@controller_title}/#{model_name_2}/#{item['id']}/", method: :delete, class: 'm-2 p-2 align-self-center btn btn-sm bg-danger text-white w-70px',  data: { confirm: 'ต้องการลบใช่หรือไม่?' } do %>
                            <i class="fa-regular fa-trash-can text-white"></i> ลบ
                        <% end %> 


                <% end %> <!-- end controller_main_url -->
                <%# end %> <!-- end check_plan_approve_status -->

            </div>

            <div class="text-center"><i class="fas fa-angle-down fs-1"></i></div>
            <% end %>      
            <% end %>     
                

    </div>

</div>