  <!-- #1 -->
  <div class="card-show">

    <!--begin 1. แบบประเมินตนเองตามเกณฑ์คุณภาพการบริหารจัดการภาครัฐ -->
    <!--begin 1. แบบประเมินตนเองตามเกณฑ์คุณภาพการบริหารจัดการภาครัฐ -->

    <div class="d-flex align-items-center justify-content-between">
      <h1 class="text-center mt-15"> เกณฑ์การให้คะแนนรางวัลฯ รายหมวด</h1>
      <select class="w-150px form-select form-select-solid select2-hidden-accessible" data-control="select2" data-hide-search="true" data-placeholder="ประจำปี :" name="target_assign" data-select2-id="select2-data-67-gsau" tabindex="-1" aria-hidden="true">
             <option value="" data-select2-id="select2-data-69-qeo1">ประจำปี :</option>
             <option value="1" data-select2-id="select2-data-126-m4rn">ปี 2565</option>
             <option value="2" data-select2-id="select2-data-127-qjrh">ปี 2564</option>
             <option value="3" data-select2-id="select2-data-128-prfz">ปี 2563</option>
             <option value="4" data-select2-id="select2-data-129-t5ex">ปี 2562</option>
          </select>
    </div>



   <div class="table-responsive py-5">
        <table id="items" class="table table-bordered" style="text-left">
          <thead style="width:auto;text-align:center; background-color:  #bde99d;">
            <tr valign="middle">
              <th>หมวด</th>
              <th>เกณฑ์การให้คะแนน</th>
              <th>รางวัลหมวด 1</th>
              <th>รางวัลหมวด 2</th>
              <th>รางวัลหมวด 3</th>
              <th>รางวัลหมวด 4</th>
              <th>รางวัลหมวด 5</th>
              <th>รางวัลหมวด 6</th>
            </tr>
            </thead>



            <tr valign="middle">
              <td align="center"> 1</td>
              <td align="center"> 120</td>
              <td align="center" style="width:auto;text-align:center; background-color: #bde99d;"> 60</td>
              <td align="center"> 30</td>
              <td align="center"> 30</td>
              <td align="center"> 30</td>
              <td align="center"> 30</td>
              <td align="center"> 30</td>
            </tr>

            <tr valign="middle">
              <td align="center"> <b>2</b></td>
              <td align="center"> 80</td>
              <td align="center"> 20</td>
              <td align="center" style="width:auto;text-align:center; background-color: #bde99d;"> 40</td>
              <td align="center"> 20</td>
              <td align="center"> 20</td>
              <td align="center"> 20</td>
              <td align="center"> 20</td>
            </tr>

            <tr valign="middle">
              <td align="center"> <b>3</b></td>
              <td align="center"> 110</td>
              <td align="center"> 27.5</td>
              <td align="center"> 27.5</td>
              <td align="center" style="width:auto;text-align:center; background-color: #bde99d;"> 55</td>
              <td align="center"> 27.5</td>
              <td align="center"> 27.5</td>
              <td align="center"> 27.5</td>
            </tr>

            <tr valign="middle">
              <td align="center"> <b>4</b></td>
              <td align="center"> 80</td>
              <td align="center"> 20</td>
              <td align="center"> 20</td>
              <td align="center"> 20</td>
              <td align="center" style="width:auto;text-align:center; background-color: #bde99d;"> 40</td>
              <td align="center"> 20</td>
              <td align="center"> 20</td>
            </tr>


            <tr valign="middle">
              <td align="center"> <b>5</b></td>
              <td align="center"> 100</td>
              <td align="center"> 25</td>
              <td align="center"> 25</td>
              <td align="center"> 25</td>
              <td align="center"> 25</td>
              <td align="center" style="width:auto;text-align:center; background-color: #bde99d;"> 50</td>
              <td align="center"> 25</td>
            </tr>

            <tr valign="middle">
              <td align="center"> <b>6</b></td>
              <td align="center"> 110</td>
              <td align="center"> 27.5</td>
              <td align="center"> 27.5</td>
              <td align="center"> 27.5</td>
              <td align="center"> 27.5</td>
              <td align="center"> 27.5</td>
              <td align="center" style="width:auto;text-align:center; background-color: #bde99d;"> 55</td>
            </tr>


            <tr valign="middle">
              <td align="center"> <b>7.1</b></td>
              <td align="center"> 60</td>
              <td align="center" style="width:auto;text-align:center; background-color: #eef09f;"> 18</td>
              <td align="center" style="width:auto;text-align:center; background-color: #eef09f;"> 18</td>
              <td align="center"> 15</td>
              <td align="center"> 15</td>
              <td align="center"> 15</td>
              <td align="center"> 15</td>
            </tr>

            <tr valign="middle">
              <td align="center"> <b>7.2</b></td>
              <td align="center"> 70</td>
              <td align="center"> 17.5</td>
              <td align="center"> 17.5</td>
              <td align="center" style="width:auto;text-align:center; background-color: #eef09f;"> 21</td>
              <td align="center"> 17.5</td>
              <td align="center"> 17.5</td>
              <td align="center"> 17.5</td>
            </tr>

            <tr valign="middle">
              <td align="center"> <b>7.3</b></td>
              <td align="center"> 70</td>
              <td align="center"> 17.5</td>
              <td align="center"> 17.5</td>
              <td align="center"> 17.5</td>
              <td align="center"> 17.5</td>
              <td align="center" style="width:auto;text-align:center; background-color: #eef09f;"> 21</td>
              <td align="center"> 17.5</td>
            </tr>

            <tr valign="middle">
              <td align="center"> <b>7.4</b></td>
              <td align="center"> 70</td>
              <td align="center" style="width:auto;text-align:center; background-color: #eef09f;"> 21</td>
              <td align="center"> 17.5</td>
              <td align="center"> 17.5</td>
              <td align="center"> 17.5</td>
              <td align="center"> 17.5</td>
              <td align="center"> 17.5</td>
            </tr>

            <tr valign="middle">
              <td align="center"> <b>7.5</b></td>
              <td align="center"> 60</td>
              <td align="center"> 15</td>
              <td align="center" style="width:auto;text-align:center; background-color: #eef09f;"> 18</td>
              <td align="center"> 15</td>
              <td align="center"> 15</td>
              <td align="center"> 15</td>
              <td align="center"> 15</td>
            </tr>


            <tr valign="middle">
              <td align="center"> <b>7.6</b></td>
              <td align="center"> 70</td>
              <td align="center"> 17.5</td>
              <td align="center"> 17.5</td>
              <td align="center"> 17.5</td>
              <td align="center" style="width:auto;text-align:center; background-color: #eef09f;"> 21</td>
              <td align="center"> 17.5</td>
              <td align="center" style="width:auto;text-align:center; background-color: #eef09f;"> 21</td>
            </tr>
            <thead style="width:auto;text-align:center; background-color: #e7e7e7;">
              <tr valign="middle">
                <td align="center"> <b>รวม</b></td>
                <td align="center"> 1000</td>
                <td align="center"> 300</td>
                <td align="center"> 300</td>
                <td align="center"> 300</td>
                <td align="center"> 300</td>
                <td align="center"> 300</td>
                <td align="center"> 300</td>
              </tr>
              </thead>

              <tr valign="middle">
                <td colspan="8">
                  <ul>
                    <li>
                      หมวดที่เสนอขอรับรางวัลต้องได้คะแนนไม่น้อยกว่าร้อยละ 50 ของคะแนนเต็มแต่ละหมวด และมีผลการดำเนินงานตามเกณฑ์ฯ ในหมวดที่ขอรับรางวัลโดดเด่นเป็นพิเศษ อยู่ในระดับช่วงคะแนนร้อยละ 50-60
                      </li>
                    <li>
                      ผลคะแนนหมวด 7 ที่เกี่ยวข้องโดยตรงกับหมวดที่ขอรับรางวัลต้องไม่น้อยกว่าร้อยละ 30 ของคะแนนเต็ม
                      </li>
                    <li>
                      คะแนนการประเมินในหมวดอื่น ๆ ไม่น้อยกว่าร้อยละ 25 (ค่าคะแนนการผ่านเกณฑ์ Certified FL ประมาณ 200-300 คะแนน)
                      </li>
                    <li>
                      คะแนนรวมที่ได้รางวัล ไม่ต่ำกว่า 300 คะแนน
                      </li>

                    </ul>
                </td>

              </tr>

    </table>
</div>




</div>
