<!-- #1 -->
<div class="card-show">

  <div class="d-flex align-items-center justify-content-between">
      <h1 class="text-center mt-15">เกณฑ์การให้คะแนนรางวัลฯ ระดับดีเด่น</h1>
      <select class="w-150px form-select form-select-solid select2-hidden-accessible" data-control="select2" data-hide-search="true" data-placeholder="ประจำปี :" name="target_assign" data-select2-id="select2-data-67-gsau" tabindex="-1" aria-hidden="true">
             <option value="" data-select2-id="select2-data-69-qeo1">ประจำปี :</option>
             <option value="1" data-select2-id="select2-data-126-m4rn">ปี 2565</option>
             <option value="2" data-select2-id="select2-data-127-qjrh">ปี 2564</option>
             <option value="3" data-select2-id="select2-data-128-prfz">ปี 2563</option>
             <option value="4" data-select2-id="select2-data-129-t5ex">ปี 2562</option>
          </select>
    </div>


   <div class="table-responsive py-5">
        <table id="items" class="table table-bordered" style="text-left">
          <thead style="width:auto;text-align:center; background-color:  #b39de9;">
            <tr valign="middle">
              <th>หมวด/หัวข้อ</th>
              <th>คะแนนเต็ม</th>
              <th>รางวัลดีเด่น (400)</th>
            </tr>
            </thead>



            <tr valign="middle">
              <td align="left"> หมวด 1 การนำองค์การ</td>
              <td align="center"> 120</td>
              <td align="center"> 48</td>
            </tr>

            <tr valign="middle">
              <td align="left"> หมวด 2 การวางแผนเชิงยุทธศาสตร์</td>
              <td align="center"> 80</td>
              <td align="center"> 32</td>
            </tr>

            <tr valign="middle">
              <td align="left"> หมวด 1 ผู้รับบริการและผู้มีส่วนได้ส่วนเสีย</td>
              <td align="center"> 110</td>
              <td align="center"> 44</td>
            </tr>

            <tr valign="middle">
              <td align="left"> หมวด 4 การวัด การวิเคราะห์ และการจัดการความรู้</td>
              <td align="center"> 100</td>
              <td align="center"> 40</td>
            </tr>

            <tr valign="middle">
              <td align="left"> หมวด 5 บุคลากร</td>
              <td align="center"> 90</td>
              <td align="center"> 36</td>
            </tr>

            <tr valign="middle">
              <td align="left"> หมวด 6 ระบบปฏิบัติการ</td>
              <td align="center"> 100</td>
              <td align="center"> 40</td>
            </tr>

            <tr valign="middle">
              <td align="left"> หมวด 7.1 ผลลัพธ์ด้านประสิทธิผลและการบรรลุพันธกิจ</td>
              <td align="center"> 60</td>
              <td align="center"> 24</td>
            </tr>

            <tr valign="middle">
              <td align="left"> หมวด 7.2 ผลลัพธ์ด้านการให้ความสำคัญผุ้รับบริการและผู้มีส่วนได้ส่วนเสีย</td>
              <td align="center"> 70</td>
              <td align="center"> 28</td>
            </tr>

            <tr valign="middle">
              <td align="left"> หมวด 7.3 ผลลัพธ์ด้านการมุ่งเน้นบุคลากร</td>
              <td align="center"> 70</td>
              <td align="center"> 28</td>
            </tr>
            <tr valign="middle">
              <td align="left"> หมวด 7.4 ผลลัพธ์ด้านการนำองค์การและการกำกับดูแล</td>
              <td align="center"> 70</td>
              <td align="center"> 28</td>
            </tr>
            <tr valign="middle">
              <td align="left"> หมวด 7.5 ผลลัพธ์ด้านงบประมาณ การเงิน และการเติบโต</td>
              <td align="center"> 60</td>
              <td align="center"> 24</td>
            </tr>
            <tr valign="middle">
              <td align="left"> หมวด 7.6 ผลลัพธ์ด้านประสิทธิผลของกระบวนการ และการจัดการเครือข่ายอุปทาน</td>
              <td align="center"> 70</td>
              <td align="center"> 28</td>
            </tr>

            <thead style="width:auto;text-align:center; background-color:  #b39de9;">
              <tr valign="middle">
                <td>ผลรวม</td>
                <td>1000</td>
                <td>400</td>
              </tr>
              </thead>


            <tr valign="middle">
              <td colspan="8">
                <ul>
                  <li>
                  ทุกหมวดต้องมีคะแนนมากกว่าร้อยละ 40 และต้องมีคะแนนรวม 400 คะแนนขึ้นไป
                    </li>
                  </ul>
              </td>
            </tr>





    </table>
</div>

</div>
