
<%
#init
#id = SecureRandom.uuid
id = SecureRandom.hex(5)
apex_id = SecureRandom.hex(5)

id2 = SecureRandom.hex(5)
apex_id2 = SecureRandom.hex(5)


@fl_total_score_sum = 0
@fl_score_sum = 0
@fl_score_sum_per = 0.0

if @master_plan['data'].present?

@master_plan['data']['plans'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |plan,idx|
  @fl_total_score_sum = @fl_total_score_sum + plan['fl_total_score_sum'].to_i
  @fl_score_sum = @fl_score_sum + plan['fl_score_sum'].to_i
end

@fl_score_sum_per = @fl_score_sum/@fl_total_score_sum.to_f * 100
end

%>

<div class="row g-6 g-xl-9">

   <!--begin::Box 1-->
      <div class="col-12">


               <div class="pt-2 pb-4 align-items-center">

                  <div class="col-12 col-md-3 mx-2">
                  <b>เลือกปีงบประมาณ</b>
                  <%= select_tag("select[master_report_id]", options_for_select(@master_plans['data'].map { |item| [(item['period_year']&.to_date&.year + 543 rescue nil), item['id']] }, (params[:master_plan_id] rescue nil)), {id: 'select_master_plan_id',class: 'selectize-activity form-control'}) if @master_plans && !@master_plans['data'].blank? %>
                  </div>

                  
                  <!--
                  <% if !params[:master_plan_id].blank? %>

                  <div class="col-12 col-md-3 mx-2">
                  <b>เลือกหมวด</b>
                  <%= select_tag("select[plan_id]", options_for_select(@plans['data'].map { |item| [item['title'], item['id']] }, (params[:plan_id] rescue nil)), {include_blank: true, id: 'select_plan_id',class: 'selectize-activity form-control'}) if @plans && !@plans['data'].blank? %>
                  </div>

                  <% end %>
                -->

               </div>


               <!--
                <% if @plans && !@plans['data'].blank? %>
                <hr>

                <div class="text-gray-800 fw-bolder fs-3 my-3">หมวด : <%= @plan['data']['title'] rescue nil %></div>
                <% end %>

              -->

                <hr>

     </div> 

      <div class="col-sm-12 col-lg-9">
         <h3 class="fs-4">รายงานผลการประเมินตนเองตามเกณฑ์ PMQA FL</h3>
         <div class="card-body pt-2 pb-4 align-items-center">
            <div id="graph-<%= id %>" style="height: 350px; width: 100%;"></div>
         </div>
      </div> 
   <!--end::Box 1-->


   <!--begin::Box 2-->
      <div class="col-sm-12 col-lg-3">
         <div class="card-body p-0 d-flex justify-content-between flex-column overflow-hidden">
            
            <div class="card-body pt-2 pb-4">
                <h3 class="fs-4">คะแนนรวมทุกหมวด</h3>
                <div class="text-center d-flex flex-column mt-2">
                  <!--
                  <i class="fas fa-trophy px-2 text-success mb-5" style="font-size: 5rem;"></i>
                  <span class="text-success" style="font-size: 5rem;font-weight: bold;"><%= @fl_score_sum_per.round(2) %> %</span>
                  -->

                   <div id="graph-<%= id2 %>" style=""></div>

                   <hr>
                   <span class="mt-3 text-grey" style="font-size: 1.2rem;">คะแนนทั้งหมด</span>
                   <span class="rounded bg-success text-center text-white" style="font-size: 2rem;"><%= @fl_score_sum %> คะแนน</span>
               </div>
            </div>

         </div>
     </div> 
   <!--end::Box 2-->


</div>






<div class="row">
   <div class="table-responsive py-5 mt-10">
      <table id="data_kpis" class="table table-bordered">
         <thead>
            <tr>
               <th>ลำดับ</th>
               <th>หมวดหลัก</th>
               <th>หมวดย่อย 1</th>
               <th>หมวดย่อย 2</th>
               <th>คำถาม</th>
               <th>คะแนนประเมิน</th>
               <th>คะแนนประเมินตนเอง</th>
               <!--
               <th>เลขาหมวด</th>
           -->
            </tr>
         </thead>
         <tbody>
       <%  if @master_plan['data'].present? %>
            <% @master_plan['data']['plans'].sort_by{|i| i['order_sort'].to_i}.each do |plan| %>

               <% plan['categories'].sort_by{|i| i['order_sort'].to_i}.each do |category| %>
                  <%  category['lists'].sort_by{|i| i['order_sort'].to_i}.each do |list| %>
                    <%  list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                      <tr>
                         <td class="text-center"><%= plan['order_sort'] rescue nil %></td>
                         <td class=""><%= plan['title'] rescue nil %></td>
                         <td class=""><%= category['title'] rescue nil %></td>
                         <td class=""><%= list['title'] rescue nil %></td>
                         <td class=""><%= list_activity['title'] rescue nil %></td>
                         <td class=""><%= category['fl_score'] rescue nil %></td>
                         <td class=""><%= list_activity['fl_score'] rescue nil %></td>
                         <!--
                         <td><%= plan['plan_users'][0]['user']['firstname'] rescue nil %> <%= plan['plan_users'][0]['user']['lastname'] rescue nil %></td>
                     -->
                      </tr>
                      <%  end %>
                  <%  end %>
               <% end %>

            <% end %>
            <% end %>
         </tbody>
         <tfoot>
            <tr>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <!--
                <th> </th>
            -->
            </tr>
        </tfoot>
      </table>
   </div>
</div>




<% content_for :footer do %>

<script type="text/javascript">
 $('#select_master_plan_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=' + value;
 });

 $('#select_plan_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=<%= params[:master_plan_id] %>&plan_id=' + value;
 });
</script>



<script type="text/javascript">
// Shared Colors Definition
const primary = '#6993FF';
const success = '#1BC5BD';
const info = '#8950FC';
const warning = '#FFA800';
const danger = '#F64E60';
const grey = '#dddddd';
const apexChart_<%= apex_id %> = "#graph-<%= id %>";
      var options = {
         series: [
         {
            name: 'คะแนนเต็ม',
            data: [
               <% if @master_plan['data'].present? %>
              <% @master_plan['data']['plans'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |plan,idx| %>
                <%= plan['fl_total_score_sum'].to_i rescue 0 %>,
              <% end %>
              <% end %>
            ]
         },
         {
            name: 'คะแนนที่ได้',
            data: [
               <% if @master_plan['data'].present? %>
              <% @master_plan['data']['plans'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |plan,idx| %>
                <%= plan['fl_score_sum'].to_i rescue 0 %>,
              <% end %>
              <% end %>
            ]
         }],
         chart: {
            type: 'bar',
            height: 350
         },
         plotOptions: {
            bar: {
               horizontal: false,
               columnWidth: '55%',
               endingShape: 'rounded'
            },
         },
         dataLabels: {
            enabled: false
         },
         stroke: {
            show: true,
            width: 5,
            colors: ['transparent']
         },
         xaxis: {
            categories: [
               <% if @master_plan['data'].present? %>
            <% @master_plan['data']['plans'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |plan,idx| %>
              '<%= plan['title'].truncate(10) rescue nil %>',
            <% end %>
            <% end %>
            ],
         },
         yaxis: {
            title: {
               text: 'คะแนน'
            }
         },
         fill: {
            opacity: 1
         },
         tooltip: {
            y: {
               formatter: function (val) {
                  return " " + val + " คะแนน"
               }
            }
         },
         colors: [grey,primary]
      };

      var chart = new ApexCharts(document.querySelector(apexChart_<%= apex_id %>), options);
      chart.render();

</script>


<script type="text/javascript">
  var options = {
          series: [<%= @fl_score_sum_per.round(2) %>],
          chart: {
          height: 270,
          type: 'radialBar',
        },
        plotOptions: {
          radialBar: {
            dataLabels: {
              name: {
                fontSize: '26px',
              },
              value: {
                fontSize: '30px',
              },
              total: {
                show: true,
                label: 'ร้อยละ',
                formatter: function (w) {
                  // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
                  return <%= @fl_score_sum_per.round(2) %> + '%'
                }
              }
            }
          }
        },
        labels: ['ทุกหมวด'],
        };

        var chart = new ApexCharts(document.querySelector("#graph-<%= id2 %>"), options);
        chart.render();
      
</script>












<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">

   
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>


  <script type="text/javascript">
    $(document).ready(function () {
    $('#data_kpis').DataTable({
        dom: 'Bfrtip',
        buttons: [
            //'copy', 'csv', 'excel', 'pdf', 'print'
            'copy', 'csv', 'excel', 'print'
        ],
        columnDefs: [
            { width: 200, targets: 0 }
        ],
        fixedColumns: true,
        initComplete: function () {
            this.api()
                .columns()
                .every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
 
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
 
                    column
                        .data()
                        .unique()
                        .sort()
                        .each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                });
        },
    });
});
  </script>

<%  end %>