<%= form_for('search', url: "/#{@controller_title}/pages/search_result" , method: 'post') do |f| %>
      <div class="d-flex align-items-center">
         <div class="position-relative w-md-200px me-md-2">
            <span class="svg-icon svg-icon-3 svg-icon-gray-500 position-absolute top-50 translate-middle ms-6">
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black"></rect>
                  <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black"></path>
               </svg>
            </span>
            <%= f.hidden_field :system_name, value: @controller_title %>
            <%= f.text_field :keyword, class: 'form-control form-control-solid mx-2 ps-10', value: @keyword %>
         </div>
         <div class="d-flex align-items-center">

            <%
            case @controller_title
            when 'pmqa'
               #options = [['ทั้งหมด', 'all'], ['แผนพัฒนาองค์การ/PMQA FL/PMQA 4.0 ประจำปีงบประมาณ', 'master_plans'], ['หมวดหมู่', 'plans'], ['กิจกรรมหลัก', 'categories'], ['กิจกรรมย่อย', 'lists'], ['ผลดำเนินงาน', 'tasks']]
               options = [['ทั้งหมด', 'all'], ['แผนพัฒนาองค์การ/PMQA FL/PMQA 4.0 ประจำปีงบประมาณ', 'master_plans'], ['หมวดหมู่', 'plans'], ['กิจกรรมหลัก', 'categories'], ['กิจกรรมย่อย', 'lists']]
            when 'km'
               #options = [['ทั้งหมด', 'all'], ['แผนการจัดการความรู้ ประจำปีงบประมาณ', 'master_plans'], ['ชื่อเรื่อง', 'plans'], ['แบบฟอร์ม', 'categories'], ['กิจกรรม', 'lists'], ['ผลดำเนินงาน', 'tasks']]
               options = [['ทั้งหมด', 'all'], ['แผนการจัดการความรู้ ประจำปีงบประมาณ', 'master_plans'], ['ชื่อเรื่อง', 'plans'], ['แบบฟอร์ม', 'categories']]
            when 'kpi'
               #options = [['ทั้งหมด', 'all'], ['ตัวชี้วัดการปฎิบัติราชการ ประจำปีงบประมาณ', 'master_plans'], ['หน่วยงาน', 'plans'], ['คำนิยาม', 'lists'], ['ผลดำเนินงาน', 'tasks']]
               options = [['ทั้งหมด', 'all'], ['ตัวชี้วัดการปฎิบัติราชการ ประจำปีงบประมาณ', 'master_plans'], ['หน่วยงาน', 'plans'], ['ชื่อตัวชี้วัด', 'lists']]
            when 'risk'
               #options = [['ทั้งหมด', 'all'], ['แผนบริหารความเสี่ยง ประจำปีงบประมาณ', 'master_plans_risk'], ['แผนควบคุมภายใน ประจำปีงบประมาณ', 'master_plans_control'], ['หมวดหมู่', 'plans'], ['กิจกรรมหลัก', 'categories'], ['กิจกรรมย่อย', 'lists'], ['ผลดำเนินงาน', 'tasks']]
               options = [['ทั้งหมด', 'all'], ['แผนบริหารความเสี่ยง ประจำปีงบประมาณ', 'master_plans_risk'], ['แผนควบคุมภายใน ประจำปีงบประมาณ', 'master_plans_control'], ['โครงการ/กระบวนงาน', 'categories']]
            else
               #options = [['ทั้งหมด', 'all'], ['แผน', 'master_plans'], ['หมวดหมู่', 'plans'], ['หมวดหมู่ย่อย', 'categories'], ['กิจกรรม', 'lists'], ['ผลดำเนินงาน', 'tasks']]
               options = [['ทั้งหมด', 'all'], ['แผน', 'master_plans'], ['หมวดหมู่', 'plans'], ['หมวดหมู่ย่อย', 'categories'], ['กิจกรรม', 'lists']]

            end
                  
            %>

            <%= f.select(:model_name, options_for_select(options, selected: (@model_name rescue nil)), {} , prompt: 1 , class: "form-control mx-2 bg-light"  ) %>




            <button type="submit" class="btn btn-sm btn-primary me-5">ค้นหา</button>
         </div>


      </div>
      <% end %>