<%
#init
@model_name = @datas['model_name'] rescue nil
%>
<h1 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:search_for_information) %></h1>

<div class="card-show">
   <h2 class="text-center">
      <%= t(:search_results) %> "<%= @keyword rescue nil %>" <%= t(:number_found) %> <span class="text-primary"><%= @datas['data'].size rescue 0 %></span> <%= t(:listing) %>
   </h2>

   <div class="py-6">
      <% if @datas && !@datas['data'].blank? %> 
      <% @datas['data'].each do |item| %>
         <div class="card">
            <div class="p-5">
               <div class="d-flex justify-content-between">
                  <h4>
                     <% case @model_name %>
                     <% when 'master_plans' %>
                        <%= item['period_year']&.to_date&.year + 543 rescue nil %> 
                     <% else %>
                        <%= item['title'] rescue nil %> 
                     <% end %>
                  </h4>
                  <%
                  sub_system = nil
                  url = nil
                  url = @controller_title
                  if item['type_name'] == 'pmqa_fl' || item['type_name'] == 'pmqa_fr' || item['type_name'] == 'control'
                     sub_system = "/#{item['type_name']}"
                  end
                  %>
                  <%= link_to "/#{url}#{sub_system}/#{@model_name}/#{item['id']}", class: 'btn btn-sm btn-primary' do %>
                     <i class="fa-solid fa-circle-chevron-right"></i>
                  <% end %>
               </div>
               <div class="">
                  <div class="text-muted">

                     <% case @model_name %>
                     <% when 'plans' %>
                     <span class="badge badge-light-info"><%= item['period_year']&.to_date&.year + 543 rescue nil %></span>

                     <% when 'categories' %>
                     <span class="badge badge-light-info"><%= item['plan']['master_plan']['title'] rescue nil %></span> / 

                     <span class="badge badge-light-info"><%= item['plan']['title'] rescue nil %></span>

                     <% when 'lists' %>
                     <span class="badge badge-light-info"><%= item['category']['plan']['master_plan']['title'] rescue nil %></span> / 

                     <span class="badge badge-light-info"><%= item['category']['plan']['title'] rescue nil %></span> / 

                     <span class="badge badge-light-info"><%= item['category']['title'] rescue nil %></span>

                     <% when 'tasks' %>
                     <span class="badge badge-light-info"><%= item['list']['category']['plan']['master_plan']['title'] rescue nil %></span> / 

                     <span class="badge badge-light-info"><%= item['list']['category']['plan']['title'] rescue nil %></span> / 

                     <span class="badge badge-light-info"><%= item['list']['category']['title'] rescue nil %></span> / 

                     <span class="badge badge-light-info"><%= item['list']['title'] rescue nil %></span>


                     <% when 'list_activities' %>
                     <span class="badge badge-light-info"><%= item['list']['category']['plan']['master_plan']['title'] rescue nil %></span> / 

                     <span class="badge badge-light-info"><%= item['list']['category']['plan']['title'] rescue nil %></span> / 

                     <span class="badge badge-light-info"><%= item['list']['category']['title'] rescue nil %></span> / 

                     <span class="badge badge-light-info"><%= item['list']['title'] rescue nil %></span>

                     <% else %>
                     <% end %>

                  </div>
                  <div class="py-3">
                     <b><%= t(:created_at)%> : </b> <%= convert_thai_date(item['created_at'],'default') %>
                  </div>
               </div>
            </div>
         </div>
      <% end #end loop @datas['data'] %>
      <% end %>
   </div>
</div>