<%
#init
type_name = type_name || nil
if type_name
   url = URI("#{$server[@controller_title]}/api/v1/mains/notifications?master_plan_id=#{params[:master_plan_id]}&type_name=#{type_name}")
else
   url = URI("#{$server[@controller_title]}/api/v1/mains/notifications?master_plan_id=#{params[:master_plan_id]}")
end
@notifications = request_api(url, "get", nil)
%>



<%#= @notifications['period_year'] rescue nil %>


<% #if @notifications %>
<a class="d-flex justify-content-end align-items-center mt-5 mx-3" href="/<%= @controller_title %>/pages/notifications">

   <div class="fs-5"><span class="text-white">จำนวนกิจกรรม</span></div>

   <%# if @notifications && @notifications['data_after'] && @notifications['data_after']['count'] %>
   <div class="alert alert-danger p-2 mx-2" role="alert">
      ที่ยังคงค้าง <span class="badge badge-light"><%= @notifications['data_before']['count'].to_i rescue 0 %></span>
   </div>
   <%# end %>


   <%# if @notifications && @notifications['data_current'] && @notifications['data_current']['count'] %>
   <div class="alert alert-warning p-2 mx-2" role="alert">
      ในเดือนนี้ <span class="badge badge-light"><%= @notifications['data_current']['count'].to_i rescue 0 %></span>
   </div>
   <%# end %>

</a>
<% #end %>