<%
#init
if !params['original_url'].blank?
    back_url = params['original_url'] 
else
    back_url = "/#{@controller_main_url}/pages/dashboards"
end
%>

<div class="container-fluid">
    <div class="d-flex justify-content-end">
        <%= link_to "#{back_url}", class: 'btn btn-light text-end' do %>
            <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
        <% end %>
        
        <%= link_to "#", class: 'noprint align-self-center btn btn-lg btn-light mx-1', onclick: 'window.print();' do %> 
            <i class="fa-solid fa-print"></i> <%= t(:print) %>
        <% end %>
    </div>


    <h1 class="text-center" style="font-size: 3rem;">ปีงบประมาณ<%= @master_plans['data']['title'] rescue nil %></h1>

    <% @master_plans['data']['plans'].each do |plan| %>
        <%= render "/#{@controller_main_url}/plans/tasks", plan: plan %>
        <hr style="border-bottom: 3px solid #999999;;">
    <% end %>

</div>

