<%
#init

if action_name == 'edit' || action_name == 'update'
      @title = @datas['data']['title'] if !@datas['data']['title'].blank?
      @description = @datas['data']['description'] if !@datas['data']['description'].blank?
else
      
end
%>


<%= form_for('master_plan', url: "/#{gen_form[0]}/master_plans#{gen_form[1]}" , method: gen_form[2]) do |f| %>
    <%#= f.hidden_field :user_id, value: $user[session.id.to_s][@controller_title]['id'] %>  
    <%#= f.hidden_field :biz_id, value: $user[session.id.to_s][@controller_title]['biz_id'] %>  
    <div class="row">                                                                      
      <div class="col-11 mt-5 ms-5">
        <label for="formGroupExampleInput" class="form-label"> <h5> ประจำปีงบประมาณ<span class="text-danger">*</span> </h5></label>
        <%= f.text_field :title, class: "form-control", placeholder: t(:title), value: @title %> 
    </div>
    <div class="col-11 mt-5 ms-5 mb-5">
        <label for="formGroupExampleInput2" class="form-label"> <h5> <%= t(:description) %><span class="text-danger">*</span> </h5></label>
        <%= f.text_field :description, class: "form-control", placeholder: t(:description), value: @description %>  
    </div> 
    <div class="col-11 mt-5 ms-5 mb-5">
        <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none"><%= f.submit t(:saves), class: "btn btn-info" %></div>
    </div> 
</div>


<% end %>