
<div class="row">
    <div class="col">

        <div class="d-flex justify-content-between">
            <h2 class="">หมวด ทั้งหมด</h2>
            <%= render partial: '/share/block_btn_action_new', locals:{ master_plan_id: @datas['data']['id'], model_name: 'plans', id: nil, params: "master_plan_id=#{@datas['data']['id']}"} %>
        </div>
                                        
     </div>
</div>


<table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline collapsed" id="datatable_1" role="grid" aria-describedby="" style="width: 894px;">
    <thead>
        <tr role="row">
            <th class="sorting text-center" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 20px;" aria-label="Company Email: activate to sort column ascending">ลำดับ</th>

            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 120px;" aria-label="Company Email: activate to sort column ascending">ชื่อหมวด</th>
            <th class="sorting_asc" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 120px;" aria-label="Agent: activate to sort column descending" aria-sort="ascending">ผลรวมคะแนน</th>
            <th class="sorting_asc" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 120px;" aria-label="Agent: activate to sort column descending" aria-sort="ascending">คะแนนเฉลี่ย</th>
            <th class="sorting_asc" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 177px;" aria-label="Agent: activate to sort column descending" aria-sort="ascending">ผู้ที่เกี่ยวข้อง</th>
            

            <% if controller_name == 'plan_reports' %>
            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 58px;" aria-label="Status: activate to sort column ascending">สำเร็จ</th>

            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 58px;" aria-label="Status: activate to sort column ascending">อยู่ระหว่างดำเนินการ</th>

            <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 58px;" aria-label="Status: activate to sort column ascending">ไม่สำเร็จ</th>
            <% end %>
            
            <th class="sorting_disabled w-250px" rowspan="1" colspan="1" style="width: 0px; display: none;" aria-label="Actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @datas['data']['plans'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |plan,idx| %>
        <tr role="row" class="odd">
            <td class="text-center"><%= plan['order_sort'] rescue nil %></td>
            <td class=""><%= plan['title'] rescue nil %></td>
            <td class=""><span class="badge badge-light-success fs-5 px-5 mx-5"><%= plan['fl_score_sum'] rescue nil %> / <%= plan['fl_total_score_sum'] rescue nil %></span></td>
            <td class=""><span class="badge badge-light-danger fs-5 px-5 mx-5"><%= plan['fl_score_avg'] rescue nil %> / 5</span></td>

            <td>


                <div class="d-flex">
                <%
                url = URI("#{$server[@controller_title]}/api/v1/plans/#{plan['id']}/plan_users?order=order_sort&sort=asc")
                plan_users = request_api(url,'get',nil)
                %>
                <% if plan_users && !plan_users['data'].blank? %>
                    <% plan_users['data'].each do |plan_user| %>
                    <div class="rounded border p-3 m-1">
                        <div class="d-flex align-items-center">
                            <div class="ml-3">
                                <span class="text-dark-75 font-weight-bold line-height-sm d-block pb-1"><%= plan_user["user"]['firstname'] if !plan_user["user"].blank? %> <%= plan_user["user"]['lastname'] if !plan_user["user"].blank? %></span>
                                <span class="badge badge-light-warning"><%= plan_user["user_role"]["title"] if !plan_user["user_role"].blank? %></span>
                            </div>
                        </div>
                    </div>
                    <% end %>
                <% end %>
                </div>


                <% if controller_name != 'plan_reports' %>
                    <%= link_to "/#{@controller_main_url}/plan_users?plan_id=#{plan['id']}&original_url=#{request.path}", class: 'align-self-center btn btn-sm bg-light m-3 mx-0' do %>
                        <i class="fas fa-user-circle fs-1"></i> กำหนดผู้ทำงาน
                    <% end %>
                <% end %>


            </td>

            

            <% if controller_name == 'plan_reports' %>
            <td>
                <%
                url = URI("#{$server[@controller_title]}/api/v1/plans/#{plan['id']}/group_by_status_list_activity?status=completed-on-schedule")
                statuses = request_api(url,'get',nil)
                %>
                <% if statuses['data'] %>
                <% statuses['data'].each do |item| %>
                <span class="badge badge-circle badge-success m-1"><%= item[1].size %></span>
                <% end %>
                <% end %>
            </td>

            <td>
                <%
                url = URI("#{$server[@controller_title]}/api/v1/plans/#{plan['id']}/group_by_status_list_activity?status=in-process")
                statuses = request_api(url,'get',nil)
                %>
                <% if statuses['data'] %>
                <% statuses['data'].each do |item| %>
                <span class="badge badge-circle badge-warning m-1"><%= item[1].size %></span>
                <% end %>
                <% end %>
            </td>

            <td>
                <%
                url = URI("#{$server[@controller_title]}/api/v1/plans/#{plan['id']}/group_by_status_list_activity?status=not-started")
                statuses = request_api(url,'get',nil)
                %>
                <% if statuses['data'] %>
                <% statuses['data'].each do |item| %>
                <span class="badge badge-circle badge-dark m-1"><%= item[1].size %></span>
                <% end %>
                <% end %>
            </td>
            <% end %>



        
            <td>
                <%
                model_name = 'plans'
                id = plan['id']
                params_name = nil
                %>


                <% if controller_name == 'master_plans' %>

                    <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}/edit?#{params_name}", class: 'm-1 p-2 align-self-center btn btn-sm bg-light w-70px' do %>
                        <i class="fas fa-edit"></i> แก้ไข
                    <% end %>

                    <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}?#{params_name}", class: 'm-1 p-2 align-self-center btn btn-sm btn-success w-120px' do %>
                        <i class="fas fa-edit"></i> กิจกรรม
                    <% end %>


                    <%= link_to "/#{gen_form[0]}/#{model_name}/user_input/#{id}?original_url=#{request.path}", class: 'm-1 p-2 align-self-center btn btn-sm btn-success w-120px' do %>
                        <i class="fas fa-edit"></i> ประเมินตนเอง
                    <% end %>

                    <%= link_to "/#{gen_form[0]}/#{model_name}/opdc_input/#{id}?original_url=#{request.path}", class: 'm-1 p-2 align-self-center btn btn-sm btn-warning w-120px' do %>
                        <i class="fas fa-edit"></i> ให้คะแนน
                    <% end %>

                    <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}?#{params_name}", method: :delete, class: 'm-1 p-2 align-self-center btn btn-sm bg-danger text-white w-70px',  data: { confirm: 'Are you sure?' } do %>
                        <i class="fa-regular fa-trash-can text-white"></i> ลบ
                    <% end %> 

                    


                <% else %>

                    <%= link_to "/#{gen_form[0]}/#{model_name}/#{id}/tasks?plan_report_id=#{params[:id]}&original_url=#{request.path}", class: 'm-1 p-2 align-self-center btn btn-sm btn-warning w-120px' do %>
                        <i class="fas fa-edit"></i> ผลการดำเนินงาน
                    <% end %>

                <% end %>






                    <%= link_to "/#{gen_form[0]}/#{model_name}/print/#{id}?original_url=#{request.path}&print=true", class: 'm-1 p-2 align-self-center btn btn-sm bg-info text-white w-70px' do %>
                        <i class="fa-solid fa-eye text-white"></i> ดู
                    <% end %>


                
            </td>
        </tr>
        <% end %>
    </tbody>
</table>





<% content_for :head do %>
<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<% end %>

<% content_for :footer do %>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $('#datatable_1').DataTable({
        responsive: true,
    });
});
</script>
<% end %>
