<div class="container-fluid">

    <%= form_for('master_plan', url: "/#{@controller_main_url}/master_plans/#{@datas['data']['id']}" , method: :patch) do |f| %>
    <div class="d-flex justify-content-between"> 
        <div class="w-75 d-flex">
            
                <h1>แบบประเมินตนเอง PMQA Certified FL ประจำปีงบประมาณ : <span class="text-primary"><%= @datas['data']['period_year']&.to_date&.year + 543 rescue nil %></span></h1>

                <%= link_to "/#{@controller_main_url}/master_plans/#{@datas['data']['id']}/edit", class: 'align-self-center btn bg-light mx-2' do %>
                    <i class="fas fa-edit"></i> แก้ไข
                <% end %>


                <%= link_to "/#{@controller_main_url}/master_plan_users?master_plan_id=#{@datas['data']['id']}&original_url=#{request.path}", class: 'align-self-center btn bg-light mx-2' do %>
                    <i class="fas fa-user-circle fs-1"></i> กำหนดผู้ทำงาน
                <% end %>
        </div>
        <div class="">  

            
            
            <%= link_to "/#{@controller_main_url}/master_plans/", class: 'btn btn-light -sm' do %> 
                <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
            <% end %>

            <!--
            <%= link_to "/#{@controller_main_url}/master_plans/print/#{@datas['data']['id']}", class: 'align-self-center btn btn-lg btn-light mx-1' do %> 
                <i class="fa-solid fa-eye"></i> ดู
            <% end %>
        -->
        </div> 
    </div>
    <% end %>









    <div class="row">



        





        <div class="col-sm-12">








            <!-- #1 -->
            <div class="card-show">




                <%= render 'list_plans' %>



        </div>
        <!-- end #1 -->





        <%= render partial: '/share/block_comments', locals:{ model_name: 'master_plan', id: @datas['data']['id']} %>


        <%= render partial: '/share/block_comments_history', locals:{ model_name: 'master_plan', id: @datas['data']['id']} %>








    </div>


































</div>
<!--end::Kt_content-->