<%
#init
params[:original_url] = request.path if params[:original_url].blank?


if params[:original_url]
    back_url = params[:original_url]
end


if @datas && !@datas['data'].blank?
    back_url = "/#{@controller_main_url}/plans/#{@datas['data']['list']['category']['plan']['id']}"
end

%>

<%= form_for('list_activity', url: "/#{gen_form[0]}/list_activities#{gen_form[1]}" , method: gen_form[2]) do |f| %>


<!--begin::Row-->
<div class="row">

    <!--begin::Col_md_12-->
    <div class="col-md-12">
        <!--begin::Card Card Custom-->
        <div class="card card-custom gutter-b example example-compact">
                <!--begin::Card Header-->
                <div class="card-header">

                <div class="card-title d-flex py-10">
                <div class="d-flex">
                </div></div>

                <!--begin::Card Toolbar-->
                <div class="card-toolbar">
                      <!--begin::Excample Tools-->
                      <div class="example-tools justify-content-center">
                            <span class="example-toggle" data-toggle="tooltip" title="" data-original-title="View code"></span>
                            <span class="example-copy" data-toggle="tooltip" title="" data-original-title="Copy code"></span>
                      </div>
                      <!--end::Excample Tools-->
                      <%= link_to back_url, class: 'btn btn-light bg-white mb-2' do %>
                          <i class="ki ki-bold-arrow-back icon-sm"></i> <%= t(:back) %>
                      <% end %>
                </div>
                <!--end::Card Toolbar-->

                <div class="col-sm-12 col-md-12 py-4">
                <label class="form-label">
                    <h5 class="min-w-200px mb-4"><%= t(:order_sort) %></h5>
                </label>
            <div class="d-flex">
            <input type="number" class="w-80px form-control mx-2" placeholder="ลำดับ" name="list_activity[order_sort]" value="<%= @datas['data']['order_sort'] rescue nil %>">
            </div>
            </div>
<% if  !params[:type].blank? && params[:type] == 'seven' %>
                    <div class="col-sm-12 col-md-12 py-4">
                            <label class="form-label">
                            <h5 class="min-w-200px mb-4">ภารกิจ (ถ้ามี)</h5>
                            </label>
                            <div class="d-flex">  
                                <input type="text" name="list_activity[description]" value="<%=  @datas['data']['description'] rescue nil %>" class="form-control">
                                
                            </div>

                        </div>
<% end %>
                        <div class="col-sm-12 col-md-12 py-4">
                            <label class="form-label">
                            <h5 class="min-w-200px mb-4"><% if  !params[:type].blank? && params[:type] == 'seven' %>ชื่อตัวชี้วัด <% else %> คำถาม <% end %></h5>
                            </label>
                            <div class="d-flex">  
                                <textarea class="form-control" name="list_activity[title]" rows="10"><%= @datas['data']['title'] rescue nil %></textarea>
                            </div>

                        </div>

                
<% if  !params[:type].blank? && params[:type] == 'seven' %>
                <table id="items" class="table table-bordered my-10" style="text-left">
                    <thead style="width:auto;text-align:center; background-color: #b9f0c7;">
                        <tr valign="middle">
                           
                            <th>ค่าเป้าหมาย</th>
                            <th colspan="3">ผลการดำเนินงาน</th>
                          
                            
                            <th class="w-150px" rowspan="2">ผู้รับผิดชอบ</th>
                        </tr>

                        <tr valign="middle">
                         <% if action_name == 'new' %>
                            <th><b>พ.ศ. <%= (@category['data']['fl_kpi_year']&.to_date&.year + 543).to_i rescue nil %></b></th>
                            <th><b>พ.ศ. <%= (@category['data']['fl_third_year']&.to_date&.year + 543).to_i rescue nil %></b></th>
                            <th><b>พ.ศ. <%= (@category['data']['fl_second_year']&.to_date&.year + 543).to_i rescue nil %></b></th>
                            <th><b>พ.ศ. <%= (@category['data']['fl_first_year']&.to_date&.year + 543).to_i rescue nil %></b></th>
                         <% else %>
                            <th><b>พ.ศ. <%= (@datas['data']['list']['category']['fl_kpi_year']&.to_date&.year + 543).to_i rescue nil %></b></th>
                            <th><b>พ.ศ. <%= (@datas['data']['list']['category']['fl_third_year']&.to_date&.year + 543).to_i rescue nil %></b></th>
                            <th><b>พ.ศ. <%= (@datas['data']['list']['category']['fl_second_year']&.to_date&.year + 543).to_i rescue nil %></b></th>
                            <th><b>พ.ศ. <%= (@datas['data']['list']['category']['fl_first_year']&.to_date&.year + 543).to_i rescue nil %></b></th>
                         <% end %>

                        </tr>

                    </thead>
                    <tr style="width:auto; background-color: #ffffff;">

                    <td>
                    <input type="number" name="list_activity[fl_kpi_value]" value="<%=  @datas['data']['fl_kpi_value'] rescue nil %>" class="form-control" step="any">
                    
         
                    </td>
                    <td>
                    <input type="number" name="list_activity[fl_first_value]" value="<%=  @datas['data']['fl_first_value'] rescue nil %>" class="form-control" step="any">
                    
                    </td>
                    <td>
                    <input type="number" name="list_activity[fl_second_value]" value="<%=  @datas['data']['fl_second_value'] rescue nil %>" class="form-control" step="any">
               
                    </td>
                    <td>
                    <input type="number" name="list_activity[fl_third_value]" value="<%=  @datas['data']['fl_third_value'] rescue nil %>" class="form-control" step="any">
              
                    </td>
                    <td>

                    <input type="text" name="list_activity[slug]" value="<%=  @datas['data']['slug'] rescue nil %>" class="form-control">
                    
                  </td>
                    </tr>

                </table>
<% end %>                       


                </div>

                <!--end::Card Header-->








<% if action_name == 'edit' || action_name == 'update' %>




    <!--begin::Card Body-->
    <div class="card-body">
           
   


    
        <!-- start row -->
        <div class="row">





      </div>
        <!-- end row -->




    </div>
    <!--end::Card Body-->





<% end #action_name %>









                                    <!--begin::Card Foolter-->
                                    <div class="card-footer">
                                        <% if !params[:original_url].blank? %>
                                        <%= hidden_field_tag :original_url, params[:original_url] %>
                                        <% end %>

                                        <% if !params[:list_id].blank? %>
                                        <%= f.hidden_field :list_id, value: params[:list_id] %>
                                        <% end %>

                                        <%= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
                                    </div>
                                    <!--end::Card Foolter-->
                            
                      </div>
                      <!--end::Card Card Custom-->

                </div>
                <!--end::Col_md_12-->

            </div>
            <!--end::Row-->




<% end #end form %>
