<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p><%= @message.html_safe %></p>

    <h2>ขอขอบคุณ ที่สมัครเข้าร่วมการแข่งขันกับเรา</h2>
    <p>วันที่สมัคร : xxxx</p>

    <br>
    <p></p>

เราพบว่าท่านยังไม่ได้ชำระค่าสมัครให้เสร็จสิ้น จึงขออนุญาตแจ้งเตือนการสมัครร่วมแข่งขันของท่านจะหมดเขตชำระในวันที่ 27 กันยายน 2562 14:59

ข้อมูลด้านล่างคือรายละเอียดรายการที่ท่านได้สมัครไว้

  </body>
</html>