<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @message_top.html_safe %></p>
    <p><%= @message_middle.html_safe %></p>
    <p><%= @message_bottom.html_safe %></p>
  </body>
</html>