<h3>แก้ไข <%= resource_name.to_s.humanize %></h3>
<div class="row">
  <div class="col-md-12">
    <div class="panel">

      <div class="panel-body">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <fieldset>
            <div class="form-group">
              <%= f.label 'อีเมล์' , class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form-control' %>
              </div>
            </div>
          </fieldset>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <fieldset>
            <div class="form-group">
              <%= f.label 'รหัสผ่าน' , class: "col-sm-2 control-label" %> <i>(ถ้าไม่ได้เปลี่ยนรหัสผ่าน ไม่ต้องกรอกรหัสใหม่)</i>
              <div class="col-sm-10">
                <%= f.password_field :password, autocomplete: "off" %>
                <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> ตัวอักษรเป็นอย่างน้อย</em>
               <% end %>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <%= f.label 'ยืนยันรหัสผ่าน' , class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.password_field :password_confirmation, autocomplete: "off" , class: 'form-control' %>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <%= f.label 'รหัสผ่านปัจจุบัน' , class: "col-sm-2 control-label" %> <i>(ถ้ามีการแก้ไขข้อมูล ให้กรอกรหัสผ่านปัจจุบันด้วย)</i>
              <div class="col-sm-10">
                <%= f.password_field :current_password, autocomplete: "off" , class: 'form-control' %>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <%= f.label 'ชื่อ' , class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.text_field :firstname,required: true, class: 'form-control' %>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <%= f.label 'นามสกุล' , class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.text_field :surname,required: true, class: 'form-control' %>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <div class="col-sm-2"> 
              </div>
              <div class="col-sm-10"> 
                  <%= f.hidden_field :avatar, value: @user.cached_avatar_data, id: "post-cover-photo-upload-result" %>
                  <%= f.file_field :avatar, accept: ImageUploader::ALLOWED_TYPES.join(","), data: { upload_server: upload_server, preview_element: "preview-cover-photo", upload_result_element: "post-cover-photo-upload-result" } %>
                 
                <div class="image-preview">
                  <%= image_tag @user.avatar_url(:thumbnail).to_s, width: 300, class: "img-thumbnail file-upload-preview", id: "preview-cover-photo" %>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <div class="col-sm-2"> 
              </div>
              <div class="col-sm-10">
                <%= f.submit "อัพเดท",  :class => 'btn btn-primary' %>
              </div>
            </div>
          </fieldset>
        <% end %>

        <p>
        <%= link_to "ย้อนกลับ", :back %>
        </p>


      </div>
    </div>
  </div>
</div>