
      <!--begin::Content body-->
      <div class="d-flex flex-column-fluid flex-center">
        <!--begin::Signin-->
        <div class="login-form login-signin">
          <!--begin::Title-->
          <div class="pb-13 pt-lg-0 pt-5">
            <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">สมัครสมาชิก</h3>
            <span class="text-muted font-weight-bold font-size-h4">
              <%= link_to root_path, class: 'btn btn-light bg-white mb-2' do %>
              <i class="ki ki-bold-arrow-back icon-sm"></i> <%= t(:back) %>
              <% end %>
            </span>
          </div>
          <!--begin::Title-->

          <div class="row">
            <div class="col-md-12">

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div class="form-group">
                <%= f.label t(:email), class: "" %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form-control form-control-solid h-auto py-4 px-4 rounded-lg' %>
              </div>

              <div class="form-group">
                <%= f.label t(:password), class: "col-sm-3 control-label" %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> อักษรเป็นอย่างน้อย)</em>
                <% end %>
                  <%= f.password_field :password, autocomplete: "off" , class: 'form-control form-control-solid h-auto py-4 px-4 rounded-lg' %>
              </div>

              <div class="form-group">
                <%= f.label t(:password_confirmation), class: "col-sm-3 control-label" %>
                  <%= f.password_field :password_confirmation, autocomplete: "off" , class: 'form-control form-control-solid h-auto py-4 px-4 rounded-lg' %>
              </div>

              <div class="form-group">
                <%= recaptcha_tags %>
              </div>

              <div class="pb-lg-0 pb-5">
                <%= f.submit t(:next) ,  class: 'btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3' %>
              </div>

              <% end %>

              <%#= render "devise/shared/links" %>

            </div>
          </div>




        </div>
      </div>