<%
#init


%>


                            <%= form_for('task', url: "/#{gen_form[0]}/tasks#{gen_form[1]}" , method: gen_form[2]) do |f| %>
                                    <!--begin::Card Body-->
                                    <div class="card-body">


<!-- ======================================== begin :: Task_Results ===================================================-->
                                        <!--begin::Table Responsive-->


                                        <!--
                                        <div class="row">
                                            <div class="col-12 mt-5">
                                                <label for="formGroupExampleInput" class="form-label"> <h5> <%= t(:title) %><span class="text-danger">*</span> </h5></label>
                                                <%#= f.text_field :title, class: "form-control", placeholder: t(:title), value: @title %>
                                            </div>

                                            <div class="col-12 mt-5 ms-5 mb-5">
                                                <label for="formGroupExampleInput2" class="form-label"> <h5> <%= t(:description) %><span class="text-danger">*</span> </h5></label>
                                                <%#= f.text_field :description, class: "form-control", placeholder: t(:description), value: @description %>
                                            </div>
                                        </div>
                                    -->



                                        <div class="table-responsive py-5">
                                        <table id="task_result_items" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th><%= t(:task_resoults) %></th>
                                                    <th style="width: 80px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                        <%
                                        task_result_sub_item_size = 0
                                        list_activity_sub_item_size = 0
                                            if @datas && @datas['data'] && @datas['data']['task_results']
                                                list_activity_sub_item_size = @datas['data']['task_results'].size.to_i
                                                p "list_activity_sub_item_size = #{list_activity_sub_item_size}"
                                            %>
                                            <% @datas['data']['task_results'].each_with_index do |sub_item,idx|  %>
                                                <tr id="task_results_items<%= idx %>">

                                                    <td>
                                                        <textarea class="form-control" name="task[task_results_attributes][<%= idx %>][title]" rows="3" cols="50"><%= sub_item['title'] %></textarea>
                                                    </td>

                                                    <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#task_results_items<%= idx %>').hide();$('#task_results_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>

                                                    <input type="hidden" class="form-control" placeholder="id" name="task[task_results_attributes][<%= idx %>][id]" value="<%= sub_item['id'] %>">

                                                    <input type="hidden" class="check_destroy" placeholder="" name="task[task_results_attributes][<%= idx %>][_destroy]" value=false>



                                              </tr>
                                            <% end %>
                                        <% end %>

                                            </tbody>
                                        </table>


                                        <div class="text-left"><a onclick="addtask_resultrows('task_result_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>


                                            <script type="text/javascript">
                                                var task_result_items_row = <%= task_result_sub_item_size + list_activity_sub_item_size %>;
                                                    function addtask_resultrows(task_result_id_name) {
                                                      //  alert('call function task_result');
                                                        html = '<tr id="'+ task_result_id_name + task_result_items_row + '">';

                                                        html += '<td><textarea class="form-control" placeholder="<%= t(:detail) %>" name="task[task_results_attributes]['+task_result_items_row+'][title]" rows="3" cols="50"></textarea></td>';
                                                        html += '<input type="hidden" class="form-control"   name="task[task_results_attributes]['+task_result_items_row+'][biz_id]" value= "<%= $user[session.id.to_s][@controller_title]['biz_id'] %>" >';
                                                        html += '<input type="hidden" class="form-control"  name="task[task_results_attributes]['+task_result_items_row+'][user_id]" value= "<%= $user[session.id.to_s][@controller_title]['id'] %>" >';



                                                        html += '<td class="mt-10"><a class="btn p-3 btn-danger" onclick="$(\'#' + task_result_id_name + task_result_items_row + '\').remove();$(\'#' + task_result_id_name + task_result_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';

                                                        html += '<input type="hidden" class="check_destroy" placeholder="" name="task[task_results_attributes]['+task_result_items_row+'][_destroy]" value=false>';


                                                        html += '</tr>';

                                                        $('#' + task_result_id_name + ' tbody').append(html);

                                                        task_result_items_row++;
                                                    }
                                                </script>
                                    </div>
                                    <!--end::table-responsive py-5 -->
<!-- ======================================== end :: Task Results ===================================================-->
                                    <div class="separator separator-dashed separator-border-2 my-10"></div>
<!-- ======================================== begin:: Task Notes===================================================-->

                                    <!--begin::table-responsive py-5 -->
                                    <div class="table-responsive py-5">
                                        <table id="task_note_items" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th><%= t(:task_notes) %></th>
                                                    <th style="width: 80px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                        <%
                                        task_note_sub_item_size = 0
                                        task_note_sub_item_size = 0
                                            if @datas && @datas['data'] && @datas['data']['task_notes']
                                                task_note_sub_item_size = @datas['data']['task_notes'].size.to_i
                                        %>
                                            <% @datas['data']['task_notes'].each_with_index do |task_note_sub_item,idx|  %>
                                                <tr id="task_note_items<%= idx %>">

                                                    <td>
                                                        <textarea class="form-control" name="task[task_notes_attributes][<%= idx %>][title]" rows="3" cols="50"><%= task_note_sub_item['title'] %></textarea>
                                                    </td>

                                                    <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#task_note_items<%= idx %>').hide();$('#task_note_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>

                                                    <input type="hidden" class="form-control" placeholder="id" name="task[task_notes_attributes][<%= idx %>][id]" value="<%= task_note_sub_item['id'] %>">

                                                    <input type="hidden" class="check_destroy" placeholder="" name="task[task_notes_attributes][<%= idx %>][_destroy]" value=false>

                                                </tr>
                                            <% end %>
                                        <% end %>


                                            </tbody>
                                        </table>


                                        <div class="text-left"><a onclick="addtask_noterows('task_note_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>


                                            <script type="text/javascript">
                                                var task_note_items_row = <%= task_note_sub_item_size + task_note_sub_item_size %>;
                                                    function addtask_noterows(task_note_id_name) {
                                                     //   alert('call function task_note');
                                                        html = '<tr id="'+ task_note_id_name + task_note_items_row + '">';

                                                        html += '<td><textarea class="form-control" placeholder="<%= t(:detail) %>" name="task[task_notes_attributes]['+task_note_items_row+'][title]" rows="3" cols="50"></textarea></td>';

                                                        html += '<input type="hidden" class="form-control" name="task[task_notes_attributes]['+task_note_items_row+'][biz_id]" value = "<%= $user[session.id.to_s][@controller_title]['biz_id'] %>" >';

                                                        html += '<input type="hidden" class="form-control" name="task[task_notes_attributes]['+task_note_items_row+'][user_id]" value = "<%= $user[session.id.to_s][@controller_title]['id'] %>" >';

                                                        html += '<td class="mt-10"><a class="btn p-3 btn-danger" onclick="$(\'#' + task_note_id_name + task_note_items_row + '\').remove();$(\'#' + task_note_id_name + task_note_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';

                                                        html += '<input type="hidden" class="check_destroy" placeholder="" name="task[task_notes_attributes]['+task_note_items_row+'][_destroy]" value=false>';

                                                        html += '</tr>';

                                                        $('#' + task_note_id_name + ' tbody').append(html);

                                                        task_note_items_row++;
                                                    }
                                                </script>
                                                </div>
                                                <!--end::table-responsive py-5 -->

<!-- ======================================== end :: Task Note ===================================================-->
<div class="separator separator-dashed separator-border-2 my-10"></div>
<!-- ======================================== begin :: Task Attechment ===================================================-->
<!--begin::table-responsive py-5 -->
<div class="table-responsive py-5">
    <table id="task_attachment_items" class="table table-bordered">
        <thead>
            <tr>
                <th><%= t(:attachment) %></th>
                <th><%= t(:detail) %></th>
                <th style="width: 80px;"></th>
            </tr>
        </thead>
        <tbody>
    <%
        task_attachment_sub_item_size = 0
        list_kpi_sub_item_size = 0
        if @datas && @datas['data'] && @datas['data']['task_attachments']
            list_kpi_sub_item_size = @datas['data']['task_attachments'].size.to_i
    %>
        <% @datas && @datas['data']['task_attachments'].each_with_index do |task_attachment_sub_item,idx|  %>
            <tr id="task_attachments_items<%= idx %>">

                <td style="width: 350px;">
                    <%#= @datas['data']['task_attachments'][idx] %>
                    <% if !task_attachment_sub_item['file_data'].blank? && !task_attachment_sub_item['file_data'].blank? %>
                        <a href="<%= $server[@controller_title] %>/<%= task_attachment_sub_item['file_url_original'] %>" target="_blank">
                            <img src="<%= $server[@controller_title] %>/<%= task_attachment_sub_item['file_url_original'] %>" class="img-thumbnail" />
                        </a>
                    <% end %>
                </td>

                <td>
                    <textarea class="form-control" name="task[task_attachments_attributes][<%= idx %>][description]" rows="3" cols="50"><%= task_attachment_sub_item['description'] %></textarea>
                </td>

                <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#task_attachments_items<%= idx %>').hide();$('#task_attachments_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>

                <input type="hidden" class="form-control" placeholder="id" name="task[task_attachments_attributes][<%= idx %>][id]" value="<%= task_attachment_sub_item['id'] %>">

                <input type="hidden" class="check_destroy" placeholder="" name="task[task_attachments_attributes][<%= idx %>][_destroy]" value=false>

            </tr>
        <% end %>
    <% end %>


        </tbody>
    </table>



    <div class="text-left"><a onclick="addtask_attachmentrows('task_attachment_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>



        <script type="text/javascript">
            var task_attachment_items_row = <%= task_attachment_sub_item_size + list_kpi_sub_item_size %>;







                function addtask_attachmentrows(task_attachment_id_name) {







                    html = '<tr id="'+ task_attachment_id_name + task_attachment_items_row + '">';

                    html += '<td><div class=""><input id="_'+task_attachment_items_row+'photo-upload-result" type="hidden" name="task[task_attachments_attributes]['+task_attachment_items_row+'][file]"><input accept="image/jpeg,image/jpg,image/png,image/gif,application/pdf,application/powerpoint,application/vnd.ms-powerpoint,application/vnd.ms-office,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/x-zip,application/zip,application/x-zip-compressed,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-7z-compressed" data-upload-server="" data-preview-element="_'+task_attachment_items_row+'preview-photo" data-upload-result-element="_'+task_attachment_items_row+'photo-upload-result" id="input-task_attachment_items_row-'+task_attachment_items_row+'" class="" type="file"><div class="d-block mb-4"><img id="_'+task_attachment_items_row+'preview-photo" class="img-thumbnail" /></div></div></td>'

                    html += '<td><textarea class="form-control" name="task[task_attachments_attributes]['+task_attachment_items_row+'][description]" rows="3" cols="50"></textarea></td>';

                    html += '<input type="hidden" class="form-control" name="task[task_attachments_attributes]['+task_attachment_items_row+'][biz_id]" value = "<%= $user[session.id.to_s][@controller_title]['biz_id'] %>" >';

                    html += '<input type="hidden" class="form-control"  name="task[task_attachments_attributes]['+task_attachment_items_row+'][user_id]" value = "<%= $user[session.id.to_s][@controller_title]['id'] %>" >';

                    html += '<td class="mt-10"><a class="btn p-3 btn-danger" onclick="$(\'#' + task_attachment_id_name + task_attachment_items_row + '\').remove();$(\'#' + task_attachment_id_name + task_attachment_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';

                    html += '<input type="hidden" class="check_destroy" placeholder="" name="task[task_attachments_attributes]['+task_attachment_items_row+'][_destroy]" value=false>';

                    html += '</tr>';

                    $('#' + task_attachment_id_name + ' tbody').append(html);




                      function normal_fileUpload(fileInput) {
                        var imagePreview = document.getElementById(fileInput.dataset.previewElement)

                        fileInput.style.display = 'none' // uppy will add its own file input

                        var uppy = Uppy.Core({
                            id: fileInput.id,
                            restrictions: {
                              allowedFileTypes: fileInput.accept.split(','),
                            }
                          })
                          .use(Uppy.FileInput, {
                            target: fileInput.parentNode,
                          })
                          .use(Uppy.Informer, {
                            target: fileInput.parentNode,
                          })
                          .use(Uppy.ProgressBar, {
                            target: imagePreview.parentNode,
                          })



                        uppy.use(Uppy.XHRUpload, {
                            endpoint: '<%= $server[@controller_title] %>/upload', // Shrine's upload endpoint
                            fieldName: 'file',
                          })



                        uppy.run()

                        uppy.on('upload-success', function (file, data, uploadURL) {
                          // show image preview
                          imagePreview.src = URL.createObjectURL(file.data)
                          imagePreview.href = URL.createObjectURL(file.data)
                          imagePreview.style = 'display: block;'
                          $('#' +imagePreview.id + '-title').val(file.name)
                          $('#task_attach_btn_save').css('display', 'block');


                          var uploadedFileData = JSON.stringify(data)

                          // set hidden field value to the uploaded file data so that it's submitted with the form as the attachment
                          var hiddenInput = document.getElementById(fileInput.dataset.uploadResultElement)
                          hiddenInput.value = uploadedFileData
                          //alert(uploadedFileData);
                        })

                        return uppy
                      }



                   //for Button Choose upload image
                   fileInput = document.querySelector('#input-task_attachment_items_row-'+ task_attachment_items_row);
                   normal_fileUpload(fileInput);










                    task_attachment_items_row++;







                }
            </script>


<br/>





            </div>
            <!--end::table-responsive py-5 -->
<!-- ======================================== end :: Task Attachment ===================================================-->










        </div>
        <!--end::Card Body-->

        <!--begin::Card Foolter-->
        <div class="card-footer">
                <%= f.hidden_field :list_activity_id, value: params[:list_activity_id] if params[:list_activity_id] %>
                <%= f.hidden_field :plan_report_id, value: params[:plan_report_id] if params[:plan_report_id] %>
                <%= f.hidden_field :list_id, value: params[:list_id] if params[:list_id] %>
                <%= f.hidden_field :user_id, value: $user[session.id.to_s][@controller_title]['id'] %>
                <%= f.hidden_field :biz_id, value: $user[session.id.to_s][@controller_title]['biz_id'] %>
                <%= hidden_field_tag :original_url, params[:original_url] %>
                <%= f.submit t(:saves) , class: "btn btn-lg btn-primary" %>
        </div>
        <!--end::Card Foolter-->
<% end %>
