<%
back_url = "/#{gen_form[0]}/plan_reports/"
back_url = params[:original_url] if !params[:original_url].blank?
%>

<div class="container-fluid">

	<div class="row">
	    <div class="col">
	          <div class="float-start">
	                <h2 class="card-label">
	                	<i class="fa-solid fa-circle-chevron-right"></i>
	                	<%= t(:add_data_to_the_performance_report) %>
	            	</h2>
	          </div>
	     </div>
	    <div class="col">
	      <div class="float-end">
	            <%= link_to back_url, class: 'btn btn-light -sm' do %>
	            	<i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
	            <% end %>
	      </div>
	    </div>
	</div>

	<div class="row">
	    <div class="col-md-12">
	        <div class="card card-custom gutter-b example example-compact">


	        		<%= render 'form' %>


	        </div>
	    </div>
	</div>
</div>
