<%
#init
if action_name == 'edit' || action_name == 'update'
  @plan_title = @datas['data']['plan']['title'] rescue nil
  @title = @datas['data']['title'] rescue nil
  @institution_id = @datas['data']['institution_id'] rescue nil
  @responsible_id = @datas['data']['responsible_id'] rescue nil
  @issue_id = @datas['data']['issue_id'] rescue nil
  @cognitive = @datas['data']['cognitive'] rescue nil
  @kpi_id = @datas['data']['kpi_id'] rescue nil
  @target_kpi_id = @datas['data']['target_kpi_id'] rescue nil
else
  @institution_id = @user['data']['institution']['id'] rescue nil
end

%>


  <%= form_for('category', url: "/#{gen_form[0]}/categories#{gen_form[1]}" , method: gen_form[2]) do |f| %>

    <!-- start row -->
    <div class="row">




      <!--
      <div class="col-sm-12 col-md-6">
          <label class="form-label">
              <h5><%= t(:title) %><span class="text-danger">*</span></h5>
          </label>
          <%= f.text_field :title, class: "form-control", placeholder: t(:title), value: @title %>
      </div>
    -->

      <div class="col-sm-12 col-md-12 my-6">
          <label class="form-label">
            <h5>หน่วยงาน  <span class="text-danger">*</span></h5>
          </label>
          <%= f.select "institution_id", options_for_select(@data_institutions['data'].map { |item| [item['title'], item['id']] }, (@institution_id rescue nil)), {include_blank: true}, {class: 'selectize-institution form-control', required: true } %>
      </div>





    </div>
    <!-- end row -->









    <div class="separator separator-dashed separator-border-2 my-10"></div>

    <div class="d-flex justify-content-between">
      <% if !params[:plan_id].blank? %>
        <%= f.hidden_field :plan_id, value: params[:plan_id] %>
      <% end %>

      <%= f.submit t(:saves), class: "btn btn-info" %>
    </div>





<% end #end form %>
