<!--begin::Kt_conten-->
<div class="container-fluid">
	<!--begin::Header-->

	<div class="row">
		<div class="col me-5"> 
		<div class="float-start">
		<h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:forms) %><%= t(:master_plan) %> </h2> 
		</div>
		<div class="col mb-5">
			<div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
				<!--button:header-->
				<a href="/<%= @controller_title %>/categories/new" class="btn btn-info -sm"><i class="fa-solid fa-circle-plus fa-4x"></i><%= t(:create)%></a>
			</div> 
		</div>
		</div>
	</div>
<!--end:Header-->

<!--begin:Content-->
	<div class="row">

		<% @datas['data'].each do |item| %>

			<div class="col-lg-6">

			<div class="card card-custom gutter-b">			
					<!--begin::Header-Content-->
					<div class="card-master">	
								<div class="row mt-5">
								<div class="col-8"> 
									<div class="row"> 
										<div class="col-1"> 
											<i class="fa-solid fa-file-lines fa-2x"></i>
										</div>
										<div class="col float-start ms-2">
											<h6><%= item['title'] %></p></h6>
										</div>
									</div>
								</div>						
								<div class="col-sm-4">
								<div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">

									<%= link_to "/#{@controller_title}/categories/#{item['id']}", method: :delete, title: t(:delete),  data: { confirm: 'ต้องการลบใช่หรือไม่?' } , class: "text-center btn btn-sm btn-light" do %>
										<i class="fa-regular fa-trash-can"></i><%#= t(:delete) %>
									<% end %>

									
									<!--
									<%= link_to "/#{@controller_title}/categories_clone?id=#{item['id']}" , class: "btn btn-sm btn-light", title: t(:clone) do %>
										<i class="fa-regular fa-clone"></i><%#= t(:clone) %>
									<% end %>
									-->
							
								</div>
								</div>			 		  
							</div>											
					</div>
					<!--end ::Header-Content-->

					<!--begin:content-details-->
					<div class="card-content">
					 	<div class="mb-4">
					 		<p><b><%= t(:category_title)%> : </b> <%= item['title'] %></p>
							<p><b><%= t(:institution)%> : </b> <%= item['institution']['title'] %></p>
							<p><b><%= t(:responsible)%> : </b> <%= item['responsible']['title'] %></p>
							<p><b><%= t(:issue)%> : </b> <%= item['issue']['title'] %></p>
							<p><b><%= t(:cognitive)%> : </b> <%= item['cognitive'] %></p>
							<p><b><%= t(:kpi)%> : </b> <%= item['kpi']['title'] %></p>
							<p><b><%= t(:target_kpi)%> : </b> <%= item['target_kpi']['title'] %></p>
					 	</div>
						 
						 <a href="/<%= @controller_title %>/categories/<%= item['id'] %>/edit" class="btn-info btn-sm text-white mt-3 d-block-inline"><%= t(:edit) %> <i class="fa-solid fa-angle-right text-white"></i>
						 </a>

					</div>
					<!--end::content-details-->
				</div> 
			</div> 

		<% end %>
	</div> 
<!--end:Content-->

</div>
<!-- end::Kt_conten -->