<% if plan %>
<%= form_for('plan', url: "/#{gen_form[0]}/plans/#{action_name}_update_#{plan['type_name']}/#{plan['id']}" , method: 'patch') do |f| %>
<div class="row mt-5">



  <div id="export_content" class="">
      <div class="landscape_A4_page">
  

 
  <h2 class="text-center mt-2"><%= plan['master_plan']['institution']['title'] rescue nil %> </h2>

      <!--
      <div class="d-flex align-items-center mt-2"><span class="fs-3 badge badge-success">ผลรวมคะแนนหมวด : <%= plan['fl_total_score'] rescue nil %></span> </div>
      
      <div class="d-flex align-items-center mt-2"><span class="fs-4 badge badge-danger">Average Category : <%= %></span> </div>
    -->

      <div class="-table-responsive py-5">
              <table id="items" class="table table-bordered" style="text-left">
                <thead class="" style="background-color: #4a16b5;">
                    <tr>
                      <td class="text-white">
                        <b class="fs-3"><%= plan['title'] rescue nil %></b>
                      </td>
                  </tr>
                </thead>

                <% plan['categories'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category,ida| %>
                <tr class="bg-info">
                    <td class="text-white">
                      <b class="fs-4"><%= category['title'] rescue nil %></b>
                    </td>
                </tr>

                <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idb| %>
                <tr class="bg-light-info">
                  <td valign="middle" class="pl-5">
                    <div><b class="fs-5"><%= list['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></b></div>
                  </td>
                </tr>

                <tr valign="top">
                  <td>
                    <ul style="list-style-type: none">
                    <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list_activity,idx| %>
                      <li style="list-style-type: none">
                        <div><b><%= list_activity['title'] rescue nil %></b></div>
                        <div class="my-3">
                          <input type="hidden" name="form[<%= ida %>][<%= idb %>][<%= idx %>][id]" value="<%= list_activity['id'] rescue nil %>">
                          <textarea name="form[<%= ida %>][<%= idb %>][<%= idx %>][fl_result_text]" class="form-control" rows="20" <%= "disabled" if action_name == 'opdc_input' && params['print'] == 'true' %> 
                          >
                          <%= list_activity['fl_result_text'] rescue nil %>
                          </textarea>



                          <!-- code for attachment -->
                          <input id="photo-upload-result-<%= ida %>-<%= idb %>-<%= idx %>" type="hidden" name="form[<%= ida %>][<%= idb %>][<%= idx %>][file]">

                          <% if params[:print] != 'true'  %>
                          <input  accept="image/jpeg,image/jpg,image/png,image/gif,application/pdf,application/powerpoint,application/vnd.ms-powerpoint,application/vnd.ms-office,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/x-zip,application/zip,application/x-zip-compressed,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-7z-compressed" data-upload-server="" data-preview-element="preview-photo-<%= ida %>-<%= idb %>-<%= idx %>" data-upload-result-element="photo-upload-result-<%= ida %>-<%= idb %>-<%= idx %>" id="input-task_attachment_items_row-<%= ida %>-<%= idb %>-<%= idx %>" class="" type="file">
                          <% end %>

                          <div class="d-block my-2 overflow-hidden">
                          <% if !list_activity['file_data'].blank? && !list_activity['file_data']['original'].blank? %>
                              <%= link_to "#{$server[@controller_title]}/uploads/#{JSON.parse(list_activity['file_data'])['original']['id']}", class: 'mr-3 btn btn-sm btn-primary', target: '_blank', id: "preview-photo-#{ida}-#{idb}-#{idx}" do %>
                                <i class="fas fa-file-alt"></i> 
                                  <% if !list_activity['description'].blank? %>
                                    <%= list_activity['description'] rescue nil %>
                                  <% else %>
                                    <%= JSON.parse(list_activity['file_data'])['original']['metadata']['filename'].truncate(12) rescue nil %>
                                  <% end %>
                              <% end %>
                              <%if params['print'] != 'true' %>
                              <%= link_to "", "/mains/delete_image?name=form[#{ida}][#{idb}][file]&id=#{ida}-#{idb}", method: :delete, data: { confirm: 'ต้องการลบใช่หรือไม่? (คลิ๊กปุ่ม บันทึก อีกครั้งเพื่อปรับปรุงข้อมูลหลังยืนยันการลบ)' } , class: "fa-regular fa-trash-can", id: "delete-#{ida}-#{idb}", remote: true %> 
                              <% end %>
                            <% else %>
                              <%= link_to "", class: 'mr-3 btn btn-sm btn-primary', target: '_blank', id: "preview-photo-#{ida}-#{idb}-#{idx}", style: "display: none" do %>
                                <i class="fas fa-file-alt"></i> 
                              <% end %>
                            <% end %>

                          </div>

                          <script type="text/javascript">
                              function normal_fileUpload(fileInput) {
                                  var imagePreview = document.getElementById(fileInput.dataset.previewElement)

                                  fileInput.style.display = 'none'

                                  var uppy = Uppy.Core({
                                      id: fileInput.id,
                                      restrictions: {
                                        allowedFileTypes: fileInput.accept.split(','),
                                      }
                                    })
                                    .use(Uppy.FileInput, {
                                      target: fileInput.parentNode,
                                    })
                                    .use(Uppy.Informer, {
                                      target: fileInput.parentNode,
                                    })
                                    .use(Uppy.ProgressBar, {
                                      target: imagePreview.parentNode,
                                    })

                                  

                                  uppy.use(Uppy.XHRUpload, {
                                      endpoint: '<%= $server[@controller_title] %>/upload', // Shrine's upload endpoint
                                      fieldName: 'file',
                                    })



                                  uppy.run()

                                  uppy.on('upload-success', function (file, data, uploadURL) {
                                // show image preview
                                    imagePreview.src = URL.createObjectURL(file.data)
                                    imagePreview.href = URL.createObjectURL(file.data) 
                                    imagePreview.style = 'display: block;'
                                    $('#' +imagePreview.id + '-title').val(file.name)
                                    $('#task_attach_btn_save').css('display', 'block');
                                    

                                    var uploadedFileData = JSON.stringify(data)

                                    var hiddenInput = document.getElementById(fileInput.dataset.uploadResultElement)
                                    hiddenInput.value = uploadedFileData
                                  })

                                  return uppy
                                }



                             //for Button Choose upload image
                             fileInput = document.querySelector('#input-task_attachment_items_row-<%= ida %>-<%= idb %>-<%= idx %>');
                             normal_fileUpload(fileInput);
                          </script>

                          <!-- end code for attachment -->



                        </div>
                      </li>
                    <% end #loop list_activities %>
                    </ul>
                  </td>
                </tr>

                <% end #loop lists %>

                <% end #loop categories %>

          </table>


      </div>





      <hr style="border-bottom: 1px dotted #999999;">
      <p style="page-break-after: always;">&nbsp;</p>





  </div>
</div> <!-- end id export_content -->



                
                  
          



  <div class="d-flex align-items-center">
    <% if params[:print] != 'true'  %>


    
    <%= hidden_field_tag :original_url, request.path %>
    <%= f.hidden_field :id, value: (@plan['data']['id'] rescue nil) %>
    <%#= f.submit "บันทึกร่าง", class: "btn btn-lg btn-light-primary mx-3" %>
    <%= f.submit "บันทึก", class: "btn btn-lg btn-primary mx-3" %>
    <% end # end form 1 %>

    <%= form_for('plan', url: "/#{gen_form[0]}/plans/user_input_submit/#{@plan['data']['id']}" , method: 'patch') do |f| %>
    <%= f.hidden_field :id, value: (@plan['data']['id'] rescue nil) %>
    <%= f.hidden_field :status, value: 'submit-by-user' %>
    <%#= f.submit "ส่งคะแนน", class: "btn btn-lg btn-primary mx-3" %>
    <% end # end form 1 %>




    <% end %>
  </div>

</div>

<% end %>
