<% if plan %>
<%
plan['type_name'] = 'normal' if plan['type_name'].blank?

 url = URI("#{$server[@controller_title]}/api/v1/fl_plans/#{params[:id]}/check_fl_plan_approve_status")
 @check_fr_plan_approve_status = request_api(url,'get',nil)

%>

<%= form_for('plan', url: "/#{gen_form[0]}/plans/#{action_name}_update_#{plan['type_name']}/#{plan['id']}" , method: 'patch') do |f| %>
<div class="row mt-5">


  <div id="export_content" class="">
      <div class="landscape_A4_page">


  

  <div class="-table-responsive py-5">
        <table id="items" class="table table-bordered" style="text-left">
          <thead class="" style="background-color: #4a16b5;">
              <tr>
                <td class="text-white">
                  <b class="fs-3"><%= plan['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></b>
                </td>
            </tr>
          </thead>

          <% plan['categories'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category,ida| %>
          <tr class="bg-info">
              <td class="text-white">
                <b class="fs-4"><%= category['title'] rescue nil %></b>
              </td>
          </tr>
        
          <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idb| %>
          <tr class="bg-light-info">
            <td valign="middle" class="pl-5">

              <div class="d-flex justify-content-between">
                <div><b class="fs-5"><%= list['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></b></div>

                <% if action_name == 'opdc_input' && params['print'] != 'true' %>
                <div class="d-flex mx-10">
                  <span class="badge badge-danger fs-base min-w-150px mx-3">ระดับเกณฑ์  : <%= list['pmqa_bas_master']['title'] rescue nil %> <%= list['pmqa_bas_master']['score_min'] rescue nil %> - <%= list['pmqa_bas_master']['score_max'] rescue nil %></span>

                  <div class="d-flex align-items-center">
                    <span class="ts-4 px-3  min-w-100px">ให้คะแนนประเมิน</span>
                    <% if params[:print] == true || params[:print] == 'true' %>
                       <%= list['fr_score'] rescue nil %>
                    <% else %>
                      <input type="number" name="list[<%= ida %>][<%= idb %>][fr_score]" value="<%= list['fr_score'] rescue nil %>" class="form-control min-w-100px mx-4">
                    <% end %>
                  </div>
                </div>
                <% end %>



              </div>

            </td>
          </tr>

          <tr valign="top">
            <td>


              <input type="hidden" name="list[<%= ida %>][<%= idb %>][id]" value="<%= list['id'] rescue nil %>" />


              <ul class="nav nav-pills mb-3" id="tabs-<%= list['id'] %>-1-tab" role="tablist" style="list-style-type: none">
                <li class="nav-item d-flex align-items-center" role="presentation">
                  <input name=list[<%= ida %>][<%= idb %>][result] type="radio" <% if @check_fr_plan_approve_status['data'] == true %> disabled <% end %> class="nav-link mx-3" id="ch-<%= list['id'] %>-1-tab" data-bs-toggle="pill" data-bs-target="#box-<%= list['id'] %>-1" type="button" role="tab" aria-controls="box-<%= list['id'] %>-1" <%= "checked" if list['result'].to_i == 1 %> value=1 
                  <%= "disabled" if action_name == 'opdc_input' && params['print'] != 'true' %>
                  > มีการดำเนินการ
                </li>
                <li class="nav-item d-flex align-items-center" role="presentation">
                  <input name=list[<%= ida %>][<%= idb %>][result] type="radio" <% if @check_fr_plan_approve_status['data'] == true %> disabled <% end %>  class="nav-link mx-3" id="ch-<%= list['id'] %>-2-tab" data-bs-toggle="pill" data-bs-target="#box-<%= list['id'] %>-2" type="button" role="tab" aria-controls="box-<%= list['id'] %>-2" <%= "checked" if list['result'].to_i == 2 %> value=2 
                  <%= "disabled" if action_name == 'opdc_input' && params['print'] != 'true' %>
                  > อยู่ในระหว่างดำเนินการ
                </li>
                <li class="nav-item d-flex align-items-center" role="presentation">
                  <input name=list[<%= ida %>][<%= idb %>][result] type="radio" <% if @check_fr_plan_approve_status['data'] == true %> disabled <% end %>  class="nav-link mx-3" id="<%= list['id'] %>-3-tab" data-bs-toggle="pill" data-bs-target="#box-<%= list['id'] %>-3" type="button" role="tab" aria-controls="box-<%= list['id'] %>-3" <%= "checked" if list['result'].to_i == 3 %> value=3 
                  <%= "disabled" if action_name == 'opdc_input' && params['print'] != 'true' %>
                  > ยังไม่มีการดำเนินการ
                </li>
              </ul>

              <div class="tab-content" id="<%= list['id'] %>-tabContent">
                <div class="tab-pane fade <%= "show active" if list['result'].to_i == 1 %>" id="box-<%= list['id'] %>-1" role="tabpanel" aria-labelledby="<%= list['id'] %>-1-tab">
                </div>
                <div class="tab-pane fade <%= "show active" if list['result'].to_i == 2 %>" id="box-<%= list['id'] %>-2" role="tabpanel" aria-labelledby="<%= list['id'] %>-2-tab">
                  
                </div>
                <div class="tab-pane fade <%= "show active" if list['result'].to_i == 3 %>" id="box-<%= list['id'] %>-3" role="tabpanel" aria-labelledby="<%= list['id'] %>-3-tab">
                  
                </div>
              </div>

               <div class="row mx-4">
                    <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list_activity,idx| %>
                      <div class="col-12">
                          <div class="m-2">
                            <b><%= list_activity['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></b>
                          </div>
                          <div class="m-2">
                            <input type="hidden" name="form[<%= ida %>][<%= idb %>][<%= idx %>][id]" value="<%= list_activity['id'] rescue nil %>" />
                            <textarea name="form[<%= ida %>][<%= idb %>][<%= idx %>][fl_result_text]"  <% if @check_fr_plan_approve_status['data'] == true %> disabled <% end %> rows="10" class="form-control" maxlength="1000"
                              <%= "disabled" if action_name == 'opdc_input' && params['print'] != 'true' %>
                              ><%= list_activity['fl_result_text'] rescue nil %></textarea>

                          </div>
                      </div>
                    <% end #loop list_activities %>
                    </div>





              <!-- code for attachment -->

                    <% if params[:print] != 'true'  %>

                

                      <input id="photo-upload-result-<%= ida %>-<%= idb %>" type="hidden" name="list[<%= ida %>][<%= idb %>][file]">
                      <% if @check_fr_plan_approve_status['data'] != true %>
                      <input  accept="image/jpeg,image/jpg,image/png,image/gif,application/pdf,application/powerpoint,application/vnd.ms-powerpoint,application/vnd.ms-office,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/x-zip,application/zip,application/x-zip-compressed,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-7z-compressed" data-upload-server="" data-preview-element="preview-photo-<%= ida %>-<%= idb %>" data-upload-result-element="photo-upload-result-<%= ida %>-<%= idb %>" id="input-task_attachment_items_row-<%= ida %>-<%= idb %>" class="" type="file">
                      <% end %>
                      <% end %>


                      <div class="d-block my-2 overflow-hidden">
                      <% if !list['file_data'].blank? && !list['file_data']['original'].blank? %>

                          <%= link_to "#{$server[@controller_title]}/uploads/#{JSON.parse(list['file_data'])['original']['id']}", class: 'mr-3 btn btn-sm btn-primary p-2', target: '_blank', id: "preview-photo-#{ida}-#{idb}" do %>
                            <i class="fas fa-file-alt"></i> 
                              <% if !list['description'].blank? %>
                                <%= list['description'] rescue nil %>
                              <% else %>
                                <%= JSON.parse(list['file_data'])['original']['metadata']['filename'].truncate(12) rescue nil %>
                              <% end %>
                          <% end %>

                          <%= link_to "", "/mains/delete_image?name=list[#{ida}][#{idb}][file]&id=#{ida}-#{idb}", method: :delete, data: { confirm: 'ต้องการลบใช่หรือไม่? (คลิ๊กปุ่ม บันทึก อีกครั้งเพื่อปรับปรุงข้อมูลหลังยืนยันการลบ)' } , class: "fa-regular fa-trash-can", id: "delete-#{ida}-#{idb}", remote: true %>
                         


                        <% else %>
                          <%= link_to "", class: 'mr-3 btn btn-sm btn-primary', target: '_blank', id: "preview-photo-#{ida}-#{idb}", style: "display: none" do %>
                                <i class="fas fa-file-alt"></i> 
                              <% end %>
                        <% end %>
                      </div>

                      <script type="text/javascript">
                          function normal_fileUpload(fileInput) {
                              var imagePreview = document.getElementById(fileInput.dataset.previewElement)

                              fileInput.style.display = 'none'

                              var uppy = Uppy.Core({
                                  id: fileInput.id,
                                  restrictions: {
                                    allowedFileTypes: fileInput.accept.split(','),
                                  }
                                })
                                .use(Uppy.FileInput, {
                                  target: fileInput.parentNode,
                                })
                                .use(Uppy.Informer, {
                                  target: fileInput.parentNode,
                                })
                                .use(Uppy.ProgressBar, {
                                  target: imagePreview.parentNode,
                                })

                              

                              uppy.use(Uppy.XHRUpload, {
                                  endpoint: '<%= $server[@controller_title] %>/upload', // Shrine's upload endpoint
                                  fieldName: 'file',
                                })



                              uppy.run()

                              uppy.on('upload-success', function (file, data, uploadURL) {
                            // show image preview
                                imagePreview.src = URL.createObjectURL(file.data)
                                imagePreview.href = URL.createObjectURL(file.data) 
                                imagePreview.style = 'display: block;'
                                $('#' +imagePreview.id + '-title').val(file.name)
                                $('#task_attach_btn_save').css('display', 'block');
                                

                                var uploadedFileData = JSON.stringify(data)

                                var hiddenInput = document.getElementById(fileInput.dataset.uploadResultElement)
                                hiddenInput.value = uploadedFileData
                              })

                              return uppy
                            }



                         //for Button Choose upload image
                         fileInput = document.querySelector('#input-task_attachment_items_row-<%= ida %>-<%= idb %>');
                         normal_fileUpload(fileInput);
                      </script>

                      <!-- end code for attachment -->







            </td>
          </tr>

          <% end #loop lists %>

          <% end #loop categories %>

    </table>


  </div>





  </div>
</div> <!-- end id export_content -->



  <div class="d-flex align-items-center">
    <% if params[:print] != 'true'  %>


    
    <%= hidden_field_tag :original_url, request.path %>
    <%= f.hidden_field :id, value: (@plan['data']['id'] rescue nil) %>
    <%#= f.submit "บันทึกร่าง", class: "btn btn-lg btn-light-primary mx-3" %>
    <% if @check_fr_plan_approve_status['data'] != true %>
    <%= f.submit "บันทึก", class: "btn btn-lg btn-primary mx-3" %>
    <% end %>
    <% end # end form 1 %>

    <%= form_for('plan', url: "/#{gen_form[0]}/plans/user_input_submit/#{@plan['data']['id']}" , method: 'patch') do |f| %>
    <%= f.hidden_field :id, value: (@plan['data']['id'] rescue nil) %>
    <%= f.hidden_field :status, value: 'submit-by-user' %>
    <%#= f.submit "ส่งคะแนน", class: "btn btn-lg btn-primary mx-3" %>
    <% end # end form 1 %>




    <% end %>
  </div>

</div>

<% end %>
