<% if plan %>
<div class="row mt-5">
  <div class="col">

      <h2 class="text-center mt-2"><%= plan['master_plan']['institution']['title'] rescue nil %> </h2>

      <!--
      <div class="d-flex align-items-center mt-2"><span class="fs-3 badge badge-success">ผลรวมคะแนนหมวด : <%= plan['fl_total_score'] rescue nil %></span> </div>
      
      <div class="d-flex align-items-center mt-2"><span class="fs-4 badge badge-danger">Average Category : <%= %></span> </div>
    -->

      <div class="table-responsive py-5">
              <table id="items" class="table table-bordered" style="text-left">
                <thead class="" style="background-color: #4a16b5;">
                    <tr>
                      <td class="text-white">
                        <b class="fs-3"><%= plan['title'] rescue nil %></b>
                      </td>
                  </tr>
                </thead>

                <% plan['categories'].sort_by{|i| i['order_sort'].to_i}.each do |category| %>
                <tr class="bg-info">
                    <td class="text-white">
                      <b class="fs-4"><%= category['title'] rescue nil %></b>
                    </td>
                </tr>

                <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each do |list| %>
                <tr class="bg-light-info">
                  <td valign="middle" class="pl-5">

                    <div class="d-flex justify-content-between">
                      <div><b class="fs-5"><%= list['title'] rescue nil %></b></div>

                      <div class="d-flex mx-10">
                        <span class="badge badge-danger fs-base min-w-100px mx-3">ระดับเกณฑ์  : <%= list['pmqa_bas_master']['title'] rescue nil %> <%= list['pmqa_bas_master']['score_min'] rescue nil %> - <%= list['pmqa_bas_master']['score_max'] rescue nil %></span>

                        <div class="d-flex align-items-center">
                          <span class="ts-4 px-3">ให้คะแนนประเมิน</span>
                          <%= number_field_tag :column_name , 60, class: 'form-control w-100px mx-4' %>
                        </div>
                      </div>
                    </div>

                  </td>
                </tr>

                <tr valign="top">
                  <td>

                    <div class="row my-6">
                      <div class="col-2"> <label class="radio"><input type="radio" name="column_name_2"><span></span></label>
                        มีการดำเนินการ
                        </div>
                      <div class="col-2"> <label class="radio"><input type="radio" name="column_name_2"><span></span></label>
                        อยู่ในระหว่างดำเนินการ
                        </div>
                      <div class="col-2"> <label class="radio"><input type="radio" name="column_name_2"><span></span></label>
                        ยังไม่มีการดำเนินการ
                        </div>
                    </div>

                    <div class="row">
                    <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list_activity,idx| %>
                      <div class="col-6">
                          <div class="m-2"><b><%= list_activity['title'] rescue nil %></b></div>
                          <div class="m-2">
                            <textarea name="column_name" id="column_name" class="form-control"></textarea>
                          </div>
                      </div>
                    <% end #loop list_activities %>
                    </div>
                  </td>
                </tr>

                <% end #loop lists %>

                <% end #loop categories %>

          </table>


      </div>
                
                  
          <hr style="border-bottom: 1px dotted #999999;">
          <p style="page-break-after: always;">&nbsp;</p>

  </div>
</div>
<% end %>
