<% if plan %>
<div class="row mt-5">
  <div class="col">

      <h2 class="text-center mt-2"><%= plan['master_plan']['institution']['title'] rescue nil %> </h2>

      <!--
      <div class="d-flex align-items-center mt-2"><span class="fs-3 badge badge-success">ผลรวมคะแนนหมวด : <%= plan['fl_total_score'] rescue nil %></span> </div>
      
      <div class="d-flex align-items-center mt-2"><span class="fs-4 badge badge-danger">Average Category : <%= %></span> </div>
    -->

      <div class="table-responsive py-5">
              <table id="items" class="table table-bordered" style="text-left">
                <thead class="" style="background-color: #4a16b5;">
                    <tr>
                      <td class="text-white">
                        <b class="fs-3"><%= plan['title'] rescue nil %></b>
                      </td>
                  </tr>
                </thead>

                <% plan['categories'].sort_by{|i| i['order_sort'].to_i}.each do |category| %>
                <tr class="bg-info">
                    <td class="text-white">
                      <b class="fs-4"><%= category['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></b>
                    </td>
                </tr>

                <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each do |list| %>
                <tr class="bg-light-info">
                  <td valign="middle" class="pl-5">
                    <div><b class="fs-5"><%= list['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></b></div>
                  </td>
                </tr>

                <tr valign="top">
                  <td>
                    <ul>
                    <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list_activity,idx| %>
                      <li>
                        <div><b><%= list_activity['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></b></div>
                        <div class="my-3"><textarea name="column_name" id="column_name" class="form-control"></textarea></div>
                      </li>
                    <% end #loop list_activities %>
                    </ul>
                  </td>
                </tr>

                <% end #loop lists %>

                <% end #loop categories %>

          </table>


      </div>
                
                  
          <hr style="border-bottom: 1px dotted #999999;">
          <p style="page-break-after: always;">&nbsp;</p>

  </div>
</div>
<% end %>
