<%
#init
params['master_plan_id'] = @datas['data']['master_plan_id'] if @datas && !@datas['data'].blank?
if @datas && !@datas['data'].blank?
      back_url = "/#{@controller_main_url}/master_plans/#{@datas['data']['master_plan_id']}"
else
      back_url = params[:original_url] 
end



%>


<div class="container-fluid">
        <div class="row">
            <div class="col"> 
                  <div class="float-start">
                        <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i>หมวด</h2> 
                  </div>
            <div class="col">
              <div class="float-end">  
      
              <%= link_to back_url, class: 'btn btn-light bg-white mb-2' do %>
                  <i class="ki ki-bold-arrow-back icon-sm"></i> <%= t(:back) %>
              <% end %>

              </div> 
            </div>
       </div>


      <%= render 'form' %>


</div>
