<style>
    @media print {
       .noprint {
          visibility: hidden;
          display: none;
       }
    }
</style>

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="float-end"> 


                <%= link_to "/#{gen_form[0]}/master_plans/#{@plan['data']['master_plan_id']}", class: 'noprint btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i></i> <%= t(:back) %> </i> <% end %>

                <%= link_to "#", class: 'noprint align-self-center btn btn-lg btn-light mx-1', onclick: 'window.print();' do %> 
                    <i class="fa-solid fa-print"></i> <%= t(:print) %>
                <% end %>

            </div> 
        </div>
    </div>

    <h1 class="text-center mt-15">แบบประเมินตนเองตามเกณฑ์คุณภาพการบริหารจัดการภาครัฐ</h1>


        <% case @plan['data']['type_name'] %>
        <% when 'seven' %>
                <%= render "/#{@controller_main_url}/plans/form_seven", plan: @plan['data'] %>
        <% when 'op' %>
                <%= render "/#{@controller_main_url}/plans/form_op", plan: @plan['data'] %>
        <% else %>
                <%= render "/#{@controller_main_url}/plans/form_normal", plan: @plan['data'] %>
        <% end %>

      <hr style="border-bottom: 3px solid #999999;margin-top: 2rem;margin-bottom: 2rem;">




</div>



