<%
#init
if action_name == 'edit' || action_name == 'update'
  @plan_title = @datas['data']['plan']['title'] rescue nil
  @institution_id = @datas['data']['institution_id'] rescue nil
else
    @institution_id = @user['data']['institution']['id'] rescue nil
end
%>


  <%= form_for('category', url: "/#{gen_form[0]}/categories#{gen_form[1]}" , method: gen_form[2]) do |f| %>

    <!-- start row -->
    <div class="row">





      <div class="col-sm-12 col-md-12 my-6">
            <label class="form-label">
                  <h5> โครงการ <span class="text-danger">*</span>
                  </h5>
            </label>

            <div class="d-flex">
              <%= f.text_field :title_code, class: "form-control w-125px", placeholder: t(:code), required: true, value: (@datas['data']['title_code'] rescue nil) %>  

              <%= f.text_field :title, class: "form-control mx-3", placeholder: t(:title), required: true, value: (@datas['data']['title'] rescue nil) %>   
            </div> 
      </div> 

      <div class="col-sm-12 col-md-12 my-6">
          <label class="form-label">
            <h5>ประเด็นยุทธศาสตร์  <span class="text-danger">*</span></h5>
          </label>

          <%= f.select "strategic_issue_id", options_for_select(@data_strategic_issues['data'].map { |item| [item['title'], item['id']] }, (@datas['data']['strategic_issue_id'] rescue nil)), {include_blank: true}, {class: 'selectize-strategic_issue form-control', required: false } %>
      </div>

      <div class="col-sm-12 col-md-12 my-6">
          <label class="form-label">
            <h5>หน่วยงาน  <span class="text-danger">*</span></h5>
          </label>

          <%= f.select "institution_id", options_for_select(@data_institutions['data'].map { |item| [item['title'], item['id']] }, (@institution_id rescue nil)), {include_blank: true}, {class: 'selectize-institution form-control', required: true } %>
      </div>

      <!-- ======================================== begin :: category_objectives ===================================================-->  
                                        <!--begin::category_objectives-->

                                        <div class="table-responsive py-5">
                                        <table id="category_objective_items" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th><h5>วัตถุประสงค์ของโครงการ <span class="text-danger">*</span></th>
                                                    <th style="width: 80px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                           
                                        <% 
                                        category_objective_sub_item_size = 0
                                  
                                      
                                    

                                            if @datas && @datas['data'] && @datas['data']['category_objectives']
                                                category_objective_sub_item_size = @datas['data']['category_objectives'].size.to_i
                                                p "category_objective_sub_item_size = #{category_objective_sub_item_size}"
                                            %>

                                      
                                            <% @datas['data']['category_objectives'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |sub_item,idx|  %>
                                             
                                                <tr id="category_objectives_items<%= idx %>">
                                           
                                                    <td>
                                                        <div class="d-flex">
                                                            <input type="text" class="w-50px form-control mx-2" placeholder="<%= t(:order_sort) %>" name="category[category_objectives_attributes][<%= idx %>][order_sort]" value="<%= sub_item['order_sort'] rescue nil %>">
                                                            <textarea class="form-control" name="category[category_objectives_attributes][<%= idx %>][title]" rows="3" cols="50"><%= sub_item['title'] %></textarea>
                                                        </div>
                                                    </td> 

                                                    <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#category_objectives_items<%= idx %>').hide();$('#category_objectives_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>
                                                                                  
                                                    <input type="hidden" class="form-control" placeholder="id" name="category[category_objectives_attributes][<%= idx %>][id]" value="<%= sub_item['id'] %>">
                                                                                  
                                                    <input type="hidden" class="check_destroy" placeholder="" name="category[category_objectives_attributes][<%= idx %>][_destroy]" value=false>


                                                                                  
                                              </tr>
                                            <% end %>
                                        <% end %>                                                             
                                                                                  
                                            </tbody>
                                        </table>
                                        
                                       
                                        <div class="text-left"><a onclick="addcategory_objectiverows('category_objective_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>
                                                                                  
                                                                                  
                                            <script type="text/javascript">
                                                var category_objective_items_row = <%= category_objective_sub_item_size + category_objective_sub_item_size %>;
                                                    function addcategory_objectiverows(category_objective_id_name) {
                                                      //  alert('call function category_objective');
                                                        html = '<tr id="'+ category_objective_id_name + category_objective_items_row + '">';                                                                                  
                                                                                  
                                                        html += '<td><div class="d-flex"><input type="text" class="w-50px form-control mx-2" placeholder="<%= t(:order_sort) %>" name="category[category_objectives_attributes]['+category_objective_items_row+'][order_sort]"><textarea class="form-control" placeholder="วัตถุประสงค์" name="category[category_objectives_attributes]['+category_objective_items_row+'][title]" rows="3" cols="50"></textarea></div></td>';

                                                        html += '<input type="hidden" class="form-control"   name="category[category_objectives_attributes]['+category_objective_items_row+'][biz_id]" value= "<%= $user[session.id.to_s][@controller_title]['biz_id'] %>" >';
                                                        html += '<input type="hidden" class="form-control"  name="category[category_objectives_attributes]['+category_objective_items_row+'][user_id]" value= "<%= $user[session.id.to_s][@controller_title]['id'] %>" >';
                                                                                                                                                                                                                                                                                              
                                              
                                                        
                                                        html += '<td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$(\'#' + category_objective_id_name + category_objective_items_row + '\').remove();$(\'#' + category_objective_id_name + category_objective_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';
                                                                                                                                                                    
                                                        html += '<input type="hidden" class="check_destroy" placeholder="" name="category[category_objectives_attributes]['+category_objective_items_row+'][_destroy]" value=false>';

                                                                                                                                                                                               
                                                        html += '</tr>';
                                                                                  
                                                        $('#' + category_objective_id_name + ' tbody').append(html);
                                                                                  
                                                        category_objective_items_row++;
                                                    }
                                                </script>
                                    </div>    
                                    <!--end::table-responsive py-5 -->                                          
<!-- ======================================== end :: category_objectives ===================================================-->  
                                    <div class="separator separator-dashed separator-border-2 my-10"></div>



    </div>
    <!-- end row -->






    <!-- start row -->
    <% if action_name == 'edit' || action_name == 'update' %>

    
    <% end %>
    <!-- end row -->









    


    <div class="separator separator-dashed separator-border-2 my-10"></div>

    <div class="d-flex justify-content-between">
      <% if !params[:plan_id].blank? %>
        <%= f.hidden_field :plan_id, value: params[:plan_id] %>  
      <% end %> 

      <%= f.submit t(:saves), class: "btn btn-info" %>
    </div> 





<% end #end form %> 