<%
@category = category
%>

      <% if @category && !@category['data'].blank? %>
      <h1>โครงการ : <%= @category['data']['title'] rescue nil %></h1>

      <table class="table table-bordered my-6">
        <tr>
          <th class="w-250px">หน่วยงาน</th>
          <td class="min-w-250px"><%= @category['data']['institution']['title'] rescue nil %></td>
        </tr>
        <tr>
          <th class="w-250px">ประเด็นยุทธศาสตร์</th>
          <td class="min-w-250px"><%= @category['data']['strategic_issue']['title'] rescue nil %></td>
        </tr>
        <tr>
          <th>วัตถุประสงค์ของโครงการ</th>
          <td>
            <% @category['data']['category_objectives'].each_with_index do |category_objective, idx| %>
            <p><%=  category_objective['title'] rescue nil %> </p>
            <% end %>
          </td>
        </tr>
      </table>


      <div class="-table-responsive py-5">



        <table id="items" class="table table-bordered" style="text-left">
          <thead style="width:auto;text-align:center; background-color: #d9dbff;">
            <tr>
              <th class="text-center">รหัส</th>
              <th>ขั้นตอน</th>
              <th>วัตถุประสงค์ของขั้นตอน</th>
              <th>ความเสี่ยงที่อาจเกิดขึ้น</th>
              <th>ปัจจัยเสี่ยง</th>
              <th>กิจกรรมการควบคุม</th>
            </tr>
          </thead>

          <tbody>
            <% @category['data']['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idx| %>
            <tr style="border-top: 3px solid #cccccc;">
              <td class="text-center">
                <%= list['activity_no'] rescue nil %>
              </td>
              <td>
                <ul style="list-style-type: none">
                  <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                  <h6><%= list_activity['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></h6>
                  <span><%= list_activity['description'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></span> 
                  <div><%= get_status_tasks(list_activity['status']) %></div>
                  <% end %>  
                </ul>     
              </td>
              <td>
                <ul style="list-style-type: none">
                  <% list['list_objectives'].each do |list_objective| %>
                  <li><%= list_objective['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
                  <% end %>  
                </ul>

              </td>

              <td>
                <ul style="list-style-type: none">
                  <% list['list_risks'].each do |list_risk| %>
                  <li><%= list_risk['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
                  <% end %>  
                </ul>
              </td>

              <td>
                <ul style="list-style-type: none">
                  <% list['list_risk_factors'].each do |list_risk_factor| %>
                  <li><%= list_risk_factor['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
                  <% end %>  
                </ul>
              </td>

              <td>
                <ul style="list-style-type: none">
                  <% list['list_activity_controls'].each do |list_activity_control| %>
                  <li><%= list_activity_control['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
                  <% end %>  
                </ul>
              </td>



            </tr>
            <% end %>
          </tbody>

        </table>





      </div>

      <!-- Start RM 1 -->


      <div class="text-muted text-end mt-15"> แบบฟอร์ม RLPD RM-1</div>
      <h1 class="text-center"> การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน</h1>
      
      <h2 class="text-gray-800 fw-bolder fs-6 mt-3">หน่วยงาน : <%= @category['data']['institution']['title'] rescue nil %></h2>
      
      <h2 class="text-gray-800 fw-bolder fs-6 mt-3">ประเด็นยุทธศาสตร์ : <%=@category['data']['strategic_issue']['title'] rescue nil %></h2>
      
      <h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : <%= @category['data']['title'] rescue nil %></h2>
      
      <h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน :</h2>
   
      <ul style="list-style-type: none">
      <%  @category['data']['category_objectives'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category_objective, idx| %>
          <li><%=  category_objective['title'] rescue nil %> </li>
      <% end %>
    </ul>

      <div class="-table-responsive py-5">


      <table id="items" class="table table-bordered" style="text-left">
<thead style="width:auto;text-align:center; background-color: #d9dbff;">
<tr valign="middle">
  <th>กิจกรรม</th>
  <th>วัตถุประสงค์</th>
  <th>ความเสี่ยง</th>
  <th>ปัจจัยเสี่ยง</th>
  <th>รหัสปัจจัยเสี่ยง</th>
  <th>ประเภทความเสี่ยง</th>
  <th colspan=4>การวิเคราะห์ความเสี่ยง</th>

</tr>

<tr valign="middle">
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th>โอกาส</th>
  <th>ผลกระทบ</th>
  <th>คะแนนความเสี่ยง</th>
  <th>ลำดับความเสี่ยง</th>

</tr>
</thead>
<% @category['data']['plan_reports'].each do |plan_report| %>

<% plan_report['tasks'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |task,idx| %>
      <tr valign="top">
      <td>
          <% if !task['list'].blank? %>
              <% task['list']['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                  <h6 class=""><%= list_activity['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></h6>
                  <p class="mb-3"><%= list_activity['description'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></p>
              <% end %>
          <% end %>
      </td>

      <td>
      <ul style="list-style-type: none">
          <% if !task['list'].blank? %>
              <% task['list']['list_objectives'].sort_by{|i| i['order_sort'].to_i}.each do |list_objective| %>
              <li><%= list_objective['title'] rescue nil %></li>
              <% end %>
          <% end %>
      </ul>
  </td>
  <td>
      <ul style="list-style-type: none">
          <% if !task['list'].blank? %>
              <% task['list']['list_risks'].sort_by{|i| i['order_sort'].to_i}.each do |list_risk| %>
              <li><%= list_risk['title'] rescue nil %></li>
              <% end %>
          <% end %>
      </ul>
  </td>
  <td>
      <ul style="list-style-type: none">
          <% if !task['list'].blank? %>
              <% task['list']['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each do |list_risk_factor| %>
              <li><%= list_risk_factor['title'] rescue nil %></li>
              <% end %>
          <% end %>
      </ul>
  </td>
   <td>
   <ul style="list-style-type: none">
          <% if !task['list'].blank? %>
              <% task['list']['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each do |list_risk_factor| %>
              <li><%= list_risk_factor['list_code']  rescue nil %></li>
              <% end %>
          <% end %>
      </ul>
  </td>
  <td>
  <ul style="list-style-type: none">
        
              <% task['list']['list_risk_factors'].each do |list_risk_factor| %>
                <% list_risk_factor['list_risk_types'].each do |list_risk_type| %>
                  <li><%= list_risk_type['risk_type']['title']  rescue nil %></li>
                  <% end %>
              <% end %>
      
      </ul>
  </td>
  <td align="center">
        <ul style="list-style-type: none">
              <% task['list']['list_risk_factors'].each do |list_risk_factor| %>
                 <li><b><%= list_risk_factor['risk_chance'] rescue nil %></b></li>
              <% end %>
          </ul>
    </td>
    

  <td align="center">
      <ul style="list-style-type: none">
        <% task['list']['list_risk_factors'].each do |list_risk_factor| %>
          <li><b><%= list_risk_factor['risk_effect'] rescue nil %></b></li>
          <% end %>
      </ul>
  </td>

  <td align="center">
  <ul style="list-style-type: none">
    <% task['list']['list_risk_factors'].each do |list_risk_factor| %>
      <li><b><%= list_risk_factor['risk_score_cal'] rescue nil %></b></li>
      <% end %>
  </ul>
</td>

<td align="center">
<ul style="list-style-type: none">
  <% task['list']['list_risk_factors'].each do |list_risk_factor| %>
    <li><b><%= list_risk_factor['risk_score'] rescue nil %></b></li>
    <% end %>
</ul>

<% end %>

<% end %> <!-- end  plan_report -->
      </table>

</div> <!-- table-responsive py-5 -->

      <!-- END RM 1 -->



      <!-- Start RM1-1 -->

      <div class="text-muted text-end mt-15">แบบฟอร์ม RLPD RM-1 (1)</div>
      <h1 class="text-center"> การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน</h1>
      
      <h2 class="text-gray-800 fw-bolder fs-6 mt-3">หน่วยงาน : <%= @category['data']['institution']['title'] rescue nil %></h2>
      
      <h2 class="text-gray-800 fw-bolder fs-6 mt-3">ประเด็นยุทธศาสตร์ : <%= @category['data']['strategic_issue']['title'] rescue nil %></h2>
      
      <h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : <%=  @category['data']['title'] rescue nil %></h2>
      
      <h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน :</h2>
      
      <ul>
        <%  @category['data']['category_objectives'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category_objective, idx| %>
            <li><%=  category_objective['title'] rescue nil %> </li>
        <% end %>
      </ul>
      
      
      <div class="table-responsive py-5">
      <table id="items" class="table table-bordered" style="text-left">
        <thead style="width:auto;text-align:center; background-color: #d9dbff;">
          <tr valign="middle">
            <th>ขั้นตอน</th>
            <th>รหัสปัจจัยเสี่ยง</th>
            <th>ระบุปัจจัยเสี่ยง</th>
            <th>โอกาส</th>
            <th>คำอธิบาย</th>
            <th>ผลกระทบที่ได้รับ</th>
            <th>คำอธิบาย</th>
      
          </tr>
        </thead>
      <% @category['data']['plan_reports'].each do |plan_report| %>
              <% plan_report['risk_analysis_reports'].each do |risk_analysis_report| %>
      
                      <% risk_analysis_report['risk_analyses'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |risk_analysis,idx| %>
                              <tr valign="top">
                              <td>
                                      <ul style="list-style-type: none">
                                              <% if !risk_analysis['task']['list'].blank? %>
                                                      <% risk_analysis['task']['list']['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                                                              <p><b><%= list_activity['title']  rescue nil %></b></p></li>
                                                              <li><%= list_activity['description']  rescue nil %></li>
                                                      <% end %>
                                              <% end %>
                                      </ul>
                              </td>
      
                              <td>  <%= risk_analysis['list_risk_factor']['list_code'] rescue nil  %>

                              </td>
      
                              <td>
                              <%= risk_analysis['list_risk_factor']['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil  %>
                              </td>
      
                              <td>
                                  <center><%= risk_analysis['list_risk_factor']['risk_chance'] rescue nil  %></center>
                             </td>
      
                              <td>
                                      <%= risk_analysis['risk_analysis_chances'][0]['title'] rescue nil %>
                              </td>
      
                              <td>
                              <center><%= risk_analysis['list_risk_factor']['risk_effect'] rescue nil  %></center>
                              </td>
                              <td>
                     
                                      <%= risk_analysis['risk_analysis_effects'][0]['title'] rescue nil %>
                              </td>
                      <% end %>
              <% end %>
      <% end %>   
      
      </table>
      </div> <!-- table-responsive py-5 -->
      <!-- End RM 1-1 -->


      <!-- Start RM-2 -->



      <div class="text-muted text-end mt-15">แบบฟอร์ม RLPD RM-2</div>
      <h1 class="text-center"> การประเมินผลการควบคุมและการจัดการความเสี่ยงโครงการ/กระบวนงาน</h1>
      
      
      <h2 class="text-gray-800 fw-bolder fs-6 mt-3">หน่วยงาน : <%= @category['data']['institution']['title'] rescue nil %></h2>
      
      <h2 class="text-gray-800 fw-bolder fs-6 mt-3">ประเด็นยุทธศาสตร์ : <%= @category['data']['strategic_issue']['title'] rescue nil %></h2>
      
      <h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : <%= @category['data']['title'] rescue nil %></h2>
      
      <h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน :</h2>
      
      <ul>
        <% @category['data']['category_objectives'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category_objective, idx| %>
            <li><%=  category_objective['title'] rescue nil %> </li>
        <% end %>
      </ul>
      
      
      <div class="-table-responsive py-5">
      <table id="items" class="table table-bordered" style="text-left">
        <thead style="width:auto;text-align:center; background-color: #d9dbff;">
          <tr valign="middle">
            <th>กิจกรรม</th>
            <th>รหัสปัจจัยเสี่ยง</th>
            <th>ปัจจัยเสี่ยง</th>
            <th colspan=4>กลยุทธ์ที่ใช้ </br> (ทำเครื่องหมาย ✔)</th>
            <th>กิจกรรมการควบคุมภายในหรือการจัดการที่มีอยู่ (กรณียังไม่มีให้ระบุว่า “ไม่มี”) </th>
            <th colspan=3>การจัดการที่มีอยู่</br> (ทำเครื่องหมาย ✔)</th>
            <th>การควบคุมที่ควรมี หรือ ปรับปรุง</th>
      
          </tr>
      
          <tr valign="middle">
            <th></th>
            <th></th>
            <th></th>
            <th>ยอมรับความเสี่ยง</th>
            <th>หลีกเลี่ยงความเสี่ยง</th>
            <th>ถ่ายโอนความเสี่ยง</th>
            <th>ควบคุม/ลดความเสี่ยง</th>
            <th></th>
            <th>เพียงพอ</th>
            <th>พอใช้</th>
            <th>ต้องปรับปรุง</th>
            <th></th>
      
          </tr>
        </thead>
              <% @category['data']['plan_reports'].each do |plan_report| %>
              
                      <% plan_report['risk_analysis_reports'].each do |risk_analysis_report| %>
                             <% risk_analysis_report['task_plan_reports'].each do |task_plan_report| %>
                              <% task_plan_report['task_lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |task_list,idx| %>
                                     
                                     <%
                                     url = URI("#{$server[@controller_title]}/api/v1/risk_analysises/#{task_list['risk_analyses_id']}")
                                     risk_analyses = request_api(url,'get',nil)['data']
                                     %>
      
                                     <tr valign="top">
                                              <td>
                                              <ul style="list-style-type: none">
                                              <% risk_analyses['task']['list']['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                                              <h6><%= list_activity['title'] rescue nil %></h6>
                                              <li><span><%= list_activity['description'] rescue nil %></span></li>
                                              <div><%= get_status_tasks(list_activity['status']) %></div>
                                              <% end %>  
                                            </ul>   
                                              </td>
      
      
                                              <td>
                                              <%= task_list['list_risk_factor']['list_code']  rescue nil %>
                                              </td>
                  
                                              <td>
                                              <%= task_list['list_risk_factor']['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %>
                                              </td>
      
                                              <td>
                                                      <label class="radio">
      
                                                              <input type="checkbox" disabled= "disabled" name="task_list[<%= idx %>][risk_accept]" value="true" <%= "checked".html_safe if task_list['risk_accept'] == true %> />
                                                              <span></span>
                                                      </label>
                                              </td>
      
      
                                              <td>
                                                      <label class="radio">
                                                      
                                                              <input type="checkbox" disabled= "disabled" name="task_list[<%= idx %>][risk_avert]" value="true" <%= "checked".html_safe if task_list['risk_avert'] == true %> />
                                                              <span></span>
                                                      </label>
                                              </td>
      
                                              <td>
                                                      <label class="radio">
                                      
                                                              <input type="checkbox"  disabled= "disabled" name="task_list[<%= idx %>][risk_transfer]" value="true" <%= "checked".html_safe if task_list['risk_transfer'] == true %> />
                                                              <span></span>
                                                      </label>
                                              </td>
      
                                              <td>
                                                      <label class="radio">
                                                      
                                                      <input type="checkbox"  disabled= "disabled" name="task_list[<%= idx %>][risk_control]" value="true" <%= "checked".html_safe if task_list['risk_control'] == true %> />
                                                      <span></span>
                                                      </label>
                                              </td>
      
      
                                              <td>
                                              <%= task_list['title_activity_control'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %>
                                              </td>
      
      
                                              <td align="center">
                                                      <label class="radio">
                                                      <input type="radio" disabled name="task_list[<%= idx %>][existing_manage]" value="enough" <%= "checked".html_safe if task_list['existing_manage'] == 'enough' %> />
                                                      <span></span>
                                                      </label>
                                              </td>
      
                                              <td align="center">
                                                      <label class="radio">
                                                      <input type="radio" disabled name="task_list[<%= idx %>][existing_manage]" value="fair" <%= "checked".html_safe if task_list['existing_manage'] == 'fair' %> />
                                                      <span></span>
                                                      </label>
                                              </td>
      
                                              <td align="center">
                                                      <label class="radio">
                                                      <input type="radio" disabled name="task_list[<%= idx %>][existing_manage]" value="adjust" <%= "checked".html_safe if task_list['existing_manage'] == 'adjust' %> />
                                                      <span></span>
                                                      </label>
                                              </td>
      
                                              <td>
                  
                                                      <%= task_list['task_list_controls'][0]['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %>
                                              </td>
      
      
                                      </tr>
      
                              <% end %>
                      <% end %>
                      <% end %>
              
              <% end %> <!-- end plan_report -->
      
        </table>
        </div> <!-- table-responsive py-5 -->
<!-- Stert Signature -->


<%# if params['print'] == true %>

<!--Start Block Query Signature -->

<% @category['data']['plan_reports'].each do |plan_report| %>
              
  <% plan_report['risk_analysis_reports'].each do |risk_analysis_report| %>

        <% risk_analysis_report['task_plan_reports'].each do |task_plan_report| %>

          <% task_plan_report['task_plan_report_users'].each do |task_plan_report_user| %>
           
<!-- Start -->
<%
case task_plan_report_user['user_role']['title_slug']
when 'editor-head'
  #check สถานะการ Approve ของ editor-head ถ้า Approved ให้แสดงข้อมูลชื่อและลายเซ็นต์
  if task_plan_report_user['user_role']['title_slug'] == 'editor-head' && task_plan_report_user['status'] == 'approved'

  @head = "#{(task_plan_report_user['user']['firstname'] rescue nil)} #{(task_plan_report_user['user']['lastname'] rescue nil)}"
  @position = "#{(task_plan_report_user['title'] rescue nil)}"
  @head_sign = "#{(task_plan_report_user['user']['file_url_thumbnail'] rescue nil)}"
  @position_sign = "#{(task_plan_report_user['user_role']['title']rescue nil)}"

  else
    @head = ""
    @head_sign = ""
    @position_sign = ""
  end 

  when 'editor'

   #check สถานะการ Approve ของ editor ถ้า Approved ให้แสดงข้อมูลชื่อและลายเซ็นต์
  if task_plan_report_user['user_role']['title_slug'] == 'editor' && task_plan_report_user['status'] == 'approved'

    @editor = "#{(task_plan_report_user['user']['firstname'] rescue nil)} #{(task_plan_report_user['user']['lastname'] rescue nil)}"
    @editor_sign = "#{(task_plan_report_user['user']['file_url_thumbnail'] rescue nil)}"
    @position_sign = "#{(task_plan_report_user['user_role']['title']rescue nil)}"

     else
  @editor = ""
  @editor_sign = ""
  @position_sign = ""
    end 

end
%>


<!-- end -->


          <% end %> <!-- task_plan_report_user -->

        <% end %> <!-- end task_plan_report -->
          
  <% end %> <!-- end risk_analysis_report -->

<% end %> <!-- end plan_report -->


<!--End Block Query Signature -->
<div id="signature" class="d-flex align-items-center justify-content-center">

<div class="min-w-300px">

</div>

<div class="min-w-300px" style="margin-top: 100px">

</div>

<div class="min-w-300px">

<%= render partial: '/share/block_signature', locals:{ image: "#{@head_sign rescue nil}", fullname: "#{@head rescue nil}", position: "#{@position_sign rescue nil}"} %>

</div>
</div>
<%# end %> <!-- end params[print] -->
<!-- End Signature -->


      <!-- End RM-2 -->
      

      <!-- Start RM-3 -->
      <div class="text-muted text-end mt-15">แบบฟอร์ม RLPD RM-3</div>
      <h1 class="text-center"> แผนบริหารความเสี่ยงโครงการ</h1>
      
      
      <h2 class="text-gray-800 fw-bolder fs-6 mt-3">หน่วยงาน : <%= @category['data']['institution']['title'] rescue nil %></h2>
      
          <h2 class="text-gray-800 fw-bolder fs-6 mt-3">ประเด็นยุทธศาสตร์ : <%= @category['data']['strategic_issue']['title'] rescue nil %></h2>
      
          <h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : <%= @category['data']['title'] rescue nil %></h2>
      
          <h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน :</h2>
      
          <ul>
            <% @category['data']['category_objectives'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category_objective, idx| %>
                <li><%=  category_objective['title'] rescue nil %> </li>
            <% end %>
          </ul>
      
      
      
      
      
      <div class="table-responsive py-5">
            <table id="items" class="table table-bordered" style="text-left">
              <thead style="width:auto;text-align:center; background-color: #d9dbff;">
                 <tr valign="middle" >
                      <th>กิจกรรม/ขั้นตอน</th>
                      <th>รหัสปัจจัยเสี่ยง</th>
                      <th>ปัจจัยเสี่ยง</th>
                      <th>มาตรการจัดการความเสี่ยง</th>
                      <th>เป้าหมาย/ผลสำเร็จของมาตรการจัดการความเสี่ยง</th>
                      <th>ระยะเวลาดำเนินการ/ผู้รับผิดชอบ</th>
                      <th>หมายเหตุ</th>
                    </tr>
              </thead>
      
      
              <% @category['data']['plan_reports'].each do |plan_report| %>
                <% plan_report['risk_analysis_reports'].each do |risk_analysis_report| %>
                        <% risk_analysis_report['task_plan_reports'].each do |task_plan_report| %>
              
                                <% task_plan_report['risk_management_reports'].each do |risk_management_report| %>
      
                                  <% risk_management_report['risk_managements'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |risk_management,idx| %>
      
      
                                    <%
                                    url = URI("#{$server[@controller_title]}/api/v1/risk_analysises/#{risk_management['task_list']['risk_analyses_id']}")
                                    risk_analyses = request_api(url,'get',nil)['data']
                                    %>
      
      
                                    <tr valign="top">
                                      <td>
                                      <ul style="list-style-type: none">
                                      <% if !risk_analyses['task']['list'].blank? %>
                                          <% risk_analyses['task']['list']['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                                          <h6><%= list_activity['title'] rescue nil %></h6>
                                          <span><%= list_activity['description'] rescue nil %></span> 
                                          <div><%= get_status_tasks(list_activity['status']) %></div>
                                          <% end %>  
                                      <% end %>  
                                    </ul> 
      
                                      </td>
      
      
                                      <td>
                                      <%= risk_management['list_risk_factor']['list_code'] rescue nil %>
                                      </td>
                                      
                                      <td>
                                      <ul style="list-style-type: none">

                                      <li><%= risk_management['list_risk_factor']['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
                                   
                           
                                    </ul>
                                      </td>
                          
                                      <td>
                                          
                                      <ul style="list-style-type: none">
                    <% if !risk_management['task_list']['task_list_controls'].blank? %>
                        <% risk_management['task_list']['task_list_controls'].sort_by{|i| i['order_sort'].to_i}.each do |task_list_control| %>
                        <li><%= task_list_control['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
                        <% end %>
                    <% end %>
                </ul>
                                       
                                      </td>
                          
      
                                      <!-- เป้าหมาย/ผลสำเร็จของมาตรการจัดการความเสี่ยง-->
                                      <td>
                           
                                              <%= risk_management['risk_management_targets'][0]['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %>
                                        
                                      </td>
                                    <!-- ระยะเวลาดำเนินการ/ผู้รับผิดชอบ-->
                                    <td>   
                                   
                                         <center><%= convert_thai_date(risk_management['success_date'],'default') rescue nil %></center> <br>
                                         <center>/</center>
                                         <center> <%= risk_management['risk_management_institutions'][0]['title']  rescue nil %></center>
                                  
                                    </td>
                          
                                    
                                    <!-- หมายเหตุ-->
                                    <td>
      
                                          <%= risk_management['risk_management_remarks'][0]['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %>
                                  
                                    </td>          
                          
      
                                    </tr>
      
                                  <% end %>  <!-- risk_management_report -->
      
                                  
              
                                <% end %>  <!-- end task_plan_report -->
                        <% end %>  <!-- end risk_analysis_report -->
                <% end %> <!-- end plan_report -->
              <% end %> <!-- end category -->
      
      
            </table>
        </div>  <!-- table-responsive py-5 -->
<!-- Start Block::Sign -->

<%#= params['print'] %>

<%
  #              if params['print'] == true 

                        #render find by position

        @category['data']['plan_reports'].each do |plan_report| 
              plan_report['risk_analysis_reports'].each do |risk_analysis_report| 
                  risk_analysis_report['task_plan_reports'].each do |task_plan_report| 
                        
                      task_plan_report['risk_management_reports'].each do |risk_management_report| 
                          risk_management_report['risk_management_report_users'].each do |risk_management_report_user|
                        
                          case risk_management_report_user['user_role']['title_slug']
                            when 'editor-head'
                              #check สถานะการ Approve ของ editor-head ถ้า Approved ให้แสดงข้อมูลชื่อและลายเซ็นต์
                              if risk_management_report_user['user_role']['title_slug'] == 'editor-head' && risk_management_report_user['status'] == 'approved'
                           
                              @head = "#{(risk_management_report_user['user']['firstname'] rescue nil)} #{(risk_management_report_user['user']['lastname'] rescue nil)}"
                              @head_sign = "#{(risk_management_report_user['user']['file_url_thumbnail'] rescue nil)}"
                              @position_sign = "#{(risk_management_report_user['user_role']['title']rescue nil)}"
                              else
                                @head = ""
                                @head_sign = ""
                                @position_sign =""
                              end 
                    
                              when 'editor'
                    
                               #check สถานะการ Approve ของ editor ถ้า Approved ให้แสดงข้อมูลชื่อและลายเซ็นต์
                              if risk_management_report_user['user_role']['title_slug'] == 'editor' && risk_management_report_user['status'] == 'approved'
                            
                                @editor = "#{(risk_management_report_user['user']['firstname'] rescue nil)} #{(risk_management_report_user['user']['lastname'] rescue nil)}"
                                @editor_sign = "#{(risk_management_report_user['user']['file_url_thumbnail'] rescue nil)}"
                                @position_sign = "#{(risk_management_report_user['user_role']['title']rescue nil)}"
                            
                                 else
                              @editor = ""
                              @editor_sign = ""
                              @position_sign =""
                                end 
                    
                            end
                         end
                    end

              end 
                    
            
         end
end
#end
%>




        <div id="signature" class="d-flex align-items-center justify-content-center">

                <div class="min-w-300px">
   
                </div>

                <div class="min-w-300px" style="margin-top: 100px">
    
                </div>

                <div class="min-w-300px">
               
                <%= render partial: '/share/block_signature', locals:{ image: "#{@head_sign rescue nil}", fullname: "#{@head rescue nil}", position: "#{@position_sign rescue nil}"} %>
    
                </div>
        </div>
<!-- End Block::Sign -->
        
      <!-- End RM-3 -->



      <!-- Start RM-4 -->

<% @category['data']['plan_reports'].each do |plan_report| %>
  <% plan_report['risk_analysis_reports'].each do |risk_analysis_report| %>
          <% risk_analysis_report['task_plan_reports'].each do |task_plan_report| %>
                  <% task_plan_report['risk_management_reports'].each do |risk_management_report| %>
                          <% risk_management_report['follow_up_risk_reports'].each do |follow_up_risk_report| %>




<div class="text-muted text-end mt-15">แบบฟอร์ม RM-4</div>
<h1 class="text-center"> แบบรายงานการติดตามผลการบริหารความเสี่ยง</h1>
  <div class="text-center">

    สำหรับงวดตั้งแต่วันที่ <%= convert_thai_date(follow_up_risk_report['period_report']['startdate'],'default') %> ถึง <%= convert_thai_date(follow_up_risk_report['period_report']['enddate'],'default') %>

  </div>




 <h2 class="text-gray-800 fw-bolder fs-6 mt-3">หน่วยงาน : <%= @category['data']['institution']['title'] rescue nil %></h2>

<h2 class="text-gray-800 fw-bolder fs-6 mt-3">ประเด็นยุทธศาสตร์ : <%= @category['data']['strategic_issue']['title'] rescue nil %></h2>

<h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : <%= @category['data']['title'] rescue nil %></h2>

<h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน :</h2>

  <ul>
      <% @category['data']['category_objectives'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category_objective, idx| %>
          <li><%=  category_objective['title'] rescue nil %> </li>
      <% end %>
  </ul>

  <div class="table-responsive py-5">
  <table id="items" class="table table-bordered" style="text-left">
    <thead style="width:auto;text-align:center; background-color: #d9dbff;">
       <tr valign="middle" >
          <th>กิจกรรม/ประเด็น/ความเสี่ยง/ปัจจัยเสี่ยง</th>
          <th>แนวทางการจัดการความเสี่ยง</th>
          <th>เป้าหมาย/ผลสำเร็จของการดำเนินกิจกรรมตามแนวทางการจัดการความเสี่ยง</th>
          <th>กำหนดการ</th>
          <th>ผลลัพธ์ของการจัดการความเสี่ยง</th>
          <th>แล้วเสร็จ</th>
          <th>% ความคืบหน้า</th>
          <th>ปัญหา อุปสรรคและแนวทางแก้ไข</th>
          <th></th>
        </tr>
    </thead>
    <% follow_up_risk_report['follow_up_risks'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |follow_up_risk,idx| %>
      <%
      url = URI("#{$server[@controller_title]}/api/v1/risk_analysises/#{follow_up_risk['risk_management']['task_list']['risk_analyses_id']}")
      risk_analyses = request_api(url,'get',nil)['data']
      %>

      <%
      url = URI("#{$server[@controller_title]}/api/v1/task_lists/#{follow_up_risk['risk_management']['task_list_id']}")
      task_lists = request_api(url,'get',nil)['data']
      %>

      <%
      url = URI("#{$server[@controller_title]}/api/v1/risk_managements/#{follow_up_risk['risk_management_id']}")
      risk_managements = request_api(url,'get',nil)['data']
      %>


      <tr valign="top">
      <td>

          <ul style="list-style-type: none">
              <% if !risk_analyses['task']['list'].blank? %>
                  <% risk_analyses['task']['list']['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                  <h6><%= list_activity['title'] rescue nil %></h6>
                  <span><%= list_activity['description'] rescue nil %></span> 
                  <div><%= get_status_tasks(list_activity['status']) %></div>
                  <% end %>
              <% end %>
            </ul>  
            <p><b>ปัจจัยเสี่ยง</b></p>
            <ul style="list-style-type: none">
                <li><%= follow_up_risk['list_risk_factor']['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
            </ul>

      </td>

      <td>
                  <% task_lists['task_list_controls'].sort_by{|i| i['order_sort'].to_i}.each do | task_list_control |  %>
                    <%= task_list_control['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %>
                  <% end %>
      </td>
      
      <td>
              <% risk_managements['risk_management_targets'].sort_by{|i| i['order_sort'].to_i}.each do |risk_management_target| %>
               <%= risk_management_target['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %>
              <% end %>
      
      </td>
      <!-- กำหนดการ -->
      <td>
      
      <% if !follow_up_risk['risk_management'].blank? %>
      <center><%= convert_thai_date(follow_up_risk['risk_management']['success_date'],'default') rescue nil %> </center>
      <% end %>
      <center><label>/</label></center>
      <% if !follow_up_risk['risk_management']['risk_management_institutions'].blank? %>
      <% follow_up_risk['risk_management']['risk_management_institutions'].each do |risk_management_institution| %>
        <center><%= risk_management_institution['title'] rescue nil %></center>
        <% end %>
    <% end %>

      </td>

      <td>
      

      
      <%= follow_up_risk['risk_management_results'][0]['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %>
      </td>
      <!-- ระยะเวลาดำเนินการ -->
      <td>
      

      <center><%= convert_thai_date(follow_up_risk['success_date'],'default') rescue nil %> </center>

      <center><label>/</label></center>
     
      <center><%= follow_up_risk['success_date_title'] rescue nil %> </center>
      </td>

      <td>
      <%= follow_up_risk['risk_progress'] rescue nil %>
      </td>

      <td>
     
      <%= follow_up_risk['risk_management_issues'][0]['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %>
      </td>

        </tr>

    <% end %>
    </table>


    </div>


  <% end %> <!-- end risk_management_report %>
  <% end %> <!-- end task_plan_report -->
<% end %> <!-- end risk_analysis_report -->
<% end %> <!-- end plan_report -->
<% end %>  <!-- end category -->
<!-- End RM-4 -->

<div class="separator separator-dashed separator-border-2 my-10"></div>
      <% end %>  <!-- end category && !@category['data'].blank? -->