<div class="toolbar py-5 py-lg-15" id="kt_toolbar">
                  <!--begin::Container-->
                  <div id="kt_toolbar_container" class="container-xxl d-flex flex-stack flex-wrap">
                     <!--begin::Page title-->
                     <div class="page-title d-flex flex-column me-3">
                        <!--begin::Title-->
                        <h1 class="d-flex text-white fw-bolder my-1 fs-3"><%= t(:km_management)%></h1>
                        <!--end::Title-->
                        <!--begin::Breadcrumb-->
                        <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                           <!--begin::Item-->
                           <li class="breadcrumb-item text-white opacity-75">
                              <a href="/<%= @controller_title %>/lists" class="text-white text-hover-primary"><%= t(:home)%></a>
                           </li>
                           <!--end::Item-->
                           <!--begin::Item-->
                           <li class="breadcrumb-item">
                              <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
                           </li>
                           <!--end::Item-->
                           <!--begin::Item-->
                           <li class="breadcrumb-item text-white opacity-75"><%= t(:user_management)%></li>
                           <!--end::Item-->
                           <!--begin::Item-->
                        </ul>
                        <!--end::Breadcrumb-->
                     </div>
                     <!--end::Page title-->
                     <!--begin::Actions-->
                     <div class="d-flex align-items-center py-3 py-md-1">
                        <!--begin::Wrapper-->
                        <div class="me-4">
                           <!--begin::Menu-->
                           <a href="../../#{@controller_title}/users" class="btn btn-custom btn-active-white btn-flex btn-color-white btn-active-color-primary fw-bolder" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                           <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
                           
                           <!--end::Svg Icon--><%= t(:manage)%> User</a>
                           
                           <!--end::Menu-->
                        </div>
                        <!--end::Wrapper-->
                        <!--begin::Button-->
                        <a href="/<%= @controller_title %>/admin_main_form" class="btn btn-bg-white btn-active-color-primary"><%= t(:manage) %><%= t(:forms) %></a>
                        <!--end::Button-->
                     </div>
                     <!--end::Actions-->
                  </div>
                  <!--end::Container-->
               </div>