<%
@evaluate_control_report = evaluate_control_report if evaluate_control_report
evaluate_control_report_user_status = nil
ctrl_readonly =''
@evaluate_control_report['data']['evaluate_control_report_users'].each do |evaluate_control_report_user|

   if evaluate_control_report_user['user_role']['slug'] == 'approver'  && evaluate_control_report_user['status'] == 'approved' 
      evaluate_control_report_user_status = evaluate_control_report_user['status']
      ctrl_readonly = 'readonly'
  end
end 
%>

    <%= form_for('evaluate_control_report', url: "/#{gen_form[0]}/evaluate_control_reports#{gen_form[1]}" , method: gen_form[2]) do |f| %>

   

    <div class="table-responsive py-5">
      <table id="items" class="table table-bordered" style="text-left">
        <thead style="width:auto;text-align:center; background-color: #d9dbff;">
           <tr valign="middle" >
            <th style="width: 35%;">ภารกิจตามกฎหมายที่จัดตั้งหน่วยงานของรัฐหรือภารกิจตามแผนการดำเนินการหรือภารกิจอื่นๆ ที่สำคัญของหน่วยงานของรัฐ/วัตถุประสงค์</th>
            <th style="width: 15%;">ความเสี่ยง</th>
            <th style="width: 10%;">การควบคุมภายในที่มีอยู่</th>
            <th style="width: 10%;">การประเมินผลการควบคุมภายใน</th>
            <th style="width: 10%;">ความเสี่ยงที่ยังมีอยู่</th>
            <th style="width: 10%;">การปรับปรุงการควบคุมภายใน</th>
            <th style="width: 10%;">หน่วยงานที่รับผิดชอบ/กำหนดเสร็จ</th>
          </tr>
        </thead>
        <tr>
        <td colspan="7">
          <b><%= @evaluate_control_report['data']['plan_report']['category']['institution']['title'] rescue nil %></b>
          
        </td>
      </tr>
        <tr>
          <td colspan="7">
            <b><%= @evaluate_control_report['data']['plan_report']['category']['title'] rescue nil %></b>
            
          </td>
        </tr>

        <tr>
          <td colspan="7">
            <b>วัตถุประสงค์ </b><br>
            <% if @evaluate_control_report && !@evaluate_control_report['data'].blank? && !@evaluate_control_report['data']['plan_report'].blank? && !@evaluate_control_report['data']['plan_report']['category'].blank? %>
            <% @evaluate_control_report['data']['plan_report']['category']['category_objectives'].sort_by{|i| i['order_sort'].to_i}.each do |category_objective| %>
              <p class="mb-3"><%= category_objective['title'] rescue nil %></p>
             <% end %>
             <% end %>
          </td>
        </tr>

        <% if @evaluate_control_report && !@evaluate_control_report['data'].blank? %>

        <% @evaluate_control_report['data']['evaluate_controls'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |evaluate_control, idx| %>
   

          <tr valign="top">
            <td>
            <% if !evaluate_control['task_list'].blank? %>
            <% evaluate_control['task_list']['list']['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity,idx| %>
              <h6 class=""><%= list_activity['title'] rescue nil %></h6>
              <p class="mb-3"><%= list_activity['description'] rescue nil %></p>
              <% end %>
             <% end %>
            </td>

            <td>
             <!-- ความเสี่ยง -->
             <% if !evaluate_control['task_list'].blank? %>
            <% evaluate_control['task_list']['list']['list_risks'].sort_by{|i| i['order_sort'].to_i}.each do |list_risk| %>
            
              <p class="mb-3"><%= list_risk['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></p>
              <% end %>
             <% end %>
            </td>

            <td>
            <!-- การควบคุมภายในที่มีอยู่ -->
            <% if !evaluate_control['task_list'].blank? %>
            <ul style="list-style-type: none">
            <%= evaluate_control['task_list']['title_activity_control'] rescue nil %>
            <% evaluate_control['task_list']['list']['list_risks'].sort_by{|i| i['order_sort'].to_i}.each do |list_risk| %>

                      <li><%= list_risk['title_activity_control'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></li>
                  
            <% end %>
            </ul>
          <% end %> 
                   
            </td>
            <!-- การประเมินผลการควบคุมภายใน -->
             <td>
           <input type="hidden" name="evaluate_control[<%= idx %>][task_list_id]" class="form-control" value="<%= evaluate_control['task_list']['id'] rescue nil %>">
              <%= get_existing_manage(evaluate_control['task_list']['existing_manage']) rescue nil  %>
            </td>

            <!-- ความเสี่ยงที่ยังมีอยู่ -->
            <td>
            <% if !evaluate_control['task_list'].blank? %>
            <% evaluate_control['task_list']['list']['list_activities'].each do |la|  %>
              <p class="mb-3"><%= la['title'] rescue nil %></p>
              <p class="mb-3"><%= la['description'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></p>
            <% end %>
            <% end %>
            </td>
            
           <!-- การปรับปรุงการควบคุมภายใน -->
            <td>
            <% if !evaluate_control['task_list'].blank? %>
            <% evaluate_control['task_list']['task_list_controls'].each do |task_list_control|  %>
              <p class="mb-3"><%= task_list_control['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></p>
            <% end %>
            <% end %>
          </td>

          <td>
         
         
          <% if action_name == 'edit' %>
          <input type="hidden" class="form-control" name="evaluate_control[<%= idx %>][id]" value ="<%= @evaluate_control_report['data']['evaluate_controls'][idx]['id'] rescue nil  %>"/>
  
          <input type="text" class="form-control" <% if evaluate_control_report_user_status == 'approved' %> <%= ctrl_readonly %> <% end %> name="evaluate_control[<%= idx %>][title]" value ="<%= @evaluate_control_report['data']['evaluate_controls'][idx]['title'] rescue nil %>"/>

          <center><label> / </label></center>
       
          <input type="date" class="form-control" <% if evaluate_control_report_user_status == 'approved' %> <%= ctrl_readonly %> <% end %> name="evaluate_control[<%= idx %>][successdate]" value ="<%= @evaluate_control_report['data']['evaluate_controls'][idx]['successdate'].to_datetime.strftime('%Y-%m-%d') rescue nil %>"/>
        <% else %>
            <%= @evaluate_control_report['data']['evaluate_controls'][idx]['title'] %>
            <center><label> / </label></center>
            <%= convert_thai_date(@evaluate_control_report['data']['evaluate_controls'][idx]['successdate'], 'default') rescue nil %>
            
           
        <% end %>
          </td>

          </tr>
          <% end %>
          <% end %>

      </table>



    </div>



    <% if action_name == 'edit' &&  evaluate_control_report_user_status != 'approved' %>

      <%= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
    <% end %>  




<%

if action_name == 'print' 

    #render find by position
    evaluate_control_report['data']['evaluate_control_report_users'].each do |evaluate_control_report_user|
    
      case evaluate_control_report_user['user_role']['title_slug']
        when 'editor-head'
          #check สถานะการ Approve ของ editor-head ถ้า Approved ให้แสดงข้อมูลชื่อและลายเซ็นต์
          if evaluate_control_report_user['user_role']['title_slug'] == 'editor-head' && evaluate_control_report_user['status'] == 'approved'
       
          @head = "#{(evaluate_control_report_user['user']['firstname'] rescue nil)} #{(evaluate_control_report_user['user']['lastname'] rescue nil)}"
          @head_sign = "#{(evaluate_control_report_user['user']['file_url_thumbnail'] rescue nil)}"
          else
            @head = ""
            @head_sign = ""
          end 

          when 'editor'

           #check สถานะการ Approve ของ editor ถ้า Approved ให้แสดงข้อมูลชื่อและลายเซ็นต์
          if evaluate_control_report_user['user_role']['title_slug'] == 'editor' && evaluate_control_report_user['status'] == 'approved'
        
            @editor = "#{(evaluate_control_report_user['user']['firstname'] rescue nil)} #{(evaluate_control_report_user['user']['lastname'] rescue nil)}"
            @editor_sign = "#{(evaluate_control_report_user['user']['file_url_thumbnail'] rescue nil)}"
        
             else
          @editor = ""
          @editor_sign = ""
            end 

        end
     end








    %>


    
    <div id="signature" class="d-flex align-items-center justify-content-center">

    <div class="min-w-300px">
       
    </div>

    <div class="min-w-300px" style="margin-top: 100px">
        
    </div>

    <div class="min-w-300px">
    <%= render partial: '/share/block_signature', locals:{ image: "#{@head_sign rescue nil}", fullname: "#{@head rescue nil}", position: "หัวหน้า #{evaluate_control_report_user['title'] rescue nil}"} %>
        
    </div>
</div>

    <% end %>

<% end %>  