<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
back_url = "/#{@controller_main_url}/plans/#{@evaluate_control_report['data']['task_plan_report']['risk_analysis_report']['plan_report']['category']['plan_id']}" rescue nil
%>


<div class="container-fluid">


    <div class="text-end">
        <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
                    <% end %>
    </div>



    <%= form_for('evaluate_control_report', url: "/#{gen_form[0]}/evaluate_control_reports#{gen_form[1]}" , method: gen_form[2]) do |f| %>




    <div class="text-muted text-end mt-15">แบบฟอร์ม ปค. 5</div>
    <h1 class="text-center"> รายงานการประเมินผลการควบคุมภายใน <br>หน่วยงาน : <%= @evaluate_control_report['data']['task_plan_report']['risk_analysis_report']['plan_report']['category']['plan']['user']['institution']['title'] rescue nil %></h1>

    <div class="table-responsive py-5">
      <table id="items" class="table table-bordered" style="text-left">
        <thead style="width:auto;text-align:center; background-color: #d9dbff;">
           <tr valign="middle" >
            <th>ภารกิจตามกฎหมายที่จัดตั้งหน่วยงานของรัฐหรือภารกิจตามแผนการดำเนินการหรือภารกิจอื่นๆ ที่สำคัญของหน่วยงานของรัฐ/วัตถุประสงค์</th>
            <th>ความเสี่ยง</th>
            <th>การควบคุมภายในที่มีอยู่</th>
            <th>การประเมินผลการควบคุมภายใน</th>
            <th>ความเสี่ยงที่ยังมีอยู่</th>
            <th>การปรับปรุงการควบคุมภายใน</th>
            <th>หน่วยงานที่รับผิดชอบ/กำหนดเสร็จ</th>
          </tr>
        </thead>

        <tr>
          <td colspan="7">
            <b><%= @evaluate_control_report['data']['task_plan_report']['risk_analysis_report']['plan_report']['category']['title'] rescue nil %></b>
          </td>
        </tr>

        <tr>
          <td colspan="7">
            <b>วัตถุประสงค์ </b><br>
            <p><%= @evaluate_control_report['data']['task_plan_report']['risk_analysis_report']['plan_report']['category']['description'] rescue nil %></p>
          </td>
        </tr>

        <% if @evaluate_control_report && !@evaluate_control_report['data'].blank? %>

        <% @evaluate_control_report['data']['evaluate_controls'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |evaluate_control,idx| %>
            
          <!--   RM 1 -->
            <%
            url = URI("#{$server[@controller_title]}/api/v1/risk_analysises/#{evaluate_control['task_list']['risk_analyses_id']}")
            risk_analyses = request_api(url,'get',nil)['data']
            %>


          <input type="hidden" name="evaluate_control[<%= idx %>][id]" class="form-control" value="<%= evaluate_control['id'] rescue nil %>">
          <tr valign="top">
            <td>

                <ul>
                    <% if !risk_analyses['task']['list'].blank? %>
                        <% risk_analyses['task']['list']['list_activities'].each do |list_activity| %>
                        <h6><%= list_activity['title'] rescue nil %></h6>
                        <span><%= list_activity['description'] rescue nil %></span> 
                        <div><%= get_status_tasks(list_activity['status']) %></div>
                        <% end %>  
                    <% end %>  
                  </ul>  
            </td>

            <td>
             
       
                    <% if !risk_analyses['task']['list'].blank? %>
                        <% risk_analyses['task']['list']['list_risks'].each do |list_risk| %>
                          <ul><li>
                          <span><%= list_risk['title'] rescue nil %><span>
                          </li></ul>  
                        <% end %>  
                    <% end %>  
                
            </td>

            <td>
                
                    <% if !risk_analyses['task']['list'].blank? %>
                        <% risk_analyses['task']['list']['list_activity_controls'].each do |list_activity_control| %>
                          <ul><li>
                          <span><%= list_activity_control['title'] rescue nil %><span>
                          </li></ul>  
                        <% end %>  
                    <% end %>  
               
            </td>

            <td>

                    <% if !evaluate_control['task_list'].blank? %>
                     <%= evaluate_control['task_list']['existing_manage'] %>
                    <% end %>  

            </td>

            

            <td align="center">
              <%#= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @evaluate_control_report['data']['evaluate_control_report']['plan_report']['category']['plan']['master_plan_id'], model_name: 'evaluate_controles', model_title: nil, id: evaluate_control['id'], params: "original_url=#{request.path}"} %>
            </td>
          </tr>
          <% end %>
          <% end %>

      </table>



    </div>




    <%= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
  


    









<% end %>  


</div>