<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
back_url = "/#{@controller_main_url}/plans/#{@evaluate_control_report['data']['plan_report']['plan_id']}" rescue nil
%>


<div class="container-fluid">


    <div class="text-end">
        <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
        <% end %>

        <!-- add export -->
        <%= render '/share/block_btn_export', item: @plan_report, title: 'plan_report' %>
        <!-- end add export -->
    </div>


    <div class="text-muted text-end mt-15">แบบฟอร์ม ปค. 5</div>
    <h1 class="text-center my-6"> แบบรายงานการประเมินผลการควบคุมภายใน(แบบ ปค. 5)</h1>
    <h2 class="text-center my-6"> กรมคุ้มครองสิทธิและเสรีภาพ</h2>
    <h2 class="text-center my-6"> รายงานการประเมินผลการควบคุมภายใน</h2>
   
    <h2 class="text-center my-6"> สำหรับระยะเวลาการดำเนินงานสิ้นสุด <%= convert_thai_date(@evaluate_control_report['data']['plan_report']['category']['plan']['master_plan']['enddate'],'default')  rescue nil %></h2>

    <!-- add export -->
    <div id="export_content" class="">
    <div class="landscape_A4_page">
    <!-- end add export -->  

    <%= render 'form' ,evaluate_control_report: @evaluate_control_report %>

    <!-- add export -->
    </div>
    </div>
    <!-- end add export --> 

    <%= render partial: '/share/block_comments', locals:{ model_name: 'evaluate_control_report', id: @evaluate_control_report['data']['id']} %>
    <%= render partial: '/share/block_comments_history', locals:{ model_name: 'evaluate_control_report', id: @evaluate_control_report['data']['id']} %>

</div>