<!--begin::Kt_conten-->
<div class="container-fluid">
	<!--begin::Header-->

	<div class="row">
		<div class="col mb-5"> 
      <div class="float-start">
        <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:download) %></h2> 
      </div>
    </div>
    <div class="col mb-5">
      <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">

        <!--button:header-->
        <%= link_to "/#{@controller_title}/pages/master_data", class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>  <% end %>

      </div> 
    </div>
  </div>

  <!--end:Header-->

  <!--begin:Content-->

  <div class="card-show mb-5 mb-xl-8">
    <!--begin::Body-->
    <div class="card-body pt-3">
      <!--begin::Table container-->
      <div class="table-responsive">
        <!--begin::Table-->
        <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
          <!--begin::Table head-->
          <thead>
            <tr class="border-0">
              <th class="p-0 min-w-50px"><%= t(:order_sort) %></th>
              <th class="p-0 min-w-250px"><%= t(:file) %></th>
              <th class="p-0 min-w-100px"><%= t(:title) %></th>
              <th class="p-0 min-w-100px"></th>
            </tr>
          </thead>
          <!--end::Table head-->
          <!--begin::Table body-->
          <tbody>
            <% if @datas && @datas['data'] %>
            <% @datas['data'].sort_by{|i| i['order_sort'].to_i}.reverse.each_with_index do |item,idx| %>
            <tr>

            <td>
            <span class="fw-bolder text-gray-800 ps-3"><%= item['order_sort'] %></span>
            </td>

              <td style="width: 350px;">
                <% if !item['file_data'].blank? && !item['file_data'].blank? %>
                <a href="<%= $server[@controller_title] %>/<%= item['file_url_original'] %>" target="_blank">
                    <% file_type = JSON.parse(item['file_data'])['original']['metadata']['mime_type'] rescue nil %>
                    <% if file_type == 'image/jpeg' || file_type == 'image/png' || file_type == 'image/gif' %>
                      <img src="<%= $server[@controller_title] %>/<%= item['file_url_original'] %>" class="img-thumbnail" />
                    <% else %>
                      <i class="fas fa-file-alt fa-3x p-5 card text-center"></i> 
                    <% end %>
                </a>
                <% end %>
              </td>
              <td>
                <span class="fw-bolder text-gray-800 ps-3"><%= item['title'] %></span>
              </td>

              <td class="text-end">
                <%= link_to "", "/#{@controller_title}/downloads/#{item['id']}/edit", class: 'fa-solid fa-pen-to-square' %>
                <%= link_to "", "/#{@controller_title}/downloads/#{item['id']}", method: :delete, data: { confirm: 'ต้องการลบใช่หรือไม่?' } , class: "fa-regular fa-trash-can"  %>
              </td>
            </tr>

            <% end %>
            <% end %>
          </tbody>
          <!--end::Table body-->
        </table>
        <!--end::Table-->
      </div>
      <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none mt-5">
        <!--button:header-->
        <a href="/<%= @controller_title %>/downloads/new" class="btn btn-info -sm"><i class="fa-solid fa-circle-plus fa-4x"></i><%= t(:add)%></a>
      </div> 
      <!--end::Table container-->
    </div>
    <!--begin::Body-->


  </div>

  <!--end:Content-->


</div>
<!-- end::Kt_conten -->