<%
#init
params[:original_url] = request.path if params[:original_url].blank?


if params[:original_url]
    back_url = params[:original_url]
end


if @datas && !@datas['data'].blank?
    url = URI("#{$server[@controller_title]}/api/v1/follow_up_control_reports/#{@datas['data']['follow_up_control_report_id']}")
    @follow_up_control_report = request_api(url,'get',nil)
    back_url = "/#{@controller_main_url}/follow_up_control_reports/#{@follow_up_control_report['data']['id']}"
end
%>


<div class="container-fluid">


<%= form_for('follow_up_control_histories', url: "/#{gen_form[0]}/follow_up_control_histories#{gen_form[1]}" , method: gen_form[2]) do |f| %>
<!--begin::Row-->
<div class="row">

    <!--begin::Col_md_12-->
    <div class="col-md-12">
        <!--begin::Card Card Custom-->
        <div class="card card-custom gutter-b example example-compact">
                <!--begin::Card Header-->
                <div class="card-header">
                      <div class="card-title d-flex py-10 justify-content-center">
                            <h5 class="min-w-150px"></h5>
                            <div class="d-flex">
   
                            </div>
                        </div>



                          <!--begin::Card Toolbar-->
                          <div class="card-toolbar">
                                <!--begin::Excample Tools-->
                                <div class="example-tools justify-content-center">
                                      <span class="example-toggle" data-toggle="tooltip" title="" data-original-title="View code"></span>
                                      <span class="example-copy" data-toggle="tooltip" title="" data-original-title="Copy code"></span>
                                </div>
                                <!--end::Excample Tools-->
                                <%= link_to back_url, class: 'btn btn-light bg-white mb-2' do %>
                                    <i class="ki ki-bold-arrow-back icon-sm"></i> <%= t(:back) %>
                                <% end %>
                          </div>
                          <!--end::Card Toolbar-->
                </div>
                <!--end::Card Header-->
                <% if action_name == 'edit' || action_name == 'update' %>
                <div class="card-body"> 
           

                <div class="col-sm-12 col-md-12 py-4">
                <label class="form-label">
                    <h6>สถานะการดำเนินการ<span class="text-danger">*</span></h6>
                </label>

                        <!--
                        <select class= "form-control" name="follow_up_control_history[operation_status_id]" > <% @operation_statuses['data'].each do |operation_status| %> <option value="<%= operation_status['id'] %>" <% if @follow_up_control_history['data']['operation_status']['title'] ==  operation_status['title'] %> selected > <%= operation_status['title'] %> <% else %> > <%= operation_status['title'] %> <% end %> </option><% end %></select>
                        -->

                        <select class="form-control w-200px" name="list_activity[status]" id="list_activity_status">
                            <option value="" label=" "></option>
                            <option value="completed-on-schedule">เสร็จตามกำหนด</option>
                            <option value="completed-later-than-scheduled">เสร็จล่าช้ากว่ากำหนด</option>
                            <option selected="selected" value="not-started">ยังไม่ดำเนินการ</option>
                            <option value="in-process">อยู่ระหว่างดำเนินการ</option>
                        </select>

                        <%= select 'status', [["#{t(:completed_on_schedule)}", "completed-on-schedule"], ["#{t(:finished_later_than_scheduled)}", "completed-later-than-scheduled"], ["ยังไม่ดำเนินการ", "not-started"], ["อยู่ระหว่างดำเนินการ", "in-process"]], {include_blank: true, selected: (@list_activity['data']['status'] rescue nil)}, {class: 'form-control w-200px'} %>
                    </td>
                </div>



                <% if @follow_up_control_history && !@follow_up_control_history['data'].blank? %>
                <!-- ======================================== begin ::follow_up_summaries  ===================================================-->  
                <!--begin::follow_up_summaries-->


           


                <div class="table-responsive py-5">
                <table id="follow_up_summary_items" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>วิธีการติดตามและสรุปผลการปฏิบัติตามแผนการปรับปรุง</th>
                            <th style="width: 80px;"></th>
                        </tr>
                    </thead>
                    <tbody>

                   
                <% 
                follow_up_summary_sub_item_size = 0
          
                    if @follow_up_control_history && @follow_up_control_history['data'] 
                        follow_up_summary_sub_item_size = @follow_up_control_history['data']['follow_up_summaries'].size.to_i
                        
                        p "follow_up_summary_sub_item_size = #{follow_up_summary_sub_item_size}"
                    %>

              
                    <% @follow_up_control_history['data']['follow_up_summaries'].each_with_index do |sub_item,idx|  %>
                     
                        <tr id="follow_up_summary_items<%= idx %>">
                   
                            <td>

                                <textarea class="form-control" name="follow_up_control_history[follow_up_summaries_attributes][<%= idx %>][title]" rows="3" cols="50"><%= sub_item['title'] %></textarea>
                            </td> 

                            <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#follow_up_summary_items<%= idx %>').hide();$('#follow_up_summary_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>
                                                          
                            <input type="hidden" class="form-control" placeholder="id" name="follow_up_control_history[follow_up_summaries_attributes][<%= idx %>][id]" value="<%= sub_item['id'] %>">
                                                          
                            <input type="hidden" class="check_destroy" placeholder="" name="follow_up_control_history[follow_up_summaries_attributes][<%= idx %>][_destroy]" value=false>


                                                          
                      </tr>
                    <% end %>
                <% end %>                                                             
                                                          
                    </tbody>
                </table>
                
               
                <div class="text-left"><a onclick="addfollow_up_summaryrows('follow_up_summary_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>
                                                          
                                                          
                    <script type="text/javascript">
                        var follow_up_summary_items_row = <%= follow_up_summary_sub_item_size + follow_up_summary_sub_item_size %>;
                            function addfollow_up_summaryrows(follow_up_summary_id_name) {
                              // alert(follow_up_summary_id_name);
                                html = '<tr id="'+ follow_up_summary_id_name + follow_up_summary_items_row + '">';                                                                                  
                                                          
                                html += '<td><textarea class="form-control" placeholder="<%= t(:detail) %>" name="follow_up_control_history[follow_up_summaries_attributes]['+follow_up_summary_items_row+'][title]" rows="3" cols="50"></textarea></td>';
                                html += '<input type="hidden" class="form-control"   name="follow_up_control_history[follow_up_summaries_attributes]['+follow_up_summary_items_row+'][biz_id]" value= "<%= $user[session.id.to_s][@controller_title]['biz_id'] %>" >';
                                html += '<input type="hidden" class="form-control"  name="follow_up_control_history[follow_up_summaries_attributes]['+follow_up_summary_items_row+'][user_id]" value= "<%= $user[session.id.to_s][@controller_title]['id'] %>" >';
                                                                                                                                                                                                                                                                      
                      
                                
                                html += '<td class="mt-10"><a class="btn p-3 btn-danger" onclick="$(\'#' + follow_up_summary_id_name + follow_up_summary_items_row + '\').hide();$(\'#' + follow_up_summary_id_name + follow_up_summary_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';
                                                                                                                                            
                                html += '<input type="hidden" class="check_destroy" placeholder="" name="follow_up_control_history[follow_up_summaries_attributes]['+follow_up_summary_items_row+'][_destroy]" value=false>';

                                                                                                                                                                       
                                html += '</tr>';
                                                          
                                $('#' + follow_up_summary_id_name + ' tbody').append(html);
                                                          
                                follow_up_summary_items_row++;
                            }
                        </script>
            </div>    
            <!--end::table-responsive py-5 -->                                          
<!-- ======================================== end :: List_objectives ===================================================-->  
          

                </div>
                <% end %>  
                <!--end::Card Body-->     
                <% end #action_name %>

                <!--begin::Card Foolter-->
                                    <div class="card-footer">
                                        <% if !params[:original_url].blank? %>
                                        <%= hidden_field_tag :original_url, params[:original_url] %>
                                        <% end %>

                                        <% if !params[:category_id].blank? %>
                                        <%= f.hidden_field :category_id, value: params[:category_id] %>
                                        <% end %>

                                        <%= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
                                    </div>
                                    <!--end::Card Foolter-->
<% end %>  


</div>