<%
#init
@master_plan_id = params[:master_plan_id] if !params[:master_plan_id].blank?
%>

<%= form_for('plan', url: "/#{gen_form[0]}/plans#{gen_form[1]}" , method: gen_form[2]) do |f| %>
<!--begin::Card_body-->
<div class="row">   

      <%= f.hidden_field :master_plan_id, value: @master_plan_id %>


      <div class="col-12 mt-5 ms-5 mb-5">
            <label for="" class="form-label"> <h5> <%= t(:order_sort) %> <span class="text-danger"></span> </h5></label>
            <%= f.number_field :order_sort, min: 1, class: "form-control w-50", placeholder: t(:order_sort), value: (@datas['data']['order_sort'] rescue nil) %>
      </div>

      <div class="col-12 mt-5 ms-5 mb-5">
            <label class="form-label"><h5> <%= t(:title) %> <span class="text-danger">*</span> </h5></label>
            <%= f.text_field :title, class: "form-control", placeholder: t(:title), value: (@datas['data']['title'] rescue nil), required: true %>
       </div>



      <div class="col-12 mt-5 ms-5 mb-5">
            <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
                  <%= f.submit t(:saves), class: "btn btn-info" %></div>
            </div> 

      </div>
<% end %>  