<style type="text/css">
  table, table th {
    font-size: 9pt!important;
    line-height: 1.2rem;
  }
  table th, table td {
    padding:5px!important;
    border: 1px solid #000000!important;
  }
</style>

<div class="row mt-5">
  <div class="col">



      <div id="export_content" class="">
        <div class="landscape_A4_page">

        <div class="noprint my-10"></div>
        <h1 class="text-center"> แบบฟอร์มแผนพัฒนาองค์การ</h1>

        <h2 class="text-center mt-5"> แผนพัฒนาองค์การ ประจำปีงบประมาณ พ.ศ. <%= @plan['data']['master_plan']['period_year']&.to_date&.year + 543 rescue nil %> <%#= @plan['data']['master_plan']['user']['institution']['title'] rescue nil %> </h2><!-- ลูกค้าให้เอาชื่อหน่วยงานออก -->

        <h3 class="text-center"><%= @plan['data']['title'] rescue nil %> </h3>

          <table id="table_1" class="table table-bordered" style="text-left">
            <thead style="width:auto;text-align:center; background-color: #d9dbff;">
              <tr valign="middle">
                <th>กิจกรรม/ขั้นตอน</th>
                <th style="width:70px">ระยะเวลา</th>
                <th colspan=12>ปีงบประมาณ <%= @plan['data']['master_plan']['title'] rescue nil %></th>
                <th>ผลผลิต/ดัชนีความก้าวหน้า</th>
                <th style="width:90px">ผู้รับผิดชอบ</th>
                <th style="width:90px">ผู้เกี่ยวข้อง</th>
                <th style="width:90px">ระดับ PMQA 4.0</th>
                <th>งปม.</th>
                <% if action_name != 'print' %>
                <th></th>
                <% end %>
              </tr>

              <tr valign="middle">
                <th></th>
                <th></th>

                <%
                @year_short = (@plan['data']['master_plan']['period_year']&.to_date&.year + 543).to_s[2..3] rescue nil
                %>
                <th>ต.ค. <%= @year_short.to_i - 1 %></th>
                <th>พ.ย. <%= @year_short.to_i - 1 %></th>
                <th>ธ.ค. <%= @year_short.to_i - 1 %></th>
                <th>ม.ค. <%= @year_short.to_i %></th>
                <th>ก.พ. <%= @year_short.to_i %></th>
                <th>มี.ค. <%= @year_short.to_i %></th>
                <th>เม.ย. <%= @year_short.to_i %></th>
                <th>พ.ค. <%= @year_short.to_i %></th>
                <th>มิ.ย. <%= @year_short.to_i %></th>
                <th>ก.ค. <%= @year_short.to_i %></th>
                <th>ส.ค. <%= @year_short.to_i %></th>
                <th>ก.ย. <%= @year_short.to_i %></th>

                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <% if action_name != 'print' %>
                <th></th>
                <% end %>

              </tr>
            </thead>


            <% @plan['data']['categories'].sort_by{|i| i['order_sort'].to_i}.each do |category| %>
            
              <tr style="width:auto;background-color: #ecedfa;">
                  <td colspan="19">
                    <b><%= category['title'] rescue nil %></b>
                  </td>
              </tr>
            

            <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each do |list| %>
              <tr>
                  <td colspan="19">
                    <b><%= list['title'] rescue nil %></b>
                  </td>
              </tr>


            <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
              <tr valign="top">
                <td colspan="14"></b> 
                  <%= list_activity['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %>
                </td>

                <td>
                  <% list_activity['list_results'].each do |list_result| %>
                    <%= list_result['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %>
                  <% end %>  
                </td>
                <td>
                  <% list_activity['list_responsibles'].each do |list_responsible| %>
                    <%= list_responsible['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %>
                  <% end %>  
                </td>
                <td>
                   <% list_activity['list_accomplices'].each do |list_accomplice| %>
                      <%= list_accomplice['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %>
                    <% end %>

                </td>

                <td align="center">
                  <% list_activity['list_pmqa_levels'].each do |list_pmqa_level| %>
                    <%= list_pmqa_level['title'].to_s rescue nil %>
                  <% end %>  
                </td>

                <td align="center">
                  <% list_activity['list_budgets'].each do |list_budget| %>
                    <%= list_budget['title'].to_d rescue nil %>
                  <% end %>  
                </td>

                <% if action_name != 'print' %>
                <td>
                    <a class="m-2 p-2 align-self-center btn btn-sm bg-light w-70px" href="">
                      <i class="fas fa-edit" aria-hidden="true"></i> แก้ไข
                    </a>
                    
                    <a class="m-2 p-2 align-self-center btn btn-sm bg-danger text-white w-70px" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/pmqa/plans/1?">
                      <i class="fa-regular fa-trash-can text-white"></i> ลบ
                    </a>
                  </td>
                  <% end %>

              </tr>


              <% list_activity['list_activity_items'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity_item| %>
              <tr valign="top">
                <td>
                  <span style="white-space: pre-line;"><%= list_activity_item['title'] rescue nil %></span>
                </td>

                <td align="center">
                  <b><%= list_activity_item['list_periods'][0]['amount'] rescue nil %></b>
                  <%= list_activity_item['list_periods'][0]['unit'] rescue nil %>

                        <ul style="list-style-type: none">
                            <% if !list_activity_item['list_monthly_periods'].blank? %>
                                  <% list_activity_item['list_monthly_periods'].sort_by{|i| i['order_sort'].to_i}.each do |list_monthly_period| %>
                                      <li><center><span class="badge badge-white"><% if list_monthly_period['order_sort'].present? %><%= list_activity_item['list_periods'][0]['unit'] rescue nil %>ที่ <%= list_monthly_period['order_sort'] rescue nil %> : <% end %><%= convert_thai_date(list_monthly_period['startdate'].to_date,'default') rescue nil %></center></span><center> ถึง </center><span class="badge badge-white"><center><%= convert_thai_date(list_monthly_period['enddate'].to_date,'default') rescue nil %></center></span>
                                      </li>
                                   <% end %> 
                            <% end %> 
                        </ul>

                   <% if params[:check] == 'true' %>
                    <% list_activity_item['list_monthly_periods'].each do |list_monthly_period| %>
                      <%
                      startdate = list_monthly_period['startdate'].to_date.month rescue nil
                      enddate = list_monthly_period['enddate'].to_date.month rescue nil
                      %>
                      <span class="badge badge-light"><%= startdate %></span> ถึง <span class="badge badge-light"><%= enddate %></span>
                    <% end %> 
                  <% end %> 




                  <%
                #@select_month_arry = []
                @select_month_arry = Array.new
                %>
                <% list_activity_item['list_monthly_periods'].each_with_index do |list_monthly_period,qty| %>
                  <% if (list_monthly_period['startdate'].to_date.year > @plan['data']['master_plan']['period_year']&.to_date&.year - 2) &&  (list_monthly_period['enddate'].to_date.year <= @plan['data']['master_plan']['period_year']&.to_date&.year)  %>

                  <%
                  startdate = list_monthly_period['startdate'].to_date.month rescue nil
                  enddate = list_monthly_period['enddate'].to_date.month rescue nil
                  %>

                  
                <%
                

                if startdate <= enddate #ex. 2-10 = 8 ไม่ข้ามปี ที่ถูกต้อง 2,3,4,5,6,7,8,9,10

                  (startdate..enddate).each do |month|
                    @select_month_arry.push([qty,month])
                  end

                else #ex. 10-2 = 4 ข้ามปี ที่ถูกต้อง 10,11,12,1,2

                  (startdate..12).each do |month|
                    @select_month_arry.push([qty,month])
                  end
                  (1..enddate).each do |month|
                    @select_month_arry.push([qty,month])
                  end

                end

                %>


                <% if params[:check] == 'true' %>
                <ul>
                  <li>qty = <%= qty %>, @select_month_arry = <%= @select_month_arry %></li>
                </ul>
                <% end %>




                <% end #if %>

                <% end #(list_monthly_period['startdate'].to_date.year > @plan['data']['master_plan']['period_year']&.to_date&.year - 2) &&  (list_monthly_period['enddate'].to_date.year <= @plan['data']['master_plan']['period_year']&.to_date&.year) %>

              
              

                </td>


                

                <% [10,11,12,1,2,3,4,5,6,7,8,9].each do |month| %>
                <td style="padding-left: 0px!important;padding-right: 0px!important;">
                  <% list_activity_item['list_monthly_periods'].each_with_index do |list_monthly_period,qty| %>
                    
                    <% if @select_month_arry.size > 0 && @select_month_arry.find_all {|i| (i[0] == qty) && (i[1] == month) }.size > 0 %>

                      <%
                      startdate = list_monthly_period['startdate'].to_date rescue nil
                      enddate = list_monthly_period['enddate'].to_date rescue nil

                      if startdate && startdate.month == month
                        width_box = ((30 - startdate.day.to_i).to_f/30.to_f).to_f*100
                        custom_css = "width: #{width_box.to_i}%;float:right;"
                      end

                      if enddate && enddate.month == month
                        width_box = (enddate.day.to_f/30.to_f).to_f*100
                        custom_css = "width: #{width_box.to_i}%;"
                      end
                      %>

                      
                      
                      <div style="margin-top:<%= qty * 5 %>px;border: 2px solid <%= get_color(qty) %>;<%= custom_css rescue nil %>"></div>

                    <% else %>
                      <div style="margin-top:<%= qty * 5 %>px;"></div>
                    <% end %>
                  <% end %>
                </td>
                <% end %>

                <td>
                  <% if params[:check] == 'true' %>
                    <li>@select_month_arry = <%= @select_month_arry %></li>
                    <li>@select_month_arry.size = <%= @select_month_arry.size %></li>
                  <% end %>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td align="center"></td>

                <% if action_name != 'print' %>
                <td>

                    <a class="m-2 p-2 align-self-center btn btn-sm bg-light w-70px" href="">
                      <i class="fas fa-edit" aria-hidden="true"></i> แก้ไข
                    </a>
                    
                    <a class="m-2 p-2 align-self-center btn btn-sm bg-danger text-white w-70px" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/pmqa/plans/1?">
                      <i class="fa-regular fa-trash-can text-white"></i> ลบ
                    </a>


                  </td>
                  <% end %>
              </tr>
            
              <% end #loop list['list_activity_items'] %>
              <% end #loop list['list_activities'] %>
              <% end #loop category['lists'] %>
              <% end #loop categories %>

          </table>
      </div> <!-- end  landscape_A4_page -->
                

    <%
    # Start Check Approve

 

    #render find by position
    plan['plan_users'].each do |plan_user|
      case plan_user['user_role']['title_slug']
      when 'editor-head'
        #check สถานะการ Approve ของ editor-head ถ้า Approved ให้แสดงข้อมูลชื่อและลายเซ็นต์
        if plan_user['user_role']['title_slug'] == 'editor-head' && plan_user['status'] == 'approved'
       
        @head = "#{(plan_user['user']['firstname'] rescue nil)} #{(plan_user['user']['lastname'] rescue nil)}"
        @head_sign = "#{(plan_user['user']['file_url_thumbnail'] rescue nil)}"
      else
        @head = ""
        @head_sign = ""
      end 
      when 'editor'

        #check สถานะการ Approve ของ editor ถ้า Approved ให้แสดงข้อมูลชื่อและลายเซ็นต์
        if plan_user['user_role']['title_slug'] == 'editor' && plan_user['status'] == 'approved'
        
        @editor = "#{(plan_user['user']['firstname'] rescue nil)} #{(plan_user['user']['lastname'] rescue nil)}"
        @editor_sign = "#{(plan_user['user']['file_url_thumbnail'] rescue nil)}"
        
        else
          @editor = ""
          @editor_sign = ""
        end 

      end
    end









 
    #render find by position


    plan['master_plan']['master_plan_users'].each do |master_plan_user|

      
      case master_plan_user['user_role']['title_slug']
      when 'director'
        if master_plan_user['user_role']['title_slug'] == 'director' && master_plan_user['status'] == 'approved' || master_plan_user['status'] =='completed'
        @director = "#{(master_plan_user['user']['firstname'] rescue nil)} #{(master_plan_user['user']['lastname'] rescue nil)}"
        @director_sign = "#{(master_plan_user['user']['file_url_thumbnail'] rescue nil)}"

      else
        @director = ""
        @director_sign = ""
      end 

      end
    end


    %>

      <div id="signature" class="d-flex align-items-center justify-content-center">
<!-- comment becouse K wallapa request 3/2/2025 -->
          <div class="min-w-300px">
              <%#= render partial: '/share/block_signature', locals:{ image: "#{@head_sign rescue nil}", fullname: "#{@head rescue nil}", position: "ประธานหมวด #{plan['title'] rescue nil}"} %>
          </div>

          <div class="min-w-300px" style="margin-top: 100px">
              <%#= render partial: '/share/block_signature', locals:{ image: "#{@director_sign rescue nil}", fullname: "#{@director rescue nil}", position: "อธิบดีกรมคุ้มครองสิทธิและเสรีภาพ"} %>
          </div>

          <div class="min-w-300px">
              <%#= render partial: '/share/block_signature', locals:{ image: "#{@editor_sign rescue nil}", fullname: "#{@editor rescue nil}", position: "เลขาหมวด #{plan['title'] rescue nil}"} %>
          </div>
      </div>
           
<!-- end -->
           <!--       
          <hr style="border-bottom: 1px dotted #999999;">
          <p style="page-break-after: always;">&nbsp;</p>
        -->




    </div>
  </div>
</div>

 



