  <!--
   <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
 -->

<div id="export_content" class="">
    <div class="landscape_A4_page">




<% if controller_name == 'plan_reports' || @plan_report %>
<div class="pt-10 text-center">
    <h1 class="fs-1">รายงานผลการดำเนินการตามแผนพัฒนาองค์การประจำปีงบประมาณ พ.ศ. <%= plan['master_plan']['period_year']&.to_date&.year + 543 rescue nil %> <%#= plan['data']['master_plan']['user']['institution']['title'] rescue nil %>
    </h1> 

    <h2 class="fs-2"><%= plan['title'] rescue nil %></h2>


    <%= hidden_field_tag :original_url, params[:original_url]  %>
    <div class="my-4">วันที่ : <span class="badge badge-info fs-6"><%= convert_thai_date(@plan_report['data']['startdate']&.in_time_zone&.to_date,'default') rescue nil %></span> ถึง <span class="badge badge-info fs-6"><%= convert_thai_date(@plan_report['data']['enddate']&.in_time_zone&.to_date,'default') rescue nil %></span>
    </div>
</div>
<% end %>


<% if !plan.blank?  %>
<div class="-table-responsive py-5">
    <table id="items" class="table table-bordered" style="text-left">
        <thead style="width:auto;text-align:center; background-color: #d9dbff;">
            <tr valign="middle">
                <th>กิจกรรม/ขั้นตอน</th>
                <th>ผลการดำเนินงาน</th>
                <th>ผลผลิต</th>
                <th>ปัญหา/อุปสรรค</th>
                <th>หลักฐานเอกสาร</th>
                <th class="noprint w-100px"></th>
            </tr>
        </thead>

        <% plan['categories'].sort_by{|i| i['order_sort'].to_i}.each do |category| %>
            <thead style="width:auto;background-color: #ecedfa;">
                <tr>
                    <th colspan="5">
                        <b><%= category['title'] rescue nil %></b>
                    </th>
                    <th class="noprint"></th>
                </tr>
            </thead>

        <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each do |list| %>
            <thead style="width:auto;">
                <tr>
                    <th colspan="5">
                        <b><%= list['title'] rescue nil %></b>
                    </th>
                    <th class="noprint"></th>
                </tr>
            </thead>

        <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
            <tr valign="top">
                <td colspan="5">
                    <!--<b><%= list_activity['order_sort'] rescue nil %></b>-->
                    <%#= list_activity['title'] rescue nil %>
                    <div>
                        <%= get_status_tasks(list_activity['status']) %>

                         <%= link_to "<button type='button' class='btn btn-sm btn-primary has-tooltip ml-6 noprint' data-placement='left' title='Menu'> <i class='fa fa-plus'></i> #{t(:please_state)}</button>".html_safe, "/#{@controller_title}/plans/#{plan['id']}/status?list_id=#{list['id']}&list_activity_id=#{list_activity['id']}&status=#{list_activity['status']}&plan_report_id=#{params['plan_report_id']}&original_url=#{request.path}",  {remote: :true, 'data-toggle': 'modal', 'data-target': '#modal-window'} %>

                    </div>
                </td>
              <td class="noprint"></td>
            </tr>

            <% list_activity['list_activity_items'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity_item| %>
            <tr valign="top">
                <td>
                    <p><%= list_activity_item['title'] rescue nil %>
                    </p>
                </td>

                <% if !list_activity_item['tasks'].blank? %>
                    <% list_activity_item['tasks'].each do |task| %>

                    <td>
                       
                          <% task['task_overall_results'].each do |task_overall_result| %>
                            <p><%= task_overall_result['title'] rescue nil %></p>
                          <% end %>  
                        
                    </td>

                    <td>
                       
                        <% task['task_results'].each do |task_result| %>
                            <p><%= task_result['title'] rescue nil %></p>
                        <% end %>  
                     
                    </td>

                    <td>
                     
                        <% task['task_problems'].each do |task_problem| %>
                            <p><%= task_problem['title'] rescue nil %></p>
                        <% end %>  
                      
                    </td>

                    <td>
                      <% task['task_documents'].each_with_index do |task_document| %>
                        <div class="p-2">
                            <% if !task_document['file_data'].blank? %>
                            <p>
                            <a href="<%= $server[@controller_title] %><%= task_document['file_url_original'] %>" target="_blank">
                                <img src="<%= $server[@controller_title] %><%= task_document['file_url_thumbnail'] %>" class="img-thumbnail" style="width: 200px;" />
                            </a>
                            </p>
                            <% end %>
                            <p><%= task_document['title'] %></p>
                        </div>
                        <% end %>
                    </td>

                    <td class="noprint">
                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: task['id'], params: "original_url=#{request.path}"} if params[:print] != 'true' %> 
                    </td>
                    <% end %> 
                <% else %> 
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'c' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: nil, params: "list_activity_item_id=#{list_activity_item['id']}&plan_report_id=#{params[:plan_report_id]}&original_url=#{request.path}"} if params[:print] != 'true' %> 
                    </td>
                <% end %> 


            </tr>

            <% end #loop list['list_activity_items'] %>
        <% end #loop list['list_activities'] %>
    <% end #loop category['lists'] %>
<% end #loop categories %>

</table>



</div>
<% end %>




<!--
<%
url = URI("#{$server[@controller_title]}/api/v1/plans/#{plan['id']}/plan_users?order=order_sort&sort=asc")
plan_users = request_api(url,'get',nil)
%>
<% if plan_users && !plan_users['data'].blank? %>
    <% plan_users['data'].each do |plan_user| %>
    <div class="rounded border p-3 m-1">
        <div class="d-flex align-items-center">
            <div class="ml-3">
                plan_user["user"] <%= plan_user["user"] %>
                <span class="text-dark-75 font-weight-bold line-height-sm d-block pb-1"><%= plan_user["user"]['firstname'] if !plan_user["user"].blank? %> <%= plan_user["user"]['lastname'] if !plan_user["user"].blank? %></span>
                <span class="badge badge-light-warning"><%= plan_user["user_role"]["title"] if !plan_user["user_role"].blank? %></span>
            </div>
        </div>
    </div>
    <% end %>
<% end %>
-->



<%
    #render find by position
    plan['plan_users'].each do |plan_user|
      case plan_user['user_role']['title_slug']
      when 'editor-head'
        @head = "#{(plan_user['user']['firstname'] rescue nil)} #{(plan_user['user']['lastname'] rescue nil)}"
      when 'editor'
        @editor = "#{(plan_user['user']['firstname'] rescue nil)} #{(plan_user['user']['lastname'] rescue nil)}"
      end
    end


    #render find by position
    plan['master_plan']['master_plan_users'].each do |master_plan_user|
      case master_plan_user['user_role']['title_slug']
      when 'director'
        @director = "#{(master_plan_user['user']['firstname'] rescue nil)} #{(master_plan_user['user']['lastname'] rescue nil)}"
      end
    end

    %>



      <div id="signature" class="d-flex align-items-center justify-content-center">
          <div class="min-w-300px">
              <%= render partial: '/share/block_signature', locals:{ image: nil, fullname: "#{@head rescue nil}", position: "ประธานหมวด #{plan['title'] rescue nil}"} %>
          </div>

          <div class="min-w-300px" style="margin-top: 100px">
              <%= render partial: '/share/block_signature', locals:{ image: nil, fullname: "#{@director rescue nil}", position: "อธิบดีกรมคุ้มครองสิทธิและเสรีภาพ"} %>
          </div>

          <div class="min-w-300px">
              <%= render partial: '/share/block_signature', locals:{ image: nil, fullname: "#{@editor rescue nil}", position: "เลขาหมวด #{plan['title'] rescue nil}"} %>
          </div>
      </div>

<!-- รอทำส่วน task_user เพื่อเก็บ flow ย่อย -->
<%# if controller_name == 'plans' %>
    <%#= render partial: '/share/block_comments', locals:{ model_name: 'plan_report', id: @plan_report['data']['id']} %>
    <%#= render partial: '/share/block_comments_history', locals:{ model_name: 'plan_report', id: @plan_report['data']['id']} %>
<%# end %>


    </div>
</div> <!-- end id export_content -->
