<%
back_url = "/#{gen_form[0]}/master_plans/#{@plan['data']['master_plan_id']}" rescue nil
back_url = params[:original_url] if params[:original_url]

%>

<style>
    @media print {
       .noprint {
          visibility: hidden;
          display: none;
       }
    }
</style>

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="float-end"> 

                <%= link_to back_url, class: 'btn btn-light noprint' do %> <i class="fa-solid fa-angle-left"></i></i> <%= t(:back) %> </i> <% end %>

                

                <%= render '/share/block_btn_export', item: @plan, title: 'plan' %>

            </div> 
        </div>
    </div>



    
      <%= render "/#{@controller_title}/plans/print", plan: @plan['data'] %>

      <hr style="border-bottom: 3px solid #999999;margin-top: 2rem;margin-bottom: 2rem;">




</div>



