<%
#init
back_url = "/#{gen_form[0]}/master_plans/#{params['master_plan_id']}" if !params['master_plan_id'].blank?
back_url = "/#{gen_form[0]}/master_plans/#{@plan['data']['master_plan_id']}" if @plan && @plan['data'] && !@plan['data']['master_plan_id'].blank?
back_url = params[:original_url] if params[:original_url]

#ถ้าผ่านการตรวจสอบจาก กพร ให้แสดง บล๊อก approve & comment

url = URI("#{$server[@controller_title]}/api/v1/plans/#{@plan['data']['id']}/check_plan_approve_status")
@check_plan_approve_status = request_api(url, "get", nil)

$input_readonly = ''
# @plan['data']['plan_users'].each do |plan_user|
#      if  plan_user['user_role']['slug'] == 'approver' && plan_user['status'] == 'approved'
#       $plan_approver_status =  plan_user['status'] 
if @check_plan_approve_status['data'] == true
        $input_readonly = 'readonly'
end
#      end
#end
%>

<div class="container-fluid">
        <div class="d-flex justify-content-between"> 
                <h1><%= @plan['data']['title'] rescue nil %></h1>

                <div class="d-flex">
                        <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
                        <% end %>


                        <%= link_to "/#{@controller_title}/plans/print/#{params['id'] rescue nil}?original_url=#{request.path}", class: 'align-self-center btn btn-lg btn-light mx-1' do %> 
                                <i class="fa-solid fa-eye"></i> ดู
                        <% end %>
                </div>
        </div>

        <% if @role_title == 'superadmin_role' %> <!-- superadmin เท่านั้นที่สามารถ เพิ่มหมวดย่อยได้ -->
        <% if @check_plan_approve_status['data'] == false %>  <!-- ถ้ามีการ อนุมัติแล้ว จะไม่สามารถเพิ่มหมวดใหญ่ได้ -->
        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'add-only' ,master_plan_id: (@plan['data']['master_plan_id']  rescue nil), model_name: 'categories', model_title: '', id: nil, params: "plan_id=#{@plan['data']['id'] rescue nil}"} , cached: true %>    
        <% end %> 
        <% end %>

        <% if @plan && !@plan['data'].blank? && !@plan['data']['categories'].blank? %>

        <% @plan['data']['categories'].sort_by{|i| i['order_sort'].to_i}.each do |category| %>
        <div class="card-show">
                <div class="d-flex justify-content-between">
                        <h2><%= category['title'] %></h2>
                <% if @role_title == 'superadmin_role' %> <!--superadmin เท่านั้นที่สามารถ ลบแก้ไขหมวดใหญ่ได้ -->
                <% if @check_plan_approve_status['data'] == false %> <!-- ถ้ามีการ อนุมัติแล้ว จะไม่สามารถเพิ่มหมวดย่อยได้ -->
                                <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: (@plan['data']['master_plan_id']  rescue nil), model_name: 'categories', model_title: '', id: category['id'], params: "plan_id=#{@plan['data']['id'] rescue nil}"} , cached: true %>
                        <% end %>
                <% end %>
                </div>

                <div class="table-responsive py-5">
                <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %> <!-- admin เท่านั้นที่สามารถ เพิ่มหมวดย่อยได้ -->
                <% if @check_plan_approve_status['data'] == false %><!-- ถ้ามีการ อนุมัติแล้ว จะไม่สามารถเพิ่มหมวดย่อยได้ -->
                                <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'add-only' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: 'กิจกรรม / ขั้นตอน', id: nil, params: "category_id=#{category['id']}&original_url=#{request.path}"} , cached: true %>   
                        <% end %>
                <% end %>
                        <table class="table table-bordered">
                                <thead>
                                <tr class="fw-bolder text-muted">
                                                <th class="min-w-200px"><h6>กิจกรรม / ขั้นตอน<h6></th>
                                                <th class="min-w-100px"><h6>ระยะเวลา<h6></th>
                                                <th class="min-w-200px"><h6>ผลผลิต/ดัชนีความก้าวหน้า<h6></th>
                                                <th class="min-w-100px"><h6>ผู้รับผิดชอบ<h6></th>
                                                <th class="min-w-100px"><h6>ผู้เกี่ยวข้อง<h6></th>
                                                <th class="min-w-100px"><center><h6>ระดับ PMQA 4.0<h6></center></th>
                                                <th class=""><h6>งปม.<h6></th>
                                                <th class="w-200px"></th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idx| %>
                                        <tr style="border-top: 3px solid #cccccc;">
                                                <td>
                                                        <span style="font-weight: bold;"><%= list['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></span>
                                                        <% if @check_plan_approve_status['data'] == false %>
                                                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'c' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'list_activities', model_title: 'ขั้นตอนหลัก', id: list['id'], params: "list_id=#{list['id']}&original_url=#{request.path}"} , cached: true %>    
                                                        <% end %>
                                                </td>
                                                <td>              
                                                </td>    
                                                <td></td>      
                                                <td></td>      
                                                <td></td>      
                                                <td></td>   
                                                <td></td>   
                                                <td>
                                                <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %> <!-- admin เท่านั้นที่สามารถ ลบและ แก้ไข กิจกรรม/ขั้นตอนได้ -->
                                                <% if @check_plan_approve_status['data'] == false %>
                                       
                                                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: nil, id: list['id'], params: "original_url=#{request.path}"}  , cached: true %>    
                                                <% end %> 
                                                <% end %>
                                                </td>      
                                        </tr>

                                        <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                                        <tr>
                                                <td>
                                                        <span class="text-primary" style="font-weight: bold;"><%= list_activity['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></span>   
                                                        <% if @check_plan_approve_status['data'] == false %>
                                                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'c' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'list_activity_items', model_title: 'ขั้นตอนย่อย', id: list['id'], params: "list_activity_id=#{list_activity['id']}&original_url=#{request.path}"}  , cached: true %>   
                                                        <% end %>         
                                                </td>

                                                <td></td>
                                                
                                                <td>
                                             
                                                      <% list_activity['list_results'].each do |list_result| %>
                                                        <p><%= list_result['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></p>
                                                      <% end %>  
                                               
                                                </td>

                                                <td>
                                            
                                                      <% list_activity['list_responsibles'].each do |list_responsible| %>
                                                        <p><%= list_responsible['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></p>
                                                      <% end %>  
                                             
                                                </td>

                                                <td>

                                            
                                                      <% list_activity['list_accomplices'].each do |list_accomplice| %>
                                                        <p><%= list_accomplice['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></p>
                                                      <% end %>  
                                             
                                                </td>

                                                <td style="text-align: center;">
                                                <% list_activity['list_pmqa_levels'].each do |list_pmqa_level| %>
                                                  <%= list_pmqa_level['title'] rescue nil %>
                                                <% end %>  
                                                
                                                </td>

                                                <td>
                                                      <% list_activity['list_budgets'].each do |list_budget| %>
                                                        <%= list_budget['title'] rescue nil %>
                                                      <% end %>  
                                                      
                                                </td>



                                                <td>
                                                <% if @check_plan_approve_status['data'] == false %>
                                                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'list_activities', model_title: nil, id: list_activity['id'], params: "original_url=#{request.path}"} , cached: true %>
                                                         
                                                <% end %>
                                                <span class="badge badge-pill badge-light"><%= convert_thai_date(list_activity['updated_at'],'long') %></span>
                                                </td>
                                        </tr>
                                        


                                        <% list_activity['list_activity_items'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity_item| %>
                                        <tr>
                                                <td>
                                                        <span class="text-primary" style="font-weight: bold;"><%= list_activity_item['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></span>  
                                                       


                                                                
                                                </td>

                                                <td>
                                                        <b><%= list_activity_item['list_periods'][0]['amount'] rescue nil %></b>

                                                         <%= list_activity_item['list_periods'][0]['unit'] rescue nil %>

                                                         <ul style="list-style-type: none">
                                                         <% if !list_activity_item['list_monthly_periods'].blank? %>
                                                              <% list_activity_item['list_monthly_periods'].each do |list_monthly_period| %>
                                                                <li><span class="badge badge-light-info"><%= convert_thai_date(list_monthly_period['startdate'].to_date,'default') rescue nil %></span> ถึง <span class="badge badge-light-info"><%= convert_thai_date(list_monthly_period['enddate'].to_date,'default') rescue nil %></span>
                                                                </li>
                                                              <% end %> 
                                                        <% end %> 
                                                        </ul>
                                                         
                                                </td>

                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                               
                                                        <% if @check_plan_approve_status['data'] == false %> <!-- ถ้ามีการอนุมัติแล้วจะไม่สามารถ ลบและ แก้ไข กิจกรรม/ขั้นตอนได้ -->
                                                                <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'list_activity_items', model_title: nil, id: list_activity_item['id'], params: "original_url=#{request.path}"} , cached: true %>

                                                        <% end %>   

                                                        <span class="badge badge-pill badge-light"><%= convert_thai_date(list_activity_item['updated_at'],'long') %></span>
                                                    
                                                </td>
                                        </tr>
                                        <% end #loop list_activity['list_activity_items'] %>
                                        <% end %>

                                        <% end %>
                                </tbody>
                        </table>
                </div>
        </div>
        <% end %>
        <% end %>

   

<% if @check_plan_approve_status['data'] == false %>
        <%= render partial: '/share/block_comments', locals:{ model_name: 'plan', id: @plan['data']['id']} %>
<% end %>
        <%= render partial: '/share/block_comments_history', locals:{ model_name: 'plan', id: @plan['data']['id']} , cached: true %>


</div>
