<%
#init
params[:original_url] = request.path if params[:original_url].blank?


if params[:original_url]
    back_url = params[:original_url]
end


if @datas && !@datas['data'].blank?
    back_url = "/#{@controller_title}/plans/#{@datas['data']['plan_id']}"
end

if @datas && !@datas['data'].blank?
    url = URI("#{$server[@controller_title]}/api/v1/categories/#{@datas['data']['category_id']}")
    @catagory = request_api(url,'get',nil)
    back_url = "/#{@controller_title}/plans/#{@catagory['data']['plan_id']}"
end
%>

<%= form_for('list', url: "/#{gen_form[0]}/lists#{gen_form[1]}" , method: gen_form[2]) do |f| %>

<%#= @datas['data'] %>

<!--begin::Row-->
<div class="row">

    <!--begin::Col_md_12-->
    <div class="col-md-12">
        <!--begin::Card Card Custom-->
        <div class="card card-custom gutter-b example example-compact">
                <!--begin::Card Header-->
                <div class="card-header">
                      <div class="card-title d-flex py-10">
                            <h5 class="min-w-250px mb-4"><%= t(:select_indicator_category) %></h5>
                            <div class="d-flex">
                                <input type="number" class="w-100px form-control mx-2" min=1 required placeholder="ตัวชี้วัดที่" name="list[order_sort]" value="<%= @datas['data']['order_sort'] rescue nil %>">
                                    <%= select_tag("list[activity_id]", options_for_select(@data_activities['data'].map { |item| [item['title'], item['id']] }, (@datas['data']['activity_id'] rescue nil)), {include_blank: true, class: 'selectize-activity form-control w-450px ', required: true}) %>
                            </div>
                        </div>



                          <!--begin::Card Toolbar-->
                          <div class="card-toolbar">
                                <!--begin::Excample Tools-->
                                <div class="example-tools justify-content-center">
                                      <span class="example-toggle" data-toggle="tooltip" title="" data-original-title="View code"></span>
                                      <span class="example-copy" data-toggle="tooltip" title="" data-original-title="Copy code"></span>
                                </div>
                                <!--end::Excample Tools-->
                                <%= link_to back_url, class: 'btn btn-light bg-white mb-2' do %>
                                    <i class="ki ki-bold-arrow-back icon-sm"></i> <%= t(:back) %>
                                <% end %>
                          </div>
                          <!--end::Card Toolbar-->
                </div>
                <!--end::Card Header-->


<% if action_name == 'edit' || action_name == 'update' %>


    <!--begin::Card Body-->
    <div class="card-body">





        <!-- start row -->
        <div class="row">






        <div class="col-sm-12 col-md-12 py-4">
              <label class="form-label">
                  <h5><%= t(:kpi_name) %><span class="text-danger">*</span></h5>
              </label>

              <input type="text" name="list[title]" value="<%= @datas['data']['title'] rescue nil %>"  class="form-control" placeholder="<%= t(:kpi_name) %>" required >

          </div>



          <div class="col-sm-12 col-md-12 py-4">
              <label class="form-label">
                  <h5><%= t(:indicator_type) %><span class="text-danger">*</span></h5>
              </label>


              <%= select_tag("list[list_type_id]", options_for_select(@data_list_types['data'].map { |item| [item['title'], item['id']] }, (@datas['data']['list_type_id'] rescue nil)), {include_blank: true, class: 'selectize-activity form-control w-250px', required: true}) %>

          </div>


          <div class="col-sm-12 col-md-12 py-4">
              <label class="form-label">
                  <h5><%= t(:definition) %><span class="text-danger">*</span></h5>
              </label>
              <textarea class="form-control" name="list[description]" rows="10" cols="50" required><%= @datas['data']['description'] rescue nil %></textarea>
          </div>


          <div class="col-sm-12 col-md-12 py-6">
                <label class="form-label">
                  <h5><%= t(:target_value) %><span class="text-danger"></span></h5>
                </label>
                <div class="table-responsive py-3">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th><%= t(:twelve_months) %></th>
                            <td class="w-50">


                                <% if @datas && !@datas['data'].blank? && !@datas['data']['list_kpi_full_years'].blank? %>
                                <input type="hidden" name="list[list_kpi_full_years_attributes][0][id]" value="<%= @datas['data']['list_kpi_full_years'][0]['id'] rescue nil %>">
                                <% end %>

                                <input type="hidden" name="list[list_kpi_full_years_attributes][0][list_id]" value="<%= @datas['data']['id'] rescue nil %>">
                                <input type="hidden" name="list[list_kpi_full_years_attributes][0][user_id]" value="<%= @datas['data']['user_id'] rescue nil %>">
                                <input type="hidden" name="list[list_kpi_full_years_attributes][0][biz_id]" value="<%= @datas['data']['biz_id'] rescue nil %>">

                                <input type="text" name="list[list_kpi_full_years_attributes][0][title]" value="<%= @datas['data']['list_kpi_full_years'][0]['title'] rescue nil %>"  class="form-control" placeholder="รายละเอียด">
                            </td>

             
<% if  (@datas['data']['list_kpi_full_years'][0]['kpi_value_unit'].include?'ร้อยละ' rescue nil ) == true %>

                            <td class="w-200px">
                                <input type="text" name="list[list_kpi_full_years_attributes][0][kpi_value_unit]" value="<%= @datas['data']['list_kpi_full_years'][0]['kpi_value_unit'] rescue nil %>"  class="form-control" placeholder="หน่วย" >
                            </td>

                            <td>
                                <input type="number" step="any"  name="list[list_kpi_full_years_attributes][0][kpi_value]" value="<%= strip_trailing_zero(@datas['data']['list_kpi_full_years'][0]['kpi_value']) rescue nil %>"  class="form-control" placeholder="จำนวน" >
                            </td>
<% else %>
 <td>
                                <input type="number" step="any"  name="list[list_kpi_full_years_attributes][0][kpi_value]" value="<%= strip_trailing_zero(@datas['data']['list_kpi_full_years'][0]['kpi_value']) rescue nil %>"  class="form-control" placeholder="จำนวน" >
                            </td>

                            <td class="w-200px">
                                <input type="text" name="list[list_kpi_full_years_attributes][0][kpi_value_unit]" value="<%= @datas['data']['list_kpi_full_years'][0]['kpi_value_unit'] rescue nil %>"  class="form-control" placeholder="หน่วย" >
                            </td>
                     
<% end %> 



                     


                        </tr>
                        <tr>
                            <th><%= t(:six_months) %></th>
                            <td class="w-50">


                                <% if @datas && !@datas['data'].blank? && !@datas['data']['list_kpi_half_years'].blank? %>
                                <input type="hidden" name="list[list_kpi_half_years_attributes][0][id]" value="<%= @datas['data']['list_kpi_half_years'][0]['id'] rescue nil %>">
                                <% end %>

                                <input type="hidden" name="list[list_kpi_half_years_attributes][0][list_id]" value="<%= @datas['data']['id'] rescue nil %>">
                                <input type="hidden" name="list[list_kpi_half_years_attributes][0][user_id]" value="<%= @datas['data']['user_id'] rescue nil %>">
                                <input type="hidden" name="list[list_kpi_half_years_attributes][0][biz_id]" value="<%= @datas['data']['biz_id'] rescue nil %>">


                                <input type="text" name="list[list_kpi_half_years_attributes][0][title]" value="<%= @datas['data']['list_kpi_half_years'][0]['title'] rescue nil %>"  class="form-control" placeholder="รายละเอียด" >
                            </td>
<% if  (@datas['data']['list_kpi_half_years'][0]['kpi_value_unit'].include?'ร้อยละ' rescue nil ) == true %>
                            <td class="w-200px">
                                <input type="text" name="list[list_kpi_half_years_attributes][0][kpi_value_unit]" value="<%= @datas['data']['list_kpi_half_years'][0]['kpi_value_unit'] rescue nil %>"  class="form-control" placeholder="หน่วย" >
                            </td>
                            <td>
                                <input type="number" step="any" name="list[list_kpi_half_years_attributes][0][kpi_value]" value="<%=  strip_trailing_zero(@datas['data']['list_kpi_half_years'][0]['kpi_value']) rescue nil %>"  class="form-control" placeholder="จำนวน" >
                            </td>
<% else %>


                            <td>
                                <input type="number" step="any" name="list[list_kpi_half_years_attributes][0][kpi_value]" value="<%=  strip_trailing_zero(@datas['data']['list_kpi_half_years'][0]['kpi_value']) rescue nil %>"  class="form-control" placeholder="จำนวน" >
                            </td>
                            <td class="w-200px">
                                <input type="text" name="list[list_kpi_half_years_attributes][0][kpi_value_unit]" value="<%= @datas['data']['list_kpi_half_years'][0]['kpi_value_unit'] rescue nil %>"  class="form-control" placeholder="หน่วย" >
                            </td>

<% end %>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>





        <div class="col-sm-12 col-md-12 py-6">
              <!-- ======================================== begin :: List_Activity ===================================================-->
                <!--begin::Table Responsive-->

                <label class="form-label">
                  <h5><%= t(:description) %><span class="text-danger"></span></h5>
                </label>
                <div class="table-responsive py-3">
                <table id="list_activity_items" class="table table-bordered">
                    <tbody>
                <%
                    list_activity_sub_item_size = 0
                    if @datas && @datas['data'] && (@datas['data']['list_activities'] rescue nil)
                        list_activity_sub_item_size = @datas['data']['list_activities'].size.to_i
                %>
                    <% @datas['data']['list_activities'].each_with_index do |sub_item,idx|  %>
                        <tr id="list_activities_items<%= idx %>">

                            <td>
                                <textarea class="form-control" rows="10" cols="40" name="list[list_activities_attributes][<%= idx %>][title]"><%= sub_item['title'] %></textarea>
                            </td>

                            <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#list_activities_items<%= idx %>').hide();$('#list_activities_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>

                            <input type="hidden" class="form-control" name="list[list_activities_attributes][<%= idx %>][id]" value="<%= sub_item['id'] %>">

                            <input type="hidden" class="check_destroy" name="list[list_activities_attributes][<%= idx %>][_destroy]" value=false>



                      </tr>
                    <% end %>
                <% end %>

                    </tbody>
                </table>


                <div class="text-left"><a onclick="addactivityrows('list_activity_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>


                    <script type="text/javascript">
                        var list_activity_items_row = <%= list_activity_sub_item_size %>;
                            function addactivityrows(list_activity_id_name) {
                              //  alert('call function activity');
                                html = '<tr id="'+ list_activity_id_name + list_activity_items_row + '">';

                                html += '<td><textarea class="form-control" rows="10" cols="40" name="list[list_activities_attributes]['+list_activity_items_row+'][title]"></textarea></td>';

                                html += '<input type="hidden" class="form-control" name="list[list_activities_attributes]['+list_activity_items_row+'][biz_id]" value= "<%= @datas['data']['biz_id'] rescue nil %>" >';
                                html += '<input type="hidden" class="form-control" name="list[list_activities_attributes]['+list_activity_items_row+'][user_id]" value= "<%= @datas['data']['user_id'] rescue nil %>" >';



                                html += '<td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_activity_id_name + list_activity_items_row + '\').remove();$(\'#' + list_activity_id_name + list_activity_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';

                                html += '<input type="hidden" class="check_destroy" name="list[list_activities_attributes]['+list_activity_items_row+'][_destroy]" value=false>';
                                html += '<input type="hidden" class="check_destroy" name="list[tasks_attributes]['+list_activity_items_row+'][_destroy]" value=false>';

                                html += '</tr>';

                                $('#' + list_activity_id_name + ' tbody').append(html);

                                list_activity_items_row++;
                            }
                        </script>
            </div>
            <!--end::table-responsive py-5 -->
<!-- ======================================== end :: List_Activity ===================================================-->



          <div class="col-sm-12 col-md-12 py-6">
                <label class="form-label">
                  <h5><%= t(:scoring_criteria) %><span class="text-danger"></span></h5>
                </label>
                <div class="table-responsive py-3">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th><%= t(:score_one) %></th>
                            <td class="w-50">

                                <% if @datas && !@datas['data'].blank? && !@datas['data']['list_scores'].blank? %>




                                <input type="hidden" name="list[list_scores_attributes][0][id]" value="<%= @datas['data']['list_scores'][0]['id'] rescue nil %>">
                                <% end %>

                                <input type="hidden" name="list[list_scores_attributes][0][list_id]" value="<%= @datas['data']['id'] rescue nil %>">
                                <input type="hidden" name="list[list_scores_attributes][0][user_id]" value="<%= @datas['data']['user_id'] rescue nil %>">
                                <input type="hidden" name="list[list_scores_attributes][0][biz_id]" value="<%= @datas['data']['biz_id'] rescue nil %>">


                                <input  type="text" name="list[list_scores_attributes][0][title_first]" value="<%= @datas['data']['list_scores'][0]['title_first'] rescue nil %>"  class="form-control" placeholder="รายละเอียด">

                            </td>
<% if  (@datas['data']['list_scores'][0]['unit_first'].include?'ร้อยละ' rescue nil ) == true %>
                            <td class="w-200px">
                            <input type="text" name="list[list_scores_attributes][0][unit_first]" value="<%= @datas['data']['list_scores'][0]['unit_first'] rescue nil %>"  class="form-control", placeholder='หน่วย' >
                            </td>
                            <td><input type="number" step="any"  name="list[list_scores_attributes][0][score_first]" value="<%= strip_trailing_zero(@datas['data']['list_scores'][0]['score_first']) rescue nil %>"  class="form-control" placeholder="ตัวเลข"></td>
<% else %>
                            <td><input type="number" step="any"  name="list[list_scores_attributes][0][score_first]" value="<%= strip_trailing_zero(@datas['data']['list_scores'][0]['score_first']) rescue nil %>"  class="form-control" placeholder="ตัวเลข"></td>
                            <td class="w-200px">
                            <input type="text" name="list[list_scores_attributes][0][unit_first]" value="<%= @datas['data']['list_scores'][0]['unit_first'] rescue nil %>"  class="form-control", placeholder='หน่วย' >
                            </td>
<% end %>
                        </tr>
                     
                        <tr>
                            <th><%= t(:score_two) %></th>
                            <td class="w-50">

                                <% if @datas && !@datas['data'].blank? && !@datas['data']['list_scores'].blank? %>
                                <input type="hidden" name="list[list_scores_attributes][0][id]" value="<%= @datas['data']['list_scores'][0]['id'] rescue nil %>">
                                <% end %>

                                <input type="hidden" name="list[list_scores_attributes][0][list_id]" value="<%= @datas['data']['id'] rescue nil %>">
                                <input type="hidden" name="list[list_scores_attributes][0][user_id]" value="<%= @datas['data']['user_id'] rescue nil %>">
                                <input type="hidden" name="list[list_scores_attributes][0][biz_id]" value="<%= @datas['data']['biz_id'] rescue nil %>">

                                <input type="text" name="list[list_scores_attributes][0][title_second]" value="<%= @datas['data']['list_scores'][0]['title_second'] rescue nil %>"  class="form-control" placeholder="รายละเอียด">
                               

                            </td>
<% if  (@datas['data']['list_scores'][0]['unit_second'].include?'ร้อยละ' rescue nil ) == true %>                           
                            <td class="w-200px">
                                <input type="text" name="list[list_scores_attributes][0][unit_second]" value="<%= @datas['data']['list_scores'][0]['unit_second'] rescue nil %>"  class="form-control", placeholder='หน่วย' >
                            </td>
                            <td>
                            <input type="number" step="any" name="list[list_scores_attributes][0][score_second]" value="<%= strip_trailing_zero(@datas['data']['list_scores'][0]['score_second']) rescue nil %>"  class="form-control" placeholder="ตัวเลข" >
                            </td>

<% else %>
                            <td>
                            <input type="number" step="any" name="list[list_scores_attributes][0][score_second]" value="<%= strip_trailing_zero(@datas['data']['list_scores'][0]['score_second']) rescue nil %>"  class="form-control" placeholder="ตัวเลข" >
                            </td>

                            <td class="w-200px">
                                <input type="text" name="list[list_scores_attributes][0][unit_second]" value="<%= @datas['data']['list_scores'][0]['unit_second'] rescue nil %>"  class="form-control", placeholder='หน่วย' >
                            </td>
<% end %>
                        </tr>
                        <tr>
                            <th><%= t(:score_three) %></th>
                            <td class="w-50">

                                <% if @datas && !@datas['data'].blank? && !@datas['data']['list_scores'].blank? %>
                                <input type="hidden" name="list[list_scores_attributes][0][id]" value="<%= @datas['data']['list_scores'][0]['id'] rescue nil %>">
                                <% end %>

                                <input type="hidden" name="list[list_scores_attributes][0][list_id]" value="<%= @datas['data']['id'] rescue nil %>">
                                <input type="hidden" name="list[list_scores_attributes][0][user_id]" value="<%= @datas['data']['user_id'] rescue nil %>">
                                <input type="hidden" name="list[list_scores_attributes][0][biz_id]" value="<%= @datas['data']['biz_id'] rescue nil %>">
                                <input type="text" name="list[list_scores_attributes][0][title_third]" value="<%= @datas['data']['list_scores'][0]['title_third'] rescue nil %>"  class="form-control" placeholder="รายละเอียด" >

                                

                            </td>
<% if  (@datas['data']['list_scores'][0]['unit_third'].include?'ร้อยละ' rescue nil ) == true %>  

                            <td class="w-200px">
                            <input type="text" name="list[list_scores_attributes][0][unit_third]" value="<%= @datas['data']['list_scores'][0]['unit_third'] rescue nil %>"  class="form-control", placeholder='หน่วย' >
                            </td>
                           <td>
                            <input  type="number" step="any" name="list[list_scores_attributes][0][score_third]" value="<%= strip_trailing_zero(@datas['data']['list_scores'][0]['score_third']) rescue nil %>"  class="form-control" placeholder="ตัวเลข" >
                            </td>
<% else %>
                            
                            <td>
                            <input  type="number" step="any" name="list[list_scores_attributes][0][score_third]" value="<%= strip_trailing_zero(@datas['data']['list_scores'][0]['score_third']) rescue nil %>"  class="form-control" placeholder="ตัวเลข" >
                            </td>

                            <td class="w-200px">
                            <input type="text" name="list[list_scores_attributes][0][unit_third]" value="<%= @datas['data']['list_scores'][0]['unit_third'] rescue nil %>"  class="form-control", placeholder='หน่วย' >
                            </td>
<% end %>
                        </tr>
                        <tr>
                            <th><%= t(:score_four) %></th>
                            <td class="w-50">

                                <% if @datas && !@datas['data'].blank? && !@datas['data']['list_scores'].blank? %>
                                <input type="hidden" name="list[list_scores_attributes][0][id]" value="<%= @datas['data']['list_scores'][0]['id'] rescue nil %>">
                                <% end %>

                                <input type="hidden" name="list[list_scores_attributes][0][list_id]" value="<%= @datas['data']['id'] rescue nil %>">
                                <input type="hidden" name="list[list_scores_attributes][0][user_id]" value="<%= @datas['data']['user_id'] rescue nil %>">
                                <input type="hidden" name="list[list_scores_attributes][0][biz_id]" value="<%= @datas['data']['biz_id'] rescue nil %>">


                                <input type="text" name="list[list_scores_attributes][0][title_fourth]" value="<%= @datas['data']['list_scores'][0]['title_fourth'] rescue nil %>"  class="form-control" placeholder="รายละเอียด" >

                            </td>
<% if  (@datas['data']['list_scores'][0]['unit_fourth'].include?'ร้อยละ' rescue nil ) == true  %>   
                            <td class="w-200px">
                            <input type="text" name="list[list_scores_attributes][0][unit_fourth]" value="<%= @datas['data']['list_scores'][0]['unit_fourth'] rescue nil %>"  class="form-control", placeholder='หน่วย' >
                            </td>
                            <td>
                            <input type="number" step="any"  name="list[list_scores_attributes][0][score_fourth]" value="<%= strip_trailing_zero(@datas['data']['list_scores'][0]['score_fourth']) rescue nil %>"  class="form-control" placeholder="ตัวเลข" >
                            </td>
<% else %>
                            <td>
                            <input type="number" step="any"  name="list[list_scores_attributes][0][score_fourth]" value="<%= strip_trailing_zero(@datas['data']['list_scores'][0]['score_fourth']) rescue nil %>"  class="form-control" placeholder="ตัวเลข" >
                            </td>
                            <td class="w-200px">
                            <input type="text" name="list[list_scores_attributes][0][unit_fourth]" value="<%= @datas['data']['list_scores'][0]['unit_fourth'] rescue nil %>"  class="form-control", placeholder='หน่วย' >
                            </td>
<% end %>
                        </tr>
                        <tr>
                            <th><%= t(:score_five) %></th>
                            <td class="w-50">

                                <% if @datas && !@datas['data'].blank? && !@datas['data']['list_scores'].blank? %>
                                <input type="hidden" name="list[list_scores_attributes][0][id]" value="<%= @datas['data']['list_scores'][0]['id'] rescue nil %>">
                                <% end %>

                                <input type="hidden" name="list[list_scores_attributes][0][list_id]" value="<%= @datas['data']['id'] rescue nil %>">
                                <input type="hidden" name="list[list_scores_attributes][0][user_id]" value="<%= @datas['data']['user_id'] rescue nil %>">
                                <input type="hidden" name="list[list_scores_attributes][0][biz_id]" value="<%= @datas['data']['biz_id'] rescue nil %>">


                                <input type="text" name="list[list_scores_attributes][0][title_fifth]" value="<%= @datas['data']['list_scores'][0]['title_fifth'] rescue nil %>"  class="form-control" placeholder="รายละเอียด" >

                               </td>
<% if  (@datas['data']['list_scores'][0]['unit_fifth'].include?'ร้อยละ' rescue nil ) == true %>  
                                <td class="w-200px">
                                <input type="text" name="list[list_scores_attributes][0][unit_fifth]" value="<%= @datas['data']['list_scores'][0]['unit_fifth'] rescue nil %>"  class="form-control", placeholder='หน่วย' >
                                </td>
                                <td>
                                <input type="number" step="any" name="list[list_scores_attributes][0][score_fifth]" value="<%= strip_trailing_zero(@datas['data']['list_scores'][0]['score_fifth']) rescue nil %>"  class="form-control" placeholder="ตัวเลข" >
                                </td>

<% else %>
                                <td>
                                <input type="number" step="any" name="list[list_scores_attributes][0][score_fifth]" value="<%= strip_trailing_zero(@datas['data']['list_scores'][0]['score_fifth']) rescue nil %>"  class="form-control" placeholder="ตัวเลข" >
                                </td>

                                <td class="w-200px">
                                <input type="text" name="list[list_scores_attributes][0][unit_fifth]" value="<%= @datas['data']['list_scores'][0]['unit_fifth'] rescue nil %>"  class="form-control", placeholder='หน่วย' >
                                </td>
<% end %>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>




        <!-- ======================================== begin :: Task Attechment 1 ===================================================-->
<!--begin::table-responsive py-5 -->
<div class="table-responsive py-5">
    <label class="form-label">
      <h5>สูตรการคํานวณ : (ถ้ามี)<span class="text-danger"></span></h5>
    </label>

    <table id="list_formula_items" class="table table-bordered">
        <thead>
            <tr>
                <th><%= t(:attachment) %></th>
                <th><%= t(:detail) %></th>
                <th style="width: 80px;"></th>
            </tr>
        </thead>
        <tbody>
    <% 
        list_formula_sub_item_size = 0
        list_formula_sub_item_size = 0
        if @datas && @datas['data'] && @datas['data']['list_formulas']
            list_formula_sub_item_size = @datas['data']['list_formulas'].size.to_i
    %>
        <% @datas && @datas['data']['list_formulas'].each_with_index do |list_formula_sub_item,idx|  %>
            <tr id="list_formulas_items<%= idx %>">

                <td style="width: 350px;">
                    <%#= @datas['data']['list_formulas'][idx] %>
                    <% if !list_formula_sub_item['image_data'].blank? && !list_formula_sub_item['image_data'].blank? %>
                        <a href="<%= $server[@controller_title] %>/<%= list_formula_sub_item['image_url_original'] %>" target="_blank" class="btn btn-primary">
                            <span class="far fa-file"></span> <%= t :view %>
                            <!--
                            <img src="<%= $server[@controller_title] %>/<%= list_formula_sub_item['image_url_original'] %>" class="img-thumbnail" />
                        -->
                        </a>
                    <% end %>
                </td>

                <td>
                    <textarea class="form-control" name="list[list_formulas_attributes][<%= idx %>][title]" rows="10" cols="50"><%= list_formula_sub_item['title'] %></textarea>
                </td>

                <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#list_formulas_items<%= idx %>').hide();$('#list_formulas_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>
                                              
                <input type="hidden" class="form-control" placeholder="id" name="list[list_formulas_attributes][<%= idx %>][id]" value="<%= list_formula_sub_item['id'] %>">
                                              
                <input type="hidden" class="check_destroy" placeholder="" name="list[list_formulas_attributes][<%= idx %>][_destroy]" value=false>
                                              
            </tr>
        <% end %>
    <% end %>
                                              
                                              
        </tbody>
    </table>

    
   
    <div class="text-left"><a onclick="addlist_formularows('list_formula_items');" class="btn btn-sm p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>
           
                               
                                              
        <script type="text/javascript">
            var list_formula_items_row = <%= list_formula_sub_item_size + list_formula_sub_item_size %>;

        


                function addlist_formularows(list_formula_id_name) {


                                    


                    html = '<tr id="'+ list_formula_id_name + list_formula_items_row + '">';    

                    html += '<td><div class=""><input id="_'+list_formula_items_row+'photo-upload-result" type="hidden" name="list[list_formulas_attributes]['+list_formula_items_row+'][image]"><input accept="image/jpeg,image/jpg,image/png,image/gif,application/pdf,application/powerpoint,application/vnd.ms-powerpoint,application/vnd.ms-office,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/x-zip,application/zip,application/x-zip-compressed,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-7z-compressed" data-upload-server="" data-preview-element="_'+list_formula_items_row+'preview-photo" data-upload-result-element="_'+list_formula_items_row+'photo-upload-result" id="input-list_formula_items_row-'+list_formula_items_row+'" class="" type="file"><div class="d-block mb-4"><a href="#" target="_blank" class="btn btn-primary"  id="_'+list_formula_items_row+'preview-photo" style="display: none;"><span class="far fa-file"></span> <%= t :view %></a></div></div></td>'   

                    html += '<td><textarea class="form-control" name="list[list_formulas_attributes]['+list_formula_items_row+'][title]" rows="10" cols="50"></textarea></td>';

                    html += '<input type="hidden" class="form-control" name="list[list_formulas_attributes]['+list_formula_items_row+'][biz_id]" value = "<%= $user[session.id.to_s][@controller_title]['biz_id'] %>" >';  
                    
                    html += '<input type="hidden" class="form-control"  name="list[list_formulas_attributes]['+list_formula_items_row+'][user_id]" value = "<%= $user[session.id.to_s][@controller_title]['id'] %>" >'; 
                                              
                    html += '<td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_formula_id_name + list_formula_items_row + '\').remove();$(\'#' + list_formula_id_name + list_formula_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';
                                                                                                                                
                    html += '<input type="hidden" class="check_destroy" placeholder="" name="list[list_formulas_attributes]['+list_formula_items_row+'][_destroy]" value=false>';
                                                                                                                                                           
                    html += '</tr>';
                                              
                    $('#' + list_formula_id_name + ' tbody').append(html);
                              



                      function normal_fileUpload(fileInput) {
                        var imagePreview = document.getElementById(fileInput.dataset.previewElement)

                        fileInput.style.display = 'none' // uppy will add its own file input

                        var uppy = Uppy.Core({
                            id: fileInput.id,
                            restrictions: {
                              allowedFileTypes: fileInput.accept.split(','),
                            }
                          })
                          .use(Uppy.FileInput, {
                            target: fileInput.parentNode,
                          })
                          .use(Uppy.Informer, {
                            target: fileInput.parentNode,
                          })
                          .use(Uppy.ProgressBar, {
                            target: imagePreview.parentNode,
                          })

                        

                        uppy.use(Uppy.XHRUpload, {
                            endpoint: '<%= $server[@controller_title] %>/upload', // Shrine's upload endpoint
                            fieldName: 'file',
                          })



                        uppy.run()

                        uppy.on('upload-success', function (file, data, uploadURL) {
                          // show image preview
                          imagePreview.src = URL.createObjectURL(file.data)
                          imagePreview.href = URL.createObjectURL(file.data) 
                          imagePreview.style = 'display: block;'
                          $('#' +imagePreview.id + '-title').val(file.name)
                          $('#task_attach_btn_save').css('display', 'block');
                          

                          var uploadedFileData = JSON.stringify(data)

                          // set hidden field value to the uploaded file data so that it's submitted with the form as the attachment
                          var hiddenInput = document.getElementById(fileInput.dataset.uploadResultElement)
                          hiddenInput.value = uploadedFileData
                          //alert(uploadedFileData);
                        })

                        return uppy
                      }



                   //for Button Choose upload image
                   fileInput = document.querySelector('#input-list_formula_items_row-'+ list_formula_items_row);
                   normal_fileUpload(fileInput);










                    list_formula_items_row++;







                }
            </script>


<br/>





            </div>
            <!--end::table-responsive py-5 -->
<!-- ======================================== end :: Task Attachment ===================================================-->




        <div class="col-sm-12 col-md-12 py-4">
              <label class="form-label">
                  <h5><%= t(:resources_storage) %> :<span class="text-danger"></span></h5>
              </label>

              <% if @datas && !@datas['data'].blank? && !@datas['data']['list_data_sources'][0].blank? && !@datas['data']['list_data_sources'].blank? %>
                <input type="hidden" name="list[list_data_sources_attributes][0][id]" value="<%= @datas['data']['list_data_sources'][0]['id'] rescue nil %>">
                <% end %>

                <input type="hidden" name="list[list_data_sources_attributes][0][list_id]" value="<%= @datas['data']['id'] rescue nil %>">
                <input type="hidden" name="list[list_data_sources_attributes][0][user_id]" value="<%= @datas['data']['user_id'] rescue nil %>">
                <input type="hidden" name="list[list_data_sources_attributes][0][biz_id]" value="<%= @datas['data']['biz_id'] rescue nil %>">
                <textarea class="form-control my-3" rows="10" cols="40" name="list[list_data_sources_attributes][0][title]"><%= @datas['data']['list_data_sources'][0]['title'] rescue nil %></textarea>
          </div>





          <div class="col-sm-12 col-md-12 py-6">
                <div class="table-responsive py-3">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
       
                           

                            <!-- ====================ผู้กำกับดูแลตัวชี้วัด========================= -->

                                    
                            <!--begin::table-responsive py-5 -->
                            <div class="table-responsive py-5">
                                <table id="list_kpi_owner_items" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th><%= t(:indicators_keeper) %> (Owner)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                <% 
                                list_kpi_owner_sub_item_size = 0
                           
                                    if @datas && @datas['data'] && @datas['data']['list_kpi_owners']
                                        list_kpi_owner_sub_item_size = @datas['data']['list_kpi_owners'].size.to_i
                                %>
                                    <% @datas['data']['list_kpi_owners'].each_with_index do |list_kpi_owner_sub_item,idx|  %>
                                        <tr id="list_kpi_owner_items<%= idx %>">

                                            <td>
                                            <select class= "selectize-devision_director form-control" name="list[list_kpi_owners_attributes][<%= idx %>][devision_director_id]" > value="<%= list_kpi_owner_sub_item['devision_director']['title'] %>" <% @data_devision_directors['data'].each do |devision_director| %><option value="<%= devision_director['id'] %>"  <% if list_kpi_owner_sub_item['devision_director']['title'] ==  devision_director['title'] %> selected > <%= devision_director['title'] %> <% else %> > <%= devision_director['title'] %> <% end %> </option><% end %></select>
                                            </td>

                                            <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#list_kpi_owner_items<%= idx %>').hide();$('#list_kpi_owner_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>
                                                                          
                                            <input type="hidden" class="form-control" placeholder="id" name="list[list_kpi_owners_attributes][<%= idx %>][id]" value="<%= list_kpi_owner_sub_item['id'] %>">
                                                                          
                                            <input type="hidden" class="check_destroy" placeholder="" name="list[list_kpi_owners_attributes][<%= idx %>][_destroy]" value=false>
                                                                          
                                        </tr>
                                    <% end %>
                                <% end %>
                                                                          
                                                                          
                                    </tbody>
                                </table>
                                
                               
                                <div class="text-left"><a onclick="addlist_kpi_owner_rows('list_kpi_owner_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>
                                                                          
                                                                          
                                    <script type="text/javascript">
                                        var list_kpi_owner_items_row = <%= list_kpi_owner_sub_item_size + list_kpi_owner_sub_item_size %>;
                                            function addlist_kpi_owner_rows(list_kpi_owner_id_name) {
                                             //   alert('call function list_kpi_owner');
                                                html = '<tr id="'+ list_kpi_owner_id_name + list_kpi_owner_items_row + '">';                                                                                  
                                                                          
                                                html += '<td><select class= "selectize-devision_director form-control" name="list[list_kpi_owners_attributes]['+list_kpi_owner_items_row+'][devision_director_id]" ><% @data_devision_directors['data'].each do |devision_director| %><option value="<%= devision_director['id'] %>"><%= devision_director['title']%></option><% end %></select></td>';

                                                html += '<input type="hidden" class="form-control" name="list[list_kpi_owners_attributes]['+list_kpi_owner_items_row+'][biz_id]" value = "<%= $user[session.id.to_s][@controller_title]['biz_id'] %>" >';  
                                                
                                                html += '<input type="hidden" class="form-control" name="list[list_kpi_owners_attributes]['+list_kpi_owner_items_row+'][user_id]" value = "<%= $user[session.id.to_s][@controller_title]['id'] %>" >'; 
                                                                          
                                                html += '<td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_kpi_owner_id_name + list_kpi_owner_items_row + '\').remove();$(\'#' + list_kpi_owner_id_name + list_kpi_owner_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';
                                                                                                                                                            
                                                html += '<input type="hidden" class="check_destroy" placeholder="" name="list[list_kpi_owners_attributes]['+list_kpi_owner_items_row+'][_destroy]" value=false>';
                                                                                                                                                                                       
                                                html += '</tr>';
                                                                          
                                                $('#' + list_kpi_owner_id_name + ' tbody').append(html);
                                                                          
                                                list_kpi_owner_items_row++;
                                            }

                                            
                                        </script>
                                        </div>
                                        <!--end::table-responsive py-5 -->      


                            <!-- ====================END  ผู้กำกับดูแลตัวชี้วัด =================================== -->

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- ====================ผู้สนับสนุน ========================= -->

                                    
        <!--begin::table-responsive py-5 -->
        <div class="table-responsive py-5">
            <table id="list_kpi_supporter_items" class="table table-bordered">
                <thead>
                    <tr>
                        <th>ผู้สนับสนุน (Support)</th>
                    </tr>
                </thead>
                <tbody>
            <% 
            list_kpi_owner_sub_item_size = 0
       
                if @datas && @datas['data'] && @datas['data']['list_kpi_supporters']
                    list_kpi_supporter_sub_item_size = @datas['data']['list_kpi_supporters'].size.to_i
            %>
                <% @datas['data']['list_kpi_supporters'].each_with_index do |list_kpi_supporter_sub_item,idx|  %>
                    <tr id="list_kpi_supporter_items<%= idx %>">

                        <td>
                        <select class= "selectize-devision_director form-control" name="list[list_kpi_supporters_attributes][<%= idx %>][devision_director_id]" > value="<%= list_kpi_supporter_sub_item['devision_director']['title'] %>" <% @data_devision_directors['data'].each do |devision_director| %><option value="<%= devision_director['id'] %>"  <% if list_kpi_supporter_sub_item['devision_director']['title'] ==  devision_director['title'] %> selected > <%= devision_director['title'] %>-<%= devision_director['title_slug'] %> <% else %> > <%= devision_director['title'] %>-<%= devision_director['title_slug'] %> <% end %> </option><% end %></select>
                        </td>

                        <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#list_kpi_supporter_items<%= idx %>').hide();$('#list_kpi_supporter_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>
                                                      
                        <input type="hidden" class="form-control" placeholder="id" name="list[list_kpi_supporters_attributes][<%= idx %>][id]" value="<%= list_kpi_supporter_sub_item['id'] %>">
                                                      
                        <input type="hidden" class="check_destroy" placeholder="" name="list[list_kpi_supporters_attributes][<%= idx %>][_destroy]" value=false>
                                                      
                    </tr>
                <% end %>
            <% end %>
                                                      
                                                      
                </tbody>
            </table>
            
           
            <div class="text-left"><a onclick="addlist_kpi_supporter_rows('list_kpi_supporter_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>
                                                      
                                                      
                <script type="text/javascript">
                    var list_kpi_supporter_items_row = <%= list_kpi_supporter_sub_item_size + list_kpi_supporter_sub_item_size %>;
                        function addlist_kpi_supporter_rows(list_kpi_supporter_id_name) {
                         //   alert('call function list_kpi_supporter');
                            html = '<tr id="'+ list_kpi_supporter_id_name + list_kpi_supporter_items_row + '">';                                                                                  
                                                      
                            html += '<td><select class= "selectize-devision_director form-control" name="list[list_kpi_supporters_attributes]['+list_kpi_supporter_items_row+'][devision_director_id]" ><% @data_devision_directors['data'].each do |devision_director| %><option value="<%= devision_director['id'] %>"><%= devision_director['title']%> - <%= devision_director['title_slug']%> </option><% end %></select></td>';

                            html += '<input type="hidden" class="form-control" name="list[list_kpi_supporters_attributes]['+list_kpi_supporter_items_row+'][biz_id]" value = "<%= $user[session.id.to_s][@controller_title]['biz_id'] %>" >';  
                            
                            html += '<input type="hidden" class="form-control" name="list[list_kpi_supporters_attributes]['+list_kpi_supporter_items_row+'][user_id]" value = "<%= $user[session.id.to_s][@controller_title]['id'] %>" >'; 
                                                      
                            html += '<td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_kpi_supporter_id_name + list_kpi_supporter_items_row + '\').remove();$(\'#' + list_kpi_supporter_id_name + list_kpi_supporter_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';
                                                                                                                                        
                            html += '<input type="hidden" class="check_destroy" placeholder="" name="list[list_kpi_supporters_attributes]['+list_kpi_supporter_items_row+'][_destroy]" value=false>';
                                                                                                                                                                   
                            html += '</tr>';
                                                      
                            $('#' + list_kpi_supporter_id_name + ' tbody').append(html);
                                                      
                            list_kpi_supporter_items_row++;
                        }

                       

                    </script>
                    </div>
                    <!--end::table-responsive py-5 -->      


        <!-- ====================END ผู้สนับสนุน =================================== -->



        <!-- ====================ผู้จัดเก็บข้อมูล : ========================= -->

                                    
        <!--begin::table-responsive py-5 -->
        <div class="table-responsive py-5">
            <table id="list_kpi_person_items" class="table table-bordered">
                <thead>
                    <tr>
                        <th>ผู้จัดเก็บข้อมูล</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            <% 
            list_kpi_owner_sub_item_size = 0
       
                if @datas && @datas['data'] && @datas['data']['list_kpi_persons']
                    list_kpi_person_sub_item_size = @datas['data']['list_kpi_persons'].size.to_i
            %>
                <% @datas['data']['list_kpi_persons'].each_with_index do |list_kpi_person_sub_item,idx|  %>
                    <tr id="list_kpi_person_items<%= idx %>">

                        <td>
                        <input type="text" class="form-control mx-2" placeholder="ชื่อ-นามสกุล" name="list[list_kpi_persons_attributes][<%= idx %>][title]" value="<%= list_kpi_person_sub_item['title'] rescue nil %>">
                        </td>
                        <td>
                        <input type="phone" class="form-control mx-2" placeholder="เบอร์โทรศัพท์" name="list[list_kpi_persons_attributes][<%= idx %>][phone]" value="<%= list_kpi_person_sub_item['phone'] rescue nil %>">
                        </td>

                        <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#list_kpi_person_items<%= idx %>').hide();$('#list_kpi_person_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>
                                                      
                        <input type="hidden" class="form-control" placeholder="id" name="list[list_kpi_persons_attributes][<%= idx %>][id]" value="<%= list_kpi_person_sub_item['id'] %>">
                                                      
                        <input type="hidden" class="check_destroy" placeholder="" name="list[list_kpi_persons_attributes][<%= idx %>][_destroy]" value=false>
                                                      
                    </tr>
                <% end %>
            <% end %>
                                                      
                                                      
                </tbody>
            </table>
            
           
            <div class="text-left"><a onclick="addlist_kpi_person_rows('list_kpi_person_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>
                                                      
                                                      
                <script type="text/javascript">



                    var list_kpi_person_items_row = <%= list_kpi_person_sub_item_size + list_kpi_person_sub_item_size %>;
                        function addlist_kpi_person_rows(list_kpi_person_id_name) {
                         //   alert('call function list_kpi_person');
                            html = '<tr id="'+ list_kpi_person_id_name + list_kpi_person_items_row + '">';                                                                                  
                                                      
                            html += '<td><input type="text" class="form-control "  placeholder="ชื่อ-นามสกุล" name="list[list_kpi_persons_attributes]['+list_kpi_person_items_row+'][title]" ></td>';

                            html += '<td><input type="phone" class="form-control mx-2" placeholder="เบอร์โทรศัพท์" name="list[list_kpi_persons_attributes]['+list_kpi_person_items_row+'][phone]" ></td>';

                            html += '<input type="hidden" class="form-control" name="list[list_kpi_persons_attributes]['+list_kpi_person_items_row+'][biz_id]" value = "<%= $user[session.id.to_s][@controller_title]['biz_id'] %>" >';  
                            
                            html += '<input type="hidden" class="form-control" name="list[list_kpi_persons_attributes]['+list_kpi_person_items_row+'][user_id]" value = "<%= $user[session.id.to_s][@controller_title]['id'] %>" >'; 
                                                      
                            html += '<td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_kpi_person_id_name + list_kpi_person_items_row + '\').remove();$(\'#' + list_kpi_person_id_name + list_kpi_person_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';
                                                                                                                                        
                            html += '<input type="hidden" class="check_destroy" placeholder="" name="list[list_kpi_persons_attributes]['+list_kpi_person_items_row+'][_destroy]" value=false>';
                                                                                                                                                                   
                            html += '</tr>';
                                                      
                            $('#' + list_kpi_person_id_name + ' tbody').append(html);
                                                      
                            list_kpi_person_items_row++;
                        }
                    </script>
                    </div>
                    <!--end::table-responsive py-5 -->      


        <!-- ====================END ผู้สนับสนุน =================================== -->





        <!-- ====================ผู้จัดเก็บข้อมูล : ========================= -->

                                    
        <!--begin::table-responsive py-5 -->
        <div class="table-responsive py-5">
            <table id="list_kpi_online_items" class="table table-bordered">
                <thead>
                    <tr>
                        <th><%= t(:reporter_in_kpi_online_system) %></th>
                        <th></th>
                        <th></th>
               
                    </tr>
                </thead>
                <tbody>
            <% 
            list_kpi_owner_sub_item_size = 0
       
                if @datas && @datas['data'] && @datas['data']['list_kpi_onlines']
                    list_kpi_online_sub_item_size = @datas['data']['list_kpi_onlines'].size.to_i
            %>
                <% @datas['data']['list_kpi_onlines'].each_with_index do |list_kpi_online_sub_item,idx|  %>
                    <tr id="list_kpi_online_items<%= idx %>">

                        <td>
                        <input type="text" class="form-control mx-2" placeholder="ชื่อ-นามสกุล" name="list[list_kpi_onlines_attributes][<%= idx %>][title]" value="<%= list_kpi_online_sub_item['title'] rescue nil %>">
                        </td>
                        <td>
                        <input type="text" class="form-control mx-2" placeholder="เบอร์โทรศัพท์" name="list[list_kpi_onlines_attributes][<%= idx %>][phone]" value="<%= list_kpi_online_sub_item['phone'] rescue nil %>">
                        </td>
                        <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#list_kpi_online_items<%= idx %>').hide();$('#list_kpi_online_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>
                                                      
                        <input type="hidden" class="form-control" placeholder="id" name="list[list_kpi_onlines_attributes][<%= idx %>][id]" value="<%= list_kpi_online_sub_item['id'] %>">
                                                      
                        <input type="hidden" class="check_destroy" placeholder="" name="list[list_kpi_onlines_attributes][<%= idx %>][_destroy]" value=false>
                                                      
                    </tr>
                <% end %>
            <% end %>
                                                      
                                                      
                </tbody>
            </table>
            
           
            <div class="text-left"><a onclick="addlist_kpi_online_rows('list_kpi_online_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>
                                                      
                                                      
                <script type="text/javascript">
                    var list_kpi_online_items_row = <%= list_kpi_online_sub_item_size + list_kpi_online_sub_item_size %>;
                        function addlist_kpi_online_rows(list_kpi_online_id_name) {
                         //   alert('call function list_kpi_online');
                            html = '<tr id="'+ list_kpi_online_id_name + list_kpi_online_items_row + '">';                                                                                  
                                                      
                            html += '<td><input type="text" class="form-control " placeholder="ชื่อ-นามสกุล" name="list[list_kpi_onlines_attributes]['+list_kpi_online_items_row+'][title]" ></td>';

                            html += '<td><input type="text" class="form-control mx-2" placeholder="เบอร์โทรศัพท์" name="list[list_kpi_onlines_attributes]['+list_kpi_online_items_row+'][phone]" ></td>';

                            html += '<input type="hidden" class="form-control" name="list[list_kpi_onlines_attributes]['+list_kpi_online_items_row+'][biz_id]" value = "<%= $user[session.id.to_s][@controller_title]['biz_id'] %>" >';  
                            
                            html += '<input type="hidden" class="form-control" name="list[list_kpi_onlines_attributes]['+list_kpi_online_items_row+'][user_id]" value = "<%= $user[session.id.to_s][@controller_title]['id'] %>" >'; 
                                                      
                            html += '<td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_kpi_online_id_name + list_kpi_online_items_row + '\').remove();$(\'#' + list_kpi_online_id_name + list_kpi_online_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';
                                                                                                                                        
                            html += '<input type="hidden" class="check_destroy" placeholder="" name="list[list_kpi_onlines_attributes]['+list_kpi_online_items_row+'][_destroy]" value=false>';
                                                                                                                                                                   
                            html += '</tr>';
                                                      
                            $('#' + list_kpi_online_id_name + ' tbody').append(html);
                                                      
                            list_kpi_online_items_row++;
                        }
                    </script>
                    </div>
                    <!--end::table-responsive py-5 -->      


        <!-- ====================END ผู้สนับสนุน =================================== -->




        <!-- ====================หมายเหตุ : ========================= -->

                                    
        <!--begin::table-responsive py-5 -->
        <div class="table-responsive py-5">
            <table id="list_remark_items" class="table table-bordered">
                <thead>
                    <tr>
                        <th><%= t(:reporter_in_remark_system)%></th>
                       
                  
               
                    </tr>
                </thead>
                <tbody>
            <% 
            list_remark_sub_item_size = 0
       
                if @datas && @datas['data'] && @datas['data']['list_remarks']
                    list_kpi_online_sub_item_size = @datas['data']['list_remarks'].size.to_i
            %>
                <% @datas['data']['list_remarks'].each_with_index do |list_remark_sub_item,idx|  %>
                    <tr id="list_remark_items<%= idx %>">


                        <td>
                        <input type="text" class="form-control" placeholder="หมายเหตุ" name="list[list_remarks_attributes][<%= idx %>][title]" value="<%= list_remark_sub_item['title'] rescue nil %>">
                        </td>
             
                        <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#list_remark_items<%= idx %>').hide();$('#list_remark_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>
                                                      
                        <input type="hidden" class="form-control" placeholder="id" name="list[list_remarks_attributes][<%= idx %>][id]" value="<%= list_remark_sub_item['id'] %>">
                                                      
                        <input type="hidden" class="check_destroy" placeholder="" name="list[list_remarks_attributes][<%= idx %>][_destroy]" value=false>
                                                      
                    </tr>
                <% end %>
            <% end %>
                                                      
                                                      
                </tbody>
            </table>
            
           
            <div class="text-left"><a onclick="addlist_remark_rows('list_remark_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>
                                                      
                                                      
                <script type="text/javascript">
                    var list_remark_items_row = <%= list_remark_sub_item_size + list_remark_sub_item_size %>;
                        function addlist_remark_rows(list_remark_id_name) {
                         //   alert('call function remark');
                            html = '<tr id="'+ list_remark_id_name + list_remark_items_row + '">';                                                                                  
                                                      

                            html += '<td><input type="text" class="form-control" placeholder="หมายเหตุ" name="list[list_remarks_attributes]['+list_remark_items_row+'][title]" ></td>';

                            html += '<input type="hidden" class="form-control" name="list[list_remarks_attributes]['+list_remark_items_row+'][biz_id]" value = "<%= $user[session.id.to_s][@controller_title]['biz_id'] %>" >';  
                            
                            html += '<input type="hidden" class="form-control" name="list[list_remarks_attributes]['+list_remark_items_row+'][user_id]" value = "<%= $user[session.id.to_s][@controller_title]['id'] %>" >'; 
                                                      
                            html += '<td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_remark_id_name + list_remark_items_row + '\').remove();$(\'#' + list_remark_id_name + list_remark_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';
                                                                                                                                        
                            html += '<input type="hidden" class="check_destroy" placeholder="" name="list[list_remarks_attributes]['+list_remark_items_row+'][_destroy]" value=false>';
                                                                                                                                                                   
                            html += '</tr>';
                                                      
                            $('#' + list_remark_id_name + ' tbody').append(html);
                                                      
                            list_remark_items_row++;
                        }
                    </script>
                    </div>
                    <!--end::table-responsive py-5 -->      


        <!-- ====================END หมายเหตุ =================================== -->


      </div>
        <!-- end row -->




    </div>
    <!--end::Card Body-->





<% end #action_name %>









                                    <!--begin::Card Foolter-->
                                    <div class="card-footer">
                                        <% if !params[:original_url].blank? %>
                                        <%= hidden_field_tag :original_url, params[:original_url] %>
                                        <% end %>

                                        <% if !params[:category_id].blank? %>
                                        <%= f.hidden_field :category_id, value: params[:category_id] %>
                                        <% end %>

                                        <%= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
                                    </div>
                                    <!--end::Card Foolter-->

                      </div>
                      <!--end::Card Card Custom-->

                </div>
                <!--end::Col_md_12-->

            </div>
            <!--end::Row-->



<% end #end form %>

