<%

#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?

%>


<div class="container-fluid">



    <div class="text-end noprint">
        <%= link_to "#{back_url}", class: 'btn btn-light -sm' do %>
        <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
        <% end %>

        <%= render '/share/block_btn_export', item: @list, title: 'list' %>

    </div>







    <div id="export_content" class="">
        <div class="landscape_A4_page">






    <% if @list && !@list['data'].blank? %>


    <div class="row">
        <div class="col-md-12">
            <div>
                <ul>

                    <h1 class="text-primary">มิติตัวชี้วัด : <%= @list['data']['activity']['title'] rescue nil %> </h1>

                </ul>
            </div>

            <div class="separator separator-dashed separator-border-2 my-10"></div>
        </div>

        <div class="col-md-12 mt-5">
            <div>
                <ul>

                    <h3><%= t(:indicator_order) %> : <%= @list['data']['order_sort'] rescue nil %> <%= @list['data']['title'] rescue nil %></h3>

                </ul>
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <div>
                <ul>
                    <h5><%= t(:definition) %> : <%#= t(:target_people) %> </h5>  
                    <div class="text-dark mb-3 ms-5"> <%= @list['data']['description'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></div>
                </ul>
            </div>
        </div>

        <div class="col-md-6 mt-5">
            <div>
                <ul>
                    <% @list['data']['list_kpi_full_years'].each do |list_kpi_full_year|  %>
                    <% if  (list_kpi_full_year['kpi_value_unit'].include?'ร้อยละ') == true %> 
                    <h5><%= t(:target_value_twelve_month) %> : <%= list_kpi_full_year['title'].remove('-') rescue nil %> <%= list_kpi_full_year['kpi_value_unit'].remove('-') rescue nil %> <%= strip_trailing_zero(list_kpi_full_year['kpi_value']) rescue nil %> </h5>
                    <% else %>
                    <h5><%= t(:target_value_twelve_month) %> : <%= list_kpi_full_year['title'].remove('-') rescue nil %> <%= strip_trailing_zero(list_kpi_full_year['kpi_value']) rescue nil %> <%= list_kpi_full_year['kpi_value_unit'].remove('-') rescue nil %> </h5>
                    <% end %>
                    <% end %>
                </ul>
            </div>
        </div>

        <div class="col-md-6 mt-5">
            <div>
                <ul>
               
                    <% @list['data']['list_kpi_half_years'].each do |list_kpi_half_year|  %>
                    <% if  (list_kpi_half_year['kpi_value_unit'].include?'ร้อยละ') == true %> 
                        <h5><%= t(:target_value_six_month) %> : <%= list_kpi_half_year['title'].remove('-') %> <%= list_kpi_half_year['kpi_value_unit'].remove('-') rescue nil %> <%= strip_trailing_zero(list_kpi_half_year['kpi_value'])  rescue nil%> </h5>
                    <% else %>                       
                        <h5><%= t(:target_value_six_month) %> : <%= list_kpi_half_year['title'].remove('-') %> <%= strip_trailing_zero(list_kpi_half_year['kpi_value'])  rescue nil%> <%= list_kpi_half_year['kpi_value_unit'].remove('-') rescue nil %> </h5>
                    <% end %>
                    <% end %>
                </ul>
            </div>
        </div>



     <div class="col-md-6 mt-3">
            <div>
                <ul>
                    <h5><%= t(:description) %> : </h5>  
                </ul>
            </div>
        </div>


        <div class="col-md-12">
            <div>
                <ul>
                     <% @list['data']['list_activities'].each do |list_activitie|  %>
                     <div class="text-dark mb-3 ms-5"> <%= list_activitie['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></div>
                     <% end %>
                 </ul>
             </div>
         </div>



    </div>  <!-- end class rows -->

 <div class="col-md-6 mt-5">
    <div>
        <ul>
           <% @list['data']['list_scores'].each do |list_score|  %>
           <h5><%= t(:scoring_criteria) %> : <%= list_score['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %> </h5>
           <% end %>
       </ul>
   </div>
</div>

<div class="col-md-12 d-flex justify-content-center">

                <table class="table table-bordered w-75">
                    <thead style="width:auto;text-align:center;" class="bg-light-success">
                      <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                    </tr>
                </thead>


                <tr valign="top">
                    <% @list['data']['list_scores'].each do |list_score|  %>

                    <% if (list_score['unit_first'].include?'ร้อยละ') == true %>
                    <td><br> <div class="text-dark mb-3 ms-5 d-flex align-items-center justify-content-center"><%= list_score['title_first'].remove('-')  rescue nil %> <%= list_score['unit_first'].remove('-')  rescue nil %> <%= strip_trailing_zero(list_score['score_first']) rescue nil %> </div> </td>
                    <% else %>
                    <td><br> <div class="text-dark mb-3 ms-5 d-flex align-items-center justify-content-center"><%= list_score['title_first'].remove('-')  rescue nil %> <%= strip_trailing_zero(list_score['score_first']) rescue nil %> <%= list_score['unit_first'].remove('-')  rescue nil %></div> </td>
                    <% end %>

                    <% if (list_score['unit_second'].include?'ร้อยละ') == true %>
                    <td><br> <div class="text-dark mb-3 ms-5 d-flex align-items-center justify-content-center"><%= list_score['title_second'].remove('-')  rescue nil %> <%= list_score['unit_second'].remove('-')  rescue nil %> <%= strip_trailing_zero(list_score['score_second']) rescue nil %> </div> </td>
                    <% else %>
                    <td><br> <div class="text-dark mb-3 ms-5 d-flex align-items-center justify-content-center"><%= list_score['title_second'].remove('-')  rescue nil %> <%= strip_trailing_zero(list_score['score_second']) rescue nil %> <%= list_score['unit_second'].remove('-')  rescue nil %></div> </td>
                    <% end %>

                    <% if (list_score['unit_third'].include?'ร้อยละ') == true %>
                    <td><br> <div class="text-dark mb-3 ms-5 d-flex align-items-center justify-content-center"><%= list_score['title_third'].remove('-')  rescue nil %> <%= list_score['unit_third'].remove('-')  rescue nil %> </div> <%= strip_trailing_zero(list_score['score_third']) rescue nil %> </td>
                    <% else %>
                    <td><br> <div class="text-dark mb-3 ms-5 d-flex align-items-center justify-content-center"><%= list_score['title_third'].remove('-')  rescue nil %> <%= strip_trailing_zero(list_score['score_third']) rescue nil %> <%= list_score['unit_third'].remove('-')  rescue nil %></div> </td>
                    <% end %>

                    <% if (list_score['unit_fourth'].include?'ร้อยละ') == true %>
                    <td><br> <div class="text-dark mb-3 ms-5 d-flex align-items-center justify-content-center"><%= list_score['title_fourth'].remove('-')  rescue nil %> <%= list_score['unit_fourth'].remove('-')  rescue nil %> <%= strip_trailing_zero(list_score['score_fourth']) rescue nil %> </div> </td>
                    <% else %>
                     <td><br> <div class="text-dark mb-3 ms-5 d-flex align-items-center justify-content-center"><%= list_score['title_fourth'].remove('-')  rescue nil %> <%= strip_trailing_zero(list_score['score_fourth']) rescue nil %> <%= list_score['unit_fourth'].remove('-')  rescue nil %></div> </td>
                    <% end %>

                    <% if (list_score['unit_fifth'].include?'ร้อยละ') == true %>
                    <td><br> <div class="text-dark mb-3 ms-5 d-flex align-items-center justify-content-center"><%= list_score['title_fifth'].remove('-')  rescue nil %> <%= list_score['unit_fifth'].remove('-')  rescue nil %> <%= strip_trailing_zero(list_score['score_fifth']) rescue nil %> </div> </td>
                    <% else %>
                    <td><br> <div class="text-dark mb-3 ms-5 d-flex align-items-center justify-content-center"><%= list_score['title_fifth'].remove('-')  rescue nil %> <%= strip_trailing_zero(list_score['score_fifth']) rescue nil %> <%= list_score['unit_fifth'].remove('-')  rescue nil %></div> </td>
                    <% end %>

                    <% end %>
                </tr>
            </table>

</div>





<div class="col-md-6 mt-10">
         <div>
             <ul>
                 <h5><%= t(:list_formula) %> : </h5>
             </ul>
         </div>
</div>
     
     
<div class="col-md-12">
            <div>
                <ul>
                    <% @list['data']['list_formulas'].each do |list_formula|  %>
                    <div class="text-dark mb-3 ms-5"> <%= list_formula['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></div>
                    <% end %>
                </ul>
        </div>
</div>         


<div class="col-md-6 mt-10">
    <div>
        <ul>
            <h5><%= t(:resources_storage) %> : </h5>
        </ul>
    </div>
</div>


<div class="col-md-12">
    <div>
        <ul>
         <% @list['data']['list_data_sources'].each do |list_data_source|  %>
         <div class="text-dark mb-3 ms-5"> <%= list_data_source['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></div>
         <% end %>
     </ul>
 </div>
</div>



<div class="col-md-6 mt-10">
    <div>
        <ul>
            <h5><%= t(:indicators_keeper) %> : </h5>
        </ul>
    </div>
</div>

<% @list['data']['list_kpi_owners'].each do |list_kpi_owner|  %>
    <div class="row">
        <div class="col-md-6">
           
                <ul>
                    <div class="text-dark mb-3 ms-5"> <%= list_kpi_owner['devision_director']['title'] rescue nil %></div>
                </ul>
       
        </div>

    <div class="col-md-6">
      
            <ul>
            <% if list_kpi_owner['devision_director']['phone'].present? %>
                <div class="text-dark mb-3 ms-5"><span><b>เบอร์ติดต่อ:  </b></span><%= list_kpi_owner['devision_director']['phone'] rescue nil %></div>
            <% end %>
            </ul>
   
    </div>

</div>

<% end %>



<div class="col-md-6 mt-10">
    <div>
        <ul>
            <h5><%= t(:list_kpi_supporters) %> : </h5>
        </ul>
    </div>
</div>



<% @list['data']['list_kpi_supporters'].each do |list_kpi_supporter|  %>

        <div class="row">
            <div class="col-md-6 ">
                <ul>
                    <div class="text-dark mb-3 ms-5"> <%= list_kpi_supporter['devision_director']['title'] rescue nil %></div>
                </ul>
            </div>

            <div class="col-md-6 ">
                <ul>        
                <% if list_kpi_supporter['devision_director']['phone'].present? %>
                    <div class="text-dark mb-3 ms-5"><span><b>เบอร์ติดต่อ:  </b></span><%= list_kpi_supporter['devision_director']['phone'] rescue nil %></div>
                <% end %>
                </ul>
            </div>
        </div>
<% end %>


<div class="col-md-6 mt-10">
    <div>
        <ul>
            <h5><%= t(:list_kpi_persons) %> :</h5>
        </ul>
    </div>
</div>


<% @list['data']['list_kpi_persons'].each do |list_kpi_person|  %>

    <div class="row">
        <div class="col-md-6 ">
            <ul>
                <div class="text-dark mb-3 ms-5"> <%= list_kpi_person['title'] rescue nil %></div>
            </ul>
        </div>
        <div class="col-md-6 ">
            <ul>
            <% if list_kpi_person['phone'].present? %>
                <div class="text-dark mb-3 ms-5"> <span><b>เบอร์ติดต่อ:  </b></span><%= list_kpi_person['phone'] rescue nil %></div>
            <% end %>
            </ul>
        </div>
    </div>

<% end %>


<div class="col-md-6 mt-10">
    <div>
        <ul>
            <h5><%= t(:reporter_in_kpi_online_system) %> :</h5>
        </ul>
    </div>
</div>



    <% @list['data']['list_kpi_onlines'].each do |list_kpi_online|  %>

        <div class="row">
            <div class="col-md-6 ">
                <ul>
                    <div class="text-dark mb-3 ms-5"> <%= list_kpi_online['title'] rescue nil %></div>
                </ul>
            </div>
            <div class="col-md-6 ">
                <ul>
                    <% if list_kpi_online['phone'].present? %>
                    <div class="text-dark mb-3 ms-5"> <span><b>เบอร์ติดต่อ:  </b></span><%= list_kpi_online['phone'] rescue nil %></div>
                    <% end %>
                </ul>
            </div>
        </div>

    <% end %>
  
 
<div class="col-md-6 mt-10">
    <div>
        <ul>
            <h5><%= t(:list_notes) %> :</h5>
        </ul>
    </div>
</div>


<div class="col-md-12">
    <div>
        <ul>
         <% @list['data']['list_remarks'].each do |list_remark|  %>
         <div class="text-dark mb-3 ms-5"> <%= list_remark['title']  rescue nil%></div>
         <% end %>
     </ul>
 </div>
</div>




<% end %>






    </div>
</div> <!-- end id export_content -->






<%#= render partial: '/share/block_comments', locals:{ model_name: 'list', id: @list['data']['id']} %>
<%#= render partial: '/share/block_comments_history', locals:{ model_name: 'list', id: @list['data']['id']} %>






</div>
