<!--begin::Kt_content-->
<div class="container-fluid">
        <!--begin::Header-->
        <div class="row">
            <div class="col">
                  <div class="float-start">
                        <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:add)%><%= t(:set_score_level) %></h2>
                  </div>
            <div class="col">
              <div class="float-end">
                    <!--button:header-->
                    <%= link_to "/#{@controller_title}/pmqa_bas_masters", class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i></i> <%= t(:back) %> </i> <% end %>
              </div>
            </div>
       </div>
       <!--end:Header-->


        <!--begin:Content-->
      <div class="row">
      <div class="col">
                  <div class="card-show">
                        <%= form_for('pmqa_bas_master', url: "/#{@controller_title}/pmqa_bas_masters" , method: :post) do |f| %>
                                    <div class="row">
                                    <div class="col-11 mt-5 ms-5">
                                    <label for="formGroupExampleInput" class="form-label"> <h5><%= t(:order_sort) %> <span class="text-danger">*</span> </h5></label>
                                    <%= f.number_field :order_sort , placeholder: t(:order_sort), class: 'form-control', value: (@datas['data']['order_sort'] rescue nil) %>
                               </div>
                                          <div class="col-11 mt-5 ms-5">
                                                <label for="formGroupExampleInput" class="form-label"> <h5><%= t(:set_score_level) %> <span class="text-danger">*</span> </h5></label>
                                                <%= f.text_field :title , placeholder: t(:please), class: 'form-control', value: (@datas['data']['title'] rescue nil) %>
                                          </div>


                                          <div class="col-11 mt-5 ms-5">
                                            <div class="row">
                                                <div class="col-6">
                                                  <label for="" class="form-label"><%= t(:min) %><h5>  <span class="text-danger">*</span> </h5></label>
                                                    <%= f.number_field :score_min, class: "form-control", placeholder: t(:min), value: (@datas['data']['score_min'] rescue nil) %>
                                                  </div>
                                                  <div class="col-6">
                                                  <label for="" class="form-label"><%= t(:max) %><h5>  <span class="text-danger">*</span> </h5></label>
                                                    <%= f.number_field :score_max, class: "form-control", placeholder: t(:max), value: (@datas['data']['score_max'] rescue nil) %>
                                                  </div>
                                            </div>
                                          </div>


                                          <div class="col-11 mt-5 ms-5 mb-5">
                                                <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
                                                      <!--button:content-->
                                                      <%= f.submit t('saves'), class: "btn btn-info" %></div>
                                          </div>
                                    </div>
                              </form>
                        <% end %>
                  </div>
            </div>
      </div>
       <!--end:Content-->
</div>
<!--end::Kt_content-->
