<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
back_url = "/#{@controller_main_url}/plans/#{@follow_up_risk_report['data']['risk_management_report']['task_plan_report']['risk_analysis_report']['plan_report']['category']['plan_id']}" rescue nil
%>

<%
#init
#ctrl_readonly =''
#url = URI("#{$server[@controller_title]}/api/v1/mains/#{params['id']}/last_action?model_name=follow_up_risk_report")
#@last_action = request_api(url,'get',nil)

# if @last_action && !@last_action['data'].blank? && @last_action['data']['status'] = "completed" 
#  ctrl_readonly = 'readonly'
#end

$follow_up_risk_report_user_status = nil
$input_readonly = ''
@follow_up_risk_report['data']['follow_up_risk_report_users'].each do |follow_up_risk_report_user|
  if follow_up_risk_report_user['user_role']['slug'] == 'approver'  && follow_up_risk_report_user['status'] == 'approved' 
    $follow_up_risk_report_user_status = follow_up_risk_report_user['status']
    $input_readonly = 'readonly'
end
end 

%>


<div class="container-fluid">


    <div class="text-end">
            <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
            <% end %>
                    <!-- add export -->
                    <%= render '/share/block_btn_export', item: @plan_report, title: 'plan_report' %>
                    <!-- end add export -->
    </div>



    <%= form_for('follow_up_risk_report', url: "/#{gen_form[0]}/follow_up_risk_reports#{gen_form[1]}" , method: gen_form[2]) do |f| %>




        <div class="text-muted text-end mt-15">แบบฟอร์ม RM-4</div>
          <h1 class="text-center"> แบบรายงานการติดตามผลการบริหารความเสี่ยง</h1>
            <div class="text-center">

              สำหรับงวดตั้งแต่วันที่ <%= convert_thai_date(@follow_up_risk_report['data']['period_report']['startdate'],'default') %> ถึง <%= convert_thai_date(@follow_up_risk_report['data']['period_report']['enddate'],'default') %>
        
            </div>




           <h2 class="text-gray-800 fw-bolder fs-6 mt-3">หน่วยงาน : <%= @follow_up_risk_report['data']['risk_management_report']['task_plan_report']['risk_analysis_report']['plan_report']['category']['institution']['title'] rescue nil %></h2>

          <h2 class="text-gray-800 fw-bolder fs-6 mt-3">ประเด็นยุทธศาสตร์ : <%= @follow_up_risk_report['data']['risk_management_report']['task_plan_report']['risk_analysis_report']['plan_report']['category']['strategic_issue']['title'] rescue nil %></h2>

          <h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : <%= @follow_up_risk_report['data']['risk_management_report']['task_plan_report']['risk_analysis_report']['plan_report']['category']['title'] rescue nil %></h2>

          <h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน :</h2>

            <ul>
                <% @follow_up_risk_report['data']['risk_management_report']['task_plan_report']['risk_analysis_report']['plan_report']['category']['category_objectives'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category_objective, idx| %>
                    <li><%=  category_objective['title'] rescue nil %> </li>
                <% end %>
            </ul>

    <div class="table-responsive py-5">
      <table id="items" class="table table-bordered" style="text-left">
        <thead style="width:auto;text-align:center; background-color: #d9dbff;">
           <tr valign="middle" >
              <th>กิจกรรม/ประเด็น/ความเสี่ยง/ปัจจัยเสี่ยง</th>
              <th>แนวทางการจัดการความเสี่ยง</th>
              <th>เป้าหมาย/ผลสำเร็จของการดำเนินกิจกรรมตามแนวทางการจัดการความเสี่ยง</th>
              <th>กำหนดการ</th>
              <th>ผลลัพธ์ของการจัดการความเสี่ยง</th>
              <th>แล้วเสร็จ</th>
              <th>% ความคืบหน้า</th>
              <th>ปัญหา อุปสรรคและแนวทางแก้ไข</th>
              <th></th>
            </tr>
        </thead>
        
        <% if @follow_up_risk_report && !@follow_up_risk_report['data'].blank? %>
        <% @follow_up_risk_report['data']['follow_up_risks'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |follow_up_risk,idx| %>
            <%
            url = URI("#{$server[@controller_title]}/api/v1/risk_analysises/#{follow_up_risk['risk_management']['task_list']['risk_analyses_id']}")
            risk_analyses = request_api(url,'get',nil)['data']
            %>

            <%
            url = URI("#{$server[@controller_title]}/api/v1/task_lists/#{follow_up_risk['risk_management']['task_list_id']}")
            task_lists = request_api(url,'get',nil)['data']
            %>
  
            <%
            url = URI("#{$server[@controller_title]}/api/v1/risk_managements/#{follow_up_risk['risk_management_id']}")
            risk_managements = request_api(url,'get',nil)['data']
            %>

          <input type="hidden" name="follow_up_risk[<%= idx %>][id]" class="form-control" value="<%= follow_up_risk['id'] rescue nil %>">
    
          <tr valign="top">
            <td>

                <ul style="list-style-type: none">
                    <% if !risk_analyses['task']['list'].blank? %>
                        <% risk_analyses['task']['list']['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                        <h6><%= list_activity['title'] rescue nil %></h6>
                        <span><%= list_activity['description'] rescue nil %></span> 
                        <div><%= get_status_tasks(list_activity['status']) %></div>
                        <% end %>
                    <% end %>
                  </ul>  
                  <p><b>ปัจจัยเสี่ยง</b></p>
                  <ul style="list-style-type: none">
          
                   
                      <li><%= follow_up_risk['list_risk_factor']['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
                     
              
              </ul>

            </td>

            <td>
                        <% task_lists['task_list_controls'].sort_by{|i| i['order_sort'].to_i}.each do | task_list_control |  %>
                          <%= task_list_control['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %>
                        <% end %>
            </td>
            
            <td>
                    <% risk_managements['risk_management_targets'].sort_by{|i| i['order_sort'].to_i}.each do |risk_management_target| %>
                     <%= risk_management_target['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %>
                    <% end %>
            
            </td>
            <!-- กำหนดการ -->
            <td>
            <input type="hidden" name="follow_up_risk[risk_management][id]" class="form-control" value="<%= follow_up_risk['id'] rescue nil %>">
            <% if !follow_up_risk['risk_management'].blank? %>
            <%= convert_thai_date(follow_up_risk['risk_management']['success_date'],'default') rescue nil %>
            <% end %>
            <center><label>/</label></center>
            <% if !follow_up_risk['risk_management']['risk_management_institutions'].blank? %>
            <% follow_up_risk['risk_management']['risk_management_institutions'].each do |risk_management_institution| %>
              <center><%= risk_management_institution['title'] rescue nil %></center>
              <% end %>
          <% end %>

            </td>

            <td>
            
 
            <input type="hidden" class="form-control" name="follow_up_risk[<%= idx %>][risk_management_results_attributes][0][id]" value ="<%= follow_up_risk['risk_management_results'][0]['id'] rescue nil %>"/>  
            <textarea class="form-control" <% if $follow_up_risk_report_user_status == 'approved' %> <%= $input_readonly %> <% end %> name="follow_up_risk[<%= idx %>][risk_management_results_attributes][0][title]" rows="5" cols="50"><%= follow_up_risk['risk_management_results'][0]['title']rescue nil %></textarea>
            </td>
            <!-- ระยะเวลาดำเนินการ -->
            <td>
            <input type="hidden" class="form-control" name="follow_up_risk[<%= idx %>][id]" value ="<%= follow_up_risk['id'] rescue nil %>"/> 

            <input type="date" class="form-control" <% if $follow_up_risk_report_user_status == 'approved' %> <%= $input_readonly %> <% end %> name="follow_up_risk[<%= idx %>][success_date]" value = "<%= follow_up_risk['success_date'].to_datetime.strftime('%Y-%m-%d') rescue nil %>"/>

            <center><label>/</label></center>
           
            <input type="text" class="form-control" <% if $follow_up_risk_report_user_status == 'approved' %> <%= $input_readonly %> <% end %> name="follow_up_risk[<%= idx %>][success_date_title]" value = "<%= follow_up_risk['success_date_title'] rescue nil %>"/> 
            </td>

            <td>
            <input type="number" class="form-control" <% if $follow_up_risk_report_user_status == 'approved' %> <%= $input_readonly %> <% end %> name="follow_up_risk[<%= idx %>][risk_progress]" value = "<%= follow_up_risk['risk_progress'] rescue nil %>" />
            </td>

            <td>
            <input type="hidden" class="form-control" <% if $follow_up_risk_report_user_status == 'approved' %> <%= $input_readonly %> <% end %> name="follow_up_risk[<%= idx %>][risk_management_issues_attributes][0][id]" value = "<%= follow_up_risk['risk_management_issues'][0]['id'] rescue nil %>"/>  
            <textarea class="form-control" <% if $follow_up_risk_report_user_status == 'approved' %> <%= $input_readonly %> <% end %> name="follow_up_risk[<%= idx %>][risk_management_issues_attributes][0][title]" rows="5" cols="50"><%= follow_up_risk['risk_management_issues'][0]['title'] rescue nil %></textarea>
            </td>




            <td align="center">
              <%#= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @follow_up_risk_report['data']['risk_management_report']['plan_report']['category']['plan']['master_plan_id'], model_name: 'follow_up_riskes', model_title: nil, id: follow_up_risk['id'], params: "original_url=#{request.path}"} %>
            </td>
          </tr>
          <% end %>
          <% end %>

      </table>



    </div> <!-- end table-responsive py-5 -->

   
   <% if $follow_up_risk_report_user_status != 'approved' %> 
    <%= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
    <% end %>


<% end %>  


<%= render partial: '/share/block_comments', locals:{ model_name: 'follow_up_risk_report', id: @follow_up_risk_report['data']['id']} %>
<%= render partial: '/share/block_comments_history', locals:{ model_name: 'follow_up_risk_report', id: @follow_up_risk_report['data']['id']} %>

</div> <!-- end container-fluid -->