<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
back_url = "/#{@controller_main_url}/plans/#{@follow_up_risk_report['data']['risk_management_report']['task_plan_report']['task_plan_report']['risk_analysis_report']['plan_report']['category']['plan_id']}" rescue nil
%>


<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="float-start">
        <h2 class="card-label">
            <i class="fa-solid fa-circle-chevron-right"></i>
            สร้างแบบรายงานการติดตามผลการบริหารความเสี่ยง
        </h2>
      </div>
    </div>
    <div class="col">
      <div class="float-end">
        <%= link_to back_url, class: 'btn btn-light -sm' do %>
            <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
        <% end %>
      </div>
    </div>
  </div>


    




  <%= form_for('follow_up_risk_report', url: "/#{gen_form[0]}/follow_up_risk_reports#{gen_form[1]}" , method: gen_form[2]) do |f| %>
<%
url = URI("#{$server[@controller_title]}/api/v1/period_reports/get_period_reports_my_master_plan/#{@risk_management_report['data']['task_plan_report']['risk_analysis_report']['plan_report']['category']['plan']['master_plan_id']}")
@period_report_datas = request_api(url, "get", nil)
%>
<% if @period_report_datas['data'].size > 0 %>
  <div class="row">                                                
      <div class="col-12">
          <div class="row"> 
              <div class="col-sm mt-2 mb-5">

                  <select class= "form-control" name="follow_up_risk_report[period_report_id]" ><% @period_report_datas['data'].each do |period_report| %><option value="<%= period_report['id'] %>"><%= convert_thai_date(period_report['startdate'],'default') rescue nil %> - <%= convert_thai_date(period_report['enddate'],'default') rescue nil %> </option><% end %></select>
              </div> 
          </div> 
      </div> 

     
      <div class="col-12 mt-5 mb-5">
          <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
              <%= f.hidden_field :risk_management_report_id, value: params[:risk_management_report_id] %>
            
              <%= f.submit t(:saves), class: "btn btn-info" %>  
          </div>
      </div>                 
  </div>  <!-- end row -->
  <% else %>

  <div class="row">                                                
  <div class="col-12">
      <div class="row"> 
          <div class="col-sm mt-2 mb-5">
            <div class="text-center">
                   <h3> ผู้ดูแลระบบ ยังไม่ได้สร้างรอบรายงาน </h3>
             </div  
          </div> 
      </div> 
  </div> 
  </div>
  <% end %>
  <% end %>  








</div>
