<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
back_url = "/#{@controller_main_url}/plans/#{@category['data']['plan_id']}"
%>


<div class="container-fluid">


    <div class="text-end">
        <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
                    <% end %>
    </div>


<!--begin 2.การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน -->
<!--begin 2.การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน -->
<div class="text-muted text-end mt-15"> แบบฟอร์ม RLPD RM-1</div>
<h1 class="text-center"> การระบุและวิเคราะห์ความเสี่ยงโครงการ <br>หน่วยงาน : <%= @risk_analysis['data']['category']['plan']['user']['institution']['title'] rescue nil %></h1>
<h2 class="text-gray-800 fw-bolder fs-6 mt-10">ประเด็นยุทธศาสตร์ : <%=@risk_analysis['data']['category']['strategic_issue']['title'] rescue nil %> </h2>
<h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : <%= @risk_analysis['data']['category']['title'] rescue nil %></h2>
<h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน : <%= @risk_analysis['data']['category']['description'] rescue nil %></h2>

<div class="table-responsive py-5">
  <table id="items" class="table table-bordered" style="text-left">
    <thead style="width:auto;text-align:center; background-color: #d9dbff;">
      <tr valign="middle">
        <th>กิจกรรม</th>
        <th>วัตถุประสงค์</th>
        <th>ความเสี่ยง</th>
        <th>ปัจจัยเสี่ยง</th>
        <th>รหัสปัจจัยเสี่ยง</th>
        <th>ประเภทความเสี่ยง</th>
        <th colspan=4>การวิเคราะห์ความเสี่ยง</th>
      </tr>

      <tr valign="middle">
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>โอกาส</th>
        <th>ผลกระทบ</th>
        <th>คะแนนความเสี่ยง</th>
        <th>ลำดับความเสี่ยง</th>
      </tr>
    </thead>


    <% @risk_analysis['data']['tasks'].each do |task| %>

      <tr valign="top">
        <td>
            <% if !task['list'].blank? %>
                <% task['list']['list_activities'].each do |list_activity| %>
                    <h6 class=""><%= list_activity['title'] %></h6>
                    <p class="mb-3"><%= list_activity['description'] %></p>
                <% end %>
            <% end %>
        </td>
        <td>
            <ul>
                <% if !task['list'].blank? %>
                    <% task['list']['list_objectives'].each do |list_objective| %>
                    <li><%= list_objective['title'] %></li>
                    <% end %>
                <% end %>
            </ul>
        </td>
        <td>
            <ul>
                <% if !task['list'].blank? %>
                    <% task['list']['list_risks'].each do |list_risk| %>
                    <li><%= list_risk['title'] %></li>
                    <% end %>
                <% end %>
            </ul>
        </td>
        <td>
            <ul>
                <% if !task['list'].blank? %>
                    <% task['list']['list_risk_factors'].each do |list_risk_factor| %>
                    <li><%= list_risk_factor['title'] %></li>
                    <% end %>
                <% end %>
            </ul>
        </td>
         <td>
            <ui>
                <li><%= @risk_analysis['data']['category']['user']['institution']['title'] rescue nil %>/ <%= @risk_analysis['data']['category']['title_code'] rescue nil %>-<%= task['list']['activity_no'] %>
                </li>
            </ui>
        </td>
        <td><%= task['risk_type']['title'] rescue nil %></td>
        <td align="center"><%= task['risk_chance'] rescue nil %></td>
        <td align="center"><%= task['risk_effect'] rescue nil %></td>
        <td align="center"><b><%= task['risk_score'] rescue nil %></b></td>
        <td align="center"><b><%= task['order_sort'] rescue nil %></b></td>
        
      </tr>

      <% end %>

  </table>
</div>


<!--end   2.การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน -->
<!--end   2.การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน -->



</div>
