<!--begin::Kt_conten-->
<div class="container-fluid">
	<!--begin::Header-->

	<div class="row">
		<div class="col mb-5">
      		<div class="float-start">
      		<h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:category_master) %></h2>
      		</div>
            </div>
		<div class="col mb-5">
                  <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">

                  <!--button:header-->
                  <%= link_to "/#{@controller_title}/pages/master_data", class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>  <% end %>

                  </div>
		</div>
	</div>

<!--end:Header-->

<!--begin:Content-->

<div class="card-show mb-5 mb-xl-8">
<!--begin::Header-->
      <div class="card-header border-0 pt-5">
            <h3 class="card-title align-items-start flex-column">
                  <span class="card-label fw-bolder fs-3 mb-1"><%= t(:listing_name) %><%= t(:category_master) %></span>
            </h3>
      </div>

<!--end::Header-->
<!--begin::Body-->
<div class="card-body pt-3">
      <!--begin::Table container-->
      <div class="table-responsive">
            <!--begin::Table-->
            <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                  <!--begin::Table head-->
                  <thead>
                        <tr class="border-0">
                              <th class="p-0 min-w-250px"></th>
                              <th class="p-0 min-w-100px text-end"></th>
                        </tr>
                  </thead>
                  <!--end::Table head-->
                  <!--begin::Table body-->
                  <tbody>
                  <% @datas['data'].sort_by{|i| i['order_sort'].to_i}.each do |item| %>
                        <tr class="border-top-3">
                              <td>
                                    <span class="fw-bolder text-gray-800"><%= item['title'] %></span>
                              </td>

                              <td class="text-end">
                                    <%= link_to "", "/#{@controller_title}/category_masters/#{item['id']}/edit", class: 'fa-solid fa-pen-to-square' %>
                                    <%= link_to "", "/#{@controller_title}/category_masters/#{item['id']}", method: :delete, data: { confirm: 'ต้องการลบใช่หรือไม่?' } , class: "fa-regular fa-trash-can"  %>
                              </td>
                        </tr>
                        <tr>
                              <td colspan="2">
                                    <a href="/<%= @controller_title %>/category_master_lists/new?category_master_id=<%= item['id'] %>" class="btn btn-info -sm">
                                          <i class="fa-solid fa-circle-plus fa-4x"></i><%= t(:add)%>
                                    </a>
                              </td>
                        </tr>

                        <% item['category_master_lists'].sort_by{|i| i['order_sort'].to_i}.each do |category_master_list| %>
                        <tr class="border-top-dotted-2">
                              <td>
                                    <span class="text-gray px-10"><%= category_master_list['title'] %></span>
                              </td>

                              <td class="text-end">
                                    <%= link_to "", "/#{@controller_title}/category_master_lists/#{category_master_list['id']}/edit", class: 'fa-solid fa-pen-to-square' %>
                                    <%= link_to "", "/#{@controller_title}/category_master_lists/#{category_master_list['id']}", method: :delete, data: { confirm: 'ต้องการลบใช่หรือไม่?' } , class: "fa-regular fa-trash-can"  %>
                              </td>
                        </tr>
                        <tr>
                              <td colspan="2">
                                    <a href="/<%= @controller_title %>/category_master_list_items/new?category_master_list_id=<%= category_master_list['id'] %>" class="btn btn-primary btn-sm mx-10">
                                          <i class="fa-solid fa-circle-plus fa-4x"></i><%= t(:add)%>
                                    </a>
                              </td>
                        </tr>

                        <% category_master_list['category_master_list_items'].sort_by{|i| i['order_sort'].to_i}.each do |category_master_list_item| %>
                        <tr class="border-top-dotted-1">
                              <td>
                                    <span class="text-gray px-15"><%= category_master_list_item['title'] %></span>
                              </td>

                              <td class="text-end">
                                    <%= link_to "", "/#{@controller_title}/category_master_list_items/#{category_master_list_item['id']}/edit", class: 'fa-solid fa-pen-to-square' %>
                                    <%= link_to "", "/#{@controller_title}/category_master_list_items/#{category_master_list_item['id']}", method: :delete, data: { confirm: 'ต้องการลบใช่หรือไม่?' } , class: "fa-regular fa-trash-can"  %>
                              </td>
                        </tr>
                        <% end #loop category_master_list_item %>
                        <% end #loop category_master_list %>

                  <% end %>
                  </tbody>
                  <!--end::Table body-->
            </table>
            <!--end::Table-->
      </div>
      <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none mt-5">
				<!--button:header-->
                        <a href="/<%= @controller_title %>/category_masters/new" class="btn btn-info -sm">
                              <i class="fa-solid fa-circle-plus fa-4x"></i><%= t(:add)%>
                        </a>
			</div>
</div>


</div>


</div>
