<div class="container-fluid">





    <% if @datas && !@datas['data'].blank? %>











    <h1><%= @datas['data']['id'] %></h1>


    <h3><%= @datas['data']['list_target']['title'] %></h3>
    

    <div>
        <ul>
        <% @datas['data']['list_activities'].each do |list_activity|  %>
            <li><%= list_activity['title'] %></li>
        <% end %>  
        </ul>
    </div>














    <% end %>





</div>