

<%
#init
params[:original_url] = request.path if params[:original_url].blank?


if params[:original_url]
    back_url = params[:original_url]
end


if @datas && !@datas['data'].blank?

    back_url = "/#{@controller_main_url}/plans/#{@component_report['data']['plan_report']['category']['plan_id']}" rescue nil
end
%>

<%= form_for('components', url: "/#{gen_form[0]}/components#{gen_form[1]}" , method: gen_form[2]) do |f| %>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="float-start">
        <h2 class="card-label">
            <i class="fa-solid fa-circle-chevron-right"></i>
            สร้างหนังสือรับรองการประเมินผลการควบคุมภายใน
        </h2>
      </div>
    </div>
    <div class="col">
      <div class="float-end">
        <%= link_to back_url, class: 'btn btn-light -sm' do %>
            <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
        <% end %>
      </div>
    </div>
  </div>


    
  <input type="text" class="form-control" placeholder=" (1) " name="component[component_report_id]" value="<%= @component_report['data']['id'] rescue nil %>">
  <input type="text" class="form-control" placeholder=" (1) " name="component[category_id]" value="<%= @component_report['data']['plan_report']['category_id'] rescue nil %>">



  <div class="text-muted text-end mt-15">แบบฟอร์ม ปค.1</div>
  <h1 class="text-center"> หนังสือรับรองการประเมินผลการควบคุมภายใน</h1>
  <h1 class="text-center"> (ระดับหน่วยงานของรัฐ)</h1>


  <h2 class="text-gray-800 fw-bolder fs-6 mt-3"> เรียน  <input type="text" class="form-control" placeholder=" (1) " name="component[title1]" value="<%= @datas['data']['title1'] rescue nil %>"> <h2>
  <h2 class="text-gray-800 fw-bolder fs-6 mt-3"> <input type="text" class="form-control" placeholder="กรมคุ้มครองสิทธิและเสรีภาพ (2) " name="component[title2]" value="<%= @datas['data']['title2'] rescue nil %>"> ได้ประเมินผล <h2>
  <h2 class="text-gray-800 fw-bolder fs-6 mt-3"> การควบคุมภายในของหน่วยงาน สำหรับปีสิ้นสุดวันที่<input type="text" class="form-control" placeholder=" (3) " name="component[title2]" value="<%= @datas['data']['title2'] rescue nil %>"> ได้ประเมินผล <h2>
  <h2 class="text-gray-800 fw-bolder fs-6 mt-3"> เดือน <input type="text" class="form-control" placeholder=" (3) " name="component[title3]" value="<%= @datas['data']['title3'] rescue nil %>"> </h2> 
  <h2 class="text-gray-800 fw-bolder fs-6 mt-3"> พ.ศ. <input type="text" class="form-control" placeholder="  " name="component[title5]" value="<%= @datas['data']['title5'] rescue nil %>"> </h2> 
  <h2 class="text-gray-800 fw-bolder fs-6 mt-3"> ด้วยวิธีการที่หน่วยงานกำหนดซึ่งเป็นไปตามหลักเกณฑ์กระทรวงการคลังว่าด้วยมาตรฐานและหลักเกณฑ์ปฏิบัติ การควบคุมภายในสำหรับหน่วยงานของรัฐ พ.ศ. 2561 โดยมีวัตถุประสงค์เพื่อให้ความมั่นใจอย่างสมเหตุสมผลว่า ภารกิจของหน่วยงานจะบรรลุวัตถุประสงค์ของการควบคุมภายในด้านการดำเนินงานที่มีประสิทธิผล </h1>
  <h2 class="text-gray-800 fw-bolder fs-6 mt-3"> ประสิทธิภาพ ด้านการรายงานที่เกี่ยวกับการเงิน และไม่ใช่การเงินที่เชื่อถือได้ ทันเวลา และโปร่งใส รวมทั้งด้านการปฏิบัติตามกฎหมาย ระเบียบ และข้อบังคับที่เกี่ยวข้องกับการดำเนินงาน </h2>
  <h2 class="text-gray-800 fw-bolder fs-6 mt-3"> จากผลการประเมินดังกล่าว </h2> <h2> <input type="text" class="form-control" placeholder="กรมคุ้มครองสิทธิและเสรีภาพ (4) " name="component[title6]" value="<%= @datas['data']['title6'] rescue nil %>"> </h2> 
  <h2 class="text-gray-800 fw-bolder fs-6 mt-3"> เห็นว่า การควบคุมภายในของหน่วยงานมีความเพียงพอ ปฏิบัติตามอย่างต่อเนื่อง และเป็นไปตามหลักเกณฑ์กระทรวงการคลังว่าด้วยมาตรฐานและหลักเกณฑ์ปฏิบัติการควบคุมภายในสำหรับหน่วยงานของรัฐ พ.ศ. 2561 ภายใต้  การกำกับดูแลของ </h2>
  <h2 class="text-gray-800 fw-bolder fs-6 mt-3"> <input type="text" class="form-control" placeholder="(5) " name="component[title7]" value="<%= @datas['data']['title7'] rescue nil %>">.</h2> 

  <h2 class="text-gray-800 fw-bolder fs-6 mt-3">ลายมือชื่อ</h2> 

  <h2 class="text-gray-800 fw-bolder fs-6 mt-3"><input type="text" class="form-control" placeholder=" (6) " name="component[title9]" value="<%= @datas['data']['title9'] rescue nil %>">.</h2> 
  <h2 class="text-gray-800 fw-bolder fs-6 mt-3">ตำแหน่ง</h2> 
  <h2 class="text-gray-800 fw-bolder fs-6 mt-3"><input type="text" class="form-control" placeholder="(7) " name="component[title10]" value="<%= @datas['data']['title10'] rescue nil %>">.</h2> 
  <input type="date" class="form-control" name="component[approvedate]" value ="<%= @data['data']['approvedate'].to_datetime.strftime('%Y-%m-%dT%H:%M') rescue nil %>"/>



  <%= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
  <% end %>  








</div>
