<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
back_url = "/#{@controller_main_url}/plans/#{@follow_up_control_report['data']['risk_management_report']['task_plan_report']['task_plan_report']['risk_analysis_report']['plan_report']['category']['plan_id']}" rescue nil
%>


<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="float-start">
        <h2 class="card-label">
            <i class="fa-solid fa-circle-chevron-right"></i>
            สร้างหนังสือรับรองการประเมินผลการควบคุมภายใน
        </h2>
      </div>
    </div>
    <div class="col">
      <div class="float-end">
        <%= link_to back_url, class: 'btn btn-light -sm' do %>
            <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
        <% end %>
      </div>
    </div>
  </div>


    




  <%= form_for('follow_up_control_report', url: "/#{gen_form[0]}/follow_up_control_reports#{gen_form[1]}" , method: gen_form[2]) do |f| %>

  <div class="row">                                                
      <div class="col-12">
          <div class="row"> 
              <div class="col-sm mt-2  mb-5">
                  <label for="formGroupExampleInput2" class="form-label">
                      <h5> </h5>
                  </label>
                
              </div> 
              <div class="col-sm mt-2 mb-5">
                  <label for="formGroupExampleInput2" class="form-label">
                      <h5></h5>
                  </label>
                
              </div> 
          </div> 
      </div> 

      <div class="col-12 mt-5 mb-5">
          <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
              <%= f.hidden_field :component_report_id, value: params[:component_report_id] %>
              <%= f.submit t(:saves), class: "btn btn-info" %>  
          </div>
      </div>                 
  </div>
  <% end %>  








</div>
