/* Uppy & Shrine */
.image-preview {
margin-bottom: 20px;
}
.file-upload-preview[src=""] {
visibility: hidden;
}
.file-upload-list li {
margin-bottom: 20px;
}
.image-preview {
margin-top: 10px;
display: inline-block;
}
.form-horizontal .media .form-group {
margin-left: 10px;
margin-right: 10px;
}
button.uppy-FileInput-btn {
    border-radius: 4px!important;
    padding: 8px!important;
    font-size: .8em!important;
    margin-top: 2rem!important;
}
