<%
#init
@plan_id = params[:plan_id] if !params[:plan_id].blank?
%>


<%= form_for('category', url: "/#{gen_form[0]}/categories#{gen_form[1]}" , method: gen_form[2]) do |f| %>
<div class="row">   

      <%= f.hidden_field :plan_id, value: @plan_id %>

      <div class="col-12 mt-5 ms-5 mb-5">
            <label for="" class="form-label"> <h5> <%= t(:order_sort) %> <span class="text-danger"></span> </h5></label>
            <%= f.number_field :order_sort, min: 1, class: "form-control w-50", placeholder: t(:order_sort), value: (@datas['data']['order_sort'] rescue nil) %>
      </div>
      
      <div class="col-12 mt-5 ms-5 mb-5">
            <label class="form-label"><h5> ชื่อ <span class="text-danger">*</span> </h5></label>
            <%= f.text_field :title, class: "form-control", placeholder: t(:title), value: (@datas['data']['title'] rescue nil), required: true %>
       </div>

       <div class="col-12 mt-5 ms-5 mb-5">
       <label class="form-label"><h5>รายละเอียด<span </span> </h5></label>
       <textarea class="form-control" name="category[description]" rows="10" cols="80"><%= @datas['data']['description'] rescue nil %></textarea>
       </div>
       <div class="col-12 mt-5 ms-5 mb-5">
           <!-- <label class="form-label"><h5>เกณฑ์คะแนน <span class="text-danger">*</span> </h5></label> -->
            <%#= f.hidden_field :fl_total_score, class: "form-control", required: true, value: (@datas['data']['fl_total_score'] rescue nil)# %>  
       </div>



      <div class="col-12 mt-5 ms-5 mb-5">
            <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
                  <% if !params[:plan_id].blank? %>
                      <%= f.hidden_field :plan_id, value: params[:plan_id] %>  
                    <% end %> 
                  <%= f.submit t(:saves), class: "btn btn-info" %>        
            </div>
      </div> 
</div>

<% end %> 