<div class="container-fluid">
  <!--begin::Header-->
  <div class="row">
    <div class="col"> 
      <div class="float-start">
        <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i> หมวดย่อย</h2> 
      </div>
    </div>
    <div class="col">
      <div class="float-end">  
        <%#= link_to "/#{gen_form[0]}/master_plans/#{@data_plan['data']['master_plan_id']}", class: 'btn btn-light -sm' do %> 
        <%= link_to "", class: 'btn btn-light -sm', onclick: "history.back()" do %> 
          <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
        <% end %>
      </div> 
    </div>
  </div>





    <%= render 'form' %>

</div>
<!--end::Kt_content-->
