<!--begin::Kt_content-->
<div class="container-fluid">
      <!--begin::Header-->
        <div class="row">
            <div class="col">
                  <div class="float-start">
                        <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:edit) %><%= t(:indicators_keeper) %></h2>
                  </div>
            <div class="col">
              <div class="float-end">
                    <%= link_to kpi_devision_directors_path(@activity), class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i></i> <%= t(:back) %> </i> <% end %>
              </div>
            </div>
       </div>
      <!--end:Header-->
      <!--begin:Content-->
       <div class="row">
            <div class="col">
                   <div class="card-show">
                        <%= form_for('devision_director', url: "/#{@controller_title}/devision_directors/#{@datas['data']['id']}" , method: :patch) do |f| %>
                        <div class="row">
                        <div class="col-11 mt-5 ms-5">

                        <label for="formGroupExampleInput" class="form-label"> <h5> <%= t(:order_sort) %> <span class="text-danger">*</span> </h5></label>
                        <%= f.number_field :order_sort, class: "form-control", placeholder: t(:order_sort), value: @datas['data']['order_sort'] %>
                        </div>

                              <div class="col-11 mt-5 ms-5">
                                  <label for="formGroupExampleInput" class="form-label"> <h5> <%= t(:indicators_keeper) %> <span class="text-danger">*</span> </h5></label>
                                  <%= f.text_field :title, class: "form-control", placeholder: t(:title), value: @datas['data']['title'] rescue nil %>
                              </div>

                              <div class="col-11 mt-5 ms-5">
                                  <label for="" class="form-label"> <h5> <%= t(:abbreviation) %> <span class="text-danger">*</span> </h5></label>
                                  <%= f.text_field :title_slug, class: "form-control", placeholder: t(:title_slug), value: @datas['data']['title_slug'] rescue nil %>
                              </div>


                              <div class="col-11 mt-5 ms-5">
                                  <label for="" class="form-label"> <h5> <%= t(:phone) %> <span class="text"></span> </h5></label>
                                  <%= f.text_field :phone, class: "form-control", placeholder: t(:phone), value: @datas['data']['phone'] rescue nil %>
                              </div>

                              <div class="col-11 mt-5 ms-5 mb-5">
                              <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
                                    <!--button:content-->
                                    <%= f.submit t('saves'), class: "btn btn-info" %></div>
                              </div>
                        </div>


                   <% end %>
                   </div>
            </div>
      </div>
      <!--end:Content-->
</div>
<!--end::Kt_content-->
