<%
#init
params[:original_url] = request.path if params[:original_url].blank?


if params[:original_url]
    back_url = params[:original_url]
end


if @datas && !@datas['data'].blank?
    back_url = "/#{@controller_title}/plans/#{@datas['data']['list']['category']['plan']['id']}"
end

%>

<%= form_for('list_activity', url: "/#{gen_form[0]}/list_activities#{gen_form[1]}" , method: gen_form[2]) do |f| %>

<%#= @datas['data']['list']['category']['plan_id'] %>

<!--begin::Row-->
<div class="row">

    <!--begin::Col_md_12-->
    <div class="col-md-12">
        <!--begin::Card Card Custom-->
        <div class="card card-custom gutter-b example example-compact">
                <!--begin::Card Header-->
                <div class="card-header">

                <div class="card-title d-flex py-10">
                <div class="d-flex">
                </div></div>

                <!--begin::Card Toolbar-->
                <div class="card-toolbar">
                      <!--begin::Excample Tools-->
                      <div class="example-tools justify-content-center">
                            <span class="example-toggle" data-toggle="tooltip" title="" data-original-title="View code"></span>
                            <span class="example-copy" data-toggle="tooltip" title="" data-original-title="Copy code"></span>
                      </div>
                      <!--end::Excample Tools-->
                      <%= link_to back_url, class: 'btn btn-light bg-white mb-2' do %>
                          <i class="ki ki-bold-arrow-back icon-sm"></i> <%= t(:back) %>
                      <% end %>
                </div>
                <!--end::Card Toolbar-->



                    <div class="col-sm-12 col-md-12 py-4">
                        <label class="form-label">
                            <h5 class="min-w-200px mb-4"><%= t(:order_sort) %></h5>
                        </label>
                            <div class="d-flex">
                                <input type="number" class="w-80px form-control mx-2" placeholder="ลำดับ" name="list_activity[order_sort]" value="<%= @datas['data']['order_sort'] rescue nil %>">
                            </div>
                    </div>

                    <div class="col-sm-12 col-md-12 py-4">
                    <label class="form-label">
                            <h5 class="min-w-200px mb-4">ชื่อกิจกรรม/ขั้นตอน</h5>
                            </label>
                            <div class="d-flex">
                                

                                <textarea class="form-control" name="list_activity[title]" rows="10" ><%= @datas['data']['title'] rescue nil %></textarea>
                            </div>
                        </div>



                         
                </div>
                <!--end::Card Header-->
                            








<% if action_name == 'edit' || action_name == 'update' %>




    <!--begin::Card Body-->
    <div class="card-body">
           
   


    
        <!-- start row -->
        <div class="row">







            <div class="col-sm-12 col-md-12 py-6">
                <div class="table-responsive py-3">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th class="w-200px">ผลผลิต/ดัชนีความก้าวหน้า :</th>
                            <td class="">

                                <% 


                                (0..4).each do |idx| 


                                %>

                                <% if @datas && !@datas['data'].blank? && !@datas['data']['list_results'].blank? && !@datas['data']['list_results'][idx].blank? %>
                                    <input type="hidden" name="list_activity[list_results_attributes][<%= idx %>][id]" value="<%= @datas['data']['list_results'][idx]['id'] rescue nil %>">
                                    <% end %>

                                    <input type="hidden" name="list_activity[list_results_attributes][<%= idx %>][list_activity_id]" value="<%= @datas['data']['id'] rescue nil %>">
                                    <input type="hidden" name="list_activity[list_results_attributes][<%= idx %>][list_id]" value="<%= @datas['data']['list_id'] %>">
                                    <input type="hidden" name="list_activity[list_results_attributes][<%= idx %>][user_id]" value="<%= @datas['data']['user_id'] rescue nil %>">
                                    <input type="hidden" name="list_activity[list_results_attributes][<%= idx %>][biz_id]" value="<%= @datas['data']['biz_id'] rescue nil %>">

                                    <textarea class="form-control my-3" rows="2" cols="40" name="list_activity[list_results_attributes][<%= idx %>][title]"><%= @datas['data']['list_results'][idx]['title'] rescue nil %></textarea>

                                <% end %>

                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>






        <div class="col-sm-12 col-md-12 py-6">
                <div class="table-responsive py-3">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th class="w-200px">ผู้รับผิดชอบ :</th>
                            <td class="">

                                <% 


                                (0..4).each do |idx| 


                                %>

                                <% if @datas && !@datas['data'].blank? && !@datas['data']['list_responsibles'].blank? && !@datas['data']['list_responsibles'][idx].blank? %>
                                    <input type="hidden" name="list_activity[list_responsibles_attributes][<%= idx %>][id]" value="<%= @datas['data']['list_responsibles'][idx]['id'] rescue nil %>">
                                    <% end %>

                                    <input type="hidden" name="list_activity[list_responsibles_attributes][<%= idx %>][list_activity_id]" value="<%= @datas['data']['id'] rescue nil %>">
                                    <input type="hidden" name="list_activity[list_responsibles_attributes][<%= idx %>][list_id]" value="<%= @datas['data']['list_id'] rescue nil %>">
                                    <input type="hidden" name="list_activity[list_responsibles_attributes][<%= idx %>][user_id]" value="<%= @datas['data']['user_id'] rescue nil %>">
                                    <input type="hidden" name="list_activity[list_responsibles_attributes][<%= idx %>][biz_id]" value="<%= @datas['data']['biz_id'] rescue nil %>">
                                    
                                    <textarea class="form-control my-3" rows="2" cols="40" name="list_activity[list_responsibles_attributes][<%= idx %>][title]"><%= @datas['data']['list_responsibles'][idx]['title'] rescue nil %></textarea>
                                    

                                <% end %>

                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>





        <div class="col-sm-12 col-md-12 py-6">
                <div class="table-responsive py-3">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th class="w-200px">ผู้เกี่ยวข้อง  :</th>
                            <td class="">

                                <% 


                                (0..4).each do |idx| 


                                %>

                                <% if @datas && !@datas['data'].blank? && !@datas['data']['list_accomplices'].blank? && !@datas['data']['list_accomplices'][idx].blank? %>
                                    <input type="hidden" name="list_activity[list_accomplices_attributes][<%= idx %>][id]" value="<%= @datas['data']['list_accomplices'][idx]['id'] rescue nil %>">
                                    <% end %>

                                    <input type="hidden" name="list_activity[list_accomplices_attributes][<%= idx %>][list_activity_id]" value="<%= @datas['data']['id'] rescue nil %>">
                                    <input type="hidden" name="list_activity[list_accomplices_attributes][<%= idx %>][list_id]" value="<%= @datas['data']['list_id'] rescue nil %>">
                                    <input type="hidden" name="list_activity[list_accomplices_attributes][<%= idx %>][user_id]" value="<%= @datas['data']['user_id'] rescue nil %>">
                                    <input type="hidden" name="list_activity[list_accomplices_attributes][<%= idx %>][biz_id]" value="<%= @datas['data']['biz_id'] rescue nil %>">
             
                                    <textarea class="form-control my-3" rows="2" cols="40" name="list_activity[list_accomplices_attributes][<%= idx %>][title]"><%= @datas['data']['list_accomplices'][idx]['title'] rescue nil %></textarea>
                                       


                                <% end %>

                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



        <div class="col-sm-12 col-md-12 py-6">
                <div class="table-responsive py-3">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th class="w-200px">ระดับ PMQA 4.0 </th>
                            <td class="">

                                <% 


                                (0..0).each do |idx| 


                                %>

                                <% if @datas && !@datas['data'].blank? && !@datas['data']['list_pmqa_levels'].blank? && !@datas['data']['list_pmqa_levels'][idx].blank? %>
                                    <input type="hidden" name="list_activity[list_pmqa_levels_attributes][<%= idx %>][id]" value="<%= @datas['data']['list_pmqa_levels'][idx]['id'] rescue nil %>">
                                    <% end %>

                                    <input type="hidden" name="list_activity[list_pmqa_levels_attributes][<%= idx %>][list_activity_id]" value="<%= @datas['data']['id'] rescue nil %>">
                                    <input type="hidden" name="list_activity[list_pmqa_levels_attributes][<%= idx %>][list_id]" value="<%= @datas['data']['list_id'] rescue nil %>">
                                    <input type="hidden" name="list_activity[list_pmqa_levels_attributes][<%= idx %>][user_id]" value="<%= @datas['data']['user_id'] rescue nil %>">
                                    <input type="hidden" name="list_activity[list_pmqa_levels_attributes][<%= idx %>][biz_id]" value="<%= @datas['data']['biz_id'] rescue nil %>">

                                    <textarea class="form-control my-3" rows="2" cols="40" name="list_activity[list_pmqa_levels_attributes][<%= idx %>][title]"><%= @datas['data']['list_pmqa_levels'][idx]['title'] rescue nil %></textarea>

                                <% end %>

                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



        <div class="col-sm-12 col-md-12 py-6">
                <div class="table-responsive py-3">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th class="w-200px">งปม. :</th>
                            <td class="">

                                <% 


                                (0..0).each do |idx| 


                                %>

                                <% if @datas && !@datas['data'].blank? && !@datas['data']['list_budgets'].blank? && !@datas['data']['list_budgets'][idx].blank? %>
                                    <input type="hidden" name="list_activity[list_budgets_attributes][<%= idx %>][id]" value="<%= @datas['data']['list_budgets'][idx]['id'] rescue nil %>">
                                    <% end %>

                                    <input type="hidden" name="list_activity[list_budgets_attributes][<%= idx %>][list_activity_id]" value="<%= @datas['data']['id'] rescue nil %>">
                                    <input type="hidden" name="list_activity[list_budgets_attributes][<%= idx %>][list_id]" value="<%= @datas['data']['list_id'] rescue nil %>">
                                    <input type="hidden" name="list_activity[list_budgets_attributes][<%= idx %>][user_id]" value="<%= @datas['data']['user_id'] rescue nil %>">
                                    <input type="hidden" name="list_activity[list_budgets_attributes][<%= idx %>][biz_id]" value="<%= @datas['data']['biz_id'] rescue nil %>">

                                    <textarea class="form-control my-3" rows="2" cols="40" name="list_activity[list_budgets_attributes][<%= idx %>][title]"><%= @datas['data']['list_budgets'][idx]['title'] rescue nil %></textarea>

                                <% end %>

                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>




      </div>
        <!-- end row -->




    </div>
    <!--end::Card Body-->





<% end #action_name %>









                                    <!--begin::Card Foolter-->
                                    <div class="card-footer">
                                        <% if !params[:original_url].blank? %>
                                        <%= hidden_field_tag :original_url, params[:original_url] %>
                                        <% end %>

                                        <% if !params[:list_id].blank? %>
                                        <%= f.hidden_field :list_id, value: params[:list_id] %>
                                        <% end %>

                                        <%= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
                                    </div>
                                    <!--end::Card Foolter-->
                            
                      </div>
                      <!--end::Card Card Custom-->

                </div>
                <!--end::Col_md_12-->

            </div>
            <!--end::Row-->




<% end #end form %>
