<!DOCTYPE html>
<html lang="th">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 <meta name="description" content="Task Management Application">
 <meta name="keywords" content="Bee Sys Task Management Application">
 <title><%= get_page_title(@page_title) %></title>
 <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/png" />
 <script src="https://kit.fontawesome.com/b059b143f0.js" crossorigin="anonymous"></script>

 

 <link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">
 
 <%= stylesheet_link_tag params[:controller], 'data-turbolinks-track': 'reload' if params[:controller] != "devise/sessions" %>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
 

  <link href="https://unpkg.com/uppy@0.24.4/dist/uppy.min.css" rel="stylesheet" />
  <script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/whatwg-fetch@2.0.3/fetch.js"></script>
  <script src="https://unpkg.com/uppy@0.24.4/dist/uppy.min.js"></script>

  <!--
  <script src="/assets/base2/plugins/global/plugins.bundle.js?v=7.2.9"></script>
-->

 <%#= csrf_meta_tags %>
 <%#= action_cable_meta_tag %>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= action_cable_meta_tag %>




<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">


<% #เพื่อใช้โหลด js ก่อน content %>
<%= javascript_include_tag 'base', 'data-turbolinks-track': false %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

 
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/62c0fd7e7b967b117997ba21/1g70tsee7';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->



<!--
<link href="/assets/base2/plugins/global/plugins.bundle.css?v=7.2.9" rel="stylesheet" type="text/css"/>
<link href="/assets/base2/plugins/custom/prismjs/prismjs.bundle.css?v=7.2.9" rel="stylesheet" type="text/css"/>
<link href="/assets/base2/css/style.bundle.css?v=7.2.9" rel="stylesheet" type="text/css"/>
-->




<%= yield :head %>
<%#= turbo_include_tags %>
<%#= stimulus_include_tags %>




<script type="text/template" id="template-attach">
  <%#= render partial: "attachments/form", locals: { attachment: Attachment.new, idx: "{{index}}"} %>
  <%= render partial: "attachments/form", locals: {idx: "{{index}}"} %>
</script>


	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<!--
	<body id="kt_body" style="background-image: url(/assets/base2/media/patterns/<%= get_bg %>)" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled">
	-->

	<body id="kt_body" style="background-image: url(<%= asset_path("media/patterns/header-bg-#{@controller_title}.png") %>)" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled">


		<% if params[:check] == true || params[:check] == 'true' %>
		ldap_data = <%= $user[session.id.to_s]['ldap_data'] %>
		<hr>
		$user[session.id.to_s] <%= $user[session.id.to_s] %>
		<hr>
		$auth_token[session.id.to_s] <%= $auth_token[session.id.to_s] %>
		<hr>
		session.id : <%= session.id %>
		<% end %>
<!--
		<ul>
		<li>@controller_title : <%= @controller_title %></li>
		<li>$server[@controller_title] : <%= $server[@controller_title] %></li>
		<li>session.id.to_s = <%= session.id.to_s %></li>
		<li>$auth_token[session.id.to_s] = <%= $auth_token[session.id.to_s] %></li>
		<li>$user[session.id.to_s] = <%= $user[session.id.to_s] %></li>
		<li>get_server_name_by_url(url) = <%= get_server_name_by_url($server[@controller_title]) %></li>
	   </ul>
-->
	   



		<div class="" style="position: fixed;bottom: 10px; right: 10px;z-index: 1000;">
			<% if notice %>
			  <div class="alert-popup alert alert-info alert-dismissible fade show m-1" role="alert">
			    <%= notice %>
			  </div>
			<% end %>

			<% if alert %>
			  <div class="alert-popup alert alert-warning alert-dismissible fade show m-1" role="alert">
			    <%= alert %>
			  </div>
			<% end %>
		</div>




		<!--begin::Main-->
		<!--begin::Root-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="page d-flex flex-row flex-column-fluid">
				<!--begin::Wrapper-->
				<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">

					<!--begin::Header-->
					<%= render partial: "layouts/style2/partials/topnavbar" , cached: true %>
					<!--end::Header-->

					<!--begin::Toolbar-->
					<%#= render partial: "layouts/style2/partials/toolbar_#{controller_path}" , cached: true %>
					<%= render partial: "layouts/style2/partials/toolbar_#{@controller_title}" %>
					<!--end::Toolbar-->

					<!--begin::Container-->
					
					<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">

						<!--begin::Post-->
						<%= yield %>
						<!--end::Post-->
					</div>
					<!--end::Container-->

					<!--begin::Footer-->
					<%#= render partial: "layouts/style2/partials/footer" , cached: true %>
					<!--end::Footer-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Root-->


		
		<!--begin::Drawers-->
		<%#= render partial: "layouts/style2/partials/drawers" , cached: true %>
		<!--end::Engage drawers-->

		<!--begin::Scrolltop-->
		<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
			<!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
			<span class="svg-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
					<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="black" />
					<path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="black" />
				</svg>
			</span>
			<!--end::Svg Icon-->
		</div>
		<!--end::Scrolltop-->
		


		<!--begin::Modals-->
		<%= render partial: "layouts/style2/partials/modal" %>
		<!--end::Modals-->




	<% #เพื่อใช้โหลด js หลัง content %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  	<%#= javascript_include_tag 'application' %>

  	<%= javascript_include_tag params[:controller], 'data-turbolinks-track': true if params[:controller] != "devise/sessions" %>

  	
  	<!-- get datepicker -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />

		<!-- end get datepicker -->



  	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  	<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  		
 	<!-- 
   <script src="/assets/base2/plugins/global/plugins.bundle.js?v=7.0.6"></script>
   	<script src="/assets/base2/plugins/custom/prismjs/prismjs.bundle.js?v=7.0.6"></script>
   	<script src="/assets/base2/js/scripts.bundle.js?v=7.0.6"></script>
 -->


   <%= yield :footer %>


 
	
	</body>
	<!--end::Body-->
</html>