<%
#init

%>

<%= form_for('period_report', url: "/#{gen_form[0]}/period_reports#{gen_form[1]}" , method: gen_form[2]) do |f| %>

   
    
    <div class="row">                                                
    <div class="col-12">
        <div class="row"> 
            <div class="col-sm mt-2  mb-5">
                <label for="formGroupExampleInput2" class="form-label">
                    <h5> <%= t(:startdate) %></h5>
                </label>
                <% if action_name == 'edit' || action_name == 'update' %>
                <%= f.date_field :startdate, class: "form-control", placeholder: t(:startdate), value: @datas['data']['startdate'].to_date.strftime('%Y-%m-%d') rescue nil  %>
                <% else %>
               <%=  f.date_field :startdate, class: "form-control", placeholder: t(:startdate) %>
                <% end %>
            </div> 
            <div class="col-sm mt-2 mb-5">
                <label for="formGroupExampleInput2" class="form-label">
                    <h5> <%= t(:enddate) %></h5>
                </label>
                <% if action_name == 'edit' || action_name == 'update' %>
                <%= f.date_field :enddate, class: "form-control", placeholder: t(:enddate), value: @datas['data']['enddate'].to_date.strftime('%Y-%m-%d') rescue nil  %>
                <% else %>
                <%= f.date_field :enddate, class: "form-control", placeholder: t(:enddate) %>
                <% end %>
            </div> 
        </div> 
    </div> 
    
<% if action_name == 'edit' || action_name == 'update' %>

<input type="hidden" name="period_report[user_id]" value="<%= @datas['data']['user_id'] rescue nil %>">
<input type="hidden" name="period_report[biz_id]" value="<%= @datas['data']['biz_id'] rescue nil %>">
<input type="hidden" name="period_report[master_plan_id]" value="<%= @datas['data']['master_plan_id'] rescue nil %>">
<% else %>

<input type="hidden" name="period_report[user_id]" value="<%= @master_plan_datas['data']['user_id'] rescue nil %>">
<input type="hidden" name="period_report[biz_id]" value="<%= @master_plan_datas['data']['biz_id'] rescue nil %>">
<%= f.hidden_field :master_plan_id, value: params[:master_plan_id] %>
<% end %> 


    <div class="col-12 mt-5 mb-5">
        <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
          

            <%= f.submit t(:saves), class: "btn btn-info" %>  
        </div>
    </div>                 

    </div>
<% end %>  <!-- end form %>