
body {
    font-family: 'Kanit', sans-serif;
    }

    .container-fluid {
        background-color: #ffffff;
        box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
        padding: 4rem ;
        margin: 0rem 0rem 5rem 0rem;
        border-radius: 1rem;
        height: 100vh;

    }

    .container-bg {
        min-width: 0;
        background-color: #ffffff;
        border-radius: 1rem;
        box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
        padding: 4rem ;
        margin: 0rem 0rem 5rem 0rem;
    }

    .container-bg-new {
        top: 18rem;  
        left: 2%;
        right: 2%;
        min-width: 0;
        background-color: #ffffff;
        border-radius: 1rem;
        box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
        padding: 4rem ;
        margin: 0rem 0rem 0rem 0rem;
        position: relative;
        display: flex;
       
    }

.card-body {
    flex: 1 1 auto;
    padding: 5rem 5rem;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FAFBFC;
    background-clip: border-box;
    border: 1px solid #EFF2F5;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
    margin: 2rem 0rem 0rem 0rem;
  }

  .card-master {
    padding: 0.5rem 1rem 0.5rem 1.5rem;
  }

  .card-content {
    flex: 1 1 auto;
    padding: 1rem 2rem 1rem 2rem;
  }

  
  .fa-solid , .fa-regular {
    color:#7239EA;
    margin: 0rem 0.5rem 0rem 0rem ;
    }




