
body {
    font-family: 'Kanit', sans-serif;
    font-color:#525252;
    }

 h5,
 h6 {
    color: #525252;
    }

    .container-fluid {
        background-color: #ffffff;
        box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
        padding: 4rem ;
        margin: 0rem 0rem 5rem 0rem;
        border-radius: 1rem;
        min-height: 700px;
    }


    @media (max-width: 991.98px) {
      .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: none!important;
        padding: 1rem!important;
      }
    }

    h4 {
      display: flex;
      flex-direction: row;
  }
    
  h4:before,
  h4:after {
      content: "";
      flex: 1 1;
      border-bottom: 2px solid #000;
      margin: auto;
  }

  li{
    padding-right:0.5rem;
   }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #EFF2F5;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
    margin: 2rem 0rem 0rem 0rem;
  }

  .card-master {
    padding: 0.5rem 1rem 0.5rem 1.5rem;
  }

  .card-content {
    flex: 1 1 auto;
    padding: 1rem 2rem 1rem 2rem;
  }

  .card-form {
    margin: 2rem 0rem 0rem 2rem;
  }

  .card-show {
    margin: 3rem 0rem 0rem 0em;
    border: 1px solid #EFF2F5;
    border-radius: 1rem;
    padding: 2rem;
  }

  .fa-solid , .fa-regular {
    color:#7239EA;
    margin: 0rem 0.5rem 0rem 0rem ;
    }



    .card-body {
        flex: 1 1 auto;
        padding: 1rem 1rem 5rem 1rem;
      }

      .btn-light {
        color: #000000;
        background-color: #833232;
        border-color: #F5F8FA;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
      }

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
  border-color: inherit;
}

thead,
tbody,
tfoot,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  color:#525252;
}


html,
body {
  height: 100%;
}




.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-control {
  appearance: auto!important;
}






/* datetimepicker */
.bootstrap-datetimepicker-widget.dropdown-menu {
    min-width: 300px!important;
}
/* end datetimepicker */







.form-label {
  margin-bottom: 0.5rem;
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.col-form-label-lg {
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  font-size: 1.25rem;
}

.col-form-label-sm {
  padding-top: calc(0.25rem + 1px);
  padding-bottom: calc(0.25rem + 1px);
  font-size: 0.875rem;
}

.form-text {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: rgba(var(--bs-body-color-rgb), 0.75);
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control[type=file] {
  overflow: hidden;
}
.form-control[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-control::-webkit-date-and-time-value {
  height: 1.5em;
}
.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
.form-control::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
  .form-control::file-selector-button {
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #dde0e3;
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #dde0e3;
}

.form-control-plaintext {
  display: block;
  width: 100%;
  padding: 0.375rem 0;
  margin-bottom: 0;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}
.form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}

.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}
.form-control-sm::-webkit-file-upload-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
  margin-inline-end: 0.5rem;
}
.form-control-sm::file-selector-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
  margin-inline-end: 0.5rem;
}

.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}
.form-control-lg::-webkit-file-upload-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem;
}
.form-control-lg::file-selector-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem;
}

textarea.form-control {
  min-height: calc(1.5em + 0.75rem + 2px);
}
textarea.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
}
textarea.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
}

.form-control-color {
  width: 3rem;
  height: auto;
  padding: 0.375rem;
}
.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control-color::-moz-color-swatch {
  height: 1.5em;
  border-radius: 0.375rem;
}
.form-control-color::-webkit-color-swatch {
  height: 1.5em;
  border-radius: 0.375rem;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media (prefers-reduced-motion: reduce) {
  .form-select {
    transition: none;
  }
}
.form-select:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-select[multiple], .form-select[size]:not([size="1"]) {
  padding-right: 0.75rem;
  background-image: none;
}
.form-select:disabled {
  background-color: #e9ecef;
}
.form-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212529;
}

.form-select-sm {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}

.form-select-lg {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
}

.timeline.timeline-1 {
  position: relative;
}
.timeline.timeline-1 .timeline-sep {
  z-index: 0;
  content: "";
  position: absolute;
  left: 73px;
  width: 4px;
  top: 0;
  bottom: 0;
  background-color: #EBEDF3;
}
.timeline.timeline-1 .timeline-item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.timeline.timeline-1 .timeline-item .timeline-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  font-weight: 500;
  color: #B5B5C3;
}
.timeline.timeline-1 .timeline-item .timeline-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  border: 4px solid white;
  position: relative;
  z-index: 0;
}
.timeline.timeline-1 .timeline-item .timeline-badge .svg-icon,
.timeline.timeline-1 .timeline-item .timeline-badge i {
  line-height: 0;
}
.timeline.timeline-1 .timeline-item .timeline-content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 1rem;
  padding: 0 0 0 0.75rem;
}
.timeline.timeline-1 .timeline-item:last-child {
  margin-bottom: 0;
}

.timeline.timeline-2 {
  position: relative;
  padding: 0;
  margin: 0;
}
.timeline.timeline-2 .timeline-bar {
  background-color: #EBEDF3;
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  top: 5px;
  bottom: 5px;
  left: 4px;
  z-index: 0;
  margin: 0.5rem 0;
}
.timeline.timeline-2 .timeline-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem 0;
}
.timeline.timeline-2 .timeline-item .timeline-badge {
  position: relative;
  z-index: 1;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: #E4E6EF;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 1.5rem;
}
.timeline.timeline-2 .timeline-item .timeline-badge.timeline-badge-primary {
  background-color: #8950FC;
}
.timeline.timeline-2 .timeline-item .timeline-badge.timeline-badge-secondary {
  background-color: #E4E6EF;
}
.timeline.timeline-2 .timeline-item .timeline-badge.timeline-badge-success {
  background-color: #1BC5BD;
}
.timeline.timeline-2 .timeline-item .timeline-badge.timeline-badge-info {
  background-color: #8950FC;
}
.timeline.timeline-2 .timeline-item .timeline-badge.timeline-badge-warning {
  background-color: #FFA800;
}
.timeline.timeline-2 .timeline-item .timeline-badge.timeline-badge-danger {
  background-color: #F64E60;
}
.timeline.timeline-2 .timeline-item .timeline-badge.timeline-badge-light {
  background-color: #F3F6F9;
}
.timeline.timeline-2 .timeline-item .timeline-badge.timeline-badge-dark {
  background-color: #181C32;
}
.timeline.timeline-2 .timeline-item .timeline-badge.timeline-badge-white {
  background-color: #ffffff;
}
.timeline.timeline-2 .timeline-item .timeline-content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.timeline.timeline-3 .timeline-items {
  margin: 0;
  padding: 0;
}
.timeline.timeline-3 .timeline-items .timeline-item {
  margin-left: 25px;
  border-left: 2px solid #EBEDF3;
  padding: 0 0 20px 50px;
  position: relative;
}
.timeline.timeline-3 .timeline-items .timeline-item .timeline-media {
  position: absolute;
  top: 0;
  left: -26px;
  border: 2px solid #EBEDF3;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  line-height: 0;
}
.timeline.timeline-3 .timeline-items .timeline-item .timeline-media i {
  font-size: 1.4rem;
}
.timeline.timeline-3 .timeline-items .timeline-item .timeline-media .svg-icon svg {
  height: 24px;
  width: 24px;
}
.timeline.timeline-3 .timeline-items .timeline-item .timeline-media img {
  max-width: 48px;
  max-height: 48px;
  border-radius: 100%;
}
.timeline.timeline-3 .timeline-items .timeline-item .timeline-content {
  border-radius: 0.85rem;
  position: relative;
  background-color: #F3F6F9;
  padding: 0.75rem 1.5rem;
}
.timeline.timeline-3 .timeline-items .timeline-item .timeline-content:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 10px;
  left: -25px;
  border-right: solid 10px #F3F6F9;
  border-bottom: solid 17px transparent;
  border-left: solid 17px transparent;
  border-top: solid 17px transparent;
}
.timeline.timeline-3 .timeline-items .timeline-item:last-child {
  border-left-color: transparent;
  padding-bottom: 0;
}

.timeline.timeline-4 {
  position: relative;
  width: 100%;
}
.timeline.timeline-4:after {
  content: "";
  position: absolute;
  width: 5px;
  top: 0;
  margin-top: 0.1rem;
  bottom: 0;
  left: 50%;
  margin-left: -2.5px;
  background-color: #EBEDF3;
  border-radius: 0.42rem;
}
.timeline.timeline-4.timeline-center {
  margin: 0 auto;
}
.timeline.timeline-4 .timeline-bar {
  border-radius: 0.42rem;
  width: 20px;
  height: 5px;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  background-color: #EBEDF3;
}
.timeline.timeline-4 .timeline-items {
  position: relative;
}
.timeline.timeline-4 .timeline-items .timeline-item {
  position: relative;
  margin-left: 0;
  width: 50%;
  min-height: 3rem;
}
.timeline.timeline-4 .timeline-items .timeline-item:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 3rem;
  left: 100%;
  margin-left: -3rem;
  border-left: solid 10px #F3F6F9;
  border-bottom: solid 17px transparent;
  border-right: solid 17px transparent;
  border-top: solid 17px transparent;
}
.timeline.timeline-4 .timeline-items .timeline-item .timeline-badge {
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 3.5rem;
}
.timeline.timeline-4 .timeline-items .timeline-item .timeline-badge > div {
  border-radius: 50%;
  width: 6px;
  height: 6px;
}
.timeline.timeline-4 .timeline-items .timeline-item .timeline-label {
  display: block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 0.5rem;
}
.timeline.timeline-4 .timeline-items .timeline-item .timeline-content {
  position: relative;
  border-radius: 0.42rem;
  padding: 1rem 1.5rem;
  background-color: #F3F6F9;
}
.timeline.timeline-4 .timeline-items .timeline-item.timeline-item-left {
  left: 0;
  padding-right: 2.85rem;
  position: relative;
}
.timeline.timeline-4 .timeline-items .timeline-item.timeline-item-left .timeline-badge {
  right: -10px;
}
.timeline.timeline-4 .timeline-items .timeline-item.timeline-item-left .timeline-label {
  text-align: right;
}
.timeline.timeline-4 .timeline-items .timeline-item.timeline-item-right {
  left: 50%;
  padding-left: 2.86rem;
}
.timeline.timeline-4 .timeline-items .timeline-item.timeline-item-right .timeline-badge {
  left: -10px;
}
.timeline.timeline-4 .timeline-items .timeline-item.timeline-item-right .timeline-label {
  text-align: left;
}
.timeline.timeline-4 .timeline-items .timeline-item.timeline-item-right:after {
  right: 100%;
  left: auto;
  margin-right: -3rem;
  border-right: solid 10px #F3F6F9;
  border-left: solid 17px transparent;
}
.timeline.timeline-4 .timeline-items .timeline-item:first-child {
  top: 2rem;
}
.timeline.timeline-4 .timeline-items .timeline-item:last-child {
  bottom: 2rem;
}
.timeline.timeline-4.timeline-justified .timeline-bar {
  left: 5px;
}
.timeline.timeline-4.timeline-justified:after {
  left: 5px;
}
.timeline.timeline-4.timeline-justified .timeline-items {
  padding: 1rem 0;
}
.timeline.timeline-4.timeline-justified .timeline-items .timeline-item {
  width: 100%;
  left: 0;
  padding-left: 2.85rem;
  position: relative;
  top: 0;
  bottom: 0;
  margin-bottom: 1.5rem;
}
.timeline.timeline-4.timeline-justified .timeline-items .timeline-item:after {
  right: 100%;
  left: auto;
  margin-left: auto;
  margin-right: -3rem;
  border-right: solid 10px #F3F6F9;
  border-left: solid 17px transparent;
}
.timeline.timeline-4.timeline-justified .timeline-items .timeline-item .timeline-badge {
  left: -5px;
}
.timeline.timeline-4.timeline-justified .timeline-items .timeline-item .timeline-label {
  text-align: left;
}
.timeline.timeline-4.timeline-justified .timeline-items .timeline-item:last-child {
  margin-bottom: 0;
}

@media (max-width: 991.98px) {
  .timeline.timeline-4 .timeline-bar {
    left: 5px !important;
  }
  .timeline.timeline-4:after {
    left: 5px !important;
  }
  .timeline.timeline-4 .timeline-items {
    padding: 1rem 0;
  }
  .timeline.timeline-4 .timeline-items .timeline-item {
    width: 100% !important;
    left: 0 !important;
    padding-right: 0 !important;
    padding-left: 2.85rem !important;
    position: relative;
    top: 0 !important;
    bottom: 0 !important;
    margin-bottom: 1.5rem;
  }
  .timeline.timeline-4 .timeline-items .timeline-item:after {
    right: 100%;
    left: auto !important;
    margin-left: auto;
    margin-right: -3rem;
    border-right: solid 10px #F3F6F9;
    border-left: solid 17px transparent;
  }
  .timeline.timeline-4 .timeline-items .timeline-item .timeline-badge {
    left: -5px !important;
  }
  .timeline.timeline-4 .timeline-items .timeline-item .timeline-label {
    text-align: left !important;
  }
  .timeline.timeline-4 .timeline-items .timeline-item:last-child {
    margin-bottom: 0 !important;
  }
}
.timeline.timeline-5 .timeline-items {
  margin: 0;
  padding: 0;
}
.timeline.timeline-5 .timeline-items .timeline-item {
  margin-left: 0;
  padding: 0;
  position: relative;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-media {
  position: absolute;
  top: 0;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  line-height: 0;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-media i {
  font-size: 1.4rem;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-media .svg-icon svg {
  height: 24px;
  width: 24px;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc {
  padding: 9px 0 0 44px;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc::before {
  content: "";
  position: absolute;
  width: 4px;
  height: calc(100% - 32px);
  background-color: #EBEDF3;
  border-radius: 6px;
  top: 40px;
  left: 16px;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-primary::before {
  background-color: #8950FC;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light-primary::before {
  background-color: #EEE5FF;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-secondary::before {
  background-color: #E4E6EF;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light-secondary::before {
  background-color: #EBEDF3;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-success::before {
  background-color: #1BC5BD;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light-success::before {
  background-color: #C9F7F5;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-info::before {
  background-color: #8950FC;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light-info::before {
  background-color: #EEE5FF;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-warning::before {
  background-color: #FFA800;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light-warning::before {
  background-color: #FFF4DE;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-danger::before {
  background-color: #F64E60;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light-danger::before {
  background-color: #FFE2E5;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light::before {
  background-color: #F3F6F9;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light-light::before {
  background-color: #F3F6F9;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-dark::before {
  background-color: #181C32;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light-dark::before {
  background-color: #D1D3E0;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-white::before {
  background-color: #ffffff;
}
.timeline.timeline-5 .timeline-items .timeline-item .timeline-desc.timeline-desc-light-white::before {
  background-color: #ffffff;
}
.timeline.timeline-5 .timeline-items .timeline-item:last-child {
  border-left-color: transparent;
  padding-bottom: 0;
}

.timeline.timeline-6 {
  position: relative;
}
.timeline.timeline-6:before {
  content: "";
  position: absolute;
  left: 51px;
  width: 3px;
  top: 0;
  bottom: 0;
  background-color: #EBEDF3;
}
.timeline.timeline-6 .timeline-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 1.7rem;
}
.timeline.timeline-6 .timeline-item:last-child {
  margin-bottom: 0;
}
.timeline.timeline-6 .timeline-item .timeline-label {
  width: 50px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  color: #3F4254;
}
.timeline.timeline-6 .timeline-item .timeline-badge {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: white;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  position: relative;
  margin-top: 1px;
  margin-left: -0.5rem;
  padding: 3px !important;
  border: 6px solid #ffffff !important;
}
.timeline.timeline-6 .timeline-item .timeline-badge span {
  display: block;
  border-radius: 100%;
  width: 6px;
  height: 6px;
  background-color: #EBEDF3;
}
.timeline.timeline-6 .timeline-item .timeline-content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}


.table ul {
    padding-left: 1.2rem;
}

 .table-color {

 }
 .table-color th, .table-color td {
  border: 1px solid #817E7E;
 }

 .table-color thead {
  background-color: #F3D6EF;
 }
 .table-color thead th {
  color: #ffffff!important;
 }

 .table-color tbody {
  background-color: #ffffff;
 }
 .table-color tbody td {
  color: #E4E4E4;
 }







 /* print */
@media print {
       .noprint, .uppy-FileInput-btn {
          visibility: hidden;
          display: none;
       }
    }