<!--begin::Kt_content-->
<div class="content flex-row-fluid" id="kt_content">
            <!--begin::Row-->
            <div class="row">

                <!--begin::Col_md_12-->
                <div class="col-md-12">
                      <!--begin::Card Card Custom-->
                      <div class="card card-custom gutter-b example example-compact">
                            <!--begin::Card Header-->
                            <div class="card-header">
                                  <h3 class="card-title"><%= t(:edit) %> <%= t(:target_kpi) %></h3>
                                      <!--begin::Card Toolbar-->
                                      <div class="card-toolbar">
                                            <!--begin::Excample Tools-->
                                            <div class="example-tools justify-content-center">
                                                  <span class="example-toggle" data-toggle="tooltip" title="" data-original-title="View code"></span>
                                                  <span class="example-copy" data-toggle="tooltip" title="" data-original-title="Copy code"></span>
                                            </div>
                                            <!--end::Excample Tools-->
                                      </div>
                                      <!--end::Card Toolbar-->
                            </div>
                            <!--end::Card Header-->
                            <!--begin::Form_for-->
                            <%= form_for('target_kpi', url: "/risk/target_kpis/#{@datas['data']['id']}" , method: :patch) do |f| %>
                                    <!--begin::Card Body-->
                                    <div class="card-body">
                                          <!--begin::Form Group-->
                                          <div class="form-group">
                                                  <label> <%= t(:title) %>
                                                          <span class="text-danger">*</span>
                                                  </label>

                                                  <%= f.text_field :title, class: "form-control", placeholder: t(:title), value: @datas['data']['title'] %>
                                                  <span class="form-text text-muted"></span>
                                          </div>
                                          <!--end::Form Group-->

                                    </div>
                                    <!--end::Card Body-->

                                    <!--begin::Card Foolter-->
                                    <div class="card-footer">
                                          <%= f.submit class: "btn btn-lg btn-primary" %>
                                    </div>
                                    <!--end::Card Foolter-->
                            <% end %>
                            <!--end::Form_for-->
                      </div>
                      <!--end::Card Card Custom-->

                </div>
                <!--end::Col_md_12-->

            </div>
            <!--end::Row-->
</div>
<!--end::Kt_content-->