<%
#init
params[:original_url] = request.path if params[:original_url].blank?


if params[:original_url]
    back_url = params[:original_url]
end


if @datas && !@datas['data'].blank?
    url = URI("#{$server[@controller_title]}/api/v1/categories/#{@datas['data']['category_id']}")
    @catagory = request_api(url,'get',nil)
    back_url = "/#{@controller_main_url}/plans/#{@catagory['data']['plan_id']}"
end
%>

<%#= @datas['data']['tasks'] %>

<%= form_for('list', url: "/#{gen_form[0]}/lists#{gen_form[1]}" , method: gen_form[2]) do |f| %>
<!--begin::Row-->
<div class="row">

    <!--begin::Col_md_12-->
    <div class="col-md-12">
        <!--begin::Card Card Custom-->
        <div class="card card-custom gutter-b example example-compact">
                <!--begin::Card Header-->
                <div class="card-header">
                      <div class="card-title d-flex py-10 justify-content-center">
                            <h5 class="min-w-150px">ลำดับ</h5>
                            <div class="d-flex">
                                <input type="text" class="w-120px form-control mx-2" placeholder="ใส่ตัวเลขเท่านั้น" name="list[order_sort]" value="<%= @datas['data']['order_sort'] rescue nil %>">

                                <input type="hidden" class="w-300px form-control mx-2" placeholder="<%= t(:code) %>" name="list[activity_no]" value="<%= @datas['data']['activity_no'] rescue nil %>">
                               
                            </div>
                        </div>



                          <!--begin::Card Toolbar-->
                          <div class="card-toolbar">
                                <!--begin::Excample Tools-->
                                <div class="example-tools justify-content-center">
                                      <span class="example-toggle" data-toggle="tooltip" title="" data-original-title="View code"></span>
                                      <span class="example-copy" data-toggle="tooltip" title="" data-original-title="Copy code"></span>
                                </div>
                                <!--end::Excample Tools-->
                                <%= link_to back_url, class: 'btn btn-light bg-white mb-2' do %>
                                    <i class="ki ki-bold-arrow-back icon-sm"></i> <%= t(:back) %>
                                <% end %>
                          </div>
                          <!--end::Card Toolbar-->
                </div>
                <!--end::Card Header-->

                <% if action_name == 'edit' || action_name == 'update' %>
                <div class="card-body">                          
                                   


                <div class="col-sm-12 col-md-12 py-4">
                <label class="form-label">
                    <h5>ขั้นตอน<span class="text-danger">*</span></h5>
                </label>

                <% if @datas && !@datas['data'].blank? && !@datas['data']['list_activities'].blank? %>
                <input type="hidden" name="list[list_activities_attributes][0][id]" value="<%= @datas['data']['list_activities'][0]['id'] rescue nil %>">
                <% end %>
                <input type="hidden" name="list[list_activities_attributes][0][order_sort]" value="<%= @datas['data']['order_sort'] rescue nil %>">
                <input type="hidden" name="list[list_activities_attributes][0][list_id]" value="<%= @datas['data']['id'] rescue nil %>">
                <input type="hidden" name="list[list_activities_attributes][0][user_id]" value="<%= @datas['data']['user_id'] rescue nil %>">
                <input type="hidden" name="list[list_activities_attributes][0][biz_id]" value="<%= @datas['data']['biz_id'] rescue nil %>">
                <textarea class="form-control my-3" rows="2" cols="40" required="required" name="list[list_activities_attributes][0][title]"  placeholder="ขั้นตอนที่ 1"><%= @datas['data']['list_activities'][0]['title'] rescue nil %></textarea>
                <textarea class="form-control my-3" rows="4" cols="40" name="list[list_activities_attributes][0][description]" placeholder="รายละเอียด"><%= @datas['data']['list_activities'][0]['description'] rescue nil %></textarea>
               </div>

<!-- ======================================== begin :: List_objectives ===================================================-->  
                                        <!--begin::List_objectives-->


                                        <!--
                                        <div class="row">                                                                      
                                            <div class="col-12 mt-5">
                                                <label for="formGroupExampleInput" class="form-label"> <h5> <%= t(:title) %><span class="text-danger">*</span> </h5></label>
                                                <%#= f.text_field :title, class: "form-control", placeholder: t(:title), value: @title %> 
                                            </div>
                                            
                                            <div class="col-12 mt-5 ms-5 mb-5">
                                                <label for="formGroupExampleInput2" class="form-label"> <h5> <%= t(:description) %><span class="text-danger">*</span> </h5></label>
                                                <%#= f.text_field :description, class: "form-control", placeholder: t(:description), value: @description %>  
                                            </div> 
                                        </div>
                                    -->


                                   


                                        <div class="table-responsive py-5">
                                        <table id="list_objective_items" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>วัตถุประสงค์</th>
                                                    <th style="width: 80px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                           
                                        <% 
                                        list_objective_sub_item_size = 0
                                  
                                      
                                    

                                            if @datas && @datas['data'] && @datas['data']['list_objectives']
                                                list_objective_sub_item_size = @datas['data']['list_objectives'].size.to_i
                                              
                                            %>

                                      
                                            <% @datas['data']['list_objectives'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |sub_item,idx|  %>
                                             
                                                <tr id="list_objectives_items<%= idx %>">
                                           
                                                    <td>

                                                        <textarea class="form-control" name="list[list_objectives_attributes][<%= idx %>][title]" rows="3" cols="50"><%= sub_item['title'] %></textarea>
                                                    </td> 

                                                    <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#list_objectives_items<%= idx %>').hide();$('#list_objectives_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>
                                                                                  
                                                    <input type="hidden" class="form-control" placeholder="id" name="list[list_objectives_attributes][<%= idx %>][id]" value="<%= sub_item['id'] %>">
                                                                                  
                                                    <input type="hidden" class="check_destroy" placeholder="" name="list[list_objectives_attributes][<%= idx %>][_destroy]" value=false>


                                                                                  
                                              </tr>
                                            <% end %>
                                        <% end %>                                                             
                                                                                  
                                            </tbody>
                                        </table>
                                        
                                       
                                        <div class="text-left"><a onclick="addlist_objectiverows('list_objective_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>
                                                                                  
                                                                                  
                                            <script type="text/javascript">
                                                var list_objective_items_row = <%= list_objective_sub_item_size + list_objective_sub_item_size %>;
                                                    function addlist_objectiverows(list_objective_id_name) {
                                                      //  alert('call function list_objective');
                                                        html = '<tr id="'+ list_objective_id_name + list_objective_items_row + '">';                                                                                  
                                                                                  
                                                        html += '<td><textarea class="form-control" placeholder="<%= t(:detail) %>" name="list[list_objectives_attributes]['+list_objective_items_row+'][title]" rows="3" cols="50"></textarea></td>';
                                                        html += '<input type="hidden" class="form-control"  name="list[list_objectives_attributes]['+list_objective_items_row+'][order_sort]" value= '+ list_objective_items_row +'>';
                                                        html += '<input type="hidden" class="form-control"   name="list[list_objectives_attributes]['+list_objective_items_row+'][biz_id]" value= "<%= $user[session.id.to_s][@controller_title]['biz_id'] %>" >';
                                                        html += '<input type="hidden" class="form-control"  name="list[list_objectives_attributes]['+list_objective_items_row+'][user_id]" value= "<%= $user[session.id.to_s][@controller_title]['id'] %>" >';
                                                                                                                                                                                                                                                                                              
                                              
                                                        
                                                        html += '<td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_objective_id_name + list_objective_items_row + '\').hide();$(\'#' + list_objective_id_name + list_objective_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';
                                                                                                                                                                    
                                                        html += '<input type="hidden" class="check_destroy" placeholder="" name="list[list_objectives_attributes]['+list_objective_items_row+'][_destroy]" value=false>';

                                                                                                                                                                                               
                                                        html += '</tr>';
                                                                                  
                                                        $('#' + list_objective_id_name + ' tbody').append(html);
                                                                                  
                                                        list_objective_items_row++;
                                                    }
                                                </script>
                                    </div>    
                                    <!--end::table-responsive py-5 -->                                          
<!-- ======================================== end :: List_objectives ===================================================-->  
                                    <div class="separator separator-dashed separator-border-2 my-10"></div>
<!-- ======================================== begin:: List Risks===================================================-->
                                    
                                    <!--begin::table-responsive py-5 -->
                                    <div class="table-responsive py-5">
                                        <table id="list_risk_items" class="table table-bordered">
                                            <thead>

                                                <tr>
                                        
                                                    <th><%= t(:list_risk) %></th>
                                                    <th style="width: 80px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                        <% 
                               
                                        list_risk_sub_item_idx =0
                                            if @datas && @datas['data'] && @datas['data']['list_risks']
                                                list_risk_sub_item_size = @datas['data']['list_risks'].size.to_i
                                        %>
                                            <% @datas['data']['list_risks'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list_risk_sub_item,idx|  %>
                                                <tr id="list_risk_items<%= idx %>">
                                                
     

                                                    <td><textarea class="form-control" name="list[list_risks_attributes][<%= idx %>][title]" rows="3" cols="50"><%= list_risk_sub_item['title'] %></textarea></td>

                                                    <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#list_risk_items<%= idx %>').hide();$('#list_risk_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>
                                                                                  
                                                    <input type="hidden" class="form-control" placeholder="id" name="list[list_risks_attributes][<%= idx %>][id]" value="<%= list_risk_sub_item['id'] %>">
                                                                                  
                                                    <input type="hidden" class="check_destroy" placeholder="" name="list[list_risks_attributes][<%= idx %>][_destroy]" value=false>
                                                    
                                                                         
                                                </tr>
                                 
                                            <% end %>
                                        <% end %>
                                                                                  
                                                                                  
                                            </tbody>
                                        </table>
                                        
                                       
                                        <div class="text-left"><a onclick="addlist_risk_rows('list_risk_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>
                                                                                  
                                                                                  
                                            <script type="text/javascript">
                                                var list_risk_items_row = <%= list_risk_sub_item_size + list_risk_sub_item_size %>;
                                                    function addlist_risk_rows(list_risk_id_name) {
                                                     //   alert('call function list_risk');
                                                        html = '<tr id="'+ list_risk_id_name + list_risk_items_row + '">';
                                                                                
                                                        html += '<td><textarea class="form-control" placeholder="<%= t(:detail) %>" name="list[list_risks_attributes]['+list_risk_items_row+'][title]" rows="3" cols="50"></textarea></td>';

                                                        html += '<input type="hidden" class="form-control" name="list[list_risks_attributes]['+list_risk_items_row+'][order_sort]" value = '+ list_risk_items_row + ' >';  

                                                        html += '<input type="hidden" class="form-control" name="list[list_risks_attributes]['+list_risk_items_row+'][biz_id]" value = "<%= $user[session.id.to_s][@controller_title]['biz_id'] %>" >';  
                                                        
                                                        html += '<input type="hidden" class="form-control" name="list[list_risks_attributes]['+list_risk_items_row+'][user_id]" value = "<%= $user[session.id.to_s][@controller_title]['id'] %>" >'; 

                                                        html += '<td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_risk_id_name + list_risk_items_row + '\').hide();$(\'#' + list_risk_id_name + list_risk_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';
                                                                                                                                                                    
                                                        html += '<input type="hidden" class="check_destroy" placeholder="" name="list[list_risks_attributes]['+list_risk_items_row+'][_destroy]" value=false>';

                                                                                                                                                                                    
                                                        html += '</tr>';
                                                                                  
                                                        $('#' + list_risk_id_name + ' tbody').append(html);
                                                                                  
                                                        list_risk_items_row++;
                                                    }
                                                </script>
                                                </div>
                                                <!--end::table-responsive py-5 -->      
                                            
<!-- ======================================== end :: List Risk ===================================================-->






<div class="separator separator-dashed separator-border-2 my-10"></div>
<!-- ======================================== begin :: ListRiskCodes ===================================================-->
<!-- list_risk_codes_attributes -->
                              
<!--begin::table-responsive py-5 -->
<div class="table-responsive py-5">
    <table id="list_risk_code_items" class="table table-bordered">
        <thead>

            <tr>
                <th style="width: 150px;">รหัสปัจจัยเสี่ยง</th>
                <th></th>
                <th></th>
                <th style="width: 80px;"></th>
            </tr>
        </thead>
        <tbody>
    <% 
    list_risk_code_sub_item_size = 0
    
        if @datas && @datas['data'] && @datas['data']['list_risk_codes']
            list_risk_code_sub_item_size = @datas['data']['list_risk_codes'].size.to_i
    %>
        <% @datas['data']['list_risk_codes'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list_risk_code_sub_item,idx|  %>
            <tr id="list_risk_code_items<%= idx %>">

                <td>
                    <input type="text" class="form-control mx-2 w-100" name="list[list_risk_codes_attributes][<%= idx %>][activity_no]"  value="<%= list_risk_code_sub_item['activity_no'] %>">

                </td>

                <td align="center">   
               
                <input type="number" placeholder="ใส่ตัวเลข 1 - 5" min="0" max="5" onKeyPress="if(this.value.length==1) return false;" name="list[list_risk_codes_attributes][<%= idx %>][risk_chance]" class="form-control" value="<%= list_risk_code_sub_item['risk_chance'] rescue nil %>">
              </td>
              <td align="center">
                <input type="number" placeholder="ใส่ตัวเลข 1 - 5" min="0" max="5" onKeyPress="if(this.value.length==1) return false;" name="list[list_risk_codes_attributes][<%= idx %>][risk_effect]" class="form-control" value="<%= list_risk_code_sub_item['risk_effect'] rescue nil %>">
              </td>

                <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#list_risk_code_items<%= idx %>').hide();$('#list_risk_code_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>
                                              
                <input type="hidden" class="form-control" placeholder="id" name="list[list_risk_codes_attributes][<%= idx %>][id]" value="<%= list_risk_code_sub_item['id'] %>">
                                              
                <input type="hidden" class="check_destroy" placeholder="" name="list[list_risk_codes_attributes][<%= idx %>][_destroy]" value=false>
                                              
            </tr>

        <% end %>
    <% end %>
                                              
                                              
        </tbody>
    </table>
    
   
    <div class="text-left"><a onclick="addlist_risk_code_rows('list_risk_code_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>
                                              
                                              
        <script type="text/javascript">
            var list_risk_code_items_row = <%= list_risk_code_sub_item_size + list_risk_code_sub_item_size %>;
                function addlist_risk_code_rows(list_risk_code_id_name) {
                   // alert('call function list_risk_code');

                    html = '<tr id="'+ list_risk_code_id_name + list_risk_code_items_row + '">';  
                    
                    html += '<td><input type="text" class="form-control mx-2" placeholder="<%= t(:code) %>" name="list[list_risk_codes_attributes]['+list_risk_code_items_row+'][activity_no]" ></td>';
                  
                    html += '<input type="hidden" class="form-control" name="list[list_risk_codes_attributes]['+list_risk_code_items_row+'][biz_id]" value = "<%= $user[session.id.to_s][@controller_title]['biz_id'] %>" >'; 

                    html += '<input type="hidden" class="form-control" name="list[list_risk_codes_attributes]['+list_risk_code_items_row+'][order_sort]" value = '+ list_risk_code_items_row +' >';  
                    
                    html += '<input type="hidden" class="form-control" name="list[list_risk_codes_attributes]['+list_risk_code_items_row+'][user_id]" value = "<%= $user[session.id.to_s][@controller_title]['id'] %>" >'; 
                                              
                    html += '<td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_risk_code_id_name + list_risk_code_items_row + '\').hide();$(\'#' + list_risk_code_id_name + list_risk_code_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';
                                                                                                                                
                    html += '<input type="hidden" class="check_destroy" placeholder="" name="list[list_risk_codes_attributes]['+list_risk_code_items_row+'][_destroy]" value=false>';
                                                                                                                                                           
                    html += '</tr>';
                                              
                    $('#' + list_risk_code_id_name + ' tbody').append(html);
                                              
                    list_risk_code_items_row++;
                   
                }
            </script>
            </div>

            <!--end::table-responsive py-5 -->
<!-- ======================================== end :: list_risk_code ===================================================-->








<div class="separator separator-dashed separator-border-2 my-10"></div>
<!-- ======================================== begin :: List Risk Factors ===================================================-->

                                  
<!--begin::table-responsive py-5 -->
<div class="table-responsive py-5">
    <table id="list_risk_factor_items" class="table table-bordered">
        <thead>

            <tr>
           
                <th><%= t(:list_risk_factor) %></th>
                <th style="width: 80px;"></th>
            </tr>
        </thead>
        <tbody>
    <% 
    list_risk_factor_sub_item_size = 0
    
        if @datas && @datas['data'] && @datas['data']['list_risk_factors']
            list_risk_factor_sub_item_size = @datas['data']['list_risk_factors'].size.to_i
    %>
        <% @datas['data']['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each_with_index do |list_risk_factor_sub_item,idx|  %>
            <tr id="list_risk_factor_items<%= idx %>">

  

                <td>
                    <textarea class="form-control" name="list[list_risk_factors_attributes][<%= idx %>][title]" rows="3" cols="50"><%= list_risk_factor_sub_item['title'] %></textarea>
                </td>

                <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#list_risk_factor_items<%= idx %>').hide();$('#list_risk_factor_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>
                                              
                <input type="hidden" class="form-control" placeholder="id" name="list[list_risk_factors_attributes][<%= idx %>][id]" value="<%= list_risk_factor_sub_item['id'] %>">
                                              
                <input type="hidden" class="check_destroy" placeholder="" name="list[list_risk_factors_attributes][<%= idx %>][_destroy]" value=false>
                                              
            </tr>

        <% end %>
    <% end %>
                                              
                                              
        </tbody>
    </table>
    
   
    <div class="text-left"><a onclick="addlist_risk_factor_rows('list_risk_factor_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>
                                              
                                              
        <script type="text/javascript">
            var list_risk_factor_items_row = <%= list_risk_factor_sub_item_size + list_risk_factor_sub_item_size %>;
                function addlist_risk_factor_rows(list_risk_factor_id_name) {
                 //   alert('call function list_risk_factor');
                    html = '<tr id="'+ list_risk_factor_id_name + list_risk_factor_items_row + '">';  
                    


                    html += '<td><textarea class="form-control" placeholder="<%= t(:detail) %>" name="list[list_risk_factors_attributes]['+list_risk_factor_items_row+'][title]" rows="3" cols="50"></textarea></td>';

                    html += '<input type="hidden" class="form-control" name="list[list_risk_factors_attributes]['+list_risk_factor_items_row+'][biz_id]" value = "<%= $user[session.id.to_s][@controller_title]['biz_id'] %>" >'; 

                    html += '<input type="hidden" class="form-control" name="list[list_risk_factors_attributes]['+list_risk_factor_items_row+'][order_sort]" value = '+ list_risk_factor_items_row +' >';  
                    
                    html += '<input type="hidden" class="form-control" name="list[list_risk_factors_attributes]['+list_risk_factor_items_row+'][user_id]" value = "<%= $user[session.id.to_s][@controller_title]['id'] %>" >'; 
                                              
                    html += '<td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_risk_factor_id_name + list_risk_factor_items_row + '\').hide();$(\'#' + list_risk_factor_id_name + list_risk_factor_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';
                                                                                                                                
                    html += '<input type="hidden" class="check_destroy" placeholder="" name="list[list_risk_factors_attributes]['+list_risk_factor_items_row+'][_destroy]" value=false>';
                                                                                                                                                           
                    html += '</tr>';
                                              
                    $('#' + list_risk_factor_id_name + ' tbody').append(html);
                                              
                    list_risk_factor_items_row++;
                   
                }
            </script>
            </div>

            <!--end::table-responsive py-5 -->
<!-- ======================================== end :: List Risk Factors ===================================================-->

<div class="separator separator-dashed separator-border-2 my-10"></div>


<!-- ======================================== begin:: List Risk Activity Control===================================================-->
                                    
                                    <!--begin::table-responsive py-5 -->
                                    <div class="table-responsive py-5">
                                        <table id="list_activity_control_items" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th><%= t(:list_activity_control) %></th>
                                                    <th style="width: 80px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                        <% 
                                        list_activity_control_sub_item_size = 0
                                   
                                            if @datas && @datas['data'] && @datas['data']['list_activity_controls']
                                                list_activity_control_sub_item_size = @datas['data']['list_activity_controls'].size.to_i
                                        %>
                                            <% @datas['data']['list_activity_controls'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list_activity_control_sub_item,idx|  %>
                                                <tr id="list_activity_control_items<%= idx %>">

                                                    <td>
                                                        <textarea class="form-control" name="list[list_activity_controls_attributes][<%= idx %>][title]" rows="3" cols="50"><%= list_activity_control_sub_item['title'] %></textarea>
                                                    </td>

                                                    <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#list_activity_control_items<%= idx %>').hide();$('#list_activity_control_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>
                                                                                  
                                                    <input type="hidden" class="form-control" placeholder="id" name="list[list_activity_controls_attributes][<%= idx %>][id]" value="<%= list_activity_control_sub_item['id'] %>">
                                                                                  
                                                    <input type="hidden" class="check_destroy" placeholder="" name="list[list_activity_controls_attributes][<%= idx %>][_destroy]" value=false>
                                                                                  
                                                </tr>
                                            <% end %>
                                        <% end %>
                                                                                  
                                                                                  
                                            </tbody>
                                        </table>
                                        
                                       
                                        <div class="text-left"><a onclick="addlist_activity_control_rows('list_activity_control_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>
                                                                                  
                                                                                  
                                            <script type="text/javascript">
                                                var list_activity_control_items_row = <%= list_activity_control_sub_item_size + list_activity_control_sub_item_size %>;
                                                    function addlist_activity_control_rows(list_activity_control_id_name) {
                                                     //   alert('call function list_activity_control');
                                                        html = '<tr id="'+ list_activity_control_id_name + list_activity_control_items_row + '">';                                                                                  
                                                                                  
                                                        html += '<td><textarea class="form-control" placeholder="<%= t(:detail) %>" name="list[list_activity_controls_attributes]['+list_activity_control_items_row+'][title]" rows="3" cols="50"></textarea></td>';

                                                        html += '<input type="hidden" class="form-control" name="list[list_activity_controls_attributes]['+list_activity_control_items_row+'][order_sort]" value = '+list_activity_control_items_row+'>'; 

                                                        html += '<input type="hidden" class="form-control" name="list[list_activity_controls_attributes]['+list_activity_control_items_row+'][biz_id]" value = "<%= $user[session.id.to_s][@controller_title]['biz_id'] %>" >';  
                                                        
                                                        html += '<input type="hidden" class="form-control" name="list[list_activity_controls_attributes]['+list_activity_control_items_row+'][user_id]" value = "<%= $user[session.id.to_s][@controller_title]['id'] %>" >'; 
                                                                                  
                                                        html += '<td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_activity_control_id_name + list_activity_control_items_row + '\').hide();$(\'#' + list_activity_control_id_name + list_activity_control_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';
                                                                                                                                                                    
                                                        html += '<input type="hidden" class="check_destroy" placeholder="" name="list[list_activity_controls_attributes]['+list_activity_control_items_row+'][_destroy]" value=false>';
                                                                                                                                                                                               
                                                        html += '</tr>';
                                                                                  
                                                        $('#' + list_activity_control_id_name + ' tbody').append(html);
                                                                                  
                                                        list_activity_control_items_row++;
                                                    }
                                                </script>
                                                </div>
                                                <!--end::table-responsive py-5 -->      
                                            
<!-- ======================================== end :: List Risk Activity Control ===================================================-->
<div class="separator separator-dashed separator-border-2 my-10"></div>

<% if "plan_reports".in? params[:original_url] %>

<!-- ======================================== begin :: List Risk Types ===================================================-->

                                  
<!--begin::table-responsive py-5 -->
<div class="table-responsive py-5">
    <table id="list_risk_type_items" class="table table-bordered">
        <thead>
            <tr>
                <th><%= t(:list_risk_type) %></th>
                <th style="width: 80px;"></th>
            </tr>
        </thead>
        <tbody>
    <% 
    list_risk_type_sub_item_size = 0

        if @datas && @datas['data'] && @datas['data']['list_risk_types']
            list_risk_type_sub_item_size = @datas['data']['list_risk_types'].size.to_i
    %>
        <% @datas['data']['list_risk_types'].each_with_index do |list_risk_type_sub_item,idx|  %>
            <tr id="list_risk_type_items<%= idx %>">

                <td>
  

                <select class= "form-control" name="list[list_risk_types_attributes][<%= idx %>][risk_type_id]" > value="<%= list_risk_type_sub_item['risk_type']['title'] %>" <% @risk_type_datas['data'].each do |risk_type| %><option value="<%= risk_type['id'] %>"  <% if list_risk_type_sub_item['risk_type']['title'] ==  risk_type['title'] %> selected > <%= risk_type['title'] %> <% else %> > <%= risk_type['title'] %> <% end %> </option><% end %></select></td>

                <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#list_risk_type_items<%= idx %>').hide();$('#list_risk_type_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>
                                              
                <input type="hidden" class="form-control" placeholder="id" name="list[list_risk_types_attributes][<%= idx %>][id]" value="<%= list_risk_type_sub_item['id'] %>">
                                              
                <input type="hidden" class="check_destroy" placeholder="" name="list[list_risk_types_attributes][<%= idx %>][_destroy]" value=false>
                                              
            </tr>
        <% end %>
    <% end %>
                                              
                                              
        </tbody>
    </table>
    
   
    <div class="text-left"><a onclick="addlist_risk_type_rows('list_risk_type_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>
                                              
                                              
        <script type="text/javascript">
            var list_risk_type_items_row = <%= list_risk_type_sub_item_size + list_risk_type_sub_item_size %>;
                function addlist_risk_type_rows(list_risk_type_id_name) {
                    //alert('call function list_risk_type');
                    html = '<tr id="'+ list_risk_type_id_name + list_risk_type_items_row + '">';                                                                                  
                                              
                    html += '<td><select class= "form-control" name="list[list_risk_types_attributes]['+list_risk_type_items_row+'][risk_type_id]" ><% @risk_type_datas['data'].each do |risk_type| %><option value="<%= risk_type['id'] %>"><%= risk_type['title']%></option><% end %></select></td>';

                    html += '<input type="hidden" class="form-control" name="list[list_risk_types_attributes]['+list_risk_type_items_row+'][order_sort]" value = '+list_risk_type_items_row+' >';  

                    html += '<input type="hidden" class="form-control" name="list[list_risk_types_attributes]['+list_risk_type_items_row+'][biz_id]" value = "<%= $user[session.id.to_s][@controller_title]['biz_id'] %>" >';  
                    
                    html += '<input type="hidden" class="form-control" name="list[list_risk_types_attributes]['+list_risk_type_items_row+'][user_id]" value = "<%= $user[session.id.to_s][@controller_title]['id'] %>" >'; 
                                              
                    html += '<td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_risk_type_id_name + list_risk_type_items_row + '\').hide();$(\'#' + list_risk_type_id_name + list_risk_type_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';
                                                                                                                                
                    html += '<input type="hidden" class="check_destroy" placeholder="" name="list[list_risk_types_attributes]['+list_risk_type_items_row+'][_destroy]" value=false>';
                                                                                                                                                           
                    html += '</tr>';
                                              
                    $('#' + list_risk_type_id_name + ' tbody').append(html);
                                              
                    list_risk_type_items_row++;
                }
            </script>
            </div>

            <!--end::table-responsive py-5 -->
<!-- ======================================== end :: List Risk Types ===================================================-->


    <% end %>                        
                                    </div>
                                    <!--end::Card Body-->
                                    <% end #action_name %>




                                    <!--begin::Card Foolter-->
                                    <div class="card-footer">
                                        <% if !params[:original_url].blank? %>
                                        <%= hidden_field_tag :original_url, params[:original_url] %>
                                        <% end %>

                                        <% if !params[:category_id].blank? %>
                                        <%= f.hidden_field :category_id, value: params[:category_id] %>
                                        <% end %>

                                        <%= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
                                    </div>
                                    <!--end::Card Foolter-->
                            
                      </div>
                      <!--end::Card Card Custom-->

                </div>
                <!--end::Col_md_12-->

            </div>
            <!--end::Row-->




<% end #end form %>
