<%
# เพิ่มรายชื่อหน่วยงาน
# ตัดหัวข้อหลัก , รองออก
%>


<%= form_for('plan_report', url: "/#{gen_form[0]}/plan_reports#{gen_form[1]}" , method: gen_form[2]) do |f| %>

<div class="row">                                                
    <div class="col-12 mt-5">
        <label for="formGroupExampleInput" class="form-label"> 
            <h5> เลือกตัวชี้วัดการปฎิบัติราชการ (KPI)</h5>
        </label>
        
        <%= select_tag("plan_report[master_plan_id]", options_for_select(@data_master_plans['data'].map { |item| ["#{item['title']} - #{item['plans']}", item['id']] }), {class: 'form-control', required: "required"}) %> 
    </div>                                    
    
    <!--
    <div class="col-12 mt-5 mb-5">
        <label for="formGroupExampleInput2" class="form-label">
            <h5> <%= t(:category_title) %></h5>
        </label>
        
        <%#= select_tag("plan_report[category_id]", options_for_select(@data_categories['data'].map { |item| [item['title'], item['id']] }), {class: 'form-control' }) %>   
    </div> 
-->
    
    <div class="col-12">
        <div class="row"> 
            <div class="col-sm mt-2  mb-5">
                <label for="formGroupExampleInput2" class="form-label">
                    <h5> <%= t(:startdate) %></h5>
                </label>
                <%= f.date_field :startdate, class: "form-control", placeholder: t(:startdate) %>
            </div> 
            <div class="col-sm mt-2 mb-5">
                <label for="formGroupExampleInput2" class="form-label">
                    <h5> <%= t(:enddate) %></h5>
                </label>
                <%= f.date_field :enddate, class: "form-control", placeholder: t(:enddate) %>
            </div> 
        </div> 
    </div> 

    <div class="col-12 mt-5">
        <label for="formGroupExampleInput" class="form-label"> 
            <h5> ชื่อหน่วยงาน</h5>
        </label>
    </div> 

    <!--
    <div class="col-12 mt-5">
        <label for="formGroupExampleInput" class="form-label"> 
            <h5> <%= t(:plan_report_title1) %></h5>
        </label>
        <%= f.text_field :title1, class: "form-control", placeholder: t(:plan_report_title1) %>
    </div> 
    <div class="col-12 mt-5">
        <label for="formGroupExampleInput" class="form-label"> 
            <h5> <%= t(:plan_report_title2) %></h5>
        </label>
        <%= f.text_field :title2, class: "form-control", placeholder: t(:plan_report_title2) %>
    </div>  
-->
    <div class="col-12 mt-5 mb-5">
        <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
            <%= f.hidden_field :biz_id, value: $user[session.id.to_s][@controller_title]['biz_id'] %>
            <%= f.submit t(:saves), class: "btn btn-info" %>  
        </div>
    </div>                 
</div>
<% end %>  