<style>
    @media print {
       .noprint {
          visibility: hidden;
          display: none;
       }
    }
</style>

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="float-end"> 
            <!-- 
                <%= link_to "/#{gen_form[0]}/master_plans/#{params[:id]}", class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i></i> <%= t(:back) %> </i> <% end %>
            -->

                <%= link_to "#", class: 'noprint align-self-center btn btn-lg btn-light mx-1', onclick: 'window.print();' do %> 
                <i class="fa-solid fa-print"></i> <%= t(:print) %>
            <% end %>
            </div> 
        </div>
        <h1 class="text-center">
            แบบรายงานผลการดำเนินงานการจัดการความรู้ฯ  <%= @master_plans['data']['title'] %>
            #ชื่อเรือ่ง
        </h1> 

        <div class="my-4 text-center">รอบ <span class="badge badge-info fs-6"><%= @plan_report['data']['startdate']&.in_time_zone&.to_date rescue nil %></span> ถึง <span class="badge badge-info fs-6"><%= @plan_report['data']['enddate']&.in_time_zone&.to_date rescue nil %></span>
        </div>
    </div>





    <% @master_plans['data']['plans'].each do |plan| %>
    
    <div class="row">
        <div class="col"> 
            <!--
            <h2 class="my-5 text-center"><i class="fa-solid fa-circle-chevron-right"></i>
                <%#= plan['title'] %>
            </h2>
        -->

            


            
                <% plan['categories'].each do |category| %>
                    <div class="row">
                        <div class="col mb-5"> 
                            <div class=" text-center">
                                <h2 class="card-label"> <i class="fa-solid fa-file-lines fa-1x"></i>
                                    <%#= category['title'] %>
                                    <%= category['issue']['title'] %>
                                    #ชื่อหน่วยงาน เช่น สชง.
                                </h2>
                            </div>          
                        </div>
                    </div>
                    
                    <!--
                    <div class="row">
                        <div class="col ms-5"> 
                            <p><b><%= t(:plan_title)%> : </b> <%= plan['title'] %></p>
                            <p><b><%= t(:institution)%> : </b> <%= category['institution']['title'] rescue nil %></p>
                            <p><b><%= t(:responsible)%> : </b> <%= category['responsible']['title'] %></p>
                            <p><b><%= t(:issue)%> : </b> <%= category['issue']['title'] %></p>
                            <p><b><%= t(:cognitive)%> : </b> <%= category['cognitive'] %></p>
                            <p><b><%= t(:kpi)%> : </b> <%= category['kpi']['title'] %></p>
                            <p><b><%= t(:target_kpi)%> : </b> <%= category['target_kpi']['title'] %></p>
                            <p><b><%= t(:created_at)%> : </b> <%= category['created_at'] %></p>
                            <p><b><%= t(:updated_at)%> : </b> <%= category['updated_at'] %></p>
                        </div>
                    </div>
                -->

                    <div class="row">
                        <div class="col ms-5 mt-5"> 

                                <div class="table-responsive py-5">



                                    <table id="items" class="table table-bordered">
                                        <thead>
                                          <tr> 
                                            
                                            <% if controller_path.split('/')[2] == 'plan_reports' %>



                                            <th><b>ลำดับ</b></th>
                                            <th><b>กิจกรรมการจัดการความรู้</b></th>
                                            <th><b>ตัวชี้วัด/เป้าหมาย</b></th>
                                            <th><b>ผลการดำเนินงาน</b></th>
                                            <th><b>หมายเหตุ</b></th>
                                            <th style="width: 200px;"><b>หลักฐาน</b></th>




                                            <% else %>




                                            <th><b>ลำดับ</b></th>
                                            <th><b>กิจกรรมการจัดการความรู้</b></th>
                                            <th><b><%= t(:list_periods) %></b></th>
                                            <th><b>ตัวชี้วัด/เป้าหมาย</b></th>
                                            <th><b><%= t(:list_target_kpis) %></b></th>
                                            <th><b><%= t(:list_target_groups) %></b></th>
                                            <th><b><%= t(:list_responsibles) %></b></th>
                                            <th><b><%= t(:list_notes) %></b></th>




                                            <% end %>

                                          </tr>
                                        </thead>
                                        <tbody>
                                          <% 
                                          sub_item_size = 0

                                          

                                        #if controller_path.split('/')[2] == 'plan_reports'
                                        #    @lists = item['data']['master_plan']['plans'][idx]['categories'][idy]['lists']
                                        #else
                                            @lists = category['lists']
                                        #end
                                    %>



                                        <%


                                          if !@lists.blank?
                                            #sub_item_size = @datas['data']['lists'].size.to_i
                                          %>


                                          <% @lists.each_with_index do |sub_item,idx|  %>

                                          <tr id="items<%= idx %>" style="border-top: 2px solid #cccccc;">





                                            <% if controller_path.split('/')[2] == 'plan_reports' %>





                                            <td>
                                                <%= idx +1 %>      
                                            </td>



                                            <td>
                                              <input type="hidden" class="form-control" name="category[lists_attributes][<%= idx %>][activity_id]" value="<%= sub_item['activity_id'] %>">


                                              <p><b><%= sub_item['order_sort'] %> <%= sub_item['activity']['title'] %></b></p>

                                              <ul>
                                              <% sub_item['list_activities'].each do |list_activity| %> 
                                                  <li><%= list_activity['title'] %></li>
                                              <% end %>
                                              </ul>
                                            </td> 

                                            <td>
                                              <div style="margin-top: 33px;"></div>
                                              <ul>
                                                <% if !sub_item.blank? %>
                                                    <% sub_item['list_target_kpis'].each do |list_target_kpi| %>
                                                      <li><%= list_target_kpi['title'] %></li> 
                                                    <% end %>
                                                <% end %>
                                              </ul>
                                            </td>


                                            <td></td>
                                            <td></td>
                                            <td></td>



                                            







                                            <% else %>


                                            <td><%= idx +1 %></td>


                                            <td>
                                              <input type="hidden" class="form-control" name="category[lists_attributes][<%= idx %>][activity_id]" value="<%= sub_item['activity_id'] %>">


                                              <p><b><%= sub_item['order_sort'] %> <%= sub_item['activity']['title'] %></b></p>

                                              <ul>
                                              <% sub_item['list_activities'].each do |list_activity| %> 
                                                  <li><%= list_activity['title'] %></li>
                                              <% end %>
                                              </ul>
                                            </td> 

                                            <td>
                                              <div style="margin-top: 33px;"></div>
                                              <ul>
                                              <% sub_item['list_periods'].each do |list_period| %>
                                                <li>
                                                  <%= list_period['startdate']&.in_time_zone&.to_date %> ถึง <%= list_period['enddate']&.in_time_zone&.to_date %>
                                                  <%#= cal_date_count(list_period['startdate']&.in_time_zone&.to_date, list_period['enddate']&.in_time_zone&.to_date, 'day') %>
                                                </li>
                                              <% end %>
                                              </ul>
                                            </td>

                                            <td>
                                              <div style="margin-top: 33px;"></div>
                                              <ul>
                                                <% sub_item['list_kpis'].each do |list_kpi| %>
                                                  <li><%= list_kpi['title']%></li>
                                                <% end %>
                                              </ul>
                                            </td>

                                            <td>
                                              <div style="margin-top: 33px;"></div>
                                              <ul>
                                                <% sub_item['list_target_kpis'].each do |list_target_kpi| %>
                                                  <li><%= list_target_kpi['title']%></li> 
                                                <% end %>
                                              </ul>
                                            </td>

                                            <td>
                                              <div style="margin-top: 33px;"></div>
                                              <ul>
                                                <% sub_item['list_target_groups'].each do |list_target_group| %>
                                                <li><%= list_target_group['title']%></li>
                                                <% end %>
                                              </ul>
                                            </td>

                                            <td>
                                              <div style="margin-top: 33px;"></div>
                                              <ul>
                                                <% sub_item['list_responsibles'].each do |list_responsible| %>
                                                <li><%= list_responsible['title']%></li>
                                              <% end %>
                                              </ul>
                                            </td>

                                            <td>
                                              <div style="margin-top: 33px;"></div>
                                              <ul>
                                              <% sub_item['list_notes'].each do |list_note| %>
                                                <li><%= list_note['title']%></li>
                                              <% end %>
                                            </ul>
                                            </td>

                                            <td class="mt-10">
                                                <% if controller_path.split('/')[2] != 'plan_reports' %>
                                                <%= link_to :edit, "/#{gen_form[0]}/lists/#{sub_item['id']}/edit?original_url=#{request.path}", class: 'btn btn-warning btn-sm mb-1' %>
                                                <% end %>
                                            </td>

                                            <td class="mt-10">
                                                <%#= render partial: '/share/block_btn_action', locals:{ master_plan_id: @datas['data']['id'], model_name: 'lists', id: item['id'], params: nil} %>

                                                <%= render partial: '/share/block_btn_action_new', locals:{ master_plan_id: @datas['data']['id'], model_name: 'tasks', id: nil, params: "list_id=#{sub_item['id']}"} %>
                                            </td>




                                            <% end %>







                                          </tr>







                                            <%
                                            url = URI("#{$server[@controller_title]}/api/v1/lists/#{sub_item['id']}/tasks")
                                            @tasks = request_api(url,'get',nil) 
                                            if @tasks && !@tasks['data'].blank?
                                            @tasks['data'].each do |task| %>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <ul>
                                                        <% task['task_results'].each_with_index do |task_result| %>
                                                            <li><%= task_result['title'] %></li>
                                                        <% end %>
                                                    </ul>
                                                </td>

                                                <td>
                                                    <ul>
                                                        <% task['task_notes'].each_with_index do |task_result| %>
                                                            <li><%= task_result['title'] %></li>
                                                        <% end %>
                                                    </ul>
                                                </td>

                                                <td>
                                                    <ul>
                                                        <% task['task_attachments'].each_with_index do |task_attachment| %>
                                                            <li>
                                                                <% if !task_attachment['file_data'].blank? %>
                                                                <a href="<%= $server[@controller_title] %><%= task_attachment['file_url_original'] %>" target="_blank">
                                                                    <img src="<%= $server[@controller_title] %><%= task_attachment['file_url_thumbnail'] %>" class="img-thumbnail" style="width: 250px;" />
                                                                </a>
                                                                <% end %>
                                                                <%= task_attachment['description'] %>
                                                            </li>
                                                        <% end %>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <% end %>
                                            <% end %>












                                          <% end %>
                                          <% end %>


                                        </tbody>
                                      </table>


                          </div>
                        </div>
                    </div>
                  
                <hr style="border-bottom: 1px dotted #999999;">
                <p style="page-break-after: always;">&nbsp;</p>
                <% end # end categories %>
            

        </div>
    </div>
    <hr style="border-bottom: 3px solid #999999;;">
    <% end # end plan %>



</div>



