<div class="container-fluid">

    <div class="d-flex justify-content-between"> 
        <div class="w-75 d-flex">
            <h1><%= t(:plan_reports) %> : <span class="text-primary"><%= @datas['data']['period_year']&.to_date&.year + 543 rescue nil %></span></h1>
        </div>

        <div class="d-flex justify-content-between mx-2">

            <%= link_to "/#{@controller_title}/pages/dashboards/", class: 'align-self-center btn btn-lg btn-light mx-1' do %> 
                <i class="fa-solid fa-angle-left mx-2"></i> <%= t(:back) %>
            <% end %>

            
            <%= link_to "/#{@controller_title}/plan_reports/print?id=#{@data_plan_report['data']['id']}", class: 'align-self-center btn btn-lg btn-light mx-1', target: '_blank' do %> 
                <i class="fa-solid fa-eye"></i> <%= t(:view) %>
            <% end %>

         </div>


    </div>


    <div class="my-4">วันที่ : <span class="badge badge-info fs-6"><%= @data_plan_report['data']['startdate']&.in_time_zone&.to_date if !@data_plan_report['data']['startdate'].blank? %></span> ถึง <span class="badge badge-info fs-6"><%= @data_plan_report['data']['enddate']&.in_time_zone&.to_date if !@data_plan_report['data']['enddate'].blank? %></span>
    </div>







    <div class="row">



        





        <div class="col-sm-12">








            <!-- #1 -->
            <div class="card-show">



                <%= render "/#{@controller_title}/master_plans/list_plans" %>



        </div>
        <!-- end #1 -->








    </div>










</div>





    


    <%= render partial: '/share/block_comments', locals:{ model_name: 'plan_report', id: @datas['data']['id']} %>


    <%= render partial: '/share/block_comments_history', locals:{ model_name: 'plan_report', id: @datas['data']['id']} %>


    







</div>
<!--end::Kt_content-->