<%
#init
@plan_id = params[:plan_id] if !params[:plan_id].blank?
%>


<%= form_for('category', url: "/#{gen_form[0]}/categories#{gen_form[1]}" , method: gen_form[2]) do |f| %>
<div class="row">   

      <%= f.hidden_field :plan_id, value: @plan_id %>

      <div class="col-12 mt-5 ms-5 mb-5">
            <label for="" class="form-label"> <h5> <%= t(:order_sort) %> <span class="text-danger"></span> </h5></label>
            <%= f.number_field :order_sort, min: 1, class: "form-control w-50", placeholder: t(:order_sort), value: (@datas['data']['order_sort'] rescue nil) %>
      </div>

      <div class="col-12 mt-5 ms-5 mb-5">
            <label class="form-label"><h5> ชื่อ <span class="text-danger">*</span> </h5></label>
            <%= f.text_field :title, class: "form-control", placeholder: t(:title), value: (@datas['data']['title'] rescue nil), required: true %>
       </div>

       <div class="col-12 mt-5 ms-5 mb-5">
       <label class="form-label"><h5>รายละเอียด<span </span> </h5></label>
       <textarea class="form-control" name="category[slug]" rows="10" cols="80"><%= @datas['data']['slug'] rescue nil %></textarea>
       </div>
     <!--  
       <div class="col-12 mt-5 ms-5 mb-5">
            <label class="form-label"><h5>เกณฑ์คะแนน <span class="text-danger"></span> </h5></label>
            <%= f.number_field :fl_total_score, class: "form-control", value: (@datas['data']['fl_total_score'] rescue nil) %>  
       </div>
     -->
<!--=========TABLE==============-->


<% if !@datas.nil? && !@datas['data'].nil? && @datas['data']['plan']['type_name'] == 'seven' %>
  <div class="col-12 mt-5 ms-5 mb-5">
<div class="table-responsive py-5">

                              <% if action_name == 'edit' || action_name == 'update' %>



                                    <%#= render partial: '/share/block_btn_action_all', locals:{ type_name: 'add-only' ,master_plan_id: @datas['data']['plan']['master_plan_id'], model_name: 'lists', model_title: 'ตัวชี้วัด', id: nil, params: "category_id=#{@datas['data']['id']}&original_url=#{request.path}"} %>   
                              <% end %>
                         <table id="list_items" class="table table-bordered">
                                <thead>
                                        <tr class="fw-bolder text-muted">
                                               <!-- <th class="min-w-50px text-center" rowspan="2"><h6>ลำดับ<h6></th> -->
                                               <!--  <th class="min-w-350px text-center" rowspan="2"><h6>ตัวชี้วัด<h6></th> -->
                                                <th class="min-w-120px text-center" rowspan="2"><h6>ค่าเป้าหมาย พ.ศ. </h6><center>
                                                <%= select_year(Date.today, {:start_year => Date.today.year + 543 , :end_year => 2564, prefix: 'select', include_blank: false} ,{ :name => 'category[fl_kpi_year]', selected: @datas['data']['fl_kpi_year'] ,class: "chosen-select  input-md form-control form-control form-control", style: "width:120px;"}) %>
                                                </center></th>
                                                <th class="min-w-450px text-center" colspan="3"><h6>ผลการดำเนินงาน<h6></th>
                                              
                                        </tr>
                                        <tr class="fw-bolder text-muted">

                                        <th class="text-center"><h6>พ.ศ.</h6><center>
                                        <%= select_year(Date.today, {:start_year => Date.today.year + 543 , :end_year => 2564, prefix: 'select', include_blank: false} ,{:name => 'category[fl_third_year]', field_name: @datas['data']['fl_third_year'], selected: @datas['data']['fl_third_year']  , class: "chosen-select  input-md form-control form-control form-control", style: "width:120px;"}) %>
                                       </center></th>

                                                <th class="text-center"><h6>พ.ศ.</h6><center>
                                                
                                                <%= select_year(Date.today, {:start_year => Date.today.year + 543 , :end_year => 2564, prefix: 'select', include_blank: false} ,{:name => 'category[fl_second_year]', field_name: @datas['data']['fl_second_year'], selected: @datas['data']['fl_second_year'] , class: "chosen-select  input-md form-control form-control form-control", style: "width:120px;"}) %>
                                                </center></th>
                                                <th class="text-center"><h6>พ.ศ.</h6><center>
                                               
                                                 <%= select_year(Date.today, {:start_year => Date.today.year + 543 , :end_year => 2564, prefix: 'select', include_blank: false} ,{:name => 'category[fl_first_year]', field_name: @datas['data']['fl_first_year'], selected: @datas['data']['fl_first_year'] , class: "chosen-select  input-md form-control form-control form-control", style: "width:120px;"}) %>
                                                </center></th>
                                            
                                        </tr>
                                </thead>
                                <tbody>
                          
                                <% 
                                list_sub_item_size = 0
                          
                              
                           

                                    if @datas && @datas['data'] && @datas['data']['lists']
                                        list_sub_item_size = @datas['data']['lists'].size.to_i
                                       # p "list_sub_item_size = #{list_sub_item_size}"
                                    %>

                              
                                    <% @datas['data']['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |sub_item,idx|  %>
                                     
                                        <tr id="lists_items<%= idx %>">
                                   
                                            <td>
                                                <div class="d-flex">
                                                    <input type="text" class="w-50px form-control mx-2" placeholder="<%= t(:order_sort) %>" name="category[lists_attributes][<%= idx %>][order_sort]" value="<%= sub_item['order_sort'] rescue nil %>">
                                                    
                                                </div>
                                            </td> 
                                            <td>
                                            <input type="text" class="w-50px form-control mx-2" name="category[lists_attributes][<%= idx %>][order_sort]" value="<%= sub_item['order_sort'] rescue nil %>">
                                            <input type="text" class="w-350px form-control mx-2" name="category[lists_attributes][<%= idx %>][title]" value="<%= sub_item['title'] rescue nil %>">
                                            <td>

                                            <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#lists_items<%= idx %>').hide();$('#lists_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>
                                                                          
                                            <input type="hidden" class="form-control" placeholder="id" name="category[lists_attributes][<%= idx %>][id]" value="<%= sub_item['id'] %>">
                                                                          
                                            <input type="hidden" class="check_destroy" placeholder="" name="category[lists_attributes][<%= idx %>][_destroy]" value=false>


                                                                          
                                      </tr>
                                    <% end %>
                                <% end %>  


                                        
                                </tbody>
                        </table>


                    
                </div>   

      
                </div>   

<% end %>
<!--==========END TABLE=========-->
      <div class="col-12 mt-5 ms-5 mb-5">
            <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
                  <% if !params[:plan_id].blank? %>
                      <%= f.hidden_field :plan_id, value: params[:plan_id] %>  
                    <% end %> 
                  <%= f.submit t(:saves), class: "btn btn-info" %>        
            </div>
      </div> 
</div>

<% end %> 