<div class="container-fluid">
<!--begin::Header-->

   <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
      <div class="d-flex flex-column">
            <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:report) %><%= t(:plan_knowledge) %></h2>
      </div>

         <!--begin::btn-->

         <div class="d-flex mb-4">
            <div class="card-toolbar">
                     <ul class="nav">
                        <!--
                        <li class="nav-item">
                          <a href="/<%= @controller_title %>/master_plans/new_by_template" class="btn btn-success -sm"><i class="fa-solid fa-circle-plus fa-4x"></i> สร้างแผนการจัดการ</button></a>
                        </li>
                        -->


                        <% if @role_title == 'superadmin_role' %>
                        <li class="nav-item">
                           <a href="/<%= @controller_title %>/plan_reports/new" class="btn btn-warning -sm"><i class="fa-solid fa-circle-plus fa-4x"></i>สร้างรายงานผลดำเนินการ</button></a>
                        </li>
                        <% end %>



                     </ul>
            </div>
         </div>

         <!--end::btn-->
   </div>
   <!--end:Header-->


   <div class="row g-6 g-xl-9">
      <!--begin::Box 4-->
      <div class="col-lg-12">

         <div class="card card-custom gutter-b">
               <div class="card-master">
                        <div class="row mt-5">
                        <div class="col-8">
                        <div class="d-flex flex-stack">
                        <div class="symbol symbol-40px me-4">
                           <div class="symbol-label fs-2 fw-bold bg-warning text-inverse-danger">&nbsp;<i class="fa-solid fa-calendar-week fa-sm" style="color:white"></i></div>
                        </div>
                        <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                           <div class="flex-grow-1 me-2">
                              <h3 class="fs-2"><%= t(:plan_reports) %></h3>
                              <span class="badge badge-warning fs-base"><%= t(:latest) %></span>
                           </div>
                        </div>
                     </div>
                        </div>
                        <div class="col-sm-4">
                        <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">



                        </div>
                        </div>
                     </div>
               </div>
            <div class="card-content row">
            <% if @plan_report_years && !@plan_report_years['data'].blank? %>
            <% @plan_report_years['data'].each do |item| %>
                <% if !item.blank? %>
              
                <%= render partial: '/share/card_group_item_center', locals:{ model_name: 'plan_report', item: item, col_size: 'col-12 col-md-5 mx-3' } %>

                <% end %>
             <% end %>
             <% end %>

            </div>
         </div>

      </div>
      <!--end::Box 4-->

   </div>
</div>
