<div class="container-fluid">
<!--begin::Header-->

   <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
      <div class="d-flex flex-column">
         <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:summary) %><%= t(:plan_knowledge) %></h2>
      </div>
   </div>
   <!--end:Header-->
   <%= render '/share/graph_group_by_tasks_km' %>
   <%#= render '/share/graph_group_by_tasks_km' if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>
</div>
