<div class="container-fluid">

    <div class="d-flex justify-content-between">
        <div class="w-75 d-flex">
            <h1><%= t(:basic_data_management) %></h1>
        </div>
    </div>





    <div class="row card-show d-flex justify-content-between">

      <%= link_to "/#{@controller_title}/institutions", class: 'col-sm-6 col-md-3 col-lg-2 btn-lg btn btn-light-primary m-3' do %>
         <div class="d-flex align-items-center">
            <i class="fas fa-database text-success p-2 fs-2"></i>
            <h3 class=""><%= t(:institution) %></h3>
         </div>
      <% end %>

      <%= link_to "/#{@controller_title}/responsibles", class: 'col-sm-6 col-md-3 col-lg-2 btn-lg btn btn-light-primary m-3' do %>
         <div class="d-flex align-items-center">
            <i class="fas fa-database text-success p-2 fs-2"></i>
            <h3 class=""><%= t(:responsible) %></h3>
         </div>
      <% end %>

      <%= link_to "/#{@controller_title}/issues", class: 'col-sm-6 col-md-3 col-lg-2 btn-lg btn btn-light-primary m-3' do %>
         <div class="d-flex align-items-center">
            <i class="fas fa-database text-success p-2 fs-2"></i>
            <h3 class=""><%= t(:issue) %>์</h3>
         </div>
      <% end %>



      <%= link_to "/#{@controller_title}/activities", class: 'col-sm-6 col-md-3 col-lg-2 btn-lg btn btn-light-primary m-3' do %>
         <div class="d-flex align-items-center">
            <i class="fas fa-database text-success p-2 fs-2"></i>
            <h3 class=""><%= t(:activity) %></h3>
         </div>
      <% end %>



 </div>






</div>
