<td>
	<div class="px-2">
		<small>
			<%#= notification.target.doc_number %>
			<span class="" style="font-weight: bold;">
				<%= notification.target.machine_category.title_th %>
			</span>
			<br>
			<% if notification.target.machine_list_id %>
			<%= MachineList.find(notification.target.machine_list_id).title_th %>
			<% end %>
		</small>
		<br>
		<small class="text-muted">
			สถานที่ : 
			<% if notification.target.room_id %>
			<%= Room.find(notification.target.room_id).name %>  
			<% end %> 
			ชั้น <%= notification.target.floor.title_th %> 
			<%= notification.target.building.title_th %>
		</small>

	</div>
</td>
  <!--
  <td class="wd-xs"">
    <div class="px-2">
     <p class="m-0 text-muted">
      <%#= get_priority(order.priority_id) %>
    </p>
  </div>
</td>
-->