<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
back_url = "/#{@controller_main_url}/plans/#{@risk_analysis_report['data']['plan_report']['category']['plan_id']}" rescue nil

$task_plan_report_user_status = nil

#@risk_analysis_report['data']['task_plan_reports'].each do |task_plan_report|
#task_plan_report['evaluate_control_reports'].each do |evaluate_control_report|
#    evaluate_control_report['evaluate_control_report_users'].each do |evaluate_control_report_user|
#    if evaluate_control_report_user['user_role']['slug'] == 'approver'  && evaluate_control_report_user['status'] == 'approved' 
#       $task_plan_report_user_status = evaluate_control_report_user['status']
@risk_analysis_report['data']['task_plan_reports'].each do |task_plan_report|
  task_plan_report['task_plan_report_users'].each do |task_plan_report_user|

    if task_plan_report_user['user_role']['slug'] == 'approver'  && task_plan_report_user['status'] == 'approved' 
       $task_plan_report_user_status = task_plan_report_user['status']


       $input_readonly = 'readonly'

    end
 end 

end

%>


<div class="container-fluid">


    <div class="text-end">
        <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
                    <% end %>

        <!-- add export -->
        <%= render '/share/block_btn_export', item: @plan_report, title: 'plan_report' %>
        <!-- end add export -->
    </div>



    <%= form_for('risk_analysis_report', url: "/#{gen_form[0]}/risk_analysis_reports#{gen_form[1]}" , method: gen_form[2]) do |f| %>


    <!-- add export -->
    <div id="export_content" class="">
    <div class="landscape_A4_page">
    <!-- end add export -->  


    <div class="text-muted text-end mt-15">แบบฟอร์ม RLPD RM-1 (1)</div>
    <h1 class="text-center"> การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน</h1>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">หน่วยงาน : <%= @risk_analysis_report['data']['plan_report']['category']['institution']['title'] rescue nil %></h2>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">ประเด็นยุทธศาสตร์ : <%= @risk_analysis_report['data']['plan_report']['category']['strategic_issue']['title'] rescue nil %></h2>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : <%= @risk_analysis_report['data']['plan_report']['category']['title'] rescue nil %></h2>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน :</h2>

    <ul style="list-style-type: none">
      <% @risk_analysis_report['data']['plan_report']['category']['category_objectives'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category_objective, idx| %>
          <li><%=  category_objective['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %> </li>
      <% end %>
    </ul>

    <div class="table-responsive py-5">
      <table id="items" class="table table-bordered" style="text-left">
        <thead style="width:auto;text-align:center; background-color: #d9dbff;">
          <tr valign="middle">
            <th>กิจกรรม</th>
            <th>รหัสปัจจัยเสี่ยง</th>
            <th>ระบุปัจจัยเสี่ยง</th>
            <th>โอกาส</th>
            <th>คำอธิบาย</th>
            <th>ผลกระทบที่ได้รับ</th>
            <th>คำอธิบาย</th>
            <th></th>
          </tr>
        </thead>

        <% if @risk_analysis_report && !@risk_analysis_report['data']['plan_report'].blank? %>
        <% @risk_analysis_report['data']['risk_analyses'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |risk_analysis,idx| %>
          <input type="hidden" name="risk_analysis[<%= idx %>][id]" class="form-control" value="<%= risk_analysis['id'] rescue nil %>">
          <input type="hidden" name="risk_analysis[<%= idx %>][category_id]" class="form-control" value="<%= risk_analysis['category_id'] rescue nil %>">
          <input type="hidden" name="risk_analysis[<%= idx %>][list_id]" class="form-control" value="<%= risk_analysis['list']['id'] rescue nil %>">
          <input type="hidden" name="risk_analysis[<%= idx %>][task_id]" class="form-control" value="<%= risk_analysis['task']['id'] rescue nil %>">
          <tr valign="top">
          <td>
          <% risk_analysis['list']['list_activities'].each do |list_activity|  %>
            <%= list_activity['title'] rescue nil  %>
            <% end %>

          </td>

            <td>
       
            <%= risk_analysis['list_risk_factor']['list_code'] rescue nil  %>
         
            </td>
            
            <td>
            <%= risk_analysis['list_risk_factor']['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil  %>
            </td>

            <td>
            <center><%= risk_analysis['list_risk_factor']['risk_chance'] rescue nil %><center>
            </td>

            <td>
                <input type="hidden" name="risk_analysis[<%= idx %>][risk_analysis_chances_attributes][0][id]" class="form-control" value="<%= risk_analysis['risk_analysis_chances'][0]['id'] rescue nil %>">
                <textarea class="form-control"  <% if $task_plan_report_user_status == 'approved' %> <%= $input_readonly %> <% end %>  name="risk_analysis[<%= idx %>][risk_analysis_chances_attributes][0][title]" rows="10" cols="50"><%= risk_analysis['risk_analysis_chances'][0]['title'] rescue nil %></textarea>
            </td>

            <td>
            <center><%= risk_analysis['list_risk_factor']['risk_effect'] rescue nil %><center>
            </td>
            
            <td>
                <input type="hidden" name="risk_analysis[<%= idx %>][risk_analysis_effects_attributes][0][id]" class="form-control" value="<%= risk_analysis['risk_analysis_effects'][0]['id'] rescue nil %>">
                <textarea class="form-control" <% if $task_plan_report_user_status == 'approved' %> <%= $input_readonly %> <% end %> name="risk_analysis[<%= idx %>][risk_analysis_effects_attributes][0][title]" rows="10" cols="50"><%= risk_analysis['risk_analysis_effects'][0]['title'] rescue nil %></textarea>
            </td>

            <td align="center">
              <%#= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @risk_analysis_report['data']['plan_report']['plan_report']['category']['plan']['master_plan_id'], model_name: 'risk_analysises', model_title: nil, id: risk_analysis['id'], params: "original_url=#{request.path}"} %>
             
            </td>
          </tr>
          <% end %>
          <% end %>

      </table>


        <div class="text-gray-800 mt-5"><b>โอกาส : </b> คะแนน 1 คือ น้อยมาก , คะแนน 2 คือ น้อย, คะแนน 3 คือ ปานกลาง, คะแนน 4 คือ สูง, คะแนน 5 คือ สูงมาก</div>
        <div class="text-gray-800 "><b>ผลกระทบ :  </b> คะแนน 1 คือ น้อยมาก, คะแนน 2 คือ น้อย, คะแนน 3 คือ ปานกลาง, คะแนน 4 คือ สูง, คะแนน 5 คือ สูงมาก</div>


    </div>



    <% if $task_plan_report_user_status != 'approved' %> 
    <%= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
    <% end %>


    



    <!-- add export -->
    </div>
    </div>
    <!-- end add export -->   






<% end %>  


</div>