<%#= form_for(@user, html: { class: "form-horizontal", role: "form" }) do |f| %>
<%= form_for @user, :url => { :action => @urlname } , :html => { class: "form-horizontal", role: "form" } do |f| %>
<%= render '/share/error', class_name: @user %>


<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <%= f.label 'อีเมล์' , class: "" %>
      <div class="">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label 'รหัสผ่าน' , class: "" %> 

      <i>(อย่างน้อย 6 คำ)</i>
      <% if (controller_name == 'users' && action_name == 'edit') || (controller_name == 'users' && action_name == 'update') %>
      <i>(ถ้าไม่ได้เปลี่ยนรหัสผ่าน ไม่ต้องกรอกรหัสใหม่)</i>
      <% end %>


      <div class="">
        <%= f.password_field :password, autocomplete: "off" , class: 'form-control' %>
        <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> ตัวอักษรเป็นอย่างน้อย</em>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label 'ยืนยันรหัสผ่าน' , class: "" %>
      <div class="">
        <%= f.password_field :password_confirmation, autocomplete: "off" , class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label t(:prefix), class: "" %>
      <div class="">
        <%= f.select(:prefix, options_for_select([['นาย', 1], ['นางสาว', 2], ['นาง', 3]], selected: @user.prefix), {} , prompt: 1 , class: "form-control"  ) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label t(:firstname), class: "" %>
      <div class="">
        <%= f.text_field :firstname, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label t(:lastname), class: "" %>
      <div class="">
        <%= f.text_field :lastname, class: "form-control" %>
      </div>
    </div>


    <% if current_user.superadmin_role? || current_user.administrator_role? %>

    <div class="form-group">
      <%= f.label t(:role), class: "" %>
      <div class="col-lg-6">
        <% if current_user.superadmin_role? %>
        <p>
          <%= f.hidden_field :superadmin_role,value: false  %>
          <%= f.check_box :superadmin_role, {}, true, false %> <%= t(:superadmin_role) %>
        </p>
        <% end %>
        <% if current_user.superadmin_role? || current_user.administrator_role? %>
        <p>
          <%= f.hidden_field :administrator_role,value: false  %>
          <%= f.check_box :administrator_role, {}, true, false %> <%= t(:administrator_role) %>    
        </p>
        <% end %>
      </div>
      <div class="col-lg-6">
        <% if current_user.superadmin_role? || current_user.administrator_role? %>
        <p>
          <%= f.hidden_field :supervisor_role,value: false  %>
          <%= f.check_box :supervisor_role, {}, true, false %> <%= t(:supervisor_role) %>    
        </p>
        <% end %>
      </div>
    </div>
    <% end %>




    <div class="form-group position-relative" style="overflow: hidden;">
      <%= f.label t(:avatar_data), class: "" %>
      <div class="">

        <%= f.hidden_field :avatar, value: @user.cached_avatar_data, id: "post-image-photo-upload-result" %>
        <%= f.file_field :avatar, accept: ImageUploader::ALLOWED_TYPES.join(","), data: { upload_server: upload_server, preview_element: "preview-image-photo", upload_result_element: "post-image-photo-upload-result" } %>

        <div class="image-preview">
          <%= image_tag @user.avatar_url(:thumbnail).to_s, width: 150, class: "img-thumbnail file-upload-preview", id: "preview-image-photo" %>
        </div>

      </div>
    </div>

  </div>

  <div class="col-lg-6">


    <div class="form-group">
      <%= f.label :nation , t(:nation), class: "" %>
      <div class="">
        <%= f.text_field :nation, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :race , t(:race), class: "" %>
      <div class="">
        <%= f.text_field :race, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :origin , t(:origin), class: "" %>
      <div class="">
        <%= f.text_field :origin, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :phone , t(:phone), class: "" %>
      <div class="">
        <%= f.text_field :phone, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :address , t(:address), class: "" %>
      <div class="">
        <%= f.text_area :address, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :district, t(:district), class: "" %>
      <div class="">
        <%= f.text_field :district, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :amphoe, t(:amphoe), class: "" %>
      <div class="">
        <%= f.text_field :amphoe, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :province,  t(:province), class: "" %>
      <div class="">
        <%= f.text_field :province, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :zipcode , t(:zipcode), class: "" %>
      <div class="">
        <%= f.text_field :zipcode, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="w-100 border-top mt-4 pt-4 text-center">
    <%= f.submit class: "btn btn-lg btn-primary" %>
    <%= button_tag t(:reset), type: 'reset', class: "btn btn-lg btn-default" %>
  </div>
  <% end %>
