<div class="card card-custom">
	<div class="card-header">
		<div class="card-title">
		   <h3 class="card-label">
		    	<%= t :edit %> <%= t :user %>
		   </h3>
		  </div>
        <div class="card-toolbar">
        	<% if current_user.superadmin_role? %>
            <%= link_to users_path, class: 'btn btn-light bg-white mb-2' do %>
				<i class="ki ki-bold-arrow-back icon-sm"></i> <%= t(:back) %>
			<% end %>
			<% end %>
        </div>
	</div>
	<div class="card-body">
		<%= render 'form' %>
	</div>
</div>
