<h1><%= t(:users) %></h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t(:id) %></th>
      <th><%= t(:firstname) %></th>
      <th><%= t(:lastname) %></th>
      <th><%= t(:email) %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %> 
    <tr>
      <td><%= user.id %></td>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= user.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<p>Updated : <%= Time.now.strftime('%Y%m%d-%H%M') %></p>