<div class="card card-custom gutter-b">
  <div class="card-header flex-wrap border-0 pt-6 pb-0">
    <div class="card-title">
      <h3 class="card-label">
        <%= t(:users) %>
        <span class="d-block text-muted pt-2 font-size-sm"></span>
      </h3>
    </div>
    <div class="card-toolbar">

      <a href="<%= new_user_path %>" class="btn btn-primary font-weight-bolder">
        <span class="svg-icon svg-icon-md">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <rect fill="#000000" x="4" y="11" width="16" height="2" rx="1"/>
              <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) " x="4" y="11" width="16" height="2" rx="1"/>
            </g>
          </svg>
        </span> <%= t(:new) %>
      </a>

    </div>
  </div>

  <div class="card-body">

    <div class="table-responsive">
      <table id="datatable1" class="table table-head-custom table-vertical-center table-head-bg">
        <thead>
          <tr>
            <th><%= t :image %></th>
            <th><%= t :firstname %></th>
            <th><%= t :lastname %></th>
            <th><%= t :email %></th>
            <th><%= t :commander2 %></th>
            <th><%= t :subordinate2 %></th>
            <th><%= t :role %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td>
              <div class="symbol symbol-50 symbol-light mr-2 mt-2">
                <span class="symbol-label">
                  <% if user.avatar_data %>
                  <%= image_tag(user.avatar_url(:avatar), class: "w-100 align-self-end", title: user&.firstname) %>
                  <% else %>
                  <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-07-29-055858/theme/html/demo3/dist/../src/media/svg/icons/General/User.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon points="0 0 24 0 24 24 0 24"/>
        <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
        <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
    </g>
</svg><!--end::Svg Icon--></span>
                  <% end %> 
                </span>
              </div>
            </td>
            <td>
              <%#= editable user, :firstname %>  
              <%= user.firstname %>  
            </td>
            <td><%= user.lastname %></td>
            <td><%= user.email %></td>
            <td>
              <% if user.parent.present? %>
                <span class="label label-lg label-light-primary label-inline font-weight-bold py-2 mb-1"><%= user.parent.firstname %> <%= user.parent.lastname %></span>
              <% end %>  
            </td>
            <td>
                <% user.children.each do |child| %>
                  <% if child.firstname.blank? || child.lastname.blank? %>
                    <span class="label label-lg label-light-info label-inline font-weight-bold py-2 mb-1"><%= child.email %>
                    </span>
                  <% else %>
                    <span class="label label-lg label-light-info label-inline font-weight-bold py-2 mb-1"><%= child.firstname %> <%= child.lastname %>
                    </span>
                  <% end %>
                  <br>
                <% end %> 
            </td>
            <td>
              <%= "<span class='label label-lg label-light-primary label-inline font-weight-bold py-4'>#{t(:superadmin_role)}</span>".html_safe if user.superadmin_role %>
              <%= "<span class='label label-lg label-light-warning label-inline font-weight-bold py-4'>#{t(:administrator_role)}</span>".html_safe if user.administrator_role %>
              <%= "<span class='label label-lg label-light-secondary label-inline font-weight-bold py-4'>#{t(:supervisor_role)}</span>".html_safe if user.supervisor_role %>
              <%= "<span class='label label-lg label-light-success label-inline font-weight-bold py-4'>#{t(:user_role)}</span>".html_safe if user.user_role %>
              
            </td>
            <td width="140">

              <% if can? :manage, User %>

              <%= link_to edit_user_path(user) , class: "btn btn-sm btn-clean btn-icon mr-2" do %>
              <span class="svg-icon svg-icon-md">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24"/>
                <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero"\ transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "/>
                <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"/>
                </g>
                </svg>
                </span>
              <% end %>


              <%= link_to user, method: :delete, data: { confirm: 'ต้องการลบใช่หรือไม่?' } , class: "btn btn-sm btn-clean btn-icon" do %>
              <span class="svg-icon svg-icon-md">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">\
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24"/>
                <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"/>
                <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"/>
                </g>
                </svg>
                </span>
              <% end %>
              
              <% end %>

            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>


  </div>
</div>

