<div class="pull-right">
  <%= link_to users_path, class: 'btn btn-default' do %>
    <span class="typcn icon-default typcn-arrow-left-outline"></span>
    <%= t :back %>
  <% end %>
  <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
    <span class="icon-pencil"></span>
    <%= t :edit %>
  <% end %>
</div>
<div class="content-heading"><%= t :show %><%= t :user %></div>

<dl class="dl-horizontal">
  
  <dt><%= t :image_data %>:</dt>
  <dd><%= image_tag @user.avatar_url(:thumbnail).to_s, width: 150, class: "img-thumbnail file-upload-preview", id: "preview-image-photo" %></dd>

  <hr class="m-sm">
  <dt><%= t :email %>:</dt>
  <dd><%= @user.email %></dd>

  <hr class="m-sm">
  <dt><%= t :name %>:</dt>
  <dd><%= @user.firstname %> <%= @user.lastname %></dd>

</dl>
