<!--begin::Kt_content-->
<div class="content flex-row-fluid" id="kt_content">
            <!--begin::Row-->
            <div class="row">

                <!--begin::Col_md_12-->
                <div class="col-md-12">
                      <!--begin::Card Card Custom-->
                      <div class="card card-custom gutter-b example example-compact">
                            <!--begin::Card Header-->
                            <div class="card-header">
                                  <h3 class="card-title"><%= t(:edit) %><%= t(:user) %> </h3>
                                      <!--begin::Card Toolbar-->
                                      <div class="card-toolbar">
                                            <!--begin::Excample Tools-->
                                            <div class="example-tools justify-content-center">
                                                  <span class="example-toggle" data-toggle="tooltip" title="" data-original-title="View code"></span>
                                                  <span class="example-copy" data-toggle="tooltip" title="" data-original-title="Copy code"></span>
                                            </div>
                                            <!--end::Excample Tools-->
                                            <%= link_to "/#{@controller_title}/users", class: 'btn btn-light bg-white mb-2' do %>
                                                <i class="ki ki-bold-arrow-back icon-sm"></i> <%= t(:back) %>
                                          <% end %>
                                      </div>


                                      <!--end::Card Toolbar-->
                            </div>
                            <!--end::Card Header-->
                            <!--begin::Form_for-->
                            <%= form_for('user', url: "/#{@controller_title}/users/#{@datas['data']['id']}" , method: :patch) do |f| %>
                                    <!--begin::Card Body-->
                                    <div class="card-body">
                                          <!--begin::Form Group-->
                                          <div class="form-group">
                                                  <label><%= t(:firstname) %> 
                                                          <span class="text-danger">*</span>
                                                  </label>

                                                  <%= f.text_field :firstname, class: "form-control", placeholder: t(:firstname), value: @datas['data']['firstname'] %>
                                                  <span class="form-text text-muted"></span>

                                                  <label><%= t(:lastname) %> 
                                                          <span class="text-danger">*</span>
                                                  </label>

                                                  <%= f.text_field :lastname, class: "form-control", placeholder: t(:lastname), value: @datas['data']['lastname'] %>
                                                  <span class="form-text text-muted"></span>

                                                  <label><%= t(:description) %> 
                                                          <span class="text-danger">*</span>
                                                  </label>

                                                  <%= f.text_field :description, class: "form-control", placeholder: t(:description), value: @datas['data']['description'] %>
                                                  <span class="form-text text-muted"></span>

                                                  <%= select_tag("user[department_id]", options_for_select(@department_datas['data'].map { |item| [item['title'], item['id']] }), {class: 'form-control', required: "required"}) %>

                                          </div>
                                          <!--end::Form Group-->

                                    </div>
                                    <!--end::Card Body-->

                                    <!--begin::Card Foolter-->
                                    <div class="card-footer">
                                          <%= f.submit class: "btn btn-lg btn-primary" %>
                                    </div>
                                    <!--end::Card Foolter-->
                            <% end %>
                            <!--end::Form_for-->
                      </div>
                      <!--end::Card Card Custom-->

                </div>
                <!--end::Col_md_12-->

            </div>
            <!--end::Row-->
</div>
<!--end::Kt_content-->