<!--begin::Kt_content-->
<div class="content flex-row-fluid" id="kt_content">
  <!--begin::Row-->
  <div class="row">

    <!--begin::Col_md_12-->
    <div class="col-md-12">
      <!--begin::Card_card_custom-->
      <div class="card card-custom gutter-b example example-compact">
        <!--begin::Card_header-->
        <div class="card-header">
          <h3 class="card-title"><%= t(:create) %> <%= t(:users) %></h3>
          <!--begin::Card_toolbar-->
          <div class="card-toolbar">
            <!--begin::Excample_tools-->
            <div class="example-tools justify-content-center">
              <span class="example-toggle" data-toggle="tooltip" title="" data-original-title="View code"></span>
              <span class="example-copy" data-toggle="tooltip" title="" data-original-title="Copy code"></span>
            </div>
            <!--end::Excample_tools-->

            <%= link_to "/#{@controller_title}/users", class: 'btn btn-light bg-white mb-2' do %>
            <i class="ki ki-bold-arrow-back icon-sm"></i> <%= t(:back) %>
            <% end %>
          </div>
          <!--end::Card_toolbar-->
        </div>
        <!--end::Card_header-->

        <!--begin::Form_for-->
        <%= form_for('user', url: "/#{@controller_title}/users" , method: :post) do |f| %>
        <!--begin::Card_body-->
        <div class="card-body">
          <!--begin::Form_group-->

          <div class="row">

          <div class="col-12 col-sm-6 my-4">
            <label><%= t(:firstname) %>
              <span class="text-danger">*</span>
            </label>
            <%= f.text_field :firstname, class: "form-control", placeholder: t(:firstname) %>
            <span class="form-text text-muted"></span>
          </div>

          <div class="col-12 col-sm-6 my-4">
            <label><%= t(:lastname) %>
              <span class="text-danger">*</span>
            </label>
            <%= f.text_field :lastname, class: "form-control", placeholder: t(:lastname) %>
            <span class="form-text text-muted"></span>
          </div>

          <div class="col-12 col-sm-6 my-4">
            <label><%= t(:email) %>
              <span class="text-danger">*</span>
            </label>

            <%= f.email_field :email, class: "form-control", placeholder: t(:email) %>
            <span class="form-text text-muted"></span>
          </div>

          <!--
          <div class="col-12 col-sm-6 my-4">
            <label><%= t(:department) %>
              <span class="text-danger">*</span>
            </label>
            <%= select_tag("user[department_id]", options_for_select(@department_datas['data'].map { |item| [item['title'], item['id']] }), {class: 'form-control', required: "required"}) %>
          </div>
        -->

          <div class="col-12 col-sm-6 my-4">
            <label for="" class="form-label"><%= t(:agency) %></label>
            <%= select_tag("user[institution_id]", options_for_select(@institution_datas['data'].map { |item| [item['title'], item['id']] }), {class: 'form-control', required: "required"}) %>
          </div>




          </div>
          <!--end::Form_group-->
        </div>
        <!--end::Card_body-->

        <!--begin::Card_footer-->
        <div class="card-footer">
          <%= f.submit class: "btn btn-lg btn-primary" %>
        </div>
        <!--end::Card_footer-->
        <% end %>
        <!--end::Form_for-->


      </div>
      <!--end::Card_card_custom-->
    </div>
    <!--end::Col_md_12-->
  </div>
  <!--end::Row-->
</div>
<!--end::Kt_content-->
