<!--begin::Kt_content-->
<div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
        <div class="col"> 
                <div class="float-start">
                <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:show) %><%= t(:user) %></h2> 
                </div>
        <div class="col">
        <div class="float-end">  
                <%= link_to "/#{@controller_title}/users", class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i></i> <%= t(:back) %> </i> <% end %>
        </div> 
        </div>
        </div>

        <div class="row">
                <div class="col"> 
                        <div class="card-show">
                                <div class="row">
                                        <div class="col mb-5"> 
                                                <div class="float-start">
                                                <h4 class="card-label"> <i class="fa-solid fa-file-lines fa-1x"></i> <%= @datas['data']['firstname'] %> <%= @datas['data']['lastname'] %>
                                                </div>          
                                        </div>
                                 
                                </div>
                                        <div class="col ms-5"> 
                                                <p><b><%= t(:email)%> : </b> <%= @datas['data']['email'] rescue nil %></p>
                                                <p><b><%= t(:department)%> : </b> <%= @datas['data']['department']['title'] rescue nil %></p>
                                                <p><b><%= t(:institution)%> : </b> <%= @datas['data']['institution']['title'] rescue nil %></p>
                                                <p><b><%= t(:position)%> : </b> <%= @datas['data']['position'] rescue nil %></p>
                                                <p><b><%= t(:current_sign_in_at)%> : </b> <%= @datas['data']['current_sign_in_at'] rescue nil %></p>
                                                <p><b><%= t(:last_sign_in_at)%> : </b> <%= @datas['data']['last_sign_in_at'] rescue nil %></p>
                                                <p><b><%= t(:created_at)%> : </b> <%= @datas['data']['created_at'] rescue nil %></p>
                                                <p><b><%= t(:updated_at)%> : </b> <%= @datas['data']['updated_at'] rescue nil %></p>
                                        </div>
                        </div>
        </div>
                </div>
</div>
<!--end::Kt_content-->