<!DOCTYPE html>
<html lang="th">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 <meta name="description" content="Task Management Application">
 <meta name="keywords" content="Bee Sys Task Management Application">
 <title><%= get_page_title(@page_title) %></title>
 <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/png" />

 <link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">
 
 <%= stylesheet_link_tag params[:controller], 'data-turbolinks-track': 'reload' if params[:controller] != "devise/sessions" %>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
 




  <link href="https://unpkg.com/uppy@0.24.4/dist/uppy.min.css" rel="stylesheet" />
  <script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/whatwg-fetch@2.0.3/fetch.js"></script>
  <script src="https://unpkg.com/uppy@0.24.4/dist/uppy.min.js"></script>


 <%#= csrf_meta_tags %>
 <%#= action_cable_meta_tag %>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= action_cable_meta_tag %>




<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


<% #เพื่อใช้โหลด js ก่อน content %>
<%= javascript_include_tag 'base', 'data-turbolinks-track': false %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= yield :head %>
<%= turbo_include_tags %>
<%#= stimulus_include_tags %>


</head>

<body id="kt_body" class="<%= controller_name %> <%= action_name %> page-loading-enabled page-loading header-mobile-fixed subheader-enabled aside-enabled aside-fixed aside-secondary-enabled page-loading 
  <%= "aside-minimize".html_safe if (controller_name == 'dashboards' ||controller_name == 'boards' || controller_name == 'users' || controller_name == 'locations' || controller_name == 'gantt') %>">



  <!--[html-partial:include:{"file":"partials/_header-mobile.html"}]/-->
  <%= render partial: "layouts/style1/partials/topmobile" , cached: true %>
  <div class="d-flex flex-column flex-root overflow-scroll">

    <!--begin::Page-->
    <div class="d-flex flex-row flex-column-fluid page">

      <!--[html-partial:include:{"file":"partials/_aside.html"}]/-->
      <%= render partial: "layouts/style1/partials/sidebar" , cached: true %>

      <!--begin::Wrapper-->
      <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">

        <!--begin::Content-->
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

          <%#= render partial: "layouts/style1/partials/topnavbar" , cached: true %>
          <%= render partial: "layouts/style1/partials/topnavbar" %>
          <!--[html-partial:include:{"file":"partials/_subheader/subheader-v6.html"}]/-->


          <!--begin::Entry-->
          <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container-fluid">

            
              <%#= turbo_stream_from :task_notification %>
              <%#= turbo_frame_tag :share do %>
                <%#= render "share/flash", item: item %>
              <%# end %>


              <% if notice %>
              <div class="alert alert-custom alert-light-primary mb-5" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text"><%= notice %></div>
                <div class="alert-close">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="ki ki-close"></i></span>
                  </button>
                </div>
              </div>
              <% end %>
              <% if alert %>
              <div class="alert alert-custom alert-light-danger mb-5" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text"><%= alert %></div>
                <div class="alert-close">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="ki ki-close"></i></span>
                  </button>
                </div>
              </div>
              <% end %>

              <%= yield %>

            </div>
            <!--end::Container-->
          </div>

          <!--end::Entry-->

        </div>

        <!--end::Content-->

        <!--[html-partial:include:{"file":"partials/_footer.html"}]/-->
        <%= render partial: "layouts/style1/partials/footer" , cached: true %>
      </div>

      <!--end::Wrapper-->
    </div>

    <!--end::Page-->
  </div>



  <%#= javascript_include_tag 'trix' %>



  <script>
    var KTAppSettings = {
      "breakpoints": {
        "sm": 576,
        "md": 768,
        "lg": 992,
        "xl": 1200,
        "xxl": 1200
      },
      "colors": {
        "theme": {
          "base": {
            "white": "#ffffff",
            "primary": "#103079",
            "secondary": "#60ccd3",
            "success": "#1BC5BD",
            "info": "#6993FF",
            "warning": "#FFA800",
            "danger": "#F64E60",
            "light": "#F3F6F9",
            "dark": "#212121"
          },
          "light": {
            "white": "#ffffff",
            "primary": "#103079",
            "secondary": "#60ccd3",
            "success": "#C9F7F5",
            "info": "#E1E9FF",
            "warning": "#FFF4DE",
            "danger": "#FFE2E5",
            "light": "#F3F6F9",
            "dark": "#D6D6E0"
          },
          "inverse": {
            "white": "#ffffff",
            "primary": "#ffffff",
            "secondary": "#212121",
            "success": "#ffffff",
            "info": "#ffffff",
            "warning": "#ffffff",
            "danger": "#ffffff",
            "light": "#464E5F",
            "dark": "#ffffff"
          }
        },
        "gray": {
          "gray-100": "#F3F6F9",
          "gray-200": "#ECF0F3",
          "gray-300": "#E5EAEE",
          "gray-400": "#D6D6E0",
          "gray-500": "#B5B5C3",
          "gray-600": "#80808F",
          "gray-700": "#464E5F",
          "gray-800": "#1B283F",
          "gray-900": "#212121"
        }
      },
      //"font-family": "Kanit"
    };
  </script>
  <!--end::Global Config-->


  <%#= javascript_include_tag 'application', 'data-turbolinks-eval' => false %>
  
  <% #เพื่อใช้โหลด js หลัง content %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <%#= javascript_include_tag 'application' %>

  <%= javascript_include_tag params[:controller], 'data-turbolinks-track': true if params[:controller] != "devise/sessions" %>

  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>




</body>

</html>