<%
if @controller_main_url
    @temp_url = @controller_main_url
else
    @temp_url = @controller_title
end


if !params[:original_url].blank?
    back_url = params[:original_url]

end


if @master_plan_datas && !@master_plan_datas['data'].blank?
    back_url = "/#{@controller_main_url}/period_reports?master_plan_id=#{@datas['data']['master_plan_id']}&original_url=#{@controller_main_url}/master_plans/#{@datas['data']['master_plan_id']}"
end

%>

<div class="container-fluid">

<div class="d-flex justify-content-between"> 
<%= link_to back_url, class: 'btn btn-light -sm' do %> 
        <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
    <% end %>

    
</div>

<div class="card-show">

<div class="d-flex justify-content-between">
          
        <div class="w-75 d-flex">
            <div class="symbol symbol-50px me-3">
                <div class="symbol-label bg-light">
                    <i class="fas fa fa-calendar fs-1"></i>
                </div>
            </div>
          
            <h3 class="my-4 fs-2">กำหนดรอบรายงาน แผนการควบคุมภายใน ประจำปีงบประมาณ : <span class="text-primary"><%= @datas['data']['master_plan']['period_year']&.to_date&.year + 543 rescue nil %></span></h3>
        </div>

    </div>

    <div class="row">
        <div class="col">

            <%= render 'form' %>

        </div>
    </div>


</div>
</div> <!-- end card-show -->

</div> <!-- end container-fluid -->