<%
@risk_management_report = risk_management_report if risk_management_report
$risk_management_report_user_status = nil
$input_readonly = ''
@risk_management_report['data']['risk_management_report_users'].each do |risk_management_report_user|
  if risk_management_report_user['user_role']['slug'] == 'approver'  && risk_management_report_user['status'] == 'approved' 
    $risk_management_report_user_status = risk_management_report_user['status']
    $input_readonly = 'readonly'
end
end 
%>

    <%= form_for('risk_management_report', url: "/#{gen_form[0]}/risk_management_reports#{gen_form[1]}" , method: gen_form[2]) do |f| %>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">หน่วยงาน : <%= @risk_management_report['data']['task_plan_report']['risk_analysis_report']['plan_report']['category']['institution']['title'] rescue nil %></h2>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">ประเด็นยุทธศาสตร์ : <%= @risk_management_report['data']['task_plan_report']['risk_analysis_report']['plan_report']['category']['strategic_issue']['title'] rescue nil %></h2>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : <%= @risk_management_report['data']['task_plan_report']['risk_analysis_report']['plan_report']['category']['title'] rescue nil %></h2>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน :</h2>

    <ul style="list-style-type: none">
      <% @risk_management_report['data']['task_plan_report']['risk_analysis_report']['plan_report']['category']['category_objectives'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category_objective, idx| %>
          <li><%=  category_objective['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
      <% end %>
    </ul>

    <div class="table-responsive py-5">
      <table id="items" class="table table-bordered" style="text-left">
        <thead style="width:auto;text-align:center; background-color: #d9dbff;">
           <tr valign="middle" >
                <th>กิจกรรม/ขั้นตอน</th>
                <th>รหัสปัจจัยเสี่ยง</th>
                <th>ปัจจัยเสี่ยง</th>
                <th>มาตรการจัดการความเสี่ยง</th>
                <th>เป้าหมาย/ผลสำเร็จของมาตรการจัดการความเสี่ยง</th>
                <th>ระยะเวลาดำเนินการ/ผู้รับผิดชอบ</th>
                <th>หมายเหตุ</th>
              </tr>
        </thead>


        <% if @risk_management_report && !@risk_management_report['data'].blank? %>
        <% @risk_management_report['data']['risk_managements'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |risk_management,idx| %>

 
            <%
            url = URI("#{$server[@controller_title]}/api/v1/risk_analysises/#{risk_management['task_list']['risk_analyses_id']}")
            risk_analyses = request_api(url,'get',nil)['data']
            %>

          <input type="hidden" name="risk_management[<%= idx %>][id]" class="form-control" value="<%= risk_management['id'] rescue nil %>">
    
          <tr valign="top">
            <td>

                <ul style="list-style-type: none">
                    <% if !risk_analyses['task']['list'].blank? %>
                        <% risk_analyses['task']['list']['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                        <h6><%= list_activity['title'] rescue nil %></h6>
                        <span><%= list_activity['description'] rescue nil %></span> 
                        <div><%= get_status_tasks(list_activity['status']) %></div>
                        <% end %>  
                    <% end %>  
                  </ul>  
            </td>

            <td>
           
 
                        <%= risk_management['list_risk_factor']['list_code'] rescue nil %>
                    
              
            </td>
            
            <td>
                <ul style="list-style-type: none">

                        <li><%= risk_management['list_risk_factor']['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
                     
             
                </ul>
            </td>

            <td>
                
            <ul style="list-style-type: none">
                    <% if !risk_management['task_list']['task_list_controls'].blank? %>
                        <% risk_management['task_list']['task_list_controls'].sort_by{|i| i['order_sort'].to_i}.each do |task_list_control| %>
                        <li><%= task_list_control['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></li>
                        <% end %>
                    <% end %>
                </ul>
             
            </td>

          <!-- เป้าหมาย/ผลสำเร็จของมาตรการจัดการความเสี่ยง-->
            <td>
                <% if action_name == 'edit' %>
                    <input type="hidden" class="form-control"  name="risk_management[<%= idx %>][risk_management_targets_attributes][0][id]" value ="<%= risk_management['risk_management_targets'][0]['id']rescue nil %>"/>   
                    <textarea class="form-control" <% if $risk_management_report_user_status == 'approved' %> <%= $input_readonly %> <% end %> name="risk_management[<%= idx %>][risk_management_targets_attributes][0][title]" rows="10" cols="50"><%= risk_management['risk_management_targets'][0]['title'] rescue nil %></textarea>
                <% else %>
                    <%= risk_management['risk_management_targets'][0]['title'] rescue nil %>
                <% end %>
            </td>
          <!-- ระยะเวลาดำเนินการ/ผู้รับผิดชอบ-->
          <td>   
            <% if action_name == 'edit' %>
              <input type="date" class="form-control" <% if $risk_management_report_user_status == 'approved' %> <%= $input_readonly %> <% end %> name="risk_management[<%= idx %>][success_date]" value ="<%= risk_management['success_date'].to_datetime.strftime('%Y-%m-%d') rescue nil %>"/>
              <input type="hidden" class="form-control"  name="risk_management[<%= idx %>][risk_management_institutions_attributes][0][id]" value ="<%= risk_management['risk_management_institutions'][0]['id']rescue nil %>"/>  
              <center><label> / </label></center>
              <input type="text" class="form-control" <% if $risk_management_report_user_status == 'approved' %> <%= $input_readonly %> <% end %> name="risk_management[<%= idx %>][risk_management_institutions_attributes][0][title]" value ="<%= risk_management['risk_management_institutions'][0]['title']rescue nil %>"/>
            <% else %>

         
                <%= convert_thai_date(risk_management['success_date'],'default') rescue nil %> <br>
                / <%= risk_management['risk_management_institutions'][0]['title'] rescue nil %>
            <% end %>
          </td>

          
          <!-- หมายเหตุ-->
          <td>
            <% if action_name == 'edit' %>
              <input type="hidden" class="form-control"  name="risk_management[<%= idx %>][risk_management_remarks_attributes][0][id]" value ="<%= risk_management['risk_management_remarks'][0]['id']rescue nil %>"/>   
              <textarea class="form-control"  <% if $risk_management_report_user_status == 'approved' %> <%= $input_readonly %> <% end %> name="risk_management[<%= idx %>][risk_management_remarks_attributes][0][title]" rows="10" cols="50"><%= risk_management['risk_management_remarks'][0]['title'] rescue nil %></textarea>

            <% else %>
                <%= risk_management['risk_management_remarks'][0]['title'] rescue nil %>
            <% end %>
          </td>          

          <!--
            <td align="center">
              <%#= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @risk_management_report['data']['risk_management_report']['plan_report']['category']['plan']['master_plan_id'], model_name: 'risk_managementes', model_title: nil, id: risk_management['id'], params: "original_url=#{request.path}"} %>
            </td>
        -->
          </tr>
          <% end %>
          <% end %>

      </table>



    </div>


    <% if action_name == 'edit' && $risk_management_report_user_status != 'approved' %>
        <%= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
    <% end %>
  



    <%

    if action_name == 'print' 
    
        #render find by position
        risk_management_report['data']['risk_management_report_users'].each do |risk_management_report_user|
        
          case risk_management_report_user['user_role']['title_slug']
            when 'editor-head'
              #check สถานะการ Approve ของ editor-head ถ้า Approved ให้แสดงข้อมูลชื่อและลายเซ็นต์
              if risk_management_report_user['user_role']['title_slug'] == 'editor-head' && risk_management_report_user['status'] == 'approved'
           
              @head = "#{(risk_management_report_user['user']['firstname'] rescue nil)} #{(risk_management_report_user['user']['lastname'] rescue nil)}"
              @head_sign = "#{(risk_management_report_user['user']['file_url_thumbnail'] rescue nil)}"
              @position_sign = "#{(risk_management_report_user['user_role']['title']rescue nil)}"

              else
                @head = ""
                @head_sign = ""
                @position_sign =""
              end 
    
              when 'editor'
    
               #check สถานะการ Approve ของ editor ถ้า Approved ให้แสดงข้อมูลชื่อและลายเซ็นต์
              if risk_management_report_user['user_role']['title_slug'] == 'editor' && risk_management_report_user['status'] == 'approved'
            
                @editor = "#{(risk_management_report_user['user']['firstname'] rescue nil)} #{(risk_management_report_user['user']['lastname'] rescue nil)}"
                @editor_sign = "#{(risk_management_report_user['user']['file_url_thumbnail'] rescue nil)}"
                @position_sign = "#{(risk_management_report_user['user_role']['title']rescue nil)}"
                 else
              @editor = ""
              @editor_sign = ""
              @position_sign =""
                end 
    
            end
         end
    
    
    
    
    
    
    
    
        %>
       
    
        
        <div id="signature" class="d-flex align-items-center justify-content-center">
    
        <div class="min-w-300px">
           
        </div>
    
        <div class="min-w-300px" style="margin-top: 100px">
            
        </div>
    
        <div class="min-w-300px">
     
        <%= render partial: '/share/block_signature', locals:{ image: "#{@head_sign rescue nil}", fullname: "#{@head rescue nil}", position: "#{@position_sign rescue nil}"} %>
            
        </div>
    </div>
    
        <% end %>




<% end %>  