<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
back_url = "/#{@controller_main_url}/plans/#{@risk_management_report['data']['task_plan_report']['risk_analysis_report']['plan_report']['category']['plan_id']}" rescue nil
%>


<div class="container-fluid">


    <div class="text-end">
        <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
                    <% end %>
        <!-- add export -->
        <%= render '/share/block_btn_export', item: @plan_report, title: 'plan_report' %>
        <!-- end add export -->
    </div>


    <div class="text-muted text-end mt-15">แบบฟอร์ม RLPD RM-3</div>
    <h1 class="text-center"> แผนบริหารความเสี่ยงโครงการ</h1>


    <!-- add export -->
    <div id="export_content" class="">
    <div class="landscape_A4_page">
    <!-- end add export -->  

    <%= render 'form' ,risk_management_report: @risk_management_report %>

    <!-- add export -->
    </div>
    </div>
    <!-- end add export --> 


    <%= render partial: '/share/block_comments', locals:{ model_name: 'risk_management_report', id: @risk_management_report['data']['id']} %>
    <%= render partial: '/share/block_comments_history', locals:{ model_name: 'risk_management_report', id: @risk_management_report['data']['id']} %>

</div>