<%
case controller_name 
when 'master_plans'
	model_name = 'master_plan_user'
when 'plan_reports'
	model_name = 'plan_report_user'
else
	model_name = 'master_plan_user'
end
%>

<div id="task_attach_idx_<%= idx %>" class="d-inline-block m-1 p-1">

	<input type="text" name="comment[attachments_attributes][<%= idx %>][description]" class="form-control my-6" placeholder="ชื่อเอกสาร">
	<input id="photo-upload-result-<%= idx %>" type="hidden" name="comment[attachments_attributes][<%= idx %>][file]">

	<input accept="image/jpeg,image/jpg,image/png,image/gif,application/pdf,application/powerpoint,application/vnd.ms-powerpoint,application/vnd.ms-office,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/x-zip,application/zip,application/x-zip-compressed,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-7z-compressed" data-upload-server="" data-preview-element="preview-photo-<%= idx %>" data-upload-result-element="photo-upload-result-<%= idx %>" id="input-task_attachment_items_row-<%= idx %>" class="" type="file">

	<div class="d-block mb-2">
		<img id="preview-photo-<%= idx %>" class="img-thumbnail w-150px" />
	</div>

	<script type="text/javascript">
		function normal_fileUpload(fileInput) {
            var imagePreview = document.getElementById(fileInput.dataset.previewElement)

            fileInput.style.display = 'none'

            var uppy = Uppy.Core({
                id: fileInput.id,
                restrictions: {
                  allowedFileTypes: fileInput.accept.split(','),
                }
              })
              .use(Uppy.FileInput, {
                target: fileInput.parentNode,
              })
              .use(Uppy.Informer, {
                target: fileInput.parentNode,
              })
              .use(Uppy.ProgressBar, {
                target: imagePreview.parentNode,
              })

            

            uppy.use(Uppy.XHRUpload, {
                endpoint: '<%= $server[@controller_title] %>/upload', // Shrine's upload endpoint
                fieldName: 'file',
              })



            uppy.run()

            uppy.on('upload-success', function (file, data, uploadURL) {
              // show image preview
              imagePreview.src = URL.createObjectURL(file.data)
              imagePreview.href = URL.createObjectURL(file.data) 
              imagePreview.style = 'display: block;'
              $('#' +imagePreview.id + '-title').val(file.name)
              $('#task_attach_btn_save').css('display', 'block');
              

              var uploadedFileData = JSON.stringify(data)

              var hiddenInput = document.getElementById(fileInput.dataset.uploadResultElement)
              hiddenInput.value = uploadedFileData
            })

            return uppy
          }



       //for Button Choose upload image
       fileInput = document.querySelector('#input-task_attachment_items_row-<%= idx %>');
       normal_fileUpload(fileInput);
	</script>

</div>







