

<%
#init
params[:original_url] = request.path if params[:original_url].blank?


if params[:original_url]
    back_url = params[:original_url]
end


if !@internal_control_certificates.blank?

    back_url = "/#{@controller_main_url}/master_plans/#{@internal_control_certificates['data']['master_plan_id']}" rescue nil
end
%>

<div class="row">
<div class="col"> 
      <div class="float-start">
            <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i>หนังสือรับรองการประเมินผลการควบคุมภายใน</h2> 
      </div>
<div class="col">
  <div class="float-end">  
      <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
      <% end %>
  </div> 
</div>
</div>



<%= form_for('internal_control_certificates', url: "/#{gen_form[0]}/internal_control_certificates#{gen_form[1]}" , method: gen_form[2]) do |f| %>


<div class="doc-form">

<div class="container-fluid">
<input type="hidden" class="p-1" placeholder=" (1) " name="internal_control_certificate[master_plan_id]" value="<%= @internal_control_certificates['data']['master_plan_id'] rescue nil %>">


  <div class="text-muted text-end mt-15">แบบฟอร์ม ปค.1</div>
  <h1 class="text-center"> หนังสือรับรองการประเมินผลการควบคุมภายใน</h1>
  <h2 class="text-center"> (ระดับหน่วยงานของรัฐ)</h2>

  <p class="mt-10 text-gray-800 fw-bolder fs-6 mt-3"> เรียน  <input type="text" class="p-1" placeholder=" (1) " name="internal_control_certificate[title1]" value="<%= @internal_control_certificates['data']['title1'] rescue nil %>"> </p>


  <p class="text-gray-800 fs-6 mt-3" style="text-indent: 75px;"> <input type="text" class="p-1" placeholder="กรมคุ้มครองสิทธิและเสรีภาพ (2) " name="internal_control_certificate[title2]" value="<%= @internal_control_certificates['data']['title2'] rescue nil %>"> ได้ประเมินผล การควบคุมภายในของหน่วยงาน สำหรับปีสิ้นสุดวันที่ <input type="number" class="p-1" placeholder=" (3) " name="internal_control_certificate[title3]" value="<%= @internal_control_certificates['data']['title3'] rescue nil %>"> เดือน <input type="text" class="p-1" placeholder=" (3) " name="internal_control_certificate[title4]" value="<%= @internal_control_certificates['data']['title4'] rescue nil %>"> พ.ศ. <input type="number" class="p-1" placeholder="  " name="internal_control_certificate[title5]" value="<%= @internal_control_certificates['data']['title5'] rescue nil %>"> ด้วยวิธีการที่หน่วยงานกำหนดซึ่งเป็นไปตามหลักเกณฑ์กระทรวงการคลังว่าด้วยมาตรฐานและหลักเกณฑ์ปฏิบัติ การควบคุมภายในสำหรับหน่วยงานของรัฐ พ.ศ. 2561 โดยมีวัตถุประสงค์เพื่อให้ความมั่นใจอย่างสมเหตุสมผลว่า ภารกิจของหน่วยงานจะบรรลุวัตถุประสงค์ของการควบคุมภายในด้านการดำเนินงานที่มีประสิทธิผล  ประสิทธิภาพ ด้านการรายงานที่เกี่ยวกับการเงิน และไม่ใช่การเงินที่เชื่อถือได้ ทันเวลา และโปร่งใส รวมทั้งด้านการปฏิบัติตามกฎหมาย ระเบียบ และข้อบังคับที่เกี่ยวข้องกับการดำเนินงาน </p>



  <p class="text-gray-800 fs-6 mt-3" style="text-indent: 75px;"> จากผลการประเมินดังกล่าว  <input type="text" class="p-1" placeholder="กรมคุ้มครองสิทธิและเสรีภาพ (4) " name="internal_control_certificate[title6]" value="<%= @internal_control_certificates['data']['title6'] rescue nil %>"> เห็นว่า การควบคุมภายในของหน่วยงานมีความเพียงพอ ปฏิบัติตามอย่างต่อเนื่อง และเป็นไปตามหลักเกณฑ์กระทรวงการคลังว่าด้วยมาตรฐานและหลักเกณฑ์ปฏิบัติการควบคุมภายในสำหรับหน่วยงานของรัฐ พ.ศ. 2561 ภายใต้  การกำกับดูแลของ <input type="text" class="p-1" placeholder="(5) " name="internal_control_certificate[title7]" value="<%= @internal_control_certificates['data']['title7'] rescue nil %>"></p>

  </br>
  </br>
  </br>

  <div class="d-flex justify-content-end">
    <div class="w-400px text-left">
    <%#= @internal_control_certificates['data']['title9'] rescue nil %>
    <%#= @internal_control_certificates['data']['user']['file_url_thumbnail'] rescue nil %>
    <div class="d-block mb-2">
    <img id="preview-photo-1" class="img-thumbnail" src="<%= "#{$server[@controller_title]}#{@internal_control_certificates['data']['user']['file_url_thumbnail']}" rescue nil %>" />
    </div>

      <div class="">ลายมือชื่อ ........................................................................................</div></br>


      <div class="py-3">ชื่อ 
      <select class="p-1 selectize-user select2" name="internal_control_certificate[user_id]" value="<%=@internal_control_certificates['data']['user_id'] rescue nil %>"> 
      <% @user_datas['data'].each do |user_data| %> 
            <option value="<%= user_data['id'] %>" 
                <% if @internal_control_certificates['data']['user_id']  ==  user_data['id'] %> 
                        selected > <%= user_data['firstname'] %>  <%= user_data['lastname'] %>  
                  <% else %> > 
                      <%= user_data['firstname'] %>  <%= user_data['lastname'] %> 
                <% end %> 
            </option>
      <% end %>
      </select>
      </div>


 
      <div class="py-3">ตำแหน่ง <input type="text" class="p-1" placeholder="" name="internal_control_certificate[title10]" value="<%= @internal_control_certificates['data']['title10'] rescue nil %>"/></div>
     
      <div class="py-3">วันที่ <input type="date" class="p-1" name="internal_control_certificate[approvedate]" value ="<%= @internal_control_certificates['data']['approvedate'].to_datetime.strftime('%Y-%m-%d') rescue nil %>"/></div>
      <div class="py-3"><input type="hidden" class="p-1" placeholder="" name="internal_control_certificate[title11]" value="<%= @internal_control_certificates['data']['title11'] rescue nil %>"/></div>
    </div>
  </div>
<!--
  <p class="mt-10 text-gray-800 fw-bolder fs-6 mt-3">กรณีมีความเสี่ยงสำคัญ และกำหนดจะดำเนินการปรับปรุงการควบคุมภายในสำหรับความเสี่ยงดังกล่าวในปีงบประมาณ/ปีปฏิทินถัดไป ให้อธิบายเพิ่มเติมในวรรคสาม ดังนี้
  </p>

  <p class="text-gray-800 fs-6 mt-3" style="text-indent: 75px;">
    อย่างไรก็ดี มีความเสี่ยงและได้กำหนดปรับปรุงการควบคุมภายใน ในปีงบประมาณหรือปีปฏิทินถัดไป สรุปได้ดังนี้
  </p>

  <ol class="list">
    <li class="mb-5">
      <p>ความเสี่ยงที่มีอยู่ที่ต้องกำหนดปรับปรุงการควบคุมภายใน</p>
      <ol>
        <li>............................................................</li>
        <li>............................................................</li>
      </ol>
    </li>
    <li class="mb-5">
      <p>การปรับปรุงการควบคุมภายใน</p>
      <ol>
        <li>............................................................</li>
        <li>............................................................</li>
      </ol>
    </li>
  </ol>


-->

  <hr>

  <%= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
  

  </div>
<% end %>




  <style type="text/css">
    .doc-form input {
      margin: 10px 0;
    }
  </style>




</div>
