.animate-task-in {
  animation: fade-in 0.75s ease-out,
             slide-in 0.75s ease-out;
}

.animate-task-out {
  animation: fade-out 0.75s ease-out,
             slide-out 0.75s ease-out;
}

.animate-task-item-in {
  overflow: hidden;
  animation: slide-down 0.5s ease-out;
}

.animate-task-item-out {
  overflow: hidden;
  animation: slide-up 0.5s ease-out;
}

.animate-flash-increase {
  animation: flash-green 0.5s ease-in-out;
}

.animate-flash-decrease {
  animation: flash-red 0.5s ease-in-out;
}

@keyframes flash-green {
  from { background-color: #A7F3D0; }
  to { background-color: transparent; }
}

@keyframes flash-red {
  from { background-color: #FECACA; }
  to { background-color: transparent; }
}

/* "max-height: auto" unfortunately does not work here, so we set
   to a fixed height that is greater than the expected height. */
@keyframes slide-down {
  from { max-height: 0; }
  to { max-height: 3rem; }
}

@keyframes slide-up {
  from { max-height: 3rem; }
  to { max-height: 0; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes slide-in {
  from { transform: translateX(4rem); }
  to { transform: translateX(0); }
}

@keyframes slide-out {
  from { transform: translateX(0); }
  to { transform: translateX(4rem); }
}