<div class="content flex-row-fluid" id="kt_content">
    <% case @catagory_datas['data']['plan']['type_name'] %>
    <% when 'seven' %>
            <%= render "form_seven" %>
    <% else %>
            <%= render "form" %>
    <% end %>
</div>