<%

#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?

%>


<div class="container-fluid">



    <div class="text-end noprint">
        <%= link_to "#{back_url}", class: 'btn btn-light -sm' do %> 
        <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
        <% end %>

        <%= link_to "#", class: 'noprint align-self-center btn btn-lg btn-light mx-1', onclick: 'window.print();' do %> 
        <i class="fa-solid fa-print"></i> <%= t(:print) %>
        <% end %>

    </div>



    <% if @list && !@list['data'].blank? %>








    <div class="row">
        <div class="col-md-12">
            <div>
                <ul>

                    <h1 class="text-primary">หมวดหมู่ตัวชี้วัด : <%= @list['data']['activity']['title'] rescue nil %> </h1> 

                </ul>
            </div>

            <div class="separator separator-dashed separator-border-2 my-10"></div>
        </div>

        <div class="col-md-12 mt-5">
            <div>
                <ul>

                    <h3>ตัวชี้วัดที่ : <%= @list['data']['order_sort'] rescue nil %> <%= @list['data']['title'] rescue nil %></h3> 

                </ul>
            </div>
        </div>

        <div class="col-md-6 mt-5">
            <div>
                <ul>
                    <% @list['data']['list_kpi_full_years'].each do |list_kpi_full_year|  %>      
                    <h5>ค่าเป้าหมาย 12 เดือน : <%= list_kpi_full_year['kpi_value'] %> <%= list_kpi_full_year['kpi_value_unit'] %> </h5> 
                    <% end %>  
                </ul>
            </div>
        </div>

        <div class="col-md-6 mt-5">
            <div>
                <ul>
                    <% @list['data']['list_kpi_half_years'].each do |list_kpi_half_year|  %>      
                    <h5>ค่าเป้าหมาย 6 เดือน : <%= list_kpi_half_year['kpi_value'] %> <%= list_kpi_half_year['kpi_value_unit'] %> </h5> 
                    <% end %>  
                </ul>
            </div>
        </div>

        <div class="col-md-6 mt-3">
            <div>
                <ul>    
                    <h5>คำอธิบาย : ประชาชนกลุ่มเป้าหมาย </h5>  
                </ul>
            </div>
        </div>


        <div class="col-md-12">
            <div>
                <ul>
                 <% @list['data']['list_activities'].each do |list_activitie|  %>          
                 <div class="text-dark mb-3 ms-5"> <%= list_activitie['title'] %></div>
                 <% end %>  
             </ul>
         </div>
     </div>

 </div>

 <div class="col-md-6 mt-5">
    <div>
        <ul> 
           <% @list['data']['list_scores'].each do |list_score|  %> 
           <h5>เกณฑ์การให้คะแนน : <%= list_score['title'] %> </h5>  
           <% end %> 
       </ul>
   </div>
</div>

<div class="col-md-12 d-flex justify-content-center">

                <table class="table table-bordered w-75">
                    <thead style="width:auto;text-align:center;" class="bg-light-success">
                      <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                    </tr>
                </thead>


                <tr valign="top">
                    <% @list['data']['list_scores'].each do |list_score|  %> 
                    <td><br> <div class="text-dark mb-3 ms-5 d-flex align-items-center justify-content-center"><%= list_score['score_first'] rescue nil %> <%= list_score['unit_first'] rescue nil %></div> </td>
                    <td><br> <div class="text-dark mb-3 ms-5 d-flex align-items-center justify-content-center"><%= list_score['score_second'] rescue nil %> <%= list_score['unit_first'] rescue nil %></div> </td>
                    <td><br> <div class="text-dark mb-3 ms-5 d-flex align-items-center justify-content-center"><%= list_score['score_third'] rescue nil %> <%= list_score['unit_third'] rescue nil %></div> </td>
                    <td><br> <div class="text-dark mb-3 ms-5 d-flex align-items-center justify-content-center"><%= list_score['score_fourth'] rescue nil %> <%= list_score['unit_fourth'] rescue nil %></div> </td>
                    <td><br> <div class="text-dark mb-3 ms-5 d-flex align-items-center justify-content-center"><%= list_score['score_fifth'] rescue nil %> <%= list_score['unit_fifth'] rescue nil %></div> </td>


                    <% end %>
                </tr>
            </table>
    
</div>


<div class="col-md-6 mt-10">
    <div>
        <ul>    
            <h5>แหล่งข้อมูล / วิธีการจัดเก็บข้อมูล </h5>  
        </ul>
    </div>
</div>


<div class="col-md-12">
    <div>
        <ul>
         <% @list['data']['list_data_sources'].each do |list_data_source|  %>          
         <div class="text-dark mb-3 ms-5"> <%= list_data_source['title'] %></div>
         <% end %>  
     </ul>
 </div>
</div>

<div class="col-md-6 mt-10">
    <div>
        <ul>    
            <h5>ผู้กำกับดูแลตัวชี้วัด</h5>  
        </ul>
    </div>
</div>


<div class="col-md-12">
    <div>
        <ul>
         <% @list['data']['list_kpi_owners'].each do |list_kpi_owner|  %>          
         <div class="text-dark mb-3 ms-5"> <%= list_kpi_owner['devision_director']['title'] %></div>
         <% end %>  
     </ul>
 </div>
</div>

<div class="col-md-6 mt-10">
    <div>
        <ul>    
            <h5>ผู้รายงานในระบบ KPI online :</h5>  
        </ul>
    </div>
</div>


<div class="col-md-12">
    <div>
        <ul>
         <% @list['data']['list_kpi_onlines'].each do |list_kpi_online|  %>          
         <div class="text-dark mb-3 ms-5"> <%= list_kpi_online['title'] %></div>
         <% end %>  
     </ul>
 </div>
</div>


<div class="col-md-6 mt-10">
    <div>
        <ul>    
            <h5>หมายเหตุ :</h5>  
        </ul>
    </div>
</div>


<div class="col-md-12">
    <div>
        <ul>
         <% @list['data']['list_remarks'].each do |list_remark|  %>          
         <div class="text-dark mb-3 ms-5"> <%= list_remark['title'] %></div>
         <% end %>  
     </ul>
 </div>
</div>




<% end %>





</div>