<div class="card m-auto">
   <div class="card-body content-heading text-center d-flex flex-column justify-content-center text-mute" style="min-height: 500px; width: 100%;">
      <i class="fa-solid fa-triangle-exclamation text-info m-5" style="font-size: 4rem;"></i>
      <span class="fs-2">ขออภัย ระบบไม่พบข้อมูล <br>อาจเนื่องด้วยข้อมูลนี้ไม่มีอยู่ในระบบแล้ว</span><br>
      <span class="fs-4">ท่านสามารถติดต่อสอบถามผู้ดูแลระบบได้ที่ <br>ระบบสนทนาออนไลน์ที่อยู่บริเวณด้านล่าง</span>
   </div>
</div>