<div class="container-fluid">


	<!--begin:Content-->
	<div class="row g-6 g-xl-9 d-flex align-items-center justify-content-center">

		<!--begin::Box 3-->
		<div class="col-lg-5">

			<a href="/km/pages/dashboards" class="card card-xxl-stretch bg-primary">
				<!--begin::Body-->
				<div class="card-body d-flex flex-column justify-content-between">
					<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
					<span class="svg-icon svg-icon-white svg-icon-2hx ms-n1 flex-grow-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<rect x="2" y="2" width="9" height="9" rx="2" fill="black"></rect>
							<rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black"></rect>
							<rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black"></rect>
							<rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black"></rect>
						</svg>
					</span>
					<!--end::Svg Icon-->
					<div class="d-flex flex-column">
						<div class="text-white fw-bold fs-6 mb-0 mt-5">ระบบ</div>
						<div class="text-white fw-bolder fs-1">การจัดการความรู้ (KM)</div>
					</div>
				</div>
				<!--end::Body-->
			</a>




		</div> 
		<!--end::Box 3-->




		<!--begin::Box 3-->
		<div class="col-lg-5">




			<a href="/pmqa/pages/dashboards" class="card card-xxl-stretch bg-info">
				<!--begin::Body-->
				<div class="card-body d-flex flex-column justify-content-between">
					<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
					<span class="svg-icon svg-icon-white svg-icon-2hx ms-n1 flex-grow-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<rect x="2" y="2" width="9" height="9" rx="2" fill="black"></rect>
							<rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black"></rect>
							<rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black"></rect>
							<rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black"></rect>
						</svg>
					</span>
					<!--end::Svg Icon-->
					<div class="d-flex flex-column">
						<div class="text-white fw-bold fs-6 mb-0 mt-5">ระบบ</div>
						<div class="text-white fw-bolder fs-1">บริหารจัดการภาครัฐ (PMQA)</div>

					</div>
				</div>
				<!--end::Body-->
			</a>




		</div> 
		<!--end::Box 3-->




		<!--begin::Box 3-->
		<div class="col-lg-5">

			<a href="/kpi/pages/dashboards" class="card card-xxl-stretch bg-success">
				<!--begin::Body-->
				<div class="card-body d-flex flex-column justify-content-between">
					<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
					<span class="svg-icon svg-icon-white svg-icon-2hx ms-n1 flex-grow-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<rect x="2" y="2" width="9" height="9" rx="2" fill="black"></rect>
							<rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black"></rect>
							<rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black"></rect>
							<rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black"></rect>
						</svg>
					</span>
					<!--end::Svg Icon-->
					<div class="d-flex flex-column">
						<div class="text-white fw-bold fs-6 mb-0 mt-5">ระบบ</div>
						<div class="text-white fw-bolder fs-1">ตัวชี้วัดการปฎิบัติราชการ (KPI)</div>

					</div>
				</div>
				<!--end::Body-->
			</a>




		</div> 
		<!--end::Box 3-->



		<!--begin::Box 3-->
		<div class="col-lg-5">

			<a href="/risk/pages/dashboards" class="card card-xxl-stretch bg-warning">
				<!--begin::Body-->
				<div class="card-body d-flex flex-column justify-content-between">
					<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
					<span class="svg-icon svg-icon-white svg-icon-2hx ms-n1 flex-grow-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<rect x="2" y="2" width="9" height="9" rx="2" fill="black"></rect>
							<rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black"></rect>
							<rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black"></rect>
							<rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black"></rect>
						</svg>
					</span>
					<!--end::Svg Icon-->
					<div class="d-flex flex-column">
						<div class="text-white fw-bold fs-6 mb-0 mt-5">ระบบ</div>
						<div class="text-white fw-bolder fs-1">ประเมินความเสี่ยง/ควบคุมภายใน</div>
					
					</div>
				</div>
				<!--end::Body-->
			</a>



		</div> 
		<!--end::Box 3-->






	</div> 

</div>