<div class="container-fluid">
   <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
      <div class="d-flex flex-column">
            <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:notifications) %></h2> 
      </div>
   </div>


   <div class="">
      
   </div>

</div>