<div class="card card-custom gutter-b">
  <div class="card-header flex-wrap border-0 pt-6 pb-0">
    <div class="card-title">
      <h3 class="card-label">
        <%= t(:visits) %>
        <span class="d-block text-muted pt-2 font-size-sm"></span>
      </h3>
    </div>
    <div class="card-toolbar">


    </div>
  </div>

  <div class="card-body">



<div class="table-responsive">
    <table id="datatable1" class="table table-head-custom table-vertical-center table-head-bg">
      <tbody>
        <% @visits.order(started_at: :desc).each do |visit| %>
          <tr>
            <td><strong><%= visit.user&.title %></strong></td>
            <td><strong><%= visit.user_agent %></strong></td>
            <td><strong><%= visit.ip %></strong></td>
          </tr>
          <% visit.events.order(time: :desc).each do |event| %>
            <tr>

              <td>
                <p><b><%= event.user&.title %></b></p>
                <p><%= event.name %></p>
              </td>
              <td><%= event.properties %></td>
              <td><%= event.time %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
</div>



</div>
</div>