<%
@category = category
%>
<h1 class="text-center"> แบบฟอร์มการจัดวางระบบการควบคุมภายใน </h1>
        <% if @category && !@category['data'].blank? %>
                <h3>โครงการ : <%= @category['data']['title'] rescue nil %></h3>

                <table class="table table-bordered my-6">
                        <tr>
                            <th class="w-250px">หน่วยงาน</th>
                            <td class="min-w-250px"><%= @category['data']['institution']['title'] rescue nil %></td>
                        </tr>
                        <tr>
                                <th class="w-250px">ประเด็นยุทธศาสตร์</th>
                                <td class="min-w-250px"><%= @category['data']['strategic_issue']['title'] rescue nil %></td>
                        </tr>
                        <tr>
                                <th>วัตถุประสงค์ของโครงการ</th>
                                <td>
                                <% @category['data']['category_objectives'].each_with_index do |category_objective, idx| %>
                                        <p><%=  category_objective['title'] rescue nil %> </p>
                                    <% end %>
                                </td>
                        </tr>
                </table>
                

                <div class="-table-responsive py-5">



                        <table id="items" class="table table-bordered" style="text-left">
                                <thead style="width:auto;text-align:center; background-color: #d9dbff;">
                                      <tr>
                                        
                                        <th>ขั้นตอน</th>
                                        <th>วัตถุประสงค์ของขั้นตอน</th>
                                        <th>ความเสี่ยงที่อาจเกิดขึ้น</th>
                                        <th class="text-center">รหัส</th>
                                        <th>ปัจจัยเสี่ยง</th>
                                        <th>กิจกรรมการควบคุม</th>
                                  
                                      </tr>
                                </thead>

                                <tbody>

                              
                                        <% @category['data']['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idx| %>
                                        <tr style="border-top: 3px solid #cccccc;">

                                                <td>
                                                        <ul style="list-style-type: none">
                                                                <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                                                                <h6><%= list_activity['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></h6>
                                                                <span><%= list_activity['description'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></span> 
                                                                <div><%= get_status_tasks(list_activity['status']) %></div>
                                                                <% end %>  
                                                        </ul>     
                                                </td>
                                                <td>
                                                        <ul style="list-style-type: none">
                                                                <% list['list_objectives'].each do |list_objective| %>
                                                                <li><%= list_objective['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
                                                                <% end %>  
                                                        </ul>
                                                
                                                </td>

                                                <td>
                                                        <ul style="list-style-type: none">
                                                                <% list['list_risks'].each do |list_risk| %>
                                                                <li><%= list_risk['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
                                                                <% end %>  
                                                        </ul>
                                                </td>
                                                <td class="text-center">
                                              
                                                <% if list['list_risk_factors'].present? %>
                                                <ul style="list-style-type: none">
                                              
                                                  <% list['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each_with_index do |list_risk_factor,idx| %>
                                                    <li><%= list_risk_factor['activity_no'] rescue nil %></li>
                                                  <% end %>  
                                                </ul>
                                              <% end %>
                                                </td>
                                                <td>
                                                        <ul style="list-style-type: none">
                                                                <% list['list_risk_factors'].each do |list_risk_factor| %>
                                                                <li><%= list_risk_factor['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
                                                                <% end %>  
                                                        </ul>
                                                </td>

                                                <td>
                                                <ul style="list-style-type: none">
                                                <% list['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each do |list_risk_factor| %>
                                                  <% if list_risk_factor['id'].present? %>
                                                    <% url = URI("#{$server[@controller_title]}/api/v1/task_lists/get_risk_analysis_by_list_risk_factor/#{list_risk_factor['id']}") %>
                                                      <% @task_list_datas = request_api(url,'get',nil) %>
                                               
                                                         
                                                          <li><%= @task_list_datas['data']['title_activity_control'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></li>
                                                        
                                                 
                                                      <% end %>
                                                <% end %>
                                                </ul>
                                                </td>

                                                
                                        </tr>
                                      <% end %>
                              </tbody>

                        </table>



                </div> <!-- table-responsive py-5 -->
<!-- RM 1 -->

<!--begin 2.การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน -->

<div class="text-muted text-end mt-15"> แบบฟอร์ม RLPD RM-1</div>
<h1 class="text-center"> การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน</h1>

<h2 class="text-gray-800 fw-bolder fs-6 mt-3">หน่วยงาน : <%= @category['data']['institution']['title'] rescue nil %></h2>

<h2 class="text-gray-800 fw-bolder fs-6 mt-3">ประเด็นยุทธศาสตร์ : <%=@category['data']['strategic_issue']['title'] rescue nil %></h2>

<h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : <%= @category['data']['title'] rescue nil %></h2>

<h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน :</h2>
<div class="-table-responsive py-5">


                <table id="items" class="table table-bordered" style="text-left">
        <thead style="width:auto;text-align:center; background-color: #d9dbff;">
          <tr valign="middle">
            <th>กิจกรรม</th>
            <th>วัตถุประสงค์</th>
            <th>ความเสี่ยง</th>
            <th>ปัจจัยเสี่ยง</th>
            <th>รหัสปัจจัยเสี่ยง</th>
            <th>ประเภทความเสี่ยง</th>
            <th colspan=4>การวิเคราะห์ความเสี่ยง</th>

          </tr>

          <tr valign="middle">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>โอกาส</th>
            <th>ผลกระทบ</th>
            <th>คะแนนความเสี่ยง</th>
            <th>ลำดับความเสี่ยง</th>

          </tr>
        </thead>
        <% @category['data']['plan_reports'].each do |plan_report| %>

          <% plan_report['tasks'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |task,idx| %>
                <tr valign="top">
                <td>
                    <% if !task['list'].blank? %>
                        <% task['list']['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                            <h6 class=""><%= list_activity['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil  %></h6>
                            <p class="mb-3"><%= list_activity['description'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></p>
                        <% end %>
                    <% end %>
                </td>

                <td>
                <ul style="list-style-type: none">
                    <% if !task['list'].blank? %>
                        <% task['list']['list_objectives'].sort_by{|i| i['order_sort'].to_i}.each do |list_objective| %>
                        <li><%= list_objective['title'] rescue nil %></li>
                        <% end %>
                    <% end %>
                </ul>
            </td>
            <td>
                <ul style="list-style-type: none">
                    <% if !task['list'].blank? %>
                        <% task['list']['list_risks'].sort_by{|i| i['order_sort'].to_i}.each do |list_risk| %>
                        <li><%= list_risk['title'] rescue nil %></li>
                        <% end %>
                    <% end %>
                </ul>
            </td>
            
            <td>
                <ul style="list-style-type: none">
                    <% if !task['list'].blank? %>
                        <% task['list']['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each do |list_risk_factor| %>
                        <li><%= list_risk_factor['title'] rescue nil %></li>
                        <% end %>
                    <% end %>
                </ul>
            </td>

             <td>
             <ul style="list-style-type: none">
                    <% if !task['list'].blank? %>
                        <% task['list']['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each do |list_risk_factor| %>
                        <li><%= list_risk_factor['list_code'] rescue nil %></li>
                        <% end %>
                    <% end %>
                </ul>
            </td>

            <td>
            <ul style="list-style-type: none">
            <% task['list']['list_risk_factors'].each do |list_risk_factor| %>
                <% list_risk_factor['list_risk_types'].each do |list_risk_type| %>
                  <li><%= list_risk_type['risk_type']['title'] rescue nil %></li>
                  <% end %>
              <% end %>
                </ul>
            </td>

            <td align="center">
            <ul style="list-style-type: none">
                  <% task['list']['list_risk_factors'].each do |list_risk_factor| %>
                     <li><b><%= list_risk_factor['risk_chance'] rescue nil %></b></li>
                  <% end %>
              </ul>
        </td>
        
    
      <td align="center">
          <ul style="list-style-type: none">
            <% task['list']['list_risk_factors'].each do |list_risk_factor| %>
              <li><b><%= list_risk_factor['risk_effect'] rescue nil %></b></li>
              <% end %>
          </ul>
      </td>
    
      <td align="center">
      <ul style="list-style-type: none">
        <% task['list']['list_risk_factors'].each do |list_risk_factor| %>
          <li><b><%= list_risk_factor['risk_score_cal'] rescue nil %></b></li>
          <% end %>
      </ul>
    </td>
    
    <td align="center">
    <ul style="list-style-type: none">
      <% task['list']['list_risk_factors'].each do |list_risk_factor| %>
        <li><b><%= list_risk_factor['risk_score'] rescue nil %></b></li>
        <% end %>
    </ul>
    </td>
    



        </tr>
          <% end %>

        <% end %> <!-- end  plan_report -->
                </table>

</div> <!-- table-responsive py-5 -->
<!-- End RM 1 -->
<!-- Start RM1-1 -->

<div class="text-muted text-end mt-15">แบบฟอร์ม RLPD RM-1 (1)</div>
<h1 class="text-center"> การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน</h1>

<h2 class="text-gray-800 fw-bolder fs-6 mt-3">หน่วยงาน : <%= @category['data']['institution']['title'] rescue nil %></h2>

<h2 class="text-gray-800 fw-bolder fs-6 mt-3">ประเด็นยุทธศาสตร์ : <%= @category['data']['strategic_issue']['title'] rescue nil %></h2>

<h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : <%=  @category['data']['title'] rescue nil %></h2>

<h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน :</h2>

<ul>
  <%  @category['data']['category_objectives'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category_objective, idx| %>
      <li><%=  category_objective['title'] rescue nil %> </li>
  <% end %>
</ul>


<div class="table-responsive py-5">
<table id="items" class="table table-bordered" style="text-left">
  <thead style="width:auto;text-align:center; background-color: #d9dbff;">
    <tr valign="middle">
      <th>ขั้นตอน</th>
      <th>รหัสปัจจัยเสี่ยง</th>
      <th>ระบุปัจจัยเสี่ยง</th>
      <th>โอกาส</th>
      <th>คำอธิบาย</th>
      <th>ผลกระทบที่ได้รับ</th>
      <th>คำอธิบาย</th>

    </tr>
  </thead>
<% @category['data']['plan_reports'].each do |plan_report| %>
        <% plan_report['risk_analysis_reports'].each do |risk_analysis_report| %>

                <% risk_analysis_report['risk_analyses'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |risk_analysis,idx| %>

                        <tr valign="top">
                        <td>
                                <ul style="list-style-type: none">
                                        <% if !risk_analysis['task']['list'].blank? %>
                                                <% risk_analysis['task']['list']['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                                                        <p><b><%= list_activity['title']  rescue nil %></b></p></li>
                                                        <li><%= list_activity['description']  rescue nil %></li>
                                                <% end %>
                                        <% end %>
                                </ul>
                        </td>

                        <td>
                        <%= risk_analysis['list_risk_factor']['list_code'] rescue nil  %>
                        </td>

                        <td>
                        <%= risk_analysis['list_risk_factor']['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil  %>
                        </td>

                        <td align="center">
                        <%= risk_analysis['list_risk_factor']['risk_chance'] rescue nil  %>
                        </td>

                        <td>
                                <%= risk_analysis['risk_analysis_chances'][0]['title'] rescue nil %>
                        </td>

                        <td align="center">
                        
                                <%= risk_analysis['list_risk_factor']['risk_effect'] rescue nil %>
                        </td>
                        <td>
               
                                <%= risk_analysis['risk_analysis_effects'][0]['title'] rescue nil %>
                        </td>
                <% end %>
        <% end %>
<% end %>   

</table>
</div> <!-- table-responsive py-5 -->
<!-- End RM 1-1 -->

<!-- Start RM-2 -->



<div class="text-muted text-end mt-15">แบบฟอร์ม RLPD RM-2</div>
<h1 class="text-center"> การประเมินผลการควบคุมและการจัดการความเสี่ยงโครงการ/กระบวนงาน</h1>


<h2 class="text-gray-800 fw-bolder fs-6 mt-3">หน่วยงาน : <%= @category['data']['institution']['title'] rescue nil %></h2>

<h2 class="text-gray-800 fw-bolder fs-6 mt-3">ประเด็นยุทธศาสตร์ : <%= @category['data']['strategic_issue']['title'] rescue nil %></h2>

<h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : <%= @category['data']['title'] rescue nil %></h2>

<h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน :</h2>

<ul>
  <% @category['data']['category_objectives'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category_objective, idx| %>
      <li><%=  category_objective['title'] rescue nil %> </li>
  <% end %>
</ul>


<div class="-table-responsive py-5">
<table id="items" class="table table-bordered" style="text-left">
  <thead style="width:auto;text-align:center; background-color: #d9dbff;">
    <tr valign="middle">
      <th>กิจกรรม</th>
      <th>รหัสปัจจัยเสี่ยง</th>
      <th>ปัจจัยเสี่ยง</th>
      <th colspan=4>กลยุทธ์ที่ใช้ </br> (ทำเครื่องหมาย ✔)</th>
      <th>กิจกรรมการควบคุมภายในหรือการจัดการที่มีอยู่ (กรณียังไม่มีให้ระบุว่า “ไม่มี”) </th>
      <th colspan=3>การจัดการที่มีอยู่</br> (ทำเครื่องหมาย ✔)</th>
      <th>การควบคุมที่ควรมี หรือ ปรับปรุง</th>

    </tr>

    <tr valign="middle">
      <th></th>
      <th></th>
      <th></th>
      <th>ยอมรับความเสี่ยง</th>
      <th>หลีกเลี่ยงความเสี่ยง</th>
      <th>ถ่ายโอนความเสี่ยง</th>
      <th>ควบคุม/ลดความเสี่ยง</th>
      <th></th>
      <th>เพียงพอ</th>
      <th>พอใช้</th>
      <th>ต้องปรับปรุง</th>
      <th></th>

    </tr>
  </thead>
        <% @category['data']['plan_reports'].each do |plan_report| %>
        
                <% plan_report['risk_analysis_reports'].each do |risk_analysis_report| %>
                       <% risk_analysis_report['task_plan_reports'].each do |task_plan_report| %>
                        <% task_plan_report['task_lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |task_list,idx| %>
                               
                               <%
                               url = URI("#{$server[@controller_title]}/api/v1/risk_analysises/#{task_list['risk_analyses_id']}")
                               risk_analyses = request_api(url,'get',nil)['data']
                               %>

                               <tr valign="top">
                                        <td>
                                                <ul style="list-style-type: none">
                                                        <% risk_analyses['task']['list']['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                                                        <h6><%= list_activity['title'] rescue nil %></h6>
                                                        <li><span><%= list_activity['description'] rescue nil %></span></li>
                                                        <div><%= get_status_tasks(list_activity['status']) %></div>
                                                        <% end %>  
                                                </ul>  
                                        </td>


                                        <td>
                                        <%= task_list['list_risk_factor']['list_code']  rescue nil %>
                                        </td>
            
                                        <td>
                                        <%= task_list['list_risk_factor']['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %>
                                        </td>

                                        <td>
                                                <label class="radio">

                                                        <input type="checkbox" disabled= "disabled" name="task_list[<%= idx %>][risk_accept]" value="true" <%= "checked".html_safe if task_list['risk_accept'] == true %> />
                                                        <span></span>
                                                </label>
                                        </td>


                                        <td>
                                                <label class="radio">
                                                
                                                        <input type="checkbox" disabled= "disabled" name="task_list[<%= idx %>][risk_avert]" value="true" <%= "checked".html_safe if task_list['risk_avert'] == true %> />
                                                        <span></span>
                                                </label>
                                        </td>

                                        <td>
                                                <label class="radio">
                                
                                                        <input type="checkbox"  disabled= "disabled" name="task_list[<%= idx %>][risk_transfer]" value="true" <%= "checked".html_safe if task_list['risk_transfer'] == true %> />
                                                        <span></span>
                                                </label>
                                        </td>

                                        <td>
                                                <label class="radio">
                                                
                                                <input type="checkbox"  disabled= "disabled" name="task_list[<%= idx %>][risk_control]" value="true" <%= "checked".html_safe if task_list['risk_control'] == true %> />
                                                <span></span>
                                                </label>
                                        </td>


                                        <td>
                                        <%= task_list['title_activity_control'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %>
                                        </td>


                                        <td align="center">
                                                <label class="radio">
                                                <input type="radio" disabled name="task_list[<%= idx %>][existing_manage]" value="enough" <%= "checked".html_safe if task_list['existing_manage'] == 'enough' %> />
                                                <span></span>
                                                </label>
                                        </td>

                                        <td align="center">
                                                <label class="radio">
                                                <input type="radio" disabled name="task_list[<%= idx %>][existing_manage]" value="fair" <%= "checked".html_safe if task_list['existing_manage'] == 'fair' %> />
                                                <span></span>
                                                </label>
                                        </td>

                                        <td align="center">
                                                <label class="radio">
                                                <input type="radio" disabled name="task_list[<%= idx %>][existing_manage]" value="adjust" <%= "checked".html_safe if task_list['existing_manage'] == 'adjust' %> />
                                                <span></span>
                                                </label>
                                        </td>

                                        <td>
            
                                                <%= task_list['task_list_controls'][0]['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %>
                                        </td>


                                </tr>

                        <% end %>
                <% end %>
                <% end %>
        
        <% end %>

  </table>
  </div>

<!-- ===========Start Signature === -->

<% @category['data']['plan_reports'].each do |plan_report| %>
        
        <% plan_report['risk_analysis_reports'].each do |risk_analysis_report| %>
               <% risk_analysis_report['task_plan_reports'].each do |task_plan_report| %>
<%
                task_plan_report['task_plan_report_users'].each do |task_plan_report_user|
                        
                        case task_plan_report_user['user_role']['title_slug']
                          when 'editor-head'
                            #check สถานะการ Approve ของ editor-head ถ้า Approved ให้แสดงข้อมูลชื่อและลายเซ็นต์
                            if task_plan_report_user['user_role']['title_slug'] == 'editor-head' && task_plan_report_user['status'] == 'approved'
                         
                            @head = "#{(task_plan_report_user['user']['firstname'] rescue nil)} #{(task_plan_report_user['user']['lastname'] rescue nil)}"
                            @head_sign = "#{(task_plan_report_user['user']['file_url_thumbnail'] rescue nil)}"
                            @position_sign = "#{(task_plan_report_user['user_role']['title']rescue nil)}"
                            else
                              @head = ""
                              @head_sign = ""
                              @position_sign = ""
                            end 
                  
                            when 'editor'
                  
                             #check สถานะการ Approve ของ editor ถ้า Approved ให้แสดงข้อมูลชื่อและลายเซ็นต์
                            if task_plan_report_user['user_role']['title_slug'] == 'editor' && task_plan_report_user['status'] == 'approved'
                          
                              @editor = "#{(task_plan_report_user['user']['firstname'] rescue nil)} #{(task_plan_report_user['user']['lastname'] rescue nil)}"
                              @editor_sign = "#{(task_plan_report_user['user']['file_url_thumbnail'] rescue nil)}"
                              @position_sign = "#{(task_plan_report_user['user_role']['title']rescue nil)}"
                          
                               else
                            @editor = ""
                            @editor_sign = ""
                            @position_sign = ""
                              end 
                  
                          end
                       end
%>
                <% end %>

        <% end %>
<% end %>



  <div id="signature" class="d-flex align-items-center justify-content-center">

  <div class="min-w-300px">

  </div>

  <div class="min-w-300px" style="margin-top: 100px">

  </div>



  <div class="min-w-300px">
  <%= render partial: '/share/block_signature', locals:{ image: "#{@head_sign rescue nil}", fullname: "#{@head rescue nil}", position: "#{@position_sign rescue nil}"} %>

  </div>
</div>


  
<!-- End RM-2 -->

<!-- Start Evaluate Control Report -->

                <div class="text-muted text-end mt-15">แบบฟอร์ม ปค. 5</div>
                <h1 class="text-center my-6"> แบบรายงานการประเมินผลการควบคุมภายใน(แบบ ปค. 5)</h1>
                <h2 class="text-center my-6"> กรมคุ้มครองสิทธิและเสรีภาพ</h2>
                <h2 class="text-center my-6"> รายงานการประเมินผลการควบคุมภายใน</h2>

                <h2 class="text-center my-6"> สำหรับระยะเวลาการดำเนินงานสิ้นสุด <%= convert_thai_date(@category['data']['plan']['master_plan']['enddate'],'default')  rescue nil %></h2>


                <div class="table-responsive py-5">
                <table id="items" class="table table-bordered" style="text-left">
                  <thead style="width:auto;text-align:center; background-color: #d9dbff;">
                     <tr valign="middle" >
                      <th style="width: 35%;">ภารกิจตามกฎหมายที่จัดตั้งหน่วยงานของรัฐหรือภารกิจตามแผนการดำเนินการหรือภารกิจอื่นๆ ที่สำคัญของหน่วยงานของรัฐ/วัตถุประสงค์</th>
                      <th style="width: 15%;">ความเสี่ยง</th>
                      <th style="width: 10%;">การควบคุมภายในที่มีอยู่</th>
                      <th style="width: 10%;">การประเมินผลการควบคุมภายใน</th>
                      <th style="width: 10%;">ความเสี่ยงที่ยังมีอยู่</th>
                      <th style="width: 10%;">การปรับปรุงการควบคุมภายใน</th>
                      <th style="width: 10%;">หน่วยงานที่รับผิดชอบ/กำหนดเสร็จ</th>
                    </tr>
                  </thead>

                  <% @category['data']['plan_reports'].each do |plan_report| %>
                        <% plan_report['risk_analysis_reports'].each do |risk_analysis_report| %>
                                <% risk_analysis_report['task_plan_reports'].each do |task_plan_report| %>

                                        <% task_plan_report['evaluate_control_reports'].each do |evaluate_control_report| %>
                                                
                                                <tr>
                                                <td colspan="7">
                                                  <b><%= category['data']['institution']['title'] rescue nil %></b>
                                                  
                                                </td>
                                              </tr>
                                              <tr>
                                              <td colspan="7">
                                                <b><%= category['data']['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></b>
                                                
                                              </td>
                                            </tr>

                                            <tr>
                                            <td colspan="7">
                                              <b>วัตถุประสงค์ </b><br>
                                              
                                              <% category['data']['category_objectives'].sort_by{|i| i['order_sort'].to_i}.each do |category_objective| %>
                                                <p class="mb-3"><%= category_objective['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></p>
                                               
                                               <% end %>
                                            </td>
                                          </tr>

                                         
   
                           
                                  <% evaluate_control_report['evaluate_controls'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |evaluate_control, idx| %>

                         
                                        <tr valign="top">
                                        <td>
                                        <% if !evaluate_control['task_list'].blank? %>
            <% evaluate_control['task_list']['list']['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity,idx| %>
              <h6 class=""><%= list_activity['title'] rescue nil %></h6>
              <p class="mb-3"><%= list_activity['description'] rescue nil %></p>
              <% end %>
             <% end %>
                                        </td>
                                        <td>
                                        <!-- ความเสี่ยง -->
                                        <% if !evaluate_control['task_list'].blank? %>
                                       <% evaluate_control['task_list']['list']['list_risks'].sort_by{|i| i['order_sort'].to_i}.each do |list_risk| %>
                                       
                                         <p class="mb-3"><%= list_risk['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></p>
                                         <% end %>
                                        <% end %>
                                       </td>
                                        <td>
                                        <!-- การควบคุมภายในที่มีอยู่ -->
                                        <% if !evaluate_control['task_list'].blank? %>
                                        <ul style="list-style-type: none">
                                        <%= evaluate_control['task_list']['title_activity_control'] rescue nil %>
                                        <% evaluate_control['task_list']['list']['list_risks'].sort_by{|i| i['order_sort'].to_i}.each do |list_risk| %>
                            
                                                  <li><%= list_risk['title_activity_control'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></li>
                                              
                                        <% end %>
                                        </ul>
                                      <% end %> 
                                        </td>
                            
                                        <td>
   
                                        <%= get_existing_manage(evaluate_control['task_list']['existing_manage']) rescue nil  %>
                                               
                                        </td>
                                   
                                  
                            
                                        <!-- ความเสี่ยงที่ยังมีอยู่ -->
                                        <td>
                                        <% if !evaluate_control['task_list'].blank? %>
                                        <% evaluate_control['task_list']['list']['list_activities'].each do |la|  %>
                                          <p class="mb-3"><%= la['title'] rescue nil %></p>
                                          <p class="mb-3"><%= la['description'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></p>
                                        <% end %>
                                        <% end %>
                                        </td>
                                        
                                       <!-- การปรับปรุงการควบคุมภายใน -->
                                        <td>
                                        <% if !evaluate_control['task_list'].blank? %>
                                        <% evaluate_control['task_list']['task_list_controls'].each do |task_list_control|  %>
                                          <p class="mb-3"><%= task_list_control['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></p>
                                        <% end %>
                                        <% end %>
                                      </td>
                            
                                      <td>
         
                                      <%= evaluate_control['title'] rescue nil  %>
                                      <center><label> / </label></center>
                                      <%= convert_thai_date(evaluate_control['successdate'], 'default') rescue nil %>

                                                </td>
                                        
                                        </tr>
                                      
                                       <% end %>  <!-- end evaluate_control_report -->

                                        <% end %>   <!-- end task_plan_report -->
                                <% end %>   <!-- end risk_analysis_report -->
                        <% end %> <!-- end plan_report -->
                  <% end %> <!-- end category -->


                 </table>
                </div> <!-- End Table-Responsive Py_5 -->

                <% @category['data']['plan_reports'].each do |plan_report| %>
                        <% plan_report['risk_analysis_reports'].each do |risk_analysis_report| %>
                                <% risk_analysis_report['task_plan_reports'].each do |task_plan_report| %>
                                        <% task_plan_report['evaluate_control_reports'].each do |evaluate_control_report| %>


<%
        
             #   if params['print'] == true 

                        #render find by position
                        evaluate_control_report['evaluate_control_report_users'].each do |evaluate_control_report_user|
                        
                          case evaluate_control_report_user['user_role']['title_slug']
                            when 'editor-head'
                              #check สถานะการ Approve ของ editor-head ถ้า Approved ให้แสดงข้อมูลชื่อและลายเซ็นต์
                              if evaluate_control_report_user['user_role']['title_slug'] == 'editor-head' && evaluate_control_report_user['status'] == 'approved'
                           
                              @head = "#{(evaluate_control_report_user['user']['firstname'] rescue nil)} #{(evaluate_control_report_user['user']['lastname'] rescue nil)}"
                              @head_sign = "#{(evaluate_control_report_user['user']['file_url_thumbnail'] rescue nil)}"
                              @position_sign = "#{(evaluate_control_report_user['user_role']['title']rescue nil)}"
                              else
                                @head = ""
                                @head_sign = ""
                                @position_sign = ""
                              end 
                    
                              when 'editor'
                    
                               #check สถานะการ Approve ของ editor ถ้า Approved ให้แสดงข้อมูลชื่อและลายเซ็นต์
                              if evaluate_control_report_user['user_role']['title_slug'] == 'editor' && evaluate_control_report_user['status'] == 'approved'
                            
                                @editor = "#{(evaluate_control_report_user['user']['firstname'] rescue nil)} #{(evaluate_control_report_user['user']['lastname'] rescue nil)}"
                                @editor_sign = "#{(evaluate_control_report_user['user']['file_url_thumbnail'] rescue nil)}"
                                @position_sign = "#{(evaluate_control_report_user['user_role']['title']rescue nil)}"
                            
                                 else
                              @editor = ""
                              @editor_sign = ""
                              @position_sign = ""
                                end 
                    
                            end
                         end
               # end
%>
                        <% end %> <!-- end evaluate_control_report -->
                <% end %> <!-- end task_plan_report -->
        <% end %>  <!-- end risk_analysis_report -->
<% end %> <!-- end plan_report -->


        <div id="signature" class="d-flex align-items-center justify-content-center">

                <div class="min-w-300px">
   
                </div>

                <div class="min-w-300px" style="margin-top: 100px">
    
                </div>

                <div class="min-w-300px">
                <%= render partial: '/share/block_signature', locals:{ image: "#{@head_sign rescue nil}", fullname: "#{@head rescue nil}", position: "#{@position_sign rescue nil}"} %>
    
                </div>
        </div>

<!-- End  Evaluate Control Report -->





<!-- Start Follow Up Control Report -->

<% @category['data']['plan_reports'].each do |plan_report| %>
        <% plan_report['risk_analysis_reports'].each do |risk_analysis_report| %>
                <% risk_analysis_report['task_plan_reports'].each do |task_plan_report| %>
                        <% task_plan_report['evaluate_control_reports'].each do |evaluate_control_report| %>
                                <% evaluate_control_report['follow_up_control_reports'].each do |follow_up_control_report| %>

                                        <div class="text-muted text-end mt-15">แบบฟอร์ม ติดตาม ปค. 5</div>
                                        <h1 class="text-center"> รายงานผลการติดตามการประเมินผลการควบคุมภายใน <br>หน่วยงาน : <%= @category['data']['institution']['title'] rescue nil %></h1>
                                
                                        <div class="text-center">
                                        สำหรับงวดตั้งแต่วันที่ <%= convert_thai_date(follow_up_control_report['period_report']['startdate'],'default') rescue nil %> ถึง <%= convert_thai_date(follow_up_control_report['period_report']['enddate'],'default') rescue nil %>
                                        </div>
                                    
  



                                        <div class="table-responsive py-5">
                                                <table id="items" class="table table-bordered" style="text-left">
                                                        <thead style="width:auto;text-align:center; background-color: #d9dbff;">
                                                                <tr valign="middle" >
                                                                        <th>ภารกิจตามกฎหมายที่จัดตั้งหน่วยงานของรัฐหรือภารกิจตามแผนการดำเนินการ หรือภารกิจอื่นๆ ที่สำคัญของหน่วยงานของรัฐ/วัตถุประสงค์์</th>
                                                                        <th>ความเสี่ยงที่ยังมีอยู่</th>
                                                                        <th>การปรับปรุงการควบคุม</th>
                                                                        <th>กำหนดเสร็จ/ผู้รับผิดชอบ</th>
                                                                        <th>สถานะการดำเนินการ</th>
                                                                        <th>วิธีการติดตามและสรุปผลการปฏิบัติตามแผนการปรับปรุง</th>
                                                                      
                                                                </tr>
                                                        </thead>

                                                                <tr>
                                                                        <td colspan="7">
                                                                                <b><%= @category['data']['title'] rescue nil %></b>
                                                                        </td>
                                                                </tr>
                                                                <tr>
                                                                <td colspan="7">
                                                                
                                                                  <b>วัตถุประสงค์ </b><br>
                                                                  <p><%= @category['data']['strategic_issue']['title'] rescue nil %></p>
                                                                </td>
                                                              </tr>

                                                              <!-- เขียนใหม่  -->
        
                                                              <% follow_up_control_report['evaluate_control_report']['evaluate_controls'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |evaluate_control,idx| %>
                                                             
                                                                <% 
                                                                url = URI("#{$server[@controller_title]}/api/v1/task_lists/get_by_list/#{evaluate_control['list']['id']}")
                                                                task_lists = request_api(url,'get',nil) 
                                                                %>

                                                                <%# if task_lists['data']['existing_manage'] == "adjust" %>
                                                
                                                                <tr valign="top">
                                                                        <td>
                                                        
                                                                
                                                                        <% evaluate_control['list'].each_with_index do |temm, ldx| %>
                                                                    
                                                                                <% if !evaluate_control['list']['list_activities'][ldx].blank? %>
                                                                                        <input type="hidden" name="follow_up_control_history[<%= idx %>][id]" class="form-control" value="<%= evaluate_control['follow_up_control_histories'][ldx]['id'] rescue nil %>">
                                                                                        <p><b><%= evaluate_control['list']['list_activities'][ldx]['title'] rescue nil %></b></p>
                                                                                        <p><%= evaluate_control['list']['list_activities'][ldx]['description'] rescue nil %></p>
                                                                                <% end %>
                                                                        <% end %>
                                                                
                                                                        </td>


            <td>
         
            <% evaluate_control['list'].each_with_index do |temm, ldx| %>
              <% if !evaluate_control['list']['list_activities'][ldx].blank? %>
                  <p><b><%= task_lists['data']['list']['list_activities'][ldx]['title'] rescue nil %></b></p>
                  <p><%= task_lists['data']['list']['list_activities'][ldx]['description'] rescue nil %></p>
              <% end %>
            <% end %>
      
        </td>
        
        <td>
       
        <%= evaluate_control['task_list']['title_activity_control'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %>
         
        </td>

        <td>
            <% if !task_lists['data'].blank? %>
            
                  <center><%= convert_thai_date(evaluate_control['successdate'],'default') rescue nil %></center>
                  <center><label>/</label></center>
                  <center><%= evaluate_control['title'] rescue nil %></center>
            <% end %>
        </td>

        <td class="text-center">


            <%= get_status_tasks_sign(follow_up_control_report['follow_up_control_histories'][idx]['status']) rescue nil %>

       
       </td>

       <td>


       <% if !task_lists['data'].blank? %>
        <% follow_up_control_report['follow_up_control_histories'][idx]['follow_up_summaries'].each do |follow_up_summary| %>

          <li style="list-style-type: none"><%= follow_up_summary['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
          
    <% end %>
    <% end %>
       </td>


                                                                </tr>
                                                                <%# end %> <!-- end if -->
                                                                <% end %> <!-- end follow_up_control_report -->
                                                </table>  
                                        </div> <!-- end table-responsive py-5 -->
<!-- หมายเหตุ -->


<div class="py-5">
<b class="fs-5 py-5">สถานะการดำเนินการ</b>
<table class="table table-bordered my-5 w-50">
    <tr>
        <th class="w-100px"><span class='badge badge-success fs-2'>*</span></th>
        <td> =  ดำเนินการแล้ว เสร็จตามกำหนด</td>
    </tr>
    <tr>
        <th><span class='badge badge-light-success fs-2'>√</span></th>
        <td> =  ดำเนินการแล้ว เสร็จล่าช้ากว่ากำหนด</td>
    </tr>
    <tr>
        <th><span class='badge badge-light fs-2'>X</span></th>
        <td> =  ยังไม่ดำเนินการ</td>
    </tr>
    <tr>
        <th><span class='badge badge-warning fs-2'>Ɵ</span></th>
        <td> =  อยู่ระหว่างดำเนินการ</td>
    </tr>
</table>
</div>


<!-- จบ หมายเหตุ -->
                                <% end %> <!-- end evaluate_control_report %>
                        <% end %> <!-- end task_plan_report -->
                <% end %> <!-- end risk_analysis_report -->
        <% end %> <!-- end plan_report -->
<% end %>  <!-- end category -->

<!-- End Follow Up Control Report -->

<div class="separator separator-dashed separator-border-2 my-10"></div>
<% end %>  <!-- end category && !@category['data'].blank? -->



