<%
#init
back_url = "/#{@controller_main_url}/plans/#{@category['data']['plan_id']}" rescue "/#{@controller_main_url}/master_plans"
%>

<div class="container-fluid">
  <div class="noprint d-flex justify-content-end">
    
    <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
    <% end %>

    <%= render '/share/block_btn_export', item: @plan, title: 'plan' %>
  </div>


  <div id="export_content" class="">
    <div class="landscape_A4_page">





      <%= render 'show', category: @category %>






    </div>
  </div> <!-- end id export_content -->



</div>
