<!--begin::Kt_content-->
<div class="container-fluid">
      <!--begin::Header-->
        <div class="row">
            <div class="col">
                  <div class="float-start">
                        <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:edit) %><%= t(:indicator_type) %></h2>
                  </div>
            <div class="col">
              <div class="float-end">
                    <%= link_to "/#{@controller_title}/fl_kpis", class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i></i> <%= t(:back) %> </i> <% end %>
              </div>
            </div>
       </div>
      <!--end:Header-->
      <!--begin:Content-->
       <div class="row">
            <div class="col">
                   <div class="card-show">
                        <%= form_for('fl_kpi', url: "/#{@controller_title}/fl_kpis/#{@datas['data']['id']}" , method: :patch) do |f| %>
                        <div class="row">


                        <div class="col-11 mt-5 ms-5">
                        <label for="" class="form-label"> <h5> <%= t(:order_sort) %> <span class="text-danger"></span> </h5></label>
                        <%= f.number_field :order_sort, min: 1, class: "form-control w-50", placeholder: t(:order_sort), value: (@datas['data']['order_sort'] rescue nil) %>
                        </div>
                        
                              <div class="col-11 mt-5 ms-5">

                                  <label for="" class="form-label"> <h5> <%= t(:indicator_type) %> <span class="text-danger">*</span> </h5></label>
                                    <%= f.text_field :title, class: "form-control", required: true, placeholder: t(:title), value: @datas['data']['title'] rescue nil %>
                              </div>

                              <div class="col-11 mt-5 ms-5">
                                    <label for="" class="form-label"> <h5> <%= t(:primary) %> <span class="text-danger">*</span> </h5></label>
                                    <span class="switch">
                                      <label>
                                          <%= f.check_box :primary, {checked: (@datas['data']['primary'] rescue nil)}, 'true', 'false' %>
                                          <span></span>
                                      </label>
                                     </span>
                                </div>

                              <div class="col-11 mt-5 ms-5 mb-5">
                              <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
                                    <!--button:content-->
                                    <%= f.submit t('saves'), class: "btn btn-info" %></div>
                              </div>
                        </div>


                   <% end %>
                   </div>
            </div>
      </div>
      <!--end:Content-->
</div>
<!--end::Kt_content-->
