<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
back_url = "/#{@controller_main_url}/plans/#{@plan_report['data']['category']['plan_id']}"

$risk_management_report_user_status = nil

@plan_report['data']['risk_analysis_reports'].each do |risk_analysis_report|
risk_analysis_report['task_plan_reports'].each do |task_plan_report|
task_plan_report['risk_management_reports'].each do |risk_management_report|
    risk_management_report['risk_management_report_users'].each do |risk_management_report_user|
    if risk_management_report_user['user_role']['slug'] == 'approver'  && risk_management_report_user['status'] == 'approved' 
       $risk_management_report_user_status = risk_management_report_user['status']

       

   end
 end 
end
end
end
%>


<div class="container-fluid">


    <div class="text-end">
        <%= link_to back_url, class: 'noprint btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %><% end %>

        <!-- add export -->
        <%= render '/share/block_btn_export', item: @plan_report, title: 'plan_report' %>
        <!-- end add export -->

    </div>



    <%= form_for('plan_report', url: "/#{gen_form[0]}/plan_reports#{gen_form[1]}" , method: gen_form[2]) do |f| %>


    <%= hidden_field_tag :original_url, params[:original_url] %>





    <!-- add export -->
    <div id="export_content" class="">
    <div class="landscape_A4_page">
    <!-- end add export -->   











    <!--begin 2.การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน -->
    <!--begin 2.การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน -->
    <div class="text-muted text-end mt-15"> แบบฟอร์ม RLPD RM-1</div>
    <h1 class="text-center"> การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน</h1>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">หน่วยงาน : <%= @plan_report['data']['category']['institution']['title'] rescue nil %></h2>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">ประเด็นยุทธศาสตร์ : <%=@plan_report['data']['category']['strategic_issue']['title'] rescue nil %></h2>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : <%= @plan_report['data']['category']['title'] rescue nil %></h2>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน :</h2>

    <ul>
      <% @plan_report['data']['category']['category_objectives'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category_objective, idx| %>
          <li><%=  category_objective['title'] rescue nil %> </li>
      <% end %>
    </ul>


    <div class="table-responsive py-5">
      <table id="items" class="table table-bordered" style="text-left">
        <thead style="width:auto;text-align:center; background-color: #d9dbff;">
          <tr valign="middle">
            <th>กิจกรรม</th>
            <th>วัตถุประสงค์</th>
            <th>ความเสี่ยง</th>
            <th>ปัจจัยเสี่ยง</th>
            <th>รหัสปัจจัยเสี่ยง</th>
            <th>ประเภทความเสี่ยง</th>
            <th colspan=4>การวิเคราะห์ความเสี่ยง</th>
            <th class="noprint"></th>
          </tr>

          <tr valign="middle">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>โอกาส</th>
            <th>ผลกระทบ</th>
            <th>คะแนนความเสี่ยง</th>
            <th>ลำดับความเสี่ยง</th>
            <th class="noprint"></th>
          </tr>
        </thead>



        <% @plan_report['data']['tasks'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |task,idx| %>
          <input type="hidden" name="plan_report[tasks_attributes][<%= idx %>][id]" class="form-control" value="<%= task['id'] rescue nil %>">

          <input type="hidden" name="plan_report[tasks_attributes][<%= idx %>][plan_report_id]" class="form-control" value="<%= task['plan_report_id'] rescue nil %>">
          <input type="hidden" name="plan_report[tasks_attributes][<%= idx %>][category_id]" class="form-control" value="<%= task['list']['category_id'] rescue nil %>">
          <tr valign="top">
            <td>
                <% if !task['list'].blank? %>
                    <% task['list']['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                        <h6 class=""><%= list_activity['title'] %></h6>
                        <p class="mb-3"><%= list_activity['description'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></p>
                    <% end %>
                <% end %>
            </td>
            <td>
                <ul style="list-style-type: none">
                    <% if !task['list'].blank? %>
                        <% task['list']['list_objectives'].sort_by{|i| i['order_sort'].to_i}.each do |list_objective| %>
                        <li><%= list_objective['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></li>
                        <% end %>
                    <% end %>
                </ul>
            </td>
            <td>
                <ul style="list-style-type: none">
                    <% if !task['list'].blank? %>
                        <% task['list']['list_risks'].sort_by{|i| i['order_sort'].to_i}.each do |list_risk| %>
                        <li><%= list_risk['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></li>
                        <% end %>
                    <% end %>
                </ul>
            </td>
            <td>
                <ul style="list-style-type: none" >
                    <% if !task['list'].blank? %>
                        <% task['list']['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each do |list_risk_factor| %>
                        <li><%= list_risk_factor['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></li>
                        <% end %>
                    <% end %>
                </ul>
            </td>
             <td>
             <ul style="list-style-type: none">
                    <% if !task['list'].blank? %>
                        <% task['list']['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each do |list_risk_factor| %>
                        <li><%= list_risk_factor['list_code'] rescue nil %></li>
                        <% end %>
                    <% end %>
                </ul>
            </td>
            <td>
            <ul style="list-style-type: none">
                    <% if !task['list'].blank? %>
                    <% task['list']['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each do |list_risk_factor| %>
                        <% list_risk_factor['list_risk_types'].sort_by{|i| i['order_sort'].to_i}.each do |list_risk_type| %>
                        <li><%= list_risk_type['risk_type']['title'] rescue nil %></li>
                        <% end %>
                        <% end %>
                    <% end %>
                </ul>
            </td>

            <td align="center">
            <ul style="list-style-type: none">
            <% if !task['list'].blank? %>
            <% task['list']['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each do |list_risk_factor| %>
                <li><b><%= list_risk_factor['risk_chance'] rescue nil  %></b></li>
            <% end %>
            <% end %>
            </ul>
            </td>

            <td align="center">
            <ul style="list-style-type: none">
            <% if !task['list'].blank? %>
            <% task['list']['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each do |list_risk_factor| %>
            <li><b><%= list_risk_factor['risk_effect'] rescue nil %></b></li>
            <% end %>
            <% end %>
            </ul>
            </td>


            <td align="center">
            <ul style="list-style-type: none">
            <% if !task['list'].blank? %>
            <% task['list']['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each do |list_risk_factor| %>
           <li><b><%= list_risk_factor['risk_score_cal'] rescue nil %></b></li>
            <% end %>
            <% end %>
            </ul>
            </td>

            <td align="center">
            <ul style="list-style-type: none">
            <% if !task['list'].blank? %>
            <% task['list']['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each do |list_risk_factor| %>
            <% if list_risk_factor['risk_score_cal'].present? %>
           <li><b><%= list_risk_factor['risk_score'] rescue nil %></b></li>
           <% end %>
            <% end %>
            <% end %>
            </ul>
            </td>
        
      
            <%= @plan_report['data']['category']['plan']['master_plan_id'] %>
            <td align="center" class="noprint">
            <% if $risk_management_report_user_status != 'approved' %>
              <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'u' ,master_plan_id: @plan_report['data']['category']['plan']['master_plan_id'], model_name: 'lists', model_title: nil, id: task['list_id'], params: "original_url=#{request.path}"} %>
              
 

            <% end %>
                               <% if !task['list'].blank? %>
                        <% task['list']['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each do |list_risk_factor| %>
                      
                            <span class="badge badge-pill badge-light"><%= convert_thai_date(list_risk_factor['updated_at'],'long') %></span>
                        <% end %>
                    <% end %>
              </td>

          </tr>

          <% end %>

      </table>
    </div>


    <!--end   2.การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน -->
    <!--end   2.การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน -->


    <div class="text-gray-800 mt-5"><b>โอกาส : </b> คะแนน 1 คือ น้อยมาก , คะแนน 2 คือ น้อย, คะแนน 3 คือ ปานกลาง, คะแนน 4 คือ สูง, คะแนน 5 คือ สูงมาก</div>
    <div class="text-gray-800 "><b>ผลกระทบ :  </b> คะแนน 1 คือ น้อยมาก, คะแนน 2 คือ น้อย, คะแนน 3 คือ ปานกลาง, คะแนน 4 คือ สูง, คะแนน 5 คือ สูงมาก</div>

    <%#= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
  


    









    <!-- add export -->
    </div>
    </div>
    <!-- end add export -->   








<% end #end form %>  


</div>