<div class="container-fluid">

    <div class="d-flex justify-content-between"> 
        <div class="w-75 d-flex">
            <h1>รายงานผลการดำเนินงาน</h1>
        </div>

        <div class="d-flex justify-content-between mx-2">

            <%= link_to "/#{@controller_title}/pages/dashboards/", class: 'align-self-center btn btn-lg btn-light mx-1' do %> 
                <i class="fa-solid fa-angle-left mx-2"></i> <%= t(:back) %>
            <% end %>

            

         </div>


    </div>





    <div class="card-show">

    <div class="row">



        




            <% if @plan_reports && !@plan_reports['data'].blank? %>
                <% @plan_reports['data'].each do |item| %>
                <div class="col-sm-12 col-md-6">
                    <% if !item.blank? %>
                        <%= render partial: '/share/card_item_center', locals:{ model_name: 'plan_report', item: item } %>
                    <% end %>
                </div>
                <% end %>
            <% end %>








        </div>










    </div>











</div>
<!--end::Kt_content-->