<%
#init
params['master_plan_id'] = @datas['data']['master_plan_id'] if @datas && !@datas['data'].blank?

back_url = "/#{@controller_main_url}/master_plans/"
back_url = "/#{@controller_main_url}/master_plans/#{@plan['data']['master_plan_id']}" rescue nil

%>

<div class="container-fluid">
        <div class="row">
            <div class="col"> 
                  <div class="float-start">
                        <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i>การจัดการบริหารความเสี่ยงโครงการ</h2> 
                  </div>
            <div class="col">
              <div class="float-end">  
                  <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
                  <% end %>
              </div> 
            </div>
       </div>


      <%= render 'form' %>


</div>
