<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
%>


<div class="container-fluid">


    <div class="text-end">
        <%= link_to "#{back_url}", class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
                    <% end %>
    </div>

<!--begin 5.แบบรายงานการประเมินผลการควบคุมภายใน -->
                        <!--begin 5.แบบรายงานการประเมินผลการควบคุมภายใน -->
             <h1 class="text-center mt-15"> แบบฟอร์ม ปค. 5 <br></h1>
                <h1 class="text-center"> รายงานการประเมินผลการควบคุมภายใน <br>หน่วยงาน : กลุ่มพัฒนาระบบบริหาร </h1>
                   <h2 class="text-center text-gray-800 fw-bolder fs-6 mt-5">สำหรับระยะเวลาการดำเนินงานสิ้นสุด 30 กันยายน 2565 </h2>


                     <div class="table-responsive py-5">
                          <table id="items" class="table table-bordered" style="text-left">
                                    <thead style="width:auto;text-align:center; background-color: #d9dbff;">
                              <tr valign="middle" >
                                <th>ภารกิจตามกฎหมายที่จัดตั้งหน่วยงานของรัฐหรือภารกิจตามแผนการดำเนินการหรือภารกิจอื่นๆ ที่สำคัญของหน่วยงานของรัฐ/วัตถุประสงค์</th>
                                <th>ความเสี่ยง</th>
                                <th>การควบคุมภายในที่มีอยู่</th>
                                <th>การประเมินผลการควบคุมภายใน</th>
                                <th>ความเสี่ยงที่ยังมีอยู่</th>
                                <th>การปรับปรุงการควบคุมภายใน</th>
                                <th>หน่วยงานที่รับผิดชอบ/กำหนดเสร็จ</th>
                              </tr>
                            </thead>
                                <tr>
                                  <td colspan="7">
                                    <b>กระบวนงานการจัดวางระบบการควบคุมภายใน</b>
                                  </td>
                              </tr>
                                <thead style="width:auto;"></thead>

                             <tr valign="top">
                                <td> <b>วัตถุประสงค์ </b>เพื่อให้ความมั่นใจอย่างสมเหตุสมผลว่าการดำเนินงานจะบรรลุวัตถุประสงค์และเป้าหมาย </td>
                                <td></td>
                                <td></td>
                                <td>ไม่เพียงพอ</td>
                                <td><b>ขั้นตอนที่ 1 </b> จัดทำร่างแผนการจัดวางระบบการควบคุมภายใน ประจำปี พศ 2565</td>
                                <td>มีที่ปรึกษาในการจัดทำแผนฯ</td>
                                <td>31 ธ.ค. 2565 หน. กพร.</td>
                             </tr>
                               <tr valign="top">
                                <td> <b>ขั้นตอนที่ 1 </b>จัดทำร่างแผนการจัดวางระบบการควบคุมภายใน ประจำปี พศ 2565 </td>
                                <td>ไม่ได้ร่างแผนฯ ที่สมบูรณ์</td>
                                <td>
                                    <ui>
                                        <li>การจัดทำคู่มือ
                                        </li>
                                        <li>การจัดฝึกอบรม
                                        </li>
                                    </ui>

                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                             </tr>
                            <tr valign="top">
                                <td> <b>ขั้นตอนที่ 2 </b>เสนอแผนฯให้อธิบดีเห็นชอบและลงนามภายในระยะเวลาที่กำหนด </td>
                                <td>ไม่สามารถเสนอแผนฯได้ทันภายในระยะเวลาที่กำหนด</td>
                                <td>
                                    <ui>
                                        <li>การจัดประชุมในรูปแบบออนไลน์
                                        </li>
                                        <li>ประสานหน้าห้องขอข้อมูลวันว่างท่านอธิบดีฯ
                                        </li>
                                    </ui>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                             </tr>
                             <tr valign="top">
                                <td> <b>ขั้นตอนที่ 3 </b>เผยแพร่แผน</td>
                                <td>การเผยแพร่ประชาสัมพันธ์ ยังไม่ทั่วถึง</td>
                                <td>
                                     <ui>
                                        <li>กำหนดระยะเวลาในการเสนอแผนฯ ที่ชัดเจน
                                        </li>
                                        <li>เพิ่มช่องทางการประชาสัมพันธ์ เช่น กลุ่มไลน์, การจัดทำเป็นคิวอาร์โค้ด, ช่องทางสื่อ Social
                                        </li>
                                        <li>ทำหนังสือเพื่อกำหนดส่งผลการดำเนินการ
                                        </li>
                                        <li>การประสานผ่านทาง ไลน์
                                        </li>
                                    </ui>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                             </tr>
                             <tr valign="top">
                                <td> <b>ขั้นตอนที่ 4 </b>รายงานผล</td>
                                <td>การรายงานผลล่าช้า</td>
                                <td>
                                    <ui>
                                        <li>การประสานผ่านทางโทรศัพท์
                                        </li>
                                        <li>การทำหนังสือแจ้งเตือน
                                        </li>
                                        <li>กำหนดให้มีผู้รายงานแทนกันเพิ่ม
                                        </li>
                                    </ui>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                             </tr>

                          </table>

                        <div class="text-gray-800 mt-5"><b>ผลการประเมินโดยรวม  : </b> ผลการดำเนินงานอยู่ในเกณฑ์</div>

                      </div>


                        <!--end   5.แบบรายงานการประเมินผลการควบคุมภายใน -->
                        <!--end   5.แบบรายงานการประเมินผลการควบคุมภายใน -->




<%#= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
<%= link_to "/risk/master_plans/CA5B96D3-BB67-4276-A02E-52BFF5C66E11", class: "btn btn-lg btn-info mx-2" do %>
    <%= t(:saves) %>
<% end %>




</div>
