<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
%>


<div class="container-fluid">


    <div class="text-end">
        <%= link_to "#{back_url}", class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
                    <% end %>
    </div>

    <!--begin 4.การประเมินผลการควบคุมและการจัดการความเสี่ยงโครงการ -->
    <!--begin 4.การประเมินผลการควบคุมและการจัดการความเสี่ยงโครงการ -->
<div class="text-muted text-end mt-15"> แบบฟอร์ม RLPD RM-2</div>
<h1 class="text-center"> การประเมินผลการควบคุมและการจัดการความเสี่ยงโครงการ <br>หน่วยงาน : กลุ่มพัฒนาระบบบริหาร </h1>
<h2 class="text-gray-800 fw-bolder fs-6 mt-10">ประเด็นยุทธศาสตร์ : ยกระดับสมรรถนะบุคลากรและพัฒนาระบบบริหาร </h2>
<h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : การจัดวางระบบการควบคุมภายใน</h2>
<h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน : เพื่อให้ความมั่นใจอย่างสมเหตุสมผลว่าการดำเนินงานจะบรรลุวัตถุประสงค์และเป้าหมาย</h2>

 <div class="table-responsive py-5">
      <table id="items" class="table table-bordered" style="text-left">
        <thead style="width:auto;text-align:center; background-color: #d9dbff;">
          <tr valign="middle">
            <th>กิจกรรม</th>
            <th>รหัสปัจจัยเสี่ยง</th>
            <th>ปัจจัยเสี่ยง</th>
            <th colspan=4>กลยุทธ์ที่ใช้ </br> (ทำเครื่องหมาย ✔)</th>
            <th>กิจกรรมการควบคุมภายในหรือการจัดการที่มีอยู่ (กรณียังไม่มีให้ระบุว่า “ไม่มี”) </th>
            <th colspan=3>การจัดการที่มีอยู่</br> (ทำเครื่องหมาย ✔)</th>
            <th>การควบคุมที่ควรมี หรือ ปรับปรุง</th>
          </tr>

          <tr valign="middle">
            <th></th>
            <th></th>
            <th></th>
            <th>ยอมรับความเสี่ยง</th>
            <th>หลีกเลี่ยงความเสี่ยง</th>
            <th>ถ่ายโอนความเสี่ยง</th>
            <th>ควบคุม/ลดความเสี่ยง</th>
            <th></th>
            <th>เพียงพอ</th>
            <th>พอใช้</th>
            <th>ต้องปรับปรุง</th>
            <th></th>
          </tr>
        </thead>

          <tr valign="top">
            <td> <b>ขั้นตอนที่ 1 </b>จัดทำร่างแผนการจัดวางระบบการควบคุมภายใน ประจำปี พศ 2565 </td>
            <td>กพร/ 01-01</td>
            <td>เจ้าหน้าที่ขาดความรู้ความเข้าใจในการจัดวางระบบการควบคุมภายใน</td>
            <td align="center">
                <label class="radio">
                    <input type="radio" name="column_name_1">
                    <span></span>
                </label>
            </td>
            <td align="center">
                <label class="radio">
                    <input type="radio" name="column_name_1">
                    <span></span>
                </label>
            </td>
            <td align="center">
                <label class="radio">
                    <input type="radio" name="column_name_1">
                    <span></span>
                </label>
            </td>
            <td align="center">
                <label class="radio">
                    <input type="radio" name="column_name_1">
                    <span></span>
                </label>
            </td>
            <td>
                <ui>
                    <li>การจัดทำคู่มือ
                    </li>
                    <li>การจัดฝึกอบรม
                    </li>
                </ui>
            </td>
            <td align="center">
                <label class="radio">
                    <input type="radio" name="column_name_2">
                    <span></span>
                </label>
            </td>
            <td align="center">
                <label class="radio">
                    <input type="radio" name="column_name_2">
                    <span></span>
                </label>
            </td>
            <td align="center">
                <label class="radio">
                    <input type="radio" name="column_name_2">
                    <span></span>
                </label>
            </td>
            <td>
                <ul>
                    <li>
                        <div class="my-2">
                            มีที่ปรึกษาในการจัดทำแผนฯ(กำหนดเสร็จ 31 ธ.ค. 64 หน. กพร.) 
                        </div>

                        <a class="m-1 p-2 align-self-center btn btn-sm bg-light w-30px" href="#">
                                <i class="fas fa-edit" aria-hidden="true"></i>
                        </a>
                        <a class="m-1 p-2 align-self-center btn btn-sm bg-danger text-white w-30px" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="#">
                                <i class="fa-regular fa-trash-can text-white"></i>
                        </a>
                    </li>
                </ul>
                <hr>
                <a class="m-2 p-2  align-self-center btn btn-sm bg-primary text-white w-70px" href="#">
                        <i class="fa-solid fa-circle-plus text-white"></i> เพิ่ม
                </a>
            </td>
          </tr>

          <!--
          <tr valign="top">
            <td> </td>
            <td>กพร/ 01-02</td>
            <td>โรคระบาดไวรัสโคโรน่า ทำให้ไม่สามารถประชุมเพื่อจัดทำร่างแผนฯได้</td>
            <td></td>
            <td></td>
            <td></td>
            <td align="center"><b>✔</b></td>
            <td>การจัดประชุมในรูปแบบออนไลน์</td>
            <td align="center"><b>✔</b></td>
            <td></td>
            <td></td>
            <td align="center"><b>-</b></td>

          </tr>
          <tr valign="top">
            <td> <b>ขั้นตอนที่ 2 </b>เสนอแผนฯให้อธิบดีเห็นชอบและลงนามภายในระยะเวลาที่กำหนด </td>
            <td>กพร/ 01-03</td>
            <td> ไม่มีการกำหนดระยะเวลาเสนอแผนที่ชัดเจน</td>
            <td></td>
            <td></td>
            <td></td>
            <td align="center"><b>✔</b></td>
            <td>
                <ui>
                    <li>ประสานหน้าห้องขอข้อมูลวันว่างท่านอธิบดีฯ
                    </li>
                    <li>กำหนดระยะเวลาในการเสนอแผนฯ ที่ชัดเจน
                    </li>
                </ui>
            </td>
            <td align="center"><b>✔</b></td>
            <td></td>
            <td></td>
            <td align="center"><b>-</b></td>
          </tr>

          <tr valign="top">
            <td> <b>ขั้นตอนที่ 3 </b>เผยแพร่แผนฯ</td>
            <td>กพร/ 01-04</td>
            <td> ช่องทางการประชาสัมพันธ์ ไม่เพียงพอ ไม่เข้าถึงผู้มีส่วนเกี่ยงข้องในการดำเนินการ</td>
            <td></td>
            <td></td>
            <td></td>
            <td align="center"><b>✔</b></td>
            <td>เพิ่มช่องทางการประชาสัมพันธ์ เช่น กลุ่มไลน์, การจัดทำ ช่องทางการประชาสัมพันธ์ ไม่เพียงพอ ไม่เข้าถึงผู้มีส่วนเกี่ยงข้องในการดำเนินการ</td>
            <td align="center"><b>✔</b></td>
            <td></td>
            <td></td>
            <td align="center"><b>-</b></td>
          </tr>

          <tr valign="top">
            <td> <b>ขั้นตอนที่ 4 </b>รายงานผล</td>
            <td>กพร/ 01-05</td>
            <td> ช่องทางการประชาสัมพันธ์ ไม่เพียงพอ ไม่เข้าถึงผู้มีส่วนเกี่ยงข้องในการดำเนินการ</td>
            <td></td>
            <td></td>
            <td></td>
            <td align="center"><b>✔</b></td>
            <td>
                <ui>
                    <li>ทำหนังสือเพื่อกำหนดส่งผลการดำเนินการ
                    </li>
                    <li>การประสานผ่านทางไลน์
                    </li>
                    <li>การประสานผ่านทางโทรศัพท์
                    </li>
                    <li>การทำหนังสือแจ้งเตือน
                    </li>
                    <li>กำหนดให้มีผู้รายงานแทนกันเพิ่ม
                    </li>
                </ui>
            </td>
            <td align="center"><b>✔</b></td>
            <td></td>
            <td></td>
            <td align="center"><b>-</b></td>
          </tr>
-->

      </table>
  </div>

    <!--end   4.การประเมินผลการควบคุมและการจัดการความเสี่ยงโครงการ -->
    <!--end   4.การประเมินผลการควบคุมและการจัดการความเสี่ยงโครงการ -->


<%#= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
<%= link_to "#", class: "btn btn-lg btn-info mx-2" do %>
    <%= t(:saves) %>
<% end %>



</div>