<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
%>

<div class="container-fluid">


  <!--begin 5.แบบรายงานการประเมินผลการควบคุมภายใน -->
                          <!--begin 5.แบบรายงานการประเมินผลการควบคุมภายใน -->
              <div class="text-muted text-end mt-10"> แบบฟอร์ม RM-4</div>
                  <h1 class="text-center mt-10"> แบบรายงานการติดตามผลการบริหารความเสี่ยง </h1>
                     <h2 class="text-gray-800 fw-bolder fs-6 mt-10">หน่วยงาน : กลุ่มพัฒนาระบบบริหาร</h2>
                     <h2 class="text-gray-800 fw-bolder fs-6 mt-3">ประเด็นยุทธศาสตร์ : ยกระดับสมรรถนะบุคลากรและพัฒนาระบบบริหาร </h2>
                     <h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ : การจัดวางระบบการควบคุมภายใน</h2>
                     <h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน : เพื่อให้ความมั่นใจอย่างสมเหตุสมผลว่าการดำเนินงานจะบรรลุวัตถุประสงค์และเป้าหมาย</h2>


                       <div class="table-responsive py-5">
                            <table id="items" class="table table-bordered" style="text-left">
                                      <thead style="width:auto;text-align:center; background-color: #d9dbff;">
                                <tr valign="middle" >
                                  <th>กิจกรรม/ประเด็น/ความเสี่ยง/ปัจจัยเสี่ยง</th>
                                  <th>แนวทางการจัดการความเสี่ยง</th>
                                  <th>เป้าหมาย/ผลสำเร็จของการดำเนินกิจกรรมตามแนวทางการจัดการความเสี่ยง</th>
                                  <th>กำหนดการ</th>
                                  <th>ผลลัพธ์ของการจัดการความเสี่ยง</th>
                                  <th>ระยะเวลาดำเนินการ</th>
                                  <th>% ความคืบหน้า</th>
                                  <th>ปัญหา อุปสรรคและแนวทางแก้ไข</th>
                                </tr>
                              </thead>

                               <tr valign="top">
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                               </tr>

                               <tr valign="top">
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                               </tr>

                               <tr valign="top">
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                               </tr>

                               <tr valign="top">
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                               </tr>

                               <tr valign="top">
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                               </tr>


                            </table>



                        </div>


                          <!--end   5.แบบรายงานการประเมินผลการควบคุมภายใน -->
                          <!--end   5.แบบรายงานการประเมินผลการควบคุมภายใน -->


<%#= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
<%= link_to "/risk/master_plans/CA5B96D3-BB67-4276-A02E-52BFF5C66E11", class: "btn btn-lg btn-info mx-2" do %>
    <%= t(:saves) %>
<% end %>




</div>
