<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
%>


<div class="container-fluid">


    <div class="text-end">
        <%= link_to "#{back_url}", class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
                    <% end %>
    </div>



<!--begin 3.การวิเคราะห์โอกาสและผลกระทบของความเสี่ยงโครงการ -->
<!--begin 3.การวิเคราะห์โอกาสและผลกระทบของความเสี่ยงโครงการ -->

<div class="text-muted text-end mt-15"> แบบฟอร์ม RLPD RM-1 (1)</div>
<h1 class="text-center"> การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน <br>หน่วยงาน : กลุ่มพัฒนาระบบบริหาร </h1>
   <h2 class="text-gray-800 fw-bolder fs-6 mt-10">ประเด็นยุทธศาสตร์ : ยกระดับสมรรถนะบุคลากรและพัฒนาระบบบริหาร </h2>
    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : การจัดวางระบบการควบคุมภายใน</h2>
    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน : เพื่อให้ความมั่นใจอย่างสมเหตุสมผลว่าการดำเนินงานจะบรรลุวัตถุประสงค์และเป้าหมาย</h2>

     <div class="table-responsive py-5">
          <table id="items" class="table table-bordered" style="text-left">
                    <thead style="width:auto;text-align:center; background-color: #d9dbff;">
              <tr valign="middle" >
                <th>รหัสปัจจัยเสี่ยง</th>
                <th>ระบุปัจจัยเสี่ยง</th>
                <th>โอกาส</th>
                <th>คำอธิบาย</th>
                <th>ผลกระทบที่ได้รับ</th>
                <th>คำอธิบาย</th>
              </tr>
            </thead>

              <tr valign="top">
                <td align="center"> <b>กพร/ 01-01</b></td>
                <td>เจ้าหน้าที่ขาดความรู้ความเข้าใจในการจัดวางระบบการควบคุมภายใน</td>
                <td align="center"><b>3</b></td>
                <td>
                  <%= text_area_tag 'column_name', 'เนื่องจากในแต่ละปีเเจ้าหน้าที่ผู้จัดทำแผนการควบคุมภายใน ของสำนัก กอง กลุ่ม ศูนย์ มีการเปลี่ยนแปลง', class: 'form-control' %>
                </td>
                <td align="center"><b>5</b></td>
                <td><%= text_area_tag 'column_name', 'ร่างแผนที่ได้ไม่สมบรูณ์ครบถ้วน อาจทำให้แผนพิจารณาได้ไม่ทันกำหนด', class: 'form-control' %></td>
              </tr>

              <!--

              <tr valign="top">
                <td align="center"> <b>กพร/ 01-02</b></td>
                <td>โรคระบาดไวรัสโคโรน่า ทำให้ไม่สามารถประชุมเพื่อจัดทำร่างแผนฯ ได้</td>
                <td align="center"><b>3</b></td>
                <td>โอกาสเกิดไม่สูงมากเนื่องจากผู้เช้าร่วมประชุมส่วนใหญ่ได้รับวัคซีน เข็ม 2 และมีการป้องกันที่เพียงพอในระดับหนึ่ง</td>
                <td align="center"><b>3</b></td>
                <td>ผลกระทบค่อนข้างน้อย เนื่องจากการผ่อนคลายมาตรการล๊อคดาว์น ทำให้สามารถจัดประชุมได้ตามปกติ</td>
              </tr>

              <tr valign="top">
                <td align="center"> <b>กพร/ 01-03</b></td>
                <td>ไม่มีการกำหนดระยะเวลาเสนอแผนที่ชัดเจน</td>
                <td align="center"><b>2</b></td>
                <td>โอกาสเกิดน้อย เนื่องจาก มีการกำหนดวันเวลาที่ชัดเจน</td>
                <td align="center"><b>5</b></td>
                <td>หากเสนอแผนไม่ทันอาจทำให้เกิดความล่าช้า และต้องชี้แจงให้ กระทรวงการคลังทราบ</td>
              </tr>

              <tr valign="top">
                <td align="center"> <b>กพร/ 01-04</b></td>
                <td>ช่องทางการประชาสัมพันธ์ ไม่เพียงพอ ไม่เข้าถึงผู้มีส่วนเกี่ยงข้องในการดำเนินการ</td>
                <td align="center"><b>1</b></td>
                <td>มีโอกาสเกิดน้อยเนื่องจากมีช่องทางประชาสัมพันธ์แผนฯที่เพียงพอ  </td>
                <td align="center"><b>3</b></td>
                <td>ผลกระทบน้อยเนื่องจากมีช่องทางประชาสัมพันธ์หลายช่องทาง เช่น หนังสือเวียน สื่อโซเชียล ไลน์ เป็นต้น</td>
              </tr>


              <tr valign="top">
                <td align="center"> <b>กพร/ 01-05</b></td>
                <td>เจ้าหน้าที่ผู้รายงานผล ติดภารกิจ</td>
                <td align="center"><b>2</b></td>
                <td>มีตัวแทน ที่สามารถให้ข้อมูลแทนกันได้ หรือ สามารถปรานข้อมูลผ่านทาง โทรศัพท์ หรือ ไลน์</td>
                <td align="center"><b>4</b></td>
                <td>อาจทำให้ข้อมูลที่ได้ไม่ครบถ้วน ทันรอบรายงานผล</td>
              </tr>
            -->

          </table>

        <div class="text-gray-800 mt-5"><b>โอกาส : </b> คะแนน 1 คือ น้อยมาก , คะแนน 2 คือ น้อย, คะแนน 3 คือ ปานกลาง, คะแนน 4 คือ สูง, คะแนน 5 คือ สูงมาก</div>
        <div class="text-gray-800 "><b>ผลกระทบ :  </b> คะแนน 1 คือ น้อยมาก, คะแนน 2 คือ น้อย, คะแนน 3 คือ ปานกลาง, คะแนน 4 คือ สูง, คะแนน 5 คือ สูงมาก</div>

      </div>

        <!--end   3.การวิเคราะห์โอกาสและผลกระทบของความเสี่ยงโครงการ -->
        <!--end   3.การวิเคราะห์โอกาสและผลกระทบของความเสี่ยงโครงการ -->




<%#= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
<%= link_to "#", class: "btn btn-lg btn-info mx-2" do %>
    <%= t(:saves) %>
<% end %>



</div>