<div class="container-fluid">




<!--begin 6.รายงานผลการติดตามการประเมินผลการควบคุมภายใน -->
<!--begin 6.รายงานผลการติดตามการประเมินผลการควบคุมภายใน -->
<div class="text-muted text-end mt-15"> แบบฟอร์ม ติดตาม ปค. 5</div>
<h1 class="text-center"> กรมคุ้มครองสิทธิและเสรีภาพ <br>รายงานผลการติดตามการประเมินผลการควบคุมภายใน</h1>
  <h2 class="text-center text-gray-800 fw-bolder fs-6 mt-5">หน่วยงาน : กลุ่มพัฒนาระบบบริหาร</h2>
   <h2 class="text-center text-gray-800 fw-bolder fs-6 mt-5">สำหรับงวดตั้งแต่วันที่ 1 เดือน ตุลาคม พ.ศ. 2563 ถึงวันที่ 31 มีนาคม พ.ศ. 2564</h2>

     <div class="table-responsive py-5">
          <table id="items" class="table table-bordered" style="text-left">
                    <thead style="width:auto;text-align:center; background-color: #d9dbff;">
              <tr valign="middle" >
                <th>ภารกิจตามกฎหมายที่จัดตั้งหน่วยงานของรัฐหรือภารกิจตามแผนการดำเนินการ หรือภารกิจอื่นๆ ที่สำคัญของหน่วยงานของรัฐ/วัตถุประสงค์์</th>
                <th>ความเสี่ยงที่ยังมีอยู่</th>
                <th>การปรับปรุงการควบคุม</th>
                <th>กำหนดเสร็จ/ผู้รับผิดชอบ</th>
                <th>สถานะการดำเนินการ</th>
                <th>วิธีการติดตามและสรุปผลการปฏิบัติตามแผนการปรับปรุง</th>
              </tr>
            </thead>

                <tr>
                  <td colspan="7">
                    <b>กระบวนงาน : การจัดวางระบบการควบคุมภายใน </b>
                  </td>
              </tr>
                <thead style="width:auto;"></thead>


             <tr valign="top">
                <td> <b>วัตถุประสงค์ </b>เพื่อให้ความมั่นใจอย่างสมเหตุสมผลว่าการดำเนินงานจะบรรลุวัตถุประสงค์และเป้าหมาย </td>
                <td> ขันตอนที่ 1 จัดทำร่างแผนการจัดวางระบบการควบคุมภายใน ประจำปี พศ 2565</td>
                <td>การปรับปรุงการควบควม การจัดประชุมในรูปแบบออนไลน์ ให้เจ้าหน้าที่เรียนรู้</td>
                <td>31 ธ.ค. 2565 หน. กพร.</td>
                <td><b>Ɵ</b> กำลังดำเนินการ</td>
                <td>วิธีการติดตามและสรุปผลการปฏิบัติตามแผนการปรับปรุง ติดตามโดยการแจ้งรายผ่านระบบออนไลน์</td>
              </tr>

             <tr valign="top">
                <td> </td>
                <td> ขันตอนที่ 2 เสนอแผนฯให้อธิบดีเห็นชอบและลงนามภายในระยะเวลาที่กำหนด</td>
                <td>การปรับปรุงการควบควม ตรวจความถูกต้องของแผนฯก่อนเสนอลงนาม</td>
                <td>31 ธ.ค. 2565 หน. กพร.</td>
                <td><b>Ɵ</b> กำลังดำเนินการ</td>
                <td>วิธีการติดตามและสรุปผลการปฏิบัติตามแผนการปรับปรุง ติดตามโดยการแจ้งรายผ่านระบบออนไลน์</td>
              </tr>


              <tr valign="top">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr valign="top">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr valign="top">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr valign="top">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr valign="top">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>


          </table>

          <div class="text-gray-800 mt-5"><b>ผลการประเมินโดยรวม  : </b>ผลอยู่ในเกณฑ์</div>

      </div>


        <!--end   6.รายงานผลการติดตามการประเมินผลการควบคุมภายใน -->
        <!--end   6.รายงานผลการติดตามการประเมินผลการควบคุมภายใน -->




<%#= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
<%= link_to "/risk/master_plans/CA5B96D3-BB67-4276-A02E-52BFF5C66E11", class: "btn btn-lg btn-info mx-2" do %>
    <%= t(:saves) %>
<% end %>




</div>
