<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
%>


<div class="container-fluid">


    <div class="text-end">
        <%= link_to "#{back_url}", class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
                    <% end %>
    </div>


<!--begin 7.แผนบริหารความเสี่ยงโครงการ -->
<!--begin 7.แผนบริหารความเสี่ยงโครงการ -->
<div class="text-muted text-end mt-15"> แบบฟอร์ม RLPD RM-3</div>
<h1 class="text-center"> แผนบริหารความเสี่ยงโครงการ  <br>ประจำปีงบประมาณ พ.ศ.2564 </h1>
<h2 class="text-gray-800 fw-bolder fs-6 mt-10">หน่วยงาน : กลุ่มพัฒนาระบบบริหาร </h2>
<h2 class="text-gray-800 fw-bolder fs-6 mt-3">ประเด็นยุทธศาสตร์ : ยกระดับสมรรถนะบุคลากรและพัฒนาระบบบริหาร</h2>
<h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : การจัดวางระบบการควบคุมภายใน</h2>
<h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน : เพื่อให้ความมั่นใจอย่างสมเหตุสมผลว่าการดำเนินงานจะบรรลุวัตถุประสงค์และเป้าหมาย</h2>

<div class="table-responsive py-5">
  <table id="items" class="table table-bordered" style="text-left">
    <thead style="width:auto;text-align:center; background-color: #d9dbff;">
      <tr valign="middle" >
        <th>กิจกรรม/ขั้นตอน</th>
        <th>รหัสปัจจัยเสี่ยง</th>
        <th>ปัจจัยเสี่ยง</th>
        <th>มาตรการจัดการความเสี่ยง</th>
        <th>เป้าหมาย/ผลสำเร็จของมาตรการจัดการความเสี่ยง</th>
        <th>ระยะเวลาดำเนินการ/ผู้รับผิดชอบ</th>
        <th>หมายเหตุ</th>
      </tr>
    </thead>

     <tr valign="top">
        <td><b>ขั้นตอนที่ 1 </b>จัดทำร่างแผนการจัดวางระบบการควบคุมภายใน ประจำปี พศ 2565</td>
        <td align="center"> <b>กพร/ 01-01</b></td>
        <td>
          <ui>
            <li>
              เจ้าหน้าที่ขาดความรู้ความเข้าใจในการจัดวางระบบการควบคุมภายใน
              </li>
          </ui>
        </td>
        <td>
          <ul>
            <li>
                <div class="my-2">

                </div>
                <div class="my-2">
                  การจัดประชุมในรูปแบบออนไลน์ ให้เจ้าหน้าที่เรียนรู้
                </div>

                <a class="m-1 p-2 align-self-center btn btn-sm bg-light w-30px" href="#">
                        <i class="fas fa-edit" aria-hidden="true"></i>
                </a>
                <a class="m-1 p-2 align-self-center btn btn-sm bg-danger text-white w-30px" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="#">
                        <i class="fa-regular fa-trash-can text-white"></i>
                </a>
            </li>
        </ul>
        <hr>
        <a class="m-2 p-2  align-self-center btn btn-sm bg-primary text-white w-70px" href="#">
                <i class="fa-solid fa-circle-plus text-white"></i> เพิ่ม
        </a>
        </td>

        <td>
          <ul>
            <li>
                <div class="my-2">
                  เจ้าหน้าที่มีความรู้ความเข้าใจในการจัดวางระบบการควบคุมภายใน
                </div>

                <a class="m-1 p-2 align-self-center btn btn-sm bg-light w-30px" href="#">
                        <i class="fas fa-edit" aria-hidden="true"></i>
                </a>
                <a class="m-1 p-2 align-self-center btn btn-sm bg-danger text-white w-30px" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="#">
                        <i class="fa-regular fa-trash-can text-white"></i>
                </a>
            </li>
        </ul>
        <hr>
        <a class="m-2 p-2  align-self-center btn btn-sm bg-primary text-white w-70px" href="#">
                <i class="fa-solid fa-circle-plus text-white"></i> เพิ่ม
        </a>
        </td>

        <td>
          <ul>
            <li>
                <div class="my-2">
                    31 ธ.ค. 64 / หน. กพร.
                </div>

                <a class="m-1 p-2 align-self-center btn btn-sm bg-light w-30px" href="#">
                        <i class="fas fa-edit" aria-hidden="true"></i>
                </a>
                <a class="m-1 p-2 align-self-center btn btn-sm bg-danger text-white w-30px" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="#">
                        <i class="fa-regular fa-trash-can text-white"></i>
                </a>
            </li>
        </ul>
        <hr>
        <a class="m-2 p-2  align-self-center btn btn-sm bg-primary text-white w-70px" href="#">
                <i class="fa-solid fa-circle-plus text-white"></i> เพิ่ม
        </a>
        </td>

        <td>
          <ul>
            <li>
                <div class="my-2">
                    การดำเนินการ.....
                </div>

                <a class="m-1 p-2 align-self-center btn btn-sm bg-light w-30px" href="#">
                        <i class="fas fa-edit" aria-hidden="true"></i>
                </a>
                <a class="m-1 p-2 align-self-center btn btn-sm bg-danger text-white w-30px" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="#">
                        <i class="fa-regular fa-trash-can text-white"></i>
                </a>
            </li>
        </ul>
        <hr>
        <a class="m-2 p-2  align-self-center btn btn-sm bg-primary text-white w-70px" href="#">
                <i class="fa-solid fa-circle-plus text-white"></i> เพิ่ม
        </a>
        </td>
     </tr>


     <!--
     <tr valign="top">
        <td>
          <ui>
            <li>

              </li>
          </ui>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
     </tr>
      <tr valign="top">
        <td>
          <ui>
            <li>

              </li>
          </ui>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
     </tr>

      <tr valign="top">
        <td>
          <ui>
            <li>

              </li>
          </ui>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
     </tr>
   -->
 </table>


</div>


<!--end   7.แผนบริหารความเสี่ยงโครงการ -->
<!--end   7.แผนบริหารความเสี่ยงโครงการ -->




<%#= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
<%= link_to "/risk/master_plans/CA5B96D3-BB67-4276-A02E-52BFF5C66E11", class: "btn btn-lg btn-info mx-2" do %>
    <%= t(:saves) %>
<% end %>




</div>
