<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
%>


<div class="container-fluid">


    <div class="text-end">
        <%= link_to "#{back_url}", class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
                    <% end %>
    </div>


<!--begin 2.การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน -->
<!--begin 2.การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน -->
<div class="text-muted text-end mt-15"> แบบฟอร์ม RLPD RM-1</div>
<h1 class="text-center"> การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน <br>หน่วยงาน : กลุ่มพัฒนาระบบบริหาร </h1>
<h2 class="text-gray-800 fw-bolder fs-6 mt-10">ประเด็นยุทธศาสตร์ : ยกระดับสมรรถนะบุคลากรและพัฒนาระบบบริหาร </h2>
<h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : การจัดวางระบบการควบคุมภายใน</h2>
<h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน : เพื่อให้ความมั่นใจอย่างสมเหตุสมผลว่าการดำเนินงานจะบรรลุวัตถุประสงค์และเป้าหมาย</h2>

<div class="table-responsive py-5">
  <table id="items" class="table table-bordered" style="text-left">
    <thead style="width:auto;text-align:center; background-color: #d9dbff;">
      <tr valign="middle">
        <th>กิจกรรม</th>
        <th>วัตถุประสงค์</th>
        <th>ความเสี่ยง</th>
        <th>ปัจจัยเสี่ยง</th>
        <th>รหัสปัจจัยเสี่ยง</th>
        <th>ประเภทความเสี่ยง</th>
        <th colspan=4>การวิเคราะห์ความเสี่ยง</th>
      </tr>

      <tr valign="middle">
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>โอกาส</th>
        <th>ผลกระทบ</th>
        <th>คะแนนความเสี่ยง</th>
        <th>ลำดับความเสี่ยง</th>
      </tr>
    </thead>

      <tr valign="top">
        <td> <b>ขั้นตอนที่ 1 </b>จัดทำร่างแผนการจัดวางระบบการควบคุมภายใน ประจำปี พศ 2565 </td>
        <td>เพื่อให้ได้ร่างแผนการควบคุมภายใน ประจำปี พ.ศ.2565</td>
        <td>ไม่ได้ร่างแผนฯ ที่สมบูรณ์</td>
        <td>
            <ui>
                <li> เจ้าหน้าที่ขาดความรู้ความเข้าใจในการจัดวางระบบการควบคุมภายใน
                </li>
                <li>โรคระบาดไวรัสโคโรน่า ทำให้ไม่สามารถประชุมเพื่อจัดทำร่างแผนฯได้
                </li>
            </ui>
        </td>
         <td>
            <ui>
                <li> กพร/ 01-01
                </li>
                <li> กพร/ 01-02
                </li>
            </ui>
        </td>
        <td><%= select_tag("column_name[column_name]", options_for_select(@data_risk_types['data'].map { |item| [item['title'], item['id']] }, nil), {class: 'selectize-name form-control'}) %></td>
        <td align="center"><%= number_field_tag :column_name , 3, class: 'form-control' %></td>
        <td align="center"><%= number_field_tag :column_name , 5, class: 'form-control' %></td>
        <td align="center"><b>15</b></td>
        <td align="center"><b>1</b></td>
      </tr>

      <tr valign="top">
        <td> <b>ขั้นตอนที่ 2 </b>เสนอแผนฯให้อธิบดีเห็นชอบและลงนามภายในระยะเวลาที่กำหนด </td>
        <td>อธิบดี เห็นชอบและลงนามในแผนฯ</td>
        <td>ไม่สามารถเสนอแผนฯได้ทันภายในระยะเวลาที่กำหนด</td>
        <td>ไม่มีการกำหนดระยะเวลาเสนอแผนที่ชัดเจน</td>
         <td>กพร/ 01-03</td>
        <td>
            <ui>
                <li>ความเสี่ยงด้านการปฏิบัติงาน
                </li>
                <li>ความเสี่ยงด้านการปฏิบัติตามกฏระเบียบ
                </li>
            </ui>
        </td>

        <td align="center"><b>2</b></td>
        <td align="center"><b>5</b></td>
        <td align="center"><b>10</b></td>
        <td align="center"><b>2</b></td>
      </tr>

      <tr valign="top">
        <td> <b>ขั้นตอนที่ 3 </b>เเผยแพร่แผนฯ</td>
        <td>เผยแพร่ประชาสัมพันธ์ แผน ไปยัง สำนัก กอง กลุ่ม ได้รับทราบ และปฏิบัติตามแผนที่ได้วางไว้</td>
        <td>การเผยแพร่ประชาสัมพันธ์ ยังไม่ทั่วถึง</td>
        <td>ช่องทางการประชาสัมพันธ์ ไม่เพียงพอ ไม่เข้าถึงผู้มีส่วนเกี่ยงข้องในการดำเนินการ</td>
         <td>กพร/ 01-04</td>
        <td>ความเสี่ยงด้านการปฏิบัติงาน</td>

        <td align="center"><b>1</b></td>
        <td align="center"><b>3</b></td>
        <td align="center"><b>3</b></td>
        <td align="center"><b>5</b></td>
      </tr>

      <tr valign="top">
        <td> <b>ขั้นตอนที่ 4 </b>เรายงานผล</td>
        <td>เพื่อให้ได้ผลการดำเนินงานที่ทันตามกำหนดระยะเวลา</td>
        <td>การรายงานผลล่าช้า</td>
        <td>เจ้าหน้าที่ผู้รายงานผล ติดภารกิจ</td>
         <td>กพร/ 01-05</td>
        <td>
            <ui>
                <li>ความเสี่ยงด้านการปฏิบัติงาน
                </li>
                <li>ความเสี่ยงด้านการปฏิบัติตามกฏระเบียบ
                </li>
            </ui>
        </td>

        <td align="center"><b>2</b></td>
        <td align="center"><b>4</b></td>
        <td align="center"><b>8</b></td>
        <td align="center"><b>4</b></td>
      </tr>

  </table>
</div>


<!--end   2.การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน -->
<!--end   2.การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน -->




<%#= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
<%= link_to "#", class: "btn btn-lg btn-info mx-2" do %>
    <%= t(:saves) %>
<% end %>


</div>
