<%
#init
back_url = "/#{gen_form[0]}/master_plans/#{params['master_plan_id']}" if !params['master_plan_id'].blank?
back_url = "/#{gen_form[0]}/master_plans/#{@plan['data']['master_plan_id']}" if @plan && @plan['data'] && !@plan['data']['master_plan_id'].blank?
back_url = params[:original_url] if params[:original_url]
%>

<div class="container-fluid">
        <div class="d-flex justify-content-between">
                <h1 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i>แผนบริหารความเสี่ยงโครงการ : <% @plan['data']['categories'].each do |category| %> <p><%= category['title'] %></p> <% end %></h1>

                <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
                <% end %>
        </div>

        <%= render partial: '/share/block_action_history', locals:{ params: params} %>


</div>
