<%
#init
back_url = "/#{gen_form[0]}/master_plans/#{params['master_plan_id']}" if !params['master_plan_id'].blank?
back_url = "/#{gen_form[0]}/master_plans/#{@plan['data']['master_plan_id']}" if @plan && @plan['data'] && !@plan['data']['master_plan_id'].blank?
back_url = params[:original_url] if params[:original_url]
$check_list_datas = nil
#ถ้าผ่านการตรวจสอบจาก กพร ให้แสดง บล๊อก approve & comment
url = URI("#{$server[@controller_title]}/api/v1/plans/#{@plan['data']['id']}/check_risk_plan_approve_status")
@check_plan_approve_status = request_api(url, "get", nil)
%>

<div class="container-fluid">
  <div class="d-flex justify-content-between">
    <h1 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i>แผนบริหารความเสี่ยงโครงการ</h1> 

    <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
    <% end %>
  </div>


<!-- User สามารถ สร้าง ได้ -->
  <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'add-only' ,master_plan_id: (@plan['data']['master_plan_id']  rescue nil), model_name: 'categories', model_title: 'โครงการ', id: nil, params: "plan_id=#{@plan['data']['id'] rescue nil}"} %>    


  <% if @plan && !@plan['data'].blank? %>
  <% @plan['data']['categories'].sort_by{|i| i['order_sort'].to_i}.each do |category| %>
  <%
  #init for loop category
  @plan_report = nil
  @risk_analysis_report = nil
  @task_plan_report = nil
  @risk_management_report = nil
  $risk_management_report_status = 'notapprove'
  $check_planreport_datas = nil
#  $plan_user_assign_status = '1' จะไม่เหมือนกับฝัง control 
  $plan_user_assign_status = '1'
  url = URI("#{$server[@controller_title]}/api/v1/plans/#{@plan['data']['id']}/plan_users")
  @plan_users = request_api(url,'get',nil)

  %>

  <% @plan_users['data'].each do |plan_user| %>
  
    <% if plan_user['user_id'].nil? %>
   
      <%  $plan_user_assign_status = '0' %>
    <% end %>
  <% end %>

  <% category['plan_reports'].each do |plan_report| %>
    <% if plan_report['id'].present? %>
    <% $check_planreport_datas = '1' %>
    <% end %>
    <% plan_report['risk_analysis_reports'].each do |risk_analysis_report| %>
      <%  risk_analysis_report['task_plan_reports'].each do |task_plan_report| %>
        <%  task_plan_report['risk_management_reports'].each do |risk_management_report| %>
          <% risk_management_report['risk_management_report_users'].each do |risk_management_report_user| %>
            <% if risk_management_report_user['user_role']['slug'] == 'approver'  && risk_management_report_user['status'] == 'approved' %>
   
             <% $risk_management_report_status = 'approved' %>
            <% end %>
            <% end %>
           <% end %>
        <% end %>
     <% end %>
  <% end %>

  <div class="card-show">
  
    <div class="d-flex justify-content-between">
      <div class="75">



        <h3>โครงการ : <%= category['title'] rescue nil %></h3>

        <table class="table table-bordered my-6">
          <tr>
            <th class="w-250px">หน่วยงาน</th>
            <td class="min-w-250px"><%= category['institution']['title'] rescue nil %></td>
          </tr>
          <tr>
            <th class="w-250px">ประเด็นยุทธศาสตร์</th>
            <td class="min-w-250px"><%=  category['strategic_issue']['title'] rescue nil %></td>
          </tr>
          <tr>
            <th>วัตถุประสงค์ของโครงการ</th>
            <td>
              <ul style="list-style-type: none">
              <% category['category_objectives'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category_objective, idx| %>
                  <li><%=  category_objective['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %> </li>
              <% end %>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <% if $check_planreport_datas != '1' %>
  
      <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'udr' ,master_plan_id: (@plan['data']['master_plan_id']  rescue nil), model_name: 'categories', model_title: '', id: category['id'], params: "plan_id=#{@plan['data']['id'] rescue nil}"} %>

      <% end %>
    </div>


    <div class="table-responsive py-5">


      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
        <% if $check_planreport_datas != '1' %>
          <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'add-only' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: 'ขั้นตอน', id: nil, params: "category_id=#{category['id']}&original_url=#{request.path}"} %>
        <% end %>
        </div>
      </div>



      <table id="items" class="table table-bordered" style="text-left">
        <thead style="width:auto;text-align:center; background-color: #d9dbff;">
          <tr>
          
            <th>ขั้นตอน</th>
            <th>วัตถุประสงค์ของขั้นตอน</th>
            <th>ความเสี่ยงที่อาจเกิดขึ้น</th>
            <th class="text-center">รหัส</th>
            <th>ปัจจัยเสี่ยง</th>
            <th>กิจกรรมการควบคุม</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idx| %>
            <% $check_list_datas = '1' %>
          <tr style="border-top: 3px solid #cccccc;">
              
          <td>
          <ul style="list-style-type: none">
            <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
            <h6><%= list_activity['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></h6>
            <span><%= list_activity['description'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></span> 
            <div><%= get_status_tasks(list_activity['status']) %></div>
            <% end %>  
          </ul>     
        </td>
        <td>
          <ul style="list-style-type: none">
            <% list['list_objectives'].sort_by{|i| i['order_sort'].to_i}.each do |list_objective| %>
            <li><%= list_objective['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
            <% end %>  
          </ul>

        </td>

        <td>
          <ul style="list-style-type: none">
            <% list['list_risks'].sort_by{|i| i['order_sort'].to_i}.each do |list_risk| %>
            <li><%= list_risk['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
            <% end %>  
          </ul>
        </td>
        <td class="text-center">


        <ul style="list-style-type: none">
        <% list['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each do |list_risk_factor| %>
        <li><%= list_risk_factor['activity_no'] rescue nil %></li>
        <% end %>  
      </ul>
        </td>
        <td>
          <ul style="list-style-type: none">
            <% list['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each do |list_risk_factor| %>
            <li><%= list_risk_factor['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
            <% end %>  
          </ul>
        </td>

        <td>
        <ul style="list-style-type: none">
        <% list['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each do |list_risk_factor| %>
          <% if list_risk_factor['id'].present? %>
            <% url = URI("#{$server[@controller_title]}/api/v1/task_lists/get_risk_analysis_by_list_risk_factor/#{list_risk_factor['id']}") %>
              <% @task_list_datas = request_api(url,'get',nil) %>
       
                 
                  <li><%= @task_list_datas['data']['title_activity_control'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></li>
                
         
              <% end %>
        <% end %>
        </ul>
        </td>



            <td>
            <% if $check_planreport_datas != '1' %>
         
              <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: 'แบบฟอร์ม', id: list['id'], params: "original_url=#{request.path}"} %>
     
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>

      </table>
    </table>



    <h3 class="pt-6 pb-3">แบบฟอร์มการบริหารความเสี่ยงโครงการ</h3>
    <table class="table table-bordered table-head-custom">
      <thead>
        <tr>
          <th>แบบฟอร์ม RLPD RM-1</th>
          <th>แบบฟอร์ม RLPD RM-1 (1)</th>
          <th>แบบฟอร์ม RLPD RM-2</th>
          <th>แบบฟอร์ม RLPD RM-3</th>
          <th>แบบฟอร์ม RLPD RM-4</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <!-- rm1 -->
            <% if category['plan_reports'].size > 0 %>
              <% category['plan_reports'].each do |plan_report| %>
                <% @plan_report = plan_report %>
                <%= link_to "/#{@controller_main_url}/plan_reports/#{plan_report['id']}/edit", class: 'btn btn-sm btn-block btn-info' do %><%= convert_thai_date(plan_report['created_at'],'default') %><% end %>
                <% if @role_title == 'superadmin_role' %>
                <%= link_to "/#{@controller_main_url}/plan_reports/#{plan_report['id']}", method: :delete, class: 'm-2 p-2 btn btn-sm bg-danger text-white text-center',  data: { confirm: 'ต้องการลบใช่หรือไม่?' } do %>
                <i class="fa-regular fa-trash-can text-white align-middle mx-auto"></i><% end %>
              <% end %>
              <% end %>
           
              <% elsif category && category['lists'].size > 0 %>

                <%= link_to "/#{@controller_main_url}/plan_reports/new?category_id=#{category['id']}", class: 'btn btn-sm btn-success',  data: { confirm: 'ยืนยันการสร้างแบบฟอร์ม?' } do %>
                เพิ่มแบบฟอร์ม RM 1
                <% end %>

            <% end %>
            <!-- end rm1 -->
          </td>

          <td>
            <!-- rm1-(1) -->
      
            <% if @plan_report && @plan_report['risk_analysis_reports'].size > 0 %>
            
                <% @plan_report['risk_analysis_reports'].each do |risk_analysis_report| %>
                <% @risk_analysis_report = risk_analysis_report %>
                <%= link_to "/#{@controller_main_url}/risk_analysis_reports/#{risk_analysis_report['id']}/edit", class: 'btn btn-sm btn-block btn-info' do %>
                  <%= convert_thai_date(risk_analysis_report['created_at'],'default') %>
                <% end %>
                <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>
                  <%= link_to "/#{@controller_main_url}/risk_analysis_reports/#{risk_analysis_report['id']}", method: :delete, class: 'm-2 p-2 btn btn-sm bg-danger text-white text-center',  data: { confirm: 'ต้องการลบใช่หรือไม่?' } do %>
                    <i class="fa-regular fa-trash-can text-white align-middle mx-auto"></i>
                  <% end %>  
                  <% end %>

                <% end #end loop risk_analysis_reports %>

              <% elsif @plan_report %>
 
                  <%= link_to "/#{@controller_main_url}/risk_analysis_reports/new?plan_report_id=#{@plan_report['id']}", class: 'btn btn-sm btn-success' ,  data: { confirm: 'ยืนยันการสร้างแบบฟอร์ม?' } do %>
                  เพิ่มแบบฟอร์ม RM 1 (1)
                  <% end %>
 
            <% end #end if plan_report['risk_analysis_reports'].size > 0  %>
            <!-- end rm1-(1) -->
          </td>

          <td>
            <!-- rm2 -->
                    <% if @risk_analysis_report && @risk_analysis_report['task_plan_reports'].size > 0 %>

                      <% @risk_analysis_report['task_plan_reports'].each do |task_plan_report| %>

                        <% @task_plan_report = task_plan_report %>
                        <%= link_to "/#{@controller_main_url}/task_plan_reports/#{task_plan_report['id']}/edit", class: 'btn btn-sm btn-block btn-info' do %>
                          <%= convert_thai_date(task_plan_report['created_at'],'default') %>
                        <% end %>
                        <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>
                          <%= link_to "/#{@controller_main_url}/task_plan_reports/#{task_plan_report['id']}", method: :delete, class: 'm-2 p-2 btn btn-sm bg-danger text-white text-center',  data: { confirm: 'ต้องการลบใช่หรือไม่?' } do %>
                            <i class="fa-regular fa-trash-can text-white align-middle mx-auto"></i>
                          <% end %>
                          <% end %>
                       
                      <% end #end loop task_plan_reports %>

                    <% elsif @risk_analysis_report %>
                    <% if $plan_user_assign_status == '1' %> <!-- Check plan_user_assign -->

                    <%= link_to "/#{@controller_main_url}/task_plan_reports/new?risk_analysis_report_id=#{@risk_analysis_report['id']}", class: 'btn btn-sm btn-success' ,  data: { confirm: 'ยืนยันการสร้างแบบฟอร์ม?' } do %>
                    เพิ่มแบบฟอร์ม RM 2
                    <% end %>
    
                  <% else %> 
                  <!-- กรณี ยังไม่ได้สร้าง plan_user ระบบจะแสดงปุ่มาร้าง plan_user-->
                  <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role'%>
                   <%= link_to "/#{@controller_main_url}/plan_users?plan_id=#{@plan['data']['id']}&original_url=#{request.path}", class: 'align-self-center btn btn-sm bg-light m-3 mx-0' do %>
                      <i class="fas fa-user-circle fs-1"></i> <%= t(:assign_workers) %>                 
                   <% end %>
                   <% else %>
                   <b><span class="badge badge-warning">ติดต่อผู้ดูแลระบบเพื่อกำหนดผู้ทำงาน</span></b>
                   <% end %>
 
                 <% end %> <!--End Check plan_user_assign -->

                   
                    <% end #end if risk_analysis_report['task_plan_reports'].size > 0  %>
                    <!-- end rm2 -->
          </td>

          <td>
            <!-- rm3 -->
            <% if @task_plan_report && @task_plan_report['risk_management_reports'].size > 0 %>

              <% @task_plan_report['risk_management_reports'].each do |risk_management_report| %>
               
                <% @risk_management_report = risk_management_report %>
                <%= link_to "/#{@controller_main_url}/risk_management_reports/#{risk_management_report['id']}/edit", class: 'btn btn-sm btn-block btn-info' do %>
                  <%= convert_thai_date(risk_management_report['created_at'],'default') %>
                <% end %>
                
                <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>
                  <%= link_to "/#{@controller_main_url}/risk_management_reports/#{risk_management_report['id']}", method: :delete, class: 'm-2 p-2 btn btn-sm bg-danger text-white text-center',  data: { confirm: 'ต้องการลบใช่หรือไม่?' } do %>
                    <i class="fa-regular fa-trash-can text-white align-middle mx-auto"></i>
                  <% end %>
                  <% end %>
       
              <% end #end loop risk_management_reports %>

            <% elsif @task_plan_report %>
            <% if $plan_user_assign_status == '1' %> <!-- Check plan_user_assign -->
                <%= link_to "/#{@controller_main_url}/risk_management_reports/new?task_plan_report_id=#{@task_plan_report['id']}", class: 'btn btn-sm btn-success' ,  data: { confirm: 'ยืนยันการสร้างแบบฟอร์ม?' } do %>
                เพิ่มแบบฟอร์ม RM 3   
                <% end %>

              <% else %> 
                 <!-- กรณี ยังไม่ได้สร้าง plan_user ระบบจะแสดงปุ่มาร้าง plan_user-->
                 <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role'%>
                  <%= link_to "/#{@controller_main_url}/plan_users?plan_id=#{@plan['data']['id']}&original_url=#{request.path}", class: 'align-self-center btn btn-sm bg-light m-3 mx-0' do %>
                     <i class="fas fa-user-circle fs-1"></i> <%= t(:assign_workers) %>                 
                  <% end %>
                  <% else %>
                  <b><span class="badge badge-warning">ติดต่อผู้ดูแลระบบเพื่อกำหนดผู้ทำงาน</span></b>
                  <% end %>

          <% end %> <!--End Check plan_user_assign -->

            <% end #end if task_plan_report['risk_management_reports'].size > 0  %>
            <!-- end rm3 -->
          </td>

          <td>
            <!-- rm4 -->
           

            <% if @risk_management_report && @risk_management_report['follow_up_risk_reports'].size > 0 %>

              <% @risk_management_report['follow_up_risk_reports'].each do |follow_up_risk_report| %>
              
              <li>
             
                <%= link_to "/#{@controller_main_url}/follow_up_risk_reports/#{follow_up_risk_report['id']}/edit", class: 'btn btn-sm btn-block btn-info' do %>
                  <%= convert_thai_date(follow_up_risk_report['period_report']['startdate'],'default') %> - <%= convert_thai_date(follow_up_risk_report['period_report']['enddate'],'default') %>
                <% end %>

      
                <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>
                  <%= link_to "/#{@controller_main_url}/follow_up_risk_reports/#{follow_up_risk_report['id']}", method: :delete, class: 'm-2 p-2 btn btn-sm bg-danger text-white text-center',  data: { confirm: 'ต้องการลบใช่หรือไม่?' } do %>
                    <i class="fa-regular fa-trash-can text-white align-middle mx-auto"></i>
                  <% end %>
                  <% end %>
              </li>
              
              <% end #end loop follow_up_risk_reports %>

            <% end # end if size %> 
         
            <% if @risk_management_report %>

            <% @risk_management_report['risk_management_report_users'].each do |risk_management_report_user| %>
     
           

              <%if risk_management_report_user['user_role']['slug'] == 'checker' && risk_management_report_user['status'] == 'completed' %>

      
             
                <%# if @check_plan_approve_status['data'] == false %> <!-- ถ้าแผนมีการ Approve ไปแล้ว จะไม่สามารถ เพิ่มใบติดตามได้อีก -->
                <%= link_to "/#{@controller_main_url}/follow_up_risk_reports/new?risk_management_report_id=#{@risk_management_report['id']}", class: 'btn btn-sm btn-success' ,  data: { confirm: 'ยืนยันการสร้างแบบฟอร์ม?' } do %>
                เพิ่มแบบฟอร์ม RM 4
                <% end %>
                <%# end %>
              
                <% end %>
                <% end %>
            <% end #end if @risk_management_report  %>
            <!-- end rm4 -->
          </td>

        </tr>
      </tbody>
    </table>


  </div>
</div>
<% end %>
<% end %>
<!-- บางครั้ง ไม่จำเป็นต้องมี RM 4 สามารถ approve แผนได้เลย -->
<% if $check_planreport_datas == '1' %>  <!-- ตรวจสอบการสร้าง Plan Report หรือยัง ถ้ายัง ไม่ต้อง แสดง block -->
<% if @check_plan_approve_status['data'] == true %>
<%= render partial: '/share/block_comments', locals:{ model_name: 'plan', id: @plan['data']['id']} %>

<%= render partial: '/share/block_comments_history', locals:{ model_name: 'plan', id: @plan['data']['id']} %>
<% end %>
<% end %>

</div>
