<%
#init
if !params['original_url'].blank?
    back_url = params['original_url'] 
else
    back_url = "/#{@controller_main_url}/pages/dashboards"
end
%>

<div class="container-fluid">
    <div class="d-flex justify-content-end">
        <%= link_to "#{back_url}", class: 'btn btn-light text-end' do %>
            <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
        <% end %>
        



    </div>

    <% if @plan && !@plan['categories'].blank? %>
    <% @plan['categories'].each do |category| %>
        <% 
        @category = nil
        url = URI("#{$server[@controller_title]}/api/v1/categories/#{category["id"]}")
        @category = request_api(url, "get", nil)
        %>
        <div id="export_content" class="">
            <div class="landscape_A4_page">



                <%= render "/#{@controller_main_url}/categories/show", category: @category %>






            </div>
          </div> <!-- end id export_content -->
    <% end %>
    <% end %>

</div>