<%
#init
if action_name == 'edit' || action_name == 'update'
  @plan_title = @datas['data']['plan']['title']
  @title = @datas['data']['title']
  @institution_id = @datas['data']['institution_id']
  @responsible_id = @datas['data']['responsible_id']
  @issue_id = @datas['data']['issue_id']
  @cognitive = @datas['data']['cognitive']
  @kpi_title = @datas['data']['kpi_title']
  @target_kpi_title = @datas['data']['target_kpi_title']
end
%>


  <%= form_for('category', url: "/#{gen_form[0]}/categories#{gen_form[1]}" , method: gen_form[2]) do |f| %>

    <!-- start row -->
    <div class="row">





      <div class="col-sm-12 col-md-6">
          <label class="form-label">
              <h5><%= t(:title) %><span class="text-danger">*</span></h5>
          </label>
          <%= f.text_field :title, class: "form-control", placeholder: t(:title), value: @title %>
      </div>


      <div class="col-sm-12 col-md-6">
          <label class="form-label">
            <h5><%= t(:institution) %><span class="text-danger">*</span></h5>
          </label>

          <%= select_tag("category[institution_id]", options_for_select(@data_institutions['data'].map { |item| [item['title'], item['id']] }, @institution_id), {class: 'selectize-institution form-control'}) %>
      </div>



      <div class="col-sm-12 col-md-6 mt-10">
          <label class="form-label">
              <h5><%= t(:responsible) %><span class="text-danger">*</span></h5>
            </label>

            <%= select_tag("category[responsible_id]", options_for_select(@data_responsibles['data'].map { |item| [item['title'], item['id']] }, @responsible_id), {class: 'selectize-responsible form-control'}) %>
      </div>



      <div class="col-sm-12 col-md-6 mt-10">
        <label class="form-label">
            <h5><%= t(:issue) %><span class="text-danger">*</span></h5>
          </label>

          <%= select_tag("category[issue_id]", options_for_select(@data_issues['data'].map { |item| [item['title'], item['id']] }, @issue_id), {class: 'selectize-issue form-control'}) %>

      </div>



      <div class="col-sm-12 col-md-6 mt-10">
        <label class="form-label">
            <h5><%= t(:cognitive) %><span class="text-danger">*</span></h5>
          </label>

          <%= f.text_field :cognitive, class: "form-control", placeholder: t(:cognitive), value: @cognitive %>
      </div>



      <div class="col-sm-12 col-md-6 mt-10">
        <label class="form-label">
        <h5><%= t(:kpi) %><span class="text-danger">*</span></h5>
      </label>
      <%= f.text_field :kpi_title, class: "form-control", placeholder: t(:kpi), value: @kpi_title %>
     
      </div>



      <div class="col-sm-12 col-md-6 mt-8">
        <label class="form-label">
        <h5><%= t(:target_kpi) %><span class="text-danger">*</span></h5>
      </label>
      <%= f.text_field :target_kpi_title, class: "form-control", placeholder: t(:target_kpi), value: @target_kpi_title %>

      </div>

    </div>
    <!-- end row -->






    <!-- start row -->
    <% if action_name == 'edit' || action_name == 'update' %>

    <div class="separator separator-dashed separator-border-2 my-10"></div>

    <div class="table-responsive py-5 ">
      <table id="items" class="table table-bordered">
        <thead>
          <tr>

            <% if controller_path.split('/')[1] == 'plan_reports' %>



            <th><b><%= t(:num) %></b></th>
            <th><b><%= t(:activity) %></b></th>
            <th><b><%= t(:kpi_target) %></b></th>
            <th><b><%= t(:task_resoults) %></b></th>
            <th><b><%= t(:task_notes) %></b></th>




            <% else %>




            <th><b><%= t(:num) %></b></th>
            <th><b><%= t(:activity) %></b></th>
            <th><b><%= t(:list_periods) %></b></th>
            <th><b><%= t(:kpi_target) %></b></th>
            <th><b><%= t(:list_target_kpis) %></b></th>
            <th><b><%= t(:list_target_groups) %></b></th>
            <th><b><%= t(:list_responsibles) %></b></th>
            <th><b><%= t(:list_notes) %></b></th>




            <% end %>

          </tr>
        </thead>
        <tbody>
          <%
          sub_item_size = 0
          if @datas && @datas['data'] && @datas['data']['lists']
            sub_item_size = @datas['data']['lists'].size.to_i
          %>
          <% @datas['data']['lists'].each_with_index do |sub_item,idx|  %>
          <tr id="items<%= idx %>">




            <% if controller_path.split('/')[1] == 'plan_reports' %>

            <td><%= idx +1 %></td>


            <td>
              <input type="hidden" class="form-control" name="category[lists_attributes][<%= idx %>][activity_id]" value="<%= sub_item['activity_id'] %>">

              <p><b><%= sub_item['order_sort'] %> <%= sub_item['activity']['title'] %></b></p>

              <ul>
              <% sub_item['list_activities'].each do |list_activity| %>
                  <li><%= list_activity['title']%></li>
              <% end %>
              </ul>
            </td>


            <td>
              <div style="margin-top: 33px;"></div>
              <ul>
                <% sub_item['list_target_kpis'].each do |list_target_kpi| %>
                  <li><%= list_target_kpi['title']%></li>
                <% end %>
              </ul>
            </td>






            <% else %>


            <td><%= idx +1 %></td>

            <td>
              <input type="hidden" class="form-control" name="category[lists_attributes][<%= idx %>][activity_id]" value="<%= sub_item['activity_id'] %>">


              <p><b><%= sub_item['order_sort'] %> <%= sub_item['activity']['title'] %></b></p>

              <ul>
              <% sub_item['list_activities'].each do |list_activity| %>
                  <li><%= list_activity['title']%></li>
              <% end %>
              </ul>
            </td>

            <td>
              <div style="margin-top: 33px;"></div>
              <ul>
              <% sub_item['list_periods'].each do |list_period| %>
                <li>
                  <%= convert_thai_date(list_period['startdate']&.in_time_zone&.to_date,'default') %> ถึง <%= convert_thai_date(list_period['enddate']&.in_time_zone&.to_date,'default') %>
                  <%#= cal_date_count(list_period['startdate']&.in_time_zone&.to_date, list_period['enddate']&.in_time_zone&.to_date, 'day') %>
                </li>
              <% end %>
              </ul>
            </td>

            <td>
              <div style="margin-top: 33px;"></div>
              <ul>
                <% sub_item['list_kpis'].each do |list_kpi| %>
                  <li><%= list_kpi['title']%></li>
                <% end %>
              </ul>
            </td>

            <td>
              <div style="margin-top: 33px;"></div>
              <ul>
                <% sub_item['list_target_kpis'].each do |list_target_kpi| %>
                  <li><%= list_target_kpi['title']%></li>
                <% end %>
              </ul>
            </td>

            <td>
              <div style="margin-top: 33px;"></div>
              <ul>
                <% sub_item['list_target_groups'].each do |list_target_group| %>
                <li><%= list_target_group['title']%></li>
                <% end %>
              </ul>
            </td>

            <td>
              <div style="margin-top: 33px;"></div>
              <ul>
                <% sub_item['list_responsibles'].each do |list_responsible| %>
                <li><%= list_responsible['title']%></li>
              <% end %>
              </ul>
            </td>

            <td>
              <div style="margin-top: 33px;"></div>
              <ul>
              <% sub_item['list_notes'].each do |list_note| %>
                <li><%= list_note['title']%></li>
              <% end %>
            </ul>
            </td>




            <td class="mt-10"><%= link_to :edit, "/#{gen_form[0]}/lists/#{sub_item['id']}/edit?original_url=#{request.path}", class: 'btn btn-warning btn-sm mb-1' %></a></td>

            <td class="mt-10"><a class="btn p-3 btn-danger" onclick="$('#items<%= idx %>').hide();$('#items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>

            <input type="hidden" class="form-control" placeholder="id" name="category[lists_attributes][<%= idx %>][id]" value="<%= sub_item['id'] %>">

            <input type="hidden" class="check_destroy" placeholder="" name="category[lists_attributes][<%= idx %>][_destroy]" value=false>




            <% end %>



          </tr>
          <% end %>
          <% end %>


        </tbody>
      </table>
    </div>


    <% end %>
    <!-- end row -->












    <div class="separator separator-dashed separator-border-2 my-10"></div>

    <div class="d-flex justify-content-between">
      <% if !params[:plan_id].blank? %>
        <%= f.hidden_field :plan_id, value: params[:plan_id] %>
      <% end %>

      <%= f.submit t(:saves), class: "btn btn-info" %>
    </div>





<% end #end form %>
