<%
back_url = "/#{gen_form[0]}/master_plans/#{params['master_plan_id']}"
back_url = params[:original_url] if !params[:original_url].blank?
%>

<div class="container-fluid">

  <div class="d-flex justify-content-between">
          <h1 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:form_management) %></h1> 

          <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
          <% end %>
  </div>


    <%= render 'form' %>

</div>
<!--end::Kt_content-->
