<!--begin::Kt_content-->
<div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
        <div class="col"> 
                <div class="float-start">
                <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:detail) %><%= t(:forms) %><%= t(:master_plan) %></h2> 
                </div>
        <div class="col">
        <div class="float-end">  
                <%= link_to km_categories_path(@category), class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i></i> <%= t(:back) %> </i> <% end %>
        </div> 
        </div>
        </div>

        <div class="row">
                <div class="col"> 
                        <div class="card-show">
                                <div class="row">
                                        <div class="col mb-5"> 
                                                <div class="float-start">
                                                <h4 class="card-label"> <i class="fa-solid fa-file-lines fa-1x"></i> <%= @datas['data']['title'] %>
                                                </div>          
                                        </div>
                                        </div>
                                        <div class="col ms-5"> 
                                        <p><b><%= t(:plan_title)%> : </b> <%= @datas['data']['plan']['title'] %></p>
                                        <p><b><%= t(:institution)%> : </b> <%= @datas['data']['institution']['title'] %></p>
                                        <p><b><%= t(:responsible)%> : </b> <%= @datas['data']['responsible']['title'] %></p>
                                        <p><b><%= t(:issue)%> : </b> <%= @datas['data']['issue']['title'] %></p>
                                        <p><b><%= t(:cognitive)%> : </b> <%= @datas['data']['cognitive'] %></p>
                                        <p><b><%= t(:kpi)%> : </b> <%= @datas['data']['kpi_title'] %></p>
                                        <p><b><%= t(:target_kpi)%> : </b> <%= @datas['data']['target_kpi_title'] %></p>
                                        <p><b><%= t(:created_at)%> : </b> <%= @datas['data']['created_at'] %></p>
                                        <p><b><%= t(:updated_at)%> : </b> <%= @datas['data']['updated_at'] %></p>
                                        </div>
                                        <div class="col ms-5 mt-5"> 
                                                <div class="card-show">
                                                <div class="table-responsive py-5">
                                                                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                                                                        <thead>
                                                                        <tr class="fw-bolder text-muted">
                                                                                        <th><h6><%= t(:id) %><h6></th>
                                                                                        <th class="min-w-200px"><h6><%= t(:activity) %><h6></th>
                                                                                        <th class="min-w-100px"><h6><%= t(:list_periods) %><h6></th>
                                                                                        <th class="min-w-100px"><h6><%= t(:list_kpis) %><h6></th>
                                                                                        <th class="min-w-100px"><h6><%= t(:list_target_kpis) %><h6></th>
                                                                                        <th class="min-w-100px"><h6><%= t(:list_target_groups) %><h6></th>
                                                                                        <th class="min-w-100px"><h6><%= t(:list_responsibles) %><h6></th>
                                                                                        <th class="min-w-100px"><h6><%= t(:list_notes) %><h6></th>
                                                                                </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                                <td scope="row"><% @datas['data']['lists'].each_with_index do |item_a,idx| %></t>
                                                                                        <tr>
                                                                                                <td>  <%= idx +1 %></td>
                                                                                                <td>  <%= item_a['activity']['title'] %></td>
                                                                                                <td> </td>
                                                                                                <td> </td>
                                                                                                <td> </td>
                                                                                                <td> </td>
                                                                                                <td> </td>
                                                                                                <td> </td>
                                                                                        
                                                                                                <% end %>
                                                                                        </tr>
                                                                                </tbody>
                                                                </tbody>
                                                                </table>
                                                        </div>
                                        
                                                </div>
                        </div>
        </div>
                </div>
</div>
<!--end::Kt_content-->