<!--begin::Kt_content-->
<div class="container-fluid">
        <!--begin::Header-->
        <div class="row">
            <div class="col">
                  <div class="float-start">
                        <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i>เพิ่มประเภทความเสี่ยง</h2> 
                  </div>
            <div class="col">
              <div class="float-end">
                    <!--button:header-->
                    <%= link_to "/#{@controller_title}/risk_types/", class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i></i> <%= t(:back) %> </i> <% end %>
              </div>
            </div>
       </div>
       <!--end:Header-->


        <!--begin:Content-->
      <div class="row">
      <div class="col">
                  <div class="card-show">
                        <%= form_for('risk_type', url: "/#{@controller_title}/risk_types" , method: :post) do |f| %>
                                    <div class="row">
                                    <div class="col-11 mt-5 ms-5">
                                    <label for="formGroupExampleInput" class="form-label"> <h5><%= t(:order_sort) %><span class="text-danger">*</span> </h5></label>
                                    <%= f.number_field :order_sort , placeholder: t(:order_sort), class: 'form-control' %>
                                    </div>
                                          <div class="col-11 mt-5 ms-5">
                                                <label for="formGroupExampleInput" class="form-label"> <h5>ประเภทความเสี่ยง <span class="text-danger">*</span> </h5></label>
                                                <%= f.text_field :title , placeholder: t(:please), class: 'form-control' %>
                                                </div>

                                                <div class="col-11 mt-5 ms-5 mb-5">
                                                <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
                                                      <!--button:content-->
                                                      <%= f.submit class: "btn btn-info", value: 'บันทึก'  %></div>
                                                </div>
                                    </div>
                              </form>
                        <% end %>
                  </div>
            </div>
      </div>
       <!--end:Content-->
</div>
<!--end::Kt_content-->
