<%= form_for('task', url: "/#{gen_form[0]}/tasks#{gen_form[1]}" , method: gen_form[2]) do |f| %>
<!--begin::Card Body-->
<div class="card-body">


<div class="">
    <span class="text-muted">แบบฟอร์มรายงานการประเมินส่วนราชการ ตามนโยบายกระทรวงยุติธรรม กรมคุ้มครองสิทธิและเสรีภาพ ประจําปีงบประมาณ พ.ศ. <%= @task['data']['plan_report']['master_plan']['period_year']&.to_date&.year + 543 rescue nil %></span>
</div>

<table class="table table-bordered">
        
    <tr>
        <td>
            <b class="fs-3">รายงานผลการปฏิบัติราชการตามนโยบายกระทรวงยุติธรรม</b> <br> (รายตัวชี้วัด)         
        </td>
        <td>
           <div class="my-2"><b>ประจําเดือน</b></div> 
            <div class="my-2">
            
                <span class="badge badge-light"><%= convert_thai_date(@task['data']['plan_report']['startdate']&.in_time_zone&.to_date,'default')  rescue nil %> ถึง <%= convert_thai_date(@task['data']['plan_report']['enddate']&.in_time_zone&.to_date,'default')  rescue nil %></span>

                <span class="badge badge-light"><%#=  convert_thai_date(@task['data']['plan_report']['master_plan']['startdate']&.in_time_zone&.to_date,'default') rescue nil %></span><!-- ถึง -->
                <span class="badge badge-light"><%#= convert_thai_date(@task['data']['plan_report']['master_plan']['enddate']&.in_time_zone&.to_date,'default') rescue nil %></span>
            </div>
            <div>(แบบสะสม)</div>
        </td>
    </tr>



    <tr>
        <td colspan="2">
            <div class="my-2">
            <% if @task['data'].present? %>
                <b>ชื่อตัวชี้วัดที่ <%= @task['data']['list']['order_sort'].to_i rescue nil %> :</b>
                <div><%= @task['data']['list']['title'] rescue nil %></div>
           
            <% end %>
            </div>

        </td>
    </tr>

    <tr>
    <td colspan="5">
    <table class="table table-bordered">
             <tr>
                <td style="width:50%">
                    <div class="my-2">
                        <b> ค่าเป้าหมาย 6 เดือน </b>
                    </div>
                    <% if @task['data'].present? %>
                        <%  @task['data']['list']['list_kpi_half_years'].each do |list_kpi_half_year| %>
               
                            <%= list_kpi_half_year['title'] %>  <span class="badge badge-light"><%= list_kpi_half_year['kpi_value']%></span> <%= list_kpi_half_year['kpi_value_unit'] %>
                        <% end %>
                    <% end %>
              

                </td>
                <td style="width:50%">
                    <div class="my-2">
                        <b> ค่าเป้าหมาย 12 เดือน </b>
                    </div>
                    <% if @task['data'].present? %>
                        <%  @task['data']['list']['list_kpi_full_years'].each do |list_kpi_full_year| %>
       
                            <%= list_kpi_full_year['title'] %> <span class="badge badge-light"><%= list_kpi_full_year['kpi_value']%></span> <%= list_kpi_full_year['kpi_value_unit'] %>
                        <% end %>
                    <% end %>
            
                </td>
            </tr>
        </table>
    </td>
    </tr>


    <tr>
        <td>
            <b>ผู้กํากับดูแลตัวชี้วัด :</b>
            <ul> 
            <% if @task['data'].present? %>
                <% @task['data']['list']['list_kpi_owners'].each do |list_kpi_owner| %>
                    <li>
                       
                        <%= list_kpi_owner['devision_director']['title'] rescue nil %>
                        <div><b>เบอร์โทรศัพท์ : </b><%= list_kpi_owner['devision_director']['phone'] rescue nil %></div>
                    </li>
                <% end %>
            <% end %>
            </ul>
        </td>
        <td>
            <b>ผู้จัดเก็บข้อมูล :</b>
            <ul> 
            <% if @task['data'].present? %>
                <% @task['data']['list']['list_kpi_persons'].each do |list_kpi_person| %>
                    <li>
                        <%= list_kpi_person['title'] rescue nil %>
                        <div><b>เบอร์โทรศัพท์ :</b> <%= list_kpi_person['phone'] rescue nil %></div>
                    </li>
                <% end %>
            <% end %>
            </ul>
        </td>
    </tr>



    <tr>
        <td colspan="2">
            <div class="my-2"><b>ข้อมูลผลการดําเนินงาน :</b></div>
            <div class="my-2">

                <%# @task['data']['task_results'].each_with_index do |task_result, idx| %>
                <%# @task['data']['task_results'].take(1).each_with_index do |task_result, idx| %>

                    <% if @task && !@task['data'].blank? && !@task['data']['task_results'].blank? && !@task['data']['task_results'][0].blank? && !@task['data']['task_results'][0]['id'].blank? %>
                        <input type="hidden" name="task[task_results_attributes][0][id]" value="<%= @task['data']['task_results'][0]['id'] rescue nil %>">
                    <% end %>

                    <input type="hidden" name="task[task_results_attributes][0][task_id]" value="<%= @task['data']['id'] rescue nil %>">
                    <input type="hidden" name="task[task_results_attributes][0][user_id]" value="<%= @task['data']['user_id'] rescue nil %>">
                    <input type="hidden" name="task[task_results_attributes][0][biz_id]" value="<%= @task['data']['biz_id'] rescue nil %>">
                    <textarea class="form-control my-3" rows="4" cols="40" name="task[task_results_attributes][0][title]"><%= @task['data']['task_results'][0]['title'] rescue nil %></textarea>

                <%# end %>

            </div>

        </td>
    </tr>




    <tr>
        <td colspan="2">
            <div class="my-2"><b><%= t(:scoring_criteria) %> :</b></div>
            <div class="my-2">
                <%= @task['data']['list']['list_scores'][0]['title'] rescue nil %>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">1</th>
                            <th class="text-center">2</th>
                            <th class="text-center">3</th>
                            <th class="text-center">4</th>
                            <th class="text-center">5</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">

                            <%= @task['data']['list']['list_scores'][0]['title_first'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['score_first'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_first'] rescue nil %></td>

                            <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_second'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['score_second'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_second'] rescue nil %></td>

                            <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_third'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['score_third'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_third'] rescue nil %></td>

                            <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_fourth'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['score_fourth'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_fourth'] rescue nil %></td>

                            <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_fifth'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['score_fifth'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_fifth'] rescue nil %></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </td>
    </tr>





    <tr>
        <td colspan="2">
            <div class="my-2"><b>การคํานวณคะแนนจากผลการดําเนินงาน :</b></div>
            <div class="my-2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ตัวชี้วัด/ข้อมูลพื้นฐานประกอบตัวชี้วัด</th>
                            <th style="width: 150px;">ค่าเป้าหมาย<br>(ร้อยละ)</th>
                            <th style="width: 150px;">ผลการ<br>ดําเนินงาน</th>
                            <th style="width: 150px;">สรุปผลการ<br>ดําเนินงาน</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= @task['data']['list']['title'] rescue nil %></td>
                            <td>
                                <%= @task['data']['list']['list_scores'][0]['title_third'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['score_third'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_third'] rescue nil %>
                            </td>
                            <td>
                                <% if @task && !@task['data'].blank? && !@task['data']['task_score_results'].blank? && !@task['data']['task_score_results'][0].blank? && !@task['data']['task_score_results'][0]['id'].blank? %>
                                    <input type="hidden" name="task[task_score_results_attributes][0][id]" value="<%= @task['data']['task_score_results'][0]['id'] rescue nil %>">
                                <% end %>

                                <input type="hidden" name="task[task_score_results_attributes][0][task_id]" value="<%= @task['data']['id'] rescue nil %>">
                                <input type="hidden" name="task[task_score_results_attributes][0][user_id]" value="<%= @task['data']['user_id'] rescue nil %>">
                                <input type="hidden" name="task[task_score_results_attributes][0][biz_id]" value="<%= @task['data']['biz_id'] rescue nil %>">

                                <!--
                                <input type="text" class="form-control m-3" placeholder="รายละเอียด" name="task[task_score_results_attributes][0][title_first]" value= "<%= @task['data']['task_score_results'][0]['title_first'] rescue nil %>" >
                            -->

                                <input type="text" class="form-control m-3" placeholder="จำนวน" name="task[task_score_results_attributes][0][value_first]" value= "<%= @task['data']['task_score_results'][0]['value_first'] rescue nil %>" >
                            </td>
                            <td>
                                <!--
                                <input type="text" class="form-control m-3" placeholder="รายละเอียด" name="task[task_score_results_attributes][0][title_second]" value= "<%= @task['data']['task_score_results'][0]['title_second'] rescue nil %>" >
                            -->

                                <input type="number" class="form-control m-3" min=0 max=5 placeholder="ระดับ 1-5" name="task[task_score_results_attributes][0][value_second]" value= "<%= @task['data']['task_score_results'][0]['value_second'] rescue nil %>" >

                                <span class="text-muted">* หากไม่ระบุค่าใน “สรุปผลการดำเนินงาน”
ตัวชี้วัดนี้จะอยู่ในสถานะ “อยู่ระหว่างดำเนินการ”</span>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>








    <tr>
        <td colspan="2">
            <div class="my-2"><b>สูตรการคํานวณ : (ถ้ามี)</b></div>
            <div class="my-2">


                <% @task['data']['list']['list_formulas'].each do |list_formula| %>
                    <div class="p-3">
                        <%= list_formula['title'] rescue nil %>
                    </div>
                    <div class="p-3">
                        <% if !list_formula['image_data'].blank? %>
                            <a href="<%= $server[@controller_title] %>/<%= list_formula['image_url_original'] %>" target="_blank">
                                <img src="<%= $server[@controller_title] %>/<%= list_formula['image_url_original'] %>" class="img-thumbnail" />
                            </a>
                        <% end %>
                    </div>
                <% end %>



            </div>
        </td>
    </tr>







    <tr>
        <td colspan="2">
            <div class="my-2"><b>คําชี้แจงการปฏิบัติงาน/มาตรการที่ได้ดําเนินการ :</b></div>
            <div class="my-2">


<!-- ======================================== begin :: Task Attechment 1 ===================================================-->
<!--begin::table-responsive py-5 -->
<div class="table-responsive py-5">
    <table id="task_statement_items" class="table table-bordered">
        <thead>
            <tr>
                <th><%= t(:attachment) %></th>
                <th><%= t(:detail) %></th>
                <th style="width: 80px;"></th>
            </tr>
        </thead>
        <tbody>
    <% 
        task_statement_sub_item_size = 0
        list_kpi_sub_item_size = 0
        if @task && @task['data'] && @task['data']['task_statements']
            list_kpi_sub_item_size = @task['data']['task_statements'].size.to_i
    %>
        <% @task && @task['data']['task_statements'].each_with_index do |task_statement_sub_item,idx|  %>
            <tr id="task_statements_items<%= idx %>">
                <td style="width: 100px;">
                    <% if !task_statement_sub_item['image_data'].blank? && !task_statement_sub_item['image_data'].blank? %>
                    <a href="<%= $server[@controller_title] %>/<%= task_statement_sub_item['image_url_original'] %>" target="_blank">
                    <% file_type = JSON.parse(item['image_data'])['original']['metadata']['mime_type'] rescue nil %>
                    <% if file_type == 'image/jpeg' || file_type == 'image/png' || file_type == 'image/gif' %>
                      <img src="<%= $server[@controller_title] %><%= task_statement_sub_item['image_url_original'] %>" class="img-thumbnail" />
                    <% else %>
                      <i class="fas fa-file-alt fa-3x p-5 card text-center"></i> 
                    <% end %>
                    </a>
                 <% end %>
                    
                </td>

                <td>
                    <textarea class="form-control" name="task[task_statements_attributes][<%= idx %>][title]" rows="3" cols="50"><%= task_statement_sub_item['title'] %></textarea>
                </td>

                <td class="mt-10 text-center"><a class="btn p-3 btn-danger" onclick="$('#task_statements_items<%= idx %>').hide();$('#task_statements_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>
                                              
                <input type="hidden" class="form-control" placeholder="id" name="task[task_statements_attributes][<%= idx %>][id]" value="<%= task_statement_sub_item['id'] %>">
                                              
                <input type="hidden" class="check_destroy" placeholder="" name="task[task_statements_attributes][<%= idx %>][_destroy]" value=false>
                                              
            </tr>
        <% end %>
    <% end %>
                                              
                                              
        </tbody>
    </table>

    
   
    <div class="text-left"><a onclick="addtask_statementrows('task_statement_items');" class="btn btn-sm p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>
           
                               
                                              
        <script type="text/javascript">
            var task_statement_items_row = <%= task_statement_sub_item_size + list_kpi_sub_item_size %>;

        


                function addtask_statementrows(task_statement_id_name) {


                                    


                    html = '<tr id="'+ task_statement_id_name + task_statement_items_row + '">';    

                    html += '<td><div class=""><input id="_'+task_statement_items_row+'photo-upload-result" type="hidden" name="task[task_statements_attributes]['+task_statement_items_row+'][image]"><input accept="image/jpeg,image/jpg,image/png,image/gif,application/pdf,application/powerpoint,application/vnd.ms-powerpoint,application/vnd.ms-office,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/x-zip,application/zip,application/x-zip-compressed,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-7z-compressed" data-upload-server="" data-preview-element="_'+task_statement_items_row+'preview-photo" data-upload-result-element="_'+task_statement_items_row+'photo-upload-result" id="input-task_statement_items_row-'+task_statement_items_row+'" class="" type="file"><div class="d-block mb-4"><img id="_'+task_statement_items_row+'preview-photo" class="img-thumbnail" /></div></div></td>'   

                    html += '<td><textarea class="form-control" name="task[task_statements_attributes]['+task_statement_items_row+'][title]" rows="3" cols="50"></textarea></td>';

                    html += '<input type="hidden" class="form-control" name="task[task_statements_attributes]['+task_statement_items_row+'][biz_id]" value = "<%= $user[session.id.to_s][@controller_title]['biz_id'] %>" >';  
                    
                    html += '<input type="hidden" class="form-control"  name="task[task_statements_attributes]['+task_statement_items_row+'][user_id]" value = "<%= $user[session.id.to_s][@controller_title]['id'] %>" >'; 
                                              
                    html += '<td class="mt-10"><a class="btn p-3 btn-danger" onclick="$(\'#' + task_statement_id_name + task_statement_items_row + '\').remove();$(\'#' + task_statement_id_name + task_statement_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';
                                                                                                                                
                    html += '<input type="hidden" class="check_destroy" placeholder="" name="task[task_statements_attributes]['+task_statement_items_row+'][_destroy]" value=false>';
                                                                                                                                                           
                    html += '</tr>';
                                              
                    $('#' + task_statement_id_name + ' tbody').append(html);
                              



                      function normal_fileUpload(fileInput) {
                        var imagePreview = document.getElementById(fileInput.dataset.previewElement)

                        fileInput.style.display = 'none' // uppy will add its own file input

                        var uppy = Uppy.Core({
                            id: fileInput.id,
                            restrictions: {
                              allowedFileTypes: fileInput.accept.split(','),
                            }
                          })
                          .use(Uppy.FileInput, {
                            target: fileInput.parentNode,
                          })
                          .use(Uppy.Informer, {
                            target: fileInput.parentNode,
                          })
                          .use(Uppy.ProgressBar, {
                            target: imagePreview.parentNode,
                          })

                        

                        uppy.use(Uppy.XHRUpload, {
                            endpoint: '<%= $server[@controller_title] %>/upload', // Shrine's upload endpoint
                            fieldName: 'file',
                          })



                        uppy.run()

                        uppy.on('upload-success', function (file, data, uploadURL) {
                          // show image preview
                          imagePreview.src = URL.createObjectURL(file.data)
                          imagePreview.href = URL.createObjectURL(file.data) 
                          imagePreview.style = 'display: block;'
                          $('#' +imagePreview.id + '-title').val(file.name)
                          $('#task_attach_btn_save').css('display', 'block');
                          

                          var uploadedFileData = JSON.stringify(data)

                          // set hidden field value to the uploaded file data so that it's submitted with the form as the attachment
                          var hiddenInput = document.getElementById(fileInput.dataset.uploadResultElement)
                          hiddenInput.value = uploadedFileData
                          //alert(uploadedFileData);
                        })

                        return uppy
                      }



                   //for Button Choose upload image
                   fileInput = document.querySelector('#input-task_statement_items_row-'+ task_statement_items_row);
                   normal_fileUpload(fileInput);










                    task_statement_items_row++;







                }
            </script>


<br/>





            </div>
            <!--end::table-responsive py-5 -->
<!-- ======================================== end :: Task Attachment ===================================================-->



            </div>
        </td>
    </tr>





    <tr>
        <td colspan="2">
            <div class="my-2"><b>ปัจจัยสนับสนุนต่อการดําเนินงาน : </b></div>
            <div class="my-2">


                <% if @task && !@task['data'].blank? && !@task['data']['task_supports'].blank? && !@task['data']['task_supports'][0] && !@task['data']['task_supports'][0]['id'].blank? %>
                <input type="hidden" name="task[task_supports_attributes][0][id]" value="<%= @task['data']['task_supports'][0]['id'] rescue nil %>">
                <% end %>

                <input type="hidden" name="task[task_supports_attributes][0][task_id]" value="<%= @task['data']['id'] rescue nil %>">
                <input type="hidden" name="task[task_supports_attributes][0][user_id]" value="<%= @task['data']['user_id'] rescue nil %>">
                <input type="hidden" name="task[task_supports_attributes][0][biz_id]" value="<%= @task['data']['biz_id'] rescue nil %>">

                <textarea class="form-control my-3" rows="4" cols="40" name="task[task_supports_attributes][0][title]"><%= @task['data']['task_supports'][0]['title'] rescue nil %></textarea>

            </div>
        </td>
    </tr>





    <tr>
        <td colspan="2">
            <div class="my-2"><b>อุปสรรคต่อการดําเนินงาน :</b></div>
            <div class="my-2">


            <% if @task && !@task['data'].blank? && !@task['data']['task_obstacles'].blank? && !@task['data']['task_obstacles'][0]['id'].blank? %>
                <input type="hidden" name="task[task_obstacles_attributes][0][id]" value="<%= @task['data']['task_obstacles'][0]['id'] rescue nil %>">
                <% end %>

                <input type="hidden" name="task[task_obstacles_attributes][0][task_id]" value="<%= @task['data']['id'] rescue nil %>">
                <input type="hidden" name="task[task_obstacles_attributes][0][user_id]" value="<%= @task['data']['user_id'] rescue nil %>">
                <input type="hidden" name="task[task_obstacles_attributes][0][biz_id]" value="<%= @task['data']['biz_id'] rescue nil %>">
                <textarea class="form-control my-3" rows="4" cols="40"  name="task[task_obstacles_attributes][0][title]"><%= @task['data']['task_obstacles'][0]['title'] rescue nil %></textarea>
            </div>
        </td>
    </tr>






    <tr>
        <td colspan="2">
            <div class="my-2"><b>หลักฐานอ้างอิง :</b></div>
            <div class="my-2">

                <% if @task && !@task['data'].blank? && !@task['data']['task_data_collectors'].blank? && !@task['data']['task_data_collectors'][0]['id'].blank? %>
                <input type="hidden" name="task[task_data_collectors_attributes][0][id]" value="<%= @task['data']['task_data_collectors'][0]['id'] rescue nil %>">
                <% end %>

                <input type="hidden" name="task[task_data_collectors_attributes][0][task_id]" value="<%= @task['data']['id'] rescue nil %>">
                <input type="hidden" name="task[task_data_collectors_attributes][0][user_id]" value="<%= @task['data']['user_id'] rescue nil %>">
                <input type="hidden" name="task[task_data_collectors_attributes][0][biz_id]" value="<%= @task['data']['biz_id'] rescue nil %>">
                <textarea class="form-control my-3" rows="4" cols="40" name="task[task_data_collectors_attributes][0][title]"><%= @task['data']['task_data_collectors'][0]['title'] rescue nil %></textarea>
            </div>
        </td>
    </tr>







</table>















</div>
<!--end::Card Body-->

<!--begin::Card Foolter-->
<div class="card-footer">
        <%= f.hidden_field :list_id, value: params[:list_id] if params[:list_id] %>
        <%= f.hidden_field :plan_report_id, value: params[:plan_report_id] if params[:plan_report_id] %>
        <%= f.hidden_field :user_id, value: $user[session.id.to_s][@controller_title]['id'] %>
        <%= f.hidden_field :biz_id, value: $user[session.id.to_s][@controller_title]['biz_id'] %>
        <%= hidden_field_tag :original_url, params[:original_url] %>
        <%= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
</div>
<!--end::Card Foolter-->
<% end %>