<div class="container-fluid">

    <div class="row">
        <div class="col"> 
              <div class="float-start">
                    <h2 class="card-label">
                        <i class="fa-solid fa-circle-chevron-right"></i>
                        <%= t(:add_data_to_the_performance_report) %>
                    </h2> 
              </div>
         </div>
        <div class="col">
          <div class="float-end"> 
                <%= link_to "/#{gen_form[0]}/plans/#{@category['data']['plan_id']}/tasks?plan_report_id=#{@plan_report['data']['id']}&original_url=/kpi/plan_reports/#{@task['data']['plan_report_id']}", class: 'btn btn-light -sm' do %> 
                    <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
                <% end %>
          </div> 
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-custom gutter-b example example-compact">


                    <%= render 'form' %>


            </div>
        </div>
    </div>
</div>