

<%

url = URI("#{$server[@controller_title]}/api/v1/categories/#{@task['data']['category_id']}")

@category = request_api(url, "get", nil)


#if params['print'] == true 
    
#    back_url = "/#{gen_form[0]}/plans/#{@category['data']['plan_id']}/tasks?plan_report_id=#{@task['data']['plan_report_id']}&original_url=/kpi/plan_reports/#{@task['data']['plan_report_id']}&print=true"
#else
   #back_url = "/#{gen_form[0]}/plans/#{@category['data']['plan_id']}/tasks?plan_report_id=#{@task['data']['plan_report_id']}&original_url=/kpi/plan_reports/#{@task['data']['plan_report_id']}"
#end
#kpi/plans/79495826-AA64-4D32-A551-71A46C28C990/tasks?plan_report_id=13CC31F0-A455-46FE-B297-5C83067BAA06&original_url=/kpi/master_plans/13CC31F0-A455-46FE-B297-5C83067BAA06&print=true
#เรียกมาจาก หน้า master plan , ละ plan report ปุ่ม ดู 

   # back_url = "/#{gen_form[0]}/plans/#{@category['data']['plan_id']}/tasks?plan_report_id=#{@task['data']['plan_report_id']}&original_url=#{params['original_url']}&print=true" if params['print'].present?


    params['original_url'] = "/#{gen_form[0]}/master_plans/#{@category['data']['plan']['master_plan_id']}&print=true" if (params['print'].present?) && (params['master_plan'].present?) 

    params['original_url'] = "/#{gen_form[0]}/plan_reports/#{params['plan_report_id']}&print=true" if (params['print'].present?) && (!params['master_plan'].present?) # && (params['print'] == true) 
    
    params['original_url'] = "/#{gen_form[0]}/plans/#{@category['data']['plan_id']}" if !params['print'].present?  

    params['original_url'] = "/#{gen_form[0]}/plan_reports/#{params['plan_report_id']}" if (!params['print'].present?) && (action_name == "show")  

    back_url = "/#{gen_form[0]}/plans/#{@category['data']['plan_id']}/tasks?plan_report_id=#{@task['data']['plan_report_id']}&original_url=#{params['original_url']}"   



%>

<%#= @category['data']['plan']['master_plan_id'] %>

<%#= action_name %>

<%#= params['master_plan'] %>

<div class="container-fluid">

    <div class="row">
        <div class="col"> 
              <div class="float-start">
                    <h2 class="card-label">
                        <i class="fa-solid fa-circle-chevron-right"></i>
                        <%= t(:add_data_to_the_performance_report) %>
                    </h2> 
              </div>
         </div>
        <div class="col">
          <div class="float-end"> 
         
        

                <%= link_to "#{back_url}", class: 'btn btn-light -sm' do %> 
                    <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
                <% end %>
          </div> 
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-custom gutter-b example example-compact">



<%= form_for('task', url: "/#{gen_form[0]}/tasks#{gen_form[1]}" , method: gen_form[2]) do |f| %>
<!--begin::Card Body-->
<div class="card-body">


<div class="">
    <span class="text-muted">แบบฟอร์มรายงานการประเมินส่วนราชการ ตามนโยบายกระทรวงยุติธรรม กรมคุ้มครองสิทธิและเสรีภาพ ประจําปีงบประมาณ พ.ศ. <%= @task['data']['plan_report']['master_plan']['period_year']&.to_date&.year + 543 rescue nil %></span>
</div>

<table class="table table-bordered">
        
    <tr>
        <td>
            <b class="fs-3">รายงานผลการปฏิบัติราชการตามนโยบายกระทรวงยุติธรรม</b> <br> (รายตัวชี้วัด)         
        </td>
        <td>
        <div class="my-2"><b>ประจําเดือน</b></div>
            <div class="my-2">
            
                <span class="badge badge-light"><%= convert_thai_date(@task['data']['plan_report']['startdate']&.in_time_zone&.to_date,'default')  rescue nil %> ถึง <%= convert_thai_date(@task['data']['plan_report']['enddate']&.in_time_zone&.to_date,'default')  rescue nil %></span>
                <span class="badge badge-light"><%#=  convert_thai_date(@task['data']['plan_report']['master_plan']['startdate']&.in_time_zone&.to_date,'default') rescue nil %></span><!-- ถึง -->
                <span class="badge badge-light"><%#= convert_thai_date(@task['data']['plan_report']['master_plan']['enddate']&.in_time_zone&.to_date,'default') rescue nil %></span>
            </div>
            <div>(แบบสะสม)</div>
        </td>
    </tr>



    <tr>
        <td colspan="2">
            <div class="my-2">
            <% if @task['data'].present? %>
                <b>ชื่อตัวชี้วัดที่ <%= @task['data']['list']['order_sort'].to_i rescue nil %> :</b>
                <div><%= @task['data']['list']['title'] rescue nil %></div>
           
            <% end %>
            </div>

        </td>
    </tr>

    <tr>
    <td colspan="5">
    <table class="table table-bordered">
             <tr>
                <td style="width:50%">
                    <div class="my-2">
                        <b> ค่าเป้าหมาย 6 เดือน </b>
                    </div>
                    <% if @task['data'].present? %>
                        <%  @task['data']['list']['list_kpi_half_years'].each do |list_kpi_half_year| %>
               
                        <% if (list_kpi_half_year['kpi_value_unit'].include?'ร้อยละ') == true %>  

                            <%= list_kpi_half_year['title'].remove('-') %> <%= list_kpi_half_year['kpi_value_unit'].remove('-') %> <span class="badge badge-light"><%= strip_trailing_zero(list_kpi_half_year['kpi_value']) %></span> 

                        <% else %>
                            <%= list_kpi_half_year['title'].remove('-') %> <span class="badge badge-light"><%= strip_trailing_zero(list_kpi_half_year['kpi_value'])%></span> <%= list_kpi_half_year['kpi_value_unit'].remove('-')%>
                       
                        <% end %>
                            <% end %>
                    <% end %>
              

                </td>
                <td style="width:50%">
                    <div class="my-2">
                        <b> ค่าเป้าหมาย 12 เดือน </b>
                    </div>
                    <% if @task['data'].present? %>
                        <%  @task['data']['list']['list_kpi_full_years'].each do |list_kpi_full_year| %>
                            <% if  (list_kpi_full_year['kpi_value_unit'].include?'ร้อยละ') == true %>  
                                <%= list_kpi_full_year['title'].remove('-') %> <%= list_kpi_full_year['kpi_value_unit'].remove('-') %> <span class="badge badge-light"><%= strip_trailing_zero(list_kpi_full_year['kpi_value']) %></span>
                            <% else %>
                                <%= list_kpi_full_year['title'].remove('-') %> <span class="badge badge-light"><%= strip_trailing_zero(list_kpi_full_year['kpi_value']) %></span> <%= list_kpi_full_year['kpi_value_unit'].remove('-')  %>
                             <% end %>
                        <% end %>
                    <% end %>
            
                </td>
            </tr>
        </table>
    </td>
    </tr>


    <tr>
        <td>
            <b>ผู้กํากับดูแลตัวชี้วัด :</b>
            <ul> 
            <% if @task['data'].present? %>
                <% @task['data']['list']['list_kpi_owners'].each do |list_kpi_owner| %>
                    <li>
                       
                        <%= list_kpi_owner['devision_director']['title'] rescue nil %>
                        <div><b>เบอร์โทรศัพท์ : </b><%= list_kpi_owner['devision_director']['phone'] rescue nil %></div>
                    </li>
                <% end %>
            <% end %>
            </ul>
        </td>
        <td>
            <b>ผู้จัดเก็บข้อมูล :</b>
            <ul> 
            <% if @task['data'].present? %>
                <% @task['data']['list']['list_kpi_persons'].each do |list_kpi_person| %>
                    <li>
                        <%= list_kpi_person['title'] rescue nil %>
                        <div><b>เบอร์โทรศัพท์ :</b> <%= list_kpi_person['phone'] rescue nil %></div>
                    </li>
                <% end %>
            <% end %>
            </ul>
        </td>
    </tr>



    <tr>
        <td colspan="2">
            <div class="my-2"><b>ข้อมูลผลการดําเนินงาน :</b></div>
            <div class="my-2">

                <%# @task['data']['task_results'].each_with_index do |task_result, idx| %>
                <%# @task['data']['task_results'].take(1).each_with_index do |task_result, idx| %>




                    <textarea readonly="true" style= "background-color: white" class="form-control my-3" rows="4" cols="40" name="task[task_results_attributes][0][title]"><%= @task['data']['task_results'][0]['title'] rescue nil %></textarea>

                <%# end %>

            </div>

        </td>
    </tr>




    <tr>
        <td colspan="2">
            <div class="my-2"><b><%= t(:scoring_criteria) %> :</b></div>
            <div class="my-2">
                <%= @task['data']['list']['list_scores'][0]['title'] rescue nil %>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">1</th>
                            <th class="text-center">2</th>
                            <th class="text-center">3</th>
                            <th class="text-center">4</th>
                            <th class="text-center">5</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <% if (@task['data']['list']['list_scores'][0]['unit_first'].include?'ร้อยละ') == true %>
                            <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_first'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_first'].remove('-') rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_first']) rescue nil %> </td>
                        <% else %>
                            <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_first'] rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_first']) rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_first'].remove('-') rescue nil %></td>
                        <% end %>

                        <% if (@task['data']['list']['list_scores'][0]['unit_second'].include?'ร้อยละ') == true %>
                        <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_second']  rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_second'].remove('-')  rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_second']) rescue nil %> </td>
                        <% else %>
                            <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_second']  rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_second']) rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_second'].remove('-')  rescue nil %></td>
                        <% end %>

                        <% if (@task['data']['list']['list_scores'][0]['unit_third'].include?'ร้อยละ') == true %>    
                            <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_third']  rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_third'].remove('-')  rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_third']) rescue nil %> </td>
                        <% else %>
                            <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_third']  rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_third']) rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_third'].remove('-')  rescue nil %></td>
                        <% end %>

                        <% if (@task['data']['list']['list_scores'][0]['unit_fourth'].include?'ร้อยละ') == true %>
                            <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_fourth']  rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_fourth'].remove('-')  rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_fourth']) rescue nil %> </td>
                        <% else %>
                            <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_fourth']  rescue nil %>  <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_fourth']) rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_fourth'].remove('-')  rescue nil %></td>
                        <% end %>

                        <% if (@task['data']['list']['list_scores'][0]['unit_fifth'].include?'ร้อยละ') == true %>    
                            <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_fifth']  rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_fifth'].remove('-')  rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_fifth']) rescue nil %></td>

                        <% else %>
                        <td class="text-center"><%= @task['data']['list']['list_scores'][0]['title_fifth']  rescue nil %> <%= strip_trailing_zero(@task['data']['list']['list_scores'][0]['score_fifth']) rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_fifth'].remove('-')  rescue nil %></td>
                        <% end %>
                        </tr>
                    </tbody>
                </table>
            </div>

        </td>
    </tr>





    <tr>
        <td colspan="2">
            <div class="my-2"><b>การคํานวณคะแนนจากผลการดําเนินงาน :</b></div>
            <div class="my-2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ตัวชี้วัด/ข้อมูลพื้นฐานประกอบตัวชี้วัด</th>
                            <th style="width: 150px;">ค่าเป้าหมาย<br>(ร้อยละ)</th>
                            <th style="width: 150px;">ผลการ<br>ดําเนินงาน</th>
                            <th style="width: 150px;">สรุปผลการ<br>ดําเนินงาน</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= @task['data']['list']['title'] rescue nil %></td>
                            <td>
                                <%= @task['data']['list']['list_scores'][0]['title_third'] rescue nil %> <% if (@task['data']['list']['list_scores'][0]['unit_third'].include?'ร้อยละ') == true %> <%= @task['data']['list']['list_scores'][0]['unit_third'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['score_third'] rescue nil %>  <% else %> <%= @task['data']['list']['list_scores'][0]['score_third'] rescue nil %> <%= @task['data']['list']['list_scores'][0]['unit_third'] rescue nil %> <% end %>
                            </td>
                            <td>

                                <%= @task['data']['task_score_results'][0]['value_first'] rescue nil %>
                            </td>
                            <td>

                            <%= @task['data']['task_score_results'][0]['value_second'] rescue nil %>
    
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>








    <tr>
        <td colspan="2">
            <div class="my-2"><b>สูตรการคํานวณ : (ถ้ามี)</b></div>
            <div class="my-2">


                <% @task['data']['list']['list_formulas'].each do |list_formula| %>
                    <div class="p-3">
                        <%= list_formula['title'] rescue nil %>
                    </div>
                    <div class="p-3">
                        <% if !list_formula['image_data'].blank? %>
                            <a href="<%= $server[@controller_title] %>/<%= list_formula['image_url_original'] %>" target="_blank">
                                <img src="<%= $server[@controller_title] %>/<%= list_formula['image_url_original'] %>" class="img-thumbnail" />
                            </a>
                        <% end %>
                    </div>
                <% end %>



            </div>
        </td>
    </tr>







    <tr>
        <td colspan="2">
            <div class="my-2"><b>คําชี้แจงการปฏิบัติงาน/มาตรการที่ได้ดําเนินการ :</b></div>
            <div class="my-2">


<!-- ======================================== begin :: Task Attechment 1 ===================================================-->
<!--begin::table-responsive py-5 -->
<div class="table-responsive py-5">
    <table id="task_statement_items" class="table table-bordered">
        <thead>
            <tr>
                <th><%= t(:attachment) %></th>
                <th><%= t(:detail) %></th>
                <th style="width: 80px;"></th>
            </tr>
        </thead>
        <tbody>
    <% 
        task_statement_sub_item_size = 0
        list_kpi_sub_item_size = 0
        if @task && @task['data'] && @task['data']['task_statements']
            list_kpi_sub_item_size = @task['data']['task_statements'].size.to_i
    %>
        <% @task && @task['data']['task_statements'].each_with_index do |task_statement_sub_item,idx|  %>
            <tr id="task_statements_items<%= idx %>">

            <td style="width: 100px;">
            <% if !task_statement_sub_item['image_data'].blank? && !task_statement_sub_item['image_data'].blank? %>
            <a href="<%= $server[@controller_title] %>/<%= task_statement_sub_item['image_url_original'] %>" target="_blank">
            <% file_type = JSON.parse(item['image_data'])['original']['metadata']['mime_type'] rescue nil %>
            <% if file_type == 'image/jpeg' || file_type == 'image/png' || file_type == 'image/gif' %>
              <img src="<%= $server[@controller_title] %><%= task_statement_sub_item['image_url_original'] %>" class="img-thumbnail" />
            <% else %>
              <i class="fas fa-file-alt fa-3x p-5 card text-center"></i> 
            <% end %>
            </a>
         <% end %>
                </td>

                <td>
                    <textarea readonly="true" style= "background-color: white" class="form-control" name="task[task_statements_attributes][<%= idx %>][title]" rows="3" cols="50"><%= task_statement_sub_item['title'] %></textarea>
                </td>

                <td class="mt-10 text-center"></td>
                                         
                                              
            </tr>
        <% end %>
    <% end %>
                                              
                                              
        </tbody>
    </table>

    
<!-- ======================================== end :: Task Attachment ===================================================-->



            </div>
        </td>
    </tr>


    <tr>
        <td colspan="2">
            <div class="my-2"><b>ปัจจัยสนับสนุนต่อการดําเนินงาน : </b></div>
            <div class="my-2">


                <textarea readonly="true" style= "background-color: white" class="form-control my-3" rows="4" cols="40" name="task[task_supports_attributes][0][title]"><%= @task['data']['task_supports'][0]['title'] rescue nil %></textarea>

            </div>
        </td>
    </tr>


    <tr>
        <td colspan="2">
            <div class="my-2"><b>อุปสรรคต่อการดําเนินงาน :</b></div>
            <div class="my-2">

                <textarea readonly="true" style= "background-color: white" class="form-control my-3" rows="4" cols="40"  name="task[task_obstacles_attributes][0][title]"><%= @task['data']['task_obstacles'][0]['title'] rescue nil %></textarea>
            </div>
        </td>
    </tr>






    <tr>
        <td colspan="2">
            <div class="my-2"><b>แหล่งฐานอ้างอิง :</b></div>
            <div class="my-2">
                <textarea readonly="true" style= "background-color: white" class="form-control my-3" rows="4" cols="40" name="task[task_data_collectors_attributes][0][title]"><%= @task['data']['task_data_collectors'][0]['title'] rescue nil %></textarea>
            </div>
        </td>
    </tr>







</table>















</div>
<!--end::Card Body-->

<!--begin::Card Foolter-->
<div class="card-footer">
        <%= f.hidden_field :list_id, value: params[:list_id] if params[:list_id] %>
        <%= f.hidden_field :plan_report_id, value: params[:plan_report_id] if params[:plan_report_id] %>
        <%= f.hidden_field :user_id, value: $user[session.id.to_s][@controller_title]['id'] %>
        <%= f.hidden_field :biz_id, value: $user[session.id.to_s][@controller_title]['biz_id'] %>
        <%= hidden_field_tag :original_url, params[:original_url] %>

</div>
<!--end::Card Foolter-->
<% end %>


</div>
</div>
</div>
</div>