<%
@datas = Hash.new
@datas['data'] = [
    {
        "id"=>1,
        "list_target"=>"title",
    },
]
%>

<div class="container-fluid">

        <div class="row">
                <div class="col">
                        <div class="float-start">
                                <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:detail)%><%= t(:master_plan) %></h2>
                        </div>
                </div>
                <div class="col">
                        <div class="float-end">
                                <%= link_to km_plans_path(@plan), class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i></i> <%= t(:back) %> </i>
                                <% end %>
                        </div>
                </div>
        </div>

        <div class="row">
                <div class="col">
                        <div class="card-show">


                                              <!--begin 1. แผนพัฒนาองค์การ -->
                                              <!--begin 1. แผนพัฒนาองค์การ -->

                                            <h1 class="text-center mt-15"> รายงานผลการดำเนินงานตาม<br></h1>
                                           <h1 class="text-center mt-5"> แผนพัฒนาองค์การ ประจำปีงบประมาณ พ.ศ. 2564 กรมคุ้มครองสิทธิและสรีภาพ </h1>
                                           <h1 class="text-center"> หมวด 1 การนำองค์การ </h1>
                                           <h5 class="text-center">ตั้งแต่วันที่ 1 ตุลาคม 2563 - 30 กันยายน 2564 </h5>



                                           <div class="table-responsive py-5">
                                                <table id="items" class="table table-bordered" style="text-left">
                                                  <thead style="width:auto;text-align:center; background-color: #d9dbff;">
                                                    <tr valign="middle">
                                                      <th>กิจกรรม/ขั้นตอน</th>
                                                      <th>ผลการดำเนินงาน</th>
                                                      <th>ผลผลิต</th>
                                                      <th>ปัญหา/อุปสรรค</th>
                                                      <th>หลักฐานเอกสาร</th>
                                                    </tr>

                                                  <thead style="width:auto;background-color: #d9dbff;">
                                                    <tr valign="middle">
                                                      <th colspan="5">1.1 การนำองค์การโดยผู้บริหารของส่วนราชการ</th>
                                                    </tr>
                                                  </thead>
                                                  <thead style="width:auto;background-color: #f4f4f4;">
                                                      <tr>
                                                        <td colspan="5">
                                                          <b>ก. วิสัยทัศน์ ค่านิยม </b>
                                                        </td>
                                                    </tr>
                                                      </thead>

                                                          <tr valign="top">
                                                            <td>
                                                              <ui>
                                                                <b>1. </b>ผู้บริหารทุกระดับดำเนินการถ่ายทอดวิสัยทัศน์ค่านิยม วัฒนธรรมองค์การ
                                                                  นโยบายกรมคุ้มครองสิทธิและ เสรีภาพ ประจำปีงบประมาณ พ.ศ. 2564 และไปสู่
                                                                  การปฏิบัติให้กับบุคลากรกรมคุ้มครองสิทธิและเสรีภาพ ผู้รับบริการ ผู้มีส่วนได้ส่วนเสีย
                                                                  และผู้ให้ความร่วมมือ ตามความเหมาะสมและสถานการณ์
                                                                <li>
                                                                ผ่านการประชุม/สัมมนา/ฝึกอบรม/VDO Conference/ประชุมออนไลน์ ทั้งภายในและภายนอก
                                                                </li>
                                                                <li>
                                                                  สื่อประชาสัมพันธ์ในรูปแบบ Infographic คลิปประชาสัมพันธ์ Social Media
                                                                </li>
                                                              </ui>
                                                            </td>
                                                            <td>
                                                              1. แจ้งเวียนไปทุกหน่วยงานเพื่อให้ผู้บริหารทุกระดับดำเนินการถ่าย ทอดวิสัยทัศน์ค่านิยม วัฒธรรมองค์การ และนโยบายกรมคุ้มครอง
                                                              และเสรีภาพ ประจำปีงบประมาณ พ.ศ. 2564 ไปสู่การปฏิบัติให้กับ บุคลากรกรมคุ้มครองสิทธิและเสรีภาพ ผู้รับบริการผู้มีส่วนได้ส่วน
                                                              เสีย และผู้ให้ความร่วมมือ ตามความเหมาะสมและสถานการณ์ โดยมีตัวชี้วัดการถ่ายทอดอย่างน้อยคนละ 5 ครั้ง
                                                            </td>
                                                            <td>
                                                              1. กคส. มีสื่อประชาสัม พันธ์ “วิสัยทัศน์” ค่านิยมและวัฒนธรรมองค์การ
                                                            </td>
                                                              <td></td>
                                                            <td>
                                                              1. หนังสือ คทง. หมวด 1 ที่ ยธ 0413/ว14 ลงวันที่ 1 มี.ค. 64 แจ้งเวียนให้ทุกหน่วยงานถ่ายทอดและรายงานถ่ายทอดฯ
                                                            </td>
                                                          </tr>


                                                          <tr valign="top">
                                                            <td>
                                                            </td>
                                                            <td>
                                                              2. ดำเนินการเผยแพร่ สื่อประชาสัมพันธ์ ผ่านช่องทางดังนี้
                                                               <ui>
                                                                 <li>
                                                                   กพร. ดำเนินการปรับปรุงภาพข้อความโดยเพิ่มเติมนโยบาย กคส. ประจำปี พ.ศ. 2564 เพื่อให้บุคลากรส่วนกลางรับทราบ ทั่วกัน
                                                                 </li>
                                                                 <li>
                                                                   ประชาสัพันธ์ คลิป VDO วิสัยทัศน์ ค่านิยม และวัฒนธรรมองค์การผ่านช่องทาง Social Media อย่างต่อเนื่อง โดยยอดผู้เข้าชม ณ วันที่ 30 ก.ย. 64 จำนวน 1,140 ครั้ง
                                                                   </li>
                                                               </ui>
                                                            </td>
                                                            <td>
                                                              2. ผุ้บริหาร กคส. มี การถ่ายทอดวิสัยทัศน์ ค่านิยมวัฒนธรรมองค์การนโยบาย และทิศทางการดำเนินงาน
                                                            </td>
                                                            <td></td>
                                                            <td>ภาพข้อความ</td>
                                                          </tr>

                                                          <tr valign="top">
                                                            <td>
                                                            </td>
                                                            <td>
                                                              3. คำบรรยาย Landmark ของกรุมคุ้มครองสิทธิและเสรีภาพประจำปีงบประมาณ พ.ศ. 2565 (จัดทำโดย กยผ.) พร้อมวิธีการนำไปใช้ เพื่อประโยชน์ในการถ่ายทอดวิสัยทัศน์ ค่านิยม
                                                              วัฒนธรรมองค์การ และนโยบายกรมคุ้มครองสิทธิและเสรีภาพไปสู่การปฏิบัติ ให้กับบุคลากรกรมคุ้มครองสิทธิและเสรีภาพ ผู้รับบริการ ผู้มีส่วนได้มีส่วนเสีย และผู้ให้ความร่วมมือต่อไป
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>3. คลิป VDO https://www.youtube.com/watch?v=aAGVVhUqRJ4</td>
                                                          </tr>

                                                          <tr valign="top">
                                                            <td>
                                                            </td>
                                                            <td>
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>4. คำบรรยาย Landmark ของกรมคุ้ม ครองสิทธิและเสรีภาพ ประจำปี พ.ศ. 2564 </td>
                                                          </tr>

                                                          <tr valign="top">
                                                            <td>
                                                              <ui>
                                                                <b>2. </b> การส่งเสริมการประพฤติปฏิบัติตามหลักนิติธรรมความโปร่งใส และความมีจริยธรรม
                                                                โดยติดตามผลการดำเนินการตามแผนที่เกี่ยวข้องตามหลักนิติธรรมความโปร่งใส
                                                                 และความมีจริยธรรมและให้ข้อเสนอแนะเกี่ยวกับการดำเนินงานไปยังหน่วยงานรับผิดชอบ ดังนี้
                                                              </ui>
                                                            </td>
                                                            <td>
                                                              กลุ่มกฏหมาย มีการดำเนินการจัดทำและขับเคลื่อนแผนปฏิบัติการส่งเสริมคุณธรรมและแผนปฏิบัติการป้องกัน ปราบปรามการทุจริตและประพฤติมิชอบ
                                                              กรมคุ้มครองสิทธิและเสรีภาพ ประจำปีงบประมาณ พ.ศ. 2565
                                                            </td>
                                                            <td>
                                                              <ul>
                                                                <li>
                                                                  แผนปฏิบัติการส่งเสิรมคุณธรรมกรมคุ้มครองสิทธิและเสรีภาพ ประจำปี งบประมาณ พ.ศ. 2565
                                                                  </li>
                                                                  <li>
                                                                    แผนปฏิบัติการป้องกัน ปราบปรามการทุจริตและประพฤติมิชอบประจำปีงบประมาณ พ.ศ. 2564
                                                                    </li>
                                                                </ul>

                                                            </td>
                                                              <td></td>
                                                            <td>
                                                              1. คำสั่งคณะทำงานจัดทำและขับเคลื่อนแผนปฏิบัิตการส่งเสริมคุณธรรม และแผนปฏิบัติการป้องกันปราบปรามการทุจริตและประพฤติมิชอบ
                                                            </td>
                                                          </tr>

                                                </table>

                                                <div class="float-end mt-10">
                                              <%= link_to "#", class: "btn btn-lg btn-info mx-2" do %>     <%= t(:saves) %> <% end %>
                                              </div>

                                            </div>

                                            <!--end 1. แผนพัฒนาองค์การ -->
                                            <!--end 1. แผนพัฒนาองค์การ -->


<!--
                               <h1>/pmqa/plans/show.html.erb</h1>
                                <img src="/images/ex/1_plan_reports_user_add_task.jpg" class="w-100">
-->


                        </div>
                </div>
        </div>
</div>
