<%
#init
if !params['original_url'].blank?
    back_url = params['original_url']
else
    back_url = "/#{@controller_title}/pages/dashboards"
end
%>


<div class="container-fluid">
    <div class="d-flex justify-content-end">
        <%= link_to "#{back_url}", class: 'btn btn-light text-end' do %>
            <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
        <% end %>

        <%= link_to "#", class: 'noprint align-self-center btn btn-lg btn-light mx-1', onclick: 'window.print();' do %>
            <i class="fa-solid fa-print"></i> <%= t(:print) %>
        <% end %>
    </div>


    <h1 class="text-center" style="font-size: 3rem;"><%= t(:fiscal_year) %><%= @master_plans['data']['period_year']&.to_date&.year + 543 rescue nil %></h1>

    <% @master_plans['data']['plans'].each do |plan| %>
        <%= render "/#{@controller_title}/plans/tasks", plan: plan %>

     
        <hr style="border-bottom: 3px solid #999999;;">
    <% end %>

</div>
