<div class="container-fluid">

    <div class="d-flex justify-content-between">
        <div class="w-75 d-flex">
            <h1><%= t(:plan_reports) %> : <span class="text-primary"><%= @datas['data']['period_year']&.to_date&.year + 543 rescue nil %></span></h1>
        </div>

        <div class="d-flex justify-content-between mx-2">


            <%= link_to "/#{@controller_title}/plan_reports/#{@data_plan_report['data']['master_plan_id']}/plan_reports_by_master_plan", class: 'align-self-center btn btn-lg btn-light mx-1' do %> 
                 <i class="fa-solid fa-angle-left mx-2"></i> <%= t(:back) %>
            <% end %>




            <%= link_to "/#{@controller_title}/plan_reports/print/#{@data_plan_report['data']['id']}", class: 'align-self-center btn btn-lg btn-light mx-1', target: '_blank' do %>
                <i class="fa-solid fa-eye"></i> <%= t(:view) %>
            <% end %>


            <%= link_to request.path, method: :delete, class: 'align-self-center btn btn-lg btn-danger mx-1',  data: { confirm: 'Are you sure?' } do %>
                <i class="fa-regular fa-trash-can text-white align-middle mx-auto"></i> ลบ
            <% end %>

         </div>


    </div>


    <div class="my-4">วันที่ : <span class="badge badge-info fs-6"><%= convert_thai_date(@data_plan_report['data']['startdate']&.in_time_zone&.to_date, 'default') if !@data_plan_report['data']['startdate'].blank? %></span> ถึง <span class="badge badge-info fs-6"><%= convert_thai_date(@data_plan_report['data']['enddate']&.in_time_zone&.to_date,'default') rescue nil if !@data_plan_report['data']['enddate'].blank? %></span>
    </div>







    <div class="row">









        <div class="col-sm-12">








            <!-- #1 -->
            <div class="card-show">



                <%= render "/#{@controller_title}/master_plans/list_plans" %>



        </div>
        <!-- end #1 -->








    </div>










</div>






<%  url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{@data_plan_report['data']['master_plan_id']}/check_master_plan_approve_status")
@check_master_plan_approve_status = request_api(url, "get", nil)

#9ตรวจสอบการอนุมัติแผนจาก อธิบดี แล้วค่อย เปิดปุ่ม block_comments block_comment_history
%>
    
<% if @check_master_plan_approve_status['data'] == true %>

    <%= render partial: '/share/block_comments', locals:{ model_name: 'plan_report', id: @data_plan_report['data']['id']} %>


    <%= render partial: '/share/block_comments_history', locals:{ model_name: 'plan_report', id: @data_plan_report['data']['id']} %>

<% end %>








</div>
<!--end::Kt_content-->
