<%
#init

%>


<%= form_for('download', url: "/#{gen_form[0]}/downloads#{gen_form[1]}" , method: gen_form[2]) do |f| %>
    <%#= f.hidden_field :user_id, value: $user[session.id.to_s][@controller_title]['id'] %>  
    <%#= f.hidden_field :biz_id, value: $user[session.id.to_s][@controller_title]['biz_id'] %>  
    <div class="row">    
    
    <div class="col-12 mt-3 ms-3">
    <label for="formGroupExampleInput" class="form-label"> <h5> <%= t(:order_sort) %> <span class="text-danger">*</span> </h5></label>
    <%= f.number_field :order_sort, class: "form-control", placeholder: t(:order_sort_desc), value: (@datas['data']['order_sort'] rescue nil) %>
</div>   

        <div class="col-12 mt-3 ms-3">
            <label for="formGroupExampleInput" class="form-label"> <h5><span class="text-danger"></span> <%= t(:title) %></h5></label>
            <%= f.text_field :title, class: "form-control", placeholder: t(:title), value: (@datas['data']['title'] rescue nil) %> 
        </div>

        <div class="col-12 mt-6 ms-3">
            <label for="formGroupExampleInput" class="form-label"> <h5><span class="text-danger"></span> <%= t(:file) %></h5></label>
            
            <!-- code for attachment -->
            <input id="photo-upload-result-1" type="hidden" name="download[file]">

            <input  accept="image/jpeg,image/jpg,image/png,image/gif,application/pdf,application/powerpoint,application/vnd.ms-powerpoint,application/vnd.ms-office,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/x-zip,application/zip,application/x-zip-compressed,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-7z-compressed" data-upload-server="" data-preview-element="preview-photo-1" data-upload-result-element="photo-upload-result-1" id="input-task_attachment_items_row-1" class="" type="file">

            <div class="d-block mb-2">
                <img id="preview-photo-1" class="img-thumbnail" src="<%= "#{$server[@controller_title]}/uploads/#{JSON.parse(@datas['data']['file_data'])['original']['id']}" rescue nil %>" />
            </div>

            <script type="text/javascript">
                function normal_fileUpload(fileInput) {
                    var imagePreview = document.getElementById(fileInput.dataset.previewElement)

                    fileInput.style.display = 'none'

                    var uppy = Uppy.Core({
                        id: fileInput.id,
                        restrictions: {
                          allowedFileTypes: fileInput.accept.split(','),
                        }
                      })
                      .use(Uppy.FileInput, {
                        target: fileInput.parentNode,
                      })
                      .use(Uppy.Informer, {
                        target: fileInput.parentNode,
                      })
                      .use(Uppy.ProgressBar, {
                        target: imagePreview.parentNode,
                      })

                    

                    uppy.use(Uppy.XHRUpload, {
                        endpoint: '<%= $server[@controller_title] %>/upload', // Shrine's upload endpoint
                        fieldName: 'file',
                      })



                    uppy.run()

                    uppy.on('upload-success', function (file, data, uploadURL) {
                      // show image preview
                      imagePreview.src = URL.createObjectURL(file.data)
                      imagePreview.href = URL.createObjectURL(file.data) 
                      imagePreview.style = 'display: block;'
                      $('#' +imagePreview.id + '-title').val(file.name)
                      $('#task_attach_btn_save').css('display', 'block');
                      

                      var uploadedFileData = JSON.stringify(data)

                      var hiddenInput = document.getElementById(fileInput.dataset.uploadResultElement)
                      hiddenInput.value = uploadedFileData
                    })

                    return uppy
                  }



               //for Button Choose upload image
               fileInput = document.querySelector('#input-task_attachment_items_row-1');
               normal_fileUpload(fileInput);
            </script>

            <!-- end code for attachment -->



        </div>

        <div class="col-11 mt-5 ms-5 mb-5">
            <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none"><%= f.submit t(:saves), class: "btn btn-info" %></div>
        </div> 
    </div>





<% end %>