<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
back_url = "/#{@controller_main_url}/plans/#{@follow_up_control_report['data']['evaluate_control_report']['plan_report']['category']['plan_id']}" rescue nil

$follow_up_control_report_user_status = nil
$input_readonly = ''
@follow_up_control_report['data']['follow_up_control_report_users'].each do |follow_up_control_report_user|
  if follow_up_control_report_user['user_role']['slug'] == 'approver'  && follow_up_control_report_user['status'] == 'approved' 
    $follow_up_control_report_user_status = follow_up_control_report_user['status']
    $input_readonly = 'readonly'
end
end 

%>


<div class="container-fluid">


    <div class="text-end">
        <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
                    <% end %>

        <!-- add export -->
        <%= render '/share/block_btn_export', item: @plan_report, title: 'plan_report' %>
        <!-- end add export -->
    </div>



    <%= form_for('follow_up_control_report', url: "/#{gen_form[0]}/follow_up_control_reports#{gen_form[1]}" , method: gen_form[2]) do |f| %>


    <!-- add export -->
    <div id="export_content" class="">
    <div class="landscape_A4_page">
    <!-- end add export -->  


    <div class="text-muted text-end mt-15">แบบฟอร์ม ติดตาม ปค. 5</div>
    <h1 class="text-center"> รายงานผลการติดตามการประเมินผลการควบคุมภายใน <br>หน่วยงาน : <%= @follow_up_control_report['data']['evaluate_control_report']['plan_report']['category']['institution']['title'] rescue nil %></h1>
    <div class="text-center">
        สำหรับงวดตั้งแต่วันที่ <%= convert_thai_date(@follow_up_control_report['data']['period_report']['startdate'],'default') rescue nil %> ถึง <%= convert_thai_date(@follow_up_control_report['data']['period_report']['enddate'],'default') rescue nil %>
    </div>


    <div class="table-responsive py-5">
      <table id="items" class="table table-bordered" style="text-left">
        <thead style="width:auto;text-align:center; background-color: #d9dbff;">
            <tr valign="middle" >
                <th>ภารกิจตามกฎหมายที่จัดตั้งหน่วยงานของรัฐหรือภารกิจตามแผนการดำเนินการ หรือภารกิจอื่นๆ ที่สำคัญของหน่วยงานของรัฐ/วัตถุประสงค์์</th>
                <th>ความเสี่ยงที่ยังมีอยู่</th>
                <th>การปรับปรุงการควบคุม</th>
                <th>กำหนดเสร็จ/ผู้รับผิดชอบ</th>
                <th>สถานะการดำเนินการ</th>
                <th>วิธีการติดตามและสรุปผลการปฏิบัติตามแผนการปรับปรุง</th>
                <th></th>
            </tr>
        </thead>

        <tr>
          <td colspan="7">
            <b><%= @follow_up_control_report['data']['evaluate_control_report']['plan_report']['category']['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></b>
          </td>
        </tr>

        <tr>
          <td colspan="7">
          
            <b>วัตถุประสงค์ </b><br>
            <p><%= @follow_up_control_report['data']['evaluate_control_report']['plan_report']['category']['strategic_issue']['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></p>
          </td>
        </tr>
        


      
        <!-- เขียนใหม่  -->
        
        <% @follow_up_control_report['data']['evaluate_control_report']['evaluate_controls'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |evaluate_control,idx| %>
       
        <% 
          url = URI("#{$server[@controller_title]}/api/v1/task_lists/get_by_list/#{evaluate_control['list']['id']}")
          task_lists = request_api(url,'get',nil) 
        %>
   
        <%# if task_lists['data']['existing_manage'] == "adjust" %>

        <tr valign="top">
            <td>
      
              
                <% evaluate_control['list'].each_with_index do |temm, ldx| %>
                  
                  <% if !evaluate_control['list']['list_activities'][ldx].blank? %>
                  <input type="hidden" name="follow_up_control_history[<%= idx %>][id]" class="form-control" value="<%= evaluate_control['follow_up_control_histories'][ldx]['id'] rescue nil %>">
                      <p><b><%= evaluate_control['list']['list_activities'][ldx]['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></b></p>
                      <p><%= evaluate_control['list']['list_activities'][ldx]['description'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></p>
                      <% end %>
                <% end %>
              
            </td>

            <td>
         
                <% evaluate_control['list'].each_with_index do |temm, ldx| %>
                  <% if !evaluate_control['list']['list_activities'][ldx].blank? %>
                      <p><b><%= task_lists['data']['list']['list_activities'][ldx]['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></b></p>
                      <p><%= task_lists['data']['list']['list_activities'][ldx]['description'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></p>
                  <% end %>
                <% end %>
          
            </td>
        <!-- การปรับปรุงการควบคุม -->    
            <td>
            <%= evaluate_control['task_list']['title_activity_control'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %>

            
            </td>
<!-- กำหนดเสร็จ/ผู้รับผิดชอบ -->
            <td>
                <% if !task_lists['data'].blank? %>
                
                      <center><%= convert_thai_date(evaluate_control['successdate'],'default') rescue nil %></center>
                      <center><label>/</label></center>
                      <center><%= evaluate_control['title'] rescue nil %></center>
                <% end %>
            </td>

            <td class="text-center">

                <%# if !task_lists['data'].blank? %>
               
                <%#= @follow_up_control_report['data']['follow_up_control_histories'][idx]['operation_status'] %>
  
                <%# end %>

                <%= get_status_tasks_sign(@follow_up_control_report['data']['follow_up_control_histories'][idx]['status']) rescue nil %>

           
           </td>



           <td>


           <% if !task_lists['data'].blank? %>
           <ul style="list-style-type: none">
            <% @follow_up_control_report['data']['follow_up_control_histories'][idx]['follow_up_summaries'].each do |follow_up_summary| %>

             <li> <%= follow_up_summary['title'].to_s.gsub(/\n/, '<br/>').html_safe   rescue nil %> </li>
              
        <% end %>
        </ul>
        <% end %>
           </td>
     
           
            <td align="center">
                <% if !task_lists['data'].blank? %>
        <% if $follow_up_control_report_user_status != 'approved' %>
                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'u' ,master_plan_id: @follow_up_control_report['data']['evaluate_control_report']['plan_report']['category']['plan']['master_plan_id'], model_name: 'follow_up_control_histories', model_title: nil, id: @follow_up_control_report['data']['follow_up_control_histories'][idx]['id'], params: "original_url=#{request.path}"} %>
                
                <% end %>
                <% end %>
            </td>
           
          </tr>
          <%# end %> <!-- end if -->
          <% end %>
      </table>



    </div>


    <div class="py-5">
        <b class="fs-5 py-5">สถานะการดำเนินการ</b>
        <table class="table table-bordered my-5 w-50">
            <tr>
                <th class="w-100px"><span class='badge badge-success fs-2'>*</span></th>
                <td> =  ดำเนินการแล้ว เสร็จตามกำหนด</td>
            </tr>
            <tr>
                <th><span class='badge badge-light-success fs-2'>√</span></th>
                <td> =  ดำเนินการแล้ว เสร็จล่าช้ากว่ากำหนด</td>
            </tr>
            <tr>
                <th><span class='badge badge-light fs-2'>X</span></th>
                <td> =  ยังไม่ดำเนินการ</td>
            </tr>
            <tr>
                <th><span class='badge badge-warning fs-2'>Ɵ</span></th>
                <td> =  อยู่ระหว่างดำเนินการ</td>
            </tr>
        </table>
    </div>




    <%#= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
  


    



    <!-- add export -->
    </div>
    </div>
    <!-- end add export -->   






<% end %>  

<%= render partial: '/share/block_comments', locals:{ model_name: 'follow_up_control_report', id: @follow_up_control_report['data']['id']} %>
<%= render partial: '/share/block_comments_history', locals:{ model_name: 'follow_up_control_report', id: @follow_up_control_report['data']['id']} %>

</div>