<!--begin::Kt_content-->
<div class="container-fluid">

  <h2><%= t(:user_management) %></h2>
  <!--begin:Content-->
  <div class="row">
    <div class="col-12">
      <div class="card-show">
        <div class="table-responsive py-5">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col"><b><%= t(:num) %></b></th>
                <th scope="col"><b><%= t(:name) %></b></th>
                <th scope="col"><b>ลายเซ็น</b></th>
                <th scope="col"><b><%= t(:level_user) %></b></th>
                <th scope="col"><b><%= t(:email) %></b></th>
                <th scope="col"><b><%= t(:agency) %></b></th>
                <th scope="col"><b><%= t(:last_access) %></b></th>
                <th scope="col"><b><%= t(:enable) %></b></th>
                <th class="w-100px"></th>
              </tr>
            </thead>
            <tbody>
              <% @datas['data'].each_with_index do |item,idx| %>
              <tr>
                <th scope="row"><div class="symbol symbol-20px symbol-circle" data-bs-toggle="tooltip" title="" data-bs-original-title="Alan Warden">
                  <span class="symbol-label bg-warning text-inverse-warning fw-bolder"><%= idx + 1 %></span>
                </div></th>
                <td><%= item['firstname'] %> <%= item['lastname'] %> </td>

                <td style="width: 100px;">
                <% if !item['file_data'].blank? && !item['file_data'].blank? %>
                <a href="<%= $server[@controller_title] %>/<%= item['file_url_original'] %>" target="_blank">
                    <% file_type = JSON.parse(item['file_data'])['original']['metadata']['mime_type'] rescue nil %>
                    <% if file_type == 'image/jpeg' || file_type == 'image/png' || file_type == 'image/gif' %>
                      <img src="<%= $server[@controller_title] %><%= item['file_url_original'] %>" class="img-thumbnail" />
                    <% else %>
                      <i class="fas fa-file-alt fa-3x p-5 card text-center"></i> 
                    <% end %>
                </a>
                <% end %>
              </td>

                <td>
                  <% if ( item['superadmin_role'] == true) %>
                  <span class="badge badge-primary"><%= t(:superadmin_role)%></span>
                  <% end %>

                  <% if ( item['administrator_role'] == true) %>
                  <span class="badge badge-info"><%= t(:administrator_role)%></span>
                  <% end %>

                  <% if ( item['user_role'] == true ) %>
                  <span class="badge badge-success"><%= t(:user_role) %></span>
                  <% end %>
                </td>
                <td><%= item['email'] %></td>
                <td><%= item['institution']['title'] rescue nil %></td>
                <td><%= convert_thai_date(item['last_sign_in_at'],'default') %></td>
                <td>
                  <%= get_status_enable(item['is_active']) %>
                </td>
                <td>    
                  <%#= link_to "", "/#{@controller_title}/users/#{item['id']}" , class: "fa-solid fa-magnifying-glass"  %>

                  <%#= link_to "", "/#{@controller_title}/users/#{item['id']}", method: :delete, data: { confirm: 'ต้องการลบใช่หรือไม่?' } , class: "fa-regular fa-trash-can" %>

                  <%= link_to "", "/#{@controller_title}/users/#{item['id']}"+"/edit", class: 'fa-solid fa-pen-to-square' %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
  <!--end:Content-->
</div>
<!--end::Kt_content-->
