
<!--begin::Footer-->

					<!--doc: add "bg-white" class to have footer with solod background color-->
					<div class="footer py-4 d-flex flex-lg-column hidden-print" id="kt_footer">

						<!--begin::Container-->
						<div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">

							<!--begin::Copyright-->
							<div class="text-dark order-2 order-md-1">
								© Copyright
								<span class="text-muted font-weight-bold mr-2"><%= Time.now.strftime("%Y") %></span> BeeSys. Powered by beesys.me Beta Version 2.0.1

								<!-- Version
									1.0.0 Initial
									1.0.1 Update UI
									1.1.1 Update Editor Markdown
									1.2.1 Update Dropfile
									2.0.0 Update Dashboards
									2.0.1 Beta
								-->

								<!--
								x 
								<a href="https://biza.me" target="_blank" class="text-dark-75 text-hover-primary">BIZA</a>
								. All Rights Reserved.
							-->
							</div>

							<!--end::Copyright-->

							<!--begin::Nav-->
							<!--
							<div class="nav nav-dark order-1 order-md-2">
								<a href="#" target="_blank" class="nav-link pr-3 pl-0">About</a>
								<a href="#" target="_blank" class="nav-link px-3">Team</a>
								<a href="#" target="_blank" class="nav-link pl-3 pr-0">Contact</a>
							</div>
						-->

							<!--end::Nav-->
						</div>

						<!--end::Container-->
					</div>

					<!--end::Footer-->