
<!--begin::Aside-->
<div class="aside aside-left d-flex aside-fixed bg-primary hidden-print" id="kt_aside">

  <!--begin::Primary-->
  <div class="aside-primary d-flex flex-column align-items-center flex-row-auto">

    <!--begin::Brand-->
    <div class="aside-brand d-flex flex-column align-items-center flex-column-auto py-5 py-lg-12">

     <!--begin::Logo-->
     <%= link_to root_path do %>
     <img alt="Logo" src="<%= image_path('brands/logo_beesys.svg') %>" class="w-100 max-h-40px" />
     <% end %>
     <!--end::Logo-->

   </div>

   <!--end::Brand-->

   <!--begin::Nav Wrapper-->
   <div class="aside-nav d-flex flex-column align-items-center flex-column-fluid py-5 scroll scroll-pull">

     <!--begin::Nav-->
     <ul class="nav flex-column" role="tablist">


      <li class="nav-item mb-3" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="<%= t(:dashboards) %>">
        <a href="<%= root_path %>" class="nav-link btn btn-icon btn-clean btn-lg <%= 'active'.html_safe if controller_name == 'dashboards' %>">
          <i class="fas fa-tachometer-alt"></i>
        </a>
      </li>

     <li class="nav-item mb-3" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="<%= t(:locations) %>">
        <a href="/locations" class="nav-link btn btn-icon btn-clean btn-lg <%= 'active'.html_safe if controller_name == 'locations' %>">
          <i class="fas fa-map-marker-alt"></i>
      </a>
     </li>


     <li class="nav-item mb-3" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="<%= t(:users) %>">
        <a href="/users" class="nav-link btn btn-icon btn-clean btn-lg <%= 'active'.html_safe if controller_name == 'users' %>">
          <i class="fas fa-user"></i>
        </a>
      </li>

      <li class="nav-item mb-3" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="<%= t(:reports) %>">
        <a href="/reports/report1" class="nav-link btn btn-icon btn-clean btn-lg <%= 'active'.html_safe if controller_name == 'reports' %>">
          <i class="fas fa-chart-bar"></i>
        </a>
      </li>


       



      <% if current_user.present? && current_user.superadmin_role.present? %>
       <!--begin::Quick Panel-->
      <li class="nav-item mb-3" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="<%= t(:biz) %>">
        <a href="/bizs" class="nav-link btn btn-icon btn-clean btn-lg <%= 'active'.html_safe if controller_name == 'bizs' %>">
          <i class="fas fa-building"></i>
        </a>
      </li>
      <!--end::Item-->
      <% end %>


      </ul>

    <!--end::Nav-->
    </div>

       <!--end::Nav Wrapper-->

       <!--begin::Footer-->
       <div class="aside-footer d-flex flex-column align-items-center flex-column-auto py-4 py-lg-10">

         <!--begin::Aside Toggle-->
         <span class="aside-toggle btn btn-icon btn-secondary btn-hover-secondary shadow-sm <%= "aside-toggle-active".html_safe 
             #if controller_name != 'boards' 
             %>" id="kt_aside_toggle" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="Toggle Aside">
             <i class="ki ki-bold-arrow-back icon-sm"></i>
           </span>

           <!--end::Aside Toggle-->





           <!--begin::User-->


           <a href="#" class="btn btn-icon btn-clean btn-lg w-40px h-40px" id="kt_quick_user_toggle" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="User Profile">
            <div class="symbol symbol-40 symbol-circle bg-light" data-toggle="tooltip" title="" data-original-title="<%= current_user&.firstname %>">
              <% if current_user.avatar_data %>
              <%= image_tag(current_user.avatar_url(:avatar), class: "w-100 align-self-end", title: current_user&.firstname) %>
              <% else %>
              <span class="svg-icon svg-icon-primary svg-icon-2x">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50px" height="50px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <polygon points="0 0 24 0 24 24 0 24"/>
                  <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                  <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
                </g>
              </svg>
              </span>
              <% end %> 
            </div>
      </a>

      <div class="d-block mt-4">
       <% ['th','en'].each do |lang| %>
          <a class="btn btn-sm btn-dark <%= 'disabled' if params[:locale] == lang.to_s %> p-1" href="?locale=<%= lang %>"><%= lang.upcase %></a>
        <% end %>
     </div>



      <!-- begin::User Panel-->
      <div id="kt_quick_user" class="offcanvas offcanvas-left p-10 d-none d-md-block d-lg-block d-xl-block">
        <!--begin::Header-->
        <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5">
         <h3 class="font-weight-bold m-0">
          <%= t(:user_profile) %>
          <!--<small class="text-muted font-size-sm ml-2">12 messages</small>-->
        </h3>
        <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" title="quick user close" id="kt_quick_user_close">
          <i class="ki ki-close icon-xs text-muted"></i>
        </a>
      </div>
      <!--end::Header-->

      <!--begin::Content-->
      <div class="offcanvas-content pr-5 mr-n5">
       <!--begin::Header-->
       <div class="d-flex align-items-center mt-5">
        <div class="symbol symbol-100 mr-5">

          <span class="symbol-label">
            <% if current_user.avatar_data %>
            <%= image_tag(current_user.avatar_url(:avatar), class: "w-100 align-self-end", title: current_user&.firstname) %>
            <% else %>
            <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2020-07-29-055858/theme/html/demo3/dist/../src/media/svg/icons/General/User.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
             <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
               <polygon points="0 0 24 0 24 24 0 24"/>
               <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
               <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
             </g>
           </svg><!--end::Svg Icon--></span>
           <% end %> 
         </span>

         <i class="symbol-badge bg-success"></i>
       </div>
       <div class="d-flex flex-column">
        <a href="#" class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">
         <%= current_user.firstname %> <%= current_user.lastname %>
       </a>
       <div class="text-muted mt-1">

       </div>
       <div class="navi mt-2">
         <a href="#" class="navi-item">
           <span class="navi-link p-0 pb-2">
             <span class="navi-icon mr-1">
              <span class="svg-icon svg-icon-lg svg-icon-primary"><!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Mail-notification.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24"/>
                  <path d="M21,12.0829584 C20.6747915,12.0283988 20.3407122,12 20,12 C16.6862915,12 14,14.6862915 14,18 C14,18.3407122 14.0283988,18.6747915 14.0829584,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,12.0829584 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z" fill="#000000"/>
                  <circle fill="#000000" opacity="0.3" cx="19.5" cy="17.5" r="2.5"/>
                </g>
              </svg><!--end::Svg Icon--></span>                     </span>
              <span class="navi-text text-muted text-hover-primary"><%= current_user.email %></span>
            </span>
          </a>

          <%= link_to t(:sign_out), destroy_user_session_path, method: :delete,  class: "btn btn-sm btn-light-primary font-weight-bolder py-2 px-5" %>
        </div>
      </div>
    </div>
    <!--end::Header-->

    <!--begin::Separator-->
    <div class="separator separator-dashed mt-8 mb-5"></div>
    <!--end::Separator-->

    <!--begin::Nav-->
    <div class="navi navi-spacer-x-0 p-0">

      <!--begin::Item-->
      <a href="<%= edit_user_path(current_user) %>" class="navi-item">
        <div class="navi-link">
          <div class="symbol symbol-40 bg-light mr-3">
            <div class="symbol-label">
             <span class="svg-icon svg-icon-md svg-icon-success"><!--begin::Svg Icon | path:assets/media/svg/icons/General/Notification2.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
               <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                 <rect x="0" y="0" width="24" height="24"/>
                 <path d="M13.2070325,4 C13.0721672,4.47683179 13,4.97998812 13,5.5 C13,8.53756612 15.4624339,11 18.5,11 C19.0200119,11 19.5231682,10.9278328 20,10.7929675 L20,17 C20,18.6568542 18.6568542,20 17,20 L7,20 C5.34314575,20 4,18.6568542 4,17 L4,7 C4,5.34314575 5.34314575,4 7,4 L13.2070325,4 Z" fill="#000000"/>
                 <circle fill="#000000" opacity="0.3" cx="18.5" cy="5.5" r="2.5"/>
               </g>
             </svg><!--end::Svg Icon--></span>                  </div>
           </div>
           <div class="navi-text">
             <div class="font-weight-bold">
               <%= t(:my_profile) %>
             </div>
             <div class="text-muted">
              <%= t(:account_settings) %>
              <span class="label label-light-danger label-inline font-weight-bold"><%= t(:update) %></span>
            </div>
          </div>
        </div>
      </a>
      <!--end:Item-->

     </div>
     <!--end::Nav-->

   </div>
   <!--end::Content-->
 </div>
 <!-- end::User Panel-->

 <!--end::User-->
</div>

<!--end::Footer-->
</div>

<!--end::Primary-->




<!--begin::Secondary-->
<div class="aside-secondary d-flex flex-row-fluid bg-white">

  <!--begin::Workspace-->
  <div class="aside-workspace scroll scroll-push my-2">

    <!--begin::Tab Content-->
    <div class="tab-content">


     <!--begin::Tab Pane/ Submenu -->
    <div class="tab-pane p-3 px-lg-7 py-lg-5 fade show active" id="kt_aside_tab_1">


      <%= render partial: "layouts/style1/partials/sidebar_submenu" , cached: true %>


    </div>





<!--end::Tab Pane-->
</div>

<!--end::Tab Content-->
</div>

<!--end::Workspace-->
</div>

<!--end::Secondary-->
</div>

<!--end::Aside-->