<% if controller_name == 'reports' %>
<h3 class="p-2 p-lg-3 my-1 my-lg-3"><%= t(:reports) %></h3>
<div class="list list-hover">
  <div class="list-item hoverable p-2 p-lg-3 mb-2">
    <div class="d-flex align-items-center">
     <div class="symbol symbol-40 symbol-light mr-4">
      <span class="symbol-label bg-hover-white">
       <img src="/assets/base1/media/svg/icons/Design/Component.svg" class="h-50 align-self-center" />
     </span>
   </div>
   <div class="d-flex flex-column flex-grow-1 mr-2">
    <a href="/reports/report1" class="text-muted text-hover-primary font-weight-bold">
      <span class="text-dark-75 font-size-h6 mb-0">Report 1</span>
      <br>
    </a>
  </div>
</div>
</div>
</div>

<div class="list list-hover">
  <div class="list-item hoverable p-2 p-lg-3 mb-2">
    <div class="d-flex align-items-center">
     <div class="symbol symbol-40 symbol-light mr-4">
      <span class="symbol-label bg-hover-white">
        <img src="/assets/base1/media/svg/icons/Communication/Group.svg" class="h-50 align-self-center" />
      </span>
    </div>
    <div class="d-flex flex-column flex-grow-1 mr-2">
      <a href="/reports/report2" class="text-muted text-hover-primary font-weight-bold">
        <span class="text-dark-75 font-size-h6 mb-0">Report 2</span>
        <br>
      </a>
    </div>
  </div>
</div>
</div>
<% end %>