
<!--begin::Subheader-->
<div class="subheader py-3 py-lg-5 subheader-transparent hidden-print" id="kt_subheader">
   <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">

      <!--begin::Info-->
      <div class="d-flex align-items-center flex-wrap mr-1">

         <!--begin::Page Heading-->
         <div class="d-none d-sm-flex">

            <% if @board.present? && @boards.present? %>
            <p class="subheader-title text-dark font-weight-normal my-1 mr-3">
              <%
               @boards.order("board_users.order_sort ASC") if @board.board_users.present?
              %>
              <%= select :select, :boards,
                @boards.map { |u| ["#{u.title}", u.id] },
                { include_blank: true, selected: params[:id]},
                { class: 'select2 form-control redirect-board', name: 'param' , style: 'width: 265px;', id: '' }
                %>
            </p>
            

            <%= link_to "<i class='far fa-plus-square'></i> #{t(:board)}".html_safe , new_api_v1_board_path , class: "btn btn-sm btn-primary p-2 my-1" %>

            <% end %>

         </div>

         <!--end::Page Heading-->
      </div>

      <!--end::Info-->


    </div>
 </div>
<!--end::Subheader-->