
<!--begin::Header Mobile-->
      <div id="kt_header_mobile" class="header-mobile hidden-print">

         <!--begin::Logo-->
         <%= link_to root_path do %>
            <img alt="Logo" src="<%= image_path('brands/logo_beesys.svg') %>" class="h-40px max-h-40px" />
         <% end %>
         <!--end::Logo-->

         <div class="d-flex d-sm-done">
            <% if @board.present? && @boards.present? %>
            <p class="subheader-title text-dark font-weight-normal my-1 mr-3">
              <%
               @boards.order("board_users.order_sort ASC") if @board.board_users.present?
              %>
              <%= select :select, :boards,
                @boards.map { |u| ["#{u.title}", u.id] },
                { include_blank: true, selected: params[:id]},
                { class: 'select2 form-control redirect-board', name: 'param' , style: 'width: 160px;', id: '' }
                %>
            </p>
            
            <%= link_to "<i class='far fa-plus-square'></i>".html_safe , new_api_v1_board_path , class: "btn btn-sm btn-secondary p-2 my-1" %>
            <% end %>
         </div>

         <!--begin::Toolbar-->
         <div class="d-flex align-items-center">
            <button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
               <span></span>
            </button>
         </div>

         <!--end::Toolbar-->
      </div>

      <!--end::Header Mobile-->