<%
#init
params[:original_url] = request.path if params[:original_url].blank?


if params[:original_url]
    back_url = params[:original_url]
end


if @datas && !@datas['data'].blank?
    back_url = "/#{@controller_title}/plans/#{@datas['data']['plan_id']}"
end

if @datas && !@datas['data'].blank?
    url = URI("#{$server[@controller_title]}/api/v1/categories/#{@datas['data']['category_id']}")
    @catagory = request_api(url,'get',nil)
    back_url = "/#{@controller_title}/plans/#{@catagory['data']['plan_id']}"
end

%>

<%= form_for('list', url: "/#{gen_form[0]}/lists#{gen_form[1]}" , method: gen_form[2]) do |f| %>

            <!--begin::Row-->
            <div class="row">

                <!--begin::Col_md_12-->
                <div class="col-md-12">
                    <!--begin::Card Card Custom-->
                    <div class="card card-custom gutter-b example example-compact">
                            <!--begin::Card Header-->
                            <div class="card-header">
                                  <div class="card-title d-flex py-10">

                                        <div class="mx-10 d-flex">
                                            <h6><%= t(:add) %><%= t(:num) %></h6>
                                            <input type="number" min = "1" max = "10" class="w-60px form-control mx-2" placeholder="ลำดับ" name="list[order_sort]" value="<%= @datas['data']['order_sort'] rescue nil %>" required>
                                        </div>

                                        <div class="mx-10 d-flex">
                                            <h6><%= t(:select_activity) %></h6>
                                            <%= select_tag("list[activity_id]", options_for_select(@data_activities['data'].map { |item| [item['title'], item['id']] }, (@datas['data']['activity_id'] rescue nil)), {include_blank: true, class: 'selectize-activity form-control fs-3', required: true}) %>
                                        </div>
                                    </div>



                                      <!--begin::Card Toolbar-->
                                      <div class="card-toolbar">
                                            <!--begin::Excample Tools-->
                                            <div class="example-tools justify-content-center">
                                                  <span class="example-toggle" data-toggle="tooltip" title="" data-original-title="View code"></span>
                                                  <span class="example-copy" data-toggle="tooltip" title="" data-original-title="Copy code"></span>
                                            </div>
                                            <!--end::Excample Tools-->

                                            <%= link_to back_url, class: 'btn btn-light bg-white mb-2' do %>
                                                <i class="ki ki-bold-arrow-back icon-sm"></i> <%= t(:back) %>
                                            <% end %>
                                      </div>
                                      <!--end::Card Toolbar-->
                            </div>
                            <!--end::Card Header-->








<% if action_name == 'edit' || action_name == 'update' %>




                                    <!--begin::Card Body-->
                                    <div class="card-body">


<!-- ======================================== begin :: List_Activity ===================================================-->
                                        <!--begin::Table Responsive-->

                                        <div class="table-responsive py-5">
                                        <table id="list_activity_items" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                   
                                                    <th><%= t(:activity) %></th>
                                                    <th class="w-50px"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                        <%
                                            list_activity_sub_item_size = 0
                                            if @datas && @datas['data'] && (@datas['data']['list_activities'] rescue nil)
                                                list_activity_sub_item_size = @datas['data']['list_activities'].size.to_i
                                        %>
                                            <% @datas['data']['list_activities'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |sub_item,idx|  %>
                                                <tr id="list_activities_items<%= idx %>">

                                                 

                                                    <td><input type="text" class="form-control" placeholder="<%= t(:activity) %>" name="list[list_activities_attributes][<%= idx %>][title]" value= "<%= sub_item['title'] %>" ></td>

                                                    <td class="mt-10"><a class="btn p-3 btn-danger" onclick="$('#list_activities_items<%= idx %>').hide();$('#list_activities_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>

                                                    <input type="hidden" class="form-control" name="list[list_activities_attributes][<%= idx %>][id]" value="<%= sub_item['id'] %>">

                                                    <input type="hidden" class="check_destroy" name="list[list_activities_attributes][<%= idx %>][_destroy]" value=false>



                                              </tr>
                                            <% end %>
                                        <% end %>

                                            </tbody>
                                        </table>


                                        <div class="text-left"><a onclick="addactivityrows('list_activity_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>


                                            <script type="text/javascript">
                                                var list_activity_items_row = <%= list_activity_sub_item_size %>;
                                                    function addactivityrows(list_activity_id_name) {
                                                      //  alert('call function activity');
                                                        html = '<tr id="'+ list_activity_id_name + list_activity_items_row + '">';
                                                       
                                                        html += '<td><input type="hidden" class="form-control" placeholder= <%= t(:order_sort) %> name="list[list_activities_attributes]['+list_activity_items_row+'][order_sort]" value= "'+ list_activity_items_row +'"><input type="text" class="form-control" placeholder= <%= t(:activity) %> name="list[list_activities_attributes]['+list_activity_items_row+'][title]"></td>';

                                                        html += '<input type="hidden" class="form-control" name="list[list_activities_attributes]['+list_activity_items_row+'][biz_id]" value= "<%= @datas['data']['biz_id'] rescue nil %>" >';
                                                        html += '<input type="hidden" class="form-control" name="list[list_activities_attributes]['+list_activity_items_row+'][user_id]" value= "<%= @datas['data']['user_id'] rescue nil %>" >';

                                                        html += '<td class="mt-10"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_activity_id_name + list_activity_items_row + '\').remove();$(\'#' + list_activity_id_name + list_activity_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';

                                                        html += '<input type="hidden" class="check_destroy" name="list[list_activities_attributes]['+list_activity_items_row+'][_destroy]" value=false>';
                                                        html += '<input type="hidden" class="check_destroy" name="list[tasks_attributes]['+list_activity_items_row+'][_destroy]" value=false>';

                                                        html += '</tr>';

                                                        $('#' + list_activity_id_name + ' tbody').append(html);

                                                        list_activity_items_row++;
                                                    }
                                                </script>
                                    </div>
                                    <!--end::table-responsive py-5 -->
<!-- ======================================== end :: List_Activity ===================================================-->
                                    <div class="separator separator-dashed separator-border-2 my-10"></div>
<!-- ======================================== begin:: List_Peorid ===================================================-->

                                    <!--begin::table-responsive py-5 -->
                                    <div class="table-responsive py-5">
                                        <table id="list_period_items" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th><%= t(:list_periods) %></th>
                                                    <th></th>
                                                    <th class="w-50px"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                        <%
                                            list_period_sub_item_size = 0
                                            if @datas && @datas['data'] && (@datas['data']['list_periods'] rescue nil)
                                                list_period_sub_item_size = @datas['data']['list_periods'].size.to_i
                                        %>
                                            <% @datas['data']['list_periods'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |period_sub_item,idx|  %>
                                                <tr id="list_period_items<%= idx %>">

                                                    <td><input type="date" class="form-control" placeholder="เริ่ม" name="list[list_periods_attributes][<%= idx %>][startdate]" value= "<%= period_sub_item['startdate']&.in_time_zone&.to_date %>" ></td>

                                                    <td><input type="date" class="form-control" placeholder="จบ" name="list[list_periods_attributes][<%= idx %>][enddate]" value= "<%= period_sub_item['enddate']&.in_time_zone&.to_date %>" ></td>



                                                    <td class="mt-10"><a class="btn p-3 btn-danger" onclick="$('#list_period_items<%= idx %>').hide();$('#list_period_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>

                                                    <input type="hidden" class="form-control" name="list[list_periods_attributes][<%= idx %>][id]" value="<%= period_sub_item['id'] %>">

                                                    <input type="hidden" class="check_destroy" name="list[list_periods_attributes][<%= idx %>][_destroy]" value=false>

                                                </tr>
                                            <% end %>
                                        <% end %>


                                            </tbody>
                                        </table>


                                        <div class="text-left"><a onclick="addperiodrows('list_period_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>


                                            <script type="text/javascript">
                                                var list_period_items_row = <%= list_period_sub_item_size %>;
                                                    function addperiodrows(list_period_id_name) {
                                                     //   alert('call function period');
                                                        html = '<tr id="'+ list_period_id_name + list_period_items_row + '">';

                                                        html += '<td><input type="hidden" class="form-control" name="list[list_periods_attributes]['+list_period_items_row+'][order_sort]" value = "'+ list_period_items_row +'" ><input type="date" class="form-control" placeholder="เริ่ม" name="list[list_periods_attributes]['+list_period_items_row+'][startdate]" ></td>';

                                                        html += '<td><input type="date" class="form-control" placeholder="จบ" name="list[list_periods_attributes]['+list_period_items_row+'][enddate]" ></td>';

                                                        html += '<input type="hidden" class="form-control" name="list[list_periods_attributes]['+list_period_items_row+'][biz_id]" value = "<%= @datas['data']['biz_id'] rescue nil%>" >';

                                                        html += '<input type="hidden" class="form-control" name="list[list_periods_attributes]['+list_period_items_row+'][user_id]" value = "<%=@datas['data']['user_id'] rescue nil%>" >';

                                                        html += '<td class="mt-10"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_period_id_name + list_period_items_row + '\').remove();$(\'#' + list_period_id_name + list_period_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';

                                                        html += '<input type="hidden" class="check_destroy" name="list[list_periods_attributes]['+list_period_items_row+'][_destroy]" value=false>';

                                                        html += '</tr>';

                                                        $('#' + list_period_id_name + ' tbody').append(html);

                                                        list_period_items_row++;
                                                    }
                                                </script>
                                                </div>
                                                <!--end::table-responsive py-5 -->

<!-- ======================================== end :: List_Peorid ===================================================-->
<div class="separator separator-dashed separator-border-2 my-10"></div>
<!-- ======================================== begin :: List_Kpi ===================================================-->
<!--begin::table-responsive py-5 -->
<div class="table-responsive py-5">
    <table id="list_kpi_items" class="table table-bordered">
        <thead>
            <tr>
                <th><%= t(:list_kpis) %></th>
                <th class="w-50px"></th>
            </tr>
        </thead>
        <tbody>
    <%
        list_kpi_sub_item_size = 0
        if @datas && @datas['data'] && (@datas['data']['list_kpis'] rescue nil)
            list_kpi_sub_item_size = @datas['data']['list_kpis'].size.to_i
    %>
        <% @datas['data']['list_kpis'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |kpi_sub_item,idx|  %>
            <tr id="list_kpi_items<%= idx %>">

                <td><input type="text" class="form-control" name="list[list_kpis_attributes][<%= idx %>][title]" value= "<%= kpi_sub_item['title'] %>" ></td>

                <td class="mt-10"><a class="btn p-3 btn-danger" onclick="$('#list_kpi_items<%= idx %>').hide();$('#list_kpi_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>

                <input type="hidden" class="form-control" name="list[list_kpis_attributes][<%= idx %>][id]" value="<%= kpi_sub_item['id'] %>">

                <input type="hidden" class="check_destroy" name="list[list_kpis_attributes][<%= idx %>][_destroy]" value=false>

            </tr>
        <% end %>
    <% end %>


        </tbody>
    </table>


    <div class="text-left"><a onclick="addkpirows('list_kpi_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>


        <script type="text/javascript">
            var list_kpi_items_row = <%= list_kpi_sub_item_size %>;
                function addkpirows(list_kpi_id_name) {
                 //   alert('call function kpi');
                    html = '<tr id="'+ list_kpi_id_name + list_kpi_items_row + '">';

                    html += '<td><input type="hidden" class="form-control"  name="list[list_kpis_attributes]['+list_kpi_items_row+'][order_sort]" value = "'+ list_kpi_items_row +'"><input type="text" class="form-control" placeholder= <%= t(:list_kpis) %> name="list[list_kpis_attributes]['+list_kpi_items_row+'][title]" ></td>';

                    html += '<input type="hidden" class="form-control" name="list[list_kpis_attributes]['+list_kpi_items_row+'][biz_id]" value = "<%= @datas['data']['biz_id'] rescue nil%>" >';

                    html += '<input type="hidden" class="form-control" name="list[list_kpis_attributes]['+list_kpi_items_row+'][user_id]" value = "<%=@datas['data']['user_id'] rescue nil%>" >';

                    html += '<td class="mt-10"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_kpi_id_name + list_kpi_items_row + '\').remove();$(\'#' + list_kpi_id_name + list_kpi_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';

                    html += '<input type="hidden" class="check_destroy" name="list[list_kpis_attributes]['+list_kpi_items_row+'][_destroy]" value=false>';

                    html += '</tr>';

                    $('#' + list_kpi_id_name + ' tbody').append(html);

                    list_kpi_items_row++;
                }
            </script>
            </div>
            <!--end::table-responsive py-5 -->
<!-- ======================================== end :: List_Kpi ===================================================-->
                                        <div class="separator separator-dashed separator-border-2 my-10"></div>
<!-- ======================================== begin :: List_Target_Kpi ===================================================-->

                                    <!--begin::table-responsive py-5 -->
                                    <div class="table-responsive py-5">
                                        <table id="list_target_kpi_items" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th><%= t(:list_target_kpis) %></th>
                                                    <th class="w-50px"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <%
                                                list_target_kpi_sub_item_size = 0
                                                if @datas && @datas['data'] && (@datas['data']['list_target_kpis'] rescue nil)
                                                    list_target_kpi_sub_item_size = @datas['data']['list_target_kpis'].size.to_i
                                                %>
                                                <% @datas['data']['list_target_kpis'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list_target_kpi_sub_item,idx|  %>
                                                <tr id="list_target_kpi_items<%= idx %>">

                                                    <td><input type="text" class="form-control" name="list[list_target_kpis_attributes][<%= idx %>][title]" value="<%= list_target_kpi_sub_item['title'] %>"></td>

                <td class="mt-10"><a class="btn p-3 btn-danger" onclick="$('#list_target_kpi_items<%= idx %>').hide();$('#list_target_kpi_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>

                <input type="hidden" class="form-control" name="list[list_target_kpis_attributes][<%= idx %>][id]" value="<%= list_target_kpi_sub_item['id'] %>">

                <input type="hidden" class="check_destroy" name="list[list_target_kpis_attributes][<%= idx %>][_destroy]" value=false>

            </tr>
        <% end %>
    <% end %>


        </tbody>
    </table>


    <div class="text-left"><a onclick="addlisttargetkpirows('list_target_kpi_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>


        <script type="text/javascript">
            var list_target_kpi_items_row = <%= list_target_kpi_sub_item_size %>;
                function addlisttargetkpirows(list_target_kpi_id_name) {
                    //alert('call function list target kpi');
                    html = '<tr id="'+ list_target_kpi_id_name + list_target_kpi_items_row + '">';

                    html += '<td><input type="hidden" class="form-control" name="list[list_target_kpis_attributes]['+list_target_kpi_items_row+'][order_sort]" value ="'+ list_target_kpi_items_row +'" ><input type="text" class="form-control" placeholder= <%= t(:list_target_kpis) %> name="list[list_target_kpis_attributes]['+list_target_kpi_items_row+'][title]"></td>';

                    html += '<input type="hidden" class="form-control" name="list[list_target_kpis_attributes]['+list_target_kpi_items_row+'][biz_id]" value="<%= @datas['data']['biz_id'] rescue nil %>" >';

                    html += '<input type="hidden" class="form-control" name="list[list_target_kpis_attributes]['+list_target_kpi_items_row+'][user_id]" value="<%= @datas['data']['user_id'] rescue nil %>">';

                    html += '<td class="mt-10"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_target_kpi_id_name + list_target_kpi_items_row + '\').remove();$(\'#' + list_target_kpi_id_name + list_target_kpi_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';

                    html += '<input type="hidden" class="check_destroy" name="list[list_target_kpis_attributes]['+list_target_kpi_items_row+'][_destroy]" value=false>';

                    html += '</tr>';

                    $('#' + list_target_kpi_id_name + ' tbody').append(html);

                    list_target_kpi_items_row++;
                }
            </script>
            </div>
            <!--end::table-responsive py-5 -->
<!-- ======================================== end :: List_Target_Kpi ===================================================-->
<div class="separator separator-dashed separator-border-2 my-10"></div>
<!-- ======================================== begin :: List_target_group ===================================================-->

<!--begin::table-responsive py-5 -->
<div class="table-responsive py-5">
    <table id="list_target_group_items" class="table table-bordered">
        <thead>
            <tr>
                <th><%= t(:list_target_groups) %></th>
                <th class="w-50px"></th>
            </tr>
        </thead>
        <tbody>
        <%
            list_target_group_sub_item_size = 0
            if @datas && @datas['data'] && (@datas['data']['list_target_groups'] rescue nil)
                list_target_group_sub_item_size = @datas['data']['list_target_groups'].size.to_i
            %>
            <% @datas['data']['list_target_groups'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list_target_group_sub_item,idx|  %>
            <tr id="list_target_group_items<%= idx %>">

                <td><input type="text" class="form-control" name="list[list_target_groups_attributes][<%= idx %>][title]" value="<%= list_target_group_sub_item['title'] %>"></td>

<td class="mt-10"><a class="btn p-3 btn-danger" onclick="$('#list_target_group_items<%= idx %>').hide();$('#list_target_group_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>

<input type="hidden" class="form-control" name="list[list_target_groups_attributes][<%= idx %>][id]" value="<%= list_target_group_sub_item['id'] %>">

<input type="hidden" class="check_destroy" name="list[list_target_groups_attributes][<%= idx %>][_destroy]" value=false>

</tr>
<% end %>
<% end %>


</tbody>
</table>


<div class="text-left"><a onclick="addlisttargetgrouprows('list_target_group_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>


<script type="text/javascript">
var list_target_group_items_row = <%= list_target_group_sub_item_size %>;
function addlisttargetgrouprows(list_target_group_id_name) {
// alert('call function list target group');
html = '<tr id="'+ list_target_group_id_name + list_target_group_items_row + '">';

html += '<td><input type="hidden" class="form-control" name="list[list_target_groups_attributes]['+list_target_group_items_row+'][order_sort]" value = "'+ list_target_group_items_row +'"><input type="text" class="form-control" placeholder= <%= t(:list_target_groups) %> name="list[list_target_groups_attributes]['+list_target_group_items_row+'][title]"></td>';

html += '<input type="hidden" class="form-control" name="list[list_target_groups_attributes]['+list_target_group_items_row+'][biz_id]" value = "<%= @datas['data']['biz_id'] rescue nil %>" >';

html += '<input type="hidden" class="form-control" name="list[list_target_groups_attributes]['+list_target_group_items_row+'][user_id]" value = "<%= @datas['data']['user_id'] rescue nil %>">';

html += '<td class="mt-10"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_target_group_id_name + list_target_group_items_row + '\').remove();$(\'#' + list_target_group_id_name + list_target_group_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';

html += '<input type="hidden" class="check_destroy" name="list[list_target_groups_attributes]['+list_target_group_items_row+'][_destroy]" value=false>';

html += '</tr>';

$('#' + list_target_group_id_name + ' tbody').append(html);

list_target_group_items_row++;
}
</script>
</div>
<!--end::table-responsive py-5 -->
<!-- ======================================== end :: List_target_group ===================================================-->
<div class="separator separator-dashed separator-border-2 my-10"></div>
<!-- ======================================== end :: List_responsible ===================================================-->

<!--begin::table-responsive py-5 -->
<div class="table-responsive py-5">
    <table id="list_responsible_items" class="table table-bordered">
        <thead>
            <tr>
                <th><%= t(:list_responsibles) %></th>
                <th class="w-50px"></th>
            </tr>
        </thead>
        <tbody>
        <%
            list_responsible_sub_item_size = 0
            if @datas && @datas['data'] && (@datas['data']['list_responsibles'] rescue nil)
                list_responsible_sub_item_size = @datas['data']['list_responsibles'].size.to_i
            %>
            <% @datas['data']['list_responsibles'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list_responsible_sub_item,idx|  %>
            <tr id="list_responsible_items<%= idx %>">

                <td><input type="text" class="form-control" name="list[list_responsibles_attributes][<%= idx %>][title]" value="<%= list_responsible_sub_item['title'] %>"></td>



<td class="mt-10"><a class="btn p-3 btn-danger" onclick="$('#list_responsible_items<%= idx %>').hide();$('#list_responsible_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>

<input type="hidden" class="form-control" name="list[list_responsibles_attributes][<%= idx %>][id]" value="<%= list_responsible_sub_item['id'] %>">

<input type="hidden" class="check_destroy" name="list[list_responsibles_attributes][<%= idx %>][_destroy]" value=false>

</tr>
<% end %>
<% end %>


</tbody>
</table>


<div class="text-left"><a onclick="addlistresponsiblerows('list_responsible_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>


<script type="text/javascript">
var list_responsible_items_row = <%= list_responsible_sub_item_size %>;
function addlistresponsiblerows(list_responsible_id_name) {
// alert('call function list responsible');
html = '<tr id="'+ list_responsible_id_name + list_responsible_items_row + '">';

html += '<td><input type="hidden" class="form-control" name="list[list_responsibles_attributes]['+list_responsible_items_row+'][order_sort]" value = "'+ list_responsible_items_row +'"><input type="text" class="form-control" placeholder= <%= t(:list_responsibles) %> name="list[list_responsibles_attributes]['+list_responsible_items_row+'][title]"></td>';

html += '<input type="hidden" class="form-control" name="list[list_responsibles_attributes]['+list_responsible_items_row+'][biz_id]" value = "<%= @datas['data']['biz_id'] rescue nil %>">';

html += '<input type="hidden" class="form-control" name="list[list_responsibles_attributes]['+list_responsible_items_row+'][user_id]" value = "<%= @datas['data']['user_id'] rescue nil %>">';

html += '<td class="mt-10"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_responsible_id_name + list_responsible_items_row + '\').remove();$(\'#' + list_responsible_id_name + list_responsible_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';

html += '<input type="hidden" class="check_destroy" name="list[list_responsibles_attributes]['+list_responsible_items_row+'][_destroy]" value=false>';

html += '</tr>';

$('#' + list_responsible_id_name + ' tbody').append(html);

list_responsible_items_row++;
}
</script>
</div>
<!--end::table-responsive py-5 -->
<!-- ======================================== end :: List_responsible ===================================================-->
<div class="separator separator-dashed separator-border-2 my-10"></div>
<!-- ======================================== begin :: List_note ===================================================-->



<!--begin::table-responsive py-5 -->
<div class="table-responsive py-5">
    <table id="list_note_items" class="table table-bordered">
        <thead>
            <tr>
                <th><%= t(:list_notes) %></th>
                <th class="w-50px"></th>
            </tr>
        </thead>
        <tbody>
        <%
            list_note_sub_item_size = 0
            if @datas && @datas['data'] && (@datas['data']['list_notes'] rescue nil)
                list_note_sub_item_size = @datas['data']['list_notes'].size.to_i
            %>
            <% @datas['data']['list_notes'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list_note_sub_item,idx|  %>
            <tr id="list_note_items<%= idx %>">

                <td><input type="text" class="form-control" name="list[list_notes_attributes][<%= idx %>][title]" value = "<%= list_note_sub_item['title'] %>"></td>



                <td class="mt-10"><a class="btn p-3 btn-danger" onclick="$('#list_note_items<%= idx %>').hide();$('#list_note_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>

                <input type="hidden" class="form-control" name="list[list_notes_attributes][<%= idx %>][id]" value="<%= list_note_sub_item['id'] %>">

                <input type="hidden" class="check_destroy" name="list[list_notes_attributes][<%= idx %>][_destroy]" value=false>

</tr>
<% end %>
<% end %>


</tbody>
</table>


<div class="text-left"><a onclick="addlistnoterows('list_note_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>


<script type="text/javascript">
var list_note_items_row = <%= list_note_sub_item_size %>;
function addlistnoterows(list_note_id_name) {
// alert('call function list note');
html = '<tr id="'+ list_note_id_name + list_note_items_row + '">';

html += '<td><input type="hidden" class="form-control" name="list[list_notes_attributes]['+list_note_items_row+'][order_sort]" value = "'+ list_note_items_row +'"><input type="text" class="form-control" placeholder= <%= t(:list_notes) %> name="list[list_notes_attributes]['+list_note_items_row+'][title]"></td>';

html += '<input type="hidden" class="form-control" name="list[list_notes_attributes]['+list_note_items_row+'][biz_id]" value = "<%= @datas['data']['biz_id'] rescue nil %>" >';

html += '<input type="hidden" class="form-control" name="list[list_notes_attributes]['+list_note_items_row+'][user_id]" value = "<%= @datas['data']['user_id'] rescue nil %>" >';

html += '<td class="mt-10"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_note_id_name + list_note_items_row + '\').remove();$(\'#' + list_note_id_name + list_note_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';

html += '<input type="hidden" class="check_destroy" name="list[list_notes_attributes]['+list_note_items_row+'][_destroy]" value=false>';

html += '</tr>';

$('#' + list_note_id_name + ' tbody').append(html);

list_note_items_row++;
}
</script>
</div>
<!--end::table-responsive py-5 -->
<!-- ======================================== end :: List_note ===================================================-->






<div class="separator separator-dashed separator-border-2 my-10"></div>








                                    </div>
                                    <!--end::Card Body-->





<% end #action_name %>









                                    <!--begin::Card Foolter-->
                                    <div class="card-footer">
                                        <% if !params[:original_url].blank? %>
                                        <%= hidden_field_tag :original_url, params[:original_url] %>
                                        <% end %>

                                        <% if !params[:category_id].blank? %>
                                        <%= f.hidden_field :category_id, value: params[:category_id] %>
                                        <% end %>

                                        <center><%= f.submit t(:saves), class: "btn btn-lg btn-primary" %></center>
                                    </div>
                                    <!--end::Card Foolter-->

                      </div>
                      <!--end::Card Card Custom-->

                </div>
                <!--end::Col_md_12-->

            </div>
            <!--end::Row-->




<% end #end form %>
