<div class="row">
    <div class="col">

        <div class="d-flex justify-content-between">
            <h2 class=""><%= t(:knowledge_management) %></h2>
            <%= render partial: '/share/block_btn_action_new', locals:{ master_plan_id: @datas['data']['id'], model_name: 'plans', id: nil, params: "master_plan_id=#{@datas['data']['id']}"} %>
        </div>

     </div>
</div>


<% @datas['data']['plans'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |item,idx| %>
    <!-- plans list -->
    <div class="card-show">
        <div class="mt-2 d-flex justify-content-between">
            <div class="w-75 d-flex">
                <div class="symbol symbol-35px me-5">
                    <span class="symbol-label">
                        <%= idx + 1 %>
                    </span>
                </div>

                <h3 class="w-75">
                    <%= item['title'] %>
                </h3>
            </div>

            <div class="d-flex">
                <%= render partial: '/share/block_btn_action', locals:{ master_plan_id: @datas['data']['id'], model_name: 'plans', id: item['id'], params: nil} %>
            </div>

        </div>

         <div class="row mt-5" style="margin-left: 0px;">
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                        <th class="text-center" style="width: 50px;"><%= t(:num) %></th>
                        <th>ชื่อแบบฟอร์ม</th>
                        <th style="width:130px;">
                            <%= render partial: '/share/block_btn_action_new', locals:{ master_plan_id: @datas['data']['id'], model_name: 'categories', id: nil, params: "plan_id=#{item['id']}"} %>
                        </th>
                    </thead>
                    <tbody>
                        <% @datas['data']['plans'][idx]['categories'].each_with_index do |item,idy| %>
                            <tr>
                                <td class="text-center" ><%= idy+1 %></td>
                                <td>
                                    <div class="fs-4 mb-4"><%= item['title'] %></div>

                                    <table class="table table-bordered">
                                    <thead>
                                        <th class="text-center" style="width: 50px;"><%= t(:num) %></th>
                                        <th><%= t(:activity) %></th>
                                        <th style="width:130px;">
                                        </th>
                                    </thead>
                                    <tbody>
                                        <% @datas['data']['plans'][idx]['categories'][idy]['lists'].each_with_index do |item,idz| %>
                                            <tr>
                                                <td class="text-center" ><%= idz+1 %></td>
                                                <td><%= item['activity']['title'] %></td>
                                                <td>
                                                    <%= render partial: '/share/block_btn_action', locals:{ master_plan_id: @datas['data']['id'], model_name: 'lists', id: item['id'], params: nil} %>

                                                    <%= render partial: '/share/block_btn_action_new', locals:{ master_plan_id: @datas['data']['id'], model_name: 'tasks', id: item['id'], params: "list_id=#{item['id']}"} %>
                                                </td>
                                            </tr>
                                        <% end %>
                                    </tbody>
                                </table>

                                </td>
                                <td>
                                    <%= render partial: '/share/block_btn_action', locals:{ master_plan_id: @datas['data']['id'], model_name: 'categories', id: item['id'], params: nil } %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end plans list -->
    <% end %>
