<!--begin::Kt_conten-->
<div class="container-fluid">
	<div class="row">
		<div class="col me-5">
		<div class="float-start">
		<h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:master_plan) %></h2> 
		</div>
		<div class="col mb-5">
			<div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
			<% if @role_title == 'superadmin_role' %>
<a href="/<%= @controller_title %>/master_plans/new" class="btn btn-info -sm"><i class="fa-solid fa-circle-plus fa-4x"></i><%= t(:create)%></a>
<% end %>
			</div>
		</div>
		</div>
	</div>
		<!--begin::Row-->
		<div class="row">
			<% if @datas && !@datas['data'].blank? %>
  			<% @datas['data'].each do |item| %>
				<!--begin::Col-->
  				<div class="col-lg-6">
				    <!--begin::Card-->
					<div class="card card-custom gutter-b">
							<!--begin::Header-->
 							<div class="card-master">
									  <div class="row my-4">
										<div class="col-8">
											<div class="row">
												<div class="col-1">
													<i class="fa-solid fa-file-lines fa-2x"></i>
												</div>
												<div class="col float-start ms-2">
									 				<h6><%= item['period_year']&.to_date&.year + 543 rescue nil %></h6>
									 				<div class="my-2"><%= "#{convert_thai_date(item['startdate'],'default')} - #{convert_thai_date(item['enddate'],'default')}" if !item['startdate'].blank? %></div>
<%= render '/share/block_last_status', item: item %>
												 </div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
											<% if @role_title == 'superadmin_role' %>
<%= link_to "/#{@controller_title}/master_plans/#{item['id']}/edit" , class: "btn btn-sm btn-light p-4", title: t(:edit) do %>
												<i class="fas fa-edit"></i><%#= t(:edit) %>
											<% end %>

											<%= link_to "/#{@controller_title}/master_plans/#{item['id']}", method: :delete, title: t(:delete),  data: { confirm: 'ต้องการลบใช่หรือไม่?' } , class: "text-center btn btn-sm btn-light p-4" do %>
												<i class="fa-regular fa-trash-can"></i><%#= t(:delete) %>
											<% end %>
<% end %>

											<!--
											<%= link_to "/#{@controller_title}/master_plans/new_by_template?master_plan_id=#{item['id']}" , class: "btn btn-sm btn-light p-4", title: t(:clone) do %>
												<i class="fa-regular fa-clone"></i><%#= t(:clone) %>
											<% end %>
										-->
											</div>
										</div>
									</div>
 							</div>
							<!--end::Header-->
							<!--begin::Body-->
 							<div class="card-content">
							 	<div class="mb-4">
							 		<div><b><%= t(:agency) %> : </b> 
							 			<span class="bg-light-success">
										<% item['plans'].each do|plan| %>
											<% plan['categories'].each do |category| %>
												<li><%= category['institution']['title'] rescue nil %></li>
												<% end %>
										<% end %>
										</span>
									</div>
							 		<div><b><%= t(:created_at)%> : </b> <%= convert_thai_date(item['created_at'],'default') %></div>
							 	</div>

								 <a href="/<%= @controller_title %>/master_plans/<%= item['id'] %>" class="btn-info btn text-white mt-3 d-block-inline"><%= t(:setting) %> <i class="fa-solid fa-angle-right text-white"></i>
								 </a>

 							</div>
							<!--end::Body-->
					</div> <br/>
					<!--end::Card-->
				</div>
				<!--end::Col-->

			<% end %>
			<% end %>
		</div>
		<!--end::Row-->

</div>
<!-- end::Kt_conten -->
