<style>
    @media print {
       .noprint {
          visibility: hidden;
          display: none;
       }
    }
</style>

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="float-end">

                <%= link_to "/#{gen_form[0]}/master_plans/#{params[:id]}", class: 'btn btn-light noprint' do %>
                  <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
                <% end %>

                <%= render '/share/block_btn_export', item: @plan, title: 'plan' %>

            </div>
        </div>

        <h1 class="text-center">
            <%= t(:master_plan) %> <%= @datas['data']['title'] rescue nil %>
        </h1>

    </div>


    <% @datas['data']['plans'].sort_by{|i| i['order_sort'].to_i}.each do |plan| %>

      <%= render "/#{@controller_title}/plans/print", plan: plan %>

      <hr style="border-bottom: 3px solid #999999;margin-top: 2rem;margin-bottom: 2rem;">

    <% end # end plan %>



</div>
