      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <!--begin::Content body-->
      <div class="d-flex flex-column-fluid flex-center">
        <!--begin::Signin-->
        <div class="login-form login-signin">
            <!--begin::Title-->
            <div class="pb-13 pt-lg-0 pt-5">
              <h3 class="font-weight-bold text-dark font-size-h4 font-size-h1-lg"><%= t(:welcome_to_bee_sys) %></h3>
              <span class="text-muted font-weight-normal font-size-h4"><%= t(:new_here) %> <a href="/users/sign_up" id="kt_login_signup" class="text-primary font-weight-bold"><%= t(:create_an_account) %></a></span>
            </div>
            <!--begin::Title-->

            <!--begin::Form group-->
            <div class="form-group">
              <label class="font-size-h6 font-weight-bolder text-dark"><%= t(:email) %></label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control form-control-solid h-auto py-4 px-4 rounded-lg"  %>
            </div>
            <!--end::Form group-->

            <!--begin::Form group-->
            <div class="form-group">
              <div class="d-flex justify-content-between mt-n5">
                <label class="font-size-h6 font-weight-bolder text-dark pt-5"><%= t(:password) %></label>


              </div>

              <%= f.password_field :password, autocomplete: "off" , class: "form-control form-control-solid h-auto py-4 px-4 rounded-lg"  %>
            </div>


            <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <div class="checkbox-inline">
                <label class="checkbox checkbox-lg">
                    <%= f.check_box :remember_me, class: "" %>
                    <span></span>
                    <%= t(:remember_me) %>
                </label>
              </div>
            </div>
            <% end -%>



          
          
            <!--end::Form group-->

            <!--begin::Action-->
            <div class="pb-lg-0 pb-5">
              <%= f.submit t(:sign_in)  ,  class: 'btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3' %>

            </div>
            <!--end::Action-->
        </div>
        <!--end::Signin-->


      </div>
      <% end %>
      <!--end::Content body-->



