<div class="container-fluid">

  <div class="d-flex justify-content-between">
          <h1 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i>ประเภทความเสี่ยง</h1> 

   
          <%#= link_to "/#{gen_form[0]}/plans/#{params['plan_id']}", class: 'btn btn-light -sm' do %>
           <!--  <i class="fa-solid fa-angle-left"></i> <%#= t(:back) %>  -->
          <%# end %>
  </div>


    <%= render 'form' %>

</div>
<!--end::Kt_content-->
