<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
back_url = "/#{@controller_main_url}/plans/#{@risk_analysis_report['data']['plan_report']['category']['plan_id']}" rescue nil

$risk_management_report_user_status = nil

@risk_analysis_report['data']['task_plan_reports'].each do |task_plan_report|
task_plan_report['risk_management_reports'].each do |risk_management_report|
    risk_management_report['risk_management_report_users'].each do |risk_management_report_user|
    if risk_management_report_user['user_role']['slug'] == 'approver'  && risk_management_report_user['status'] == 'approved' 
       $risk_management_report_user_status = risk_management_report_user['status']

       $input_readonly = 'readonly'

   end
 end 
end
end
%>


<div class="container-fluid">


    <div class="text-end">
        <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
                    <% end %>
                    <!-- add export -->
                    <%= render '/share/block_btn_export', item: @plan_report, title: 'plan_report' %>
                    <!-- end add export -->
            
    </div>



    <%= form_for('risk_analysis_report', url: "/#{gen_form[0]}/risk_analysis_reports#{gen_form[1]}" , method: gen_form[2]) do |f| %>


    <!-- add export -->
    <div id="export_content" class="">
    <div class="landscape_A4_page">
    <!-- end add export -->  


    <div class="text-muted text-end mt-15">แบบฟอร์ม RLPD RM-1 (1)</div>
    <h1 class="text-center"> การระบุและวิเคราะห์ความเสี่ยงโครงการ/กระบวนงาน</h1>
    
    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">หน่วยงาน : <%= @risk_analysis_report['data']['plan_report']['category']['institution']['title'] rescue nil %></h2>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">ประเด็นยุทธศาสตร์ : <%=@risk_analysis_report['data']['plan_report']['category']['strategic_issue']['title'] rescue nil %></h2>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : <%= @risk_analysis_report['data']['plan_report']['category']['title'] rescue nil %></h2>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน :</h2>

    <ul>
      <% @risk_analysis_report['data']['plan_report']['category']['category_objectives'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category_objective, idx| %>
          <li><%=  category_objective['title'] rescue nil %> </li>
      <% end %>
    </ul>
    
    <div class="table-responsive py-5">
      <table id="items" class="table table-bordered" style="text-left">
        <thead style="width:auto;text-align:center; background-color: #d9dbff;">
          <tr valign="middle">
            <th>ขั้นตอน</th>
            <th>รหัสปัจจัยเสี่ยง</th>
            <th>ระบุปัจจัยเสี่ยง</th>
            <th>โอกาส</th>
            <th>คำอธิบาย</th>
            <th>ผลกระทบที่ได้รับ</th>
            <th>คำอธิบาย</th>
            <th></th>
          </tr>
        </thead>

        <% if @risk_analysis_report && !@risk_analysis_report['data']['plan_report'].blank? %>
        <% @risk_analysis_report['data']['risk_analyses'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |risk_analysis,idx| %>
          <input type="hidden" name="risk_analysis[<%= idx %>][id]" class="form-control" value="<%= risk_analysis['id'] rescue nil %>">
          <input type="hidden" name="risk_analysis[<%= idx %>][category_id]" class="form-control" value="<%= risk_analysis['task']['list']['category_id'] rescue nil %>">
          <input type="hidden" name="risk_analysis[<%= idx %>][list_id]" class="form-control" value="<%= risk_analysis['task']['list']['id'] rescue nil %>">
          <input type="hidden" name="risk_analysis[<%= idx %>][task_id]" class="form-control" value="<%= risk_analysis['task']['id'] rescue nil %>">
          <tr valign="top">
            <td>
            <ul>
            <% if !risk_analysis['task']['list'].blank? %>
                <% risk_analysis['task']['list']['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                <p><b><%= list_activity['title']  rescue nil %></b></p></li>
                <li><%= list_activity['description']  rescue nil %></li>
                <% end %>
            <% end %>
        </ul>
            </td>

            <td>
            <ul>
            <% if !risk_analysis['task']['list'].blank? %>
                <% risk_analysis['task']['list']['list_risk_factors'].sort_by{|i| i['order_sort'].to_i}.each do |list_risk_factor| %>
                <li><%= list_risk_factor['list_code'] %></li>
                <% end %>
            <% end %>
        </ul>
            </td>
            
            <td>
                <ul>
                    <% if !risk_analysis['task']['list'].blank? %>
                        <% risk_analysis['task']['list']['list_risk_factors'].sort_by{|i| i['order_sort'].to_i}.each do |list_risk_factor| %>
                        <li><%= list_risk_factor['title'] %></li>
                        <% end %>
                    <% end %>
                </ul>
            </td>

            <td>
                <%= risk_analysis['task']['risk_chance'] rescue nil %>
            </td>

            <td>
                <input type="hidden" name="risk_analysis[<%= idx %>][risk_analysis_chances_attributes][0][id]" class="form-control" value="<%= risk_analysis['risk_analysis_chances'][0]['id'] rescue nil %>">
                <textarea class="form-control" <% if $risk_management_report_user_status == 'approved' %> <%= $input_readonly %> <% end %> name="risk_analysis[<%= idx %>][risk_analysis_chances_attributes][0][title]" rows="2" cols="50"><%= risk_analysis['risk_analysis_chances'][0]['title'] rescue nil %></textarea>
            </td>

            <td>
                <%= risk_analysis['task']['risk_effect'] rescue nil %>
            </td>
            
            <td>
                <input type="hidden" name="risk_analysis[<%= idx %>][risk_analysis_effects_attributes][0][id]" class="form-control" value="<%= risk_analysis['risk_analysis_effects'][0]['id'] rescue nil %>">
                <textarea class="form-control" <% if $risk_management_report_user_status == 'approved' %> <%= $input_readonly %> <% end %> name="risk_analysis[<%= idx %>][risk_analysis_effects_attributes][0][title]" rows="2" cols="50"><%= risk_analysis['risk_analysis_effects'][0]['title'] rescue nil %></textarea>
            </td>

            <td align="center">
              <%#= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @risk_analysis_report['data']['plan_report']['plan_report']['category']['plan']['master_plan_id'], model_name: 'risk_analysises', model_title: nil, id: risk_analysis['id'], params: "original_url=#{request.path}"} %>
            </td>
          </tr>
          <% end %>
          <% end %>

      </table>


        <div class="text-gray-800 mt-5"><b>โอกาส : </b> คะแนน 1 คือ น้อยมาก , คะแนน 2 คือ น้อย, คะแนน 3 คือ ปานกลาง, คะแนน 4 คือ สูง, คะแนน 5 คือ สูงมาก</div>
        <div class="text-gray-800 "><b>ผลกระทบ :  </b> คะแนน 1 คือ น้อยมาก, คะแนน 2 คือ น้อย, คะแนน 3 คือ ปานกลาง, คะแนน 4 คือ สูง, คะแนน 5 คือ สูงมาก</div>


    </div>



    <% if $risk_management_report_user_status != 'approved' %> 
    <%= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
    <% end %>


    



    <!-- add export -->
    </div>
    </div>
    <!-- end add export --> 





<% end %>  


</div>