<div class="container-fluid">
<!--begin::Header-->

   <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
      <div class="d-flex flex-column">
            <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i>การประเมินตนเอง PMQA Certified FL</h2> 
      </div>
         
         <!--begin::btn-->
         <div class="d-flex mb-4">
            <div class="card-toolbar">

                  <!--
                     <ul class="nav">
                        <li class="nav-item">
                          <a href="/<%= @controller_title %>/master_plans/new_by_template" class="btn btn-success -sm"><i class="fa-solid fa-circle-plus fa-4x"></i> สร้างตัวชี้วัด KPI</button></a>
                        </li> 

                        <li class="nav-item">
                           <a href="/<%= @controller_title %>/plan_reports/new" class="btn btn-warning -sm"><i class="fa-solid fa-circle-plus fa-4x"></i>รายงานผลตัวชี้วัด KPI</button></a>
                        </li>
                     </ul>
                  -->
            </div>
         </div>
         <!--end::btn-->
   </div>
   <!--end:Header-->

   <!--begin:Content-->
   <div class="row g-6 g-xl-9">


   <!--begin::Box 1-->
      <div class="col-md-6">
         <div class="card-body p-0 d-flex justify-content-between flex-column overflow-hidden">
            <%= render '/share/report_pmqa_fl_1' %>
         </div>
     </div> 
   <!--end::Box 1-->


   <!--begin::Box 2-->
      <div class="col-md-6">
         <div class="card-body p-0 d-flex justify-content-between flex-column overflow-hidden">
            <%= render '/share/report_pmqa_fl_2' %>
         </div>
     </div> 
   <!--end::Box 2-->


      <!--begin::Box 3-->
      <div class="col-lg-12">

         <div class="card card-custom gutter-b">
               <div class="card-master">  
                        <div class="row mt-5">
                        <div class="col-8"> 
                        <div class="d-flex flex-stack">
                        <div class="symbol symbol-40px me-4">
                           <div class="symbol-label fs-2 fw-bold bg-success text-inverse-danger">&nbsp;<i class="fa-solid fa-calendar-week fa-sm" style="color:white"></i></div>
                        </div>
                        <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                           <div class="flex-grow-1 me-2">
                              <h3 class="fs-2">ตามปีงบประมาณ</h3>
                              <span class="badge badge-success fs-base"><%= t(:latest) %></span>
                           </div>
                        </div>
                     </div>
                        </div>                  
                        <div class="col-sm-4">
                        <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
                        <!--
                        <%= link_to "/#{@controller_title}/master_plans", class: 'btn btn-sm btn-primary me-2' do %>ดูทั้งหมด<% end %>
                     -->
                        
                        </div>
                        </div>                 
                     </div>                                 
               </div>
            <div class="card-content">
               <% if @master_plans && !@master_plans['data'].blank? %>
               <% @master_plans['data'].each do |item| %>
                  <% if !item.blank? %>
                     <%= render partial: '/share/card_item_center', locals:{ model_name: 'master_plan', item: item, url_level_1: '/' } %>
                  <% end %>
               <% end %>
               <% end %>

            </div>
         </div>

      </div> 
      <!--end::Box 3-->




   
        
       </div> 
   </div> 
</div>