<div class="container-fluid">
<!--begin::Header-->

   <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
      <div class="d-flex flex-column">
            <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i>การประเมินตนเอง PMQA Certified FL</h2> 
      </div>
         
   </div>
   <!--end:Header-->

   <!--begin:Content-->
   <%= render '/share/report_pmqa_fl_1' %>


</div>