<div class="container-fluid">

    <div class="d-flex justify-content-between">
        <div class="w-75 d-flex">
            <h1><%= t(:basic_data_management) %></h1>
        </div>
    </div>





    <div class="row card-show d-flex justify-content-between">


      <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>

      <%= link_to "/#{@controller_title}/institutions", class: 'col-sm-6 col-md-3 col-lg-2 btn-lg btn btn-light-primary m-3' do %>
      <div class="d-flex align-items-center">
         <i class="fas fa-database text-success p-2 fs-2"></i>
         <h3 class=""><%= t(:institution) %></h3>
      </div>
   <% end %>

      <%= link_to "/#{@controller_title}/category_masters", class: 'col-sm-6 col-md-3 col-lg-2 btn-lg btn btn-light-primary m-3' do %>
         <div class="d-flex align-items-center">
            <i class="fas fa-database text-success p-2 fs-2"></i>
            <h3 class=""><%= t(:category_management) %></h3>
         </div>
      <% end %>

      <%= link_to "/#{@controller_title}/responsibles", class: 'col-sm-6 col-md-3 col-lg-2 btn-lg btn btn-light-primary m-3' do %>
         <div class="d-flex align-items-center">
            <i class="fas fa-database text-success p-2 fs-2"></i>
            <h3 class=""><%= t(:responsible) %></h3>
         </div>
      <% end %>

      <%= link_to "/#{@controller_title}/accomplices", class: 'col-sm-6 col-md-3 col-lg-2 btn-lg btn btn-light-primary m-3' do %>
         <div class="d-flex align-items-center">
            <i class="fas fa-database text-success p-2 fs-2"></i>
            <h3 class=""><%= t(:accomplice) %></h3>
         </div>
      <% end %>

      <%= link_to "/#{@controller_title}/pmqa_bas_masters", class: 'col-sm-6 col-md-3 col-lg-2 btn-lg btn btn-light-primary m-3' do %>
         <div class="d-flex align-items-center">
            <i class="fas fa-database text-success p-2 fs-2"></i>
            <h3 class=""><%= t(:set_score_level) %></h3>
         </div>
      <% end %>



      <% end %>


      <%= link_to "/#{@controller_title}/fl_kpis", class: 'col-sm-6 col-md-3 col-lg-2 btn-lg btn btn-light-primary m-3' do %>
         <div class="d-flex align-items-center">
            <i class="fas fa-database text-success p-2 fs-2"></i>
            <h3 class=""><%= t(:indicators) %></h3>
         </div>
      <% end %>

      



 </div>






</div>
