<div class="card card-custom">
	<div class="card-header">
		<div class="card-title">
		   <h3 class="card-label">
		    	<%%= t(:edit) %> <%%= t(:<%= singular_table_name %>) %>
		   </h3>
		  </div>
        <div class="card-toolbar">
            <%%= link_to <%= index_helper %>_path, class: 'btn btn-light bg-white mb-2' do %>
				<i class="ki ki-bold-arrow-back icon-sm"></i> <%%= t(:back) %>
			<%% end %>
        </div>
	</div>
	<div class="card-body">
		<%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
	</div>
</div>

