<%= form_for('list_risk_type', url: "/#{gen_form[0]}/list_risk_types#{gen_form[1]}" , method: gen_form[2]) do |f| %>

<!-- start row -->
<div class="row">


     <div class="col-11 mt-5 ms-5">

     </div>
    
     <input type="hidden" class= "form-control"  name="list_risk_type[list_id]" value="<%= params['list_id'] rescue nil %>">
     <input type="hidden" class= "form-control"  name="list_risk_type[list_risk_factor_id]" value="<%= params['list_risk_factor_id'] rescue nil %>">
     <input type="hidden" class= "form-control"  name="list_risk_type[user_id]" value="<%= $user[session.id.to_s][@controller_title]['id'] %>">
     <input type="hidden" class= "form-control"  name="list_risk_type[biz_id]" value="<%= $user[session.id.to_s][@controller_title]['biz_id'] %>">
           <div class="col-11 mt-5 ms-5">

           <label for="formGroupExampleInput" class="form-label"> <h5> ประเภทความเสี่ยง <span class="text-danger">*</span> </h5></label>
           <select class= "form-control" name="list_risk_type[risk_type_id]" > <% @risk_type_datas['data'].each do |risk_type| %> <option value= <%= risk_type['id'] %> </option><%= risk_type['title'] %><% end %></select></td>
           </div>

           <div class="col-11 mt-5 ms-5 mb-5">
           <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
                 <!--button:content-->
                 <%= f.submit class: "btn btn-info", value: 'บันทึก'  %></div>
           </div>
     </div>



</div>
<% end %>