<%
#init
@category_master_id = @datas['data']['category_master_id'] rescue nil
@category_master_id = params[:category_master_id] if params[:category_master_id]
%>



<!--begin::Kt_content-->
<div class="container-fluid">
        <!--begin::Header-->
        <div class="row">
            <div class="col"> 
                  <div class="float-start">
                        <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:add)%><%= t(:category_master_list) %></h2> 
                  </div>
            <div class="col">
              <div class="float-end">  
                    <!--button:header-->
                    <%= link_to "/#{@controller_title}/category_masters", class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i></i> <%= t(:back) %> </i> <% end %>
              </div> 
            </div>
       </div>
       <!--end:Header-->


        <!--begin:Content-->
      <div class="row">
      <div class="col">
                  <div class="card-show">
                        <%= form_for('category_master_list', url: "/#{@controller_title}/category_master_lists" , method: :post) do |f| %>
                                    <div class="row">   

                                          <div class="col-11 mt-5 ms-5">
                                          <label for="" class="form-label"> <h5> <%= t(:order_sort) %> <span class="text-danger"></span> </h5></label>
                                          <%= f.number_field :order_sort, min: 1, class: "form-control w-50", placeholder: t(:order_sort), value: (@datas['data']['order_sort'] rescue nil) %>   
                                          </div>  
                                                                                       
                                          <div class="col-11 mt-5 ms-5">
                                                <label for="" class="form-label"> <h5> <%= t(:category_master_list) %> <span class="text-danger">*</span> </h5></label>
                                                <%= f.text_field :title , placeholder: t(:please), class: 'form-control', value: (@datas['data']['title'] rescue nil) %>       
                                                </div>                                    
                                                
                                                <div class="col-11 mt-5 ms-5 mb-5">
                                                <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
                                                      <!--button:content-->
                                                      <%= f.hidden_field :category_master_id , placeholder: t(:please), class: 'form-control', value: @category_master_id  %>  
                                                      <%= f.submit class: "btn btn-info", value: 'บันทึก'  %></div>
                                                </div>                 
                                    </div>
                              </form>
                        <% end %>         
                  </div>
            </div>
      </div>
       <!--end:Content-->
</div>
<!--end::Kt_content-->
