<div class="content flex-row-fluid" id="kt_content">
  <div class="row">


    <div class="col-md-6">

      <div class="card card-custom gutter-b example example-compact">
        <div class="card-header">
            <h3 class="card-title">Show Plan</h3>
            <div class="card-toolbar">
              <div class="example-tools justify-content-center">
                <span class="example-toggle" data-toggle="tooltip" title="" data-original-title="View code"></span>
                <span class="example-copy" data-toggle="tooltip" title="" data-original-title="Copy code"></span>
              </div>
            </div>
          </div>


          <div class="card-body">

            <div class="form-group">
              <label>Title </label>
              <div class=""><%= @plan['title'] %></div>
            </div>

            <div class="form-group">
              <label>Description </label>
              <div class=""><%= @plan['description'] %></div>
            </div>

          </div>

      </div>

    </div>




  </div>
</div>
