<%
#if @controller_main_url
#    @temp_url = @controller_main_url
#else
#    @temp_url = @controller_title
#end


if !params[:original_url].blank?
    back_url = "/#{@controller_main_url}/master_plans/#{params[:master_plan_id]}"

end

%>

<div class="container-fluid">

    <div class="d-flex justify-content-between"> 
        <%= link_to back_url, class: 'btn btn-light -sm' do %> 
                <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
            <% end %>

            
    </div>

    <div class="card-show">

    <div class="d-flex justify-content-between">
              
            <div class="w-75 d-flex">
                <div class="symbol symbol-50px me-3">
                    <div class="symbol-label bg-light">
                        <i class="fas fa fa-calendar fs-1"></i>
                    </div>
                </div>
              
                <h3 class="my-4 fs-2">กำหนดรอบรายงาน แผนบริหารความเสี่ยงโครงการ ประจำปีงบประมาณ : <span class="text-primary"><%= @master_plan_datas['data']['period_year']&.to_date&.year + 543 rescue nil %></span></h3>
            </div>
            <%= link_to 'เพิ่มรอบรายงาน', "/#{@controller_main_url}/period_reports/new?master_plan_id=#{@master_plan_datas['data']['id']}&original_url=#{request.path}", class: 'align-self-center btn-sm bg-primary text-white' %></a>
        </div>
        <%
        url = URI("#{$server[@controller_title]}/api/v1/period_reports/get_period_reports_my_master_plan/#{params[:master_plan_id]}")
        @period_report_datas = request_api(url, "get", nil)
        %>
        <div class="card-show d-flex justify-content-between my-5">

            <table class="table table-bordered my-6">
            <thead style="width:auto;text-align:center; background-color: #d9dbff;">
                        <tr>
                        <th class="w-250px">เริ่มต้น</th>
                        <th class="w-250px">สิ้นสุด</th>
                        <th class="w-100px"></th>
                        </tr>
            </thead>

            <tbody>
            <% if @period_report_datas['data'].present? %>
            <% @period_report_datas['data'].each do |period_report| %>
                <tr>
                    <td><center><%= convert_thai_date(period_report['startdate'],'default') rescue nil %></center></td>
                    <td><center><%= convert_thai_date(period_report['enddate'],'default')  rescue nil %></center></td> 
                    <td>
                    <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: params[:master_plan_id], model_name: 'period_reports', model_title: '', id: period_report['id'], params: "original_url=#{request.path}"} %>
                  </td>
                </tr>
               
            <% end %>
            <% end %>
            </tbody>
        
            </table>
     
        </div>


    </div> <!-- end card-show -->

</div> <!-- end container-fluid -->
