<!--begin::Kt_content-->
<div class="container-fluid">
      <!--begin::Header-->
        <div class="row">
            <div class="col"> 
                <div class="float-start">
                    <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:edit) %><%= t(:download) %></h2> 
                </div>
                <div class="float-end">  
                    <%= link_to risk_downloads_path(@download), class: 'btn btn-light -sm' do %>
                        <i class="fa-solid fa-angle-left"></i><%= t(:back) %>
                    <% end %>
                </div> 
            </div>
       </div>
      <!--end:Header-->

      <!--begin:Content-->
      <%= render 'form' %>
      <!--end:Content-->

</div>
<!--end::Kt_content-->