<!--begin::Kt_content-->
<div class="content flex-row-fluid" id="kt_content">
        <!--begin::Row-->
        <div class="row">

              <!--begin::Col_md_12-->
              <div class="col-md-12">
                    <!--begin::Card_card_custom-->
                    <div class="card card-custom gutter-b example example-compact">
                          <!--begin::Card_header-->
                          <div class="card-header">
                                <h3 class="card-title"><%= t(:create) %> <%= t(:institution) %></h3>
                                        <!--begin::Card_toolbar-->
                                        <div class="card-toolbar">
                                              <!--begin::Excample_tools-->
                                              <div class="example-tools justify-content-center">
                                                      <span class="example-toggle" data-toggle="tooltip" title="" data-original-title="View code"></span>
                                                      <span class="example-copy" data-toggle="tooltip" title="" data-original-title="Copy code"></span>
                                              </div>
                                              <!--end::Excample_tools-->

                                              <%= link_to km_institutions_path(@institution), class: 'btn btn-light bg-white mb-2' do %>
                                                      <i class="ki ki-bold-arrow-back icon-sm"></i> <%= t(:back) %>
                                              <% end %>
                                        </div>
                                        <!--end::Card_toolbar-->
                          </div>
                          <!--end::Card_header-->

                          <!--begin::Form_for-->
                          <%= form_for('institution', url: "/risk/institutions" , method: :post) do |f| %>
                                  <!--begin::Card_body-->
                                  <div class="card-body">
                                        <!--begin::Form_group-->
                                        <div class="form-group">
                                                <label><%=t(:title) %> 
                                                      <span class="text-danger">*</span>
                                                </label>
                                                <%= f.text_field :title, class: "form-control", placeholder: t(:title) %>
                                                      <span class="form-text text-muted"></span>
                                        </div>
                                        <!--end::Form_group-->
                                  </div>
                                  <!--end::Card_body-->

                                  <!--begin::Card_footer-->
                                  <div class="card-footer">
                                                <%= f.submit class: "btn btn-lg btn-primary" %>
                                  </div>
                                  <!--end::Card_footer-->
                          <% end %>
                          <!--end::Form_for-->


                    </div>
                    <!--end::Card_card_custom-->
                </div>
                <!--end::Col_md_12-->
        </div>
        <!--end::Row-->
</div>
<!--end::Kt_content-->
