<div class="list-group mb-3">

  <%= cache(['notifications', Notifications::VERSION, notification]) do %>

  <% if notification.target %>

  <div id="notification-<%= notification.id %>"
   data-id="<%= notification.id %>"
   class="media notification notification-<%= notification.notify_type %><%= ' unread' unless notification.read? %>">

   <a class="list-group-item" href="<%= notification.notify_type %>s/<%= notification.target.id %>">
    <table class="wd-wide">
     <tbody>
      <tr>
       <td class="wd-xs">
        <div class="px-2">
          <% if notification.actor && notification.actor.employee_id %>
          <%= image_tag notification.actor.employee.image_url(:avatar).to_s, width: 50, class: "img-thumbnail file-upload-preview img-circle", id: "preview-image-photo" %>
          <% else %>
          <img src="<%= image_path('blank/user.jpg', skip_pipeline: true) %>" width="50" alt="User " class="img-thumbnail file-upload-preview img-circle" />
          <% end %>
        </div>
      </td>
      <td class="wd-md">
        <div class="px-2">
          
          <small>
            <span class="text-primary"><%= t('notifications.noti_repair_by') %></span> <br>
            <% if notification.actor && notification.actor.employee_id %>
              <span class="" style="font-weight: bold;"><%= notification.actor.employee.firstname %> <%= notification.actor.employee.lastname %> </span>
              <br><%= notification.actor.employee.department.name %>
            <% else %>
              <%# if notification.actor.email %>
              <% if notification.actor.try(:email) %>
                <span class="" style="font-weight: bold;"><%= notification.actor.email %> </span>
              <% end %>
            <% end %>
          </small>
          
        </div>
      </td>

      <%= render partial: "/notifications/#{notification.notify_type}", locals: { notification: notification } %>



      <td style="width: 30%; text-align: right;">
        <div class="px-2">
          <small><%= notification.created_at.strftime("%d/%m/%Y | %H:%M") %></small>
      </div>
    </td>

  </tr>
</tbody>
</table>
</a>
</div>




<% end %>



<% end %>
</div>



