<div class="pull-right">
  <%= link_to t('notifications.clean_all'), notifications.clean_notifications_path, class: 'btn btn-primary', method: 'delete' %>
</div>


<div class="content-heading"><%= t :listing %><%#= t :notification %><%= t :latest %></div>


<div class="container-fluid">
 <!-- START DATATABLE 1 -->
 <div class="row">

  <div class="col-lg-12">

   <div class="panel">
    <div class="panel-body">

        <div class="heading clearfix">

          <!--
          <span class="pull-xs-right">
            <%= link_to t('notifications.clean_all'), notifications.clean_notifications_path, class: 'btn btn-sm btn-secondary', method: 'delete' %>
          </span>
        -->
        </div>
        <div class="list">
          <% if @notifications.blank? %>
          <div class="no-records"><%= t('notifications.no_records') %></div>
          <% else %>
          <% @notification_groups.each do |group, notifications| %>
          <div class="notification-group">
            <div class="group-title"><%= group %></div>
            <%= render notifications %>
          </div>
          <% end %>
          <% end %>
        </div>


        <%= paginate @notifications %>

    </div>
  </div>
</div>
</div>
</div>
