<!--begin::Kt_content-->
<div class="content flex-row-fluid" id="kt_content">
		  <div class="row">
            <div class="col-12">

                  <!--begin::Card_card_custom-->
                  <div class="card card-custom gutter-b">

                          <!--begin::Header-->
                          <div class="card-header">
                                  <!--begin::Card Title-->
                                  <div class="card-title">
                                            <h3 class="card-label">
                                                <%= t(:show) %> <%= t(:category_master_list_item) %>

                                            </h3>

                                  </div>
                                  <!--end::Card Title-->

                                  <!--begin::Toolbar-->
                                  <div class="card-toolbar">
                                          <%= link_to "/#{@controller_title}/category_master_list_items", class: 'btn btn-light bg-white mb-2' do %>
                                                  <i class="ki ki-bold-arrow-back icon-sm"></i> <%= t(:back) %>
                                          <% end %>
          
                                  </div>
                                  <!--end::Toolbar-->
                          </div>
                          <!--end::Header-->

                          <!--begin::CardBody-->
                          <div class="card-body">
                                      <p><b><%= t(:title)%> : </b> <%= @datas['data']['title'] %></p>
                                      <p><b><%= t(:created_at)%> : </b> <%= @datas['data']['created_at'] %></p>
                                      <p><b><%= t(:updated_at)%> : </b> <%= @datas['data']['updated_at'] %></p>
          
                          </div>
                          <!--end::CardBody-->

                          <!--begin::Foolter-->
                          <div class="card-footer d-flex justify-content-between">

                          </div>
                          <!--end::Foolter-->

                    </div> <br />
                    <!--end::Card_card_custom-->

              </div>
              <!--end::Col_12-->
        </div>
        <!--end::Row-->
</div>
<!--end::Kt_content-->

