<style>
    @media print {
       .noprint {
          visibility: hidden;
          display: none;
       }
    }
</style>

<div class="container-fluid">


    <div class="d-flex justify-content-end">
            <%= link_to "/#{gen_form[0]}/master_plans/#{params[:id]}", class: 'btn btn-light noprint' do %>
                <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
            <% end %>

            <%= render '/share/block_btn_export', item: @datas, title: 'plan' %>

    </div>

    <div id="export_content" class="">
        <div class="landscape_A4_page">




    <h1 class="text-center mt-10">
        <%= t(:indicators_performance_evaluation_framework) %>
    </h1>

    <h2 class="text-center text-primary"><%= t(:master_plan_period) %> <%= @datas['data']['period_year']&.to_date&.year + 543 rescue nil %></h2>


         <div class="-table-responsive py-5">
            <h2 class="text-center"><%= t(:os_matrix_table) %></h2>
              <table id="items" class="table table-bordered" style="text-left">
                    <thead style="width:auto;text-align:center; background-color: #d9dbff;">
                      <tr>
                        <th class="text-center"><%= t(:num) %></th>
                        <th><%= t(:kpi_name) %></th>
                        <th><%= t(:target_value_twelve_month) %></th>
                        <th><%= t(:target_value_six_month) %></th>

                        <% @devision_directors['data'].each do |devision_director| %>
                        <th><%= devision_director['title_slug'] %></th>
                        <% end %>

                        <th><%= t(:reporter_in_kpi_system) %></th>
                        <th><%= t(:respond_to_the_plan) %></th>
                      </tr>
                    </thead>



                    <%
                        url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{params[:id]}/group_by_status")
                        @group_by_status = request_api(url,'get',nil)
                    %>



                    <% if !@group_by_status['data'].blank? %>
                      <%
                      idx = 0
                      %>
                      <% @group_by_status['data'].each do |group,lists| %>
                    <thead>
                        <tr>
                              <td colspan="20">
                                <b><%= group %></b>
                              </td>
                        </tr>
                    </thead>

                    <tbody>

                    <% lists.each_with_index do |list_arry,idx| %>

                        <%
                        url = URI("#{$server[@controller_title]}/api/v1/lists/#{list_arry['id']}")
                        list_data = request_api(url,'get',nil)
                        list = list_data['data']
                        %>
                      <tr valign="top">
                        <td class="text-center"><%= idx + 1 %></td>
                        <td class="text-left"><%= list['title'] %>
                        </td>
                    <% if (list['list_kpi_full_years'][0]['kpi_value_unit'].include?'ร้อยละ') == true %>
                        <td><%= list['list_kpi_full_years'][0]['kpi_value_unit'].remove('-','0') rescue nil %> <b><%= strip_trailing_zero(list['list_kpi_full_years'][0]['kpi_value']) rescue nil %></b> </td>
                    <% else %>
                        <td><b><%= strip_trailing_zero(list['list_kpi_full_years'][0]['kpi_value']) rescue nil %></b> <%= list['list_kpi_full_years'][0]['kpi_value_unit'].remove('-','0') rescue nil %></td>
                    <% end %>

                    <% if (list['list_kpi_half_years'][0]['kpi_value_unit'].include?'ร้อยละ') == true %>
                        <td><%= list['list_kpi_half_years'][0]['kpi_value_unit'].remove('-','0') rescue nil %> <b><%= strip_trailing_zero(list['list_kpi_half_years'][0]['kpi_value']) rescue nil %></b> </td>
                    <% else %>
                        <td><b><%= strip_trailing_zero(list['list_kpi_half_years'][0]['kpi_value']) rescue nil %></b> <%= list['list_kpi_half_years'][0]['kpi_value_unit'].remove('-','0') rescue nil %></td>
                    <% end %>
                        

                        <!--
                        <td><span class="badge badge-info">O</span></td>
                        <td><span class="badge badge-primary">S</span></td>
                        -->
                        <% @devision_directors['data'].each do |devision_director| %>
                        <th>
                            <%
                            @owner = nil
                            idx = 0
                            list['list_kpi_owners'].each do |list_kpi_owner|
                                list_kpi_owner = list['list_kpi_owners'][idx]['devision_director_id']
                                @owner = true if list_kpi_owner == devision_director['id']
                                idx = idx + 1
                            end
                            %>

                            <%
                            @supporter = nil
                            idx = 0
                            list['list_kpi_supporters'].each do |list_kpi_supporter|
                                list_kpi_supporter = list['list_kpi_supporters'][idx]['devision_director_id']
                                @supporter = true if list_kpi_supporter == devision_director['id']
                                idx = idx + 1
                            end
                            %>

                            <% if @owner %>
                                <span class="badge badge-info">O</span>
                            <% end %>


                            <% if @supporter %>
                                <span class="badge badge-primary">S</span>
                            <% end %>
                        </th>
                        <% end %>

                        <td>
                            <% list['list_kpi_onlines'].each do |list_kpi_online| %>
                                <%= list_kpi_online['title'] rescue nil %>
                            <% end %>
                        </td>
                        <td>

                        </td>
                      </tr>

                    <% end %>

                    </tbody>
                    <% end #end loop @group_by_status['data'].each do |group,lists| %>
                <% end #if !@group_by_status['data'].blank? %>


              </table>

          </div>








      </div>
    </div> <!-- end id export_content -->









</div>
