<div class="container-fluid">

    <%= form_for('master_plan', url: "/#{@controller_title}/master_plans/#{@datas['data']['id'] rescue nil}" , method: :patch) do |f| %>
    <div class="d-flex justify-content-between"> 
        <div class="w-75 d-flex">
            
                <h1>ตัวชี้วัดการปฏิบัติราชการ ประจำปีงบประมาณ : <span class="text-primary"><%= @datas['data']['period_year']&.to_date&.year + 543 rescue nil %></span></h1>

                <!-- ลูกค้าขอให้มี ผู้ดูแลระบบสูงสุดเห็นเท่านั้นในส่วนของ flow ใหญ่ การกำหนดการทำงาน 16/12/2022 -->
                <% if @role_title == 'superadmin_role' %>
                <%= link_to "/#{@controller_title}/master_plans/#{@datas['data']['id']}/edit", class: 'align-self-center btn bg-light mx-2' do %>
                    <i class="fas fa-edit"></i> <%= t(:edit) %>
                <% end %>



                <%= link_to "/#{@controller_title}/master_plan_users?master_plan_id=#{@datas['data']['id']}&original_url=#{request.path}", class: 'align-self-center btn bg-light mx-2' do %>
                    <i class="fas fa-user-circle fs-1"></i> <%= t(:assign_workers) %>
                <% end %>
                <% end %>

                <%#= link_to "/#{@controller_title}/period_reports?master_plan_id=#{@datas['data']['id']}&original_url=#{request.path}", class: 'align-self-center btn bg-light mx-2' do %>
               <!-- <i class="fas fa-calendar fs-1"></i> <%#= t(:period_reports) %> -->
         
            <%# end %>

        </div>

       
        <div class="">  

            
            
            <%= link_to "/#{@controller_title}/master_plans/", class: 'btn btn-light -sm' do %> 
                <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
            <% end %>

            <%= link_to "/#{@controller_title}/master_plans/print/#{@datas['data']['id'] rescue nil}", class: 'align-self-center btn btn-lg btn-light mx-1' do %> 
                <i class="fa-solid fa-eye"></i> ดู
            <% end %>
        </div> 
    </div>
    <% end %>









    <div class="row">



        





        <div class="col-sm-12">








            <!-- #1 -->
            <div class="card-show">




                <%= render 'list_plans' %>



        </div>
        <!-- end #1 -->

    <%
        url = URI("#{$server[@controller_title]}/api/v1/master_plans/#{@datas['data']['id']}/check_plan_approve_status")
        @check_plan_approve_status = request_api(url, "get", nil)
    %>

<% if @check_plan_approve_status['data'] == true %>

        <%= render partial: '/share/block_comments', locals:{ model_name: 'master_plan', id: @datas['data']['id']} %>


        <%= render partial: '/share/block_comments_history', locals:{ model_name: 'master_plan', id: @datas['data']['id']} %>

<% end %>






    </div>


































</div>
<!--end::Kt_content-->