<% if plan %>
<%
url = URI("#{$server[@controller_title]}/api/v1/fl_plans/#{params[:id]}/check_fl_plan_approve_status")
@check_fl_plan_approve_status = request_api(url,'get',nil)
$input_type_readonly = ''
if @check_fl_plan_approve_status['data'] == true
params['print'] = true
$input_type_readonly = 'readonly'
end

%>


<%= form_for('plan', url: "/#{gen_form[0]}/plans/#{action_name}_update_#{@plan['data']['type_name']}/#{@plan['data']['id']}" , method: 'patch') do |f| %>
<div class="row mt-5">
  <div class="col">


    <div id="export_content" class="">
      <div class="landscape_A4_page">


      <h2 class="text-center mt-2"><%#= plan['master_plan']['user']['institution']['title'] rescue nil# %> </h2>
      <h2 class="text-center"><%= plan['title'] rescue nil %></h2>


    

            <div class="-table-responsive py-5">

                <% plan['categories'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category,ida| %>
                <table id="items" class="table table-bordered my-10" style="text-left">
                  <thead style="width:auto;text-align:center; background-color: #b9f0c7;">
                    <tr valign="middle">
                      <th colspan="6"><h3><%= category['title'] rescue nil %></h3></th>
                   
                    </tr>
                    <tr valign="middle">
                    <th colspan="6" style="text-align: left;"><%= category['slug'] rescue nil %></th>
                    </tr>
                    <tr valign="middle">
                      <th class="w-200px">ตัวชี้วัด</th>
                      <th>ค่าเป้าหมาย</th>
                      <th colspan="3">ผลการดำเนินงาน</th>
                      <th class="w-200px">ผู้รับผิดชอบ</th>
                    </tr>

                    <tr valign="middle">
                        <th></th>
                        <th><b>พ.ศ. <%= (category['fl_kpi_year']&.to_date&.year + 543).to_i rescue nil %></b></th>
                        <th><b>พ.ศ. <%= (category['fl_third_year']&.to_date&.year + 543).to_i rescue nil %></b></th>
                        <th><b>พ.ศ. <%= (category['fl_second_year']&.to_date&.year + 543).to_i rescue nil %></b></th>
                        <th><b>พ.ศ. <%= (category['fl_first_year']&.to_date&.year + 543).to_i rescue nil %></b></th>
                        <th></th>
                      
                      

                      </tr>

                  </thead>
               
                <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idb| %>

                  <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list_activity,idx| %>

                    <% if action_name == 'opdc_input' || params['print'] == 'true' %>
                        <tr>
                            <td colspan ="6">
                              <ul style="list-style-type: none;">
                                    <span style="font-weight: bold;"><%= list['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></span>
                                  <li>
                                    <span><%= list['slug'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></span>
                                  </li>
                              </ul>
                            </td>
                        </tr>
                        <tr style="width:auto; background-color: #ffffff;">
                            <td>
                                <ul style="list-style-type: none;">
                                      <span> <%= list_activity['description'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></span>
                                  <li>
                                      <span><%= list_activity['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></span>                            
                                  </li>
                                </ul>                                       
                            </td>  
      
                            <td class="text-center"><%= number_with_delimiter(list_activity['fl_kpi_value']) rescue nil %> </td>
                            <td class="text-center"><%= number_with_delimiter(list_activity['fl_first_value']) rescue nil %></td>
                            <td class="text-center"><%= number_with_delimiter(list_activity['fl_second_value']) rescue nil %></td>
                            <td class="text-center"><%= number_with_delimiter(list_activity['fl_third_value']) rescue nil %></td>
                            <td class="text-center"><%= list_activity['slug'] rescue nil %></td>
                        </tr>
                  <% else %> <!-- # user_input  -->
                   
                        <tr>
                            <td colspan ="6">
                                <ul style="list-style-type: none;">
                                    <span style="font-weight: bold;"><%= list['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></span>
                                  <li>
                                    <span><%= list['slug'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></span>
                                  </li>
                                </ul>
                            </td>
                        </tr>
                        <tr style="width:auto; background-color: #ffffff;">
                            <td>
               
                                <div class="d-flex">
              
                                    <ul style="list-style-type: none;">
                                          <span> <%= list_activity['description'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></span>
                                        <li>
                                            <span><%= list_activity['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></span>                            
                                        </li>
                                    </ul>      
                                </div>
                            </td>
                            <td>
                                  <input type="hidden" name="form[<%= ida %>][<%= idb %>][<%= idx %>][id]" value="<%= list_activity['id'] rescue nil %>">
                                <div class="d-flex">
                                  <input type="number" name="form[<%= ida %>][<%= idb %>][<%= idx %>][fl_kpi_value]" value="<%= list_activity['fl_kpi_value'] rescue nil %>" class="form-control" step="any" <%= $input_type_readonly %> >
                                </div>
                            </td>
                            <td>
                                <input type="number" name="form[<%= ida %>][<%= idb %>][<%= idx %>][fl_first_value]" value="<%= list_activity['fl_first_value'] rescue nil %>" class="form-control" step="any" <%= $input_type_readonly %> >
                            </td>
                            <td>
                                <input type="number" name="form[<%= ida %>][<%= idb %>][<%= idx %>][fl_second_value]" value="<%= list_activity['fl_second_value'] rescue nil %>" class="form-control" step="any" <%= $input_type_readonly %> >
                            </td>
                            <td>
                                <input type="number" name="form[<%= ida %>][<%= idb %>][<%= idx %>][fl_third_value]" value="<%= list_activity['fl_third_value'] rescue nil %>" class="form-control" step="any" <%= $input_type_readonly %> >
                            </td>
                            <td>
                              <input type="text" name="form[<%= ida %>][<%= idb %>][<%= idx %>][slug]" value="<%= list_activity['slug'] rescue nil %>" class="form-control" placeholder="ผู้รับผิดชอบ" <%= $input_type_readonly %> >
                            </td>
                        </tr>
              <% end #if opdc_input %>
              <% end #loop list_activities %>
              <% end #loop categories %>
            </table>
            <% end #loop plans %>

          


          </div>
                
                  
          <hr style="border-bottom: 1px dotted #999999;">
          <p style="page-break-after: always;">&nbsp;</p>

  




      <div class="d-flex align-items-center">
    
        <% if params['print'] != 'true'  %>

          <%= hidden_field_tag :original_url, request.path %>
          <%= f.hidden_field :id, value: (@plan['data']['id'] rescue nil) %>
          <%#= f.submit "บันทึกร่าง", class: "btn btn-lg btn-light-primary mx-3" %>
          <%= f.submit "บันทึก", class: "btn btn-lg btn-primary mx-3" %>
        <% end %> <!-- end if -->

          <%= form_for('plan', url: "/#{gen_form[0]}/plans/user_input_submit/#{@plan['data']['id']}" , method: 'patch') do |f| %>
            <%= f.hidden_field :id, value: (@plan['data']['id'] rescue nil) %>
            <%= f.hidden_field :status, value: 'submit-by-user' %>
            <%#= f.submit "ส่งคะแนน", class: "btn btn-lg btn-primary mx-3" %>
        

          <% end #print %>
        <% end # end form 1 %>
      </div>

    </div>
  </div> <!-- end id export_content -->



  </div>
</div>
<% end %>
