<% if plan %>
<%
@plan['data']['type_name'] = 'normal' if @plan['data']['type_name'].blank?

url = URI("#{$server[@controller_title]}/api/v1/fl_plans/#{params[:id]}/check_fl_plan_approve_status")
@check_fl_plan_approve_status = request_api(url,'get',nil)



%>


<%= form_for('plan', url: "/#{gen_form[0]}/plans/#{action_name}_update_#{@plan['data']['type_name']}/#{@plan['data']['id']}" , method: 'patch') do |f| %>
<div class="row mt-5">
  <div class="col">



    <div id="export_content" class="">
      <div class="landscape_A4_page">



      <h2 class="text-center mt-2"><%= plan['master_plan']['user']['institution']['title'] rescue nil %> </h2>
      <h3 class="text-center"><%= plan['title'] rescue nil %></h3>


      <div class="d-flex align-items-center mt-2"><span class="fs-3 badge badge-success">ผลรวมคะแนนหมวด : <%= number_with_precision(plan['fl_score_sum'], precision: 2) rescue nil %></span> </div>
      
      <div class="d-flex align-items-center mt-2"><span class="fs-4 badge badge-danger">Average Category : <%= number_with_precision(plan['fl_score_avg'], precision: 2) %></span> </div>

      <div class="-table-responsive py-5">
              <table id="items" class="table table-bordered" style="text-left">
                <thead style="width:auto;text-align:center; background-color: #fbc6ce;">
                  <tr valign="middle">
                    <th class="w-300px">Category/Item</th>
                    <th>No.</th>
                    <th>Question</th>
                    <th colspan="6">Score</th>
                  </tr>

                  <tr valign="middle">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><b>0</b></th>
                    <th><b>1</b></th>
                    <th><b>2</b></th>
                    <th><b>3</b></th>
                    <th><b>4</b></th>
                    <th><b>5</b></th>
                  </tr>

                </thead>

                <thead style="width:auto; background-color: #ffe6e9;">
                    <tr>
                      <td colspan="9">
                        <b><%= plan['title'] rescue nil %></b>
                      </td>
                  </tr>
                </thead>

                <% plan['categories'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category,ida| %>
                <tr style="width:auto; background-color: #f6f6f6;">
                    <td colspan="9">
                      <div class="py-3"><b><%= category['title'] rescue nil %></b></div>
                      <div class="d-flex mx-10">
                        <span class="badge badge-danger fs-base min-w-100px mx-3">Average  : <%= number_with_precision(category['fl_score_avg'], precision: 2) rescue nil %></span></p>
                        


                        <% if action_name == 'opdc_input' && params['print'] != 'true' %>
                        <span class="badge badge-light-warning fs-base mx-3">เกณฑ์คะแนนประเมินหัวข้อ : <%= category['fl_total_score'] rescue nil %> คะแนน</span>
                        
                        
                        <div class="d-flex align-items-center">
                          <span class="ts-4 px-3">ให้คะแนนประเมิน</span>
                          <input type="hidden" name="category[<%= ida %>][id]" value="<%= category['id'] rescue nil %>">
                          <input type="number" name="category[<%= ida %>][fl_score]" value="<%= category['fl_score'] rescue nil %>" class="form-control w-100px mx-4"  min="0" max="<%= category['fl_total_score'].to_i rescue nil %>">
                        </div>

                        <% elsif params['print'] == 'true'  %>

                        <span class="badge badge-light-warning fs-base mx-3">เกณฑ์คะแนนประเมินหัวข้อ : <%= category['fl_total_score'] rescue nil %> คะแนน</span>
                        
                        
                        <div class="d-flex align-items-center">
                          <span class="fs-4">ให้คะแนนประเมิน :</span>
                          <span class="badge badge-warning fs-4"><%= category['fl_score'] rescue nil %></span>
                        </div>

                        <% end %>


                      </div>
                    </td>
                </tr>

                <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idb| %>
                <tr>
                  <td></td>
                  <td colspan="8" valign="middle">
                    <b><%= list['title'] rescue nil %></b>
                  </td>
                </tr>

                <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list_activity,idx| %>
                <tr valign="top">
                  <td></td>
                  <td align="center"><b><%= idx + 1 %></b></td>
                  <td><b><%= list_activity['title'] rescue nil %></b>
                    <ul>
                      <% list_activity['list_activity_items'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity_item| %>
                      <li>
                        <%= list_activity_item['title'] rescue nil %>
                      </li>
                        <% end %>
                      </ul>
                  </td>
                  
                  <% (0..5).each do |idy| %>
                  <td class="">
                    <div class="form-check form-check-sm form-check-custom form-check-solid w-50 m-auto">
                      <input name="form[<%= ida %>][<%= idb %>][<%= idx %>][fl_score]" <% if @check_fl_plan_approve_status['data'] != true %> disabled <% end %> class="form-check-input" type="radio" <%= 'checked' if idy == list_activity['fl_score'].to_i %> value=<%= idy %> <%= "disabled".html_safe if action_name == 'opdc_input' || params['print'] == 'true' %> >
                    </div>
                  </td>
                  <% end %>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td colspan="7" class="bg-light-primary" style="width:auto; background-color: #fcfcfc;"><b>คำอธิบาย</b>

                    <% if action_name == 'opdc_input' || params['print'] == 'true' %>
                      <p><%= list_activity['fl_result_text'] rescue nil %></p>
                      
                      <div class="d-block my-2">
                      <% if !list_activity['file_data'].blank? && !list_activity['file_data']['original'].blank? %>
                          <%= link_to "#{$server[@controller_title]}/uploads/#{JSON.parse(list_activity['file_data'])['original']['id']}", class: 'mr-3 btn btn-sm btn-primary', target: '_blank', id: "preview-photo-#{ida}-#{idb}-#{idx}" do %>
                            <i class="fas fa-file-alt"></i> 
                              <% if !list_activity['description'].blank? %>
                                <%= list_activity['description'] rescue nil %>
                              <% else %>
                                <%= JSON.parse(list_activity['file_data'])['original']['metadata']['filename'] %>
                              <% end %>
                          <% end %>
                        <% else %>
                          <%= link_to "", class: 'mr-3 btn btn-sm btn-primary', target: '_blank', id: "preview-photo-#{ida}-#{idb}-#{idx}", style: "display: none" do %>
                                <i class="fas fa-file-alt"></i> 
                              <% end %>
                        <% end %>

                      </div>

                    <% else %>
                      <input type="hidden" name="form[<%= ida %>][<%= idb %>][<%= idx %>][id]" value="<%= list_activity['id'] %>">
                      <textarea name="form[<%= ida %>][<%= idb %>][<%= idx %>][fl_result_text]" <% if @check_fl_plan_approve_status['data'] != true %> readonly <% end %> class="form-control" maxlength="1000"><%= list_activity['fl_result_text'] rescue nil %></textarea>

                      <!-- code for attachment -->
                      <input id="photo-upload-result-<%= ida %>-<%= idb %>-<%= idx %>" type="hidden" name="form[<%= ida %>][<%= idb %>][<%= idx %>][file]">
                      <% if @check_fl_plan_approve_status['data'] == true %> 
                        <input  accept="image/jpeg,image/jpg,image/png,image/gif,application/pdf,application/powerpoint,application/vnd.ms-powerpoint,application/vnd.ms-office,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/x-zip,application/zip,application/x-zip-compressed,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-7z-compressed" data-upload-server="" data-preview-element="preview-photo-<%= ida %>-<%= idb %>-<%= idx %>" data-upload-result-element="photo-upload-result-<%= ida %>-<%= idb %>-<%= idx %>" id="input-task_attachment_items_row-<%= ida %>-<%= idb %>-<%= idx %>" class="" type="file">
                      <% end %>
                      <div class="d-block my-2">
                      <% if !list_activity['file_data'].blank? && !list_activity['file_data']['original'].blank? %>
                          <%= link_to "#{$server[@controller_title]}/uploads/#{JSON.parse(list_activity['file_data'])['original']['id']}", class: 'mr-3 btn btn-sm btn-primary', target: '_blank', id: "preview-photo-#{ida}-#{idb}-#{idx}" do %>
                            <i class="fas fa-file-alt"></i> 
                              <% if !list_activity['description'].blank? %>
                                <%= list_activity['description'] rescue nil %>
                              <% else %>
                                <%= JSON.parse(list_activity['file_data'])['original']['metadata']['filename'] %>
                              <% end %>
                          <% end %>
                        <% else %>
                          <%= link_to "", class: 'mr-3 btn btn-sm btn-primary', target: '_blank', id: "preview-photo-#{ida}-#{idb}-#{idx}", style: "display: none" do %>
                                <i class="fas fa-file-alt"></i> 
                              <% end %>
                        <% end %>

                      </div>

                      <script type="text/javascript">
                          function normal_fileUpload(fileInput) {
                              var imagePreview = document.getElementById(fileInput.dataset.previewElement)

                              fileInput.style.display = 'none'

                              var uppy = Uppy.Core({
                                  id: fileInput.id,
                                  restrictions: {
                                    allowedFileTypes: fileInput.accept.split(','),
                                  }
                                })
                                .use(Uppy.FileInput, {
                                  target: fileInput.parentNode,
                                })
                                .use(Uppy.Informer, {
                                  target: fileInput.parentNode,
                                })
                                .use(Uppy.ProgressBar, {
                                  target: imagePreview.parentNode,
                                })

                              

                              uppy.use(Uppy.XHRUpload, {
                                  endpoint: '<%= $server[@controller_title] %>/upload', // Shrine's upload endpoint
                                  fieldName: 'file',
                                })



                              uppy.run()

                              uppy.on('upload-success', function (file, data, uploadURL) {
                            // show image preview
                                imagePreview.src = URL.createObjectURL(file.data)
                                imagePreview.href = URL.createObjectURL(file.data) 
                                imagePreview.style = 'display: block;'
                                $('#' +imagePreview.id + '-title').val(file.name)
                                $('#task_attach_btn_save').css('display', 'block');
                                

                                var uploadedFileData = JSON.stringify(data)

                                var hiddenInput = document.getElementById(fileInput.dataset.uploadResultElement)
                                hiddenInput.value = uploadedFileData
                              })

                              return uppy
                            }



                         //for Button Choose upload image
                         fileInput = document.querySelector('#input-task_attachment_items_row-<%= ida %>-<%= idb %>-<%= idx %>');
                         normal_fileUpload(fileInput);
                      </script>

                      <!-- end code for attachment -->


                    <% end %>

                  </td>
                </tr>
                <% end #loop list_activities %>

                <% end #loop lists %>

                <% end #loop categories %>

          </table>


      </div>
                
                  
          <hr style="border-bottom: 1px dotted #999999;">
          <p style="page-break-after: always;">&nbsp;</p>




        






  




  <div class="d-flex align-items-center">
    <% if params['print'] != 'true'  %>


    
    <%= hidden_field_tag :original_url, request.path %>
    <%= f.hidden_field :id, value: (@plan['data']['id'] rescue nil) %>
    <%#= f.submit "บันทึกร่าง", class: "btn btn-lg btn-light-primary mx-3" %>
    <% if @check_fl_plan_approve_status['data'] == true %> 
    <%= f.submit "บันทึก", class: "btn btn-lg btn-primary mx-3" %>
    <% end %>
    <% end # end form 1 %>

    <%= form_for('plan', url: "/#{gen_form[0]}/plans/user_input_submit/#{@plan['data']['id']}" , method: 'patch') do |f| %>
    <%= f.hidden_field :id, value: (@plan['data']['id'] rescue nil) %>
    <%= f.hidden_field :status, value: 'submit-by-user' %>
    <%#= f.submit "ส่งคะแนน", class: "btn btn-lg btn-primary mx-3" %>
    <% end # end form 1 %>




    <% end %>
  </div>




        </div>
      </div> <!-- end id export_content -->

  </div>
</div>

<% end %>
