<% if plan %>
<%= form_for('plan', url: "/#{gen_form[0]}/plans/#{action_name}_update_#{@plan['data']['type_name']}/#{@plan['data']['id']}" , method: 'patch') do |f| %>
<div class="row mt-5">
  <div class="col">


    <div id="export_content" class="">
      <div class="landscape_A4_page">



        

      <h2 class="text-center mt-2"><%#= plan['master_plan']['user']['institution']['title'] rescue nil# %> </h2>
      <h2 class="text-center"><%= plan['title'] rescue nil %></h2>


      <div class="d-flex align-items-center mt-2"><span class="fs-3 badge badge-success">ผลรวมคะแนนหมวด : <%= plan['fl_score_sum'] rescue nil %></span> </div>

      <div class="-table-responsive py-5">

                <% plan['categories'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category,ida| %>
                <table id="items" class="table table-bordered my-10" style="text-left">
                  <thead style="width:auto;text-align:center; background-color: #b9f0c7;">
                    <tr valign="middle">
                      <th colspan="7"><h3><%= category['title'] rescue nil %></h3></th>
                      <th></th>
                    </tr>
                    <tr valign="middle">
                    <th colspan="8" style="text-align: left;"><%= category['slug'] rescue nil %></th>
                    </tr>
                    <tr valign="middle">
                      <th class="w-200px">ตัวชี้วัด</th>
                      <th>ค่าเป้าหมาย พ.ศ. <%= (category['fl_kpi_year']&.to_date&.year + 543).to_i rescue nil %></th>
                      <th colspan="3">ผลการดำเนินงาน</th>
                      <th>ร้อยละความสำเร็จ</th>
                      <th class="w-100px">คะแนน <br><span class="fs-6 badge badge-success">เกณฑ์คะแนน  : <%= category['fl_total_score'] rescue nil %></span></th>
                      <th class="w-200px">เอกสารประกอบ</th>
                    </tr>

                    <tr valign="middle">
                        <th></th>
                        <th></th>
                        <th><b>พ.ศ. <%= (category['fl_third_year']&.to_date&.year + 543).to_i rescue nil %></b></th>
                        <th><b>พ.ศ. <%= (category['fl_second_year']&.to_date&.year + 543).to_i rescue nil %></b></th>
                        <th><b>พ.ศ. <%= (category['fl_first_year']&.to_date&.year + 543).to_i rescue nil %></b></th>
                        <th></th>
                        <th></th>
                        <th></th>

                      </tr>

                  </thead>

                <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idb| %>






                <% if action_name == 'opdc_input' || params['print'] == 'true' %>
                <tr style="width:auto; background-color: #ffffff;">
                  <td rowspan ="2">
                    <div class="d-flex">
                      <%= list['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %>
                      <%= list['kpi_cond'] rescue nil %>
                    </div>
                  </td>
                  <td>
                    <%= list['fl_kpi_value'] rescue nil %>
                    <%= list['kpi_unit'] rescue nil %>
                  </td>
                  <td>
                    <%= list['fl_first_value'] rescue nil %>
                  </td>
                  <td>
                    <%= list['fl_second_value'] rescue nil %>
                  </td>
                  <td>
                    <%= list['fl_third_value'] rescue nil %>
                  </td>
                  <td style="width:auto; background-color: #f4f4f4;" align="center">
                    <%= list['fl_success_value_cal'] rescue nil %>    
                  </td>

                  <td style="width:auto; background-color: #f4f4f4;" align="center">
               
                      <% if params['print'] != 'true' %>
                
                          <input type="hidden" name="form[<%= ida %>][<%= idb %>][id]" value="<%= list['id'] rescue nil %>">
                  
                          <input type="number" name="form[<%= ida %>][<%= idb %>][fl_score_value]" value="<%= list['fl_score_value'] rescue nil %>" class="form-control">
                  
                      <% else %>
                          <%= list['fl_score_value'] rescue nil %>
                      <% end %>
                  </td>



                  <td rowspan ="2">

                    <!-- code for attachment -->
                      <% if !list['file_data'].blank? && !list['file_data']['original'].blank? %>
                          <%= link_to "#{$server[@controller_title]}/uploads/#{JSON.parse(list['file_data'])['original']['id']}", class: 'mr-3 btn btn-sm btn-primary', target: '_blank', id: "preview-photo-#{ida}-#{idb}" do %>
                            <i class="fas fa-file-alt"></i> 
                              <% if !list['description'].blank? %>
                                <%= list['description'] rescue nil %>
                              <% else %>
                                <%= JSON.parse(list['file_data'])['original']['metadata']['filename'].truncate(12) rescue nil %>
                              <% end %>
                          <% end %>
                        <% end %>
                      <!-- end code for attachment -->
                    
                  </td>




              </tr>

              <tr>
                  <td colspan="7"><%= list['slug'] rescue nil %></td>
              </tr>


              <% else #else opdc_input %>


              <tr style="width:auto; background-color: #ffffff;">
                  <td>
               
                    <div class="d-flex">
                    <ul>
                    <%= list['title'] rescue nil %>
                      <%#= select_tag("form[#{ida}][#{idb}][fl_kpi_id]", options_for_select(@fl_kpis['data'].map { |item| ["#{item['title']} #{item['primary']}", item['id']] }, (list['fl_kpi_id'] rescue nil)), {include_blank: true, class: 'selectize-activity form-control w-150px'}) %>
                        <li>
                            <%= select_tag("form[#{ida}][#{idb}][kpi_cond]", options_for_select(@kpi_cond.map { |item| ["#{item[:title]}", item[:value]] }, (list['kpi_cond'] rescue nil)), {include_blank: true, class: 'selectize-activity form-control'}) %>
                        </li>
                    </ul>
                      </div>
                  </td>
                  <td>
                    <input type="hidden" name="form[<%= ida %>][<%= idb %>][id]" value="<%= list['id'] rescue nil %>">
                    <div class="d-flex">
                    <input type="number" name="form[<%= ida %>][<%= idb %>][fl_kpi_value]" value="<%= list['fl_kpi_value'] rescue nil %>" class="form-control" step="any">

                    <input type="text" name="form[<%= ida %>][<%= idb %>][kpi_unit]" value="<%= list['kpi_unit'] rescue nil %>" class="form-control" placeholder="หน่วย">
                    </div>
                  </td>
                  <td>
                    <input type="number" name="form[<%= ida %>][<%= idb %>][fl_first_value]" value="<%= list['fl_first_value'] rescue nil %>" class="form-control" step="any">
                  </td>
                  <td>
                    <input type="number" name="form[<%= ida %>][<%= idb %>][fl_second_value]" value="<%= list['fl_second_value'] rescue nil %>" class="form-control" step="any">
                  </td>
                  <td>
                    <input type="number" name="form[<%= ida %>][<%= idb %>][fl_third_value]" value="<%= list['fl_third_value'] rescue nil %>" class="form-control" step="any">
                  </td>
                  <td style="width:auto; background-color: #f4f4f4;" align="center">
                    <%= list['fl_success_value_cal'] rescue nil %>    
                  </td>
                  <td style="width:auto; background-color: #f4f4f4;" align="center">
                    <%= list['fl_score_value'] rescue nil %>
                  </td>


                  <td class="mw-150px">

                    <!-- code for attachment -->
                      <input id="photo-upload-result-<%= ida %>-<%= idb %>" type="hidden" name="form[<%= ida %>][<%= idb %>][file]">

                      <input  accept="image/jpeg,image/jpg,image/png,image/gif,application/pdf,application/powerpoint,application/vnd.ms-powerpoint,application/vnd.ms-office,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/x-zip,application/zip,application/x-zip-compressed,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-7z-compressed" data-upload-server="" data-preview-element="preview-photo-<%= ida %>-<%= idb %>" data-upload-result-element="photo-upload-result-<%= ida %>-<%= idb %>" id="input-task_attachment_items_row-<%= ida %>-<%= idb %>" class="" type="file">

                      <div class="d-block my-2 overflow-hidden">
                      <% if !list['file_data'].blank? && !list['file_data']['original'].blank? %>

                          <%= link_to "#{$server[@controller_title]}/uploads/#{JSON.parse(list['file_data'])['original']['id']}", class: 'mr-3 btn btn-sm btn-primary p-2', target: '_blank', id: "preview-photo-#{ida}-#{idb}" do %>
                            <i class="fas fa-file-alt"></i> 
                              <% if !list['description'].blank? %>
                                <%= list['description'] rescue nil %>
                              <% else %>
                                <%= JSON.parse(list['file_data'])['original']['metadata']['filename'].truncate(12) rescue nil %>
                              <% end %>
                          <% end %>

                          <%= link_to "", "/mains/delete_image?name=form[#{ida}][#{idb}][file]&id=#{ida}-#{idb}", method: :delete, data: { confirm: 'ต้องการลบใช่หรือไม่? (คลิ๊กปุ่ม บันทึก อีกครั้งเพื่อปรับปรุงข้อมูลหลังยืนยันการลบ)' } , class: "fa-regular fa-trash-can", id: "delete-#{ida}-#{idb}", remote: true %>
                         

                        <% else %>
                          <%= link_to "", class: 'mr-3 btn btn-sm btn-primary', target: '_blank', id: "preview-photo-#{ida}-#{idb}", style: "display: none" do %>
                                <i class="fas fa-file-alt"></i> 
                              <% end %>
                        <% end %>

                      </div>

                      <script type="text/javascript">
                          function normal_fileUpload(fileInput) {
                              var imagePreview = document.getElementById(fileInput.dataset.previewElement)

                              fileInput.style.display = 'none'

                              var uppy = Uppy.Core({
                                  id: fileInput.id,
                                  restrictions: {
                                    allowedFileTypes: fileInput.accept.split(','),
                                  }
                                })
                                .use(Uppy.FileInput, {
                                  target: fileInput.parentNode,
                                })
                                .use(Uppy.Informer, {
                                  target: fileInput.parentNode,
                                })
                                .use(Uppy.ProgressBar, {
                                  target: imagePreview.parentNode,
                                })

                              

                              uppy.use(Uppy.XHRUpload, {
                                  endpoint: '<%= $server[@controller_title] %>/upload', // Shrine's upload endpoint
                                  fieldName: 'file',
                                })



                              uppy.run()

                              uppy.on('upload-success', function (file, data, uploadURL) {
                            // show image preview
                                imagePreview.src = URL.createObjectURL(file.data)
                                imagePreview.href = URL.createObjectURL(file.data) 
                                imagePreview.style = 'display: block;'
                                $('#' +imagePreview.id + '-title').val(file.name)
                                $('#task_attach_btn_save').css('display', 'block');
                                

                                var uploadedFileData = JSON.stringify(data)

                                var hiddenInput = document.getElementById(fileInput.dataset.uploadResultElement)
                                hiddenInput.value = uploadedFileData
                              })

                              return uppy
                            }



                         //for Button Choose upload image
                         fileInput = document.querySelector('#input-task_attachment_items_row-<%= ida %>-<%= idb %>');
                         normal_fileUpload(fileInput);
                      </script>

                      <!-- end code for attachment -->
                    
                  </td>

              </tr>



              <% end #if opdc_input %>








            <% end #loop categories %>
            </table>
            <% end #loop plans %>

          


      </div>
                
                  
          <hr style="border-bottom: 1px dotted #999999;">
          <p style="page-break-after: always;">&nbsp;</p>

  




      <div class="d-flex align-items-center">
        <% if params['print'] != 'true'  %>

        <%= hidden_field_tag :original_url, request.path %>
        <%= f.hidden_field :id, value: (@plan['data']['id'] rescue nil) %>
        <%#= f.submit "บันทึกร่าง", class: "btn btn-lg btn-light-primary mx-3" %>
        <%= f.submit "บันทึก", class: "btn btn-lg btn-primary mx-3" %>
        <% end # end form 1 %>

        <%= form_for('plan', url: "/#{gen_form[0]}/plans/user_input_submit/#{@plan['data']['id']}" , method: 'patch') do |f| %>
        <%= f.hidden_field :id, value: (@plan['data']['id'] rescue nil) %>
        <%= f.hidden_field :status, value: 'submit-by-user' %>
        <%#= f.submit "ส่งคะแนน", class: "btn btn-lg btn-primary mx-3" %>
        <% end # end form 1 %>

        <% end #print %>
      </div>

    </div>
  </div> <!-- end id export_content -->



  </div>
</div>

<% end %>
