<% #init

$plan_approver_status = nil
$input_readonly = ''
 @plan['data']['plan_users'].each do |plan_user|
      if  plan_user['user_role']['slug'] == 'approver' && plan_user['status'] == 'approved'
        $plan_approver_status =  plan_user['status'] 
        $input_readonly = 'readonly'
      end
end

%>


<div class="card-show">
                <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                                <h2><%= category['title'] rescue nil %></h2>
                             <!--   <span class="badge badge-light-warning fs-5 px-2 mx-5">เกณฑ์คะแนน : <%= category['fl_total_score'] rescue nil %></span> -->
                        </div>
<% if $plan_approver_status != 'approved' %>
                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: (@plan['data']['master_plan_id']  rescue nil), model_name: 'categories', model_title: '', id: category['id'], params: "plan_id=#{@plan['data']['id'] rescue nil}"} %>
<% end %>
                </div>
                <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                                <%= category['slug'] %>
                        </div>
                </div>
                <div class="table-responsive py-5">
                <% if $plan_approver_status != 'approved' %>
                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'add-only' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: 'ตัวชี้วัด', id: nil, params: "category_id=#{category['id']}&original_url=#{request.path}"} %>   
<% end %>
                        <table id="items" class="table table-bordered my-10" style="text-left">
                        <thead style="width:auto;text-align:center; background-color: #b9f0c7;">
                                        <tr class="fw-bolder text-muted">
                                              <!--  <th class="min-w-50px text-center" rowspan="2"><h6>ลำดับ<h6></th> -->
                                                <th class="min-w-350px" rowspan="2"><h6>ตัวชี้วัด<h6></th>
                                                <th class="min-w-150px" ><h6>ค่าเป้าหมาย</h6></th>
                                                <th class="min-w-300px text-center" colspan="3"><h6>ผลการดำเนินงาน<h6></th>
                                                <th class="min-w-150px text-center" rowspan="2">ผู้รับผิดชอบ</th>
                                                <th class="w-200px" rowspan="2"></th>
                                        </tr>
                                        <tr class="fw-bolder text-muted">
                                                <th><h6>พ.ศ. <%= (category['fl_kpi_year']&.to_date&.year + 543).to_i rescue nil %><h6></th>
                                                <th><h6>พ.ศ. <%= (category['fl_third_year']&.to_date&.year + 543).to_i rescue nil %><h6></th>
                                                <th><h6>พ.ศ. <%= (category['fl_second_year']&.to_date&.year + 543).to_i rescue nil %><h6></th>
                                                <th><h6>พ.ศ. <%= (category['fl_first_year']&.to_date&.year + 543).to_i rescue nil %><h6></th>
                                             
                                                
                                        </tr>

                                </thead>
                                <tbody>
                                        <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idx| %>
                                        <tr style="border-top: 3px solid #cccccc;">
                                                <td colspan = "6">
                                               <ul style="list-style-type: none;">
                                                        <span style="font-weight: bold;"><%= list['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></span>
                                                <li>
                                                <span><%= list['slug'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></span>
                                                </li>
                                                </ul>
                                      <% if $plan_approver_status != 'approved' %>
                                                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'c' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'list_activities', model_title: 'หัวข้อย่อย', id: list['id'], params: "list_id=#{list['id']}&original_url=#{request.path}&type=#{@plan['data']['type_name']}"} , cached: true %>    
                                       <% end %>        
                                                </td>
                                                <td>
                                                <% if $plan_approver_status != 'approved' %>
                                                <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: nil, id: list['id'], params: "original_url=#{request.path}"}  , cached: true %>
                                                <% end %>
                                                <span class="badge badge-pill badge-light"><%= convert_thai_date(list['updated_at'],'long') %></span>
                                                </td>
                                        </tr>

                                        <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>

                                        <tr>

                                                <td>
                                                        <ul style="list-style-type: none;">
                                                        <span> <%= list_activity['description'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></span>
                                                                <li>
                                                                        <span><%= list_activity['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></span>                            
                                                                </li>
                                                                
                                                        </ul>                                       
                                                </td>  
                                              
                                                <td class="text-center"><%= number_with_delimiter(list_activity['fl_kpi_value']) rescue nil %> </td>
                                                <td class="text-center"><%= number_with_delimiter(list_activity['fl_first_value']) rescue nil %></td>
                                                <td class="text-center"><%= number_with_delimiter(list_activity['fl_second_value']) rescue nil %></td>
                                                <td class="text-center"><%= number_with_delimiter(list_activity['fl_third_value']) rescue nil %></td>
                                                <td class="text-center"><%= list_activity['slug'] rescue nil %></td>
                                                <td class="text-center">
                                               <% if $plan_approver_status != 'approved' %>
                                                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'list_activities', model_title: nil, id: list_activity['id'], params: "original_url=#{request.path}&type=#{@plan['data']['type_name']}"} , cached: true %>
                                                <% end %>
                                                <span class="badge badge-pill badge-light"><%= convert_thai_date(list_activity['updated_at'],'long') %></span>
                                                </td>
                                               
                                        </tr>
                                         <% end %> <!-- end list_activity -->

                                        <% end %>
                                </tbody>
                        </table>
                </div>
        </div>