<div class="card-show">
                <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                                <h2><%= category['title'] rescue nil %></h2>
                                <span class="badge badge-light-warning fs-5 px-2 mx-5">เกณฑ์คะแนน : <%= category['fl_total_score'] rescue nil %></span>
                        </div>

                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: (@plan['data']['master_plan_id']  rescue nil), model_name: 'categories', model_title: '', id: category['id'], params: "plan_id=#{@plan['data']['id'] rescue nil}"} %>

                </div>
                <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                                <%= category['slug'] %>
                        </div>
                </div>
                <div class="table-responsive py-5">

                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'add-only' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: 'ตัวชี้วัด', id: nil, params: "category_id=#{category['id']}&original_url=#{request.path}"} %>   

                        <table class="table table-bordered">
                                <thead>
                                        <tr class="fw-bolder text-muted">
                                                <th class="min-w-50px text-center" rowspan="2"><h6>ลำดับ<h6></th>
                                                <th class="min-w-200px" rowspan="2"><h6>ตัวชี้วัด<h6></th>
                                                <th class="min-w-200px" rowspan="2"><h6>ค่าเป้าหมาย พ.ศ. <%= @plan['master_plan']['title'].to_i rescue nil %><h6></th>
                                                <th class="min-w-450px text-center" colspan="3"><h6>ผลการดำเนินงาน<h6></th>
                                                <th class="w-200px"></th>
                                        </tr>
                                        <tr class="fw-bolder text-muted">
                                                <th><h6>พ.ศ. <%= @plan['master_plan']['title'].to_i-2 rescue nil %><h6></th>
                                                <th><h6>พ.ศ. <%= @plan['master_plan']['title'].to_i-1 rescue nil %><h6></th>
                                                <th><h6>พ.ศ. <%= @plan['master_plan']['title'].to_i rescue nil %><h6></th>
                                                <th class="w-200px"></th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idx| %>
                                        <tr style="border-top: 3px solid #cccccc;">
                                                <td class="text-center" rowspan="2"><%= idx + 1 %></td>
                                                        
                                                <td>
                                                        <%= list['fl_kpi']['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %>
                                                </td> 
                                                
                                                <td>
                                                        <%= list['fl_kpi_value'] rescue nil %>
                                                 </td> 
                                                <td>
                                                        <%= list['fl_first_value'] rescue nil %>
                                                </td> 
                                                <td>
                                                        <%= list['fl_second_value'] rescue nil %>
                                                </td> 
                                                <td>
                                                        <%= list['fl_third_value'] rescue nil %>
                                                </td>
                                                
                                                <td rowspan="2">

                                                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: nil, id: list['id'], params: "original_url=#{request.path}"} %>    
                                                </td>      
                                        </tr>
                                        <tr>
                                        <td colspan ="7"><%= list['slug'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></td>
                                               
                                        </tr>


                                        <% end %>
                                </tbody>
                        </table>
                </div>
        </div>