<% #init

$plan_approver_status = nil
$input_readonly = ''
 @plan['data']['plan_users'].each do |plan_user|
      if  plan_user['user_role']['slug'] == 'approver' && plan_user['status'] == 'approved'
        $plan_approver_status =  plan_user['status'] 
        $input_readonly = 'readonly'
      end
end

%>
  
        
        
        <div class="card-show">
                <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                                <h2><%= category['title'] rescue nil %></h2>
                                <span class="badge badge-light-warning fs-5 px-2 mx-5">เกณฑ์คะแนน : <%= category['fl_total_score'] rescue nil %></span>
                        </div>
                    <% if $plan_approver_status != 'approved' %>
                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: (@plan['data']['master_plan_id']  rescue nil), model_name: 'categories', model_title: '', id: category['id'], params: "plan_id=#{@plan['data']['id'] rescue nil}"} %>
                    <% end %>
                </div>

                <div class="table-responsive py-5">
                <% if $plan_approver_status != 'approved' %>
                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'add-only' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: 'หัวข้อ', id: nil, params: "category_id=#{category['id']}&original_url=#{request.path}"} %>   
                <% end %>
                        <table class="table table-bordered">
                                <thead>
                                <tr class="fw-bolder text-muted">
                                                <th class=""><h6>หัวข้อ<h6></th>
                                                <th class="min-w-250px"><h6>คำถาม<h6></th>
                                                        <!--
                                                <th class="min-w-100px"><h6>กิจกรรม/ขั้นตอน แผนพัฒนาองค์การ<h6></th>
                                                -->
                                                <th class="w-200px"></th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idx| %>
                                        <tr style="border-top: 3px solid #cccccc;">
                                                <td colspan="2">
                                                        <span style="font-weight: bold;"><%= list['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></span>
                                                        <% if $plan_approver_status != 'approved' %>
                                                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'c' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'list_activities', model_title: 'คำถาม', id: list['id'], params: "list_id=#{list['id']}&original_url=#{request.path}"} %>   
                                                        <% end %> 
                                                </td>  
                                                <!--
                                                <td><%= list['status'] rescue nil %></span></td>   
                                                -->   
                                                <td>

                                                         
                                                <% if $plan_approver_status != 'approved' %>
                                                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: nil, id: list['id'], params: "original_url=#{request.path}"} %>    
                                                <% end %>
                                                </td>      
                                        </tr>

                                        <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                                        <tr>
                                                <td></td>
                                                <td>
                                                        <span class="text-primary" style="font-weight: bold;"><%= list_activity['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></span>   
                                                        <% if $plan_approver_status != 'approved' %>
                                                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'c' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'list_activity_items', model_title: 'รายละเอียด', id: list['id'], params: "list_activity_id=#{list_activity['id']}&original_url=#{request.path}"} %>
                                                        <% end %>


                                                        <ul style="list-style-type: none">
                                                                <% list_activity['list_activity_items'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity_item| %>
                                                                <li class="">
                                                                        <div><%= list_activity_item['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></div>
                                                                        <% if $plan_approver_status != 'approved' %>
                                                                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'list_activity_items', model_title: nil, id: list_activity_item['id'], params: "original_url=#{request.path}"} %>
                                                                        <% end %>
                                                                        
                                                                </li>
                                                                <% end %>
                                                        </ul>

                                                </td>




                                                <td>
                                                <% if $plan_approver_status != 'approved' %>
                                                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'list_activities', model_title: nil, id: list_activity['id'], params: "original_url=#{request.path}"} %>
                                                         <span class="badge badge-pill badge-light"><%= convert_thai_date(list_activity['updated_at'],'long') %></span>
                                                <% end %>
                                                </td>
                                        </tr>
                                        
                                        <% end %>

                                        <% end %>
                                </tbody>
                        </table>
                </div>
        </div>
