<style>
    @media print {
       .noprint {
          visibility: hidden;
          display: none;
       }
    }
</style>

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="float-end"> 

                <%= link_to "/#{gen_form[0]}/master_plans/#{@plan['data']['master_plan_id']}", class: 'btn btn-light noprint' do %> <i class="fa-solid fa-angle-left"></i></i> <%= t(:back) %> </i> <% end %>

                <%= render '/share/block_btn_export', item: @plan, title: 'plan' %>

            </div> 
        </div>
    </div>

    <h1 class="text-center mt-15">แบบประเมินตนเองตามเกณฑ์คุณภาพการบริหารจัดการภาครัฐ</h1>


        <% case @plan['data']['type_name'] %>
        <% when 'seven' %>
                <%= render "/#{@controller_main_url}/plans/form_seven", plan: @plan['data'] %>
        <% else %>
                <%= render "/#{@controller_main_url}/plans/form_normal", plan: @plan['data'] %>
        <% end %>

      <hr style="border-bottom: 3px solid #999999;margin-top: 2rem;margin-bottom: 2rem;">




</div>



