<%
#init
if !params['original_url'].blank?
    back_url = params['original_url'] 
else
    back_url = "/#{@controller_main_url}/pages/dashboards"
end
%>

<div class="container-fluid">
    <div class="d-flex justify-content-end">
        <%= link_to "#{back_url}", class: 'btn btn-light text-end noprint' do %>
            <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
        <% end %>
        
        <%= render '/share/block_btn_export', item: @plan, title: 'plan' %>
    </div>

    <%= render 'tasks', plan: @plan %>

</div>