<%

url = URI("#{$server[@controller_title]}/api/v1/mains/#{params['id']}/last_action?model_name=plan")
@last_action = request_api(url,'get',nil)

params[:print] = 'true' if @last_action && @last_action['data'] && @last_action['data']['status'] == 'approved'

url = URI("#{$server[@controller_title]}/api/v1/fl_plans/#{@plan['data']['id']}/check_fl_plan_approve_status")
@check_fl_plan_approve_status = request_api(url, "get", nil)
%>



<style>
    @media print {
       .noprint {
          visibility: hidden;
          display: none;
       }
    }
</style>

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="float-end"> 


                <%= link_to "/#{gen_form[0]}/master_plans/#{@plan['data']['master_plan_id']}", class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i></i> <%= t(:back) %> </i> <% end %>

                <%= link_to "#", class: 'noprint align-self-center btn btn-lg btn-light mx-1', onclick: 'window.print();' do %> 
                    <i class="fa-solid fa-print"></i> <%= t(:print) %>
                <% end %>

            </div> 
        </div>
    </div>

    <h1 class="text-center mt-15">แบบประเมินตนเองตามเกณฑ์คุณภาพการบริหารจัดการภาครัฐ</h1>

<%# if @check_fl_plan_approve_status == true %>
        <% case @plan['data']['type_name'] %>
        <% when 'seven' %>
                <%= render "/#{@controller_main_url}/plans/form_seven", plan: @plan['data'] %>
        <% else %>
                <%= render "/#{@controller_main_url}/plans/form_normal", plan: @plan['data'] %>
        <% end %>
<%# end %>
      <hr style="border-bottom: 3px solid #999999;margin-top: 2rem;margin-bottom: 2rem;">
<%
      url = URI("#{$server[@controller_title]}/api/v1/fl_plans/#{params[:id]}/check_fl_plan_approve_status")
      @check_fl_plan_approve_status = request_api(url,'get',nil)
%>

<%# if @check_fl_plan_approve_status['data'] == true %>
        <%= render partial: '/share/block_comments', locals:{ model_name: 'plan', id: @plan['data']['id'], title_button: 'ข้อมูลประเมินตัวเอง'} %>
        <%= render partial: '/share/block_comments_history', locals:{ model_name: 'plan', id: @plan['data']['id']} %>
<%# end %>

</div>



