<%
#init
params[:original_url] = request.path if params[:original_url].blank?


if params[:original_url]
    back_url = params[:original_url]
end


if @datas && !@datas['data'].blank?
    back_url = "/#{@controller_main_url}/plans/#{@datas['data']['list_activity']['list']['category']['plan']['id']}"
end

%>

<%= form_for('list_activity_item', url: "/#{gen_form[0]}/list_activity_items#{gen_form[1]}" , method: gen_form[2]) do |f| %>

<%#= @datas['data']['list']['category']['plan_id'] %>

<!--begin::Row-->
<div class="row">

    <!--begin::Col_md_12-->
    <div class="col-md-12">
        <!--begin::Card Card Custom-->
        <div class="card card-custom gutter-b example example-compact">
                <!--begin::Card Header-->
                <div class="card-header">
                      <div class="card-title d-flex py-10">
                            <h5 class="min-w-200px mb-4">ชื่อกิจกรรม/ขั้นตอน</h5>
                            <div class="d-flex">
                                <input type="number" class="w-80px form-control mx-2" placeholder="ลำดับ" name="list_activity_item[order_sort]" value="<%= @datas['data']['order_sort'] rescue nil %>">

                                <textarea class="form-control" name="list_activity_item[title]" rows="10" cols="50"><%= @datas['data']['title'] rescue nil %></textarea>
                            </div>
                        </div>



                          <!--begin::Card Toolbar-->
                          <div class="card-toolbar">
                                <!--begin::Excample Tools-->
                                <div class="example-tools justify-content-center">
                                      <span class="example-toggle" data-toggle="tooltip" title="" data-original-title="View code"></span>
                                      <span class="example-copy" data-toggle="tooltip" title="" data-original-title="Copy code"></span>
                                </div>
                                <!--end::Excample Tools-->
                                <%= link_to back_url, class: 'btn btn-light bg-white mb-2' do %>
                                    <i class="ki ki-bold-arrow-back icon-sm"></i> <%= t(:back) %>
                                <% end %>
                          </div>
                          <!--end::Card Toolbar-->
                </div>
                <!--end::Card Header-->
                            







<% if action_name == 'edit' || action_name == 'update' %>




    <!--begin::Card Body-->
    <div class="card-body">
           
   


    
        <!-- start row -->
        <div class="row">





            <div class="col-sm-12 col-md-12 py-4">
                <label class="form-label">
                    <h5>จำนวนครั้ง<span class="text-danger">*</span></h5>
                </label>
                <div class="d-flex">
                    <input type="number" class="form-control w-150px mx-2" placeholder="จำนวน" name="list_activity_item[list_periods_attributes][0][amount]" value="<%= (@datas['data']['list_periods'][0]['amount'] rescue nil) %>" >

                    <input type="text" class="form-control w-100px mx-2" placeholder="หน่วย" name="list_activity_item[list_periods_attributes][0][unit]" value="<%= (@datas['data']['list_periods'][0]['unit']  rescue nil) %>" >
                </div>
            </div>










            <div class="col-sm-12 col-md-12 py-6">
            <!-- ======================================== begin:: List_Peorid ===================================================-->

            <!--begin::table-responsive py-5 -->
            <div class="table-responsive py-5">
                <table id="list_period_items" class="table table-bordered">
                    <thead>
                        <tr>
                            <th><%= t(:list_monthly_periods) %></th>
                            <th></th>
                            <th class="w-50px"></th>
                        </tr>
                    </thead>
                    <tbody>
                <%
                    list_period_sub_item_size = 0
                    if @datas && @datas['data'] && (@datas['data']['list_monthly_periods'] rescue nil)
                        list_period_sub_item_size = @datas['data']['list_monthly_periods'].size.to_i
                %>
                    <% @datas['data']['list_monthly_periods'].each_with_index do |period_sub_item,idx|  %>
                        <tr id="list_period_items<%= idx %>">

                            <td><input type="date" class="form-control" placeholder="เริ่ม" name="list_activity_item[list_monthly_periods_attributes][<%= idx %>][startdate]" value= "<%= period_sub_item['startdate']&.in_time_zone&.to_date %>" ></td>

                            <td><input type="date" class="form-control" placeholder="จบ" name="list_activity_item[list_monthly_periods_attributes][<%= idx %>][enddate]" value= "<%= period_sub_item['enddate']&.in_time_zone&.to_date %>" ></td>



                            <td class="mt-10"><a class="btn p-3 btn-danger" onclick="$('#list_period_items<%= idx %>').hide();$('#list_period_items<%= idx %> .check_destroy').val(true);"><i class="fa fa-trash"></i></a></td>

                            <input type="hidden" class="form-control" name="list_activity_item[list_monthly_periods_attributes][<%= idx %>][id]" value="<%= period_sub_item['id'] %>">

                            <input type="hidden" class="check_destroy" name="list_activity_item[list_monthly_periods_attributes][<%= idx %>][_destroy]" value=false>

                        </tr>
                    <% end %>
                <% end %>


                    </tbody>
                </table>


                <div class="text-left"><a onclick="addperiodrows('list_period_items');" class="btn p-3 btn-success"><i class="fa fa-plus"></i> <%= t(:add_new) %></a></div>


                    <script type="text/javascript">
                        var list_period_items_row = <%= list_period_sub_item_size %>;
                            function addperiodrows(list_period_id_name) {
                             //   alert('call function period');
                                html = '<tr id="'+ list_period_id_name + list_period_items_row + '">';

                                html += '<td><input type="date" class="form-control" placeholder="เริ่ม" name="list_activity_item[list_monthly_periods_attributes]['+list_period_items_row+'][startdate]" ></td>';

                                html += '<td><input type="date" class="form-control" placeholder="จบ" name="list_activity_item[list_monthly_periods_attributes]['+list_period_items_row+'][enddate]" ></td>';

                                html += '<input type="hidden" class="form-control" name="list_activity_item[list_monthly_periods_attributes]['+list_period_items_row+'][biz_id]" value = "<%= @datas['data']['biz_id'] rescue nil%>" >';

                                html += '<input type="hidden" class="form-control" name="list_activity_item[list_monthly_periods_attributes]['+list_period_items_row+'][user_id]" value = "<%=@datas['data']['user_id'] rescue nil%>" >';

                                html += '<td class="mt-10"><a class="btn p-3 btn-danger" onclick="$(\'#' + list_period_id_name + list_period_items_row + '\').hide();$(\'#' + list_period_id_name + list_period_items_row + '\' .check_destroy).val(true);"><i class="fa fa-trash"></i></a></td>';

                                html += '<input type="hidden" class="check_destroy" name="list_activity_item[list_monthly_periods_attributes]['+list_period_items_row+'][_destroy]" value=false>';

                                html += '</tr>';

                                $('#' + list_period_id_name + ' tbody').append(html);

                                list_period_items_row++;
                            }
                        </script>
                        </div>
                        <!--end::table-responsive py-5 -->

                        <!-- ======================================== end :: List_Peorid ===================================================-->

                    </div>












      </div>
        <!-- end row -->




    </div>
    <!--end::Card Body-->





<% end #action_name %>









                                    <!--begin::Card Foolter-->
                                    <div class="card-footer">
                                        <% if !params[:original_url].blank? %>
                                        <%= hidden_field_tag :original_url, params[:original_url] %>
                                        <% end %>

                                        <% if !params[:list_activity_id].blank? %>
                                        <%= f.hidden_field :list_activity_id, value: params[:list_activity_id] %>
                                        <% end %>

                                        <%= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
                                    </div>
                                    <!--end::Card Foolter-->
                            
                      </div>
                      <!--end::Card Card Custom-->

                </div>
                <!--end::Col_md_12-->

            </div>
            <!--end::Row-->




<% end #end form %>
