<%= form_for(@biz, html: { class: "form-horizontal", role: "form" }) do |f| %>
<% if @biz.errors.any? %>
<div class="alert alert-danger alert-dismissable" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4><%= pluralize(@biz.errors.count, "error") %> prohibited this biz from being saved:</h4>

  <ul>
    <% @biz.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :subdomain, t(:subdomain), class: "" %>
  <%= f.text_field :subdomain, class: "form-control" , required: "required" %>
</div>
<div class="form-group">
  <%= f.label t(:company_name_th), class: "" %>
  <%= f.text_field :title_th, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label t(:address_th), class: "" %>
  <%= f.text_area :address_th, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label t(:phone), class: "" %>
  <%= f.text_field :phone, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label t(:fax), class: "" %>
  <%= f.text_field :fax, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label t(:email), class: "" %>
  <%= f.text_field :email, class: "form-control" %>
</div>


<div class="form-group" style="overflow: hidden;">
  <%= f.label t(:logo), class: "" %>
  <%= f.hidden_field :image, value: @biz.cached_image_data, id: "post-image-photo-upload-result" %>
  <%= f.file_field :image, accept: ImageUploader::ALLOWED_TYPES.join(","), data: { upload_server: upload_server, preview_element: "preview-image-photo", upload_result_element: "post-image-photo-upload-result" } %>

  <div class="image-preview">
    <%= image_tag @biz.image_url(:thumbnail).to_s, width: 300, class: "img-thumbnail file-upload-preview", id: "preview-image-photo" %>
  </div>
</div>




<div class="">
  <%= f.submit t(:saves), class: "btn btn-primary mr-2" %>
  <%= button_tag t(:reset), type: 'reset', class: "btn btn-default" %>
</div>
<% end %>
