<%= form_for(@biz, html: { class: "pl-20 pr-20 form-horizontal", role: "form" }) do |f| %>
<% if @biz.errors.any? %>
<div class="alert alert-danger alert-dismissable" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4><%= pluralize(@biz.errors.count, "error") %> prohibited this biz from being saved:</h4>

  <ul>
    <% @biz.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<% if current_user.superadmin_role? %>
<div class="form-group">
  <%= f.label t(:package), class: "col-sm-3" %>
  <div class="col-sm-9">
    <%= f.select :package_id,
    @packages.all.map { |u| [u.title_th, u.id] },
    { include_blank: true,selected: @biz.package_id },
    { class: 'chosen-select  input-md form-control', required: "required"  }
    %>
  </div>
</div>

<div class="form-group">
  <%= f.label t(:qty_package), class: "col-sm-3" %>
  <div class="col-sm-9">
    <%= f.text_field :qty_package, class: "form-control input-md" %>
  </div>
</div>
<div class="form-group">
 <%= f.label t(:start_date), class: "col-sm-3" %>
 <div class="col-sm-9">
  <div id="date-blank1" class="input-group date-blank">
    <%= f.text_field :start_date, class: "form-control", value: (
      if @biz.start_date
        @biz.start_date.strftime('%d/%m/%Y') 
      else 
        Time.now.strftime('%d/%m/%Y') 
      end
      )  %>
      <span class="input-group-addon">
        <span class="fa fa-calendar"></span>
      </span>
    </div>
  </div>
</div>
<% else %>

<% if controller_name == 'bizs' && action_name == 'new' %>
<div class="form-group">
  <%= f.label t(:voucher_code), class: "col-sm-3" %>
  <div class="col-sm-9">
    <%= text_field :register, :voucher_code, class: "form-control input-md" %>
  </div>
</div>
<% else %>
<div class="form-group">
  <%= f.label t(:package), class: "col-sm-3" %>
  <div class="col-sm-9">
    <%= @package.title_th %> คงเหลือ <%= (@biz.qty_package.to_i - ((Time.now - @biz.start_date)/ (60 * 60 * 24))).to_i %> วัน ที่จะหมดอายุการใช้งาน
  </div>
</div>
<% end %>


<% end %>
<div class="form-group">
  <%= f.label t(:company_name_th), class: "col-sm-3" %>
  <div class="col-sm-9">
    <%= f.text_field :title_th, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label t(:company_name_en), class: "col-sm-3" %>
  <div class="col-sm-9">
    <%= f.text_field :title_en, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label t(:address_th), class: "col-sm-3" %>
  <div class="col-sm-9">
    <%= f.text_area :address_th, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label t(:address_en), class: "col-sm-3" %>
  <div class="col-sm-9">
    <%= f.text_area :address_en, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label t(:phone), class: "col-sm-3" %>
  <div class="col-sm-9">
    <%= f.text_field :phone, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label t(:fax), class: "col-sm-3" %>
  <div class="col-sm-9">
    <%= f.text_field :fax, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label t(:email), class: "col-sm-3" %>
  <div class="col-sm-9">
    <%= f.text_field :email, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label t(:taxid), class: "col-sm-3" %>
  <div class="col-sm-9">
    <%= f.text_field :taxid, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label t(:branch), class: "col-sm-3" %>
  <div class="col-sm-9">
    <%= f.text_field :branch, class: "form-control" %>
  </div>
</div>
<div class="form-group" style="overflow: hidden;">
  <%= f.label t(:logo), class: "col-sm-3" %>
  <div class="col-sm-9" style="overflow:hidden;"> 
    <%= f.hidden_field :image, value: @biz.cached_image_data, id: "post-image-photo-upload-result" %>
    <%= f.file_field :image, accept: ImageUploader::ALLOWED_TYPES.join(","), data: { upload_server: upload_server, preview_element: "preview-image-photo", upload_result_element: "post-image-photo-upload-result" } %>

    <div class="image-preview">
      <%= image_tag @biz.image_url(:thumbnail).to_s, width: 300, class: "img-thumbnail file-upload-preview", id: "preview-image-photo" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :idline, t(:idline), class: "col-sm-3" %>
  <div class="col-sm-4">
    <%= f.text_field :li, class: "form-control", placeholder: "Name..." %>
  </div>
  <div class="col-sm-5">
    <%= f.text_field :li_url, class: "form-control", placeholder: "http://..." %>
  </div>
</div>

<div class="form-group">
  <%= f.label :facbook, t(:facbook), class: "col-sm-3" %>
  <div class="col-sm-4">
    <%= f.text_field :fb, class: "form-control", placeholder: "Name..." %>
  </div>
  <div class="col-sm-5">
    <%= f.text_field :fb_url, class: "form-control", placeholder: "http://..." %>
  </div>
</div>

<div class="form-group">
  <%= f.label :twitter, t(:twitter), class: "col-sm-3" %>
  <div class="col-sm-4">
    <%= f.text_field :tw, class: "form-control", placeholder: "Name..." %>
  </div>
  <div class="col-sm-5">
    <%= f.text_field :tw_url, class: "form-control", placeholder: "http://..." %>
  </div>
</div>

<div class="form-group">
  <%= f.label :youtube, t(:youtube), class: "col-sm-3" %>
  <div class="col-sm-4">
    <%= f.text_field :yt, class: "form-control", placeholder: "Name..." %>
  </div>
  <div class="col-sm-5">
    <%= f.text_field :yt_url, class: "form-control", placeholder: "http://..." %>
  </div>
</div>

<div class="form-group">
  <%= f.label :instagram, t(:instagram), class: "col-sm-3" %>
  <div class="col-sm-4">
    <%= f.text_field :ig, class: "form-control", placeholder: "Name..." %>
  </div>
  <div class="col-sm-5">
    <%= f.text_field :ig_url, class: "form-control", placeholder: "http://..." %>
  </div>
</div>


<hr>

<div class="row mt-30">
  <div class="form-group">
    <div class="col-sm-12 text-center">
      <%= f.submit class: "btn btn-xl btn-primary" %>
    </div>
  </div>
</div>



<% end %>
