<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
       <h3 class="card-label">
          <%= t :edit %> <%= t :bizs %>
       </h3>
      </div>
  </div>
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>
