<div class="card card-custom gutter-b">
  <div class="card-header flex-wrap border-0 pt-6 pb-0">
    <div class="card-title">
      <h3 class="card-label">
        <%= t(:users) %>
        <span class="d-block text-muted pt-2 font-size-sm"></span>
      </h3>
    </div>
    <div class="card-toolbar">
      <a href="<%= new_biz_path %>" class="btn btn-primary font-weight-bolder">
        <span class="svg-icon svg-icon-md">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <rect fill="#000000" x="4" y="11" width="16" height="2" rx="1"/>
              <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) " x="4" y="11" width="16" height="2" rx="1"/>
            </g>
          </svg>
        </span> <%= t(:new) %>
      </a>
    </div>
  </div>



<div class="card-body">
 <!-- START DATATABLE 1 -->
 <div class="row">

  <div class="col-lg-12">

   <div class="panel">
    <div class="panel-body">
     <table id="datatable1" class="datatable table table-bordered">
      <thead>
        <tr>
          <th><%= t :start_date %></th>
          <th><%= t :status %></th>
          <th><%= t :title_th %></th>
          <th><%= t :phone %></th>
          <th><%= t :email %></th>
          <th><%= t :user %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @bizs.each do |biz| %>
        <tr>
          <td><%= biz.start_date %></td>
          <td><%= biz.status %></td>
          <td><%= biz.title_th %></td>
          <td><a href="tel://<%= biz.phone %>" target="_blank"><%= biz.phone %></a></td>
          <td><a href="mailto://<%= biz.email %>" target="_blank"><%= biz.email %></a></td>
          <td>
            <span class="label label-dark"><%= biz.users.size %></span>
          </td>
          <td width="140"><%= link_to biz , class: "btn btn-sm btn-default" do %>
            <em class="fa fa-search"></em>
            <% end %>
            <%= link_to edit_biz_path(biz) , class: "btn btn-sm btn-info" do %>
            <em class="typcn icon-default typcn-edit"></em>
            <% end %>
            <%= link_to biz, method: :delete, data: { confirm: 'ต้องการลบใช่หรือไม่?' } , class: "btn btn-sm btn-danger w3-grey" do %>
            <em class="typcn icon-default typcn-trash"></em>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

</div>

</div>
</div>







</div>

