<div class="d-flex flex-column-fluid flex-center">
	<div class="login-form login-signin">
		<div class="pb-13 pt-lg-0 pt-5">
			<h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg"><%= t :create %> <%= t :account %></h3>
		</div>


		<% if current_user.superadmin_role? %>
		<div class="pull-right">
			<%= link_to bizs_path, class: 'btn btn-default' do %>
			<span class="typcn icon-default typcn-arrow-left-outline"></span>
			<%= t :back %>
			<% end %>
		</div>
		<% end %>

		<%= render 'form' %>


	</div>
</div>