<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
     <h3 class="card-label">
      <%= t :show %> <%= t :biz %>
    </h3>
  </div>
  <div class="card-toolbar">
    <%= link_to edit_biz_path(@biz), class: 'btn btn-secondary mb-2 ml-2' do %>
    <i class="flaticon2-pen icon-sm"></i> <%= t(:edit) %>
    <% end %>
  </div>
</div>
<div class="card-body">

<dl class="dl-horizontal">
  <dt><%= t :package %>:</dt>
  <dd><%= @biz.package.title_th %> <%= @package.title_th %> คงเหลือ <%= (@biz.qty_package.to_i - ((Time.now - @biz.start_date)/ (60 * 60 * 24))).to_i %> วัน ที่จะหมดอายุการใช้งาน
  </dd>

  <hr class="m-sm">
  <dt><%= t :start_date %>:</dt>
  <dd><%= @biz.start_date %></dd>

  <hr class="m-sm">
  <dt><%= t :title_th %>:</dt>
  <dd><%= @biz.title_th %></dd>

  <hr class="m-sm">
  <dt><%= t :title_en %>:</dt>
  <dd><%= @biz.title_en %></dd>

  <hr class="m-sm">
  <dt><%= t :address_th %>:</dt>
  <dd><%= @biz.address_th %></dd>

  <hr class="m-sm">
  <dt><%= t :address_en %>:</dt>
  <dd><%= @biz.address_en %></dd>

  <hr class="m-sm">
  <dt><%= t :phone %>:</dt>
  <dd><%= @biz.phone %></dd>

  <hr class="m-sm">
  <dt><%= t :fax %>:</dt>
  <dd><%= @biz.fax %></dd>

  <hr class="m-sm">
  <dt><%= t :email %>:</dt>
  <dd><%= @biz.email %></dd>

  <hr class="m-sm">
  <dt><%= t :taxid %>:</dt>
  <dd><%= @biz.taxid %></dd>

  <hr class="m-sm">
  <dt><%= t :image_data %>:</dt>
  <dd>
    <%= link_to (image_tag @biz.image_url(:thumbnail).to_s, width: 300, class: "img-thumbnail file-upload-preview", id: "preview-image-photo"),(@biz.image_url(:original).to_s) ,:target => "_blank" %>
  </dd>


</div>
</div>
