<div class="container-fluid">
<!--begin::Header-->

   <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
      <div class="d-flex flex-column">
            <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:report) %><%= t(:enterprise_risk) %></h2> 
      </div>
         
         <!--begin::btn-->
         
         <div class="d-flex mb-4">
            <div class="card-toolbar">
                     <ul class="nav">
                        <!--
                        <li class="nav-item">
                          <a href="/<%= @controller_title %>/master_plans/new_by_template" class="btn btn-success -sm"><i class="fa-solid fa-circle-plus fa-4x"></i> สร้างแผนการจัดการ</button></a>
                        </li> 
                        -->

                        <!--
                        <li class="nav-item">
                           <a href="/<%= @controller_title %>/plan_reports/new" class="btn btn-warning -sm"><i class="fa-solid fa-circle-plus fa-4x"></i>สร้างรายงานการติดตามผลการบริหารความเสี่ยง</button></a>
                        </li>
                     -->

                        
                     </ul>
            </div>
         </div>
      
         <!--end::btn-->
   </div>
   <!--end:Header-->

   <!--begin:Content-->
   <%= render '/share/graph_bar_risk_2' %>



   </div> 
</div>