<div class="container-fluid">

    <div class="d-flex justify-content-between"> 
        <div class="w-75 d-flex">
            <h1>การจัดการข้อมูลพื้นฐาน</h1>
        </div>
    </div>





    <div class="row card-show d-flex">

      <%= link_to "/#{@controller_title}/institutions", class: 'col-sm-6 col-md-3 col-lg-2 btn-lg btn btn-light-primary m-3' do %>
         <div class="d-flex align-items-center">
            <i class="fas fa-database text-success p-2 fs-2"></i>
            <h3 class=""><%= t(:agency) %></h3>
         </div>
      <% end %>

      <%= link_to "/#{@controller_title}/strategic_issues", class: 'col-sm-6 col-md-3 col-lg-2 btn-lg btn btn-light-primary m-3' do %>
         <div class="d-flex align-items-center">
            <i class="fas fa-database text-success p-2 fs-2"></i>
            <h3 class=""><%= t(:issue) %></h3>
         </div>
      <% end %>

      <%= link_to "/#{@controller_title}/risk_types", class: 'col-sm-6 col-md-3 col-lg-2 btn-lg btn btn-light-primary m-3' do %>
         <div class="d-flex align-items-center">
            <i class="fas fa-database text-success p-2 fs-2"></i>
            <h3 class=""><%= t(:list_risk_type) %></h3>
         </div>
      <% end %>



 </div>






</div>