<%
#กำหนดการ follow_up_risk['risk_management']['success_date']
#สถานะ follow_up_risk[risk_progress] เป็นตัวเลข 
%>

<div class="container-fluid">
   <div class="d-flex justify-content-between">
      <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:notifications) %></h2> 
      <div class="mx-2 d-flex justify-content-between d-flex align-items-center min-w-300px">
         <h3 class="fs-3 min-w-150px">ตามปีงบประมาณ</h3>
         <%= select_tag("select[master_report_id]", options_for_select(@master_plans['data'].map { |item| [(item['period_year']&.to_date&.year + 543 rescue nil), item['id']] }, (params[:master_plan_id] rescue nil)), {id: 'select_master_plan_id',class: 'selectize-activity form-control'}) if @master_plans && !@master_plans['data'].blank? %>
      </div>
</div>



   <div class="row">


      <div class="d-flex justify-content-between mt-10 mb-3">
         <h3 class="">กิจกรรม/ขั้นตอน ที่ยังคงค้าง</h3>
         <div class="min-w-200px text-end">
            จำนวน <span class="badge badge-warning"><%= @notifications['data_before']['count'] rescue 0 %></span>
         </div>
      </div>
      <div class="table-responsive py-5 mb-10">
         <table id="data_kpis" class="table table-bordered">
            <thead>
               <tr>
                  <th class="w-120px">วันที่เริ่ม</th>
                  <th class="w-120px">วันที่เสร็จ</th>
                  <th>ขั้นตอน</th>
                  <th class="w-250px">กิจกรรม</th>
                  <th class="w-200px">หมวด</th>
                  <th class="w-100px">สถานะ</th>
               </tr>
            </thead>
            <tbody>
               <% if @notifications && @notifications['data_before'] && @notifications['data_before']['data'] %>
               <% @notifications['data_before']['data'].each do |list_monthly_period| %>
                   <tr>
                      <td class=""><%= convert_thai_date(list_monthly_period['startdate'], 'default') rescue nil %></td>
                      <td class=""><%= convert_thai_date(list_monthly_period['enddate'], 'default') rescue nil %></td>
                      <td class=""><%= list_monthly_period['list_activity_item']['title'] rescue nil %></td>
                      <td class=""><%= list_monthly_period['list_activity_item']['list_activity']['title'] rescue nil %></td>
                      <td class=""><%= list_monthly_period['list_activity_item']['list_activity']['list']['title'] rescue nil %></td>
                      <td class="">
                        <%= get_status_tasks(list_monthly_period['list_activity_item']['list_activity']['status']) rescue nil %>   
                     </td>
                   </tr>
               <% end %>
               <% end %>

            </tbody>
            <tfoot>
               <tr>
                   <th> </th>
                   <th> </th>
                   <th> </th>
                   <th> </th>
                   <th> </th>
                   <th> </th>
               </tr>
           </tfoot>
         </table>
      </div>
   </div>





   <div class="d-flex justify-content-between mt-10 mb-3">
      <h3 class="">กิจกรรม/ขั้นตอน ในเดือน<%= convert_thai_date(Time.now, 'default')[2..30] %></h3>
      <div class="min-w-200px text-end">
         จำนวน <span class="badge badge-warning"><%= @notifications['data_current']['count'] rescue 0 %></span>
      </div>
   </div>
   <div class="table-responsive py-5 mb-10">
      <table id="data_kpis" class="table table-bordered">
         <thead>
            <tr>
               <th class="w-120px">วันที่เริ่ม</th>
               <th class="w-120px">วันที่เสร็จ</th>
               <th>ขั้นตอน</th>
               <th class="w-250px">กิจกรรม</th>
               <th class="w-200px">หมวด</th>
               <th class="w-100px">สถานะ</th>
            </tr>
         </thead>
         <tbody>
            <% if @notifications && @notifications['data_current'] && @notifications['data_current']['data'] %>
            <% @notifications['data_current']['data'].each do |list_monthly_period| %>
                <tr>
                   <td class=""><%= convert_thai_date(list_monthly_period['startdate'], 'default') rescue nil %></td>
                   <td class=""><%= convert_thai_date(list_monthly_period['enddate'], 'default') rescue nil %></td>
                   <td class=""><%= list_monthly_period['list_activity_item']['title'] rescue nil %></td>
                   <td class=""><%= list_monthly_period['list_activity_item']['list_activity']['title'] rescue nil %></td>
                   <td class=""><%= list_monthly_period['list_activity_item']['list_activity']['list']['title'] rescue nil %></td>
                   <td class="">
                      <%= get_status_tasks(list_monthly_period['list_activity_item']['list_activity']['status']) rescue nil %>
                   </td>
                </tr>
            <% end %>
            <% end %>

         </tbody>
         <tfoot>
            <tr>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
        </tfoot>
      </table>
   </div>








   <div class="d-flex justify-content-between mt-10 mb-3">
      <h3 class="">กิจกรรม/ขั้นตอน ที่กำลังจะถึง</h3>
      <div class="min-w-200px text-end">
         จำนวน <span class="badge badge-warning"><%= @notifications['data_after']['count'] rescue 0 %></span>
      </div>
   </div>
   <div class="table-responsive py-5 mb-10">
      <table id="data_kpis" class="table table-bordered">
         <thead>
            <tr>
               <th class="w-120px">วันที่เริ่ม</th>
               <th class="w-120px">วันที่เสร็จ</th>
               <th>ขั้นตอน</th>
               <th class="w-250px">กิจกรรม</th>
               <th class="w-200px">หมวด</th>
               <th class="w-100px">สถานะ</th>
            </tr>
         </thead>
         <tbody>
            <% if @notifications && @notifications['data_after'] && @notifications['data_after']['data'] %>
            <% @notifications['data_after']['data'].each do |list_monthly_period| %>
                <tr>
                   <td class=""><%= convert_thai_date(list_monthly_period['startdate'], 'default') rescue nil %></td>
                   <td class=""><%= convert_thai_date(list_monthly_period['enddate'], 'default') rescue nil %></td>
                   <td class=""><%= list_monthly_period['list_activity_item']['title'] rescue nil %></td>
                   <td class=""><%= list_monthly_period['list_activity_item']['list_activity']['title'] rescue nil %></td>
                   <td class=""><%= list_monthly_period['list_activity_item']['list_activity']['list']['title'] rescue nil %></td>
                   <td class="">
                      <%= get_status_tasks(list_monthly_period['list_activity_item']['list_activity']['status']) rescue nil %>
                   </td>
                </tr>
            <% end %>
            <% end %>

         </tbody>
         <tfoot>
            <tr>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
        </tfoot>
      </table>
   </div>




</div>







</div>





<% content_for :footer do %>
<script type="text/javascript">
 $('#select_master_plan_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=' + value;
 });

 $('#select_plan_id').change(function() {      
   var value = $(this).val();       
      window.location = '?master_plan_id=<%= params[:master_plan_id] %>&plan_id=' + value;
 });
</script>


<% end %>

