<%
#init
%>

<%= form_for('plan', url: "/#{gen_form[0]}/plans#{gen_form[1]}" , method: gen_form[2]) do |f| %>
<!--begin::Card_body-->
<div class="row">   

      <%= f.hidden_field :master_plan_id, value: params[:master_plan_id] if !params[:master_plan_id].blank?  %>

      <div class="col-12 mt-5 ms-5 mb-5">
            <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
                  <%= f.submit t(:saves), class: "btn btn-info" %></div>
            </div> 

      </div>
<% end %>  