<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>


<% if controller_name == 'plan_reports' %>
        <div class="pt-5 text-center">
                <h1 class="fs-1">แบบรายงานผลการดำเนินงานการจัดการความรู้<%= plan['title'] %></h1> 
                <h2 class="fs-3"><span class="text-primary"><%#= plan_report['data']['master_plan']['title'] %>[ชื่อหน่วยงาน]</span></h2>

                <%= hidden_field_tag :original_url, params[:original_url]  %>
                <div class="my-4">วันที่ : <span class="badge badge-info fs-6"><%= @plan_report['data']['startdate']&.in_time_zone&.to_date rescue nil %></span> ถึง <span class="badge badge-info fs-6"><%= @plan_report['data']['enddate']&.in_time_zone&.to_date rescue nil %></span>
                </div>
        </div>
<% end %>

        <% plan['categories'].each do |category| %>
                <h3>ชื่อแบบฟอร์ม : <%= category['title'] %></h3>

                <% if controller_name != 'plan_reports' %>
                <div class="ms-5">
                        <div class="d-flex py-2"><b><%= t(:institution)%> : </b> <%= category['institution']['title'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:responsible)%> : </b> <%= category['responsible']['title'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:issue)%> : </b> <%= category['issue']['title'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:cognitive)%> : </b> <%= category['cognitive'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:kpi)%> : </b> <%= category['kpi']['title'] rescue nil %></div>
                        <div class="d-flex py-2"><b><%= t(:target_kpi)%> : </b> <%= category['target_kpi']['title'] rescue nil %></div>
                </div>
                <% end %>

                <div class="table-responsive py-5">


                        <table class="table table-bordered">
                                <thead>
                                    <tr class="fw-bolder text-muted">
                                        <th class="text-center">ลำดับ</th>
                                        <th class="min-w-200px">กิจกรรมการจัดการความรู้</th>
                                        <th class="min-w-120px">สถานะ</th>
                                        <th class="min-w-100px">ตัวชี้วัด/เป้าหมาย</th>
                                        <th class="min-w-100px">ผลการดำเนินงาน</th>
                                        <th><b>หมายเหตุ/หลักฐาน</b></th>
                                        <th class="w-80px noprint"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idx| %>
                                        <tr style="border-top: 3px solid #cccccc;">
                                            <td class="text-center">
                                                <%= idx +1 %>      
                                            </td>

                                            <td>
                                                <b><%= list['activity']['title'] rescue nil %></b>
                                            </td>

                                            <td>
                                            </td>
                                            
                                            <td>
                                              <ul>
                                                <% if !list.blank? %>
                                                    <% list['list_target_kpis'].each do |list_target_kpi| %>
                                                      <li><%= list_target_kpi['title'] %></li> 
                                                    <% end %>
                                                <% end %>
                                              </ul>
                                            </td>

                                            <td></td>
                                            <td></td>    
                                            <td class="noprint"></td>    
                                        </tr>



                                        <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %> 
                                        <tr>
                                            <td></td>
                                            <td>
                                                <%= list_activity['title'] %>
                                            </td>
                                            <td>

                                                <%= get_status_tasks(list_activity['status']) %>

                                                <%= link_to "<button type='button' class='btn btn-sm btn-primary has-tooltip ml-6 noprint' data-placement='left' title='Menu'> <i class='fa fa-plus'></i> #{t(:please_state)}</button>".html_safe, "/#{@controller_main_url}/plans/#{plan['id']}/status?list_id=#{list['id']}&list_activity_id=#{list_activity['id']}&status=#{list_activity['status']}&plan_report_id=#{params['plan_report_id']}&original_url=#{request.path}",  {remote: :true, 'data-toggle': 'modal', 'data-target': '#modal-window'} %>

                                                
                                  

                                            </td>
                                            <td colspan="3">
                                                <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'c' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: nil, params: "plan_report_id=#{params[:plan_report_id]}&list_activity_id=#{list_activity['id']}&list_id=#{list['id']}&original_url=#{request.path}"} if params[:print] != 'true' %>   
                                            </td>
                                            <td class="noprint"></td>
                                        </tr>

                                        
                                        <% if !list_activity['tasks'].blank? %>
                                        <% list_activity['tasks'].sort_by{|i| i['order_sort'].to_i}.each do |task| %>
                                        <tr>
                                            <td colspan="4"></td>
                                            <td>
                                                <ol>
                                                    <% task['task_results'].each_with_index do |task_result| %>
                                                        <li><%= task_result['title'] %></li>
                                                    <% end %>
                                                </ol>
                                            </td>

                                            <td>
                                                    <!--<h6>หมายเหตุ</h6>-->
                                                    <ol>
                                                        <% task['task_notes'].each_with_index do |task_result| %>
                                                            <li><%= task_result['title'] %></li>
                                                        <% end %>
                                                    </ol>

                                                    <div class="separator separator-dashed separator-border-2 my-2"></div>

                                                    <!--<h6>หลักฐาน</h6>-->
                                                    <% task['task_attachments'].each_with_index do |task_attachment| %>
                                                    <div class="p-2">
                                                        <% if !task_attachment['file_data'].blank? %>
                                                        <a href="<%= $server[@controller_title] %><%= task_attachment['file_url_original'] %>" target="_blank">
                                                            <img src="<%= $server[@controller_title] %><%= task_attachment['file_url_thumbnail'] %>" class="img-thumbnail" style="width: 200px;" />
                                                        </a>
                                                        <% end %>
                                                        <%= task_attachment['description'] %>
                                                    </div>
                                                    <% end %>
                                            </td>
                                            <td class="noprint">
                                                <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: task['id'], params: "original_url=#{request.path}"} if params[:print] != 'true' %> 
                                            </td>
                                            
                                        </tr>
                                        <% end #end loop list_activity['tasks'] %>
                                        <% end #end if list_activity['tasks'] %>



                                        <% end #end loop list['list_activities'] %>



                                        <% end #end loop category['lists'] %>
                                </tbody>
                        </table>
                </div>

        <hr style="border-bottom: 1px dotted #999999;">
        <p style="page-break-after: always;">&nbsp;</p>
        <% end # end categories %>




