<style>
    @media print {
       .noprint {
          visibility: hidden;
          display: none;
       }
    }
</style>

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="float-end"> 

                <%= link_to "/#{gen_form[0]}/master_plans/#{@plan['data']['master_plan_id']}", class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i></i> <%= t(:back) %> </i> <% end %>

                <%= link_to "#", class: 'noprint align-self-center btn btn-lg btn-light mx-1', onclick: 'window.print();' do %> 
                <i class="fa-solid fa-print"></i> <%= t(:print) %>

            <% end %>
            </div> 
        </div>
        <h1 class="text-center">
            แผนการจัดการความรู้ <%= @plan['data']['master_plan']['title'] rescue nil %>
        </h1> 

    </div>





    
      <%= render "/#{@controller_main_url}/plans/print", plan: @plan['data'] %>

      <hr style="border-bottom: 3px solid #999999;margin-top: 2rem;margin-bottom: 2rem;">




</div>



