<%
#init
back_url = "/#{gen_form[0]}/master_plans/#{params['master_plan_id']}" if !params['master_plan_id'].blank?
back_url = "/#{gen_form[0]}/master_plans/#{@plan['data']['master_plan_id']}" if @plan && @plan['data'] && !@plan['data']['master_plan_id'].blank?
back_url = params[:original_url] if params[:original_url]

#ถ้าผ่านการตรวจสอบจาก กพร ให้แสดง บล๊อก approve & comment

url = URI("#{$server[@controller_title]}/api/v1/plans/#{@plan['data']['id']}/check_plan_approve_status")
@check_plan_approve_status = request_api(url, "get", nil)


%>


<div class="container-fluid">
  <div class="d-flex justify-content-between">
    <h1 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i>แผนการควบคุมภายใน</h1> 

    <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
    <% end %>
  </div>


  <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'add-only' ,master_plan_id: (@plan['data']['master_plan_id']  rescue nil), model_name: 'categories', model_title: 'กระบวนงาน', id: nil, params: "plan_id=#{@plan['data']['id'] rescue nil}"} %>    


  <% if @plan && !@plan['data'].blank? %>
  
  <% @plan['data']['categories'].sort_by{|i| i['order_sort'].to_i}.each do |category| %>
  
  <%
  #init for loop category
  @plan_report = nil
  @risk_analysis_report = nil
  @task_plan_report = nil
  @evaluate_control_report = nil
  $evaluate_control_report_status = 'notapprove'
  $check_planreport_datas = nil
  $plan_user_assign_status = '1' # กำหนดผู้ใช้งาน หรือ กำหนดครบสถานะ เป็น 1
  url = URI("#{$server[@controller_title]}/api/v1/plans/#{@plan['data']['id']}/plan_users")
  @plan_users = request_api(url,'get',nil)



  %>

<% @plan_users['data'].each do |plan_user| %>
    
<!--ตรวจสอบการกำหนดผู้ใช้งานหน้าแผน ต้องกำหนดให้ครบ ถ้าไม่ครบระบบจะยอมให้สร้าง RM 2 -->
<% if plan_user['user_id'].nil? %> 
     <%  $plan_user_assign_status = '0' %> 
<% end %>

<% end %>




  <% category['plan_reports'].each do |plan_report| %>
    <% if plan_report['id'].present? %>
    <% $check_planreport_datas = '1' %>
    <% end %>
    <% plan_report['risk_analysis_reports'].each do |risk_analysis_report| %>
       <% risk_analysis_report['task_plan_reports'].each do |task_plan_report| %>
         <% task_plan_report['evaluate_control_reports'].each do |evaluate_control_report| %>
           <% evaluate_control_report['evaluate_control_report_users'].each do |evaluate_control_report_user| %>
            <% if evaluate_control_report_user['user_role']['slug'] == 'approver'  && evaluate_control_report_user['status'] == 'approved' %>
           
            <% $evaluate_control_report_status = 'approved' %>
            <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
  <% end %>


  <div class="card-show">
  <h1 class="text-center"> แบบฟอร์มการจัดวางระบบการควบคุมภายใน </h1>
    <div class="d-flex justify-content-between">
      <div class="75">
        <h3>กระบวนงาน : <%= category['title'] rescue nil %></h3>

        <table class="table table-bordered my-6">
          <tr>
          <tr>
          <th class="w-250px">หน่วยงาน</th>
          <td class="min-w-250px"><%= category['institution']['title'] rescue nil %></td>
        </tr>
          </tr>
          <tr>
            <th class="w-250px">ประเด็นยุทธศาสตร์</th>
            <td class="min-w-250px"><%= category['strategic_issue']['title'] rescue nil %></td>
          </tr>
          <tr>
            <th>วัตถุประสงค์ของกระบวนงาน</th>
            <td>
              <% if !category['category_objectives'].nil? %>
              <ul style="list-style-type: none">
              <% category['category_objectives'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category_objective, idx| %>
                  <li><%=  category_objective['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %> </li>
              <% end %>
              </ul>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
  

      <% if $check_planreport_datas != '1' || @role_title == 'superadmin_role' %>
     
              <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'udr' ,master_plan_id: (@plan['data']['master_plan_id']  rescue nil), model_name: 'categories', model_title: '', id: category['id'], params: "plan_id=#{@plan['data']['id'] rescue nil}"} %>
     
      <% end %>

    </div>


    <div class="table-responsive py-5">


      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
        <% if $check_planreport_datas != '1' %>
          <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'add-only' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: 'ขั้นตอน', id: nil, params: "category_id=#{category['id']}&original_url=#{request.path}"} %>
         <% end %>
          </div>
      </div>

   

      <table id="items" class="table table-bordered" style="text-left">
        <thead style="width:auto;text-align:center; background-color: #d9dbff;">
          <tr>
            <th>ขั้นตอน</th>
            <th>วัตถุประสงค์ของขั้นตอน</th>
            <th>ความเสี่ยงที่อาจเกิดขึ้น</th>
            <th class="text-center">รหัส</th>
            <th>ปัจจัยเสี่ยง</th>
            <th>กิจกรรมการควบคุม</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idx| %>
          
          <tr style="border-top: 3px solid #cccccc;">

            <td>
            <% if list['list_activities'].present? %>
              <ul style="list-style-type: none">
                <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                <h6><%= list_activity['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></h6>
                <span><%= list_activity['description'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></span> 
                <div><%= get_status_tasks(list_activity['status']) %></div>
                <% end %>  
              </ul>  
              <% end %>   
            </td>
            <td>
            <% if list['list_objectives'].present? %>
              <ul style="list-style-type: none">
                <% list['list_objectives'].sort_by{|i| i['order_sort'].to_i}.each do |list_objective| %>
                <li><%= list_objective['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
                <% end %>  
              </ul>
              <% end %>  
            </td>

            <td>
            <% if list['list_risks'].present? %>
              <ul style="list-style-type: none">
                <% list['list_risks'].sort_by{|i| i['order_sort'].to_i}.each do |list_risk| %>
                <li><%= list_risk['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
                <% end %>  
              </ul>
              <% end %>
            </td>

            <td class="text-center">

          
              <% if list['list_risk_factors'].present? %>
              <ul style="list-style-type: none">
            
                <% list['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each_with_index do |list_risk_factor,idx| %>
                  <li><%= list_risk_factor['activity_no'] rescue nil %></li>
                <% end %>  
              </ul>
            <% end %> 
            </td>

            <td>
              <% if list['list_risk_factors'].present? %>
              <ul style="list-style-type: none"> 
                <% list['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each_with_index do |list_risk_factor,idx| %>
                <li><%= list_risk_factor['title'].to_s.gsub(/\n/, '<br/>').html_safe  rescue nil %></li>
                <% end %>  
              </ul>
              <% end %>
            </td>

            <td>
            <ul style="list-style-type: none">
        <% list['list_risk_factors'].sort_by{|i| i['activity_no'].to_i}.each do |list_risk_factor| %>
          <% if list_risk_factor['id'].present? %>
            <% url = URI("#{$server[@controller_title]}/api/v1/task_lists/get_risk_analysis_by_list_risk_factor/#{list_risk_factor['id']}") %>
              <% @task_list_datas = request_api(url,'get',nil) %>
       
                 
                  <li><%= @task_list_datas['data']['title_activity_control'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></li>
                
         
              <% end %>
        <% end %>
        </ul>
            </td>



            <td>
            <% if $check_planreport_datas != '1' %>
           
                    <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: 'แบบฟอร์ม', id: list['id'], params: "original_url=#{request.path}"} %>
                    

            <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>

      </table>
    </table>



    <h3 class="pt-6 pb-3">แบบฟอร์มการควบคุมภายใน</h3>
    <table class="table table-bordered table-head-custom">
      <thead>
        <tr>
          <th>แบบฟอร์ม RLPD RM-1</th>
          <th>แบบฟอร์ม RLPD RM-1 (1)</th>
          <th>แบบฟอร์ม RLPD RM-2</th>
          <th>แบบฟอร์ม ปค. 5</th>
          <th>แบบฟอร์ม ติดตาม ปค. 5</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <% if !category['plan_reports'].nil? %>
          <td>
            <!-- rm1 -->
            <% if category['plan_reports'].size > 0 %>
              <% category['plan_reports'].each do |plan_report| %>
                <% @plan_report = plan_report %>
                <%= link_to "/#{@controller_main_url}/plan_reports/#{plan_report['id']}/edit", class: 'btn btn-sm btn-block btn-info' do %><%= convert_thai_date(plan_report['created_at'],'default') %><% end %>
                <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>
                <%= link_to "/#{@controller_main_url}/plan_reports/#{plan_report['id']}?original_url=#{request.path}", method: :delete, class: 'm-2 p-2 btn btn-sm bg-danger text-white text-center',  data: { confirm: 'ต้องการลบใช่หรือไม่?' } do %>
                <i class="fa-regular fa-trash-can text-white align-middle mx-auto"></i>
                <% end %>
                <% end %>
              <% end %>

              <% elsif category && category['lists'].size > 0 %>

                <%= link_to "/#{@controller_main_url}/plan_reports/new?category_id=#{category['id']}&original_url=#{request.path}", class: 'btn btn-sm btn-success',  data: { confirm: 'ยืนยันการสร้างแบบฟอร์ม?' } do %>
                เพิ่มแบบฟอร์ม RM 1
                <% end %>
            <% end %>
            <!-- end rm1 -->
          </td>

          <td>  
            <!-- rm1-(1) -->
            <% if @plan_report && @plan_report['risk_analysis_reports'].size > 0 %>
                  <% @plan_report['risk_analysis_reports'].each do |risk_analysis_report| %>
                      <% @risk_analysis_report = risk_analysis_report %>
                        <%= link_to "/#{@controller_main_url}/risk_analysis_reports/#{risk_analysis_report['id']}/edit", class: 'btn btn-sm btn-block btn-info' do %>
                          <%= convert_thai_date(risk_analysis_report['created_at'],'default') %>
                      <% end %>
                  
                      <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>
                        <%= link_to "/#{@controller_main_url}/risk_analysis_reports/#{risk_analysis_report['id']}?original_url=#{request.path}", method: :delete, class: 'm-2 p-2 btn btn-sm bg-danger text-white text-center',  data: { confirm: 'ต้องการลบใช่หรือไม่?' } do %>
                          <i class="fa-regular fa-trash-can text-white align-middle mx-auto"></i>
                        <% end %>  
                     <% end %>
                <% end #end loop risk_analysis_reports %>

              <% elsif @plan_report %>

                  <%= link_to "/#{@controller_main_url}/risk_analysis_reports/new?plan_report_id=#{@plan_report['id']}&original_url=#{request.path}", class: 'btn btn-sm btn-success' ,  data: { confirm: 'ยืนยันการสร้างแบบฟอร์ม?' } do %>
                  เพิ่มแบบฟอร์ม RM 1 (1)
                  <% end %>

            <% end #end if plan_report['risk_analysis_reports'].size > 0  %>
            <!-- end rm1-(1) -->
          </td>

          <td>
            <!-- rm2 -->
                    <% if @risk_analysis_report && @risk_analysis_report['task_plan_reports'].size > 0 %>

                      <% @risk_analysis_report['task_plan_reports'].each do |task_plan_report| %>

                        <% @task_plan_report = task_plan_report %>
                        <%= link_to "/#{@controller_main_url}/task_plan_reports/#{task_plan_report['id']}/edit", class: 'btn btn-sm btn-block btn-info' do %>
                          <%= convert_thai_date(task_plan_report['created_at'],'default') %>
                        <% end %>
                        <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>
                          <%= link_to "/#{@controller_main_url}/task_plan_reports/#{task_plan_report['id']}?original_url=#{request.path}", method: :delete, class: 'm-2 p-2 btn btn-sm bg-danger text-white text-center',  data: { confirm: 'ต้องการลบใช่หรือไม่?' } do %>
                            <i class="fa-regular fa-trash-can text-white align-middle mx-auto"></i>
                          <% end %>
                        <% end %>
                      <% end #end loop task_plan_reports %>

                    <% elsif @risk_analysis_report %>
                    <% if $plan_user_assign_status == '1' %> <!-- Check plan_user_assign ตรวจสอบว่ามีการกำหนดผู้ทำงานหรือยัง ถ้ากำหนดแล้ว ให้สร้างใบ RM 2 ได้-->
                        <%= link_to "/#{@controller_main_url}/task_plan_reports/new?risk_analysis_report_id=#{@risk_analysis_report['id']}&original_url=#{request.path}", class: 'btn btn-sm btn-success' ,  data: { confirm: 'ยืนยันการสร้างแบบฟอร์ม?' } do %>
                        เพิ่มแบบฟอร์ม RM 2
                        <% end %>
                        <% else %>
                        <!-- กรณี ยังไม่ได้สร้าง plan_user ระบบจะแสดงปุ่มาร้าง plan_user-->
                        <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>
                          <%= link_to "/#{@controller_main_url}/plan_users?plan_id=#{@plan['data']['id']}&original_url=#{request.path}", class: 'align-self-center btn btn-sm bg-light m-3 mx-0' do %>
                            <i class="fas fa-user-circle fs-1"></i> <%= t(:assign_workers) %>
                          <% end %>
                          <% else %>
                          <b><span class="badge badge-warning">ติดต่อผู้ดูแลระบบเพื่อกำหนดผู้ทำงาน</span></b>
                          <% end %>
      
                  <% end %> <!--end Check plan_user_assign -->
                    <% end #end if risk_analysis_report['task_plan_reports'].size > 0  %>
                    <!-- end rm2 -->
          </td>

          <td>
            <!-- rm3 -->
          
            <% if @task_plan_report && @task_plan_report['evaluate_control_reports'].size > 0 %>

              <% @task_plan_report['evaluate_control_reports'].each do |evaluate_control_report| %>


                  <% @evaluate_control_report = evaluate_control_report %>
                    <%= link_to "/#{@controller_main_url}/evaluate_control_reports/#{evaluate_control_report['id']}/edit", class: 'btn btn-sm btn-block btn-info' do %>
                        <%= convert_thai_date(evaluate_control_report['created_at'],'default') %>
                    <% end %>
                      <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>
            
                          <%= link_to "/#{@controller_main_url}/evaluate_control_reports/#{evaluate_control_report['id']}?original_url=#{request.path}", method: :delete, class: 'm-2 p-2 btn btn-sm bg-danger text-white text-center',  data: { confirm: 'ต้องการลบใช่หรือไม่?' } do %>
                              <i class="fa-regular fa-trash-can text-white align-middle mx-auto"></i>
                          <% end %>
                          <% end %> <!-- end if  role_title == 'superadmin_role'-->
                  <% end #end loop evaluate_control_reports %>

            <% elsif @task_plan_report %>
            
            <% if $plan_user_assign_status == '1' %> <!-- Check plan_user_assign ตรวจสอบว่ามีการกำหนดผู้ทำงานหรือยัง ถ้ากำหนดแล้ว ให้สร้างใบ ปค ได้-->
                    <%= link_to "/#{@controller_main_url}/evaluate_control_reports/new?task_plan_report_id=#{@task_plan_report['id']}&original_url=#{request.path}", class: 'btn btn-sm btn-success' ,  data: { confirm: 'ยืนยันการสร้างแบบฟอร์ม?' } do %>
                    เพิ่มแบบฟอร์ม ปค. 5
                    <% end %>
                <% else %>
                  <!-- กรณี ยังไม่ได้สร้าง plan_user ระบบจะแสดงปุ่มาร้าง plan_user-->
                  <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>
                    <%= link_to "/#{@controller_main_url}/plan_users?plan_id=#{@plan['data']['id']}&original_url=#{request.path}", class: 'align-self-center btn btn-sm bg-light m-3 mx-0' do %>
                      <i class="fas fa-user-circle fs-1"></i> <%= t(:assign_workers) %>
                    <% end %>
                    <% else %>
                    <b><span class="badge badge-warning">ติดต่อผู้ดูแลระบบเพื่อกำหนดผู้ทำงาน</span></b>
                    <% end %>

            <% end %> <!--end Check plan_user_assign -->
            <% end #end if task_plan_report['evaluate_control_reports'].size > 0  %>
            <!-- end rm3 -->
          </td>

          <td>
            <!-- rm4 -->
            <% if @evaluate_control_report && @evaluate_control_report['follow_up_control_reports'].size > 0 %>

              <% @evaluate_control_report['follow_up_control_reports'].each do |follow_up_control_report| %>

              <li>
                <%= link_to "/#{@controller_main_url}/follow_up_control_reports/#{follow_up_control_report['id']}/edit", class: 'btn btn-sm btn-block btn-info' do %>
                  <%= convert_thai_date(follow_up_control_report['period_report']['startdate'],'default') %> - <%= convert_thai_date(follow_up_control_report['period_report']['enddate'],'default') %>
                <% end %>
                <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>
                  <%= link_to "/#{@controller_main_url}/follow_up_control_reports/#{follow_up_control_report['id']}?original_url=#{request.path}", method: :delete, class: 'm-2 p-2 btn btn-sm bg-danger text-white text-center',  data: { confirm: 'ต้องการลบใช่หรือไม่?' } do %>
                    <i class="fa-regular fa-trash-can text-white align-middle mx-auto"></i>
                  <% end %>
                  <% end %>
              </li>
              
              <% end %>

            <% end %>

            <% if @evaluate_control_report %>
            <!-- $user[session.id.to_s][@controller_title]['id'] = evaluate_control_report_user['user_id'] && -->

           
              <% @evaluate_control_report['evaluate_control_report_users'].each do |evaluate_control_report_user| %>
                <% if evaluate_control_report_user['user_role']['slug'] == 'approver'  && evaluate_control_report_user['status'] == 'approved' %>
                
                <%# if @check_plan_approve_status['data'] == false %>  <!-- ถ้าแผนมีการ Approve ไปแล้ว จะไม่สามารถ เพิ่มใบติดตามได้อีก -->
                <%= link_to "/#{@controller_main_url}/follow_up_control_reports/new?evaluate_control_report_id=#{@evaluate_control_report['id']}&original_url=#{request.path}", class: 'btn btn-sm btn-success' ,  data: { confirm: 'ยืนยันการสร้างแบบฟอร์ม?' } do %>
                เพิ่มแบบฟอร์ม ติดตาม ปค. 5
                <% end %>
                <%# end %>
             
            <% end %>
              <% end %>
               

            <% end %> <!-- end if @evaluate_control_report -->
            <!-- end rm4 -->
          </td>
          <% end %>
        </tr>
      </tbody>
    </table>


  </div>



</div>
<% end %>
<% end %>

<% if $check_planreport_datas == '1' %>
<% if @check_plan_approve_status['data'] == true %>
<%= render partial: '/share/block_comments', locals:{ model_name: 'plan', id: @plan['data']['id']} %>


<%= render partial: '/share/block_comments_history', locals:{ model_name: 'plan', id: @plan['data']['id']} %>
<% end %>
<% end %>

</div>
