<%= form_for([@post] ,html: { class: "form-horizontal row", role: "form" }) do |f| %>
  <%= render '/share/error', class_name: @post %>

  <div class="form-group col-12 col-md-6">
    <%= f.label :title , t(:title) %>
    <%= f.text_field :title, class: "form-control", placeholder: t(:title) %>
  </div>

  <div class="form-group col-12 col-md-6">
    <%= f.label :image_data , t(:image_data) %>
    <%= f.text_area :image_data, class: "form-control", placeholder: t(:image_data) %>
  </div>

  <div class="form-group col-12 col-md-6">
    <%= f.label :biz_id , t(:biz_id) %>
    <%= f.text_field :biz_id, class: "form-control", placeholder: t(:biz_id) %>
  </div>

  <div class="w-100 border-top mt-4 pt-4 text-center">
    <%= f.submit class: "btn btn-lg btn-primary" %>
    <%= button_tag t(:reset), type: 'reset', class: "btn btn-lg btn-default" %>
  </div>
<% end %>
