<div class="card card-custom">
	<div class="card-header">
		<div class="card-title">
		   <h3 class="card-label">
		    	<%= t(:edit) %> <%= t(:post) %>
		   </h3>
		  </div>
        <div class="card-toolbar">
            <%= link_to posts_path, class: 'btn btn-light bg-white mb-2' do %>
				<i class="ki ki-bold-arrow-back icon-sm"></i> <%= t(:back) %>
			<% end %>
        </div>
	</div>
	<div class="card-body">
		<%= render 'form', post: @post %>
	</div>
</div>

