<h1><%= t(:posts) %></h1>
<table class="table table-bordered">
  <thead>
    <tr>
            <th><%= t(:title) %></th>
            <th><%= t(:image_data) %></th>
            <th><%= t(:biz_id) %></th>
          </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %> 
    <tr>
            <td><%= post.title %></td>
            <td><%= post.image_data %></td>
            <td><%= post.biz_id %></td>
          </tr>
    <% end %>
  </tbody>
</table>
<p>Updated : <%= Time.now.strftime('%Y%m%d-%H%M') %></p>