<div class="card card-custom gutter-b">
  <div class="card-header flex-wrap border-0 pt-6 pb-0">
    <div class="card-title">
      <h3 class="card-label">
        <%= t(:posts) %>
        <span class="d-block text-muted pt-2 font-size-sm"></span>
      </h3>
    </div>
    <div class="card-toolbar">
      <div class="dropdown dropdown-inline mr-2">
        <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="svg-icon svg-icon-md">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24"/>
                <path d="M17,8 C16.4477153,8 16,7.55228475 16,7 C16,6.44771525 16.4477153,6 17,6 L18,6 C20.209139,6 22,7.790861 22,10 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,9.99305689 C2,7.7839179 3.790861,5.99305689 6,5.99305689 L7.00000482,5.99305689 C7.55228957,5.99305689 8.00000482,6.44077214 8.00000482,6.99305689 C8.00000482,7.54534164 7.55228957,7.99305689 7.00000482,7.99305689 L6,7.99305689 C4.8954305,7.99305689 4,8.88848739 4,9.99305689 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,10 C20,8.8954305 19.1045695,8 18,8 L17,8 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 8.000000) scale(1, -1) rotate(-180.000000) translate(-12.000000, -8.000000) " x="11" y="2" width="2" height="12" rx="1"/>
                <path d="M12,2.58578644 L14.2928932,0.292893219 C14.6834175,-0.0976310729 15.3165825,-0.0976310729 15.7071068,0.292893219 C16.0976311,0.683417511 16.0976311,1.31658249 15.7071068,1.70710678 L12.7071068,4.70710678 C12.3165825,5.09763107 11.6834175,5.09763107 11.2928932,4.70710678 L8.29289322,1.70710678 C7.90236893,1.31658249 7.90236893,0.683417511 8.29289322,0.292893219 C8.68341751,-0.0976310729 9.31658249,-0.0976310729 9.70710678,0.292893219 L12,2.58578644 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 2.500000) scale(1, -1) translate(-12.000000, -2.500000) "/>
              </g>
            </svg>
          </span>   <%= t(:export) %>
        </button>

        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
          <ul class="navi flex-column navi-hover py-2">
            <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">
              <%= t(:choose_an_option) %>:
            </li>
            <li class="navi-item">
              <%= link_to posts_path(format: "csv") , class: 'navi-link', target: '_blank' do %>
              <span class="navi-icon"><i class="la la-file-text-o"></i></span>
              <span class="navi-text">CSV</span>
              <% end %>
            </li>
            <li class="navi-item">
              <%= link_to posts_path(format: "pdf") , class: 'navi-link', target: '_blank' do %>
              <span class="navi-icon"><i class="la la-file-pdf-o"></i></span>
              <span class="navi-text">PDF</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <a href="<%= new_post_path %>" class="btn btn-primary font-weight-bolder">
        <span class="svg-icon svg-icon-md">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <rect fill="#000000" x="4" y="11" width="16" height="2" rx="1"/>
              <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) " x="4" y="11" width="16" height="2" rx="1"/>
            </g>
          </svg>
        </span> <%= t(:new) %>
      </a>

    </div>
  </div>

  <div class="card-body">
    <div class="mb-7">
      <div class="row align-items-center">
        <div class="col-lg-9 col-xl-8">
          <div class="row align-items-center">
            <div class="col-md-4 my-2 my-md-0">
              <div class="input-icon">
                <input type="text" class="form-control" placeholder="Search..." id="kt_datatable_search_query" />
                <span><i class="flaticon2-search-1 text-muted"></i></span>
              </div>
            </div>

            <div class="col-md-4 my-2 my-md-0">
              <div class="d-flex align-items-center">
                <label class="mr-3 mb-0 d-none d-md-block"><%= t(:status) %>:</label>
                <select class="form-control" id="kt_datatable_search_status">
                  <option value="">All</option>
                  <option value="1">Pending</option>
                  <option value="2">Delivered</option>
                  <option value="3">Canceled</option>
                  <option value="4">Success</option>
                  <option value="5">Info</option>
                  <option value="6">Danger</option>
                </select>
              </div>
            </div>
            <!--
            <div class="col-md-4 my-2 my-md-0">
              <div class="d-flex align-items-center">
                <label class="mr-3 mb-0 d-none d-md-block">Type:</label>
                <select class="form-control" id="kt_datatable_search_type">
                  <option value="">All</option>
                  <option value="1">Online</option>
                  <option value="2">Retail</option>
                  <option value="3">Direct</option>
                </select>
              </div>
            </div>
          -->
        </div>
      </div>
    </div>
  </div>


  <div class="datatable datatable-bordered datatable-head-custom" id="tb_datatable_post"></div>


</div>
</div>
