<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
     <h3 class="card-label">
      <%= t(:show) %> <%= t(:post) %>
    </h3>
  </div>
  <div class="card-toolbar">
    <%= link_to posts_path, class: 'btn btn-light bg-white mb-2' do %>
    <i class="ki ki-bold-arrow-back icon-sm"></i> <%= t(:back) %>
    <% end %>
    <%= link_to edit_post_path(@post), class: 'btn btn-secondary mb-2 ml-2' do %>
    <i class="flaticon2-pen icon-sm"></i> <%= t(:edit) %>
    <% end %>
  </div>
</div>
<div class="card-body">

  <dl class="dl-horizontal">

  	
    	<dt><%= t(:title) %>:</dt>
      <dd><%= @post.title %></dd>
    
    
    	<dt><%= t(:image_data) %>:</dt>
      <dd><%= @post.image_data %></dd>
    
    
    	<dt><%= t(:biz_id) %>:</dt>
      <dd><%= @post.biz_id %></dd>
    
        <hr class="m-sm">
  </dl>

</div>
</div>
