<% if plan %>
<%= form_for('plan', url: "/#{gen_form[0]}/plans/#{action_name}_update_#{@plan['data']['type_name']}/#{@plan['data']['id']}" , method: 'patch') do |f| %>
<div class="row mt-5">
  <div class="col">

      <h2 class="text-center mt-2"><%= plan['master_plan']['user']['institution']['title'] rescue nil %> </h2>
      <h2 class="text-center"><%= plan['title'] rescue nil %></h2>


      <div class="d-flex align-items-center mt-2"><span class="fs-3 badge badge-success">ผลรวมคะแนนหมวด : <%= plan['fl_score_sum'] rescue nil %></span> </div>

      <div class="table-responsive py-5">

                <% plan['categories'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category,ida| %>
                <table id="items" class="table table-bordered my-10" style="text-left">
                  <thead style="width:auto;text-align:center; background-color: #b9f0c7;">
                    <tr valign="middle">
                      <th colspan="7"><h3><%= category['title'] rescue nil %></h3></th>
                    </tr>
                    <tr valign="middle">
                      <th class="w-200px">ตัวชี้วัด</th>
                      <th>ค่าเป้าหมาย พ.ศ. <%= plan['master_plan']['title'].to_i rescue nil %></th>
                      <th colspan="3">ผลการดำเนินงาน</th>
                      <th>ร้อยละความสำเร็จ</th>
                      <th class="w-100px">คะแนน</th>
                    </tr>

                    <tr valign="middle">
                      <th></th>
                      <th></th>
                      <th><b>พ.ศ. <%= plan['master_plan']['title'].to_i-2 rescue nil %></b></th>
                      <th><b>พ.ศ. <%= plan['master_plan']['title'].to_i-1 rescue nil %></b></th>
                      <th><b>พ.ศ. <%= plan['master_plan']['title'].to_i rescue nil %></b></th>
                      <th></th>
                      <th></th>

                    </tr>

                  </thead>

                <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idb| %>






                <% if action_name == 'opdc_input' || params['print'] == 'true' %>
                <tr style="width:auto; background-color: #ffffff;">
                  <td>
                    <div class="d-flex">
                      <%= list['fl_kpi']['title'] rescue nil %>
                      <%= list['kpi_cond'] rescue nil %>
                    </div>
                  </td>
                  <td>
                    <%= list['fl_kpi_value'] rescue nil %>
                    <%= list['kpi_unit'] rescue nil %>
                  </td>
                  <td>
                    <%= list['fl_first_value'] rescue nil %>
                  </td>
                  <td>
                    <%= list['fl_second_value'] rescue nil %>
                  </td>
                  <td>
                    <%= list['fl_third_value'] rescue nil %>
                  </td>
                  <td style="width:auto; background-color: #f4f4f4;" align="center">
                    <%= list['fl_success_value_cal'] rescue nil %>    
                  </td>

                  <td style="width:auto; background-color: #f4f4f4;" align="center">
                  <% if params['print'] != 'true' %>
                  
                      <input type="hidden" name="form[<%= ida %>][<%= idb %>][id]" value="<%= list['id'] rescue nil %>">
                      <input type="number" name="form[<%= ida %>][<%= idb %>][fl_score_value]" value="<%= list['fl_score_value'] rescue nil %>" class="form-control">
                  
                  <% else %>
                      <%= list['fl_score_value'] rescue nil %>
                  <% end %>
                  </td>
              </tr>




              <% else #else opdc_input %>


              <tr style="width:auto; background-color: #ffffff;">
                  <td>
                    <div class="d-flex">
                      <%= select_tag("form[#{ida}][#{idb}][fl_kpi_id]", options_for_select(@fl_kpis['data'].map { |item| ["#{item['title']} #{item['primary']}", item['id']] }, (list['fl_kpi_id'] rescue nil)), {include_blank: true, class: 'selectize-activity form-control w-150px'}) %>

                      <%= select_tag("form[#{ida}][#{idb}][kpi_cond]", options_for_select(@kpi_cond.map { |item| ["#{item[:title]}", item[:value]] }, (list['kpi_cond'] rescue nil)), {include_blank: true, class: 'selectize-activity form-control'}) %>
                    </div>
                  </td>
                  <td>
                    <input type="hidden" name="form[<%= ida %>][<%= idb %>][id]" value="<%= list['id'] rescue nil %>">
                    <div class="d-flex">
                    <input type="number" name="form[<%= ida %>][<%= idb %>][fl_kpi_value]" value="<%= list['fl_kpi_value'] rescue nil %>" class="form-control">

                    <input type="text" name="form[<%= ida %>][<%= idb %>][kpi_unit]" value="<%= list['kpi_unit'] rescue nil %>" class="form-control" placeholder="หน่วย">
                    </div>
                  </td>
                  <td>
                    <input type="number" name="form[<%= ida %>][<%= idb %>][fl_first_value]" value="<%= list['fl_first_value'] rescue nil %>" class="form-control">
                  </td>
                  <td>
                    <input type="number" name="form[<%= ida %>][<%= idb %>][fl_second_value]" value="<%= list['fl_second_value'] rescue nil %>" class="form-control">
                  </td>
                  <td>
                    <input type="number" name="form[<%= ida %>][<%= idb %>][fl_third_value]" value="<%= list['fl_third_value'] rescue nil %>" class="form-control">
                  </td>
                  <td style="width:auto; background-color: #f4f4f4;" align="center">
                    <%= list['fl_success_value_cal'] rescue nil %>    
                  </td>
                  <td style="width:auto; background-color: #f4f4f4;" align="center">
                    <%= list['fl_score_value'] rescue nil %>
                  </td>
              </tr>



              <% end #if opdc_input %>








            <% end #loop categories %>
            </table>
            <% end #loop plans %>

          


      </div>
                
                  
          <hr style="border-bottom: 1px dotted #999999;">
          <p style="page-break-after: always;">&nbsp;</p>

  </div>




  <div class="d-flex align-items-center">
    <% if params['print'] != 'true'  %>

    <%= hidden_field_tag :original_url, request.path %>
    <%= f.hidden_field :id, value: (@plan['data']['id'] rescue nil) %>
    <%#= f.submit "บันทึกร่าง", class: "btn btn-lg btn-light-primary mx-3" %>
    <%= f.submit "บันทึก", class: "btn btn-lg btn-primary mx-3" %>
    <% end # end form 1 %>

    <%= form_for('plan', url: "/#{gen_form[0]}/plans/user_input_submit/#{@plan['data']['id']}" , method: 'patch') do |f| %>
    <%= f.hidden_field :id, value: (@plan['data']['id'] rescue nil) %>
    <%= f.hidden_field :status, value: 'submit-by-user' %>
    <%#= f.submit "ส่งคะแนน", class: "btn btn-lg btn-primary mx-3" %>
    <% end # end form 1 %>

    <% end #print %>
  </div>

</div>

<% end %>
