<%
#init
@master_plan_id = params[:master_plan_id] if !params[:master_plan_id].blank?
%>

<%= form_for('plan', url: "/#{gen_form[0]}/plans#{gen_form[1]}" , method: gen_form[2]) do |f| %>
<!--begin::Card_body-->
<div class="row">   

      <%= f.hidden_field :master_plan_id, value: @master_plan_id %>


       <div class="col-12 mt-5 ms-5 mb-5">
            <label class="form-label"><h5> ชื่อ <span class="text-danger">*</span> </h5></label>
            <%= f.text_field :title, class: "form-control", placeholder: t(:title), value: (@datas['data']['title'] rescue nil), required: true %>
       </div>

       <div class="col-12 mt-5 ms-5 mb-5">
            <label class="form-label"><h5> ประเภทหมวด <span class="text-danger">*</span> </h5></label>
            <%= f.select :type_name, [["หมวด 1-6", "normal"], ["หมวด 7", "seven"]], {selected: (@datas['data']['type_name'] rescue nil)} , {class: 'form-control', required: true} %>
       </div>


      <div class="col-12 mt-5 ms-5 mb-5">
            <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none">
                  <%= f.submit t(:saves), class: "btn btn-info" %></div>
            </div> 

      </div>
<% end %>  