<% if plan %>
<%= form_for('plan', url: "/#{gen_form[0]}/plans/#{action_name}_update_#{@plan['data']['type_name']}/#{@plan['data']['id']}" , method: 'patch') do |f| %>
<div class="row mt-5">
  <div class="col">

      <h2 class="text-center mt-2"><%= plan['master_plan']['user']['institution']['title'] rescue nil %> </h2>
      <h3 class="text-center"><%= plan['title'] rescue nil %></h3>


      <div class="d-flex align-items-center mt-2"><span class="fs-3 badge badge-success">ผลรวมคะแนนหมวด : <%= plan['fl_score_sum'] rescue nil %></span> </div>
      
      <div class="d-flex align-items-center mt-2"><span class="fs-4 badge badge-danger">Average Category : <%= plan['fl_score_avg'] %></span> </div>

      <div class="table-responsive py-5">
              <table id="items" class="table table-bordered" style="text-left">
                <thead style="width:auto;text-align:center; background-color: #fbc6ce;">
                  <tr valign="middle">
                    <th class="w-300px">Category/Item</th>
                    <th>No.</th>
                    <th>Question</th>
                    <th colspan="6">Score</th>
                  </tr>

                  <tr valign="middle">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><b>0</b></th>
                    <th><b>1</b></th>
                    <th><b>2</b></th>
                    <th><b>3</b></th>
                    <th><b>4</b></th>
                    <th><b>5</b></th>
                  </tr>

                </thead>

                <thead style="width:auto; background-color: #ffe6e9;">
                    <tr>
                      <td colspan="9">
                        <b><%= plan['title'] rescue nil %></b>
                      </td>
                  </tr>
                </thead>

                <% plan['categories'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category,ida| %>
                <tr style="width:auto; background-color: #f6f6f6;">
                    <td colspan="9">
                      <div class="py-3"><b><%= category['title'] rescue nil %></b></div>
                      <div class="d-flex mx-10">
                        <span class="badge badge-danger fs-base min-w-100px mx-3">Average  : <%= category['fl_score_avg'] rescue nil %></span></p>
                        


                        <% if action_name == 'opdc_input' %>
                        <span class="badge badge-light-warning fs-base mx-3">เกณฑ์คะแนนประเมินหัวข้อ : <%= category['fl_total_score'] rescue nil %> คะแนน</span>
                        
                        
                        <div class="d-flex align-items-center">
                          <span class="ts-4 px-3">ให้คะแนนประเมิน</span>
                          <input type="hidden" name="category[<%= ida %>][id]" value="<%= category['id'] rescue nil %>">
                          <input type="number" name="category[<%= ida %>][fl_score]" value="<%= category['fl_score'] rescue nil %>" class="form-control w-100px mx-4"  min="0" max="<%= category['fl_total_score'].to_i rescue nil %>">
                        </div>

                        <% elsif params['print'] == 'true'  %>

                        <span class="badge badge-light-warning fs-base mx-3">เกณฑ์คะแนนประเมินหัวข้อ : <%= category['fl_total_score'] rescue nil %> คะแนน</span>
                        
                        
                        <div class="d-flex align-items-center">
                          <span class="fs-4">ให้คะแนนประเมิน :</span>
                          <span class="badge badge-warning fs-4"><%= category['fl_score'] rescue nil %></span>
                        </div>

                        <% end %>


                      </div>
                    </td>
                </tr>

                <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idb| %>
                <tr>
                  <td></td>
                  <td colspan="8" valign="middle">
                    <b><%= list['title'] rescue nil %></b>
                  </td>
                </tr>

                <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list_activity,idx| %>
                <tr valign="top">
                  <td></td>
                  <td align="center"><b><%= idx + 1 %></b></td>
                  <td><b><%= list_activity['title'] rescue nil %></b>
                    <ul>
                      <% list_activity['list_activity_items'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity_item| %>
                      <li>
                        <%= list_activity_item['title'] rescue nil %>
                      </li>
                        <% end %>
                      </ul>
                  </td>
                  
                  <% (0..5).each do |idy| %>
                  <td class="">
                    <div class="form-check form-check-sm form-check-custom form-check-solid w-50 m-auto">
                      <input name="form[<%= idb %>][<%= ida %>][<%= idx %>][fl_score]" class="form-check-input" type="radio" <%= 'checked' if idy == list_activity['fl_score'].to_i %> value=<%= idy %> <%= "disabled".html_safe if action_name == 'opdc_input' || params['print'] == 'true' %> >
                    </div>
                  </td>
                  <% end %>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td colspan="7" class="bg-light-primary" style="width:auto; background-color: #fcfcfc;"><b>คำอธิบาย</b>

                    <% if action_name == 'opdc_input' || params['print'] == 'true' %>
                      <p><%= list_activity['fl_result_text'] rescue nil %></p>
                    <% else %>
                      <input type="hidden" name="form[<%= idb %>][<%= ida %>][<%= idx %>][id]" value="<%= list_activity['id'] %>">
                      <textarea name="form[<%= idb %>][<%= ida %>][<%= idx %>][fl_result_text]" class="form-control"><%= list_activity['fl_result_text'] rescue nil %></textarea>
                    <% end %>

                  </td>
                </tr>
                <% end #loop list_activities %>

                <% end #loop lists %>

                <% end #loop categories %>

          </table>


      </div>
                
                  
          <hr style="border-bottom: 1px dotted #999999;">
          <p style="page-break-after: always;">&nbsp;</p>

  </div>




  <div class="d-flex align-items-center">
    <% if params['print'] != 'true'  %>


    
    <%= hidden_field_tag :original_url, request.path %>
    <%= f.hidden_field :id, value: (@plan['data']['id'] rescue nil) %>
    <%#= f.submit "บันทึกร่าง", class: "btn btn-lg btn-light-primary mx-3" %>
    <%= f.submit "บันทึก", class: "btn btn-lg btn-primary mx-3" %>
    <% end # end form 1 %>

    <%= form_for('plan', url: "/#{gen_form[0]}/plans/user_input_submit/#{@plan['data']['id']}" , method: 'patch') do |f| %>
    <%= f.hidden_field :id, value: (@plan['data']['id'] rescue nil) %>
    <%= f.hidden_field :status, value: 'submit-by-user' %>
    <%#= f.submit "ส่งคะแนน", class: "btn btn-lg btn-primary mx-3" %>
    <% end # end form 1 %>




    <% end %>
  </div>

</div>

<% end %>
