<% if plan %>
<div class="row mt-5">
  <div class="col">

      <h2 class="text-center mt-2"><%= plan['master_plan']['user']['institution']['title'] rescue nil %> </h2>
      <h3 class="text-center"><%= plan['title'] rescue nil %></h3>


      <div class="d-flex align-items-center mt-2"><span class="fs-3 badge badge-success">ผลรวมคะแนนหมวด : <%= plan['fl_total_score'] rescue nil %></span> </div>
      
      <div class="d-flex align-items-center mt-2"><span class="fs-4 badge badge-danger">Average Category : <%= %></span> </div>

      <div class="table-responsive py-5">
              <table id="items" class="table table-bordered" style="text-left">
                <thead style="width:auto;text-align:center; background-color: #fbc6ce;">
                  <tr valign="middle">
                    <th class="w-300px">Category/Item</th>
                    <th>No.</th>
                    <th>Question</th>
                    <th colspan="6">Score</th>
                  </tr>

                  <tr valign="middle">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><b>0</b></th>
                    <th><b>1</b></th>
                    <th><b>2</b></th>
                    <th><b>3</b></th>
                    <th><b>4</b></th>
                    <th><b>5</b></th>
                  </tr>

                </thead>

                <thead style="width:auto; background-color: #ffe6e9;">
                    <tr>
                      <td colspan="9">
                        <b><%= plan['title'] rescue nil %></b>
                      </td>
                  </tr>
                </thead>

                <% plan['categories'].sort_by{|i| i['order_sort'].to_i}.each do |category| %>
                <tr style="width:auto; background-color: #f6f6f6;">
                    <td colspan="9">
                      <div class="py-3"><b><%= category['title'] rescue nil %></b></div>
                      <div class="d-flex mx-10">
                        <span class="badge badge-danger fs-base min-w-100px mx-3">Average  : <%= %></span></p>
                        <span class="badge badge-success fs-base mx-3">เกณฑ์คะแนนประเมินหัวข้อ : <%= category['fl_total_score'] rescue nil %> คะแนน</span>
                        
                        <div class="d-flex align-items-center">
                          <span class="ts-4 px-3">ให้คะแนนประเมิน</span>
                          <%= number_field_tag :column_name , 60, class: 'form-control w-100px mx-4' %>
                        </div>
                      </div>
                    </td>
                </tr>

                <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each do |list| %>
                <tr>
                  <td></td>
                  <td colspan="8" valign="middle">
                    <b><%= list['title'] rescue nil %></b>
                  </td>
                </tr>

                <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list_activity,idx| %>
                <tr valign="top">
                  <td></td>
                  <td align="center"><b><%= idx + 1 %></b></td>
                  <td><b><%= list_activity['title'] rescue nil %></b>
                    <ul>
                      <% list_activity['list_activity_items'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity_item| %>
                      <li>
                        <%= list_activity_item['title'] rescue nil %>
                      </li>
                        <% end %>
                      </ul>
                  </td>
                  
                  <% (0..5).each do |idx| %>
                  <td class="">
                    <div class="form-check form-check-sm form-check-custom form-check-solid w-50 m-auto">
                      <input name="list[fl_score]" class="form-check-input" type="checkbox" <%= 'checked' if idx == list['fl_score'].to_i %>>
                    </div>
                  </td>
                  <% end %>

                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td colspan="7" style="width:auto; background-color: #fcfcfc;"><b>คำอธิบาย</b><p></p>
                    <textarea name="column_name" id="column_name" class="form-control"></textarea><p></p>
                  </td>
                </tr>
                <% end #loop list_activities %>

                <% end #loop lists %>

                <% end #loop categories %>

          </table>


      </div>
                
                  
          <hr style="border-bottom: 1px dotted #999999;">
          <p style="page-break-after: always;">&nbsp;</p>

  </div>
</div>
<% end %>
