<% if plan %>
<div class="row mt-5">
  <div class="col">

      <h2 class="text-center mt-2"><%= plan['master_plan']['user']['institution']['title'] rescue nil %> </h2>
      <h3 class="text-center"><%= plan['title'] rescue nil %></h3>


      <div class="d-flex align-items-center mt-2"><span class="fs-3 badge badge-success">ผลรวมคะแนนหมวด : <%= plan['fl_total_score'] rescue nil %></span> </div>
      
      <div class="d-flex align-items-center mt-2"><span class="fs-4 badge badge-danger">Average Category : <%= %></span> </div>


      <div class="table-responsive py-5 mt-10">

        <% plan['categories'].sort_by{|i| i['order_sort'].to_i}.each do |category| %>
        <table id="items" class="table table-bordered" style="text-left">
          <thead style="width:auto;text-align:center; background-color: #b9f0c7;">
            <tr valign="middle">
              <th colspan="7"><h2><%= category['title'] rescue nil %></h2></th>
            </tr>
            <tr valign="middle">
              <th>ตัวชี้วัด</th>
              <th>ค่าเป้าหมาย พ.ศ. 2564</th>
              <th colspan="3">ผลการดำเนินงาน</th>
              <th>ร้อยละความสำเร็จ</th>
              <th>คะแนน</th>
            </tr>

            <tr valign="middle">
              <th></th>
              <th></th>
              <th><b>พ.ศ. 2562</b></th>
              <th><b>พ.ศ. 2563</b></th>
              <th><b>พ.ศ. 2564</b></th>
              <th></th>
              <th></th>

            </tr>

          </thead>
          <tbody>

              <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each do |list| %>
                  <tr style="width:auto; background-color: #ffffff;">
                    <td>
                      <select class="form-select" aria-label="Default select example">
                        <option selected>เลือกตัวชี้วัด</option>
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="3"></option>
                        <option value="3"></option>
                      </select>
                    </td>
                    <td ><%= text_field'column_name', '', class: 'form-control' %></td>
                    <td><%= text_field'column_name', '', class: 'form-control' %></td>
                    <td><%= text_field'column_name', '', class: 'form-control' %></td>
                    <td><%= text_field'column_name', '', class: 'form-control' %></td>
                    <td style="width:auto; background-color: #f4f4f4;" align="center">ร้อยละความสำเร็จ</td>
                    <td style="width:auto; background-color: #f4f4f4;" align="center">ผลคะแนน</td>

                </tr>
                <% end #loop lists %>

                </tbody>
                

              </table>

              <hr style="border-bottom: 1px dotted #999999;">
              <p style="page-break-after: always;">&nbsp;</p>

              <% end #loop categories %>
          </div>

                
                  
          

  </div>
</div>
<% end %>
