<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>


<% if controller_name == 'plan_reports' || @plan_report %>
<div class="pt-5 text-center">
    <h1 class="fs-1">รายงานผลการดำเนินการตามแผนพัฒนาองค์การประจำปีงบประมาณ พ.ศ. <%= plan['master_plan']['title'] rescue nil %> <%= plan['data']['master_plan']['user']['institution']['title'] rescue nil %>
    </h1> 

    <h2 class="fs-2"><%= plan['title'] rescue nil %></h2>


    <%= hidden_field_tag :original_url, params[:original_url]  %>
    <div class="my-4">วันที่ : <span class="badge badge-info fs-6"><%= @plan_report['data']['startdate']&.in_time_zone&.to_date rescue nil %></span> ถึง <span class="badge badge-info fs-6"><%= @plan_report['data']['enddate']&.in_time_zone&.to_date rescue nil %></span>
    </div>
</div>
<% end %>


<% if !plan.blank?  %>
<div class="table-responsive py-5">
    <table id="items" class="table table-bordered" style="text-left">
        <thead style="width:auto;text-align:center; background-color: #d9dbff;">
            <tr valign="middle">
                <th>กิจกรรม/ขั้นตอน</th>
                <th>ผลการดำเนินงาน</th>
                <th>ผลผลิต</th>
                <th>ปัญหา/อุปสรรค</th>
                <th>หลักฐานเอกสาร</th>
                <th class="noprint w-100px"></th>
            </tr>
        </thead>

        <% plan['categories'].sort_by{|i| i['order_sort'].to_i}.each do |category| %>
            <thead style="width:auto;background-color: #ecedfa;">
                <tr>
                    <th colspan="5">
                        <b><%= category['title'] rescue nil %></b>
                    </th>
                    <th class="noprint"></th>
                </tr>
            </thead>

        <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each do |list| %>
            <thead style="width:auto;">
                <tr>
                    <th colspan="5">
                        <b><%= list['title'] rescue nil %></b>
                    </th>
                    <th class="noprint"></th>
                </tr>
            </thead>

        <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
            <tr valign="top">
                <td colspan="5">
                    <b><%= list_activity['order_sort'] rescue nil %></b> 
                    <%= list_activity['title'] rescue nil %>
                </td>
              <td class="noprint"></td>
            </tr>

            <% list_activity['list_activity_items'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity_item| %>
            <tr valign="top">
                <td>
                  <li><%= list_activity_item['title'] rescue nil %></li>
                </td>

                <% if !list_activity_item['tasks'].blank? %>
                    <% list_activity_item['tasks'].each do |task| %>

                    <td>
                        <ol>
                          <% task['task_overall_results'].each do |task_overall_result| %>
                            <li><%= task_overall_result['title'] rescue nil %></li>
                          <% end %>  
                        </ol>
                    </td>

                    <td>
                        <ol>
                        <% task['task_results'].each do |task_result| %>
                            <li><%= task_result['title'] rescue nil %></li>
                        <% end %>  
                        </ol>
                    </td>

                    <td>
                        <ol>
                        <% task['task_problems'].each do |task_problem| %>
                            <li><%= task_problem['title'] rescue nil %></li>
                        <% end %>  
                        </ol>
                    </td>

                    <td>
                      <% task['task_documents'].each_with_index do |task_document| %>
                        <div class="p-2">
                            <% if !task_document['file_data'].blank? %>
                            <a href="<%= $server[@controller_title] %><%= task_document['file_url_original'] %>" target="_blank">
                                <img src="<%= $server[@controller_title] %><%= task_document['file_url_thumbnail'] %>" class="img-thumbnail" style="width: 200px;" />
                            </a>
                            <% end %>
                            <%= task_document['title'] %>
                        </div>
                        <% end %>
                    </td>

                    <td>
                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: task['id'], params: "original_url=#{request.path}"} if params[:print] != 'true' %> 
                    </td>
                    <% end %> 
                <% else %> 
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'c' ,master_plan_id: plan['master_plan_id'], model_name: 'tasks', model_title: 'ผล', id: nil, params: "list_activity_item_id=#{list_activity_item['id']}&plan_report_id=#{params[:plan_report_id]}&original_url=#{request.path}"} if params[:print] != 'true' %> 
                    </td>
                <% end %> 


            </tr>

            <% end #loop list['list_activity_items'] %>
        <% end #loop list['list_activities'] %>
    <% end #loop category['lists'] %>
<% end #loop categories %>

</table>



</div>
<% end %>



