
        <div class="card-show">
                <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                                <h2><%= category['title'] rescue nil %></h2>
                                <span class="badge badge-light-warning fs-5 px-2 mx-5">เกณฑ์คะแนน : <%= category['fl_total_score'] rescue nil %></span>
                        </div>

                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: (@plan['data']['master_plan_id']  rescue nil), model_name: 'categories', model_title: '', id: category['id'], params: "plan_id=#{@plan['data']['id'] rescue nil}"} %>
                </div>

                <div class="table-responsive py-5">

                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'add-only' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: 'กิจกรรม / ขั้นตอน', id: nil, params: "category_id=#{category['id']}&original_url=#{request.path}"} %>   

                        <table class="table table-bordered">
                                <thead>
                                <tr class="fw-bolder text-muted">
                                                <th class=""><h6>กิจกรรม / ขั้นตอน<h6></th>
                                                <th class="min-w-400px"><h6>คำถาม<h6></th>
                                                <th class="w-200px"></th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <% category['lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |list,idx| %>
                                        <tr style="border-top: 3px solid #cccccc;">
                                                <td colspan="2">
                                                        <span style="font-weight: bold;"><%= list['title'] rescue nil %></span>

                                                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'c' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'list_activities', model_title: 'คำถาม', id: list['id'], params: "list_id=#{list['id']}&original_url=#{request.path}"} %>    
                                                </td>        
                                                <td>

                                                         

                                                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'lists', model_title: nil, id: list['id'], params: "original_url=#{request.path}"} %>    
                                                </td>      
                                        </tr>

                                        <% list['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                                        <tr>
                                                <td></td>
                                                <td>
                                                        <span class="text-primary" style="font-weight: bold;"><%= list_activity['title'] %></span>   

                                                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'c' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'list_activity_items', model_title: 'รายละเอียด', id: list['id'], params: "list_activity_id=#{list_activity['id']}&original_url=#{request.path}"} %>


                                                        <ul>
                                                                <% list_activity['list_activity_items'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity_item| %>
                                                                <li><%= list_activity_item['title'] %></li>
                                                                <% end %>
                                                        </ul>

                                                </td>




                                                <td>
                                                        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'ud' ,master_plan_id: @plan['data']['master_plan_id'], model_name: 'list_activities', model_title: nil, id: list_activity['id'], params: "original_url=#{request.path}"} %>
                                                </td>
                                        </tr>
                                        
                                        <% end %>

                                        <% end %>
                                </tbody>
                        </table>
                </div>
        </div>
