<%
#init
back_url = "/#{gen_form[0]}/master_plans/#{params['master_plan_id']}" if !params['master_plan_id'].blank?
back_url = "/#{gen_form[0]}/master_plans/#{@plan['data']['master_plan_id']}" if @plan && @plan['data'] && !@plan['data']['master_plan_id'].blank?
back_url = params[:original_url] if params[:original_url]
%>

<div class="container-fluid">
        <div class="d-flex justify-content-between"> 
                <div class="d-flex align-items-center">
                        <h1><%= @plan['data']['title'] rescue nil %></h1>
                        <span class="badge badge-light-info fs-5 px-5 mx-5">เกณฑ์คะแนนหมวด : <%= @plan['data']['fl_total_score_sum'] rescue nil %></span>
                </div>

                <div class="d-flex">
                        <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
                        <% end %>


                        <%= link_to "/#{@controller_main_url}/plans/print/#{params['id'] rescue nil}?print=true", class: 'align-self-center btn btn-lg btn-light mx-1' do %> 
                                <i class="fa-solid fa-eye"></i> ดู
                        <% end %>
                </div>
        </div>



        <%= render partial: '/share/block_btn_action_all', locals:{ type_name: 'add-only' ,master_plan_id: (@plan['data']['master_plan_id']  rescue nil), model_name: 'categories', model_title: '', id: nil, params: "plan_id=#{@plan['data']['id'] rescue nil}"} %>    

        <% if @plan && !@plan['data'].blank? && !@plan['data']['categories'].blank? %>

        <% @plan['data']['categories'].sort_by{|i| i['order_sort'].to_i}.each do |category| %>
        
                <% case @plan['data']['type_name'] %>
                <% when 'seven' %>
                        <%= render "type_name_seven", category: category %>
                <% else %>
                        <%= render "type_name_normal", category: category %>
                <% end %>

        <% end %>
        <% end %>




</div>
