<!--begin::Kt_content-->
<div class="container-fluid">
    <!--begin::Row-->
    <div class="row">
        <div class="col"> 
          <div class="float-start">
            <h2 class="card-label"> <i class="fa-solid fa-circle-chevron-right"></i><%= t(:fiscal_year) %><%= t(:master_plan) %></h2> 
        </div>
        <div class="col">
          <div class="float-end">  
            <%= link_to "/#{@controller_title}/master_plans", class: 'btn btn-light btn-sm' do %> <i class="fa-solid fa-angle-left"></i></i> <%= t(:back) %> </i> <% end %>
        </div> 
    </div>
</div>

<div class="row">
    <div class="col">

        <%= form_for('master_plan', url: "/km/master_plans/#{@datas['data']['id']}" , method: :patch) do |f| %>
            <div class="row">                                                                      
              <div class="col-11 mt-5 ms-5">
                <label for="formGroupExampleInput" class="form-label"> <h5> <%= t(:title) %><span class="text-danger">*</span> </h5></label>
                <%= f.text_field :title, class: "form-control", placeholder: t(:title), value: @datas['data']['title'] %> 
            </div>
            <div class="col-11 mt-5 ms-5 mb-5">
                <label for="formGroupExampleInput2" class="form-label"> <h5> <%= t(:description) %><span class="text-danger">*</span> </h5></label>
                <%= f.text_field :description, class: "form-control", placeholder: t(:description), value: @datas['data']['description'] %>  
            </div> 
            <div class="col-11 mt-5 ms-5 mb-5">
                <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none"><%= f.submit t(:saves), class: "btn btn-info" %></div>
            </div> 
        </div>


        <% end %>
    </div>
</div>


</div>
