<div class="container-fluid">

    
    <div class="d-flex justify-content-between"> 
        <div class="w-75 d-flex">
                <h1>สร้างตัวชี้วัดการปฎิบัติราชการ (KPI)</h1>  
        </div>
        <div class="">  
            <%= link_to "/#{@controller_title}/master_plans/", class: 'btn btn-light -sm' do %> 
                <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
            <% end %>
        </div> 
    </div>



        <%= form_for('master_plan_clone', url: "/#{@controller_title}/master_plans/create_by_template" , method: :post) do |f| %>
        <div class="w-75 row">                                                                      
                <div class="col-12 mt-5">
                        <label for="formGroupExampleInput" class="form-label">
                                <h5> เลือกหมวดหมู่ตัวชี้วัดการปฎิบัติราชการ (KPI)<span class="text-danger">*</span></h5>
                        </label>
                <div class="col-12 mt-5 d-flex">
                        <%= select_tag("master_plan_clone[master_plan_id]", options_for_select(@master_plans['data'].map { |item| [item['title'], item['id']] }, params[:master_plan_id]), {class: 'selectize-plan form-control'}) %>
                        <%= f.submit t(:next), class: "btn btn-lg btn-info mx-4" %>
                </div> 
            </div>
        </div>
        <% end %>




</div>