<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
back_url = "/#{@controller_main_url}/plans/#{@task_plan_report['data']['risk_analysis_report']['plan_report']['category']['plan_id']}" rescue nil
%>


<div class="container-fluid">





    <div class="text-end">
        <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
        <% end %>

        <!-- add export -->
        <%= render '/share/block_btn_export', item: @plan_report, title: 'plan_report' %>
        <!-- end add export -->
    </div>


    <div class="text-muted text-end mt-15">แบบฟอร์ม RLPD RM-2</div>
    <h1 class="text-center"> การประเมินผลการควบคุมและการจัดการความเสี่ยงโครงการ/กระบวนงาน</h1>


    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">หน่วยงาน : <%= @task_plan_report['data']['risk_analysis_report']['plan_report']['category']['institution']['title'] rescue nil %></h2>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">ประเด็นยุทธศาสตร์ : <%= @task_plan_report['data']['risk_analysis_report']['plan_report']['category']['strategic_issue']['title'] rescue nil %></h2>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : <%= @task_plan_report['data']['risk_analysis_report']['plan_report']['category']['title'] rescue nil %></h2>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน :</h2>
    

    <!-- add export -->
    <div id="export_content" class="">
        <div class="landscape_A4_page">
            <!-- end add export -->  

            <%= render 'form' ,task_plan_report: @task_plan_report %>

            <!-- add export -->
        </div>
    </div>
        <!-- end add export --> 

    <%= render partial: '/share/block_comments', locals:{ model_name: 'task_plan_report', id: @task_plan_report['data']['id']} %>
    <%= render partial: '/share/block_comments_history', locals:{ model_name: 'task_plan_report', id: @task_plan_report['data']['id']} %>

</div>