<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
back_url = "/#{@controller_main_url}/plans/#{@task_plan_report['data']['risk_analysis_report']['plan_report']['category']['plan_id']}" rescue nil
$risk_management_report_user_status = nil
$input_readonly = ''
$checkbok_readonly =''
$radio_readonly = ''

@task_plan_report['data']['risk_management_reports'].each do |risk_management_report|
    risk_management_report['risk_management_report_users'].each do |risk_management_report_user|

    if risk_management_report_user['user_role']['slug'] == 'approver'  && risk_management_report_user['status'] == 'approved' 
       $risk_management_report_user_status = risk_management_report_user['status']
       $input_readonly = 'readonly'
       $checkbox_readonly = 'disabled'
       $radio_readonly = 'disabled'
  end
end 
end 

%>

<div class="container-fluid">


    <div class="text-end">
        <%= link_to back_url, class: 'btn btn-light -sm' do %> <i class="fa-solid fa-angle-left"></i> <%= t(:back) %> 
                    <% end %>
                    <!-- add export -->
                    <%= render '/share/block_btn_export', item: @plan_report, title: 'plan_report' %>
                    <!-- end add export -->
    </div>



    <%= form_for('task_plan_report', url: "/#{gen_form[0]}/task_plan_reports#{gen_form[1]}" , method: gen_form[2]) do |f| %>




    <div class="text-muted text-end mt-15">แบบฟอร์ม RLPD RM-2</div>
    <h1 class="text-center"> การประเมินผลการควบคุมและการจัดการความเสี่ยงโครงการ/กระบวนงาน</h1>


    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">หน่วยงาน : <%= @task_plan_report['data']['risk_analysis_report']['plan_report']['category']['institution']['title'] rescue nil %></h2>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">ประเด็นยุทธศาสตร์ : <%= @task_plan_report['data']['risk_analysis_report']['plan_report']['category']['strategic_issue']['title'] rescue nil %></h2>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">โครงการ/กระบวนงาน : <%= @task_plan_report['data']['risk_analysis_report']['plan_report']['category']['title'] rescue nil %></h2>

    <h2 class="text-gray-800 fw-bolder fs-6 mt-3">วัตถุประสงค์ของโครงการ/กระบวนงาน :</h2>

    <ul>
      <% @task_plan_report['data']['risk_analysis_report']['plan_report']['category']['category_objectives'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category_objective, idx| %>
          <li><%=  category_objective['title'] rescue nil %> </li>
      <% end %>
    </ul>


    <div class="-table-responsive py-5">
      <table id="items" class="table table-bordered" style="text-left">
        <thead style="width:auto;text-align:center; background-color: #d9dbff;">
          <tr valign="middle">
            <th>กิจกรรม</th>
            <th>รหัสปัจจัยเสี่ยง</th>
            <th>ปัจจัยเสี่ยง</th>
            <th colspan=4>กลยุทธ์ที่ใช้ </br> (ทำเครื่องหมาย ✔)</th>
            <th>กิจกรรมการควบคุมภายในหรือการจัดการที่มีอยู่ (กรณียังไม่มีให้ระบุว่า “ไม่มี”) </th>
            <th colspan=3>การจัดการที่มีอยู่</br> (ทำเครื่องหมาย ✔)</th>
            <th>การควบคุมที่ควรมี หรือ ปรับปรุง</th>
            <th></th>
          </tr>

          <tr valign="middle">
            <th></th>
            <th></th>
            <th></th>
            <th>ยอมรับความเสี่ยง</th>
            <th>หลีกเลี่ยงความเสี่ยง</th>
            <th>ถ่ายโอนความเสี่ยง</th>
            <th>ควบคุม/ลดความเสี่ยง</th>
            <th></th>
            <th>เพียงพอ</th>
            <th>พอใช้</th>
            <th>ต้องปรับปรุง</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <% if @task_plan_report && !@task_plan_report['data'].blank? %>
        <% @task_plan_report['data']['task_lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |task_list,idx| %>
            <%
            url = URI("#{$server[@controller_title]}/api/v1/risk_analysises/#{task_list['risk_analyses_id']}")
            risk_analyses = request_api(url,'get',nil)['data']
            %>
          <input type="hidden" name="task_list[<%= idx %>][id]" class="form-control" value="<%= task_list['id'] rescue nil %>">
          <tr valign="top">
            <td>
                <ul>
                    <% risk_analyses['task']['list']['list_activities'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity| %>
                    <h6><%= list_activity['title'] rescue nil %></h6>
                    <li><span><%= list_activity['description'] rescue nil %></span></li>
                    <div><%= get_status_tasks(list_activity['status']) %></div>
                    <% end %>  
                  </ul>  
            </td>

            <td>
            <ul>
      
             
            <% if !risk_analyses['task']['list'].blank? %>
            <% task_list['list']['list_risk_factors'].sort_by{|i| i['order_sort'].to_i}.each do |list_risk_factor| %>
           <%= list_risk_factor['list_code'] %>
            <% end %>
        <% end %>
            
        </ul>
            </td>
            
            <td>
                <ul>
                    <% if !risk_analyses['task']['list'].blank? %>
           
                    <% end %>
                </ul>
            </td>

            <td>
                <label class="radio">
                    <input type="hidden" name="task_list[<%= idx %>][risk_accept]" value="false" />
                    <input type="checkbox" <% if $risk_management_report_user_status == 'approved' %> disabled= "<%= $checkbok_readonly %>" <% end %> name="task_list[<%= idx %>][risk_accept]" value="true" <%= "checked".html_safe if task_list['risk_accept'] == true %> />
                    <span></span>
                </label>
            </td>

            <td>
                <label class="radio">
                    <input type="hidden" name="task_list[<%= idx %>][risk_avert]" value="false" />
                    <input type="checkbox" <% if $risk_management_report_user_status == 'approved' %> disabled= "<%= $checkbok_readonly %>" <% end %> name="task_list[<%= idx %>][risk_avert]" value="true" <%= "checked".html_safe if task_list['risk_avert'] == true %> />
                    <span></span>
                </label>
            </td>

            <td>
                <label class="radio">
                    <input type="hidden" name="task_list[<%= idx %>][risk_transfer]" value="false" />
                    <input type="checkbox"  <% if $risk_management_report_user_status == 'approved' %> disabled= "<%= $checkbok_readonly %>" <% end %> name="task_list[<%= idx %>][risk_transfer]" value="true" <%= "checked".html_safe if task_list['risk_transfer'] == true %> />
                    <span></span>
                </label>
            </td>

            <td>
                <label class="radio">
                    <input type="hidden" name="task_list[<%= idx %>][risk_control]" value="false" />
                    <input type="checkbox"  <% if $risk_management_report_user_status == 'approved' %> disabled= "<%= $checkbok_readonly %>" <% end %> name="task_list[<%= idx %>][risk_control]" value="true" <%= "checked".html_safe if task_list['risk_control'] == true %> />
                    <span></span>
                </label>
            </td>





            <td>
                <ul>
                    <% if !risk_analyses['task']['list'].blank? %>
                        <% risk_analyses['task']['list']['list_activity_controls'].sort_by{|i| i['order_sort'].to_i}.each do |list_activity_control| %>
                        <li><%= list_activity_control['title'] %></li>
                        <% end %>
                    <% end %>
                  </ul>
            </td>




            <td align="center">
                <label class="radio">
                    <input type="radio" <% if $risk_management_report_user_status == 'approved' %> <%= $radio_readonly %> <% end %> name="task_list[<%= idx %>][existing_manage]" value="enough" <%= "checked".html_safe if task_list['existing_manage'] == 'enough' %> />
                    <span></span>
                </label>
            </td>
            <td align="center">
                <label class="radio">
                    <input type="radio" <% if $risk_management_report_user_status == 'approved' %> <%= $radio_readonly %> <% end %> name="task_list[<%= idx %>][existing_manage]" value="fair" <%= "checked".html_safe if task_list['existing_manage'] == 'fair' %> />
                    <span></span>
                </label>
            </td>
            <td align="center">
                <label class="radio">
                    <input type="radio" <% if $risk_management_report_user_status == 'approved' %> <%= $radio_readonly %> <% end %> name="task_list[<%= idx %>][existing_manage]" value="adjust" <%= "checked".html_safe if task_list['existing_manage'] == 'adjust' %> />
                    <span></span>
                </label>
            </td>

            <td>
                <input type="hidden" name="task_list[<%= idx %>][task_list_controls_attributes][0][id]" class="form-control" value="<%= task_list['task_list_controls'][0]['id'] rescue nil %>">
                <textarea class="form-control" <% if $risk_management_report_user_status == 'approved' %> <%= $input_readonly %> <% end %> name="task_list[<%= idx %>][task_list_controls_attributes][0][title]" rows="2" cols="50"><%= task_list['task_list_controls'][0]['title'] rescue nil %></textarea>
            </td>




            <td align="center">
    
              <%#= render partial: '/share/block_btn_action_all', locals:{ type_name: 'd', model_name: 'task_lists', model_title: nil, id: task_list['id'], params: "original_url=#{request.path}"} %>
            </td>
          </tr>
          <% end %>
          <% end %>

      </table>



    </div>



<% if $risk_management_report_user_status != 'approved' %>
    <%= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
<% end %>
  


    



    <!-- add export -->
    </div>
    </div>
    <!-- end add export -->   





<% end %>  


</div>