/*
*= require base1/plugins/custom/fullcalendar/fullcalendar.bundle.css
*/

.mini-calendar.fc-unthemed .fc-toolbar {
    margin-bottom: 0.5rem!important;
}
.mini-calendar.fc-unthemed .fc-day-grid td:not(.fc-axis) {
    padding: 1px;
}
.mini-calendar.fc-unthemed {
    font-size: 0.8rem;
    line-height: 1rem;
}
.mini-calendar.fc-unthemed .fc-event .fc-content:before, .fc-unthemed .fc-event-dot .fc-content:before {
    left: 2px;
    top: 4px;
}
.mini-calendar.fc-unthemed span.fc-title {
    padding: 2rem 1rem;
    font-size: 0.8rem!important;
}
.mini-calendar.fc-unthemed .fc-event .fc-content, .fc-unthemed .fc-event-dot .fc-content {
    padding: 0.2rem;
}