<%
#init
params[:original_url] = request.path if params[:original_url].blank?


if params[:original_url]
    back_url = params[:original_url]
end


if @datas && !@datas['data'].blank?
    back_url = "/#{@controller_main_url}/plans/#{@datas['data']['plan_id']}"
end

if @datas && !@datas['data'].blank?
    url = URI("#{$server[@controller_title]}/api/v1/categories/#{@datas['data']['category_id']}")
    @catagory = request_api(url,'get',nil)
    back_url = "/#{@controller_main_url}/plans/#{@catagory['data']['plan_id']}"
end
%>

<%= form_for('list', url: "/#{gen_form[0]}/lists#{gen_form[1]}" , method: gen_form[2]) do |f| %>

<%#= @datas['data'] %>

<!--begin::Row-->
<div class="row">

    <!--begin::Col_md_12-->
    <div class="col-md-12">
        <!--begin::Card Card Custom-->
        <div class="card card-custom gutter-b example example-compact">
                <!--begin::Card Header-->
                <div class="card-header">

                <div class="card-title d-flex py-10">
                <div class="d-flex">
                </div></div>

                <!--begin::Card Toolbar-->
                <div class="card-toolbar">
                      <!--begin::Excample Tools-->
                      <div class="example-tools justify-content-center">
                            <span class="example-toggle" data-toggle="tooltip" title="" data-original-title="View code"></span>
                            <span class="example-copy" data-toggle="tooltip" title="" data-original-title="Copy code"></span>
                      </div>
                      <!--end::Excample Tools-->
                      <%= link_to back_url, class: 'btn btn-light bg-white mb-2' do %>
                          <i class="ki ki-bold-arrow-back icon-sm"></i> <%= t(:back) %>
                      <% end %>
                </div>
                <!--end::Card Toolbar-->

                        <div class="col-sm-12 col-md-12 py-4">
                             <label class="form-label">
                                <h5 class="min-w-200px mb-4">ลำดับ</h5>
                            </label>
                            <div class="d-flex">
                                <input type="number" class="w-80px form-control mx-2" placeholder="ลำดับ" name="list[order_sort]" value="<%= @datas['data']['order_sort'] rescue nil %>">
                            </div>
                       </div>

                       <div class="col-sm-12 col-md-12 py-4">
                            <label class="form-label">

                                <h5 class="min-w-200px mb-4">ชื่อกิจกรรมหลัก</h5>
                            </label>
                                 <div class="d-flex">
                                    <textarea class="form-control" name="list[title]" rows="10"><%= @datas['data']['title'] rescue nil %></textarea>
                                </div>
                        </div>




                </div>
                <!--end::Card Header-->
                            







<% if action_name == 'edit' || action_name == 'update' %>




    <!--begin::Card Body-->
    <div class="card-body">
           
   


    
        <!-- start row -->
        <div class="row">



      </div>
        <!-- end row -->




    </div>
    <!--end::Card Body-->





<% end #action_name %>









                                    <!--begin::Card Foolter-->
                                    <div class="card-footer">
                                        <% if !params[:original_url].blank? %>
                                        <%= hidden_field_tag :original_url, params[:original_url] %>
                                        <% end %>

                                        <% if !params[:category_id].blank? %>
                                        <%= f.hidden_field :category_id, value: params[:category_id] %>
                                        <% end %>

                                        <%= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
                                    </div>
                                    <!--end::Card Foolter-->
                            
                      </div>
                      <!--end::Card Card Custom-->

                </div>
                <!--end::Col_md_12-->

            </div>
            <!--end::Row-->




<% end #end form %>
