<style>
    @media print {
       .noprint {
          visibility: hidden;
          display: none;
       }
    }
</style>

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="float-end"> 

                <%= link_to "/#{gen_form[0]}/master_plans/#{params[:id]}", class: 'btn btn-light -sm' do %> 
                  <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
                <% end %>

                <!-- add export -->
                <%= render '/share/block_btn_export', item: @master_plan, title: 'master_plan' %>
                <!-- end add export -->

            </div> 
        </div>

        

    </div>


    <!-- add export -->
    <div id="export_content" class="">
    <div class="landscape_A4_page">
    <!-- end add export -->  



    <div class="text-muted text-end mt-15">แบบฟอร์ม RLPD RM-3</div>
    <h1 class="text-center"> แผนบริหารความเสี่ยงโครงการ</h1>


    <% @datas['data']['plans'].sort_by{|i| i['order_sort'].to_i}.each do |plan| %>
      
        <% plan['categories'].sort_by{|i| i['order_sort'].to_i}.each do |category| %>

            <%
            url = URI("#{$server[@controller_title]}/api/v1/categories/#{category["id"]}/risk_management_reports")
            category_risk_management_reports = request_api(url, "get", nil)
            %>
            <% if category_risk_management_reports && !category_risk_management_reports['data'].blank? %>
            <% category_risk_management_reports['data'].sort_by{|i| i['order_sort'].to_i}.each do |risk_management_report| %>
                <%
                @risk_management_report = nil
                url = URI("#{$server[@controller_title]}/api/v1/risk_management_reports/#{risk_management_report["id"]}")
                @risk_management_report = request_api(url, "get", nil)
                %>
               <% if  @risk_management_report.present? %>
                <%= render "/#{@controller_title}/risk_management_reports/form", risk_management_report: @risk_management_report %>
               <% end %>
            <% end %>
            <% end %>

            
        <% end %>
      
      <!--  <hr style="border-bottom: 3px solid #999999;margin-top: 2rem;margin-bottom: 2rem;"> -->

    <% end # end plan %>

   

    <!-- add export -->
    </div>
    </div>
    <!-- end add export --> 



</div>



