<div class="content flex-row-fluid" id="kt_content">
  <div class="row">


      <% @plans.each do |plan| %>
      <div class="col-4 col-sm-6">
        <div class="card card-custom shadow">
            <div class="card-header py-3">
              <div class="card-title">
                <span class="card-icon">
                  <i class="flaticon2-chat-1 text-primary"></i>
                </span>
                <h3 class="card-label"><%= plan['title'] %>
                <small>sub title</small></h3>
              </div>
              <div class="card-toolbar">
              </div>
            </div>
            <div class="card-body">
              master_plan_id : <%= plan['master_plan_id'] %>
            </div>
            <div class="card-footer d-flex justify-content-end">
              <%= link_to "/#{@controller_title}/plans/#{plan['id']}/edit" , class: "btn btn-sm btn-info" do %>
                <em class="fa fa-edit"></em>
              <% end %>

              <%= link_to "/#{@controller_title}/plans/#{plan['id']}" , class: "btn btn-sm btn-default" do %>
                <em class="fa fa-eye"></em>
              <% end %>

              <%= link_to "/#{@controller_title}/plans/#{plan['id']}", method: :delete, data: { confirm: 'ต้องการลบใช่หรือไม่?' } , class: "btn btn-sm btn-danger" do %>
                <em class="fa fa-trash"></em>
              <% end %>
            </div>
        </div>
      </div>
    <% end %>


  </div>
</div>
