<div class="content flex-row-fluid" id="kt_content">
  <div class="row">


    <div class="col-md-6">

      <div class="card card-custom gutter-b example example-compact">
        <div class="card-header">
            <h3 class="card-title">Create Plan</h3>
            <div class="card-toolbar">
              <div class="example-tools justify-content-center">
                <span class="example-toggle" data-toggle="tooltip" title="" data-original-title="View code"></span>
                <span class="example-copy" data-toggle="tooltip" title="" data-original-title="Copy code"></span>
              </div>
            </div>
          </div>



        <%= form_for('plan', url: "/#{@controller_title}/plans" , method: :post) do |f| %>
          <div class="card-body">

            <div class="form-group">
              <label>Title 
              <span class="text-danger">*</span></label>
              <%= f.text_field :title, class: "form-control", placeholder: t(:title) %>
              <span class="form-text text-muted"></span>
            </div>

            <div class="form-group">
              <label>Description 
              <span class="text-danger">*</span></label>
              <%= f.text_area :description, class: "form-control", placeholder: t(:description) %>
              <span class="form-text text-muted"></span>
            </div>
          </div>


          <div class="card-footer">
            <%= f.submit class: "btn btn-lg btn-primary" %>
          </div>
        <% end %>



      </div>

    </div>




  </div>
</div>
