<%
#init
#check role

%>

<div id="kt_header" class="noprint header align-items-stretch" data-kt-sticky="true" data-kt-sticky-name="header" data-kt-sticky-offset="{default: '200px', lg: '300px'}">
                  <!--begin::Container-->
                  <div class="container-xxl d-flex align-items-center">
                     <!--begin::Heaeder menu toggle-->
                     <div class="d-flex topbar align-items-center d-lg-none ms-n2 me-3" title="Show aside menu">
                        <div class="btn btn-icon btn-active-light-primary btn-custom w-30px h-30px w-md-40px h-md-40px" id="kt_header_menu_mobile_toggle">
                           <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
                           <span class="svg-icon svg-icon-1">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                 <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="black" />
                                 <path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="black" />
                              </svg>
                           </span>
                           <!--end::Svg Icon-->
                        </div>
                     </div>
                     <!--end::Heaeder menu toggle-->
                     <!--begin::Header Logo-->
                     <div class="header-logo me-5 me-md-10 flex-grow-1 flex-lg-grow-0">
                        <a href="<%= root_path %>">
                        <%#= request.host %>
                        <%#= request.domain %>
                        <% if request.host == 'asd.rlpd.go.th' %>
                        <img alt="Logo" src="<%= asset_path("media/logos/logo-demo2-1.png") %>" class="logo-default h-50px" />
                        <img alt="Logo" src="<%= asset_path("media/logos/logo-demo2-sticky-r-1.png") %>" class="logo-sticky h-50px" />
                        <% else %>
                        <img alt="Logo" src="<%= asset_path("media/logos/logo_pmqa_app-03.png") %>" class="logo-default h-50px" />
                        <img alt="Logo" src="<%= asset_path("media/logos/logo_pmqa_app-02.png") %>" class="logo-sticky h-50px" />

                        <% end %>
                        </a>
                     </div>
                     <!--end::Header Logo-->
                     <!--begin::Wrapper-->
                     <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
                        <!--begin::Navbar-->
                        <div class="d-flex align-items-stretch" id="kt_header_nav">
                           <!--begin::Menu wrapper-->
                           <div class="header-menu align-items-stretch" data-kt-drawer="true" data-kt-drawer-name="header-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_header_menu_mobile_toggle" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_body', lg: '#kt_header_nav'}">
                              <!--begin::Menu-->
                              <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch" id="#kt_header_menu" data-kt-menu="true">

                                 <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" class="menu-item  <%= 'here show' if controller_path.split('/').first == 'pmqa' %> menu-lg-down-accordion me-lg-1">
                                    <span class="menu-link py-3">
                                       <span class="menu-title"><%= t(:pmqa_system) %></span>
                                       <span class="menu-arrow d-lg-none"></span>
                                    </span>


                                    <!-- start menu pmqa -->
                                    <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-275pxpx px-4">



                                       

                                       <b><%= t(:organization_development_plan_management) %></b>
                                       
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                           <a href="/pmqa/master_plans">
                                                      <span class="menu-link py-3">
                                                      <span class="menu-icon">
                                                         <span class="menu-bullet">
                                                               <span class="bullet bullet-dot"></span>
                                                            </span>
                                                      </span>
                                                      <span class="menu-title"><%= t(:pmqa_plans) %><%= t(:all) %></span>
                                                </span>
                                             </a>
                                       </div>

                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/pmqa/pages/dashboards">
                                                <span class="menu-link py-3">
                                                <span class="menu-icon">
                                                   <span class="menu-bullet">
                                                         <span class="bullet bullet-dot"></span>
                                                      </span>
                                                </span>
                                                <span class="menu-title"><%= t(:report) %><%= t(:pmqa_plans) %></span>
                                             </span>
                                          </a>
                                       </div>

                                       <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/pmqa/pages/dashboards_overall">
                                                <span class="menu-link py-3">
                                                <span class="menu-icon">
                                                   <span class="menu-bullet">
                                                         <span class="bullet bullet-dot"></span>
                                                      </span>
                                                </span>
                                                <span class="menu-title"><%= t(:summary) %><%= t(:pmqa_plans) %></span>
                                             </span>
                                          </a>
                                       </div>
                                       <% end %>






                                       <b><%= t(:pmqa_fl_management) %></b>

                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                           <a href="/pmqa/pmqa_fl/master_plans">
                                                      <span class="menu-link py-3">
                                                      <span class="menu-icon">
                                                         <span class="menu-bullet">
                                                               <span class="bullet bullet-dot"></span>
                                                            </span>
                                                      </span>
                                                      <span class="menu-title"><%= t(:pmqa_fl) %> <%= t(:all) %></span>
                                                </span>
                                             </a>
                                       </div>


                                       <% if @role_title == 'superadmin_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/pmqa/pages/dashboards_pmqa_fl">
                                                <span class="menu-link py-3">
                                                <span class="menu-icon">
                                                   <span class="menu-bullet">
                                                         <span class="bullet bullet-dot"></span>
                                                      </span>
                                                </span>
                                                <span class="menu-title"><%= t(:report) %><%= t(:pmqa_fl) %></span>
                                             </span>
                                          </a>
                                       </div>
                                       <% end %>





                                       <b><%= t(:pmqa_40_management) %></b>

                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                           <a href="/pmqa/pmqa_fr/master_plans">
                                                      <span class="menu-link py-3">
                                                      <span class="menu-icon">
                                                         <span class="menu-bullet">
                                                               <span class="bullet bullet-dot"></span>
                                                            </span>
                                                      </span>
                                                      <span class="menu-title"><%= t(:pmqa_40) %> <%= t(:all) %></span>
                                                </span>
                                             </a>
                                       </div>


                                       <% if @role_title == 'superadmin_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/pmqa/pages/dashboards_pmqa_fr">
                                                <span class="menu-link py-3">
                                                <span class="menu-icon">
                                                   <span class="menu-bullet">
                                                         <span class="bullet bullet-dot"></span>
                                                      </span>
                                                </span>
                                                <span class="menu-title"><%= t(:report) %><%= t(:pmqa_40) %></span>
                                             </span>
                                          </a>
                                       </div>
                                       <% end %>






                                       <b><%= t(:other) %></b>

                                       <% if @role_title == 'superadmin_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/pmqa/users">
                                                <span class="menu-link py-3">
                                                <span class="menu-icon">
                                                   <span class="menu-bullet">
                                                         <span class="bullet bullet-dot"></span>
                                                      </span>
                                                </span>
                                                <span class="menu-title"><%= t(:user_management) %></span>
                                             </span>
                                          </a>
                                       </div>
                                       <% end %>


                                       <% if @role_title == 'superadmin_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                           <a href="/pmqa/pages/master_data">
                                                      <span class="menu-link py-3">
                                                      <span class="menu-icon">
                                                         <span class="menu-bullet">
                                                               <span class="bullet bullet-dot"></span>
                                                            </span>
                                                      </span>
                                                      <span class="menu-title"><%= t(:basic_data_management) %></span>
                                                </span>
                                             </a>
                                       </div>
                                       <% end %>


                                       <% if @role_title == 'superadmin_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/pmqa/downloads">
                                                     <span class="menu-link py-3">
                                                     <span class="menu-icon">
                                                        <span class="menu-bullet">
                                                              <span class="bullet bullet-dot"></span>
                                                           </span>
                                                     </span>
                                                     <span class="menu-title"><%= t(:download_management) %></span>
                                               </span>
                                            </a>
                                      </div>
                                      <% end %>

                                      <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/pmqa/pages/downloads">
                                                     <span class="menu-link py-3">
                                                     <span class="menu-icon">
                                                        <span class="menu-bullet">
                                                              <span class="bullet bullet-dot"></span>
                                                           </span>
                                                     </span>
                                                     <span class="menu-title"><%= t(:download) %></span>
                                               </span>
                                            </a>
                                      </div>

                                       


                           








                                    </div>
                                     <!-- end menu pmqa -->



                                 </div>


                                 <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" class="menu-item  <%= 'here show' if controller_path.split('/').first == 'kpi' %> menu-lg-down-accordion me-lg-1">
                                    <span class="menu-link py-3">
                                       <span class="menu-title"><%= t(:key_performance_indicator) %></span>
                                       <span class="menu-arrow d-lg-none"></span>
                                    </span>



                                    <!-- start menu kpi -->
                                    <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-275pxpx px-4">


                                       <b><%= t(:kpi_management) %></b>

                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                           <a href="/kpi/master_plans">
                                                      <span class="menu-link py-3">
                                                      <span class="menu-icon">
                                                         <span class="menu-bullet">
                                                               <span class="bullet bullet-dot"></span>
                                                            </span>
                                                      </span>
                                                      <span class="menu-title"><%= t(:kpi) %> <%= t(:all) %></span>
                                                </span>
                                             </a>
                                       </div>

                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/kpi/pages/dashboards">
                                                <span class="menu-link py-3">
                                                <span class="menu-icon">
                                                   <span class="menu-bullet">
                                                         <span class="bullet bullet-dot"></span>
                                                      </span>
                                                </span>
                                                <span class="menu-title"><%= t(:report) %><%= t(:kpi) %></span>
                                             </span>
                                          </a>
                                       </div>


                                       <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/kpi/pages/dashboards_overall">
                                                <span class="menu-link py-3">
                                                <span class="menu-icon">
                                                   <span class="menu-bullet">
                                                         <span class="bullet bullet-dot"></span>
                                                      </span>
                                                </span>
                                                <span class="menu-title"><%= t(:summary) %><%= t(:kpi) %></span>
                                             </span>
                                          </a>
                                       </div>
                                       <% end %>










                                       <b><%= t(:other) %></b>

                                       <% if @role_title == 'superadmin_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/kpi/users">
                                                <span class="menu-link py-3">
                                                <span class="menu-icon">
                                                   <span class="menu-bullet">
                                                         <span class="bullet bullet-dot"></span>
                                                      </span>
                                                </span>
                                                <span class="menu-title"><%= t(:user_management) %></span>
                                             </span>
                                          </a>
                                       </div>
                                       <% end %>

                                       <% if @role_title == 'superadmin_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                           <a href="/kpi/pages/master_data">
                                                      <span class="menu-link py-3">
                                                      <span class="menu-icon">
                                                         <span class="menu-bullet">
                                                               <span class="bullet bullet-dot"></span>
                                                            </span>
                                                      </span>
                                                      <span class="menu-title"><%= t(:basic_data_management) %></span>
                                                </span>
                                             </a>
                                       </div>
                                       <% end %>


                                       <% if @role_title == 'superadmin_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/kpi/downloads">
                                                <span class="menu-link py-3">
                                                <span class="menu-icon">
                                                   <span class="menu-bullet">
                                                         <span class="bullet bullet-dot"></span>
                                                      </span>
                                                </span>
                                                <span class="menu-title"><%= t(:download_management) %></span>
                                             </span>
                                          </a>
                                       </div>
                                       <% end %>

                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/kpi/pages/downloads">
                                                <span class="menu-link py-3">
                                                <span class="menu-icon">
                                                   <span class="menu-bullet">
                                                         <span class="bullet bullet-dot"></span>
                                                      </span>
                                                </span>
                                                <span class="menu-title"><%= t(:download) %></span>
                                             </span>
                                          </a>
                                       </div>


                                       






                                    </div>
                                     <!-- end menu kpi -->




                                 </div>





                                 <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" class="menu-item  <%= 'here show' if controller_path.split('/').first == 'rick' %> menu-lg-down-accordion me-lg-1">
                                    <span class="menu-link py-3">
                                       <span class="menu-title"><%= t(:enterprise_risk_internal_control) %></span>
                                       <span class="menu-arrow d-lg-none"></span>
                                    </span>



                                    <!-- start menu risk -->
                                    <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-275pxpx px-4">


                                       <b><%= t(:internal_control_management) %></b>

                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                           <a href="/risk/control/master_plans">
                                                      <span class="menu-link py-3">
                                                      <span class="menu-icon">
                                                         <span class="menu-bullet">
                                                               <span class="bullet bullet-dot"></span>
                                                            </span>
                                                      </span>
                                                      <span class="menu-title"><%= t(:internal_control) %><%= t(:all) %></span>
                                                </span>
                                             </a>
                                       </div>

                                       <% if @role_title == 'superadmin_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/risk/pages/dashboards">
                                                <span class="menu-link py-3">
                                                <span class="menu-icon">
                                                   <span class="menu-bullet">
                                                         <span class="bullet bullet-dot"></span>
                                                      </span>
                                                </span>
                                                <span class="menu-title"><%= t(:report) %><%= t(:internal_control) %></span>
                                             </span>
                                          </a>
                                       </div>
                                       <% end %>






                                       <b><%= t(:enterprise_risk_management) %></b>

                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                           <a href="/risk/master_plans">
                                                      <span class="menu-link py-3">
                                                      <span class="menu-icon">
                                                         <span class="menu-bullet">
                                                               <span class="bullet bullet-dot"></span>
                                                            </span>
                                                      </span>
                                                      <span class="menu-title"><%= t(:enterprise_risk) %><%= t(:all) %></span>
                                                </span>
                                             </a>
                                       </div>

                                       <% if @role_title == 'superadmin_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/risk/pages/dashboards_risk_report">
                                                <span class="menu-link py-3">
                                                <span class="menu-icon">
                                                   <span class="menu-bullet">
                                                         <span class="bullet bullet-dot"></span>
                                                      </span>
                                                </span>
                                                <span class="menu-title"><%= t(:report) %><%= t(:enterprise_risk) %></span>
                                             </span>
                                          </a>
                                       </div>
                                       <% end %>















                                       <b><%= t(:other) %></b>

                                       <% if @role_title == 'superadmin_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/risk/users">
                                                <span class="menu-link py-3">
                                                <span class="menu-icon">
                                                   <span class="menu-bullet">
                                                         <span class="bullet bullet-dot"></span>
                                                      </span>
                                                </span>
                                                <span class="menu-title"><%= t(:user_management) %></span>
                                             </span>
                                          </a>
                                       </div>
                                       <% end %>

                                       <% if @role_title == 'superadmin_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                           <a href="/risk/pages/master_data">
                                                      <span class="menu-link py-3">
                                                      <span class="menu-icon">
                                                         <span class="menu-bullet">
                                                               <span class="bullet bullet-dot"></span>
                                                            </span>
                                                      </span>
                                                      <span class="menu-title"><%= t(:basic_data_management) %></span>
                                                </span>
                                             </a>
                                       </div>
                                       <% end %>

                                       <% if @role_title == 'superadmin_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/risk/downloads">
                                                     <span class="menu-link py-3">
                                                     <span class="menu-icon">
                                                        <span class="menu-bullet">
                                                              <span class="bullet bullet-dot"></span>
                                                           </span>
                                                     </span>
                                                     <span class="menu-title"><%= t(:download_management) %></span>
                                               </span>
                                            </a>
                                      </div>
                                      <% end %>

                                      <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/risk/pages/downloads">
                                                     <span class="menu-link py-3">
                                                     <span class="menu-icon">
                                                        <span class="menu-bullet">
                                                              <span class="bullet bullet-dot"></span>
                                                           </span>
                                                     </span>
                                                     <span class="menu-title"><%= t(:download) %></span>
                                               </span>
                                            </a>
                                      </div>





                                    </div>
                                     <!-- end menu risk -->










                              </div>




                                 <!-- Start::KM -->
                                 <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" class="menu-item <%= 'here show' if controller_path.split('/').first == 'km' %> menu-lg-down-accordion me-lg-1">
                                    <span class="menu-link py-3">
                                       <span class="menu-title"><%= t(:knowledge_management) %></span>
                                       <span class="menu-arrow d-lg-none"></span>
                                    </span>

                                    <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-275pxpx px-4">


                                       <b><%= t(:knowledge_management) %></b>

                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                           <a href="/km/master_plans">
                                                      <span class="menu-link py-3">
                                                      <span class="menu-icon">
                                                         <span class="menu-bullet">
                                                               <span class="bullet bullet-dot"></span>
                                                            </span>
                                                      </span>
                                                      <span class="menu-title"><%= t(:plan_knowledge) %><%= t(:all) %></span>
                                                </span>
                                             </a>
                                       </div>

                                       <% #if @role_title == 'superadmin_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/km/pages/dashboards">
                                                <span class="menu-link py-3">
                                                <span class="menu-icon">
                                                   <span class="menu-bullet">
                                                         <span class="bullet bullet-dot"></span>
                                                      </span>
                                                </span>
                                                <span class="menu-title"><%= t(:report) %><%= t(:plan_knowledge) %></span>
                                             </span>
                                          </a>
                                       </div>
                                       <% #end %>


                                       <% if @role_title == 'superadmin_role' || @role_title == 'administrator_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/km/pages/dashboards_overall">
                                                <span class="menu-link py-3">
                                                <span class="menu-icon">
                                                   <span class="menu-bullet">
                                                         <span class="bullet bullet-dot"></span>
                                                      </span>
                                                </span>
                                                <span class="menu-title"><%= t(:summary) %><%= t(:plan_knowledge) %></span>
                                             </span>
                                          </a>
                                       </div>
                                       <% end %>







                                       <b><%= t(:other) %></b>

                                       <% if @role_title == 'superadmin_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/km/users">
                                                <span class="menu-link py-3">
                                                <span class="menu-icon">
                                                   <span class="menu-bullet">
                                                         <span class="bullet bullet-dot"></span>
                                                      </span>
                                                </span>
                                                <span class="menu-title"><%= t(:user_management) %></span>
                                             </span>
                                          </a>
                                       </div>
                                       <% end %>

                                       <% if @role_title == 'superadmin_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                           <a href="/km/pages/master_data">
                                                      <span class="menu-link py-3">
                                                      <span class="menu-icon">
                                                         <span class="menu-bullet">
                                                               <span class="bullet bullet-dot"></span>
                                                            </span>
                                                      </span>
                                                      <span class="menu-title"><%= t(:basic_data_management) %></span>
                                                </span>
                                             </a>
                                       </div>
                                       <% end %>

                                       <% if @role_title == 'superadmin_role' %>
                                       <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/km/downloads">
                                                     <span class="menu-link py-3">
                                                     <span class="menu-icon">
                                                        <span class="menu-bullet">
                                                              <span class="bullet bullet-dot"></span>
                                                           </span>
                                                     </span>
                                                     <span class="menu-title"><%= t(:download_management) %></span>
                                               </span>
                                            </a>
                                      </div>
                                      <% end %>

                                      <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/km/pages/downloads">
                                                     <span class="menu-link py-3">
                                                     <span class="menu-icon">
                                                        <span class="menu-bullet">
                                                              <span class="bullet bullet-dot"></span>
                                                           </span>
                                                     </span>
                                                     <span class="menu-title"><%= t(:download) %></span>
                                               </span>
                                            </a>
                                      </div>

                                    </div>


                                 </div>  <!-- end::KM -->

                                 <!-- Start::UserManual -->
                                 <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-lg-1">
                                       <span class="menu-link py-3">
                                       <span class="menu-title"><%= t(:manuals) %></span>
                                       <span class="menu-arrow d-lg-none"></span>
                                       </span>

                                       <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-275pxpx px-4">
                                       <!-- Start Sub PMQA-->
                                       <b><%= t(:pmqa_system) %></b>

                                       <% if @role_title == 'superadmin_role' %>                         
                                          <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                             <a href="/pmqa/user_manuals">
                                                  <span class="menu-link py-3">
                                                      <span class="menu-icon">
                                                         <span class="menu-bullet">
                                                           <span class="bullet bullet-dot"></span>
                                                        </span>
                                                      </span>
                                                         <span class="menu-title"><%= t(:admin_manual_pmqa) %></span>
                                                   </span>
                                             </a>
                                          </div>
                                          <% end %>
                                          
                                          <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/pmqa/pages/download_user_manuals">
                                               <span class="menu-link py-3">
                                                   <span class="menu-icon">
                                                      <span class="menu-bullet">
                                                        <span class="bullet bullet-dot"></span>
                                                     </span>
                                                   </span>
                                                      <span class="menu-title"><%= t(:user_manual_pmqa) %></span>
                                                </span>
                                          </a>
                                       </div>
                                          <!-- End Sub PMQA-->


                                          <!-- Start Sub KPI-->
                                          <b><%= t(:key_performance_indicator) %></b>
                                          <% if @role_title == 'superadmin_role' %>
                                          <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                             <a href="/kpi/user_manuals">
                                                  <span class="menu-link py-3">
                                                      <span class="menu-icon">
                                                         <span class="menu-bullet">
                                                           <span class="bullet bullet-dot"></span>
                                                        </span>
                                                      </span>
                                                         <span class="menu-title"><%= t(:admin_manual_kpi) %></span>
                                                   </span>
                                             </a>
                                          </div>
                                          <% end %>
                                          
                                          <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/kpi/pages/download_user_manuals">
                                               <span class="menu-link py-3">
                                                   <span class="menu-icon">
                                                      <span class="menu-bullet">
                                                        <span class="bullet bullet-dot"></span>
                                                     </span>
                                                   </span>
                                                      <span class="menu-title"><%= t(:user_manual_kpi) %></span>
                                                </span>
                                          </a>
                                       </div>
                                          <!-- End Sub KPI-->


                                          
                                          <!-- Start Sub RISK-->
                                          <b><%= t(:enterprise_risk_management) %></b>
                                          <% if @role_title == 'superadmin_role' %>
                                          <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                             <a href="/risk/user_manuals">
                                                  <span class="menu-link py-3">
                                                      <span class="menu-icon">
                                                         <span class="menu-bullet">
                                                           <span class="bullet bullet-dot"></span>
                                                        </span>
                                                      </span>
                                                         <span class="menu-title"><%= t(:admin_manual_risk) %></span>
                                                   </span>
                                             </a>
                                          </div>
                                          <% end %>
                                          
                                          <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/risk/pages/download_user_manuals">
                                               <span class="menu-link py-3">
                                                   <span class="menu-icon">
                                                      <span class="menu-bullet">
                                                        <span class="bullet bullet-dot"></span>
                                                     </span>
                                                   </span>
                                                      <span class="menu-title"><%= t(:user_manual_risk) %></span>
                                                </span>
                                          </a>
                                       </div>
                                          <!-- End Sub RISK-->

                                          <!-- Start Sub KM-->
                                          <b><%= t(:knowledge_management) %></b>

                                          <% if @role_title == 'superadmin_role' %>
                                          <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                             <a href="/km/user_manuals">
                                                  <span class="menu-link py-3">
                                                      <span class="menu-icon">
                                                         <span class="menu-bullet">
                                                           <span class="bullet bullet-dot"></span>
                                                        </span>
                                                      </span>
                                                         <span class="menu-title"><%= t(:admin_manual_km) %></span>
                                                   </span>
                                             </a>
                                          </div>
                                          <% end %>
                                          
                                          <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start" class="menu-item menu-lg-down-accordion">
                                          <a href="/km/pages/download_user_manuals">
                                               <span class="menu-link py-3">
                                                   <span class="menu-icon">
                                                      <span class="menu-bullet">
                                                        <span class="bullet bullet-dot"></span>
                                                     </span>
                                                   </span>
                                                      <span class="menu-title"><%= t(:user_manual_km) %></span>
                                                </span>
                                          </a>
                                       </div>
                                          <!-- End Sub KM-->


                                       </div>

                                 </div>




                                 <!-- End::UserManual -->

                              </div>
                              <!--end::Menu-->


                                                          


                           </div>
                           <!--end::Menu wrapper-->
                        </div>
                        <!--end::Navbar-->

                        <!--begin::Toolbar wrapper-->

                        <div class="topbar d-flex align-items-stretch flex-shrink-0">




                           <!--begin::User-->
                           <div class="d-flex align-items-center me-n3 ms-1 ms-lg-3" id="kt_header_user_menu_toggle">



                              <% if @set_current_user %>
                              <!--begin::Menu wrapper-->
                              <div class="btn btn-icon btn-active-light-primary btn btn-icon btn-active-light-primary btn-custom w-30px h-30px w-md-40px h-md-40px" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                                 <!--<img class="h-30px w-30px rounded" src="/assets/base2/media/avatars/150-2.jpg" alt="" />-->
                                 <img class="h-30px w-30px rounded" src="<%= asset_path("blank/user.jpg") %>" alt="" />
                              </div>

                              <div class="d-flex flex-column">
                                 <div class="fw-bolder d-flex-row align-items-center fs-6">
                                    <div class=""><%= $user[session.id.to_s][@controller_title]['firstname'] %> <%= $user[session.id.to_s][@controller_title]['lastname'] %></div>
                                    <span class="badge badge-light-success fw-bolder fs-8 px-2 py-1 "><%= @set_current_user['email'] %></span>
                                 </div>
                              </div>

                              <!--begin::User account menu-->
                              <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-primary fw-bold py-4 fs-6 w-275px" data-kt-menu="true">
                                 <!--begin::Menu item-->
                                 <div class="menu-item px-3">
                                    <div class="menu-content d-flex align-items-center px-3">
                                       <!--
                                       <div class="symbol symbol-50px me-5">
                                          <img class="rounded" src="/images/blank/user.jpg" alt="" />
                                       </div>
                                    -->

                                       <!--begin::Username-->
                                       <div class="">
                                          <div class="fw-bolder d-flex align-items-center fs-5"><%= $user[session.id.to_s][@controller_title]['firstname'] rescue nil %> <%= $user[session.id.to_s][@controller_title]['lastname'] rescue nil %>


                                          <div class="d-flex flex-column">
                                             <% if $user[session.id.to_s][@controller_title]['superadmin_role'] == true %>
                                             <span class="badge badge-primary fw-bolder fs-8 px-2 py-1 m-2">
                                                <%= t(:superadmin_role) %>
                                             </span>
                                             <% end %>

                                             <% if $user[session.id.to_s][@controller_title]['administrator_role'] == true %>
                                             <span class="badge badge-info fw-bolder fs-8 px-2 py-1 m-2">
                                                <%= t(:administrator_role) %>
                                             </span>
                                             <% end %>

                                             <% if $user[session.id.to_s][@controller_title]['user_role'] == true %>
                                             <span class="badge badge-success fw-bolder fs-8 px-2 py-1 m-2">
                                                <%= t(:user_role) %>
                                             </span>
                                             <% end %>
                                          </div>

                                       </div>
                                          <a href="#" class="fw-bold text-muted text-hover-primary fs-7"><%= $user[session.id.to_s][@controller_title]['email'] %></a>
                                       </div>
                                       <!--end::Username-->
                                    </div>
                                 </div>
                                 <!--end::Menu item-->
                                 <!--begin::Menu separator-->
                                 <div class="separator my-2"></div>
                                 <!--end::Menu separator-->



                                 <!--
                                 <div class="menu-item px-5">
                                    <a href="../../demo2/dist/account/overview.html" class="menu-link px-5">My Profile</a>
                                 </div>
                                 <div class="separator my-2"></div>
                                 <div class="menu-item px-5 my-1">
                                    <a href="../../demo2/dist/account/settings.html" class="menu-link px-5">Account Settings</a>
                                 </div>
                              -->



                                 <div class="menu-item px-5 py-5">
                                  <% ['th','en'].each do |lang| %>
                                     <a class="btn btn-sm btn-dark <%= 'disabled' if params[:locale] == lang.to_s %> p-1" href="?locale=<%= lang %>"><%= lang.upcase %></a>
                                   <% end %>
                                </div>

                                <!--

                                <div class="menu-item px-5 py-5">
                                    <a class="btn btn-sm btn-default" href="#">คู่มือการใช้งาน</a>
                                </div>
                             -->


                                 <!--begin::Menu item-->
                                 <div class="menu-item px-5 py-5">
                                    <a href="/accounts/sign_out?system_name=<%= @controller_title %>" class="menu-link px-5"><%= t(:sign_out) %></a>
                                 </div>
                                 <!--end::Menu item-->
                                 <!--begin::Menu separator-->
                                 <div class="separator my-2"></div>
                                 <!--end::Menu separator-->
                                 <!--begin::Menu item-->

                                 <!--end::Menu item-->
                              </div>
                              <!--end::User account menu-->
                              <!--end::Menu wrapper-->



                              <% else %>



                              <%= link_to t(:sign_in), "/accounts/sign_in?system_name=#{@controller_title}", class: "btn btn-primary" %>


                              <% end %>







                           </div>
                           <!--end::User -->






                           <!--begin::Aside mobile toggle-->
                           <!--end::Aside mobile toggle-->
                        </div>
                        <!--end::Toolbar wrapper-->
                     </div>
                     <!--end::Wrapper-->
                  </div>
                  <!--end::Container-->
               </div>
