<div class="container-fluid">

    <div class="d-flex justify-content-between">
        <div class="w-75 d-flex">
            <h1><%= t(:downloads) %></h1>
        </div>
    </div>




    <div class="row">
    <% if @downloads && @downloads['data'] %>
    <% @downloads['data'].sort_by{|i| i['order_sort'].to_i}.reverse.each_with_index do |item,idx| %>
     
       <% if !item['file_data'].blank? %>
       
          <%= link_to "#{$server[@controller_title]}/uploads/#{JSON.parse(item['file_data'])['original']['id']}", class: 'm-2 p-5 btn btn-sm btn-light-primary col-sm-4 col-md-3', target: '_blank' do %>
             <i class="fas fa-file-alt"></i> 
                <% if !item['title'].blank? %>
                   <%= item['title'] rescue nil %>
                <% else %>
                   <%= JSON.parse(item['file_data'])['original']['metadata']['filename'] %>
                <% end %>
          <% end %>
       <% end %>
    <% end #end loop %>
    <% end %>

 </div>



</div>
