<div class="container-fluid">

    <div class="d-flex justify-content-between"> 
        <div class="w-75 d-flex">
            <h1><%= t(:basic_data_management) %></h1>
        </div>
    </div>





    <div class="row card-show d-flex">

    <%= link_to "/#{@controller_title}/institutions", class: 'col-sm-6 col-md-3 col-lg-2 btn-lg btn btn-light-primary m-3' do %>
    <div class="d-flex align-items-center">
       <i class="fas fa-database text-success p-2 fs-2"></i>
       <h3 class=""><%= t(:institution) %></h3>
    </div>
 <% end %>

      <%= link_to "/#{@controller_title}/devision_directors", class: 'col-sm-6 col-md-4 col-lg-3 btn-lg btn btn-light-primary m-3' do %>
         <div class="d-flex align-items-center">
            <i class="fas fa-database text-success p-2 fs-2"></i>
            <h3 class=""><%= t(:indicators_keeper) %></h3>
         </div>
      <% end %>

      <%= link_to "/#{@controller_title}/list_types", class: 'col-sm-6 col-md-4 col-lg-3 btn-lg btn btn-light-primary m-3' do %>
         <div class="d-flex align-items-center">
            <i class="fas fa-database text-success p-2 fs-2"></i>
            <h3 class=""><%= t(:indicator_type) %></h3>
         </div>
      <% end %>

      <%= link_to "/#{@controller_title}/activities", class: 'col-sm-6 col-md-4 col-lg-3 btn-lg btn btn-light-primary m-3' do %>
         <div class="d-flex align-items-center">
            <i class="fas fa-database text-success p-2 fs-2"></i>
            <h3 class=""><%= t(:indicator_category) %></h3>
         </div>
      <% end %>


 </div>






</div>