/* tag */
.tag-meeting, 
.fc-unthemed .fc-event.tag-meeting.fc-start .fc-content:before, .fc-unthemed .fc-event-dot.tag-meeting.fc-start .fc-content:before {
  color: #181C32;
  background-color: #FFA800;
}
.tag-delivery-date, 
.fc-unthemed .fc-event.tag-delivery-date.fc-start .fc-content:before, .fc-unthemed .fc-event-dot.tag-delivery-date.fc-start .fc-content:before {
  color: #ff5a52;
  background-color: #ff5a52;
}