

<%
#init
params[:original_url] = request.path if params[:original_url].blank?


if params[:original_url]
    back_url = params[:original_url]
end


if @datas && !@datas['data'].blank?

    back_url = "/#{@controller_main_url}/plans/#{@component_report['data']['plan_report']['id']}" rescue nil
end
%>
<%= form_for('component_report', url: "/#{gen_form[0]}/component_reports#{gen_form[1]}" , method: gen_form[2]) do |f| %>

<!-- add export -->
<div id="export_content" class="">
<div class="landscape_A4_page">
<!-- end add export -->  


<div class="text-muted text-end mt-15"> แบบ ปค. 4</div>
<h1 class="fs-1 text-center">กรมคุ้มครองสิทธิและเสรีภาพ</h1>
<h2 class="fs-2 text-center">รายงานการประเมินองค์ประกอบของการควบคุมภายใน</h2>
<h3 class="fs-3 text-center">สำหรับระยะเวลาดำเนินงานสิ้นสุด <%=  convert_thai_date(@component_report['data']['master_plan']['enddate'], 'default') rescue nil %> </h3>



<table class="table table-bordered my-6">
  <thead>
    <tr class="bg-info">
      <th class="text-white text-center">องค์ประกอบของการควบคุมภายใน</th>
      <th class="text-white text-center">ผลการประเมิน/ข้อสรุป</th>
    </tr>
  </thead>
  <tbody>
  <% @component_report['data']['component_lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |component_list, idx| %>
  
    <tr>
      <td>
        <p><b><%= component_list['component']['title'] %></b></p>
     
            <input type="hidden" name="component_report[component_lists_attributes][<%= idx %>][id]" class="form-control" value="<%= component_list['id'] rescue nil %>">
            <input type="hidden" name="component_report[component_lists_attributes][<%= idx %>][component_report_id]" class="form-control" value="<%= component_list['component_report_id'] rescue nil %>">
            <input type="hidden" name="component_report[component_lists_attributes][<%= idx %>][component_id]" class="form-control" value="<%= component_list['component_id'] rescue nil %>">
        <p> <textarea class="form-control" name="component_report[component_lists_attributes][<%= idx %>][title]" rows="5" cols="50"><%= component_list['title'] rescue nil %></textarea></p>
      </td>
      <td>
          <input type="hidden" name="component_report[component_lists_attributes][<%= idx %>][component_tasks_attributes][<%= idx %>][id]"  class="form-control" value="<%= component_list['component_tasks'][idx]['id'] rescue nil %>">
          <input type="hidden" name="component_report[component_lists_attributes][<%= idx %>][component_tasks_attributes][<%= idx %>][user_id]"  class="form-control" value="<%= component_list['user_id'] rescue nil %>">
          <input type="hidden" name="component_report[component_lists_attributes][<%= idx %>][component_tasks_attributes][<%= idx %>][biz_id]"  class="form-control" value="<%= component_list['biz_id'] rescue nil %>">
          <input type="hidden" name="component_report[component_lists_attributes][<%= idx %>][component_tasks_attributes][<%= idx %>][component_list_id]" class="form-control" value="<%= component_list['id'] rescue nil %>">
  
        <p> <textarea class="form-control" name="component_report[component_lists_attributes][<%= idx %>][component_tasks_attributes][<%= idx %>][title]" rows="7" cols="50"><%=  component_list['component_tasks'][idx]['title'] rescue nil %></textarea></p>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


<p>ผลการประเมินโดยรวม</p>
<p></p>


<div class="d-flex justify-content-end">
  <div class="w-400px text-left">
 

    <div class="py-3">ชื่อ <select class="form-control selectize-user select2" name="component_report[title5]" value="<%= @component_report['data']['title5'] rescue nil %>" <% @user_datas['data'].each do |user_data| %> <% if user_data['firstname'] == @component_report['data']['title5'] %> <option value="<%= @component_report['data']['title5'] rescue nil %>" selected <% else %> <option value="<%= user_data['firstname'] %>" <% end %> ><%= user_data['firstname'] %></option><% end %></select></div>
    <div class="py-3">ตำแหน่ง <input type="text" name="component_report[title6]" class="form-control" value="<%= @component_report['data']['title6'] rescue nil %>"></div>
    
    <div class="py-3">วันที่ <input type="date" class="form-control" name="component_report[approvedate]" value ="<%= @component_report['data']['approvedate'].to_datetime.strftime('%Y-%m-%d') rescue nil %>"/></div>
    
 </div>
</div>

<% if action_name == 'edit' %>
<%= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
<% end %> 

<style type="text/css">
  .table th, .table td {
    border: 1px solid #111!important;
  }
</style>



<!-- add export -->
</div>
</div>
<!-- end add export -->   

 
<% end %>