

<%
#init
params[:original_url] = request.path if params[:original_url].blank?


if params[:original_url]
    back_url = params[:original_url]
end


if @datas && !@datas['data'].blank?

    back_url = "/#{@controller_main_url}/plans/#{@component_report['data']['plan_report']['category']['plan_id']}" rescue nil
end
%>


<!-- add export -->
<div id="export_content" class="">
<div class="landscape_A4_page">
<!-- end add export -->  


<div class="text-muted text-end mt-15"> แบบ ปค. 4</div>
<h1 class="fs-1 text-center">กรมคุ้มครองสิทธิและเสรีภาพ</h1>
<h2 class="fs-2 text-center">รายงานการประเมินองค์ประกอบของการควบคุมภายใน</h2>
<h3 class="fs-3 text-center">สำหรับระยะเวลาดำเนินงานสิ้นสุด......</h3>



<table class="table table-bordered my-6">
  <thead>
    <tr class="bg-info">
      <th class="text-white text-center">องค์ประกอบของการควบคุมภายใน</th>
      <th class="text-white text-center">ผลการประเมิน/ข้อสรุป</th>
    </tr>
  </thead>
  <tbody>
    <% ['1. สภาพแวดล้อมการควบคุม','2. การประเมินความเสี่ยง','3. กิจกรรมการควบคุม','4. สารสนเทศและการสื่อสาร','5.  กิจกรรมการติดตามผล'].each do |item| %>
    <tr>
      <td><%= item %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>


<p>ผลการประเมินโดยรวม</p>
<p></p>


<div class="d-flex justify-content-end">
  <div class="w-400px text-center">
    <div class="py-3">ลายมือชื่อ ......................................</div>
    <div class="py-3">ตำแหน่ง ......................................</div>
    <div class="py-3">วันที่ ........ เดือน ................... พ.ศ. .............</div>
  </div>
</div>

<style type="text/css">
  .table th, .table td {
    border: 1px solid #111!important;
  }
</style>



<!-- add export -->
</div>
</div>
<!-- end add export -->   
