<%
#init
back_url = nil
back_url = params[:original_url] if !params[:original_url].blank?
back_url = "/#{@controller_main_url}/master_plans/#{@component_report['data']['master_plan_id']}" rescue nil
%>


<div class="container-fluid">
  <div class="row noprint">
    <div class="col">
      <div class="float-start">
        <h2 class="card-label">
            <i class="fa-solid fa-circle-chevron-right"></i>
            สร้างหนังสือรายงานการประเมินองค์ประกอบของการควบคุมภายใน
        </h2>
      </div>
    </div>
    <div class="col">
      <div class="float-end">
        <%= link_to back_url, class: 'btn btn-light -sm' do %>
            <i class="fa-solid fa-angle-left"></i> <%= t(:back) %>
        <% end %>

        <!-- add export -->
        <%= render '/share/block_btn_export', item: @plan_report, title: 'plan_report' %>
        <!-- end add export -->
      </div>
    </div>
  </div>


    

<%= render 'form' %>




</div>
