<%= form_for([@location] ,html: { class: "form-horizontal row", role: "form" }) do |f| %>
  <%= render '/share/error', class_name: @location %>

  <div class="form-group col-12 col-md-6">
    <%= f.label :title , t(:title) %>
    <%= f.text_field :title, class: "form-control", placeholder: t(:title) %>
  </div>

  <div class="form-group col-12 col-md-6">
    <%= f.label :image_data , t(:image_data) %>
    <%= f.text_area :image_data, class: "form-control", placeholder: t(:image_data) %>
  </div>

  <div class="form-group col-12 col-md-6">
    <%= f.label :description , t(:description) %>
    <%= f.text_area :description, class: "form-control", placeholder: t(:description) %>
  </div>

  <div class="form-group col-12 col-md-6">
    <%= f.label :lat , t(:lat) %>
    <%= f.text_field :lat, class: "form-control", placeholder: t(:lat) %>
  </div>

  <div class="form-group col-12 col-md-6">
    <%= f.label :lng , t(:lng) %>
    <%= f.text_field :lng, class: "form-control", placeholder: t(:lng) %>
  </div>

  <div class="form-group col-12 col-md-6">
    <%= f.label :slug , t(:slug) %>
    <%= f.text_field :slug, class: "form-control", placeholder: t(:slug) %>
  </div>


  <div class="w-100 border-top mt-4 pt-4 text-center">
    <%= f.submit class: "btn btn-lg btn-primary" %>
    <%= button_tag t(:reset), type: 'reset', class: "btn btn-lg btn-default" %>
  </div>
<% end %>
