<h1><%= t(:locations) %></h1>
<table class="table table-bordered">
  <thead>
    <tr>
            <th><%= t(:title) %></th>
            <th><%= t(:image_data) %></th>
            <th><%= t(:description) %></th>
            <th><%= t(:lat) %></th>
            <th><%= t(:lng) %></th>
            <th><%= t(:slug) %></th>
            <th><%= t(:user_id) %></th>
            <th><%= t(:biz_id) %></th>
          </tr>
  </thead>
  <tbody>
    <% @locations.each do |location| %> 
    <tr>
            <td><%= location.title %></td>
            <td><%= location.image_data %></td>
            <td><%= location.description %></td>
            <td><%= location.lat %></td>
            <td><%= location.lng %></td>
            <td><%= location.slug %></td>
            <td><%= location.user_id %></td>
            <td><%= location.biz_id %></td>
          </tr>
    <% end %>
  </tbody>
</table>
<p>Updated : <%= Time.now.strftime('%Y%m%d-%H%M') %></p>