<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
     <h3 class="card-label">
      <%= t(:show) %> <%= t(:location) %>
    </h3>
  </div>
  <div class="card-toolbar">
    <%= link_to locations_path, class: 'btn btn-light bg-white mb-2' do %>
    <i class="ki ki-bold-arrow-back icon-sm"></i> <%= t(:back) %>
    <% end %>
    <%= link_to edit_location_path(@location), class: 'btn btn-secondary mb-2 ml-2' do %>
    <i class="flaticon2-pen icon-sm"></i> <%= t(:edit) %>
    <% end %>
  </div>
</div>
<div class="card-body">

  <dl class="dl-horizontal">

  	
    	<dt><%= t(:title) %>:</dt>
      <dd><%= @location.title %></dd>
    
    
    	<dt><%= t(:image_data) %>:</dt>
      <dd><%= @location.image_data %></dd>
    
    
    	<dt><%= t(:description) %>:</dt>
      <dd><%= @location.description %></dd>
    
    
    	<dt><%= t(:lat) %>:</dt>
      <dd><%= @location.lat %></dd>
    
    
    	<dt><%= t(:lng) %>:</dt>
      <dd><%= @location.lng %></dd>
    
    
    	<dt><%= t(:slug) %>:</dt>
      <dd><%= @location.slug %></dd>
    
    
    	<dt><%= t(:user_id) %>:</dt>
      <dd><%= @location.user_id %></dd>
    
    
    	<dt><%= t(:biz_id) %>:</dt>
      <dd><%= @location.biz_id %></dd>
    
        <hr class="m-sm">
  </dl>

</div>
</div>
