<%
#init

$task_plan_report_user_status = nil


    @task_plan_report['data']['task_plan_report_users'].each do |task_plan_report_user|
        if task_plan_report_user['user_role']['slug'] == 'approver'  && task_plan_report_user['status'] == 'approved' 

                    $task_plan_report_user_status = task_plan_report_user['status']
                    $radio_readonly = 'disabled'
                    $input_readonly = 'readonly'
                $checkbox_readonly = 'disabled'
        end
    end 

%>






    <%= form_for('task_plan_report', url: "/#{gen_form[0]}/task_plan_reports#{gen_form[1]}" , method: gen_form[2]) do |f| %>


    

    <ul>
      <% @task_plan_report['data']['risk_analysis_report']['plan_report']['category']['category_objectives'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |category_objective, idx| %>
          <li><%=  category_objective['title'] rescue nil %> </li>
      <% end %>
    </ul>

    <div class="-table-responsive py-5">
      <table id="items" class="table table-bordered" style="text-left">
        <thead style="width:auto;text-align:center; background-color: #d9dbff;">
          <tr valign="middle">
            <th>กิจกรรม</th>
            <th>รหัสปัจจัยเสี่ยง</th>
            <th>ปัจจัยเสี่ยง</th>
            <th colspan=4>กลยุทธ์ที่ใช้ </br> (ทำเครื่องหมาย ✔)</th>
            <th>กิจกรรมการควบคุมภายในหรือการจัดการที่มีอยู่ (กรณียังไม่มีให้ระบุว่า “ไม่มี”) </th>
            <th colspan=3>การจัดการที่มีอยู่</br> (ทำเครื่องหมาย ✔)</th>
            <th>การควบคุมที่ควรมี หรือ ปรับปรุง</th>
            <th></th>
          </tr>

          <tr valign="middle">
            <th></th>
            <th></th>
            <th></th>
            <th>ยอมรับความเสี่ยง</th>
            <th>หลีกเลี่ยงความเสี่ยง</th>
            <th>ถ่ายโอนความเสี่ยง</th>
            <th>ควบคุม/ลดความเสี่ยง</th>
            <th></th>
            <th>เพียงพอ</th>
            <th>พอใช้</th>
            <th>ต้องปรับปรุง</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <% if @task_plan_report && !@task_plan_report['data'].blank? %>
        <% @task_plan_report['data']['task_lists'].sort_by{|i| i['order_sort'].to_i}.each_with_index do |task_list,idx| %>
            <%
            url = URI("#{$server[@controller_title]}/api/v1/risk_analysises/#{task_list['risk_analyses_id']}")
            risk_analyses = request_api(url,'get',nil)['data']
            %>


 
          <input type="hidden" name="task_list[<%= idx %>][id]" class="form-control" value="<%= task_list['id'] rescue nil %>">
          <tr valign="top">
            <td>
                <ul style="list-style-type: none">
                    <% risk_analyses['task']['list']['list_activities'].each do |list_activity| %>
                    <h6><%= list_activity['title'] rescue nil %></h6>
                    <span><%= list_activity['description'] rescue nil %></span> 
                    <div><%= get_status_tasks(list_activity['status']) %></div>
                    <% end %>  
                  </ul>  

                
            </td>

            <td>
            
            <%= task_list['list_risk_factor']['list_code']  rescue nil %>

    
            </td>
            
            <td>
            <%= task_list['list_risk_factor']['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %>
            
            </td>

            <td>
                <label class="radio">
                    <input type="hidden" name="task_list[<%= idx %>][risk_accept]" value="false" />
                    <input type="checkbox" <% if $task_plan_report_user_status == 'approved' %> disabled= "<%= $checkbok_readonly %>" <% end %> name="task_list[<%= idx %>][risk_accept]" value="true" <%= "checked".html_safe if task_list['risk_accept'] == true %> />
                    <span></span>
                </label>
            </td>

            <td>
                <label class="radio">
                    <input type="hidden" name="task_list[<%= idx %>][risk_avert]" value="false" />
                    <input type="checkbox" <% if $task_plan_report_user_status == 'approved' %> disabled= "<%= $checkbok_readonly %>" <% end %> name="task_list[<%= idx %>][risk_avert]" value="true" <%= "checked".html_safe if task_list['risk_avert'] == true %> />
                    <span></span>
                </label>
            </td>

            <td>
                <label class="radio">
                    <input type="hidden" name="task_list[<%= idx %>][risk_transfer]" value="false" />
                    <input type="checkbox" <% if $task_plan_report_user_status == 'approved' %> disabled= "<%= $checkbok_readonly %>" <% end %> name="task_list[<%= idx %>][risk_transfer]" value="true" <%= "checked".html_safe if task_list['risk_transfer'] == true %> />
                    <span></span>
                </label>
            </td>

            <td>
                <label class="radio">
                    <input type="hidden" name="task_list[<%= idx %>][risk_control]" value="false" />
                    <input type="checkbox" <% if $task_plan_report_user_status == 'approved' %> disabled= "<%= $checkbok_readonly %>" <% end %> name="task_list[<%= idx %>][risk_control]" value="true" <%= "checked".html_safe if task_list['risk_control'] == true %> />
                    <span></span>
                </label>
            </td>





            <td>
            
            <textarea class="form-control" <% if $task_plan_report_user_status == 'approved' %> <%= $input_readonly %> <% end %> name="task_list[<%= idx %>][title_activity_control]" rows="10" cols="50"><%= task_list['title_activity_control'] rescue nil %></textarea>
            <!--
                <ul style="list-style-type: none">
                    <% if !risk_analyses['task']['list'].blank? %>
                        <% risk_analyses['task']['list']['list_activity_controls'].each do |list_activity_control| %>
                        <li><%= list_activity_control['title'].to_s.gsub(/\n/, '<br/>').html_safe rescue nil %></li>
                        <% end %>
                    <% end %>
                  </ul>
            -->
            </td>





            <td align="center">
                <label class="radio">
                    <input type="radio" <% if $task_plan_report_user_status == 'approved' %> <%= $radio_readonly %> <% end %> name="task_list[<%= idx %>][existing_manage]" value="enough" <%= "checked".html_safe if task_list['existing_manage'] == 'enough' %> />
                    <span></span>
                </label>
            </td>
            <td align="center">
                <label class="radio">
                    <input type="radio" <% if $task_plan_report_user_status == 'approved' %> <%= $radio_readonly %> <% end %> name="task_list[<%= idx %>][existing_manage]" value="fair" <%= "checked".html_safe if task_list['existing_manage'] == 'fair' %> />
                    <span></span>
                </label>
            </td>
            <td align="center">
                <label class="radio">
                    <input type="radio" <% if $task_plan_report_user_status == 'approved' %> <%= $radio_readonly %> <% end %> name="task_list[<%= idx %>][existing_manage]" value="adjust" <%= "checked".html_safe if task_list['existing_manage'] == 'adjust' %> />
                    <span></span>
                </label>
            </td>

            <td>
                <input type="hidden" name="task_list[<%= idx %>][task_list_controls_attributes][0][id]" class="form-control" value="<%= task_list['task_list_controls'][0]['id'] rescue nil %>">
                <textarea class="form-control" <% if $task_plan_report_user_status == 'approved' %> <%= $input_readonly %> <% end %> name="task_list[<%= idx %>][task_list_controls_attributes][0][title]" rows="10" cols="50"><%= task_list['task_list_controls'][0]['title'] rescue nil %></textarea>
            </td>




            <td align="center">
            <%#= render partial: '/share/block_btn_action_all', locals:{ type_name: 'd', model_name: 'task_lists', model_title: nil, id: task_list['id'], params: "original_url=#{request.path}"} %>
            </td>
          </tr>
          <% end %>
          <% end %>

      </table>



    </div>



    <% if $task_plan_report_user_status != 'approved' %> 
    <%= f.submit t(:saves), class: "btn btn-lg btn-primary" %>
    <% end %>



<% end %>  



