<!DOCTYPE html>
<html>
<head>
 <title>Hi</title>

 <%= csrf_meta_tags %>
 <%#= csp_meta_tags %>


 <%= stylesheet_link_tag 'application_react', media: 'all', 'data-turbolinks-track': 'reload' %>
 <%= javascript_include_tag 'application_react' , 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <%= yield %>
</body>

</html>