<!DOCTYPE html>
<html lang="th">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 <meta name="description" content="Task Management Application">
 <meta name="keywords" content="Bee Sys Task Management Application">
 <title><%= get_page_title(@page_title) if @page_title %></title>
 <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/png" />


 <%= stylesheet_link_tag 'application', media: 'all', id: "maincss" %>

 <%= csrf_meta_tags %>

 <%= action_cable_meta_tag %>

</head>

<body id="kt_body" class="<%= controller_name %> <%= action_name %> header-mobile-fixed subheader-enabled aside-enabled aside-fixed aside-secondary-enabled page-loading">


  <!--[html-partial:include:{"file":"partials/_content.html"}]/-->


  <!--begin::Main-->
<div class="d-flex flex-column flex-root">
  <!--begin::Login-->
  <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
    <!--begin::Aside-->
    <div class="login-aside d-flex flex-column flex-row-auto" style="background-color: #3c2f6e;
    background-blend-mode: luminosity;background-image: url('<%= asset_path('sign_in_bg.jpg') %>')">
      <!--begin::Aside Top-->
      <div class="d-flex flex-column-auto flex-column my-auto">
        <!--begin::Aside header-->
        <!--
        <a href="#" class="text-center mb-10">
          <img style="width: 300px;" src="<%= image_path('brands/logo_beesys_text2.svg') %>" class="" alt=""/>
        </a>
        -->
        <!--end::Aside header-->

        <!--begin::Aside title-->
        <h1 class="font-weight-bold text-center text-white mx-5 pt-10" style="font-size: 3rem;">
          ยินดีต้อนรับเข้าสู่ระบบ<br><span class="text-success" style="font-size: 2.4rem;">ระบบบริหารจัดการภาครัฐ</span>
        </h1>
        <p class="text-center text-white"></p>
        <!--end::Aside title-->
      </div>
      <!--end::Aside Top-->

      <!--begin::Aside Bottom-->
      <!--end::Aside Bottom-->
    </div>
    <!--begin::Aside-->

    <!--begin::Content-->
    <div class="w-100 mx-auto">


  <div id="block_notice">
    <div></div>
  </div>
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>



    </div>
    <!--end::Content-->
  </div>
  <!--end::Login-->
</div>
<!--end::Main-->


  <%= javascript_include_tag 'application' %>

  <%#= javascript_include_tag 'trix' %>

  <%#= javascript_include_tag params[:controller] if params[:controller] != "devise/sessions" %>


  <script>
    var KTAppSettings = {
      "breakpoints": {
        "sm": 576,
        "md": 768,
        "lg": 992,
        "xl": 1200,
        "xxl": 1200
      },
      "colors": {
        "theme": {
          "base": {
            "white": "#ffffff",
            "primary": "#1BC5BD",
            "secondary": "#E5EAEE",
            "success": "#1BC5BD",
            "info": "#6993FF",
            "warning": "#FFA800",
            "danger": "#F64E60",
            "light": "#F3F6F9",
            "dark": "#212121"
          },
          "light": {
            "white": "#ffffff",
            "primary": "#1BC5BD",
            "secondary": "#ECF0F3",
            "success": "#C9F7F5",
            "info": "#E1E9FF",
            "warning": "#FFF4DE",
            "danger": "#FFE2E5",
            "light": "#F3F6F9",
            "dark": "#D6D6E0"
          },
          "inverse": {
            "white": "#ffffff",
            "primary": "#ffffff",
            "secondary": "#212121",
            "success": "#ffffff",
            "info": "#ffffff",
            "warning": "#ffffff",
            "danger": "#ffffff",
            "light": "#464E5F",
            "dark": "#ffffff"
          }
        },
        "gray": {
          "gray-100": "#F3F6F9",
          "gray-200": "#ECF0F3",
          "gray-300": "#E5EAEE",
          "gray-400": "#D6D6E0",
          "gray-500": "#B5B5C3",
          "gray-600": "#80808F",
          "gray-700": "#464E5F",
          "gray-800": "#1B283F",
          "gray-900": "#212121"
        }
      },
      "font-family": "Kanit"
    };
  </script>
  <!--end::Global Config-->

</body>

</html>