<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title><%= @title_name %>-<%= rand(100) %></title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css">

	<style type="text/css">

 

		@media all {
			.page-break { display: none; }
		}

		@media print {
			.page-break { display: block; page-break-before: always; }
			.hidden-print, .hidden-print * {display: none !important;}
		}

		div.alwaysbreak { page-break-before: always; }
		div.nobreak:before { clear:both; }
		div.nobreak{ page-break-inside: avoid; }

		body {
			font-family: 'Sarabun', sans-serif!important;
			font-size: 13px;
			line-height: 1.4em;
		}
		.text-center {
			text-align: center;
		}
		table { 
			border-collapse: collapse;
			border-spacing: 0;
			width: 100%;
		}
		.table { 
			width: 100%;
			border: 3px solid #000000;
			padding: 0;
			margin: 0;
		}
		.table > thead > tr > th , .table > thead > tr > td { 
			border: 1px solid #000000;
		}
		.table > tbody > tr > td {
			min-width: 50px!important; 
			border-left: 1px solid #000000;
			border-right: 1px solid #000000;
			border-top: 1px dotted #000000;
			border-bottom: 1px dotted #000000;
		}
		.table > tbody > tr {
		}
		.table > thead > tr > th {
			vertical-align: middle; 
			text-align: center;
		}
		.table,
		.table > thead > tr > th , .table > thead > tr > td ,
		.table > tbody > tr > th , .table > tbody > tr > td {
			padding: 3px 3px;
			margin: 0px;
		}
		.h6 {
			font-size: 1.2em!important;
			line-height: 1.5em;
			margin-top: 0px!important;
			margin-bottom: 10px!important;
		}


		/* ยังไม่ได้กรอกคะแนน */
		.label-record-status-1 {
			background-color: #ffe5e5
		}
		/* คะแนนเท่ากับ 0 */
		.label-record-status-2 {
			background-color: #dddddd
		}
		/* เกินคะแนนเต็ม */
		.label-record-status-3 {
			background-color: #d9d1f1
		}




	</style>

</head>

<body style="background: #ffffff;">
	<%= yield %>
</body>

</html>