<!DOCTYPE html>
<html lang="th">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 <meta name="description" content="Task Management Application">
 <meta name="keywords" content="Bee Sys Task Management Application">
 <title><%= get_page_title(@page_title) %></title>
 <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/png" />

 <link rel="preconnect" href="https://fonts.gstatic.com">
 <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
 <%= stylesheet_link_tag params[:controller] if params[:controller] != "devise/sessions" %>




  <link href="https://unpkg.com/uppy@0.24.4/dist/uppy.min.css" rel="stylesheet" />
  <script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/whatwg-fetch@2.0.3/fetch.js"></script>
  <script src="https://unpkg.com/uppy@0.24.4/dist/uppy.min.js"></script>



  


 <%#= csrf_meta_tags %>
 <%#= action_cable_meta_tag %>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= action_cable_meta_tag %>




<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">



<script type="text/template" id="template-task_attach">
  <%= render partial: "api/v1/task_attaches/task_attach", locals: { task_attach: TaskAttach.new, idx: "{{index}}"} %>
</script>

<%= javascript_include_tag 'base', 'data-turbolinks-track': false  %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= yield :head %>
<%= turbo_include_tags %>
<%#= stimulus_include_tags %>


</head>

<body id="kt_body" class="<%= controller_name %> <%= action_name %> page-loading-enabled page-loading header-mobile-fixed subheader-enabled aside-enabled aside-fixed aside-secondary-enabled page-loading 
  <%= "aside-minimize".html_safe if (controller_name == 'dashboards' ||controller_name == 'boards' || controller_name == 'users' || controller_name == 'devices') %>">

  <%= yield %>

  <script>
    var KTAppSettings = {
      "breakpoints": {
        "sm": 576,
        "md": 768,
        "lg": 992,
        "xl": 1200,
        "xxl": 1200
      },
      "colors": {
        "theme": {
          "base": {
            "white": "#ffffff",
            "primary": "#103079",
            "secondary": "#60ccd3",
            "success": "#1BC5BD",
            "info": "#6993FF",
            "warning": "#FFA800",
            "danger": "#F64E60",
            "light": "#F3F6F9",
            "dark": "#212121"
          },
          "light": {
            "white": "#ffffff",
            "primary": "#103079",
            "secondary": "#60ccd3",
            "success": "#C9F7F5",
            "info": "#E1E9FF",
            "warning": "#FFF4DE",
            "danger": "#FFE2E5",
            "light": "#F3F6F9",
            "dark": "#D6D6E0"
          },
          "inverse": {
            "white": "#ffffff",
            "primary": "#ffffff",
            "secondary": "#212121",
            "success": "#ffffff",
            "info": "#ffffff",
            "warning": "#ffffff",
            "danger": "#ffffff",
            "light": "#464E5F",
            "dark": "#ffffff"
          }
        },
        "gray": {
          "gray-100": "#F3F6F9",
          "gray-200": "#ECF0F3",
          "gray-300": "#E5EAEE",
          "gray-400": "#D6D6E0",
          "gray-500": "#B5B5C3",
          "gray-600": "#80808F",
          "gray-700": "#464E5F",
          "gray-800": "#1B283F",
          "gray-900": "#212121"
        }
      },
      //"font-family": "Kanit"
    };
  </script>
  <!--end::Global Config-->


  <%#= javascript_include_tag 'application', 'data-turbolinks-eval' => false %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <%#= javascript_include_tag 'application' %>

  <%= javascript_include_tag params[:controller], 'data-turbolinks-track': true if params[:controller] != "devise/sessions" %>

  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>




</body>

</html>