<div class="container-fluid p-0">


	<div class="bg-body rounded p-10 mx-auto mt-15">
	<%= form_for('account', url: "/accounts/create_session" , method: :post) do |f| %>
	<!--begin::Form-->
	<form class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate" id="kt_sign_in_form" data-kt-redirect-url="" action="#">
		<!--begin::Heading-->
		<div class="text-center mb-10">
			<!--begin::Title-->
			<h1 class="text-dark mb-3">กรุณาเลือกระบบที่ต้องการ</h1>
			<!--end::Title-->
			<!--begin::Link-->
			<div class="text-gray-800 fw-bold fs-3">และกรอกข้อมูลเพื่อเข้าสู่ระบบ</div>
			<!--end::Link-->
		</div>
		<!--begin::Heading-->



		<% if params[:system_name] == 'km' || params[:system_name] == 'pmqa' || params[:system_name] == 'kpi' || params[:system_name] == 'risk' %>



		<% if params[:system_name] == 'km' && $user && $user[session.id.to_s] && $user[session.id.to_s]['km'] %>
			<script type="text/javascript">window.location.href = "/km/master_plans";</script>
		<% elsif params[:system_name] == 'pmqa' && $user && $user[session.id.to_s] && $user[session.id.to_s]['pmqa'] %>
			<script type="text/javascript">window.location.href = "/pmqa/master_plans";</script>
		<% elsif params[:system_name] == 'kpi' && $user && $user[session.id.to_s] && $user[session.id.to_s]['kpi'] %>
			<script type="text/javascript">window.location.href = "/kpi/master_plans";</script>
		<% elsif params[:system_name] == 'risk' && $user && $user[session.id.to_s] && $user[session.id.to_s]['risk'] %>
			<script type="text/javascript">window.location.href = "/risk/master_plans";</script>
		<% end %>


		<!--begin::Input group-->
		<div class="fv-row mb-10 fv-plugins-icon-container">
			<!--begin::Label-->
			<label class="form-label fs-6 fw-bolder text-dark">Username</label>
			<!--end::Label-->
			<!--begin::Input-->
			<%= f.text_field :email, class: "form-control", placeholder: t(:user_name) %>
			<!--end::Input-->
		<div class="fv-plugins-message-container invalid-feedback"></div></div>
		<!--end::Input group-->
		<!--begin::Input group-->
		<div class="fv-row mb-10 fv-plugins-icon-container">
			<!--begin::Wrapper-->
			<div class="d-flex flex-stack mb-2">
				<!--begin::Label-->
				<label class="form-label fw-bolder text-dark fs-6 mb-0">Password</label>
				<!--end::Label-->
				<!--begin::Link-->
				
				<!--end::Link-->
			</div>
			<!--end::Wrapper-->
			<!--begin::Input-->
			<%= f.password_field :password, autocomplete: "off" , class: "form-control" , placeholder: t(:password)  %>
			<%= f.hidden_field 'system_name', value: params[:system_name] %>
			<!--end::Input-->
		<div class="fv-plugins-message-container invalid-feedback"></div>
	</div>
		<!--end::Input group-->
		<!--begin::Actions-->
		<div class="text-center">
			<!--begin::Submit button-->

			<button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-info w-100 mb-5">
				<span class="indicator-label"><%= t(:sign_in) %></span>
				<span class="indicator-progress">Please wait...
				<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
			</button>
			<%= link_to t(:back), "/accounts/sign_in", class: "btn btn-lg btn-light w-100 mb-5" %>
			

			
		</div>
		<!--end::Actions-->





		<% else %>

		<!--begin:Content-->
		<div class="row align-items-center justify-content-center">






			<!--begin::Box 3-->
			<div class="col-lg-6">

				<a href="/accounts/sign_in?system_name=km" class="card card-xxl-stretch bg-primary">
					<!--begin::Body-->
					<div class="card-body d-flex flex-column justify-content-between">
						<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
						<span class="svg-icon svg-icon-white svg-icon-2hx ms-n1 flex-grow-1">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<rect x="2" y="2" width="9" height="9" rx="2" fill="black"></rect>
								<rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black"></rect>
								<rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black"></rect>
								<rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black"></rect>
							</svg>
						</span>
						<!--end::Svg Icon-->
						<div class="d-flex flex-column">
							<div class="text-white fw-bold fs-6 mb-0 mt-5">ระบบ</div>
							<div class="text-white fw-bolder fs-1">การจัดการความรู้ <br>(KM)</div>
						</div>
					</div>
					<!--end::Body-->
				</a>




			</div> 
			<!--end::Box 3-->




			<!--begin::Box 3-->
			<div class="col-lg-6">




				<a href="/accounts/sign_in?system_name=pmqa" class="card card-xxl-stretch bg-info">
					<!--begin::Body-->
					<div class="card-body d-flex flex-column justify-content-between">
						<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
						<span class="svg-icon svg-icon-white svg-icon-2hx ms-n1 flex-grow-1">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<rect x="2" y="2" width="9" height="9" rx="2" fill="black"></rect>
								<rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black"></rect>
								<rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black"></rect>
								<rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black"></rect>
							</svg>
						</span>
						<!--end::Svg Icon-->
						<div class="d-flex flex-column">
							<div class="text-white fw-bold fs-6 mb-0 mt-5">ระบบ</div>
							<div class="text-white fw-bolder fs-1">บริหารจัดการภาครัฐ <br>(PMQA)</div>

						</div>
					</div>
					<!--end::Body-->
				</a>




			</div> 
			<!--end::Box 3-->




			<!--begin::Box 3-->
			<div class="col-lg-6">



				<a href="/accounts/sign_in?system_name=kpi" class="card card-xxl-stretch bg-success">
					<!--begin::Body-->
					<div class="card-body d-flex flex-column justify-content-between">
						<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
						<span class="svg-icon svg-icon-white svg-icon-2hx ms-n1 flex-grow-1">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<rect x="2" y="2" width="9" height="9" rx="2" fill="black"></rect>
								<rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black"></rect>
								<rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black"></rect>
								<rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black"></rect>
							</svg>
						</span>
						<!--end::Svg Icon-->
						<div class="d-flex flex-column">
							<div class="text-white fw-bold fs-6 mb-0 mt-5">ระบบ</div>
							<div class="text-white fw-bolder fs-1">ตัวชี้วัดการปฎิบัติราชการ <br>(KPI)</div>

						</div>
					</div>
					<!--end::Body-->
				</a>




			</div> 
			<!--end::Box 3-->



			<!--begin::Box 3-->
			<div class="col-lg-6">




				<a href="/accounts/sign_in?system_name=risk" class="card card-xxl-stretch bg-warning">
					<!--begin::Body-->
					<div class="card-body d-flex flex-column justify-content-between">
						<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
						<span class="svg-icon svg-icon-white svg-icon-2hx ms-n1 flex-grow-1">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<rect x="2" y="2" width="9" height="9" rx="2" fill="black"></rect>
								<rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black"></rect>
								<rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black"></rect>
								<rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black"></rect>
							</svg>
						</span>
						<!--end::Svg Icon-->
						<div class="d-flex flex-column">
							<div class="text-white fw-bold fs-6 mb-0 mt-5">ระบบ</div>
							<div class="text-white fw-bolder fs-1">ประเมินความเสี่ยง/<br>ควบคุมภายใน</div>
						</div>
					</div>
					<!--end::Body-->
				</a>




			</div> 
			<!--end::Box 3-->






		</div> 
		<% end %>




	<div></div></form>
	<!--end::Form-->
</div>
<% end %>
</div>



