<div class="container-fluid">

	<div class="row">
		<div class="col"></div>
		<div class="col"> Welcome to RLPD  APPLICATION</div>
		<div class="col"></div>
	</div>
	</p>

	<div class="row">
		<div class="col"></div>
		<div class="col"> <h2>sign in</h2> </div>
		<div class="col"></div>
	</div>
	</p>

	<%= form_for('account', url: "/accounts/create_session" , method: :post) do |f| %>
		<%#= render '/share/error' %>

	<div class="row">
		<div class="col"></div>
		<div class="col"> <%= f.text_field :email, class: "form-control", placeholder: t(:email) %> </div>
		<div class="col"></div>
	</div>
	</p>

	<div class="row">
		<div class="col"></div>
		<div class="col"> <%= f.text_field :password, class: "form-control", placeholder: t(:password) %> </div>
		<div class="col"></div>
	</div>
	</p>

	<div class="row">
		<div class="col"></div>
		<div class="col"> <%= f.submit class: "btn btn-lg btn-warning" %> </div>
		<div class="col"> </div>
	</div>

	
				
	<% end %>
	
</div>


