<div class="container-fluid">
      <!--begin::Header-->
        <div class="row">
            <div class="col"> 
                  <div class="float-start">
                        <h2 class="card-label"> 
                              <i class="fa-solid fa-circle-chevron-right"></i> <%= t(:edit) %><%= t(:user) %>
                        </h2> 
                  </div>
            <div class="col">
              <div class="float-end">  
                  <%= link_to "/#{@controller_title}/users", class: 'btn btn-light -sm' do %>
                        <i class="fa-solid fa-angle-left"></i></i> <%= t(:back) %>
                  <% end %>
              </div> 
            </div>
       </div>
      <!--end:Header-->
      <!--begin:Content-->
       <div class="row">
            <div class="col">
                   <div class="card-show">
                        <%= form_for('user', url: "/#{@controller_title}/users/#{@datas['data']['id']}" , method: :patch) do |f| %>
                        <div class="row">                                                                      
                              <div class="col-xs-12 col-md-6 my-3 fs-4">
                                    <label for="formGroupExampleInput"class="form-label"><h5><%= t(:firstname) %> - <%= t(:lastname) %></h5></label>
                                    <span class="px-3 mb-2 d-inline-block"><%= @datas['data']['firstname'] rescue nil %> <%= @datas['data']['lastname'] rescue nil %></span>
                              </div>
                              <div class="col-xs-12 col-md-6 my-3 fs-4">
                                    <label for="formGroupExampleInput"class="form-label"><h5><%= t(:email) %> </h5></label>
                                    <input type="email" class="form-control mx-2" placeholder="<%= t(:email) %>" name="user[email]" value="<%= @datas['data']['email'] rescue nil %>" />
                                   
                              </div>

                              </div>
                            
                              <div class="row">                                                                      
                              <div class="col-xs-12 col-md-6 my-3 fs-4">
                                          <label for="formGroupExampleInput" class="form-label"> <h5><span class="text-danger"></span>ลายเซ็น</h5></label>
        

                                          <input id="photo-upload-result-1" type="hidden" name="user[file_data]">

                                          <input  accept="image/jpeg,image/jpg,image/png,image/gif,application/pdf,application/powerpoint,application/vnd.ms-powerpoint,application/vnd.ms-office,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/x-zip,application/zip,application/x-zip-compressed,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-rar,application/rar,application/x-rar-compressed,application/force-download,application/octet-stream,application/x-7z-compressed" data-upload-server="" data-preview-element="preview-photo-1" data-upload-result-element="photo-upload-result-1" id="input-task_attachment_items_row-1" class="" type="file" maxsize = 15MB >
                              
                                          <div class="d-block mb-2">
                                         
                                              <img id="preview-photo-1" class="img-thumbnail" src="<%= "#{$server[@controller_title]}#{@datas['data']['file_url_original']}" rescue nil %>" />
                 
                                          </div>
                              
                                          <script type="text/javascript">
                                              function normal_fileUpload(fileInput) {
                                                  var imagePreview = document.getElementById(fileInput.dataset.previewElement)
                              
                                                  fileInput.style.display = 'none'
                              
                                                  var uppy = Uppy.Core({
                                                      id: fileInput.id,
                                                      restrictions: {
                                                        allowedFileTypes: fileInput.accept.split(','),
                                                      }
                                                    })
                                                    .use(Uppy.FileInput, {
                                                      target: fileInput.parentNode,
                                                    })
                                                    .use(Uppy.Informer, {
                                                      target: fileInput.parentNode,
                                                    })
                                                    .use(Uppy.ProgressBar, {
                                                      target: imagePreview.parentNode,
                                                    })
                              
                                                  
                              
                                                  uppy.use(Uppy.XHRUpload, {
                                                      endpoint: '<%= $server[@controller_title] %>/upload', // Shrine's upload endpoint
                                                      fieldName: 'file',
                                                    })
                              
                              
                              
                                                  uppy.run()
                              
                                                  uppy.on('upload-success', function (file, data, uploadURL) {
                                                    // show image preview
                                                    imagePreview.src = URL.createObjectURL(file.data)
                                                    imagePreview.href = URL.createObjectURL(file.data) 
                                                    imagePreview.style = 'display: block;'
                                                    $('#' +imagePreview.id + '-title').val(file.name)
                                                    $('#task_attach_btn_save').css('display', 'block');
                                                    
                              
                                                    var uploadedFileData = JSON.stringify(data)
                              
                                                    var hiddenInput = document.getElementById(fileInput.dataset.uploadResultElement)
                                                    hiddenInput.value = uploadedFileData
                                                  })
                              
                                                  return uppy
                                                }
                              
                              
                              
                                             //for Button Choose upload image
                                             fileInput = document.querySelector('#input-task_attachment_items_row-1');
                                             normal_fileUpload(fileInput);
                                          </script>



                                          </div>
                                    </div>
                              </div>




                              <% if @role_title == 'superadmin_role' %>
                              <div class="col-xs-12 col-md-6 my-3 fs-4">
                                    <label for="formGroupExampleInput2" class="form-label"><h5><%= t(:role) %></h5></label>

                                    <div class="d-flex">
                                          <div class="mx-3">
                                              <label class="radio">
                                                  <input type="hidden" name="user[superadmin_role]" value="false" />
                                                  <input type="checkbox" name="user[superadmin_role]" value="true" <%= "checked".html_safe if @datas['data']['superadmin_role'] == true %> />
                                                  <span><%= t(:superadmin_role) %></span> 
                                              </label>
                                          </div>

                                          <div class="mx-3">
                                              <label class="radio">
                                                  <input type="hidden" name="user[administrator_role]" value="false" />
                                                  <input type="checkbox" name="user[administrator_role]" value="true" <%= "checked".html_safe if @datas['data']['administrator_role'] == true %> />
                                                  <span><%= t(:administrator_role) %></span> 
                                              </label>
                                          </div>

                                          <div class="mx-3">
                                              <label class="radio">
                                                  <input type="hidden" name="user[user_role]" value="false" />
                                                  <input type="checkbox" name="user[user_role]" value="true" <%= "checked".html_safe if @datas['data']['user_role'] == true %> />
                                                  <span><%= t(:user_role) %></span> 
                                              </label>
                                          </div>
                                    </div>
                               </div>
                               <% end %>




                              <div class="col-xs-12 col-md-6 my-3 fs-4">
                                    <label for="" class="form-label"> <h5><%= t(:agency) %></h5></label>
                                    <%= select_tag("user[institution_id]", options_for_select(@institution_datas['data'].map { |item| [item['title'], item['id']] }, (@datas['data']['institution']['id'] rescue nil)), {class: 'selectize-institution form-control', required: "required"}) %>
                              </div>



                              <% if @role_title == 'superadmin_role' %>
                              <div class="col-xs-12 col-md-6 my-3 fs-4">
                                    <label for="" class="form-label"> <h5><%= t(:enable) %></h5></label>
                                    <label class="radio">
                                        <input type="hidden" name="user[is_active]" value="false" />
                                        <input type="checkbox" name="user[is_active]" value="true" <%= "checked".html_safe if @datas['data']['is_active'] == true %> />
                                        <span><%#= t(:is_active) %></span> 
                                    </label>

                              </div> 
                              <div class="col-xs-12 col-md-6 my-3 fs-4">
                                    <label for="" class="form-label"> <h5><%= t(:login) %></h5></label>
                                    <label class="radio">
                                        <input type="hidden" name="user[registration_role]" value="false" />
                                        <input type="checkbox" name="user[registration_role]" value="true" <%= "checked".html_safe if @datas['data']['registration_role'] == true %> />
                                        <span><%#= t(:is_active) %></span> 
                                    </label>

                              </div> 
                              <% end %>




                              <!--end::content-details-->
                              <div class="col-xs-12 mt-5 mb-5">
                                    <div class="float-xxl-end float-xl-end float-lg-end  float-md-end float-sm-none"><%= f.submit t(:saves), class: "btn btn-info" %></div>
                              </div> 
                        </div>


                   <% end %>
                   </div>
            </div>
      </div>
      <!--end:Content-->
</div>