<!--begin::Kt_conten-->
<div class="content flex-row-fluid" id="kt_content">
      <!--begin::Row-->
      <div class="row">
            <!--begin::Col_12-->
            <div class="col-12">

                        <!--begin::Card_card_custom-->
                        <div class="card card-custom gutter-b">

                              <!--begin::Card-Header-->
                              <div class="card-header">
                                    <!--begin::Card-Title-->
                                    <div class="card-title">
                                          <h3 class="card-label">
                                                  <%= t(:show) %> <%= t(:kpi) %>
                                          </h3>
                                   
                                    </div>
                                    <!--end::Card-Title-->
                                   
                                    <!-- begin::Card-Toolbar -->
                                    <div class="card-toolbar">

                                    </div>
                                    <!-- end::Card-Toolbar -->
                                 
                              </div>
                              <!--end::Card-Header-->

                              <!--begin::Card-Body-->
                              <div class="card-body">
                              
                                        <table class="table table-borderless">
                                            <thead>
                                                  <tr>

                                                      <th></th>
                                    
                                                      <th></th>
                                                  </tr>
                                            </thead>
                                            <tbody>
                                                <% @datas['data'].each do |item| %>
                                                    <tr>

                                                          <td><b><%= t(:firstname)%> : </b><%= item['firstname'] %> <%= item['lastname'] %> </td>
                                                          <td><%= t(:firstname)%> : </b><%= item['firstname'] %> <%= item['lastname'] %> </td>
                                                          <td><b><%= t(:role) %> : </b><% if ( item['superadmin_role'] == true) %> <%= t(:superadmin_role)%> <% end %>
                                                              <% if ( item['administrator_role'] == true) %> <%= t(:administrator_role)%> <% end %> 
                                                              <% if ( item['director_role'] == true) %> <%= t(:director_role)%> <% end %> 
                                                              <% if ( item['deputy_director_role'] == true) %> <%= t(:deputy_director_role) %> <% end %>
                                                              <% if ( item['department_head_role'] == true) %> <%= t(:department_head_role) %> <% end %>
                                                              <% if ( item['user_role'] == true ) %> <%= t(:user_role) %> <% end %> 
                                                          </td>
                                                          <td><b> <%= t(:email) %> : </b><%= item['email'] %></td>
                                                          <td><b> <%= t(:created_at)%> : </b><%= convert_thai_date(item['created_at'],'default') %></td>
                                                          <td><b> <%= t(:last_sign_in_at)%> : </b><%= item['last_sign_in_at'] %></td>

                                                
                                                          <td>
                                                              <%= link_to  "/#{@controller_title}/users/#{item['id']}" , class: "btn btn-sm btn-clean btn-icon mr-2" do %>

                                                                <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-01-27-044720/theme/html/demo2/dist/../src/media/svg/icons/General/Visible.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                  <rect x="0" y="0" width="24" height="24"/>
                                                                  <path d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                                                  <path d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z" fill="#000000" opacity="0.3"/>
                                                                </g>
                                                                </svg>
                                                              <% end %>
        
                                                              <%= link_to "/#{@controller_title}/users/#{item['id']}", method: :delete, data: { confirm: 'ต้องการลบใช่หรือไม่?' } , class: "btn btn-sm btn-clean btn-icon" do %>
                                                              <span class="svg-icon svg-icon-md">
                                                                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">\
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <rect x="0" y="0" width="24" height="24"/>
                                                                        <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"/>
                                                                        <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"/>
                                                                     </g>
                                                                  </svg>
                                                              </span>
                                                              <% end %>
                                                              <%= link_to :edit, "/#{@controller_title}/users/#{item['id']}"+"/edit", class: 'btn btn-warning btn-sm mb-1' %>
                                                          </td>
     
                                                    </tr>
                                                  <% end %>
                                            </tbody>   
                                        </table>
                                </div>
                                <!--end::Card-Body-->

                          </div>
                          <!--end::Card_card_custom-->
            </div>
            <!--end::Col_12-->
        </div>
        <!--end::Row-->
</div>
<!-- end::Kt_conten -->